<template>
  <v-expand-transition>
    <v-row>
      <v-col v-once cols="12" md="4">
        <BaseFeatureTitle
          title="Multi Factor Authentication (MFA)"
          :subtitle="`Increase your account's security by enabling two-factor authentication (2FA).`"
        />
      </v-col>

      <v-col cols="12" md="8">
        <v-card color="white" elevation="2" height="100%">
          <v-card-text class="py-6">
            <v-scroll-y-transition hide-on-leave>
              <Notification />
            </v-scroll-y-transition>

            <div style="width: 80%">
              <h3
                :class="`${
                  mfa.isActive ? 'success' : 'error'
                }--text subtitle-1 font-weight-bold  d-block mb-4`"
              >
                MFA is {{ mfa.isActive ? 'Enable' : 'Disabled' }}
              </h3>

              <span v-once class="d-block">
                Multi Factor Authentication (MFA) adds another layer of security
                when you log in by inputting a TOTP (Time-based One Time
                Passcode) after you input your email and password. Activate it
                now to prevent major security risks on your account.
              </span>
            </div>

            <div class="mt-6">
              <v-fade-transition hide-on-leave>
                <v-btn
                  v-if="!mfa.base64QRCode"
                  :loading="isLoading || isLoadingGenerateQR"
                  :outlined="mfa.isActive"
                  :color="mfa.isActive ? 'secondary' : 'primary'"
                  @click="toggleMFAActivation"
                >
                  {{ mfa.isActive ? 'Disable MFA' : 'Generate QR Code' }}
                </v-btn>
              </v-fade-transition>

              <v-fade-transition hide-on-leave>
                <div v-if="!mfa.isActive && mfa.base64QRCode">
                  <div v-once class="mb-8">
                    <span class="font-weight-bold d-block mb-2">
                      Configure MFA
                    </span>

                    <ol>
                      <li>
                        Download <b>Google Authenticator</b> or <b>Authy</b> app
                        on Android or iOS;
                      </li>

                      <li>
                        In the app, select the <v-icon>mdi-plus</v-icon> icon;
                      </li>

                      <li>
                        Select
                        <b>"Scan QR Code"</b>, and use your phone camera to scan
                        the code below;
                      </li>

                      <li>
                        Input the token form the app to activate MFA for your
                        account.
                      </li>
                    </ol>
                  </div>

                  <div class="d-flex flex-column align-start flex-sm-row">
                    <NuxtImg
                      :src="mfa.base64QRCode"
                      preload
                      alt="QR Code for MFA"
                      loading="lazy"
                      class="d-block"
                    />

                    <div
                      class="ml-sm-6 mt-6 mt-sm-0 pa-4 rounded-lg"
                      style="border: thin #1961e4 solid"
                    >
                      <h4 class="font-weight-bold mb-2">
                        Can't scan the code?
                      </h4>

                      <p class="mb-2">
                        To add the entry manually, provide the following details
                        to the application on your phone.
                      </p>

                      <div v-if="parsedOTPAuthURL">
                        <p>
                          <span>Account: {{ parsedOTPAuthURL.account }}</span>
                          <br />
                          <span>
                            Secret key: {{ parsedOTPAuthURL.secret }}</span
                          >
                          <br />
                          <span> Issuer: {{ parsedOTPAuthURL.issuer }}</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="mt-8 d-flex align-center">
                    <div class="mr-4" style="max-width: 300px">
                      <v-otp-input
                        v-model="formMFA"
                        autofocus
                        :disabled="isLoading"
                        class="otp rounded-lg"
                        @finish="onSubmit"
                      />
                    </div>

                    <v-tooltip v-if="isClipboardGranted" top color="primary">
                      <template #activator="{ on, attrs }">
                        <v-btn
                          v-bind="attrs"
                          :loading="isLoading"
                          large
                          color="primary"
                          v-on="on"
                          @click="doPasteClipboard"
                        >
                          <v-icon>mdi-content-paste</v-icon>
                        </v-btn>
                      </template>

                      <span>Paste</span>
                    </v-tooltip>
                  </div>
                </div>
              </v-fade-transition>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-expand-transition>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  useFetch,
} from '@nuxtjs/composition-api'
import { storeToRefs } from 'pinia'

// components - start
import Notification from '@/components/base/Notification.vue'
// components - end

// store - start
import { useMFAStore } from '@/store/clients/profiles/mfa'
// store - end

// composables - start
import { useFetchEngine } from '~/composables/base/fetch-engine'
import { useClipboard } from '~/composables/base/navigator-api/clipboard'
import { useParsedOTPAuthURL } from '~/composables/clients/profiles/mfa'
// composables - end

export default defineComponent({
  name: 'ManageMFA',
  components: { Notification },
  setup(_props, setupContext) {
    // manage qrcode - start
    const mfaStore = useMFAStore()
    const { generateMFAAPI, verifyMFAAPI, disableMFAAPI, getMFAStatusAPI } =
      mfaStore
    const { mfa } = storeToRefs(mfaStore)
    const parsedOTPAuthURL = computed(() => {
      const url = mfa.value.otpAuthURL
      if (!url) return null

      return useParsedOTPAuthURL(url)
    })
    // for generate the qr code or disabled the MFA
    const toggleMFAActivation = async () => {
      // if the mfa have been active it will disable, otherwise it will generate a qr code.
      const handleToggleFn = mfa.value.isActive ? disableMFAAPI : generateMFAAPI
      const handleLoadingFn = mfa.value.isActive
        ? toggleLoading.fetch
        : toggleLoading.generate
      await useFetchEngine(setupContext, handleToggleFn, {
        customLoadingFn: handleLoadingFn,
        successSubmissionFn: async () => {
          if (!mfa.value.isActive) return

          await getMFAStatusAPI()
        },
      })
    }
    const manageQRCode = {
      mfa,
      parsedOTPAuthURL,
      toggleMFAActivation,
    }
    // manage qrcode - end

    // manage form - start
    const formMFA = ref('')
    const onSubmit = async () => {
      const handleSubmitFn = async () =>
        await verifyMFAAPI({ token: formMFA.value })
      await useFetchEngine(setupContext, handleSubmitFn, {
        customLoadingFn: toggleLoading.fetch,
        successSubmissionFn: getMFAStatusAPI,
      })
    }
    const manageForm = {
      formMFA,
      onSubmit,
    }
    // manage form - end

    // manage clipboard - start
    const isClipboardGranted = ref(true)
    const doPasteClipboard = async () => {
      const handlePaste = async () => {
        formMFA.value = await useClipboard.paste({ isOTP: true })

        return await verifyMFAAPI({ token: formMFA.value })
      }
      const failedSubmissionFn = (errors: string | string[]) => {
        // check is clipboard permission are denied, then if true hide a clipboard button
        if (useClipboard.isDeniedPermission(errors as string)) {
          isClipboardGranted.value = false
        }
      }
      await useFetchEngine(setupContext, handlePaste, {
        customLoadingFn: toggleLoading.fetch,
        failedSubmissionFn,
        successSubmissionFn: getMFAStatusAPI,
      })
    }
    const manageClipboard = {
      isClipboardGranted,
      doPasteClipboard,
    }
    // manage clipboard - end

    // manage fetch - start
    const { $fetchState } = useFetch(async () => {
      await getMFAStatusAPI()
    })
    const isLoading = computed(() => $fetchState.pending || false)
    const isLoadingGenerateQR = ref(false)
    const toggleLoading = {
      fetch: () => {
        $fetchState.pending = !$fetchState.pending
      },
      generate: () => (isLoadingGenerateQR.value = !isLoadingGenerateQR.value),
    }
    const manageFetch = {
      isLoading,
      isLoadingGenerateQR,
    }
    // manage fetch - end

    return {
      ...manageQRCode,
      ...manageForm,
      ...manageClipboard,
      ...manageFetch,
    }
  },
})
</script>
