<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseBackButton :text="'Back to Customers'" @doBackTo="goBackTo" />
    <BaseHeadlinePage
      :title="`Manage ${customer.name} User Accounts`"
      subtitle="View the user accounts or make change user accounts"
    >
      <template #addition>
        <span class="text--secondary font-weight-medium title">
          &bull; {{ totalUsers }} Total Users
        </span>
      </template>
    </BaseHeadlinePage>

    <v-btn outlined color="primary" class="mb-5" @click="toggleModalForm">
      Add User
    </v-btn>

    <v-row align="center">
      <v-col cols="12">
        <BaseTable
          v-model="selectedCustomerUsers"
          item-key="id"
          loading-text="Getting users data..."
          :items="customerUsers"
          :headers="headers"
          :options="pagination"
          :loading="isLoading"
          :action-exist="actionExist"
          @fetch="fetchCustomerUsers"
        />
      </v-col>
    </v-row>

    <!-- Pagination universal (customer and batch view) -->
    <BasePagination
      v-if="customerUsers && customerUsers.length"
      v-model="pagination"
      :meta="meta"
      :loading="isLoading"
      @resetPage="pagination.page = 1"
    />

    <!-- Modal form -->
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doSubmit="doSubmitUser"
      @doClose="doResetModal"
    >
      <template #modalFields>
        <UserForm v-model="form" :action="dialogSettings.type" />
      </template>
    </BaseModalForm>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  computed,
  ref,
  Ref,
  watch,
  useRoute,
  useRouter,
  useContext,
  provide,
} from '@nuxtjs/composition-api'
import { useDebounceFn } from '@vueuse/core'
import { CancelTokenSource } from 'axios'
import { useState } from 'vuex-composition-helpers'
import {
  initDialogSettings,
  initModalType,
  RootStateApplications,
} from '~/store/applications'

// types - start
import {
  Pagination,
  VuexModuleApplications,
  ModalConfirm,
  Header,
} from '~/types/applications'
import { VuexModuleCustomerUsers, CustomerUser } from '~/types/customers/users'
import { VuexModuleCustomers } from '~/types/customers'
// types - end

// components - start
import UserForm from '@/components/customers/UserForm.vue'
// components - end

export interface UserCustomerActions {
  doEditUserCustomer: (data: CustomerUser) => void
}

const initHeaders = [
  {
    text: 'Name',
    value: 'name',
    width: 200,
    cellClass: 'text-no-wrap',
  },
  {
    text: 'Email',
    value: 'email',
    width: 200,
    cellClass: 'text-no-wrap',
  },
  {
    text: '',
    value: 'actions',
    sortable: false,
    width: 150,
  },
] as Header[]

const initForm = {
  eventType: '',
  url: '',
}

export default defineComponent({
  name: 'CustomerUserPages',
  components: { UserForm },
  setup() {
    const { app, $axios } = useContext()

    // manage router - start
    const route = useRoute()
    const router = useRouter()
    const goBackTo = () => {
      router.push('/customers')
    }
    const routeState = { goBackTo }
    // manage router - end

    // manage store - start
    const { suspensionAllowedActions } = useState<RootStateApplications>(
      'applications',
      ['alert', 'suspensionAllowedActions']
    )
    const storeCustomerUsers = useStore<VuexModuleCustomerUsers>()
    const storeCustomers = useStore<VuexModuleCustomers>()
    const storeApplications = useStore<VuexModuleApplications>()
    const customerUsers = computed(
      () => storeCustomerUsers.state.customers.users.customerUsers
    )
    const customer = computed(
      () => storeCustomers.state.customers.customerDetails
    )
    const meta = computed(() => storeCustomerUsers.state.customers.users.meta)
    const pagination = ref({
      ...storeApplications.state.applications.pagination,
    })
    const alert = computed(() => storeApplications.state.applications.alert)
    const storeState = {
      suspensionAllowedActions,
      customerUsers,
      customer,
      meta,
      pagination,
      alert,
    }

    // manage modal
    const selected = ref('')
    const form = ref({
      id: '',
      name: '',
      email: '',
      password: '',
      passwordConfirmation: '',
      passwordOld: '',
    })
    const doResetModal = () => {
      form.value = {
        id: '',
        name: '',
        email: '',
        password: '',
        passwordConfirmation: '',
        passwordOld: '',
        ...initForm,
      }
      dialogSettings.value = { ...initDialogSettings }
      storeApplications.commit('applications/RESET_ALERT')
    }
    const dialog = ref({ ...initModalType })
    const dialogSettings = ref({ ...initDialogSettings }) as Ref<ModalConfirm>
    const toggleModalForm = () => {
      try {
        dialogSettings.value.loading = true
        dialogSettings.value = {
          ...dialogSettings.value,
          title:
            dialogSettings.value.type === 'edit' ? 'Edit User' : 'Add User',
          type: dialogSettings.value.type === 'edit' ? 'edit' : 'add',
          content: '',
          cancelText: 'Cancel',
          submitText: 'Submit',
          submitColor: 'primary',
          disabledSubmit:
            !suspensionAllowedActions?.value?.addCustomer || false,
        }
        dialog.value.form = true

        // get the suspension features
        if (!suspensionAllowedActions?.value?.addCustomer) {
          storeApplications.commit('applications/SET_ALERT', {
            isShow: true,
            type: 'error',
            message: `Account Suspended. Please contact Luwjistik!`,
          })
        }
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 500)
      }
    }
    const doEditUser = (data: CustomerUser) => {
      dialogSettings.value.type = 'edit'
      form.value = {
        id: data.id,
        name: data.name,
        email: data.email,
        password: '',
        passwordConfirmation: '',
        passwordOld: '',
        ...initForm,
      }
      toggleModalForm()
    }
    provide<UserCustomerActions>('userCustomerActions', {
      doEditUserCustomer: doEditUser,
    })

    const modalState = {
      selected,
      form,
      dialog,
      dialogSettings,
      doResetModal,
      toggleModalForm,
      doEditUser,
    }

    // manage table
    const isLoading = computed(() => $fetchState?.pending || false)
    const totalUsers = computed(() => meta.value.totalCount || 0)
    const selectedCustomerUsers = ref([]) as Ref<CustomerUser[]>
    const actionExist = ref({
      editUser: true,
    })
    const headers = ref(initHeaders) as Ref<Header[]>
    const tableState = {
      isLoading,
      totalUsers,
      selectedCustomerUsers,
      actionExist,
      headers,
    }

    // manage fetch customer
    const fetchDebounced = useDebounceFn(async (fn: Function) => {
      try {
        $fetchState.pending = true
        await fn()
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 500)
      }
    }, 300)

    let source: CancelTokenSource
    const fetchCustomerUsers = (_params: Pagination) => {
      const id = route.value.params.id
      const { page, itemsPerPage } = pagination.value
      const perPage = itemsPerPage !== -1 ? itemsPerPage : meta.value.totalCount
      const dataParams = app.$customUtils.setURLParams({
        page,
        perPage,
      })

      if (source) source.cancel()

      source = $axios.CancelToken.source()
      fetchDebounced(async () => {
        try {
          return await storeCustomerUsers.dispatch(
            'customers/users/getCustomerUsers',
            {
              id,
              params: dataParams,
              cancelToken: source.token,
            }
          )
        } catch (error) {
          return error
        }
      })
    }
    const { $fetchState } = useFetch(async () => {
      const id = route.value.params.id
      await storeCustomers.dispatch('customers/getCustomerDetail', { id })
    })
    const fetchFunction = { fetchCustomerUsers }

    const doSubmitUser = async () => {
      try {
        let action, editPayload
        dialogSettings.value.loading = true

        const customerId = route.value.params.id
        const userId = form.value.id

        // check the modal action edit or add
        if (dialogSettings.value.type === 'edit') {
          // check if old password entered, if entered will change user password
          if (form.value.passwordOld !== '') {
            editPayload = {
              name: form.value.name,
              email: form.value.email,
              changePassword: {
                newPassword: form.value.password,
                oldPassword: form.value.passwordOld,
              },
            }
          } else {
            // if old password not entered, will didn't change user password
            editPayload = {
              name: form.value.name,
              email: form.value.email,
              changePassword: null,
            }
          }

          action = await storeCustomerUsers.dispatch(
            'customers/users/editCustomerUser',
            {
              customerId,
              userId,
              body: editPayload,
            }
          )
        } else {
          action = await storeCustomerUsers.dispatch(
            'customers/users/createCustomerUser',
            {
              customerId,
              body: form.value,
            }
          )
        }

        if (action.response) throw action.response

        await fetch()
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: `Successfully ${dialogSettings.value.type} user!`,
        })
        setTimeout(() => {
          dialog.value.form = false
          doResetModal()
        }, 1000)
      } catch (error: any) {
        let message = `Failed ${dialogSettings.value.type} user!`

        // check if exist error from backend
        if (error.data.error) {
          if (error.data.error.includes('unique_users_email')) {
            message = 'Email already exists'
          } else if (error.data.error.includes('hashedPassword')) {
            message = 'The Old Password you entered does not match'
          }
        }

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message,
        })
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 500)
      }
    }
    const actionFunction = { doSubmitUser }

    watch(
      pagination,
      (newPagination) => {
        storeApplications.commit('applications/SET_PAGINATION', {
          ...newPagination,
        })

        fetchCustomerUsers(pagination.value)
      },
      { deep: true }
    )

    const { fetch } = useFetch(async () => {
      await fetchCustomerUsers(pagination.value)
    })

    useMeta(() => ({ title: 'Client Portal | Customer Users' }))

    return {
      // manage router
      ...routeState,
      // manage store
      ...storeState,
      // manage table
      ...tableState,
      // manage filter customer
      // manage fetch
      ...fetchFunction,
      ...actionFunction,
      // manage modal dialog
      ...modalState,
    }
  },
  head: {},
})
</script>
