<template>
  <div
    :class="`d-flex flex-column align-center justify-center`"
    style="width: 400px"
  >
    <div
      style="text-align: center; font-size: 14px; line-height: 20px"
      class="text--secondary"
    >
      We are removing this feature very soon, you're Luwjistik experience won't
      change. You can contact our support team if you need any additional
      details!
    </div>
  </div>
</template>
