<template>
  <section class="header-wrapper border-bottom">
    <!-- for modular l-control -->
    <template v-if="tabSelected && tabSelected === 'modular'">
      <div class="country-wrapper pa-6 pl-0">
        <h3 class="title font-weight-bold">COUNTRY</h3>
      </div>

      <div class="service-wrapper service-color pa-6">
        <h3 class="title font-weight-bold">SERVICE</h3>
      </div>

      <div class="zone-wrapper pa-6">
        <div class="title font-weight-bold">
          <v-breadcrumbs :items="breadcrumbs" class="pa-0" divider=">">
            <template #item="{ item }">
              <v-breadcrumbs-item
                :class="`${!item.first ? 'active-bread' : ''}`"
                :disabled="item.disabled"
                :href="item.href"
              >
                {{ item.text.toUpperCase() }}
              </v-breadcrumbs-item>
            </template>
          </v-breadcrumbs>
        </div>
      </div>
    </template>

    <!-- for sri l-control -->
    <div v-if="tabSelected && tabSelected === 'sri'" class="pa-6 pl-0">
      <div class="d-flex">
        <h3 class="title font-weight-bold">SRI ORDER ALLOCATION</h3>

        <v-tooltip color="primary" max-width="300px" right>
          <template #activator="{ on, attrs }">
            <v-btn color="primary" icon v-bind="attrs" x-small v-on="on">
              <v-icon>mdi-help-circle-outline</v-icon>
            </v-btn>
          </template>

          <span class="d-block caption">
            SRI configurations will take priority over Modular configurations.
          </span>
        </v-tooltip>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent, inject } from '@nuxtjs/composition-api'

// types
import { LControlType } from '~/types/lControl'

export default defineComponent({
  name: 'LControlHeading',
  props: {
    breadcrumbs: {
      type: Array,
      default: () => [],
    },
  },
  setup() {
    const tabSelected = inject('tabSelected', '') as LControlType

    return {
      tabSelected,
    }
  },
})
</script>
