<template>
  <v-btn-toggle
    v-model="type"
    class="mb-6 d-flex align-center"
    color="primary"
    group
    mandatory
  >
    <v-btn
      class="l-control-toggle rounded-lg mr-4 font-weight-bold primary--text"
      depressed
      value="modular"
      x-large
    >
      Modular
    </v-btn>

    <v-badge bordered color="secondary" content="New" overlap>
      <v-btn
        class="l-control-toggle rounded-lg font-weight-bold primary--text"
        depressed
        value="sri"
        x-large
      >
        SRI
      </v-btn>
    </v-badge>
  </v-btn-toggle>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from '@nuxtjs/composition-api'

// types
import { LControlType } from '~/types/lControl'

export default defineComponent({
  name: 'ToggleTypeLControl',
  props: {
    value: {
      type: String as PropType<LControlType>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const type = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })

    return {
      type,
    }
  },
})
</script>
