<template>
  <section class="pa-4 pa-md-10 py-8 detail-marketplace">
    <BaseBackButton :text="'Back to Marketplaces'" @doBackTo="goBackTo" />

    <div class="top-row d-flex flex-column flex-md-row align-center mb-9 mt-6">
      <div class="d-flex align-center mr-8">
        <v-card
          color="transparent"
          width="100px"
          height="100px"
          class="rounded-circle mr-4"
        >
          <!-- Logo -->
          <v-img
            :aspect-ratio="100 / 100"
            class="rounded-circle"
            :src="`data:image/png;base64,${
              detailMarketplace.logo ? detailMarketplace.logo : ''
            }`"
            contain
            style="border: 3px solid #1961e4"
          >
          </v-img>
        </v-card>

        <div class="profile-text">
          <h3 class="headline font-weight-bold">
            {{ detailMarketplace.name }}
          </h3>

          <!-- Services Types -->
          <v-chip-group
            v-if="
              detailMarketplace.partnerServiceTypes &&
              detailMarketplace.partnerServiceTypes.length > 0
            "
            column
          >
            <v-chip
              v-for="(mile, i) in detailMarketplace.partnerServiceTypes"
              :key="i"
              :color="$customUtils.setColorServiceType(mile.name, 'chip')"
              :ripple="false"
              class="text-uppercase white--text"
              small
              style="cursor: auto"
            >
              {{ $customUtils.setServiceType(mile.name) }}
            </v-chip>
          </v-chip-group>
        </div>
      </div>

      <div
        class="profile-btn mt-3"
        :style="$vuetify.breakpoint.smAndDown && 'width: 100%'"
      >
        <!-- Connect to partner -->
        <template v-if="suspensionAllowedActions.connectPartner">
          <v-hover v-slot="{ hover }">
            <v-btn
              :disabled="detailMarketplace.status !== 'none'"
              :outlined="!hover && detailMarketplace.status === 'none'"
              :block="$vuetify.breakpoint.smAndDown"
              depressed
              rounded
              color="primary"
              class="mr-0 mr-md-2"
              style="transition: all 0.4s ease-in-out; width: 100%"
              @click="doToggleConnected"
            >
              {{
                detailMarketplace.status === 'none'
                  ? 'Connect with Vendor'
                  : detailMarketplace.status
              }}
            </v-btn>
          </v-hover>
        </template>
      </div>
    </div>

    <v-row class="middle-row d-flex align-start">
      <v-col
        class="rate d-flex flex-column align-center"
        cols="12"
        md="5"
        lg="3"
      >
        <!-- Partner Rates -->
        <MarketplaceDetailRates />

        <!-- Button Rate Sheet -->
        <v-hover v-slot="{ hover }">
          <v-btn
            :disabled="!isRatesAvailable"
            :outlined="!hover && isRatesAvailable"
            rounded
            block
            large
            color="primary"
            class="mt-10"
            style="transition: all 0.4s ease-in-out"
            @click="handleDownload('rate-sheet')"
          >
            Download Rate Sheet
          </v-btn>
        </v-hover>

        <!-- Button SOP -->
        <v-hover v-slot="{ hover }">
          <v-btn
            :disabled="!detailMarketplace.partnerSOPPath"
            :outlined="!hover && !!detailMarketplace.partnerSOPPath"
            rounded
            block
            large
            color="primary"
            class="mt-6"
            style="transition: all 0.4s ease-in-out"
            @click="handleDownload('sop')"
          >
            Download SOP
          </v-btn>
        </v-hover>
      </v-col>

      <v-col class="detailed-info" cols="12" md="6" lg="5">
        <!-- Partner Details -->
        <v-row
          v-for="({ name, value }, headerIndex) in detailProfileHeaderComputed"
          :key="headerIndex"
          class="d-flex"
        >
          <v-col class="detailed-text font-weight-bold text--secondary">
            <span :title="name">
              {{ name }}
            </span>
          </v-col>

          <v-col class="detailed-description">
            <p class="mb-0">
              {{ convertDetailData(detailMarketplace[value]) }}
            </p>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" lg="4" class="gallery">
        <!-- Partner Gallery -->
        <template v-if="detailGalleries && !!detailGalleries.length">
          <div class="mb-4 font-weight-bold text--secondary">Gallery</div>

          <div style="width: 100%">
            <MasonryWall
              :items="detailGalleries"
              :ssr-columns="2"
              :column-width="computeImgSize"
              :gap="8"
            >
              <!-- eslint-disable-next-line vue/no-template-shadow -->
              <template #default="{ item, index }">
                <div>
                  <NuxtImg
                    v-if="index < computeMaxImg - 1"
                    :src="item.src"
                    :width="`${computeImgSize}px`"
                    :style="`borderRadius: 20px;cursor: pointer; objectFit: cover`"
                    @click="doShowSlideShow(index)"
                  />

                  <div
                    v-if="index === computeMaxImg - 1"
                    class="more-galeries"
                    :style="`width: ${computeImgSize}px;`"
                    @click="doShowSlideShow(index)"
                  >
                    <span class="white--text font-weight-bold text-h5">
                      {{ detailGalleries.length - index }} +
                    </span>
                  </div>
                </div>
              </template>
            </MasonryWall>
          </div>
        </template>
      </v-col>
    </v-row>

    <v-row v-if="detailMarketplace.companyBrief" class="mt-8">
      <v-col cols="12" md="12">
        <span class="font-weight-bold text--secondary mb-4 d-block">
          Company Brief
        </span>

        <p style="text-align: justify">
          {{ detailMarketplace.companyBrief }}
        </p>

        <NuxtImg
          class="mt-3"
          src="/images/logo-detail.svg"
          width="290"
          preload
        />
      </v-col>
    </v-row>

    <div v-if="partnerServiceZones" class="bottom-row mt-16">
      <div class="mb-2">
        <span class="title-filter primary--text headline font-weight-bold">
          Coverage Area
        </span>

        <sup>
          <span class="secondary--text">*</span>
          sub-zone rates available in the rate sheet
        </sup>
      </div>

      <v-row v-if="partnerServiceZones" align="center" class="mt-0">
        <v-col cols="12">
          <BaseTable
            item-key="id"
            :items="partnerServiceZones"
            :headers="coverageTableSettings.headers"
            :options="coverageTableSettings.pagination"
            :loading="$fetchState.pending"
          />
        </v-col>
      </v-row>
    </div>

    <CoolLightBox
      :items="imagesLightBox(detailGalleries)"
      :index="lightBoxIndex"
      :slideshow="false"
      :use-zoom-bar="false"
      close-on-click-outside-mobile
      @close="lightBoxIndex = null"
    />

    <MarketplaceAddForm
      :dialog="dialog"
      :data="detailMarketplace"
      @toggle="doToggleConnected()"
      @add="addConnection(detailMarketplace.id)"
    />
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useFetch,
  useStore,
  useRoute,
  reactive,
  ref,
  Ref,
  useMeta,
  useRouter,
  useContext,
} from '@nuxtjs/composition-api'
import { useState } from 'vuex-composition-helpers'

// components
import MasonryWall from '@yeger/vue2-masonry-wall'
import CoolLightBox from 'vue-cool-lightbox'
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'

// types
import { VuexModuleMarketplaces } from '~/types/marketplace/marketplace'
import { VuexModuleFilters } from '~/types/filters'
import { Gallery, PartnerSubzoneCapability } from '~/types/marketplace/detail'
import { Header } from '~/types/applications'
import { RootStateApplications } from '~/store/applications'

interface CoverageTableItems {
  countryTable: string
  zoneTable: string
  slaTable: string
  codTable: boolean
  color: 'green' | 'error'
  subzoneCapability: PartnerSubzoneCapability | null
}

export default defineComponent({
  name: 'DetailMarketplace',
  components: {
    CoolLightBox,
    MasonryWall,
  },
  layout: 'default',
  setup() {
    const { $vuetify } = useContext()

    // *manage route
    const route = useRoute()
    const router = useRouter()
    const id = computed(() => route.value.params.id)
    // back to before page
    const goBackTo = () => {
      router.go(-1)
    }
    const routeState = { goBackTo }

    // *manage store
    const { suspensionAllowedActions } = useState<RootStateApplications>(
      'applications',
      ['alert', 'suspensionAllowedActions']
    )
    const storeDetailMarketplace = useStore<VuexModuleMarketplaces>()
    const storeFilters = useStore<VuexModuleFilters>()
    const zones = computed(() => storeFilters.state.filters.zones)
    const detailMarketplace = computed(
      () => storeDetailMarketplace.state.marketplaces.marketplaces.detail
    )
    const detailGalleries = computed(
      () => storeDetailMarketplace.state.marketplaces.marketplaces.galleries
    )
    const storeState = {
      suspensionAllowedActions,
      zones,
      detailMarketplace,
      detailGalleries,
    }

    // *manage details partner
    const detailProfileHeader = reactive([
      {
        name: 'Code',
        value: 'code',
      },
      {
        name: 'Description',
        value: 'description',
      },
      {
        name: 'Maximum Dimension',
        value: 'maximumDimension',
      },
      {
        name: 'Maximum Weight (kg)',
        value: 'maximumWeight',
      },
      {
        name: 'Pick Up & Drop Off',
        value: 'pikupAndDropOff',
      },
      {
        name: 'Prohibited Item',
        value: 'prohibitedItem',
      },
      {
        name: 'SLA',
        value: 'sla',
      },
    ])
    const detailProfileHeaderComputed = computed(() => {
      return detailProfileHeader.filter(
        (el) =>
          (detailMarketplace.value[
            el.value as keyof typeof detailMarketplace.value
          ] ||
            !(detailMarketplace.value[
              el.value as keyof typeof detailMarketplace.value
            ] as unknown as boolean)) &&
          el
      )
    })
    const convertDetailData = (data: string | number | boolean) => {
      switch (data) {
        case 0:
          return ''
        case false:
          return 'No'
        default:
          return data
      }
    }
    const detailsPartnerState = {
      detailProfileHeader,
      detailProfileHeaderComputed,
      convertDetailData,
    }

    // *manage rates
    const isRatesAvailable = ref(false) as Ref<Boolean>
    const allRatings = computed(() => {
      const ratings =
        storeDetailMarketplace.state.marketplaces.marketplaces.ratings

      if (!ratings || ratings.length === 0) return []

      return [...ratings]
    })
    const ratesState = { isRatesAvailable, allRatings }

    // *manage coverage
    const partnerServiceZones = computed(() => {
      const partnerServiceZones =
        detailMarketplace.value?.partnerServiceZones || []
      const isExistPartnerServiceZones = !!partnerServiceZones?.length ?? false
      const isExistZones = !!zones.value?.length ?? false

      // return empty array if not exist with details partners, partners service zones, and zones
      if (!isExistPartnerServiceZones && !isExistZones) return []

      // list of cities that are available in the partner service zone
      const countriesAvailable: CoverageTableItems[] = [
        ...partnerServiceZones,
      ].map((serviceZone) => {
        const zoneName =
          [...zones.value]?.find((zone) => zone.id === serviceZone.zone_id)
            ?.zoneName ?? ''

        return {
          countryTable: serviceZone.zone_country,
          zoneTable: zoneName,
          subzoneCapability: serviceZone?.subzoneCapability || null,
          slaTable: `${serviceZone.sla_from}-${serviceZone.sla_to} days`,
          codTable: serviceZone.cod,
          color: serviceZone.cod ? 'green' : 'error',
        }
      })
      // list of cities that are not available in the partner service zone
      // eslint-disable-next-line array-callback-return
      const countriesNotAvail: CoverageTableItems[] = [...zones.value]
        // filter according to the zone contained in the partner service zone and also the city contained in the availability of the partner service zone
        .filter((zone) => {
          const zoneExistOnPartners = [...partnerServiceZones].some(
            (serviceZone) => zone.id === serviceZone.zone_id
          )
          const countryExistOnPartners = [...countriesAvailable].some(
            (item) => item.countryTable === zone.country
          )

          return countryExistOnPartners && !zoneExistOnPartners
        })
        .map((zone) => {
          const { country, zoneName } = zone
          const partnerZone = [...countriesAvailable].find(
            (item) => item.countryTable === zone.country
          )

          return {
            countryTable: country,
            zoneTable: zoneName,
            slaTable: '',
            subzoneCapability: partnerZone?.subzoneCapability || null,
            codTable: partnerZone?.codTable ?? false,
            color: partnerZone?.color ?? 'error',
          }
        })
      const sortByCODAvailability = (
        a: CoverageTableItems,
        b: CoverageTableItems
      ) => {
        return a.countryTable.localeCompare(b.countryTable)
      }

      return [...countriesAvailable, ...countriesNotAvail].sort(
        sortByCODAvailability
      )
    })
    const coverageTableSettings = ref({
      pagination: {
        page: 1,
        itemsPerPage: 1000,
      },
      headers: [
        {
          text: 'Country',
          value: 'countryTable',
          cellClass: 'font-weight-bold',
        },
        {
          text: 'Zone',
          value: 'zoneTable',
          cellClass: 'text-no-wrap font-weight-bold',
        },
        {
          text: 'SLA',
          value: 'slaTable',
        },
        {
          text: 'COD',
          value: 'codTable',
          cellClass: 'font-weight-bold',
        },
      ] as Header[],
    })
    const coverageState = { partnerServiceZones, coverageTableSettings }

    // *manage gallery
    const computeImgSize = computed(() => {
      const { breakpoint } = $vuetify

      return breakpoint.xs
        ? 180
        : breakpoint.sm
        ? 230
        : breakpoint.md
        ? 210
        : 200
    })
    const computeMaxImg = computed(() => {
      const { breakpoint } = $vuetify

      return breakpoint.xs ? 4 : breakpoint.sm ? 6 : breakpoint.md ? 9 : 8
    })
    const lightBoxIndex = ref(null)
    const doShowSlideShow = (indexInput: any) => {
      lightBoxIndex.value = indexInput
    }
    const imagesLightBox = (data: Gallery[]) => {
      if (data && data.length > 0) {
        return data.map((el) => {
          return el.src
        })
      } else {
        return []
      }
    }
    const galleryState = {
      computeImgSize,
      computeMaxImg,
      lightBoxIndex,
      imagesLightBox,
      doShowSlideShow,
    }

    // *other state
    const dialog = reactive({
      status: false,
    })
    const method = reactive({
      opt: 'add',
    })
    const doToggleConnected = () => {
      if (method.opt === 'add' || method.opt === 'edit') {
        dialog.status = !dialog.status
      }
    }
    function handleDownload(type: 'sop' | 'rate-sheet') {
      if (type === 'sop') {
        window.open(detailMarketplace.value.partnerSOPPath, '_self')
      } else {
        getRatesDownload(id.value)
      }
    }
    const otherState = { dialog, doToggleConnected, handleDownload }

    // *manage fetch
    const fetchDetail = async (id: string) => {
      try {
        await storeDetailMarketplace.dispatch(
          'marketplaces/marketplaces/getDetail',
          id
        )
      } catch (error) {
        return error
      }
    }
    const fetchServiceZoneOnce = async () => {
      try {
        await storeDetailMarketplace.dispatch('filters/getOnce')
      } catch (error) {
        return error
      }
    }
    const addConnection = async (id: String) => {
      try {
        await storeDetailMarketplace.dispatch(
          'marketplaces/marketplaces/addConnection',
          { id }
        )
        dialog.status = false
        fetch()
      } catch (error) {
        return error
      }
    }
    const getRatesAvailable = async (id: String) => {
      try {
        const { IsAvailable } = await storeDetailMarketplace.dispatch(
          'marketplaces/marketplaces/getRatesAvailable',
          { partnerID: id }
        )

        isRatesAvailable.value = IsAvailable
      } catch (error) {
        return error
      }
    }
    const getRatesDownload = async (id: String) => {
      try {
        await storeDetailMarketplace.dispatch(
          'marketplaces/marketplaces/getRatesDownload',
          { partnerID: id, name: detailMarketplace.value.name + ' rates' }
        )
      } catch (error) {
        return error
      }
    }

    const { fetch } = useFetch(async () => {
      await Promise.allSettled([
        fetchDetail(id.value),
        fetchServiceZoneOnce(),
        getRatesAvailable(id.value),
        storeDetailMarketplace.dispatch(
          'marketplaces/marketplaces/getRatings',
          { partnerId: id.value }
        ),
      ])
    })

    // manage meta
    useMeta(() => ({
      title: `Client Portal | ${detailMarketplace.value.name}`,
    }))

    return {
      ...routeState,
      ...storeState,
      ...detailsPartnerState,
      ...ratesState,
      ...coverageState,
      ...galleryState,
      ...otherState,
      addConnection,
    }
  },
  head: {},
})
</script>

<style lang="scss">
@import '@/assets/scss/color.module.scss';
.detail-marketplace {
  // *cool light box style
  .cool-lightbox-toolbar {
    button[title='Show thumbnails'] {
      border-radius: 20px !important;
    }
    button[title='Close'] {
      border-radius: 20px !important;
    }
  }
  .cool-lightbox__slide__img {
    img {
      border-radius: 20px !important;
    }
  }
  .cool-lightbox-button__icon {
    border-radius: 20px !important;
  }
  .cool-lightbox-thumbs {
    display: none !important;
  }
  // end
}
.text-star-wrapper {
  width: 100%;
}
.custom-btn-red {
  transition: all 0.3s;
  &:hover {
    background: red !important;
    color: white !important;
  }
}
.custom-btn-primary {
  transition: all 0.3s;
  color: $primary !important;
  &:hover {
    background: $primary !important;
    color: white !important;
  }
  &.disabled {
    opacity: 0.5;
  }
}
.profile-text {
  max-width: 400px;
  .headline {
    max-width: 200px;
  }
}
.more-galeries {
  padding: 32px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  background-color: #1961e4;
  overflow: hidden;
}
</style>
