<template>
  <section class="pa-4 pa-md-10 py-8 marketplace">
    <BaseBackButton
      v-if="!isOnMarketplaces"
      :text="'Back to Marketplaces'"
      @doBackTo="pageView = 'marketplaces'"
    />

    <BaseHeadlinePage
      :title="isOnMarketplaces ? 'Marketplace' : 'My Network Partners'"
      :subtitle="
        isOnMarketplaces
          ? 'Find and connect with our best vendors.'
          : 'List of all partners that connected to you.'
      "
      :is-cols-auto="true"
    >
      <template #pageActions>
        <v-col>
          <v-hover v-slot="{ hover }">
            <v-btn
              :disabled="$fetchState.pending"
              :outlined="!hover"
              rounded
              nuxt
              color="primary"
              style="transition: all 0.4s ease-in-out"
              to="/marketplace/partner-comparison"
            >
              Partner Comparison
            </v-btn>
          </v-hover>
        </v-col>
      </template>
    </BaseHeadlinePage>

    <v-row class="mt-6">
      <v-col cols="12" md="7" xl="9">
        <BaseSearchFieldCustom
          v-model="filter.search"
          :loading="$fetchState.pending"
          class="mb-14"
        />

        <CarouselPartners
          v-show="
            !filter.search &&
            !filter.country &&
            filter.service.length === 0 &&
            isOnMarketplaces
          "
        />
      </v-col>

      <v-col class="ml-lg-15">
        <v-card class="pa-4 py-6 d-flex" elevation="3">
          <v-card-text>
            <v-row>
              <v-col class="pa-0" cols="12" md="2">
                <div
                  class="d-flex align-center primary--text font-weight-bold subtitle-1"
                  style="height: 40px"
                >
                  Filter
                </div>
              </v-col>

              <v-col cols="12" md="10" class="pa-0">
                <v-row>
                  <v-col cols="12" md="12">
                    <v-select
                      v-model="selectedZone.value"
                      :items="countryCodes"
                      :disabled="$fetchState.pending"
                      item-text="name"
                      item-value="value"
                      label="Country"
                      outlined
                      rounded
                      dense
                      color="primary"
                      class="custom-select"
                      clearable
                    />
                  </v-col>

                  <v-col v-if="false" cols="12" md="6">
                    <v-select
                      v-model="selectedPort.value"
                      :items="!selectedZone.value ? [] : ports"
                      :disabled="$fetchState.pending"
                      :class="`custom-select ${
                        !selectedZone.value ? 'disabled-drop' : ''
                      }`"
                      :menu-props="{ offsetY: true }"
                      item-text="name"
                      item-value="id"
                      label="Ports"
                      outlined
                      rounded
                      dense
                      color="primary"
                      clearable
                    />
                  </v-col>

                  <v-col
                    v-if="serviceTypes && serviceTypes.length > 0"
                    cols="12"
                  >
                    <div class="service-types-filtering rounded-xl pa-4">
                      <span
                        class="d-block primary--text font-weight-bold subtitle-2 mb-3"
                      >
                        Service Type
                      </span>

                      <template v-for="item in ['Cross Border', 'Domestic']">
                        <div
                          :key="item"
                          :class="`${item !== 'Domestic' ? 'mb-1' : ''}`"
                        >
                          <span
                            class="d-block font-weight-bold mb-2 caption text-uppercase"
                          >
                            {{ item }}
                          </span>

                          <div class="chip-group-custom">
                            <v-chip-group
                              v-model="selectedServiceTypes.arrValue"
                              multiple
                              active-class="primary accent-4 white--text"
                              column
                            >
                              <v-chip
                                v-for="(chip, i) in serviceTypes.filter(
                                  (service) =>
                                    item === 'Domestic'
                                      ? service.name.includes('DOMESTIC')
                                      : !service.name.includes('DOMESTIC')
                                )"
                                :key="i"
                                :value="chip.name"
                                :disabled="$fetchState.pending"
                                small
                                class="custom-chips mb-2"
                              >
                                {{ $customUtils.setServiceType(chip.name) }}
                              </v-chip>
                            </v-chip-group>
                          </div>
                        </div>
                      </template>
                    </div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>

        <div
          v-if="
            !filter.search &&
            !filter.country &&
            filter.service.length === 0 &&
            isOnMarketplaces &&
            marketplacesConnected.length
          "
        >
          <h1 class="title mb-8 mt-16 text-capitalize text-center">
            Your Network Partners
          </h1>

          <div class="container-your-partner">
            <div class="wrapper-your-partner">
              <v-row>
                <v-col
                  v-for="(x, i) in marketplacesConnected"
                  :key="i"
                  cols="4"
                >
                  <v-tooltip bottom color="primary">
                    <template #activator="{ on, attrs }">
                      <v-hover v-slot="{ hover }">
                        <v-img
                          :aspect-ratio="1 / 1"
                          :class="`rounded-circle mx-auto ${
                            hover && 'elevation-6'
                          }`"
                          :src="`data:image/png;base64,${x.logo}`"
                          v-bind="attrs"
                          max-height="140"
                          max-width="140"
                          contain
                          :style="`${
                            hover
                              ? 'cursor: pointer; transform: scale(1.1); filter: brightness(95%);'
                              : ''
                          } border: 1px solid #1961e4;`"
                          v-on="on"
                          @click="changePage(x.id)"
                        />
                      </v-hover>
                    </template>

                    <span>{{ x.name }}</span>
                  </v-tooltip>
                </v-col>
              </v-row>
            </div>

            <div class="button-your-partner d-flex justify-center mt-6">
              <v-btn
                text
                color="secondary"
                :disabled="$fetchState.pending || !marketplacesConnected.length"
                @click="pageView = 'networkPartners'"
              >
                View your connected partners
              </v-btn>
            </div>
          </div>
        </div>
      </v-col>
    </v-row>

    <v-row v-if="isOnMarketplaces">
      <v-col>
        <h1
          v-if="
            !filter.search &&
            !filter.country &&
            (!filter.service || filter.service.length === 0)
          "
          class="title mb-2 text-capitalize"
        >
          Network Partners in<br />
          your area
        </h1>

        <BaseLoading v-if="$fetchState.pending" />

        <v-container v-else fluid class="px-0">
          <v-row>
            <v-col
              v-for="(partner, u) in marketplaces"
              :key="u"
              cols="12"
              sm="6"
              md="4"
              lg="3"
              class="d-flex align-center justify-space-between pa-4"
            >
              <v-hover v-slot="{ hover }">
                <v-card
                  :elevation="hover ? 6 : 2"
                  :disabled="$fetchState.pending"
                  class="rounded-xl d-flex flex-column justify-space-between card-partner-custom"
                  :style="`${
                    hover && 'transform: scale(1.1); filter: brightness(95%);'
                  }`"
                  width="100%"
                  height="245px"
                  color="white"
                  @click="changePage(partner.id)"
                >
                  <v-img
                    :src="`data:image/png;base64,${partner.logo}`"
                    contain
                    height="100%"
                    width="100%"
                  >
                    <v-app-bar flat color="rgba(0, 0, 0, 0)">
                      <div class="body-2 d-flex align-center">
                        <NuxtImg
                          v-if="partner.partnerServiceZones.length > 0"
                          src="/images/mapLocation.svg"
                          preload
                          height="22.69"
                          class="mr-2"
                        />

                        <div
                          class="primary--text subtitle-2 font-weight-bold"
                          style="word-break: break-word"
                        >
                          {{ locationMapping(partner.partnerServiceZones) }}
                        </div>
                      </div>

                      <v-spacer></v-spacer>

                      <!-- connection button -->
                      <v-tooltip
                        v-if="!suspensionAllowedActions.connectPartner"
                        top
                        color="secondary"
                      >
                        <template #activator="{ on, attrs }">
                          <v-btn
                            v-bind="attrs"
                            icon
                            plain
                            color="secondary"
                            v-on="on"
                          >
                            <v-icon> mdi-account-cancel </v-icon>
                          </v-btn>
                        </template>

                        <span
                          >Account Suspended. Please contact Luwjistik!</span
                        >
                      </v-tooltip>

                      <template v-else>
                        <v-tooltip
                          v-if="partner.status === 'none'"
                          top
                          color="primary"
                        >
                          <template #activator="{ on, attrs }">
                            <v-btn
                              v-bind="attrs"
                              icon
                              plain
                              color="primary"
                              v-on="on"
                              @click.stop="addPartner(partner)"
                            >
                              <v-icon> mdi-account-plus </v-icon>
                            </v-btn>
                          </template>

                          <span>Add Connection</span>
                        </v-tooltip>

                        <v-tooltip
                          v-else-if="partner.status === 'pending'"
                          top
                          color="warning"
                        >
                          <template #activator="{ on, attrs }">
                            <v-btn
                              v-bind="attrs"
                              icon
                              plain
                              color="warning"
                              v-on="on"
                              @click.stop="addPartner(partner)"
                            >
                              <v-icon> mdi-account-clock </v-icon>
                            </v-btn>
                          </template>

                          <span>Pending Connection</span>
                        </v-tooltip>

                        <v-tooltip v-else top color="success">
                          <template #activator="{ on, attrs }">
                            <v-chip
                              v-bind="attrs"
                              x-small
                              color="success"
                              v-on="on"
                            />
                          </template>

                          <span>Connected</span>
                        </v-tooltip>
                      </template>
                      <!-- end connection button -->
                    </v-app-bar>

                    <v-card-title
                      style="position: absolute; bottom: 0; width: 100%"
                      class="title font-weight-bold primary white--text"
                    >
                      <span class="text-truncate">
                        {{ partner.name }}
                      </span>
                    </v-card-title>

                    <!-- v-if="partner.partnerServiceZones" -->
                    <!-- <v-col
                        v-if="false"
                        class="body-2 white--text align-center d-flex pa-0 ml-3"
                        cols="4"
                      >
                        <NuxtImg
                          v-if="partner.partnerServiceZones.length > 0"
                          src="/images/mapLocation.svg"
                          preload
                          height="22.69"
                          class="mr-2"
                        />
                        <div
                          style="word-break: break-word; font-size: 10px">
                          {{ locationMapping(partner.partnerServiceZones) }}
                        </div>
                      </v-col> -->
                  </v-img>
                </v-card>
              </v-hover>
            </v-col>
          </v-row>

          <BasePaginationOnCenter
            v-model="pagination"
            :meta="meta"
            :loading="$fetchState.pending"
            :per-page-options="{
              data: [4, 8, 16, 32],
              text: 'Partners / Page',
            }"
            :total-items="meta.totalCount"
            class="mt-8"
            @handlePagination="nextOrPrev"
            @resetPage="pagination.page = 1"
          />

          <!-- <div class="d-flex align-center justify-center pt-4">
            <div>
              <v-btn
                fab
                small
                plain
                :disabled="pagination.page === 1 || $fetchState.pending"
                @click="nextOrPrev('-')"
              >
                <v-icon dense color="black"> mdi-menu-left </v-icon>
              </v-btn>
            </div>

            <div class="px-3">
              {{ meta.page }}
            </div>

            <div>
              <v-btn
                fab
                small
                plain
                :disabled="
                  pagination.page >= meta.totalPage || $fetchState.pending
                "
                @click="nextOrPrev('+')"
              >
                <v-icon dense color="black"> mdi-menu-right </v-icon>
              </v-btn>
            </div>
          </div> -->
        </v-container>
      </v-col>
    </v-row>

    <template v-if="!isOnMarketplaces">
      <NetworkPartnersList
        :loading="$fetchState.pending"
        class="mt-8 mb-10"
        @handleToPartnerDetails="changePage"
      />

      <BasePaginationOnCenter
        v-model="pagination"
        :meta="meta"
        :loading="$fetchState.pending"
        :per-page-options="{
          data: [5, 10, 15, 20, 25],
          text: 'Partners / Page',
        }"
        :total-items="meta.totalCount"
        @handlePagination="nextOrPrev"
        @resetPage="pagination.page = 1"
      />
    </template>

    <MarketplaceAddForm
      :dialog="dialog"
      :data="idPartner"
      :error="errorAdd.value"
      @toggle="toggle()"
      @add="addConnection(idPartner.id)"
    />
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  reactive,
  ref,
  Ref,
  useContext,
  useFetch,
  useMeta,
  useRouter,
  useStore,
  watch,
} from '@nuxtjs/composition-api'
import { useDebounceFn } from '@vueuse/core'
import { useState } from 'vuex-composition-helpers'

// components - start
import NetworkPartnersList from '@/components/marketplace/networkPartners/List.vue'
import CarouselPartners from '@/components/marketplace/CarouselPartners.vue'
// components - end

// types - start
import {
  FilterDetails,
  VuexModuleMarketplaces,
} from '~/types/marketplace/marketplace'
import { DetailPartner, PartnerServiceZone } from '~/types/marketplace/detail'
import { ServiceType, VuexModuleFilters } from '~/types/filters'
import { VuexModuleApplications } from '~/types/applications'
import { RootStateApplications } from '~/store/applications'
// types - end

export default defineComponent({
  name: 'MarketPlace',
  components: {
    NetworkPartnersList,
    CarouselPartners,
  },
  layout: 'default',
  setup() {
    const router = useRouter()
    const { app } = useContext()

    // store manage
    const { suspensionAllowedActions } = useState<RootStateApplications>(
      'applications',
      ['alert', 'suspensionAllowedActions']
    )
    const storeMarketplaces = useStore<VuexModuleMarketplaces>()
    const storeFilters = useStore<VuexModuleFilters>()
    const storeApplications = useStore<VuexModuleApplications>()
    const marketplaces = computed(
      () => storeMarketplaces.state.marketplaces.marketplaces.marketplaces
    )
    const marketplacesConnected = computed(
      () =>
        storeMarketplaces.state.marketplaces.marketplaces.marketplacesConnected
    )
    const meta = computed(
      () => storeMarketplaces.state.marketplaces.marketplaces.meta
    )
    const countryCodes = computed(() => storeFilters.state.filters.countryCodes)
    const ports = computed(() => storeFilters.state.filters.ports?.data) as any
    const pagination = ref({
      ...storeApplications.state.applications.pagination,
      itemsPerPage: 8,
    })
    const filter = ref({
      ...storeMarketplaces.state.marketplaces.marketplaces.filter,
    })
    const zones = computed(() => storeFilters.state.filters.zones)
    const serviceTypes = computed(
      () =>
        app.$customUtils.sortServiceTypes([
          ...storeFilters.state.filters.serviceTypes.filter(
            (service) => service.name !== 'FREIGHT_FORWARDER'
          ),
        ]) as ServiceType[]
    )
    const idPartner = ref({}) as Ref<DetailPartner | {}>
    const storeState = {
      suspensionAllowedActions,
      idPartner,
      marketplaces,
      marketplacesConnected,
      countryCodes,
      meta,
      ports,
      pagination,
      filter,
      zones,
      serviceTypes,
    }

    // manage view
    const pageView = ref(
      storeMarketplaces.state.marketplaces.marketplaces.pageView
    )
    const isOnMarketplaces = computed(() => pageView.value === 'marketplaces')

    const selectedZone = reactive({
      value: '',
    })
    const selectedPort = reactive({
      value: '',
    })
    const selectedServiceTypes = reactive({
      arrValue: [],
    })

    const method = reactive({
      opt: 'add',
    })
    const dialog = ref({
      status: false,
    })
    const errorAdd = reactive({
      value: '',
    })
    const toggle = () => {
      if (method.opt === 'add' || method.opt === 'edit') {
        dialog.value.status = !dialog.value.status
      }
    }
    const addPartner = (partner: DetailPartner) => {
      // idPartner.value = partner.id
      // idPartner.name = partner.name
      idPartner.value = partner
      toggle()
    }
    const addConnection = async (id: String) => {
      try {
        $fetchState.pending = true

        const res = await storeMarketplaces.dispatch(
          'marketplaces/marketplaces/addConnection',
          { id }
        )
        if (res?.error) throw res?.error
        dialog.value.status = false
        await getMarketplacesConditionally()
      } catch (error: any) {
        errorAdd.value = error
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }

    const fetchCountryCodes = async () => {
      try {
        $fetchState.pending = true

        await storeFilters.dispatch('filters/getCountryCodes', {
          params: { isActive: true },
        })
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const getPorts = async () => {
      await storeFilters.dispatch('filters/getPorts', {
        params: {
          page: 1,
          perPage: 100,
        },
        country: selectedZone.value,
      })
    }

    const fetchMarketplace = async (params: FilterDetails) => {
      const { itemsPerPage } = params
      const dataParams = {
        ...params,
        perPage: itemsPerPage,
      }

      try {
        $fetchState.pending = true

        await storeMarketplaces.dispatch(
          'marketplaces/marketplaces/getMarketplaces',
          { params: dataParams }
        )
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const fetchMarketplaceConnected = async (params: FilterDetails) => {
      const { page, itemsPerPage, search, country, service } = params
      // const { page, itemsPerPage, search, country, service } = params
      // const perPage = itemsPerPage !== -1 ? itemsPerPage : meta.value.totalCount
      const dataParams = {
        page,
        perPage: isOnMarketplaces.value ? 6 : itemsPerPage,
        search,
        country,
        service,
      }

      try {
        $fetchState.pending = true

        await storeMarketplaces.dispatch(
          'marketplaces/marketplaces/getMarketplacesConnected',
          { params: dataParams, isOnNetworkPartners: !isOnMarketplaces.value }
        )
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const fetchServiceZoneOnce = async () => {
      try {
        $fetchState.pending = true

        await storeMarketplaces.dispatch('filters/getOnce')
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const getMarketplacesConditionally = async () => {
      if (isOnMarketplaces.value) {
        await fetchMarketplace({
          ...filter.value,
          ...pagination.value,
        })
      } else {
        await fetchMarketplaceConnected({
          ...filter.value,
          ...pagination.value,
        })
      }
    }
    const { $fetchState } = useFetch(async () => {
      if (isOnMarketplaces.value) {
        await fetchMarketplace({
          ...filter.value,
          ...pagination.value,
        })
      }
      await fetchMarketplaceConnected({
        ...filter.value,
        ...pagination.value,
      })
      await fetchCountryCodes()
      await fetchServiceZoneOnce()
      // zones.value =  [ ...storeFilters.state.filters.zones]
      // serviceTypes.value =  [ ...storeFilters.state.filters.serviceTypes]
    })

    const locationMapping = (partnerServiceZones: PartnerServiceZone[]) => {
      if (!partnerServiceZones || partnerServiceZones.length === 0) return ''

      return [...new Set(partnerServiceZones.map((zone) => zone.zone_country))]
        .slice(0, 3)
        .join(', ')
    }

    const nextOrPrev = (type: string) => {
      switch (type) {
        case '+':
          pagination.value = {
            ...pagination.value,
            page: pagination.value.page + 1,
          }
          break
        case '-':
          pagination.value = {
            ...pagination.value,
            page: pagination.value.page - 1,
          }
          break
        default:
          break
      }
    }

    // watching a changes state of page view
    watch(pageView, async (newValue) => {
      if (isOnMarketplaces.value) {
        pagination.value = {
          ...pagination.value,
          page: 1,
          itemsPerPage: 8,
        }
        await fetchMarketplaceConnected({
          ...filter.value,
          ...pagination.value,
        })
      } else {
        pagination.value = {
          ...pagination.value,
          page: 1,
          itemsPerPage: 5,
        }
      }

      storeFilters.commit('marketplaces/marketplaces/SET_PAGE_VIEW', newValue)
    })
    watch(
      [filter.value],
      useDebounceFn(([newFilter]) => {
        storeFilters.commit('marketplaces/marketplaces/SET_FILTER', {
          ...(newFilter as any),
        })
        pagination.value = {
          ...pagination.value,
          page: 1,
        }
      }),
      { deep: true }
    )

    // manage pagination on changed
    watch(
      pagination,
      (newPagination) => {
        storeApplications.commit('applications/SET_PAGINATION', {
          ...newPagination,
        })
        getMarketplacesConditionally()
      },
      { deep: true }
    )

    watch(
      selectedServiceTypes,
      (newService) => {
        // filter.value.service = newService.arrValue.join(',')
        filter.value.service = newService.arrValue
      },
      { deep: true }
    )

    watch(
      selectedZone,
      (newZone) => {
        filter.value.country = newZone.value
        getPorts()
        filter.value.port = ''
        selectedPort.value = ''
      },
      { deep: true }
    )
    watch(
      selectedPort,
      (newPort) => {
        filter.value.port = newPort.value
      },
      { deep: true }
    )
    watch(
      [dialog],
      ([newDialog]) => {
        if (!newDialog.status) {
          idPartner.value = {}
          errorAdd.value = ''
        }
      },
      { deep: true }
    )

    const changePage = (id: string | { index: number }) => {
      let tempId = id

      if (typeof id === 'object') {
        tempId = marketplaces.value[id.index].id
      }

      router.push(`/marketplace/${tempId}`)
    }

    // manage meta
    useMeta(() => ({
      title: `Client Portal | ${
        pageView.value === 'marketplaces'
          ? 'Marketplaces'
          : 'My Network Partners'
      }`,
    }))

    return {
      // manage store
      ...storeState,
      pageView,
      isOnMarketplaces,
      dialog,
      method,
      toggle,
      addPartner,
      locationMapping,
      nextOrPrev,
      selectedZone,
      selectedPort,
      selectedServiceTypes,
      addConnection,
      changePage,
      errorAdd,
    }
  },
  head: {},
})
</script>

<style lang="scss">
@import '@/assets/scss/color.module.scss';
.marketplace {
  .carousel-3d-slide {
    border: unset;
    border-radius: 20px;
    /* padding: 20px; */
    background: $primary;
    color: white;
    box-shadow: 0 0 40px 0 #36363626;
    &.current {
      background: $primary;
      .opacity-custom {
        opacity: 1;
      }
    }
    .opacity-custom {
      opacity: 0.7;
    }
  }
  .custom-select {
    &.disabled-drop {
      cursor: not-allowed;
      opacity: 0.5;
      .v-input__control {
        pointer-events: none;
      }
    }
    .v-select__slot {
      label {
        font-size: 12px;
        font-weight: bold;
      }
    }
    .v-input__slot {
      margin-bottom: unset !important;
    }
    .v-text-field__details {
      display: none;
    }
  }

  .custom-slide {
    .gradation-custom {
      background: linear-gradient(0deg, $primary, transparent);
      height: 90px;
    }
    .text-custom {
      background: $primary;
    }
  }

  .card-partner-custom {
    .gradation-custom {
      background: linear-gradient(0deg, $primary, transparent);
      height: 90px;
    }

    .custom-chip-connected {
      position: absolute !important;
      top: 20px;
      right: 20px;
      opacity: 1 !important;
    }

    .custom-chip {
      background-color: unset !important;
      backdrop-filter: blur(100px);
      opacity: 1;
    }
  }

  .service-types-filtering {
    border: 1px solid rgb(25, 97, 228);
  }

  .chip-group-custom {
    .card-chip-group {
      .v-slide-group__next,
      .v-slide-group__prev {
        min-width: unset;
        flex: unset;
        i {
          color: rgba(255, 255, 255, 0.534);
          font-size: 18px;
        }
      }

      .v-chip--disabled {
        opacity: 1;
      }
      .v-slide-group__prev--disabled,
      .v-slide-group__next--disabled {
        display: none;
      }
    }
    .custom-chip-connected {
      position: absolute !important;
      top: 20px;
      right: 20px;
      opacity: 1 !important;
    }
    .v-slide-group__content {
      padding: unset;
      .custom-chips {
        color: $primary;
        background: transparent !important;
        border: 1px solid $primary;
        margin: 0 8px 0 0;

        &.v-chip--active {
          background: $primary !important;
        }

        &.blue {
          background: $primary !important;
          border: 1px solid $primary !important;
        }
      }
    }
  }
}
</style>
