<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseHeadlinePage
      title="Manage Status Mapping"
      subtitle="View the status mapping or update the external status."
    />

    <v-row align="center">
      <v-col cols="6">
        <v-btn
          :disabled="loading"
          color="primary"
          @click="updateStatusMappings"
        >
          Save All Changes
        </v-btn>
      </v-col>
      <v-col cols="6">
        <v-switch
          v-model="switchButton.status"
          class="float-md-right"
          inset
          :disabled="loading || disableSwitchButton"
          :label="`${switchButton.text} External Status`"
          @change="setOmsEnabler(switchButton.status)"
        ></v-switch>
      </v-col>
    </v-row>

    <v-row align="center">
      <v-col cols="12">
        <BaseTable
          v-model="selectedStatusMappings"
          item-key="id"
          loading-text="Getting status mapping data..."
          :items="statusMappings"
          :headers="headers"
          :options="pagination"
          :loading="$fetchState.pending"
          @fetch="fetchStatusMappings"
          @setClientStatus="setClientStatus"
        />
      </v-col>
    </v-row>

    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      top
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useFetch,
  useStore,
  ref,
  useMeta,
  Ref,
  watch,
  useContext,
} from '@nuxtjs/composition-api'

import { useDebounceFn } from '@vueuse/core'
import { CancelTokenSource } from 'axios'
// store
import { statusChangeInit } from '~/store/statusMappings'

// types
import { VuexModuleStatusMappings, StatusMapping } from '~/types/statusMapping'
import { VuexModuleApplications, Header } from '~/types/applications'

const initHeaders = [
  {
    text: 'Service',
    value: 'serviceTypeStatusMapping',
    width: 150,
  },
  {
    text: 'ID Code',
    value: 'code',
    width: 150,
  },
  {
    text: 'Luwjistik Status',
    value: 'luwjistikStatus',
    width: 150,
  },
  {
    text: 'External Status',
    value: 'clientStatusMapping',
    sortable: false,
    width: 150,
  },
] as Header[]

export default defineComponent({
  name: 'StatusMappingPage',
  setup() {
    const { $axios } = useContext()
    // manage store
    const storeStatusMappings = useStore<VuexModuleStatusMappings>()
    const storeApplications = useStore<VuexModuleApplications>()
    const statusMappings = computed(
      () => storeStatusMappings.state.statusMappings.statusMappings
    )
    const omsStatusMapping = computed(
      () => storeStatusMappings.state.statusMappings.omsStatusMapping
    )
    const pagination = ref({
      ...storeApplications.state.applications.unlimitedPagination,
    })
    const alert = computed(() => storeApplications.state.applications.alert)

    const storeState = { statusMappings, omsStatusMapping, pagination, alert }

    // manage alert
    const doSetAlert = (type: string, message: string) => {
      storeApplications.commit('applications/SET_ALERT', {
        isShow: true,
        type,
        message,
      })
    }
    const doResetAlert = () =>
      storeApplications.commit('applications/RESET_ALERT')

    // manage table
    const selectedStatusMappings = ref() as Ref<StatusMapping[]>
    const headers = ref(initHeaders) as Ref<Header[]>

    const loading = ref(false)

    const disableSwitchButton = ref(false)
    const switchButton = ref({
      text: '',
      status: false,
    })

    const stateTable = {
      selectedStatusMappings,
      headers,
      disableSwitchButton,
      switchButton,
      loading,
    }

    const statusChanges = ref([{ ...statusChangeInit }])

    // manage fetch
    const fetchDebounced = useDebounceFn(async (fn: Function) => {
      try {
        $fetchState.pending = true
        await fn()
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }, 300)

    const { $fetchState } = useFetch(() => {})

    let source: CancelTokenSource

    // get status mappings data
    const resetStatusChanges = () => {
      statusChanges.value = [{ ...statusChangeInit }]
    }

    const fetchStatusMappings = () => {
      if (source) source.cancel()

      source = $axios.CancelToken.source()
      fetchDebounced(async () => {
        try {
          await resetStatusChanges()

          await storeStatusMappings.dispatch(
            'statusMappings/getStatusMappings',
            {
              cancelToken: source.token,
            }
          )

          // update switch button value
          switchButton.value = {
            text: omsStatusMapping.value ? 'Hide' : 'Show',
            status: omsStatusMapping.value,
          }

          disableSwitchButton.value = true

          // fill external status if any update in external status
          // and will be a payload for external status update
          for (let i = 0; i < statusMappings.value.length; i++) {
            if (
              statusMappings.value[i].clientStatusMapping.clientStatus !== ''
            ) {
              disableSwitchButton.value = false
              statusChanges.value.push({
                clientStatus:
                  statusMappings.value[i].clientStatusMapping.clientStatus,
                luwjistikStatusCode: statusMappings.value[i].code,
              })
            }
          }

          return
        } catch (error) {
          return error
        }
      })
    }

    // update status mapping for external status
    const updateStatusMappings = async () => {
      try {
        loading.value = true
        const body: Array<Object> = []

        await statusChanges.value.map((item) => {
          if (item.clientStatus !== '') {
            body.push(item)
          }

          return item
        })

        const action = await storeStatusMappings.dispatch(
          'statusMappings/updateStatusMappings',
          {
            body,
          }
        )

        if (action.response) throw action.response

        await fetchStatusMappings()

        doSetAlert('success', `Successfully update status mapping!`)
      } catch (error) {
        doSetAlert('error', `Failed update status mapping!`)
      } finally {
        setTimeout(() => {
          loading.value = false
          doResetAlert()
        }, 3000)
      }
    }

    // enable or disable OMS switcher
    const setOmsEnabler = async (isEnable: boolean) => {
      try {
        loading.value = true

        const action = await storeStatusMappings.dispatch(
          'statusMappings/setOmsEnabler',
          {
            body: { isEnable },
          }
        )

        if (action.response) throw action.response

        await fetchStatusMappings()

        doSetAlert('success', `Successfully update OMS external status!`)
      } catch (error) {
        doSetAlert('error', `Failed update OMS external status!`)
      } finally {
        setTimeout(() => {
          loading.value = false
          doResetAlert()
        }, 3000)
      }
    }

    // emit external status input form
    const setClientStatus = (clientStatus: { code: string; value: string }) => {
      statusChanges.value.map((item, key) => {
        if (item.luwjistikStatusCode === clientStatus.code) {
          return statusChanges.value.splice(key, 1)
        }

        return item
      })

      statusChanges.value.push({
        clientStatus: clientStatus.value,
        luwjistikStatusCode: clientStatus.code,
      })
    }

    const actionFunction = {
      fetchStatusMappings,
      updateStatusMappings,
      setOmsEnabler,
      setClientStatus,
    }

    // watch if there's any action in switch button
    watch(
      () => switchButton.value.status,
      (newValue) => {
        switchButton.value.text = newValue ? 'Hide' : 'Show'
      },
      { deep: true }
    )

    useMeta(() => ({ title: 'Client Portal | Status Mapping' }))

    return {
      // manage store
      ...storeState,
      // manage table
      ...stateTable,
      // manage status mapping function
      ...actionFunction,
    }
  },
  head: {},
})
</script>
