<template>
  <section class="pa-4 pa-md-10 py-8 batchView">
    <BaseHeadlinePage
      :title="selectedTab === 1 ? `MAWB Order List` : 'Upload MAWB Documents'"
    />

    <v-chip-group
      v-model="selectedTab"
      active-class="primary accent-4 white--text"
      column
      class="mb-10 mt-4"
      mandatory
    >
      <v-chip
        :disabled="$fetchState.pending"
        small
        class="custom-chips"
        :value="1"
      >
        Orders
      </v-chip>

      <v-chip
        :disabled="$fetchState.pending"
        small
        class="custom-chips"
        :value="2"
      >
        Documents
      </v-chip>
    </v-chip-group>

    <v-sheet v-if="selectedTab === 2" color="transparent" width="100%">
      <v-card>
        <MawbDocuments />
      </v-card>
    </v-sheet>

    <BaseLoadingLinear v-if="$fetchState.pending" />

    <v-scroll-y-transition hide-on-leave>
      <template v-if="!$fetchState.pending">
        <div v-if="selectedTab === 1">
          <v-card
            v-for="(x, i) in ordersData"
            :key="i"
            elevation="2"
            class="pl-6 pt-6 pb-6 pr-16 mb-6"
            :disabled="$fetchState.pending"
          >
            <v-row>
              <v-col
                cols="12"
                md="4"
                class="d-flex flex-column justify-space-between"
              >
                <div class="link-button mb-4" @click="doGetDetails(x)">
                  {{ x.orderCode }}
                </div>
                <div :style="'color: grey; font-size: 14px'">
                  {{
                    x.items && typeof x.items === 'object' ? x.items.length : 0
                  }}
                  items
                </div>
                <div
                  class="font-weight-bold"
                  :style="'color: grey; font-size: 14px'"
                >
                  {{ x.paymentType }}
                </div>
              </v-col>
              <v-col
                v-if="x.orderAllocations && x.orderAllocations.length > 0"
                cols="12"
                md="8"
                class="d-flex flex-column justify-space-between"
              >
                <div class="font-weight-bold mb-4">
                  {{ x.orderAllocations[0].partnerName }}
                </div>
                <!-- <v-divider
              :style="'border-bottom: 3px solid; border-color: red'"
            /> -->
                <div
                  v-if="
                    x.orderAllocations[0].mappedUpdates &&
                    x.orderAllocations[0].mappedUpdates.length > 0
                  "
                  class="d-flex justify-space-between"
                >
                  <div class="grey--text" :style="'font-size: 14px'">
                    {{ lastStatus(x.orderAllocations) }}
                    <!-- {{x.orderAllocations[0].updates[0].comments}} -->
                  </div>
                  <div :style="'font-size: 15px'">
                    {{
                      $dateFns.format(
                        x.orderAllocations[0].mappedUpdates[0].updateTimestamp,
                        'HH:mm E, MMM dd, yyyy'
                      )
                    }}
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-card>

          <div class="d-flex justify-space-between align-center">
            <div :style="'font-size: 12px; color: red'">
              {{ meta.totalCount }} Orders
            </div>

            <div class="d-flex align-center justify-center">
              <div>
                <v-btn
                  fab
                  small
                  plain
                  :disabled="
                    paginationTracking.page === 1 || $fetchState.pending
                  "
                  @click="nextOrPrev('-')"
                >
                  <v-icon dense color="black"> mdi-menu-left </v-icon>
                </v-btn>
              </div>
              <div class="px-3">
                {{ meta.page }}
              </div>
              <div>
                <v-btn
                  fab
                  small
                  plain
                  :disabled="
                    paginationTracking.page >= meta.totalPage ||
                    $fetchState.pending
                  "
                  @click="nextOrPrev('+')"
                >
                  <v-icon dense color="black"> mdi-menu-right </v-icon>
                </v-btn>
              </div>
            </div>
            <div class="btn-page">
              {{ ordersData && ordersData.length ? ordersData.length : 0 }}
              Orders / Page
            </div>
          </div>
        </div>
      </template>
    </v-scroll-y-transition>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useMeta,
  useRouter,
  useRoute,
  ref,
  computed,
  onUnmounted,
  useStore,
  useContext,
  useFetch,
  watch,
  provide,
} from '@nuxtjs/composition-api'
import MawbDocuments from '../../../components/orders/upload/MawbDocuments.vue'
import { Order, VuexModuleOrders, OrderAllocationData } from '~/types/orders'
import { VuexModuleMarketplaces } from '~/types/marketplace/marketplace'
import { Pagination } from '~/types/applications'

export interface ParseNodeCalc {
  orderCode: String
  id: String
  fmCost: Number
  lmCost: Number
  ccCost: Number
  bobCost: Number
  codCost: Number
  domesticCost: String | Number
  total: Number
  dnt: Number
  adminFee: Number
  currencyBOB: string
  currencyCC: string
  currencyDomestic: string
  currencyDuties: string
  currencyFM: string
  currencyLM: string
  currencyTax: string
}

export interface CheckBatchServiceTypes {
  domestic: boolean
}

/* manage currency
 * @findOccurCurrency - a call back to sorting currency high occurency
 */
export const findOccurCurrency = (
  data: ParseNodeCalc[],
  callback: Function
) => {
  return [...data]
    .filter((item) => callback(item))
    ?.sort(
      (itemA, itemB) =>
        data.filter((value) => callback(value) === callback(itemA)).length -
        data.filter((value) => callback(value) === callback(itemB)).length
    )
    ?.pop() as ParseNodeCalc
}
export const findExistCurrencyForGeneral = (data: ParseNodeCalc) => {
  return (
    data.currencyFM ||
    data.currencyLM ||
    data.currencyDomestic ||
    data.currencyCC ||
    data.currencyBOB
  )
}
export const findExistCurrencyForTax = (data: ParseNodeCalc) => {
  return data.currencyTax || data.currencyDuties
}

export default defineComponent({
  name: 'MAWBDetailPage',
  components: { MawbDocuments },
  setup() {
    const { app } = useContext()
    // manage route
    const router = useRouter()
    const route = useRoute()
    const mawbId = route.value?.params?.mawbId
    provide('mawbId', mawbId)

    // manage store
    const storeOrders = useStore<VuexModuleOrders>()
    const storeMarketplaces = useStore<VuexModuleMarketplaces>()
    const marketplaces = computed(
      () => storeMarketplaces.state.marketplaces.marketplaces.marketplaces
    )
    const meta = computed(() => storeOrders.state.orders.meta)
    const ordersData = computed(() => {
      return storeOrders.state.orders.orders || ([] as Order[])
    })
    const ordersCode = computed(() => {
      const data = storeOrders.state.orders.ordersBatchView
      let parsingData = [] as
        | {
            id: string
            orderCode: string
          }[]
        | []
      if (data && data.length > 0) {
        parsingData = [...data].map((x: Order) => {
          return {
            id: x.id,
            orderCode: x.orderCode,
          }
        })
      }
      return parsingData
    })

    const storeState = { ordersData, ordersCode, meta }
    // manage window
    const selectedTab = ref(1)
    const windowState = { selectedTab }

    // other state
    const pagination = ref({
      page: 1,
      itemsPerPage: 5000,
      sortBy: [''],
      sortDesc: [true],
    })
    const paginationTracking = ref({
      page: 1,
      itemsPerPage: 10,
      sortBy: [''],
      sortDesc: [true],
    })
    const checkBatchServiceTypes = computed(() => {
      return {
        domestic:
          ordersData.value.every((order) =>
            order.requestedServices.includes('DOMESTIC')
          ) || false,
      } as CheckBatchServiceTypes
    })
    const itemDetail = computed(() => {
      let data = route.value?.params?.item
      if (!data) {
        data = JSON.parse(localStorage.getItem('batch.data') as any)
      }
      return data
    })
    const findNamePartner = (id: string) => {
      if (marketplaces.value && marketplaces.value.length > 0) {
        return marketplaces.value.filter((x) => x.id === id)[0]?.name
      }
    }
    const nextOrPrev = (type: string) => {
      switch (type) {
        case '+':
          paginationTracking.value = {
            ...paginationTracking.value,
            page: paginationTracking.value.page + 1,
          }
          break
        case '-':
          paginationTracking.value = {
            ...paginationTracking.value,
            page: paginationTracking.value.page - 1,
          }
          break
        default:
          break
      }
    }
    const doBackTo = () => {
      router.go(-1)
    }
    function lastStatus(orderAllocations: OrderAllocationData[]) {
      return orderAllocations[0].mappedUpdates[0].status
    }
    const doGetDetails = (data: any) => {
      router.push(`/orders/${data.id}`)
    }
    const otherState = {
      itemDetail,
      checkBatchServiceTypes,
      paginationTracking,
    }
    const otherFunction = {
      doBackTo,
      lastStatus,
      doGetDetails,
      nextOrPrev,
      findNamePartner,
    }
    // manage fetch
    const fetchOrders = async ({ params }: { params: Pagination }) => {
      const { page, itemsPerPage } = params
      const perPage = itemsPerPage !== -1 ? itemsPerPage : meta.value.totalCount
      let dataParams = {
        page,
        perPage,
      } as Object
      dataParams = app.$customUtils.setURLParams({
        ...dataParams,
        mawbId: route.value?.params?.mawbId,
      })
      try {
        $fetchState.pending = true
        await storeOrders.dispatch('orders/getOrders', { params: dataParams })
      } catch (error) {
        return error
      } finally {
        $fetchState.pending = false
      }
    }

    const { $fetchState } = useFetch(async () => {
      await fetchOrders({ params: pagination.value })
      await fetchOrders({ params: paginationTracking.value })
    })
    useMeta(() => ({
      title: `Client Portal | Batch Order View`,
    }))
    onUnmounted(() => {
      localStorage.removeItem('batch.data')
    })
    watch(
      paginationTracking,
      (newPagination) => {
        fetchOrders({ params: newPagination })
      },
      { deep: true }
    )

    return {
      // manage store
      ...storeState,
      // manage window
      ...windowState,
      // other state
      ...otherState,
      ...otherFunction,
      mawbId,
    }
  },
  head: {},
})
</script>

<style lang="scss">
@import '@/assets/scss/color.module.scss';

.batchView {
  margin-bottom: 40rem;
  .custom-tab {
    border-radius: 16px 16px 0 0 !important;
  }

  .custom-bg {
    position: absolute;
    bottom: 500px;
    margin-left: -100px;
  }

  @media only screen and (min-width: 1024px) {
    .custom-bg {
      bottom: 300px;
      width: 100vw;
      margin-left: -100px;
    }
  }
  .v-list-item {
    min-height: 36px;
    padding: unset;
  }
  .custom-chips {
    color: $primary;
    background: transparent !important;
    border: 1px solid $primary;
    margin: 0 8px 0 0;
    padding: 15px 20px;
    font-size: 0.875rem;
    border-radius: 30px;

    &.v-chip--active {
      background: $primary !important;
    }

    &.blue {
      background: $primary !important;
      border: 1px solid $primary !important;
    }
  }
  .btn-page {
    border: 1px solid $primary;
    padding: 5px 15px;
    border-radius: 20px;
    color: $secondary;
    font-size: 12px;
  }
  .link-button {
    color: $primary;
    font-weight: bold;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
</style>
