<template>
  <article class="bagging-list pa-8">
    <v-list v-if="!!unbaggedCount.length">
      <template
        v-for="(
          { Count, ConsigneeCountry, DestPortName, OrigPortName, Partners },
          countIndex
        ) in unbaggedCount"
      >
        <!-- group unbagged -->
        <v-list-group
          v-if="Count"
          :key="countIndex"
          active-class="active-list-bag"
          :disabled="isLoading || loading"
          @click="doSelectUnbagged.count(countIndex)"
        >
          <template #activator>
            <v-list-item-content class="flex-nowrap">
              <v-list-item-title class="font-weight-bold">
                {{ ConsigneeCountry }} -
                {{ DestPortName }}
              </v-list-item-title>

              <v-list-item-subtitle>
                Total Orders: {{ Count }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </template>

          <!-- group partners -->
          <v-list
            v-if="Object.keys(selected.unbaggedCount).length"
            class="px-4 py-2"
          >
            <v-list-group
              v-for="(
                { CcCode, LmCode, Count: PartnerCount }, partnerIndex
              ) in Partners"
              :key="partnerIndex"
              prepend-icon="mdi-menu-down"
              :disabled="isLoading || loading"
              active-class="active-list-bag"
              @click="doSelectUnbagged.orderGroup(partnerIndex)"
            >
              <template #activator>
                <v-list-item-content class="flex-nowrap">
                  <v-list-item-title class="font-weight-bold">
                    {{ OrigPortName }}{{ DestPortName }}{{ CcCode }}{{ LmCode }}
                  </v-list-item-title>

                  <v-list-item-subtitle>
                    Total Orders: {{ PartnerCount }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </template>

              <!-- group orders -->
              <v-list-item-group
                v-if="unbaggedOrders.data.length"
                v-model="selected.order"
                multiple
                class="py-4"
              >
                <v-list-item
                  v-for="({ id, orderCode }, orderIndex) in unbaggedOrders.data"
                  :key="orderIndex"
                  :disabled="isLoading || loading"
                  active-class="active-list-orders"
                  class="group-orders mx-10"
                >
                  <template #default="{ active }">
                    <v-list-item-action>
                      <v-checkbox
                        :ripple="{ class: `primary--text` }"
                        :input-value="active"
                        on-icon="mdi-checkbox-marked-circle"
                        off-icon="mdi-checkbox-blank-circle-outline"
                        color="primary"
                      />
                    </v-list-item-action>

                    <v-list-item-content>
                      <v-list-item-title>
                        <v-btn
                          text
                          color="primary"
                          nuxt
                          :to="`/orders/${id}`"
                          target="_blank"
                        >
                          {{ orderCode }}
                        </v-btn>
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>
                </v-list-item>

                <BasePagination
                  v-model="pagination.order"
                  :meta="unbaggedOrders.meta"
                  :loading="isLoading || loading"
                  class="bagging-pagination mt-6 mb-8 mx-8"
                  @resetPage="pagination.order.page = 1"
                />
              </v-list-item-group>
              <!-- end group orders -->
            </v-list-group>
          </v-list>
          <!-- end group partners -->
        </v-list-group>
        <!-- end group unbagged -->
      </template>
    </v-list>

    <v-subheader
      v-else
      class="text--secondary font-weight-medium text-center d-block"
    >
      No data available
    </v-subheader>
  </article>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  useStore,
  ref,
  useFetch,
  useContext,
  watch,
  onMounted,
} from '@nuxtjs/composition-api'
// types
import { CancelTokenSource } from 'axios'
import { VuexModuleApplications } from '~/types/applications'
import {
  InputPostBag,
  ParamsGetUnbaggedOrders,
  UnbaggedCount,
  UnbaggedPartner,
  VuexModuleDetailBagging,
} from '~/types/bagging/bagging'

interface SelectedUnbaggedCount extends UnbaggedCount {
  index: number
}

interface SelectedUnbaggedOrderGroup extends UnbaggedPartner {
  index: number
}

export default defineComponent({
  name: 'UnbaggedList',
  props: {
    value: {
      type: Object as PropType<InputPostBag>,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const { app, $axios, $dateFns } = useContext()

    // manage store
    const storeOfApplications = useStore<VuexModuleApplications>()
    const storeOfBagging = useStore<VuexModuleDetailBagging>()
    const { unbaggedData: storeUnbaggedData } =
      storeOfBagging.state.bagging.bagging
    // * get unbagged (count and orders) from store
    const unbaggedCount = computed(() => [...storeUnbaggedData.count])
    const unbaggedOrders = computed(() => ({ ...storeUnbaggedData.order }))
    // * paginated data for unbagged orders
    const pagination = ref({
      order: {
        ...storeOfApplications.state.applications.pagination,
        page: 1,
        itemsPerPage: 10,
      },
    })
    const doResetPagination = {
      order: () => {
        pagination.value.order = {
          ...storeOfApplications.state.applications.pagination,
          page: 1,
          itemsPerPage: 10,
        }
      },
    }
    const storeState = {
      unbaggedCount,
      unbaggedOrders,
      pagination,
      doResetPagination,
    }

    // selected state for post bag
    const isLoading = computed(() => $fetchState?.pending || false)
    const selectedUnbagged = computed({
      get: () => props.value,
      set: (value) => {
        emit('input', value)
      },
    })
    const selected = ref({
      // * for selected unbagged
      unbaggedCount: {} as SelectedUnbaggedCount,
      // * for selected unbagged orders group
      orderGroup: {} as SelectedUnbaggedOrderGroup,
      // * for selected unbagged multiple order
      order: [] as number[],
    })
    const doResetSelected = {
      all: () => {
        doResetSelected.unbaggedCount()
        doResetSelected.unbaggedOrderGroup()
        doResetSelected.unbaggedOrder()
        doResetSelected.selectedUnbagged()
      },
      // * reset selected unbagged count data
      unbaggedCount: () => {
        selected.value.unbaggedCount = {} as SelectedUnbaggedCount
      },
      // * reset selected unbagged order group
      unbaggedOrderGroup: () => {
        selected.value.orderGroup = {} as SelectedUnbaggedOrderGroup
        doResetSelected.unbaggedOrder()
      },
      // * reset selected unbagged order
      unbaggedOrder: () => {
        selected.value.order = []
        doResetPagination.order()
        doResetSelected.selectedUnbagged()
        storeOfBagging.commit('bagging/bagging/RESET_UNBAGGED_ORDERS')
      },
      // * reset selected unbagged (for post bag)
      selectedUnbagged: () => {
        selectedUnbagged.value = {} as InputPostBag
      },
    }
    const doSelectUnbagged = {
      // *function for selected count settings
      count: (indexData: number) => {
        doResetSelected.unbaggedOrderGroup()
        // check is selected unbagged is exist
        const isExist = unbaggedCount.value?.find(
          (_unbagged, index) => index === indexData
        )

        if (
          !unbaggedCount.value.length ||
          !isExist?.Count ||
          selected.value.unbaggedCount.index === indexData
        ) {
          doResetSelected.unbaggedCount()
          return
        }

        selected.value.unbaggedCount = { ...isExist, index: indexData }
      },
      // *function for selected order groupsettings
      orderGroup: async (indexData: number) => {
        doResetSelected.unbaggedOrder()
        const { SenderPortId, DestinationPortId, Partners } =
          selected.value.unbaggedCount
        const { page, itemsPerPage } = pagination.value.order
        const isExist = Partners?.find((_order, index) => index === indexData)
        const setParams = {
          page,
          perPage: itemsPerPage,
          origin: SenderPortId,
          destination: DestinationPortId,
          cc_partner: isExist?.CcPartner,
          lm_partner: isExist?.LmPartner,
        } as ParamsGetUnbaggedOrders

        if (selected.value.orderGroup.index === indexData) {
          doResetSelected.unbaggedOrderGroup()
          return
        }

        params.value.getUnbaggedOrders = setParams
        await doFetchgetUnbaggedOrders()
        selected.value.orderGroup = { ...isExist, index: indexData }
      },
    }
    const OtherState = {
      isLoading,
      selectedUnbagged,
      selected,
      doSelectUnbagged,
      doResetSelected,
    }

    // * fetch a unbagged/orders
    let source: CancelTokenSource
    const doFetchWithToken = async (fn: Function) => {
      try {
        $fetchState.pending = true

        if (source) source.cancel()

        source = $axios.CancelToken.source()
        await fn()
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    // fetch the unbagged/orders after selected unbagged/count
    const params = ref({
      getUnbaggedOrders: {} as ParamsGetUnbaggedOrders,
    })
    const doFetchgetUnbaggedOrders = async () => {
      await doFetchWithToken(async () => {
        await storeOfBagging.dispatch('bagging/bagging/getUnbaggedOrders', {
          params: app.$customUtils.setURLParams({
            ...params.value.getUnbaggedOrders,
          }),
          cancelToken: source.token,
        })
      })
    }
    const { $fetchState } = useFetch(() => {})
    const fetchState = { doFetchgetUnbaggedOrders }

    /* WATCH */
    // selected order
    watch(
      () => selected.value.order,
      (newValue) => {
        if (!newValue.length) {
          doResetSelected.selectedUnbagged()
          return
        }

        const { OrigPortName, DestPortName } = selected.value.unbaggedCount
        const { CcCode, LmCode } = selected.value.orderGroup
        // set the bage name
        const dateTime = $dateFns.format(new Date(), 'yyyyMMddHHmmss')
        const bagName = `${OrigPortName}${DestPortName}${CcCode}${LmCode}-${dateTime}`

        // filter the orders
        const orderIds = unbaggedOrders.value.data
          .filter((_order, index) => newValue.includes(index))
          .map((order) => order.id)

        selectedUnbagged.value = {
          bag_name: bagName,
          order_ids: orderIds,
        }
      },
      { deep: true }
    )
    // pagination
    watch(
      () => pagination.value.order,
      async (newValue) => {
        storeOfApplications.commit('applications/SET_PAGINATION', {
          ...newValue,
        })

        // do the fetch data if any selected unbagged order group
        if (!Object.keys(selected.value.orderGroup)?.length) return

        const { page, itemsPerPage: perPage } = pagination.value.order

        params.value.getUnbaggedOrders = {
          ...params.value.getUnbaggedOrders,
          page,
          perPage,
        }
        await doFetchgetUnbaggedOrders()
      },
      { deep: true }
    )
    /* END WATCH */

    onMounted(() => {
      doResetSelected.all()
      doResetPagination.order()
      storeOfBagging.commit('bagging/bagging/RESET_UNBAGGED_COUNT')
    })

    return {
      // manage store
      ...storeState,
      // manage fetch
      ...fetchState,
      ...OtherState,
    }
  },
})
</script>

<style lang="scss">
@import '@/assets/scss/bagging/main.scss';
</style>
