<template>
  <v-card-text class="px-6">
    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="Partners"
      rules="required|minMaxItems: 2, 5"
      tag="div"
    >
      <v-autocomplete
        v-model="selection.partners"
        :items="selectData.partners.data"
        :search-input.sync="search.partner"
        :disabled="$fetchState.pending"
        :error-messages="errors"
        outlined
        rounded
        dense
        single-line
        multiple
        item-text="name"
        item-value="slug"
        background-color="white"
        label="Partners"
        placeholder="Select the partners..."
      >
        <template #selection="{ item, index }">
          <v-chip v-if="index === 0" color="primary">
            <span>{{ item.name }}</span>
          </v-chip>

          <span v-if="index === 1" class="grey--text text-caption">
            (+{{ selection.partners.length - 1 }} others)
          </span>
        </template>

        <template #append-item>
          <div v-if="$fetchState.pending" class="d-flex justify-center">
            <v-progress-circular indeterminate color="primary" />
          </div>

          <div v-else v-intersect="partnerIntersect" />
        </template>
      </v-autocomplete>
    </ValidationProvider>
  </v-card-text>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  Ref,
  computed,
  useStore,
  PropType,
  useFetch,
} from '@nuxtjs/composition-api'
import { ValidationProvider } from 'vee-validate'
// types
import { Pagination } from '~/types/applications'
import { VuexModuleMarketplaces } from '~/types/marketplace/marketplace'
import { UserSelection } from '@/types/marketplace/partnerComparison'
import { VuexModuleFilters } from '~/types/filters'

export default defineComponent({
  components: { ValidationProvider },
  props: {
    value: {
      type: Object as PropType<UserSelection>,
      required: true,
    },
  },
  setup(props, { emit }) {
    // manage store
    const storeGeneral = useStore<VuexModuleFilters>()
    const storeMarketplace = useStore<VuexModuleMarketplaces>()
    const selectData = computed(() => {
      // partners
      const partners = {
        data: [
          ...storeMarketplace.state.marketplaces.marketplaces.marketplaces,
        ],
        ...storeMarketplace.state.marketplaces.marketplaces.meta,
      }

      return {
        partners,
      }
    })
    const storeState = { selectData }

    // other state
    const selection = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })
    const search = ref({
      partner: '',
    })
    const partnersMeta = ref({
      page: 1,
      itemsPerPage: 10,
    }) as Ref<Pagination>
    const partnerIntersect = async (
      _entries: IntersectionObserverEntry[],
      _observer: IntersectionObserver,
      isIntersecting: boolean
    ) => {
      if (
        !isIntersecting ||
        partnersMeta.value.itemsPerPage >= selectData.value.partners.totalCount
      ) {
        return
      }

      partnersMeta.value = {
        page: 1,
        itemsPerPage: partnersMeta.value.itemsPerPage + 10,
      }
      await getPartners()
    }
    const otherState = { selection, search, partnersMeta, partnerIntersect }

    // manage fetch
    const getPartners = async () => {
      const { page, itemsPerPage } = partnersMeta.value
      const { partner } = search.value
      const { country, port, zone, serviceType } = selection.value
      const portId =
        storeGeneral.state.filters.ports.data?.find(
          (item) => port === item.code
        )?.id || ''
      const zoneId =
        storeGeneral.state.filters.zones?.find((item) => zone === item.zoneName)
          ?.id || ''

      await storeMarketplace.dispatch(
        'marketplaces/marketplaces/getMarketplaces',
        {
          params: {
            page,
            perPage: itemsPerPage,
            search: partner,
            country,
            service: [serviceType],
            zone: zoneId,
            port: portId,
          },
        }
      )
    }
    const fetchTimer = ref(null) as unknown as Ref<any>
    const getPartnersDebounce = () => {
      clearTimeout(fetchTimer.value)

      fetchTimer.value = setTimeout(async () => {
        await getPartners()
      }, 300)
    }
    useFetch(async () => {
      await getPartnersDebounce()
    })

    return {
      // manage store
      ...storeState,
      // other state
      ...otherState,
    }
  },
})
</script>
