<template>
  <v-simple-table
    fixed-header
    height="600px"
    style="border: 2px solid rgb(25, 118, 210, 0.5)"
    class="mt-10 elevation-2"
  >
    <template #default>
      <thead>
        <tr>
          <th class="text-center rounded-tl-xl" />

          <template v-for="(partner, index) in partnerList">
            <th
              :key="partner"
              :class="`text-center ${index === 4 ? 'rounded-tr-xl' : ''}`"
            >
              <template v-if="partnerList.length > 2">
                <v-hover v-slot="{ hover }">
                  <v-badge
                    :value="hover"
                    dark
                    overlap
                    color="primary"
                    icon="mdi-minus"
                    transition="slide-x-transition"
                    class="my-4"
                  >
                    <v-btn
                      text
                      depressed
                      color="black"
                      @click="$emit('toggleRemovePartner', partner)"
                    >
                      {{ partner }}
                    </v-btn>
                  </v-badge>
                </v-hover>
              </template>

              <span v-else>{{ partner }}</span>
            </th>
          </template>

          <th v-if="partnerList.length !== 5" class="text-center rounded-tr-xl">
            <v-btn
              plain
              block
              color="primary"
              class="my-2"
              @click="$emit('toggleAddPartners')"
            >
              <v-icon left>mdi-plus</v-icon>

              <span> Add more partner </span>
            </v-btn>
          </th>
        </tr>
      </thead>

      <tbody>
        <template v-for="(rate, index) in ratesFormatted">
          <tr :key="index">
            <td
              :class="`text-center ${
                rate.cellName.includes('COD') || rate.cellName.includes('SLA')
                  ? 'font-weight-bold'
                  : ''
              }`"
              style="min-width: 200px"
            >
              {{ rate.cellName }}
            </td>

            <template v-for="partner in partnerList">
              <td :key="partner" class="text-center">
                {{ setViewData(rate.cellName, rate[partner]) || '-' }}
              </td>
            </template>

            <td v-if="partnerList.length !== 5" class="text-center" />
          </tr>

          <tr
            v-if="rate.cellName.includes('COD') && ratesFormatted[index + 1]"
            :key="`weight title ${rate}`"
          >
            <td class="text-center font-weight-bold">
              <span class="d-block mt-6 mb-4"> WEIGHT </span>
            </td>

            <template v-for="partner in partnerList">
              <td :key="partner" class="text-center" />
            </template>

            <td class="text-center" />
          </tr>
        </template>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script lang="ts">
import {
  defineComponent,
  useStore,
  computed,
  PropType,
  ref,
} from '@nuxtjs/composition-api'
// types
import { VuexModuleCompare } from '~/types/marketplace/partnerComparison'
import { RatesFormatted } from '~/pages/marketplace/partner-comparison/index.vue'

export default defineComponent({
  props: {
    ratesFormatted: {
      type: Array as PropType<RatesFormatted[]>,
      required: true,
    },
  },
  setup() {
    // manage store
    const storeCompare = useStore<VuexModuleCompare>()
    const partnerList = computed(() => [
      ...storeCompare.state.marketplaces.partnerComparison.rates.map(
        (rate) => rate.name
      ),
    ])
    const storeState = { partnerList }

    const hoverPartner = ref(false)
    const setViewData = (
      cellName: string,
      data: { rate: string; currency: string } | string
    ) => {
      if (
        !data ||
        (cellName !== 'SLA' &&
          cellName !== 'COD' &&
          !(data as { rate: string; currency: string }).currency)
      )
        return '-'
      if (cellName === 'SLA') return data ? `${data} Days` : ''
      if (cellName === 'COD') return Number(data) > 0 ? 'YES' : 'NO'
      if (cellName !== 'SLA' && cellName !== 'COD')
        return new Intl.NumberFormat('en-US', {
          style: 'currency',
          maximumFractionDigits: 2,
          currencyDisplay: 'code',
          currency: (data as { rate: string; currency: string }).currency,
        }).format(parseFloat((data as { rate: string; currency: string }).rate))

      return data
    }
    const otherState = { hoverPartner, setViewData }

    return { ...storeState, ...otherState }
  },
})
</script>
