<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-row align="center" class="mt-6">
      <v-col cols="12" md="3">
        <v-autocomplete
          v-model="selection.country"
          :items="selectData.countries"
          :search-input.sync="search.country"
          :disabled="$fetchState.pending"
          :rules="rules.countries"
          outlined
          rounded
          dense
          single-line
          item-text="name"
          item-value="value"
          background-color="white"
          label="Country"
          placeholder="Select the country..."
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>
          </template>
        </v-autocomplete>
      </v-col>

      <v-col cols="12" md="3">
        <v-autocomplete
          v-model="selection.serviceType"
          :items="selectData.serviceTypes"
          :search-input.sync="search.serviceType"
          :disabled="$fetchState.pending"
          :rules="rules.serviceTypes"
          outlined
          rounded
          dense
          single-line
          item-text="text"
          item-value="value"
          background-color="white"
          label="Service Type"
          placeholder="Select the service type..."
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>
          </template>
        </v-autocomplete>
      </v-col>

      <v-col v-if="selection.country && selection.serviceType" cols="12" md="3">
        <v-autocomplete
          v-if="selection.serviceType !== 'CUSTOMS'"
          v-model="selection.zone"
          :items="selectData.zones"
          :search-input.sync="search.zone"
          :disabled="$fetchState.pending"
          :rules="rules.zones"
          outlined
          rounded
          dense
          single-line
          item-text="text"
          item-value="zoneName"
          background-color="white"
          label="Zone"
          placeholder="Select the zone..."
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>
          </template>
        </v-autocomplete>

        <v-autocomplete
          v-else
          v-model="selection.port"
          :items="selectData.ports.data"
          :search-input.sync="search.port"
          :disabled="$fetchState.pending"
          :rules="rules.ports"
          outlined
          rounded
          dense
          single-line
          item-text="name"
          item-value="code"
          background-color="white"
          label="Port"
          placeholder="Select the port..."
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>

            <div v-else v-intersect="portIntersect" />
          </template>
        </v-autocomplete>
      </v-col>

      <v-col v-if="!selection.submit" cols="12" md="3">
        <v-autocomplete
          v-model="selection.partners"
          :items="selectData.partners.data"
          :search-input.sync="search.partner"
          :disabled="$fetchState.pending"
          :rules="rules.partners"
          outlined
          rounded
          dense
          single-line
          multiple
          item-text="name"
          item-value="slug"
          background-color="white"
          label="Partners"
          placeholder="Select the partners..."
        >
          <template #selection="{ item, index }">
            <v-chip v-if="index === 0" color="primary">
              <span>{{ item.name }}</span>
            </v-chip>

            <span v-if="index === 1" class="grey--text text-caption">
              (+{{ selection.partners.length - 1 }} others)
            </span>
          </template>

          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>

            <div v-else v-intersect="partnerIntersect" />
          </template>
        </v-autocomplete>
      </v-col>
    </v-row>

    <v-row v-if="!selection.submit" align="center" justify="center">
      <v-col cols="2">
        <v-hover v-slot="{ hover }">
          <v-btn
            :disabled="$fetchState.pending || loading || !valid"
            :outlined="!hover"
            rounded
            block
            color="primary"
            style="transition: all 0.4s ease-in-out"
            @click="doSubmit"
          >
            Submit
          </v-btn>
        </v-hover>
      </v-col>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import {
  defineComponent,
  useContext,
  useStore,
  computed,
  useFetch,
  PropType,
  ref,
  watch,
  Ref,
} from '@nuxtjs/composition-api'
// types
import { CancelTokenSource } from 'axios'
import { ServiceType, VuexModuleFilters } from '~/types/filters'
import { UserSelection } from '@/types/marketplace/partnerComparison'
import { Pagination, VForm } from '~/types/applications'
import { VuexModuleMarketplaces } from '~/types/marketplace/marketplace'

export default defineComponent({
  name: 'SelectContainer',
  props: {
    value: {
      type: Object as PropType<UserSelection>,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
  },
  setup(props, { emit }) {
    const { app, $axios } = useContext()

    // manage store
    const storeGeneral = useStore<VuexModuleFilters>()
    const storeMarketplace = useStore<VuexModuleMarketplaces>()
    const selectData = computed(() => {
      // countries
      const countries = [...storeGeneral.state.filters.countryCodes]
      // service types
      const serviceTypes = (
        app.$customUtils.sortServiceTypes([
          ...storeGeneral.state.filters.serviceTypes,
        ]) as ServiceType[]
      )
        .filter((type) => type.name === 'LAST_MILE')
        .map((type) => ({
          text: app.$customUtils.setServiceType(type.name).toUpperCase(),
          value: type.name,
        }))
      // zones
      const zones = [
        ...storeGeneral.state.filters.zones.map((zone) => ({
          ...zone,
          text: zone.zoneName.toUpperCase(),
        })),
      ]
      // ports
      const ports = { ...storeGeneral.state.filters.ports }
      // partners
      const partners = {
        data: [
          ...storeMarketplace.state.marketplaces.marketplaces.marketplaces,
        ],
        ...storeMarketplace.state.marketplaces.marketplaces.meta,
      }

      return {
        countries,
        serviceTypes,
        zones,
        ports,
        partners,
      }
    })
    const storeState = { selectData }

    const valid = ref(false)
    const selection = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })
    const search = ref({
      country: '',
      serviceType: '',
      zone: '',
      port: '',
      partner: '',
    })
    const rules = computed(() => ({
      countries: [(value: string) => !!value || 'You must select the country!'],
      serviceTypes: [
        (value: string) => !!value || 'You must select the service type!',
      ],
      zones: [(value: string) => !!value || 'You must select the zone!'],
      ports: [(value: string) => !!value || 'You must select the port!'],
      partners: [
        (_value: string[]) =>
          selection.value.partners.length <= 5 ||
          'You can choose maximum 5 partners!',
        (_value: string[]) =>
          selection.value.partners.length >= 2 ||
          'You can choose minimun 2 partners!',
      ],
    }))
    const portsMeta = ref({
      page: 1,
      itemsPerPage: 10,
    }) as Ref<Pagination>
    const partnersMeta = ref({
      page: 1,
      itemsPerPage: 10,
    }) as Ref<Pagination>
    const portIntersect = async (
      _entries: IntersectionObserverEntry[],
      _observer: IntersectionObserver,
      isIntersecting: boolean
    ) => {
      if (
        !isIntersecting ||
        portsMeta.value.itemsPerPage >= selectData.value.ports.totalCount
      ) {
        return
      }

      portsMeta.value = {
        page: 1,
        itemsPerPage: portsMeta.value.itemsPerPage + 10,
      }
      await getPorts()
    }
    const partnerIntersect = async (
      _entries: IntersectionObserverEntry[],
      _observer: IntersectionObserver,
      isIntersecting: boolean
    ) => {
      if (
        !isIntersecting ||
        partnersMeta.value.itemsPerPage >= selectData.value.partners.totalCount
      ) {
        return
      }

      partnersMeta.value = {
        page: 1,
        itemsPerPage: partnersMeta.value.itemsPerPage + 10,
      }
      await getPartners()
    }
    const form = ref(null) as unknown as Ref<VForm>
    const doSubmit = async () => {
      const isValid = await form.value.validate()

      if (!isValid) return

      emit('doGetRates')
    }
    const otherState = {
      valid,
      selection,
      search,
      rules,
      portsMeta,
      portIntersect,
      partnersMeta,
      partnerIntersect,
      form,
      doSubmit,
    }

    // manage fetch
    const getPorts = async () => {
      const params = app.$customUtils.setURLParams({
        page: portsMeta.value.page,
        perPage: portsMeta.value.itemsPerPage,
        country: selection.value.country,
      })

      await storeGeneral.dispatch('filters/getPorts', {
        params,
      })
    }
    const fetchTimer = ref(null) as unknown as Ref<any>
    const getPartnersDebounce = () => {
      clearTimeout(fetchTimer.value)

      fetchTimer.value = setTimeout(async () => {
        await getPartners()
      }, 300)
    }
    let source: CancelTokenSource
    const getPartners = async () => {
      const { page, itemsPerPage } = partnersMeta.value
      const { partner } = search.value
      const { country, port, zone, serviceType } = selection.value
      const portId =
        selectData.value.ports.data?.find((item) => port === item.code)?.id ||
        ''
      const zoneId =
        selectData.value.zones?.find((item) => zone === item.zoneName)?.id || ''

      if (source) source.cancel()

      source = $axios.CancelToken.source()
      await storeMarketplace.dispatch(
        'marketplaces/marketplaces/getMarketplaces',
        {
          params: {
            page,
            perPage: itemsPerPage,
            search: partner,
            country,
            service: [serviceType],
            zone: zoneId,
            port: portId,
          },
          cancelToken: source.token,
        }
      )
    }
    useFetch(async () => {
      await storeGeneral.dispatch('filters/getCountryCodes', {
        params: { isActive: true },
      })
      await storeGeneral.dispatch('filters/getServiceTypes')
    })

    // selection country and service type watcher
    watch(
      () => [selection.value.country, selection.value.serviceType],
      async (newValue) => {
        const [country, serviceType] = newValue

        // getting the ports data
        if (country && serviceType && serviceType === 'CUSTOMS') {
          selection.value.port = ''
          await getPorts()
          return
        }

        // getting the zones data
        selection.value.zone = ''
        await storeGeneral.dispatch('filters/getZones', {
          params: { country },
        })
      },
      { deep: true }
    )
    // selection country and service type, zone, port watcher
    watch(
      () => [
        selection.value.country,
        selection.value.serviceType,
        selection.value.zone,
        selection.value.port,
      ],
      async () => {
        if (selection.value.partners.length) {
          selection.value.partners = []
        }

        selection.value.submit = false
        await getPartnersDebounce()
      },
      { deep: true }
    )
    // search partner watcher
    watch(
      () => search.value.partner,
      async () => {
        await getPartnersDebounce()
      }
    )

    return {
      // manage store
      ...storeState,
      ...otherState,
    }
  },
})
</script>
