<template>
  <section class="pa-4 pa-md-10 py-8 custom-margin">
    <NuxtImg
      v-once
      src="/images/upload-orders/bg_luwjistik.png"
      format="webp"
      preload
      class="custom-bg"
    />

    <BaseBackButton v-once @doBackTo="doBackTo" />

    <BaseHeadlinePage
      v-once
      title="Upload Orders"
      subtitle="Upload the new order according to the sample file provided."
    />

    <v-sheet color="transparent" width="100%" class="mx-10">
      <v-btn
        v-for="({ text, icon, disabled }, index) in stepList"
        :key="text"
        :color="isActive(index) ? 'primary' : 'white'"
        :class="[isActive(index) ? 'white--text' : 'primary--text']"
        :disabled="disabled"
        class="custom-tab mx-2"
        @click="doChangeWindow(index)"
      >
        <v-icon v-cloak left dark size="28"> {{ icon }} </v-icon>

        {{ disabled ? `${text} (Coming Soon)` : text }}
      </v-btn>
    </v-sheet>

    <v-card elevation="2">
      <v-window v-model="step">
        <v-window-item>
          <OrdersUploadForm v-show="step === 0" :step="step" />
        </v-window-item>

        <v-window-item>
          <OrdersUploadForm v-show="step === 1" :step="step" />
        </v-window-item>

        <v-window-item>
          <B2BShipmentForm v-show="step === 2" />
        </v-window-item>
      </v-window>
    </v-card>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useMeta,
  useRouter,
  ref,
  useFetch,
} from '@nuxtjs/composition-api'
import { useState, useMutations, useActions } from 'vuex-composition-helpers'

// components - start
import B2BShipmentForm from '~/components/orders/upload/b2b/B2BShipmentForm.vue'
// components - end

// types - start
import {
  ActionsApplications,
  MutationsApplications,
  RootStateApplications,
} from '~/store/applications'
// types - end

export default defineComponent({
  name: 'UploadOrdersPages',
  components: {
    B2BShipmentForm,
  },
  setup() {
    // manage router - start
    const router = useRouter()
    const doBackTo = () => {
      router.go(-1)
    }
    // manage router - end

    // manage store - start
    const { suspensionAllowedActions } = useState<RootStateApplications>(
      'applications',
      ['suspensionAllowedActions']
    )
    const { SET_ALERT: setAlertMutations } =
      useMutations<MutationsApplications>('applications', ['SET_ALERT'])
    // manage store - end

    // manage feature flags - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const isUseFlags = ref({
      b2b: false,
    })
    // manage feature flags - end

    // manage windows - start
    const step = ref(1)
    const stepList = ref([
      {
        text: 'Domestic',
        icon: '$domestic',
        disabled: false,
      },
      {
        text: 'Cross border',
        icon: '$freight',
        disabled: false,
      },
      {
        text: 'B2B Shipment',
        icon: '$b2b',
        disabled: false,
      },
    ])
    const isActive = (data: number) => step.value === data
    const doChangeWindow = (data: number) => {
      step.value = data
    }
    const stateWindows = {
      step,
      stepList,
      isActive,
      doChangeWindow,
    }
    // manage windows - end

    // manage title page - start
    useMeta(() => {
      const currentTitle =
        step.value === 0
          ? 'Domestic'
          : step.value === 2
          ? 'B2B Shipment'
          : 'Cross Border'

      return {
        title: `Client Portal | ${
          step.value === 2 ? `${currentTitle}` : `Upload ${currentTitle} Orders`
        }`,
      }
    })
    // manage title page - end

    // manage fetch - start
    useFetch(async () => {
      // get the feature flags b2b shipment
      isUseFlags.value.b2b = await getFeatureFlags('use-b2b-shipment')
      if (!isUseFlags.value.b2b) {
        stepList.value = stepList.value.filter(
          (list) => list.text !== 'B2B Shipment'
        )
      }

      // get the suspension features
      if (!suspensionAllowedActions?.value?.submitOrder) {
        setAlertMutations({
          isShow: true,
          type: 'error',
          message: 'Account Suspended. Please contact Luwjistik!',
        })
      }
    })
    // manage fetch - end

    return {
      suspensionAllowedActions,
      isUseFlags,
      doBackTo,
      ...stateWindows,
    }
  },
  head: {},
})
</script>

<style scoped>
.custom-margin {
  margin-bottom: 40rem;
}

.custom-bg {
  position: absolute;
  bottom: 500px;
  margin-left: -100px;
}

@media only screen and (min-width: 1024px) {
  .custom-bg {
    bottom: 300px;
    width: 100vw;
    margin-left: -100px;
  }
}
</style>
