<template>
  <section class="pa-4 pa-md-10 py-8 LFreightPage">
    <v-row>
      <div class="my-6 font-weight-bold" :style="'font-size: 14px'">
        ACTIVE LANES ({{ activeLaneData.length }})
      </div>
    </v-row>
    <v-row>
      <v-col cols="12" md="3" class="px-2 py-4">
        <v-autocomplete
          v-model="filter.origin"
          :items="activePortData"
          item-text="originPortCode"
          item-value="originPortCode"
          clearable
          outlined
          rounded
          dense
          single-line
          hide-details
          background-color="white"
          label="Origin"
          placeholder="Enter your origin port..."
          class="input-select-filter elevation-1"
        ></v-autocomplete>
      </v-col>
      <v-col cols="12" md="3" class="px-2 py-4">
        <v-autocomplete
          v-model="filter.destination"
          :items="activePortData"
          item-text="destinationPortCode"
          item-value="destinationPortCode"
          clearable
          outlined
          rounded
          dense
          single-line
          hide-details
          background-color="white"
          label="Destination"
          placeholder="Enter your destination port..."
          class="input-select-filter elevation-1"
        ></v-autocomplete>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-for="(item, i) in filteredData" :key="i" cols="12" md="6">
        <LFreightCardRequest :item="item" :step="step" @fetch="$fetch" />
      </v-col>
    </v-row>
    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  useFetch,
  computed,
  useStore,
  useMeta,
  watchEffect,
} from '@nuxtjs/composition-api'

// Interface and types
import { VuexModuleLFreight } from '~/types/lFreight/lFreight'
import { VuexModuleApplications } from '~/types/applications'

export default defineComponent({
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
  setup() {
    useMeta(() => ({ title: 'Client Portal | L-Freight' }))

    // manage store
    const storeOfApplications = useStore<VuexModuleApplications>()
    const storeOfLFreight = useStore<VuexModuleLFreight>()
    const activeLaneData = computed(
      () => (storeOfLFreight.state.lFreight.lFreight as any).activeList
    )
    const filteredData = ref([])
    const activePortData = computed(() => {
      return filteredData.value
    })
    const alert = computed(() => storeOfApplications.state.applications.alert)
    const storeState = { activeLaneData, alert }

    // manage fetch
    async function fetchActiveLanes() {
      try {
        $fetchState.pending = true
        await storeOfLFreight.dispatch('lFreight/lFreight/getActiveLanes')
        filteredData.value = activeLaneData.value
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const { $fetchState } = useFetch(async () => {
      await fetchActiveLanes()
    })
    // manage filter
    const filter = ref({
      origin: null,
      destination: null,
    })

    watchEffect(async () => {
      if (filter.value.origin && filter.value.destination) {
        filteredData.value = await activeLaneData.value.filter(
          (data: any) =>
            data.originPortCode === filter.value.origin &&
            data.destinationPortCode === filter.value.destination
        )
      } else if (filter.value.origin) {
        filteredData.value = await activeLaneData.value.filter(
          (data: any) => data.originPortCode === filter.value.origin
        )
      } else if (filter.value.destination) {
        filteredData.value = await activeLaneData.value.filter(
          (data: any) => data.destinationPortCode === filter.value.destination
        )
      } else {
        filteredData.value = activeLaneData.value
      }
    })

    return {
      ...storeState,
      activePortData,
      filteredData,
      filter,
    }
  },
  head: {},
})
</script>
