<template>
  <section class="cardBooking">
    <v-card
      v-for="(content, u) in freightList.content"
      id="freightList"
      :key="u"
      flat
      outlined
      :class="`
        ${u !== freightList.content.length - 1 ? 'mb-5 ' : ''}
        d-flex justify-space-between
      `"
    >
      <div
        id="lanes"
        class="pa-6"
        :style="`
          width: 75%
        `"
      >
        <div>
          {{ content.date }}
        </div>

        <div class="milestone-booking">
          <v-stepper alt-labels class="elevation-0">
            <v-stepper-header>
              <v-stepper-step
                step="1"
                complete
                complete-icon=""
                class="custom-dot"
              >
                <div class="text-milestone bg-grey">
                  <span>{{ content.milestone.from.time }} </span>
                  <span class="font-weight-bold"
                    >{{ content.milestone.from.port }}
                  </span>
                  <span>({{ content.milestone.from.airport }})</span>
                </div>
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step
                step="2"
                complete
                complete-icon="mdi-airplane"
                class="custom-plane"
              >
                <div class="text-milestone">
                  <span class="font-weight-bold">
                    {{ content.airlineName }}
                  </span>
                  <span class="font-weight-bold">
                    {{ content.milestone.plane.name }}
                  </span>
                  <span v-if="content.milestone.plane.name">
                    {{ content.milestone.plane.code }}
                  </span>
                </div>
              </v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step
                step="3"
                complete
                complete-icon=""
                class="custom-dot"
              >
                <div class="text-milestone bg-grey">
                  <span>
                    {{ content.milestone.to.time }}
                    <sup>
                      {{
                        content.milestone.to.diffDay !== '0'
                          ? content.milestone.to.diffDay
                          : ''
                      }}
                    </sup>
                  </span>
                  <span class="font-weight-bold"
                    >{{ content.milestone.to.port }}
                  </span>
                  <span>({{ content.milestone.to.airport }})</span>
                </div>
              </v-stepper-step>
            </v-stepper-header>
          </v-stepper>
        </div>

        <div class="d-block" style="width: 100%">
          <div
            class="d-flex align-center justify-space-between"
            :style="`
              width: 100%;
              font-size: 14px;
            `"
          >
            <div>
              <span>Rate: </span>

              <span class="font-weight-bold">
                {{ setPrice('USD', content.confirmed_rate || 0) }}/kg
              </span>
            </div>

            <div v-if="!content.is_confirmed">
              <span>
                <b>{{ content.max_weight - content.total_weight }} kg</b>
                more to enjoy
              </span>

              <span class="font-weight-bold">
                {{ setPrice('USD', content.confirmed_rate || 0) }}/kg
              </span>
            </div>
          </div>

          <AgChartsVue
            :options="optionsParsing({ data: content })"
            style="height: 100px"
          >
            <!-- :options="chart.options" -->
          </AgChartsVue>
        </div>
      </div>

      <div
        id="book"
        class="pa-6"
        :style="`
          border-left: 1px solid rgba(0, 0, 0, 0.12);
          border-radius: unset;
          width: 25%
        `"
      >
        <div>
          <v-btn
            :disabled="content.is_confirmed || !!content.owned_weight"
            :color="`${content.is_confirmed ? 'success' : 'primary'}`"
            width="100%"
            @click="doToggle({ data: content, type: 'reserve' })"
          >
            <!-- <v-badge
              v-if="!content.is_confirmed"
              color="secondary"
              :content="'Coming Soon'"
            >
              {{ content.is_confirmed ? 'CONFIRMED' : 'BOOK' }}
            </v-badge> -->

            <span>
              {{
                content.is_confirmed
                  ? 'CONFIRMED'
                  : !!content.owned_weight
                  ? 'BOOKED'
                  : 'BOOK'
              }}
            </span>
          </v-btn>
        </div>

        <div v-if="content.is_confirmed" class="d-flex mt-4 body-2">
          <div class="font-weight-bold" :style="`white-space: nowrap`">
            <div class="mb-2">Confirmed Rate</div>
            <div class="mb-2">Total Weight</div>
            <div class="mb-2">Max Weight</div>
            <div class="mb-2">Flight Status:</div>
          </div>

          <div class="ml-1">
            <div class="mb-2">
              : {{ setPrice('USD', content.confirmed_rate || 0) }}/kg
            </div>
            <div class="mb-2">: {{ content.total_weight }} kg</div>
            <div class="mb-2">: {{ content.max_weight }} kg</div>
            <div class="mb-2">: {{ content.flight_status }}</div>
          </div>
        </div>

        <div
          v-else
          :style="`
            display: flex;
            align-items: end;
            height: calc(100% - 35px);
          `"
        >
          <div class="d-flex align-center">
            <v-icon color="primary" class="mr-2"> mdi-clock-outline </v-icon>

            <span class="primary--text">
              {{ setFlightTimeLeft(content.milestone.from.date) }} left
            </span>
          </div>
        </div>
      </div>
    </v-card>

    <!-- Modal form -->
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doSubmit="doSubmit"
    >
      <template #modalFields>
        <ReserveField
          v-if="dialogSettings.type === 'reserve'"
          v-model="form.reserve"
          :selected-data="selected.flight"
        />
      </template>
    </BaseModalForm>
  </section>
</template>

<script lang="ts">
import {
  computed,
  ComputedRef,
  defineComponent,
  Ref,
  ref,
  useContext,
  watch,
  PropType,
  useStore,
} from '@nuxtjs/composition-api'
import { differenceInDays } from 'date-fns'
// components
import { AgChartsVue } from 'ag-charts-vue'
import { AxiosResponse, CancelTokenSource } from 'axios'
import ReserveField from '@/components/lFreight/ReserveField.vue'
// types
import {
  Flight,
  FlightList,
  PostReservePayload,
  VuexModuleLFreight,
} from '~/types/lFreight/lFreight'
import { initDialogSettings, initModalType } from '~/store/applications'
import { ModalConfirm, VuexModuleApplications } from '~/types/applications'
import { initPostFlight } from '~/store/lFreight/lFreight'

interface Form {
  reserve: PostReservePayload
}

export default defineComponent({
  name: 'CardBooking',
  components: {
    AgChartsVue,
    ReserveField,
  },
  props: {
    item: {
      type: Object as PropType<FlightList>,
      default: () => {},
    },
  },
  setup(props, { emit }) {
    const { app, $dateFns, $axios } = useContext()
    let source: CancelTokenSource

    // manage store
    const storeOfApplications = useStore<VuexModuleApplications>()
    const storeOfLFreight = useStore<VuexModuleLFreight>()
    const doSetAlert = (type: string, message: string) => {
      storeOfApplications.commit('applications/SET_ALERT', {
        isShow: true,
        type,
        message,
      })
    }
    const doResetAlert = () => {
      storeOfApplications.commit('applications/RESET_ALERT')
    }

    // manage freight data
    const freightList = computed(() => {
      const temp = {
        ...props.item,
        content: props.item.content.map((x: Flight) => {
          return {
            ...x,
            date: $dateFns.format(
              $dateFns.parseISO(x.date.split(' ')[0]),
              'dd MMMM yyyy'
            ),
            milestone: {
              ...x.milestone,
              from: {
                ...x.milestone.from,
                time: $dateFns.format(new Date(x.milestone.from.time), 'kk:mm'),
                airport: replaceWord(x.milestone.from.airport),
                date: x.milestone.from.time,
              },
              to: {
                ...x.milestone.to,
                time: $dateFns.format(new Date(x.milestone.to.time), 'kk:mm'),
                airport: replaceWord(x.milestone.to.airport),
                diffDay: differenceInDays(
                  $dateFns.parseISO(x.milestone.from.time.split(' ')[0]),
                  $dateFns.parseISO(x.milestone.to.time.split(' ')[0])
                )
                  .toString()
                  .replace('-', '+'),
              },
            },
            flight_status: x.flight_status.replace('FLIGHT_STATUS_', ''),
            airlineName: x.airlineName,
          }
        }),
      }
      return temp
    }) as ComputedRef<FlightList>
    function replaceWord(data: any) {
      let temp = data.replace('International', 'Intl')
      temp = temp.split(' - ')[1]
      return temp
    }
    const setPrice = (currency: string, price: number) => {
      return app.$customUtils.setCurrency({ currency, price })
    }
    const setFlightTimeLeft = (data: string) => {
      if (!data) return ''

      return $dateFns.formatDistanceToNowStrict(new Date(data))
    }
    const freightState = { freightList, setPrice, setFlightTimeLeft }

    // manage modal
    const selected = ref({
      flight: {},
    }) as Ref<{ flight: Flight }>
    const form = ref({
      reserve: { ...initPostFlight },
    }) as Ref<Form>
    const dialog = ref({ ...initModalType })
    const dialogSettings = ref({
      ...initDialogSettings,
    }) as Ref<ModalConfirm>
    const setLoadingDialog = async (fn: Function) => {
      try {
        dialogSettings.value.loading = true
        await fn()
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const doToggle = ({ data, type }: { data: Flight; type: string }) => {
      doResetAlert()
      setLoadingDialog(() => {
        switch (type) {
          case 'reserve':
            dialogSettings.value.type = type
            selected.value.flight = data
            form.value.reserve.flightId = data.id
            break
        }

        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Reserve Your Flight',
          cancelText: 'Cancel',
          submitText: 'Submit',
          submitColor: 'primary',
        }
        dialog.value.form = true
      })
    }
    const doSubmit = () => {
      doResetAlert()
      setLoadingDialog(async () => {
        if (source) source.cancel()

        source = $axios.CancelToken.source()

        try {
          const response = (await storeOfLFreight.dispatch(
            'lFreight/lFreight/postReserveFlight',
            {
              data: {
                ...form.value.reserve,
                weight: form.value.reserve.weight.toString() || '',
              },
              cancelToken: source.token,
            }
          )) as AxiosResponse<any>

          // check response for hit endpoint
          if (!response?.status || response?.status >= 400) {
            throw response
          }

          emit('fetch')
          doSetAlert('success', 'Successfully to reserve flight!')
          setTimeout(() => {
            dialog.value.form = false
          }, 3000)
        } catch (error) {
          const message =
            (error as { response: AxiosResponse<{ error: string }> })?.response
              ?.data?.error ||
            (error as { message: string }).message ||
            'Failed to reserve flight!'

          doSetAlert('error', message)
        }
      })
    }
    watch(
      () => dialog.value,
      (newDialog) => {
        if (newDialog.form) return

        selected.value.flight = {} as Flight
        form.value.reserve = { ...initPostFlight }
        dialogSettings.value = { ...initDialogSettings }
      },
      { deep: true }
    )
    const modalState = {
      selected,
      form,
      dialog,
      dialogSettings,
      doToggle,
      doSubmit,
    }

    // manage chart
    const chart = ref({
      options: {
        autoSize: true,
        container: '',
        data: getData(),
        padding: {
          top: 0,
          right: 0,
          left: 0,
          bottom: 0,
        },
        theme: {
          overrides: {
            bar: {
              autoSize: true,
              series: {
                strokeWidth: 0,
                highlightStyle: {
                  series: {
                    strokeWidth: 1,
                    dimOpacity: 0.3,
                  },
                },
              },
            },
          },
        },
        series: [
          {
            type: 'bar',
            xKey: 'type',
            yKey: 'ownerOccupied',
            yName: 'You',
            stacked: true,
            label: {
              formatter: formatterLabelSeries,
              color: 'white',
            },
            formatter: formatterChartColor,
            tooltip: {
              renderer: formatterTooltipSeries,
            },
          },
          {
            type: 'bar',
            xKey: 'type',
            yKey: 'privateRented',
            yName: 'Client A',
            stacked: true,
            label: {
              formatter: formatterLabelSeries,
              color: 'white',
            },
            formatter: formatterChartColor,
            tooltip: {
              renderer: formatterTooltipSeries,
            },
          },
          {
            type: 'bar',
            xKey: 'type',
            yKey: 'localAuthority',
            yName: 'Client B',
            stacked: true,
            label: {
              formatter: formatterLabelSeries,
              color: 'white',
            },
            formatter: formatterChartColor,
            tooltip: {
              renderer: formatterTooltipSeries,
            },
          },
          {
            type: 'bar',
            xKey: 'type',
            yKey: 'housingAssociation',
            yName: 'Client C',
            stacked: true,
            label: {
              formatter: formatterLabelSeries,
              color: 'white',
            },
            formatter: formatterChartColor,
            tooltip: {
              renderer: formatterTooltipSeries,
            },
          },
          {
            type: 'bar',
            xKey: 'type',
            yKey: 'emptySpace',
            yName: 'Empty Space',
            stacked: true,
            label: {
              formatter: formatterLabelSeries,
              color: 'white',
            },
            formatter: formatterChartColor,
            tooltip: {
              renderer: formatterTooltipSeries,
            },
          },
        ],
        axes: [
          {
            type: 'category',
            position: 'left',
            label: {
              formatter: (_params: any) => {
                return ''
              },
              padding: 0,
            },
            tick: {
              width: 0,
            },
            line: {
              width: 0,
            },
            paddingInner: 0,
            paddingOuter: 0,
          },
          {
            type: 'number',
            position: 'bottom',
            label: {
              formatter: (_params: any) => {
                return ''
              },
              padding: 0,
            },
            tick: {
              width: 0,
            },
            line: {
              width: 0,
            },
            paddingInner: 0,
            paddingOuter: 0,
          },
        ],
        legend: {
          enabled: false,
        },
        title: {
          enabled: false,
        },
        subtitle: {
          enabled: false,
        },
      },
    })
    function flagging(isConfirm?: Boolean) {
      return isConfirm ?? false
    }
    function formatterLabelSeries({
      value,
      weightOwner,
    }: {
      value: number
      weightOwner: number
    }) {
      return value === weightOwner ? 'You' : ''
    }
    function formatterChartColor(params: any) {
      let fill = params.fill

      if (params.yKey === 'emptySpace') fill = flagging() ? 'white' : 'grey'
      else if (params.yKey === 'owner_weight') fill = '#1961e4'

      return {
        fill,
      }
    }
    function formatterTooltipSeries(params: any) {
      return {
        content:
          params.yKey !== 'emptySpace'
            ? `${params.xValue}: ${params.yValue} kg`
            : flagging()
            ? ''
            : `${params.yValue} kg more!`,
        title: params.yKey !== 'emptySpace' ? params.yName : '',
      }
    }
    function getData() {
      return [
        {
          type: 'Weight',
          ownerOccupied: 75,
          privateRented: 20,
          localAuthority: 30,
          housingAssociation: 40,
          emptySpace: 35,
        },
      ]
    }
    function optionsParsing({ data }: { data: Flight }) {
      const opt = { ...chart.value.options } as any

      opt.data = [
        {
          type: 'Weight',
          owner_weight: data.owned_weight,
          emptySpace: data.max_weight - data.total_weight,
        },
      ]
      opt.series = Object.keys(opt.data[0])
        .filter((x) => x !== 'type')
        .map((y) => {
          return {
            type: 'bar',
            xKey: 'type',
            yKey: y,
            yName: y === 'owner_weight' ? 'You' : '',
            stacked: true,
            label: {
              // formatter: ({ value }: { value: number }) => {
              //   console.log(y)
              //   return y === 'owner_weight' ? 'You' : ''
              //   // return formatterLabelSeries({
              //   //   value,
              //   //   weightOwner: data.owned_weight,
              //   //   type: y,
              //   // })
              // },
              color: 'white',
            },
            formatter: formatterChartColor,
            tooltip: {
              renderer: formatterTooltipSeries,
            },
          }
        })
      return opt
    }
    const chartState = { chart, flagging, optionsParsing }

    return {
      // manage freight data
      ...freightState,
      // manage modal
      ...modalState,
      // manage chart
      ...chartState,
    }
  },
  head: {},
})
</script>

<style lang="scss">
@import '~/assets/scss/color.module.scss';
.cardBooking {
  .milestone-booking {
    .v-divider {
      border-color: $primary !important;
      margin: 35px -100px 0 !important;
    }
    .custom-plane {
      .v-stepper__step__step {
        background-color: unset !important;
      }
      i {
        color: $primary !important;
        font-size: 28px;
      }
    }
    .custom-dot {
      .v-stepper__step__step {
        border: 6px solid white !important;
      }
    }
    .text-milestone {
      font-size: 12px;
      white-space: nowrap;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .bg-grey {
      background: gainsboro;
    }
  }
}
</style>
