<template>
  <v-card outlined elevation="2">
    <ValidationObserver ref="observer" v-slot="{ invalid, validate }">
      <v-form @submit.prevent="validate().then(submit)">
        <v-card-text class="body-1 pa-6 dark--text my-2">
          <v-row>
            <v-col cols="12" md="6">
              <h1
                class="font-weight-bold primary--text my-2"
                :style="'font-size: 36px'"
              >
                {{ item.originPortCode }} - {{ item.destinationPortCode }}
              </h1>
            </v-col>
            <v-col cols="12" md="3">
              <ValidationProvider
                v-slot="{ errors }"
                slim
                name="Weight"
                :rules="`min_value: 1|required`"
                tag="div"
                mode="lazy"
              >
                <v-text-field
                  v-model="form.weight"
                  :error-messages="errors"
                  label="Weight"
                  type="number"
                  required
                />
              </ValidationProvider>
            </v-col>
            <v-col cols="12" md="3">
              <v-menu
                v-model="fromDateMenu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="auto"
                required
              >
                <template #activator="{ on }">
                  <ValidationProvider
                    v-slot="{ errors }"
                    slim
                    name="Date"
                    :rules="`required`"
                    tag="div"
                  >
                    <v-text-field
                      readonly
                      label="Date"
                      :value="fromDatePicker"
                      :error-messages="errors"
                      required
                      v-on="on"
                    />
                  </ValidationProvider>
                </template>

                <v-date-picker
                  v-model="fromDatePickerVal"
                  :min="new Date().toISOString().substr(0, 10)"
                  show-adjacent-months
                  no-title
                  @input="fromDateMenu = false"
                />
              </v-menu>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="6">
              <h5 class="font-weight-light">
                {{ item.bookingRequested }} requested
              </h5>
              <h5 class="font-weight-light">
                {{ item.bookingConfirmed }} confirmed
              </h5>
            </v-col>
            <v-col cols="12" md="6" class="text-right" align-self="end">
              <v-btn
                :disabled="invalid"
                class="primary"
                :loading="loading"
                @click="submit(item.originPortId, item.destinationPortId)"
              >
                Book Lane
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-form>
    </ValidationObserver>
  </v-card>
</template>
<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  useStore,
  PropType,
  watch,
} from '@nuxtjs/composition-api'
import { AxiosResponse } from 'axios'
import { ValidationProvider, ValidationObserver } from 'vee-validate'
// Interface and types
import {
  PostRequestPayload,
  VuexModuleLFreight,
} from '~/types/lFreight/lFreight'
import { VuexModuleApplications } from '~/types/applications'

export default defineComponent({
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  props: {
    item: {
      type: Object as PropType<PostRequestPayload>,
      required: true,
    },
    step: {
      type: Number,
      required: true,
    },
  },
  setup(props, { emit }) {
    // manage store
    const storeOfApplications = useStore<VuexModuleApplications>()
    const storeOfLFreight = useStore<VuexModuleLFreight>()
    // alert
    const alert = computed(() => storeOfApplications.state.applications.alert)
    const doSetAlert = (type: string, message: string) => {
      storeOfApplications.commit('applications/SET_ALERT', {
        isShow: true,
        type,
        message,
      })
    }
    const doResetAlert = () => {
      storeOfApplications.commit('applications/RESET_ALERT')
    }
    // form
    const fromDatePickerVal = ref('')
    const fromDateMenu = ref(false)
    const fromDatePicker = computed(() => {
      return fromDatePickerVal.value
    })
    const loading = ref(false)
    const observer = ref<InstanceType<typeof ValidationObserver>>()

    const form = ref({
      originPortID: '',
      destinationPortID: '',
      bookingDate: new Date(),
      weight: null,
    })

    const resetForm = () => {
      fromDatePickerVal.value = ''
      form.value.weight = null
    }

    const submit = async (originPortId: any, destinationPortId: any) => {
      doResetAlert()
      loading.value = true
      try {
        const response = await storeOfLFreight.dispatch(
          'lFreight/lFreight/postRequestFlight',
          {
            data: {
              originPortID: originPortId,
              destinationPortID: destinationPortId,
              weight: Number(form.value.weight),
              bookingDate: fromDatePicker.value + 'T00:00:00.000Z',
            },
          }
        )

        if (!response?.status || response?.status >= 400) {
          throw response
        }

        doSetAlert('success', 'Successfully requested flight!')
        setTimeout(() => {
          resetForm()
          observer.value?.reset()
          emit('fetch')
          loading.value = false
        }, 3000)
      } catch (error) {
        const message =
          (error as { response: AxiosResponse<{ error: string }> })?.response
            ?.data?.error ||
          (error as { message: string }).message ||
          'Failed to request flight!'
        doSetAlert('error', message)
      }
    }

    watch(
      () => props.step,
      () => {
        resetForm()
        observer.value?.reset()
      }
    )
    return {
      alert,
      loading,
      fromDateMenu,
      fromDatePickerVal,
      fromDatePicker,
      form,
      observer,
      submit,
      resetForm,
    }
  },
})
</script>
