<template>
  <section class="pa-4 pa-md-10 py-8 LFreightPage">
    <v-row>
      <v-col cols="12">
        <v-tabs
          v-model="dataTab.tab"
          background-color="transparent"
          color="primary"
          left
        >
          <v-tab v-for="(item, i) in lFreightData" :key="i">
            {{ item.tab_name }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="dataTab.tab" :style="`width: 100%`">
          <v-tab-item v-for="(item, i) in lFreightData" :key="i">
            <div class="my-6 font-weight-bold" :style="'font-size: 14px'">
              Lanes in use
            </div>

            <LFreightCardBooking :item="item" @fetch="$fetch" />
          </v-tab-item>
        </v-tabs-items>
      </v-col>
    </v-row>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  computed,
  ref,
} from '@nuxtjs/composition-api'
// Interface and types
import { VuexModuleLFreight } from '~/types/lFreight/lFreight'

export default defineComponent({
  name: 'LFreightPages',
  layout: 'default',
  setup() {
    useMeta(() => ({ title: 'Client Portal | L-Freight' }))

    // manage store
    const storeOfLFreight = useStore<VuexModuleLFreight>()
    const lFreightData = computed(
      () => (storeOfLFreight.state.lFreight.lFreight as any).lFreight
    )
    const storeState = { lFreightData }

    // other state
    const dataTab = ref({
      tab: null,
      items: lFreightData.value,
    })

    const otherState = { dataTab }

    // manage fetch
    async function fetchLFreights() {
      try {
        $fetchState.pending = true
        await storeOfLFreight.dispatch('lFreight/lFreight/getLFreights')
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const { $fetchState } = useFetch(async () => {
      await fetchLFreights()
    })

    return {
      ...storeState,
      ...otherState,
    }
  },
  head: {},
})
</script>
