<template>
  <v-card-text class="px-6">
    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="Weight"
      :rules="`required|numeric|min_value: 1|max_value: ${
        selectedData.max_weight - selectedData.total_weight
      }`"
      tag="div"
    >
      <v-text-field
        v-model.number="form.weight"
        :error-messages="errors"
        label="Weight"
        placeholder="Enter your weight..."
        :hint="`Maximum weight limit is ${
          selectedData.max_weight - selectedData.total_weight
        }`"
        type="number"
        required
        persistent-hint
        single-line
        hide-spin-buttons
        dense
        outlined
        rounded
        clearable
      />
    </ValidationProvider>
  </v-card-text>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from '@nuxtjs/composition-api'
import { ValidationProvider } from 'vee-validate'
// types
import { Flight, PostReservePayload } from '~/types/lFreight/lFreight'

export default defineComponent({
  components: {
    ValidationProvider,
  },
  props: {
    value: {
      type: Object as PropType<PostReservePayload>,
      required: true,
    },
    selectedData: {
      type: Object as PropType<Flight>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const form = computed({
      get: (): PostReservePayload => props.value,
      set: (value: PostReservePayload) => emit('input', value),
    })

    return {
      form,
    }
  },
})
</script>
