<template>
  <section class="pa-4 pa-md-10 py-8 LFreightPage">
    <v-row class="mb-6">
      <v-col cols="12" md="2" class="px-2 py-4">
        <v-autocomplete
          v-model="filter.originPortId"
          :items="bookingsData"
          item-text="originPortCode"
          item-value="originPortId"
          clearable
          outlined
          rounded
          dense
          single-line
          hide-details
          background-color="white"
          label="Origin"
          placeholder="Enter your origin port..."
          class="input-select-filter elevation-1"
        ></v-autocomplete>
      </v-col>
      <v-col cols="12" md="2" class="px-2 py-4">
        <v-autocomplete
          v-model="filter.destinationPortId"
          :items="bookingsData"
          item-text="destinationPortCode"
          item-value="destinationPortId"
          clearable
          outlined
          rounded
          dense
          single-line
          hide-details
          background-color="white"
          label="Destination"
          placeholder="Enter your destination port..."
          class="input-select-filter elevation-1"
        ></v-autocomplete>
      </v-col>
      <v-col cols="12" md="2" class="px-2 py-4">
        <v-menu
          :close-on-content-click="true"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template #activator="{ on }">
            <v-text-field
              v-model="filter.bookingDate"
              readonly
              clearable
              outlined
              rounded
              dense
              single-line
              hide-details
              label="Date"
              :value="filter.bookingDate"
              placeholder="Enter date..."
              class="input-select-filter elevation-1"
              v-on="on"
            />
          </template>
          <v-date-picker
            v-model="filter.bookingDate"
            show-adjacent-months
            no-title
          />
        </v-menu>
      </v-col>
      <v-col cols="12" md="2" class="px-2 py-4">
        <v-autocomplete
          v-model="filter.status"
          :items="bookingsData"
          item-text="status"
          item-value="status"
          clearable
          outlined
          rounded
          dense
          single-line
          hide-details
          background-color="white"
          label="Status"
          placeholder="Enter status..."
          class="input-select-filter elevation-1"
        ></v-autocomplete>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="12">
        <v-data-table
          v-bind="tableSettings"
          :items="bookingsData"
          :loading="isLoading"
          :options="pagination"
          loading-text="Getting booking data..."
          hide-default-footer
        >
          <template #[`item.flightRequestId`]="{ item, index }">
            <v-select
              v-if="item.status === ('PENDING' || 'CONFIRMED')"
              v-model="action[index]"
              :items="
                item.status === 'PENDING'
                  ? ['', 'Cancel']
                  : ['', 'Assign orders']
              "
              outlined
              rounded
              dense
              hide-details
              @input="
                checkAction(item.requestedId, item.flightRequestId, index)
              "
            />
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <BasePagination
      v-if="bookingsData && bookingsData.length"
      v-model="pagination"
      :meta="meta"
      :loading="isLoading"
      @resetPage="pagination.page = 1"
    />
    <!-- Modal confirm -->
    <BaggingModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      :is-confirm="true"
      @doSubmit="cancelBookingRequest"
      @doCancel="noAction"
    />
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  useFetch,
  computed,
  useStore,
  useMeta,
  watch,
  reactive,
  useContext,
  Ref,
} from '@nuxtjs/composition-api'

// Interface and types
import { VuexModuleLFreight } from '~/types/lFreight/lFreight'
import {
  ModalConfirm,
  VuexModuleApplications,
  Pagination,
} from '~/types/applications'

export default defineComponent({
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    useMeta(() => ({ title: 'Client Portal | L-Freight' }))
    const { app } = useContext()
    // manage store
    const storeOfLFreight = useStore<VuexModuleLFreight>()
    const bookingsData = computed(
      () => (storeOfLFreight.state.lFreight.lFreight as any).bookingList
    )
    const storeApplications = useStore<VuexModuleApplications>()

    // manage table
    const pagination = ref({
      page: 1,
      itemsPerPage: 10,
    }) as Ref<Pagination>
    const meta = computed(
      () => (storeOfLFreight.state.lFreight.lFreight as any).meta
    )

    const storeState = { bookingsData, alert, pagination, meta }

    // manage fetch

    async function fetchBookings() {
      const { page, itemsPerPage } = pagination.value
      const perPage = itemsPerPage !== -1 ? itemsPerPage : meta.value.totalCount
      const dataParams = app.$customUtils.setURLParams({
        page,
        perPage,
      }) as any
      try {
        $fetchState.pending = true
        let paramsFilter = null

        if (filter.value) {
          paramsFilter = app.$customUtils.setURLParams({
            ...filter.value,
          }) as any
        }
        await storeOfLFreight.dispatch(
          'lFreight/lFreight/getBookings',
          // merge filter and pagination params
          {
            params: new URLSearchParams({
              ...Object.fromEntries(dataParams),
              ...Object.fromEntries(paramsFilter),
            }),
          }
        )
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const { $fetchState } = useFetch(async () => {
      await fetchBookings()
    })
    // manage filter
    const filter = ref({
      originPortId: null,
      destinationPortId: null,
      bookingDate: null,
      status: null,
    })

    // manage windows
    const dialog = ref({
      confirm: false,
      id: '',
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>

    const modalState = { dialog, dialogSettings }

    // manage table
    const isLoading = computed(() => $fetchState?.pending || false)
    const tableSettings = reactive({
      itemKey: 'flightRequestedId',
      headers: [
        {
          text: 'Request ID',
          value: 'requestedId',
          cellClass: 'text-no-wrap',
        },
        {
          text: 'Origin',
          value: 'originPortCode',
        },
        {
          text: 'Destination',
          value: 'destinationPortCode',
        },
        {
          text: 'Tonnage',
          value: 'tonnage',
        },
        {
          text: 'Booking Date',
          value: 'bookingDate',
          cellClass: 'text-no-wrap',
        },
        {
          text: 'Status',
          value: 'status',
        },
        {
          text: 'Action',
          value: 'flightRequestId',
          width: 200,
          sortable: false,
        },
      ],
    })
    const action = ref([''])
    const checkAction = (
      requestedId: string,
      flightRequestId: string,
      index: number
    ) => {
      if (action.value[index] === 'Cancel') {
        dialog.value.confirm = true
        dialog.value.id = flightRequestId
        dialogSettings.value = {
          loading: false,
          title: `Cancel ${requestedId}?`,
          content: '',
          cancelText: 'No',
          submitText: 'Yes',
          submitColor: 'primary',
        }
      }
    }
    async function cancelBookingRequest() {
      try {
        dialogSettings.value.loading = true
        await storeOfLFreight.dispatch(
          'lFreight/lFreight/cancelBookingRequest',
          { data: dialog.value.id }
        )
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
          dialog.value.confirm = false
          fetchBookings()
        }, 1500)
      }
    }
    function noAction() {
      action.value = ['']
    }
    const table = {
      isLoading,
      tableSettings,
      filter,
      action,
    }
    watch(
      () => [filter.value, props.step],
      () => {
        fetchBookings()
      },
      {
        deep: true,
      }
    )
    // watch pagination
    watch(
      () => pagination.value,
      (newPagination) => {
        storeApplications.commit('applications/SET_PAGINATION', {
          ...newPagination,
        })

        storeApplications.commit('lFreight/lFreight/SET_META', {
          ...storeOfLFreight.state.lFreight.meta,
          page: (newPagination as any).page,
        })
        fetchBookings()
      },

      { deep: true }
    )

    return {
      ...storeState,
      ...table,
      checkAction,
      cancelBookingRequest,
      noAction,
      ...modalState,
    }
  },
  head: {},
})
</script>
