<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseHeadlinePage
      title="Manage Incoming Orders"
      subtitle="View the details or make changes to a incoming order."
    >
      <template #addition>
        <span class="text--secondary font-weight-medium title">
          &bull; {{ totalItems }} Total Incoming Orders
        </span>
      </template>
    </BaseHeadlinePage>

    <v-row align="center" justify="end">
      <!-- Left options -->
      <OrdersLeftOptions
        :is-on-list-view="true"
        :selected-orders="selectedOrders"
        :loading="isLoading"
        :is-show-filter="isShowFilter"
        @doShowFilter="isShowFilter = !isShowFilter"
        @doExportOrders="doExportOrders"
      />

      <!-- Right options -->
      <OrdersRightOptions :loading="isLoading">
        <template #viewSettings>
          <div class="d-flex">
            <OrdersViewSettings v-model="selectedViews" :loading="isLoading" />

            <TableSettings
              :is-update-status-disable="
                isLoading ||
                (selectedOrders && selectedOrders.length === 0) ||
                !isExternalTrackingExist
              "
              :loading="isLoading"
              @toggleUpdate="toggleUpdate"
            />
          </div>
        </template>
      </OrdersRightOptions>
    </v-row>

    <v-expand-transition>
      <OrdersFiltersContainer
        :is-show-filter="isShowFilter"
        @doToggleFilter="isShowFilter = !isShowFilter"
        @doResetFilter="doResetFilter"
      >
        <template #filterList>
          <!-- Filter for order list -->
          <OrdersFilterListView v-model="filterOrders" />
        </template>
      </OrdersFiltersContainer>
    </v-expand-transition>

    <v-row align="center">
      <v-col cols="12">
        <BaseTable
          v-model="selectedOrders"
          item-key="id"
          :items="incomingOrders"
          :headers="headers"
          :options="pagination"
          :loading="isLoading"
          :show-select="true"
          :action-exist="actionExist"
          @fetch="fetchIncomingOrders"
          @doGetDetails="doGetDetails"
          @doGetBatchDetails="doGetBatchDetails"
        />
      </v-col>
    </v-row>

    <!-- Pagination universal (order and batch view) -->
    <BasePagination
      v-if="incomingOrders && incomingOrders.length"
      v-model="pagination"
      :meta="meta"
      :loading="isLoading"
      @resetPage="pagination.page = 1"
    />

    <!-- Update Status -->
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doSubmit="doSubmitStatus"
      @doClose="doResetModal"
    >
      <template #modalFields>
        <OrdersUpdateStatusContent
          v-if="updateStatusType === 'selected'"
          v-model="selectedUpdate"
          :is-open="dialog.form"
        />

        <UpdateStatusBulk
          v-if="updateStatusType === 'bulk'"
          v-model="selectedUpdateBulk"
          @changeLoading="dialogSettings.loading = !dialogSettings.loading"
        />
      </template>
    </BaseModalForm>

    <!-- Delete Status -->
    <BaseModalForm
      v-model="dialog.delete"
      :dialog-settings="dialogSettings"
      @doSubmit="deleteStatus"
    >
      <template #modalFields>
        <OrdersDeleteStatusContent
          :selected="selectedOrders"
          :is-open="dialog.delete"
        />
      </template>
    </BaseModalForm>

    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  computed,
  ref,
  Ref,
  watch,
  useRoute,
  useRouter,
  useContext,
  onMounted,
} from '@nuxtjs/composition-api'
import { saveAs } from 'file-saver'
import { useDebounceFn } from '@vueuse/core'
import { AxiosResponse, CancelTokenSource } from 'axios'
import { filterOrderInit } from '~/store/partnerPortals/incomingOrders'
// components
import TableSettings from '@/components/orders/incoming-orders/TableSettings.vue'
import UpdateStatusBulk from '@/components/orders/incoming-orders/UpdateStatusBulk.vue'
// Interface and types
import {
  Pagination,
  ModalConfirm,
  VuexModuleApplications,
  Header,
} from '~/types/applications'
import {
  IncomingOrder,
  UpdateStatusBulkPayload,
  VuexModuleIncomingOrders,
} from '~/types/partnerPortals/incomingOrders'
import { Statuses } from '~/types/filters'

const initHeaders = [
  {
    text: 'Client',
    value: 'clientName',
    width: 100,
    cellClass: 'text-no-wrap',
  },
  {
    text: 'Order ID',
    value: 'codeOrders',
    width: 150,
  },
  {
    text: 'Batch',
    value: 'batchIdOrders',
    width: 150,
  },
  {
    text: 'Service',
    value: 'serviceTypeOrders',
    sortable: false,
    width: 150,
  },
  {
    text: 'Status',
    value: 'statusOrders',
    sortable: false,
    width: 200,
  },
  {
    text: 'Origin',
    value: 'originOrders',
    sortable: false,
    width: 150,
  },
  {
    text: 'Origin Port',
    value: 'originPortOrders',
    sortable: false,
    width: 150,
  },
  {
    text: 'Destination',
    value: 'destinationOrders',
    sortable: false,
    width: 150,
  },
  {
    text: 'Destination Port',
    value: 'destinationPortOrders',
    sortable: false,
    width: 180,
  },
  {
    text: 'Creation Date',
    value: 'creationDateOrders',
    sortable: false,
    width: 180,
  },
  {
    text: 'Last Mile Tracking No.',
    value: 'LMTrackingNumberOrders',
    sortable: false,
    width: 230,
  },
  {
    text: '',
    value: 'actions',
    sortable: false,
    width: 150,
  },
] as Header[]

const initSelectedUpdate = {
  status: {} as Statuses,
  updateDate: '',
  updateTime: '',
}

const initSelectedUpdateBulk = {
  file: [] as File[],
}

export default defineComponent({
  name: 'OrdersIncomingPages',
  components: {
    TableSettings,
    UpdateStatusBulk,
  },
  middleware: 'partner',
  setup() {
    const { $dateFns, app, $axios } = useContext()
    const route = useRoute()
    const router = useRouter()
    // manage store
    const storeIncomingOrders = useStore<VuexModuleIncomingOrders>()
    const storeApplications = useStore<VuexModuleApplications>()
    const incomingOrders = computed(
      () =>
        storeIncomingOrders.state.partnerPortals.incomingOrders.incomingOrders
    )
    const meta = computed(
      () => storeIncomingOrders.state.partnerPortals.incomingOrders.meta
    )
    const pagination = ref({
      ...storeApplications.state.applications.pagination,
    })
    const filterOrders = ref({
      ...storeIncomingOrders.state.partnerPortals.incomingOrders.filterOrders,
    })
    const alert = computed(() => storeApplications.state.applications.alert)
    function doSetAlert(type: string, message: string) {
      storeApplications.commit('applications/SET_ALERT', {
        isShow: true,
        type,
        message,
      })
    }
    function doResetAlert() {
      storeApplications.commit('applications/RESET_ALERT')
    }
    const storeState = { incomingOrders, meta, pagination, filterOrders, alert }

    // manage table
    const isLoading = computed(() => $fetchState?.pending || false)
    const totalItems = computed(() => meta.value.totalCount || 0)
    const selectedOrders = ref([]) as Ref<IncomingOrder[]>
    const actionExist = ref({
      downloadSelection: true,
      export: true,
    })
    const isExternalTrackingExist = computed(() => {
      return selectedOrders.value.every((order: IncomingOrder) => {
        if (!order.orderAllocations || order.orderAllocations.length === 0)
          return false

        return order.orderAllocations.some((el) => el.externalTrackingNumber)
      })
    })
    const headers = ref(initHeaders) as Ref<Header[]>
    const selectedViews = ref(initHeaders.map((header) => header.value))
    const tableState = {
      isLoading,
      totalItems,
      selectedOrders,
      actionExist,
      isExternalTrackingExist,
      headers,
      selectedViews,
    }

    // manage modal
    const selectedUpdate = ref({ ...initSelectedUpdate })
    const selectedUpdateBulk = ref({
      ...initSelectedUpdateBulk,
    }) as Ref<UpdateStatusBulkPayload>
    const updateStatusType = ref('')
    const dialog = ref({
      confirm: false,
      form: false,
      delete: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>
    const debounceModal = useDebounceFn(async (fn: Function) => {
      try {
        dialogSettings.value.loading = true
        await fn()
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }, 300)
    const toggleUpdate = ({
      isDelete = false,
      type,
    }: {
      isDelete?: boolean
      type: string
    }) => {
      doResetAlert()
      debounceModal(() => {
        if (isDelete) {
          dialogSettings.value = {
            ...dialogSettings.value,
            title: 'Delete Status',
            content: '',
            cancelText: 'Cancel',
            submitText: 'Delete',
            submitColor: 'error',
          }
          dialog.value.delete = true
          return
        }

        updateStatusType.value = type
        dialogSettings.value = {
          ...dialogSettings.value,
          title: type === 'selected' ? 'Update status' : 'Bulk update status',
          content: '',
          cancelText: 'Cancel',
          submitText: 'Update',
          submitColor: 'primary',
        }
        dialog.value.form = true
      })
    }
    function setTime(data: number) {
      let decimalTime = data
      if (decimalTime < 0) decimalTime = decimalTime * -1
      decimalTime = decimalTime * 60 * 60
      let hours = Math.floor(decimalTime / (60 * 60)) as any
      decimalTime = decimalTime - hours * 60 * 60
      let minutes = Math.floor(decimalTime / 60) as any
      decimalTime = decimalTime - minutes * 60
      if (hours < 10) {
        hours = '0' + hours
      }
      if (minutes < 10) {
        minutes = '0' + minutes
      }
      return '' + hours + ':' + minutes
    }
    function setGMT(data: number) {
      const temp = setTime(data)
      if (data > 0) {
        return `+${temp}`
      } else {
        return `-${temp}`
      }
    }
    const doResetModal = () => {
      doResetAlert()
      updateStatusType.value = ''
      selectedUpdate.value = { ...initSelectedUpdate }
      selectedUpdateBulk.value = { ...initSelectedUpdateBulk }
    }
    const doUpdateStatus = {
      selected: async () => {
        const {
          updateDate,
          updateTime,
          status: { Remarks, ServiceType, Status },
        } = selectedUpdate.value
        // set payload
        const orderIDs = [...selectedOrders.value].map(
          (item: IncomingOrder) => item.id
        )
        const gmt = setGMT(new Date().getTimezoneOffset() / -60)
        const timestamp = `${updateDate}T${updateTime}:00${gmt}`
        const status = {
          remarks: Remarks,
          service_type: ServiceType,
          status: Status,
        }

        return await storeIncomingOrders.dispatch(
          'partnerPortals/incomingOrders/updateStatus',
          {
            ...status,
            orderIDs,
            timestamp,
          }
        )
      },
      bulk: async () => {
        const file = selectedUpdateBulk.value.file[0]

        return await storeIncomingOrders.dispatch(
          'partnerPortals/incomingOrders/updateStatusBulk',
          { file }
        )
      },
    }
    function doSubmitStatus() {
      let resUpdateStatus = {} as AxiosResponse<any>
      doResetAlert()
      debounceModal(async () => {
        try {
          switch (updateStatusType.value) {
            case 'selected':
              resUpdateStatus = await doUpdateStatus.selected()
              break
            case 'bulk':
              // bulk status check file empty
              if (selectedUpdateBulk.value.file.length === 0) {
                throw new Error(
                  'Bulk update status file is incorrect, Please add data according to the existing sample file!'
                )
              }

              resUpdateStatus = await doUpdateStatus.bulk()
              break
          }

          // check response for hit endpoint
          if (!resUpdateStatus.status || resUpdateStatus.status >= 400) {
            throw resUpdateStatus
          }

          fetchIncomingOrders(pagination.value)
          doSetAlert('success', 'Successfully to update status orders!')
          setTimeout(() => {
            dialog.value.form = false
            selectedOrders.value = []
          }, 1500)
        } catch (error) {
          const message =
            (error as { response: AxiosResponse<{ error: string }> })?.response
              ?.data?.error ||
            (error as { message: string }).message ||
            'Failed to update status!'

          doSetAlert('error', message)
        }
      })
    }
    const modalState = {
      dialog,
      selectedUpdate,
      selectedUpdateBulk,
      dialogSettings,
      updateStatusType,
      doResetModal,
      toggleUpdate,
      doSubmitStatus,
    }

    function deleteStatus() {
      dialog.value.delete = false
      selectedOrders.value = []
    }
    const doResetPagination = () => {
      pagination.value = {
        ...pagination.value,
        page: 1,
      }
    }
    const doGetDetails = (data: IncomingOrder) => {
      const id = route.value.params.id

      router.push(`/partner-portals/${id}/incoming-orders/${data.id}`)
    }
    const doGetBatchDetails = (order: IncomingOrder) => {
      isShowFilter.value = true
      setTimeout(() => {
        filterOrders.value = {
          ...filterOrders.value,
          batchCode: order.batchCode,
        }
      }, 100)
      setTimeout(() => {
        fetchIncomingOrders(pagination.value)
      }, 500)
    }
    const doExportOrders = async () => {
      const fileName = `order_exports_${$dateFns.format(
        new Date(),
        'yyyy-MM-dd_HH-mm'
      )}.xlsx`

      if (selectedOrders.value.length === 0) return

      try {
        doResetAlert()
        $fetchState.pending = true

        const response = await storeIncomingOrders.dispatch(
          'orders/getSelectedExports',
          {
            data: selectedOrders.value.map((order) => order.id),
            partnerId: route.value.params.id,
          }
        )

        if (response?.response?.status >= 400) throw response

        saveAs(response, fileName)
        doSetAlert('success', 'Successfully to export the order!')
      } catch (error) {
        doSetAlert('error', 'Failed to export the order!')
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const otherFunction = {
      doGetDetails,
      doGetBatchDetails,
      doExportOrders,
      deleteStatus,
    }

    // manage filter order
    const isShowFilter = ref(false)
    const doResetFilter = () => {
      filterOrders.value = filterOrderInit
    }
    const filterState = { isShowFilter, doResetFilter }

    // manage fetch
    const fetchDebounced = useDebounceFn(async (fn: Function) => {
      try {
        $fetchState.pending = true
        await fn()
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }, 300)

    let source: CancelTokenSource
    const fetchIncomingOrders = (_params: Pagination) => {
      const id = route.value.params.id
      const { page, itemsPerPage } = pagination.value
      const perPage = itemsPerPage !== -1 ? itemsPerPage : meta.value.totalCount
      const { status } = filterOrders.value
      const dataParams = app.$customUtils.setURLParams({
        page,
        perPage,
        ...filterOrders.value,
        status: status && status.Status ? status.Status : null,
      })

      if (source) source.cancel()

      source = $axios.CancelToken.source()
      fetchDebounced(async () => {
        try {
          return await storeIncomingOrders.dispatch(
            'partnerPortals/incomingOrders/getIncomingOrders',
            {
              id,
              params: dataParams,
              cancelToken: source.token,
            }
          )
        } catch (error) {
          return error
        }
      })
    }
    const { $fetchState } = useFetch(() => {
      setTimeout(() => {
        storeApplications.commit('applications/RESET_ALERT')
      }, 3000)
    })
    const fetchFunction = { fetchIncomingOrders }

    onMounted(() => {
      const batchCode = route.value.query?.batchId as string

      if (batchCode) {
        doGetBatchDetails({ batchCode } as IncomingOrder)
      }
    })

    // manage filter on changed
    watch(
      filterOrders,
      (newFilter) => {
        doResetPagination()
        storeApplications.commit('partnerPortals/incomingOrders/SET_FILTER', {
          ...newFilter,
        })
      },
      { deep: true }
    )
    // manage pagination on changed
    watch(
      pagination,
      (newPagination) => {
        storeApplications.commit('applications/SET_PAGINATION', {
          ...newPagination,
        })

        fetchIncomingOrders(pagination.value)
      },
      { deep: true }
    )
    // manage view table on changed
    watch(selectedViews, (newValue) => {
      headers.value = initHeaders.filter((header) =>
        newValue.includes(header.value)
      )
    })

    useMeta(() => ({ title: 'Partner Portal | Incoming Orders' }))

    return {
      // manage store
      ...storeState,
      // manage modal
      ...modalState,
      // manage table
      ...tableState,
      // manage filter order
      ...filterState,
      // manage fetch
      ...fetchFunction,
      ...otherFunction,
    }
  },
  head: {},
})
</script>
