<template>
  <v-simple-table dense>
    <template #default>
      <tbody>
        <tr>
          <td v-once style="border: 0; width: 300px; vertical-align: top">
            Documents
          </td>

          <td style="border: 0">
            <span v-if="!documents || !documents.length"> - </span>

            <template v-else>
              <div
                v-for="({ category, files }, docIndex) in documents"
                :key="docIndex"
                class="mb-4"
              >
                <span class="d-block mb-2 font-weight-bold">
                  {{ category.replaceAll('_', ' ') }}
                </span>

                <div
                  v-for="(file, fileIndex) in files"
                  :key="`${category}-${file.name}-${fileIndex}`"
                >
                  <span
                    role="button"
                    class="text-decoration-underline"
                    @click.stop="previewFileUpload(file)"
                  >
                    {{ file.name }}
                  </span>
                </div>
              </div>
            </template>
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script lang="ts">
import {
  defineComponent,
  inject,
  toRefs,
  useContext,
} from '@nuxtjs/composition-api'

//  types - start
import { B2BAdditionalsForm } from '~/composables/clients/orders/b2b/form'
//  types - end

export default defineComponent({
  name: 'ReviewB2BAdditional',
  setup() {
    //  context - start
    const {
      $customUtils: { previewFileUpload },
    } = useContext()
    const contextState = { previewFileUpload }
    //  context - end

    //  inject state - start
    const formAdditionalsInject = inject<B2BAdditionalsForm>(
      'b2bAdditionals',
      {} as B2BAdditionalsForm
    )
    const { documents } = toRefs(formAdditionalsInject)
    const injectState = { documents }
    //  inject state - end

    return {
      ...contextState,
      ...injectState,
    }
  },
})
</script>
