<template>
  <v-simple-table dense>
    <template #default>
      <tbody>
        <tr>
          <td style="border: 0; width: 300px">Dangerous Goods</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.dangerousGoods ? 'Yes' : 'No' }}
          </td>
        </tr>

        <template v-for="(product, index) in data.items">
          <tr :key="index">
            <td style="border: 0; vertical-align: top">
              <span class="d-block mt-3"> Product Items {{ index + 1 }} </span>
            </td>

            <td style="border: 0">
              <div>
                <span class="d-block my-2"> Description </span>

                <span class="d-inline-block font-weight-bold">
                  {{ product.productDescription }}
                </span>
              </div>

              <div>
                <span class="d-block my-2"> Category </span>

                <span class="d-inline-block font-weight-bold">
                  {{ product.category }}
                </span>
              </div>

              <div>
                <span class="d-block my-2"> Quantity </span>

                <span class="d-inline-block font-weight-bold">
                  {{ product.quantity }}
                </span>
              </div>

              <div v-if="featureFlags.useShipmentValue">
                <span class="d-block my-2"> Value (per unit) </span>

                <span class="d-inline-block font-weight-bold">
                  {{ product.price }} {{ product.currency }}
                </span>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  ref,
  useFetch,
} from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'

// interfaces and types
import { ActionsApplications } from '~/store/applications'
import { B2BItemDetailsForm } from '~/composables/clients/orders/b2b/form'
// end types

export default defineComponent({
  name: 'ReviewB2BItems',
  props: {
    data: {
      type: Object as PropType<B2BItemDetailsForm>,
      required: true,
    },
  },
  setup() {
    // ** manage features flag - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const featureFlags = ref({
      useShipmentValue: false,
    })

    useFetch(async () => {
      featureFlags.value.useShipmentValue = await getFeatureFlags(
        'fre-216-be-generate-b2b-label-phase-2-with-shipment-value'
      )
    })
    // ** manage features flag - end

    return {
      featureFlags,
    }
  },
})
</script>
