<template>
  <v-simple-table dense>
    <template #default>
      <tbody>
        <tr>
          <td style="border: 0; width: 300px">Shipment Mode</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.shipmentMode }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Incoterm</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.scope.replaceAll('_', ' ') }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Cargo Readiness Date</td>

          <td class="font-weight-bold" style="border: 0">
            {{ formattingDate.cargoReadinessDate }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Origin Country</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.originCountry }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Origin Port</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.originPort.code }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Destination Country</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.destinationCountry }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Destination Port</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.destinationPort.code }}
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  useContext,
} from '@nuxtjs/composition-api'

// types
import { B2BBasicInfoForm } from '~/composables/clients/orders/b2b/form'
// end types

export default defineComponent({
  name: 'ReviewBasicInfo',
  props: {
    data: {
      type: Object as PropType<B2BBasicInfoForm>,
      required: true,
    },
  },
  setup(props) {
    const { $dateFns } = useContext()
    const formattingDate = computed(() => {
      return {
        cargoReadinessDate: props.data.cargoReadinessDate
          ? $dateFns.format(
              $dateFns.parseISO(props.data.cargoReadinessDate as string),
              'MMMM do yyyy'
            )
          : '',
      }
    })

    return {
      formattingDate,
    }
  },
})
</script>
