<template>
  <v-sheet
    width="100%"
    height="100%"
    class="rounded-xl pa-4"
    style="border: 1px solid rgba(25, 97, 228, 0.5)"
  >
    <h6 class="font-weight-bold subtitle-1">
      {{ title }}
    </h6>

    <v-divider class="mt-3 mb-4" />

    <slot />
  </v-sheet>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'B2BReviewCard',
  props: {
    title: {
      type: String,
      default: '',
    },
  },
})
</script>
