<template>
  <v-simple-table dense>
    <template #default>
      <tbody>
        <tr>
          <td style="border: 0; width: 300px">Name</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.consigneeName }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Phone Number</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.consigneePhoneNumber }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">E-mail</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.consigneeEmail }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">District</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.consigneeDistrict }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Province</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.consigneeProvince }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">City</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.consigneeCity }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Postal Code</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.consigneePostal }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Address</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.consigneeAddress }}
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'

// types
import { B2BConsigneeForm } from '~/composables/clients/orders/b2b/form'
// end types

export default defineComponent({
  name: 'ReviewConsigneeDetails',
  props: {
    data: {
      type: Object as PropType<B2BConsigneeForm>,
      required: true,
    },
  },
})
</script>
