<template>
  <section>
    <v-row>
      <v-col cols="12" class="mb-2">
        <ReviewCard title="Basic Info">
          <BasicInfo :data="formData.basicInfo" />
        </ReviewCard>
      </v-col>

      <v-col cols="12" class="mb-2">
        <ReviewCard title="Shipper Details">
          <SenderDetails :data="formData.senderDetails" />
        </ReviewCard>
      </v-col>

      <v-col cols="12" class="mb-2">
        <ReviewCard title="Consignee Details">
          <ConsigneeDetails :data="formData.consigneeDetails" />
        </ReviewCard>
      </v-col>

      <v-col cols="12" class="mb-2">
        <ReviewCard title="Package Details">
          <PackageDetails :data="formData.packageDetails" />
        </ReviewCard>
      </v-col>

      <v-col cols="12" class="mb-2">
        <ReviewCard title="Item Details">
          <B2BItems :data="formData.b2bItems" />
        </ReviewCard>
      </v-col>

      <v-col cols="12" class="mb-2">
        <ReviewCard title="Additionals">
          <Additionals />
        </ReviewCard>
      </v-col>
    </v-row>

    <!-- b2b terms & conditions -->
    <v-row>
      <v-col cols="12">
        <div>
          <p class="font-weight-medium">
            <sup class="secondary--text font-weight-bold">*</sup>Terms &
            Conditions:
          </p>

          <ol>
            <li>
              For B2B Shipment which requires Import Duties and Tax outlay, An
              Admin Fee of 3% or a Minimum USD50 Per Shipment will be applicable
              upon outlay with immediate credit terms. Shipment will only be
              delivered upon receiving of Duties and Tax. Storage Charges of
              USD0.20 Per Kg Per Week (Or Part Thereof) are applicable after 48
              Hours upon terminal clearance.
            </li>

            <li>
              All prices are quoted based on General Cargo. Additional charges
              are applicable for Non-General Cargo shipments.
            </li>

            <li>
              Luwjistik and its assigned agents will not be held liable for any
              Shipments that have been confiscated or fined by the Authorities
              due to wrongful declaration of product and/or value or considered
              as a banned product in the importing destinations.
            </li>
          </ol>
        </div>
      </v-col>
    </v-row>
  </section>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from '@nuxtjs/composition-api'

//  components - start
import ReviewCard from '@/components/orders/upload/b2b/form-section/review/Card.vue'
import BasicInfo from '@/components/orders/upload/b2b/form-section/review/BasicInfo.vue'
import SenderDetails from '@/components/orders/upload/b2b/form-section/review/Sender.vue'
import ConsigneeDetails from '@/components/orders/upload/b2b/form-section/review/Consignee.vue'
import PackageDetails from '~/components/orders/upload/b2b/form-section/review/PackageDetails.vue'
import B2BItems from '~/components/orders/upload/b2b/form-section/review/B2BItems.vue'
import Additionals from '~/components/orders/upload/b2b/form-section/review/Additionals.vue'
//  components - end

//  types - start
import { B2BFormData } from '~/composables/clients/orders/b2b/form'
//  types -  end

export default defineComponent({
  name: 'B2BReviewContainer',
  components: {
    ReviewCard,
    BasicInfo,
    SenderDetails,
    ConsigneeDetails,
    PackageDetails,
    B2BItems,
    Additionals,
  },
  props: {
    value: {
      type: Object as PropType<B2BFormData>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const formData = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    })

    return {
      formData,
    }
  },
})
</script>
