<template>
  <v-simple-table dense>
    <template #default>
      <tbody>
        <tr>
          <td style="border: 0; width: 300px">Quantity</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.quantity }}
          </td>
        </tr>

        <template v-for="(parcel, index) in data.parcels">
          <tr :key="index">
            <td style="border: 0; vertical-align: top">
              <span class="d-block mt-3">Parcel Items {{ index + 1 }}</span>
            </td>

            <td style="border: 0">
              <div>
                <span class="d-block my-2"> Packaging Type </span>

                <span class="d-inline-block font-weight-bold">
                  {{ parcel.packagingType }}
                </span>
              </div>

              <div>
                <span class="d-block my-2"> Length X Width X Height </span>

                <span class="d-inline-block font-weight-bold">
                  {{
                    `${parcel.length} cm X ${parcel.width} cm X ${parcel.height} cm`
                  }}
                </span>
              </div>

              <div>
                <span class="d-block my-2"> Total Weight </span>

                <span class="d-inline-block font-weight-bold">
                  {{ parcel.weight }} kg
                </span>
              </div>
            </td>
          </tr>
        </template>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'

// types
import { B2BPackageDetailsForm } from '~/composables/clients/orders/b2b/form'
// end

export default defineComponent({
  name: 'ReviewB2BItems',
  props: {
    data: {
      type: Object as PropType<B2BPackageDetailsForm>,
      required: true,
    },
  },
})
</script>
