<template>
  <v-simple-table dense>
    <template #default>
      <tbody>
        <tr>
          <td style="border: 0; width: 300px">Name</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.senderName }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Phone Number</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.senderPhoneNumber }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">E-mail</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.senderEmail }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">District</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.senderDistrict }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Province</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.senderProvince }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">City</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.senderCity }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Postal Code</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.senderPostal }}
          </td>
        </tr>

        <tr>
          <td style="border: 0">Address</td>

          <td class="font-weight-bold" style="border: 0">
            {{ data.senderAddress }}
          </td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'

// types
import { B2BSenderForm } from '~/composables/clients/orders/b2b/form'
// end types

export default defineComponent({
  name: 'ReviewSenderDetails',
  props: {
    data: {
      type: Object as PropType<B2BSenderForm>,
      required: true,
    },
  },
})
</script>
