<template>
  <div>
    <v-btn
      :disabled="isUpdateStatusDisable || loading"
      color="primary"
      class="ml-md-2 mb-4 mb-md-0"
      @click="$emit('toggleUpdate', { type: 'selected' })"
    >
      Update Status
    </v-btn>

    <v-btn
      :disabled="loading"
      color="primary"
      class="ml-md-2 mb-4 mb-md-0"
      @click="$emit('toggleUpdate', { type: 'bulk' })"
    >
      Bulk Update Status
    </v-btn>

    <!-- <v-btn
    color="error"
    :disabled="selectedOrders && selectedOrders.length === 0"
    class="mx-1"
    @click="toggleUpdate({ isDelete: true })"
  >
    Delete Status
  </v-btn> -->
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    isUpdateStatusDisable: {
      type: Boolean,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
})
</script>
