<template>
  <v-card-text class="px-6">
    <v-row>
      <v-col cols="12" md="12" class="px-2 py-4">
        <ExcelUploader
          v-model="form.file"
          :settings="settings"
          name="updateStatusBulk"
          @changeLoading="$emit('changeLoading')"
        />

        <span class="caption text--secondary">
          Download sample file:
          <a
            :href="`/files/partner-orders/Sample_Order_Status_for_Partner.xlsx`"
            download
            class="secondary--text text-decoration-none font-weight-bold"
          >
            Sample_Order_Status_for_Partner.xlsx
          </a>
        </span>
      </v-col>
    </v-row>
  </v-card-text>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  PropType,
  ref,
} from '@nuxtjs/composition-api'
// components
import ExcelUploader from '@/components/base/FilePond/ExcelUploader.vue'
// types
import { UpdateStatusBulkPayload } from '~/types/partnerPortals/incomingOrders'

export default defineComponent({
  name: 'UpdateStatusBulk',
  components: {
    ExcelUploader,
  },
  props: {
    value: {
      type: Object as PropType<UpdateStatusBulkPayload>,
      required: true,
    },
  },
  setup(props, { emit }) {
    // pond settings
    const settings = ref({
      class: 'pond-bulk-status',
      labelFileTypeNotAllowed: `Bulk update status file is invalid type!`,
      labelMaxFileSizeExceeded: `Bulk update status file is too large!`,
      acceptedFileTypes: [
        'text/csv',
        'application/vnd.ms-excel',
        'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
      ],
      maxFileSize: '5MB',
      labelIdle: `
        <span>Drag and drop to upload the bulk update status or</span>
        </br>
        </br>
        <span class="filepond--label-action font-weight-medium secondary--text text-decoration-none">Browse</span>
      `,
    })
    const form = computed({
      get: (): UpdateStatusBulkPayload => {
        return props.value
      },
      set: (value: UpdateStatusBulkPayload) => {
        return emit('input', value)
      },
    })
    const otherState = { settings, form }

    return { ...otherState }
  },
})
</script>

<style lang="scss">
.pond-bulk-status {
  .filepond--root {
    height: 8rem;
  }

  /* the border radius of the file item */
  .filepond--item-panel {
    height: 100%;
    border-radius: 1rem;
  }

  /* bordered drop area */
  .filepond--panel-root {
    border-radius: 1.5rem;
  }

  /* the text color of the drop label*/
  .filepond--drop-label {
    height: 100%;
  }
}
</style>
