<template>
  <v-card-actions class="pa-8">
    <v-spacer />

    <v-btn
      outlined
      color="primary"
      class="mx-2"
      :disabled="fetchState.pending || computeStepOn.first"
      @click="$emit('doPrevForm')"
    >
      Back
    </v-btn>

    <v-btn
      color="primary"
      :disabled="
        fetchState.pending ||
        invalid ||
        (!!alert.message.length && !computeStepOn.last)
      "
      @click="$emit('doNextForm')"
    >
      {{ nextButtonText }}
    </v-btn>
  </v-card-actions>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'
import { useState } from 'vuex-composition-helpers'

// types
import { FetchState } from '~/types/applications'
import { RootStateApplications } from '~/store/applications'
// end types

export default defineComponent({
  name: 'B2BActionButtons',
  props: {
    computeStepOn: {
      type: Object,
      required: true,
    },
    fetchState: {
      type: Object as PropType<FetchState>,
      required: true,
    },
    invalid: {
      type: Boolean,
      default: false,
    },
    nextButtonText: {
      type: String,
      default: 'Next',
    },
  },
  setup() {
    // manage store
    const { alert } = useState<RootStateApplications>('applications', ['alert'])
    const storeState = { alert }
    // end manage store

    return {
      ...storeState,
    }
  },
})
</script>
