<template>
  <article>
    <ValidationObserver
      ref="formObserver"
      v-slot="{ invalid }"
      tag="form"
      eager
      @submit.stop.prevent="doSubmit"
    >
      <v-card-text class="pa-8">
        <!-- alert components -->
        <v-scroll-y-transition hide-on-leave>
          <BaseNotification
            v-if="alert.isShow"
            :dismissible="suspensionAllowedActions.submitOrder"
            class="mb-10"
          />
        </v-scroll-y-transition>

        <TabHeader v-model="stepForm" :form-items="formItems" />

        <TabItems v-model="stepForm" :form-items="formItems">
          <template #default="{ itemName, itemIndex }">
            <BasicInfo
              v-if="itemName === 'Basic Info' && itemIndex === stepForm"
              v-model="formData.basicInfo"
              :is-next-button-was-clicked="isNextButtonWasClicked"
              @estimatedPrice="logEstimatedPrice"
            />

            <Sender
              v-if="itemName === 'Shipper Details' && itemIndex === stepForm"
              v-model="formData.senderDetails"
            />

            <Consignee
              v-if="itemName === 'Consignee Details' && itemIndex === stepForm"
              v-model="formData.consigneeDetails"
            />

            <PackageDetails
              v-if="itemName === 'Package Details' && itemIndex === stepForm"
              v-model="formData.packageDetails"
            />

            <B2BItems
              v-if="itemName === 'Item Details' && itemIndex === stepForm"
              v-model="formData.b2bItems"
              :form-invalid="invalid"
            >
              <template #addRemoveButton="{ data, handleItemsLength }">
                <ItemActionButton
                  :data="data"
                  :disabled="invalid"
                  @add="handleItemsLength.add"
                  @remove="handleItemsLength.remove"
                />
              </template>
            </B2BItems>

            <B2BAdditionals
              v-if="itemName === 'Additionals' && itemIndex === stepForm"
            />

            <Review
              v-if="itemName === 'Review' && itemIndex === stepForm"
              v-model="formData"
            />
          </template>
        </TabItems>
      </v-card-text>

      <ActionButtons
        :fetch-state="$fetchState"
        :compute-step-on="computeStepOn"
        :invalid="invalid"
        :next-button-text="computedNextButtonText"
        @doPrevForm="doPrevForm"
        @doNextForm="doNextForm"
      />
    </ValidationObserver>
  </article>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  computed,
  useFetch,
  Ref,
  useContext,
  watch,
  useRouter,
  provide,
} from '@nuxtjs/composition-api'
import {
  useActions,
  useMutations,
  useState,
  useStore,
} from 'vuex-composition-helpers'
import { AxiosResponse } from 'axios'
import { ValidationObserver } from 'vee-validate'

//  components - start
import TabHeader from '@/components/orders/upload/b2b/TabHeader.vue'
import TabItems from '@/components/orders/upload/b2b/TabItems.vue'
import BasicInfo from '~/components/orders/upload/b2b/form-section/BasicInfo.vue'
import Sender from '~/components/orders/upload/b2b/form-section/Sender.vue'
import Consignee from '~/components/orders/upload/b2b/form-section/Consignee.vue'
import PackageDetails from '~/components/orders/upload/b2b/form-section/PackageDetails.vue'
import B2BItems from '~/components/orders/upload/b2b/form-section/B2BItems.vue'
import B2BAdditionals from '~/components/orders/upload/b2b/form-section/Additionals.vue'
import Review from '~/components/orders/upload/b2b/form-section/review/Container.vue'
import ActionButtons from '@/components/orders/upload/b2b/ActionButtons.vue'
import ItemActionButton from '@/components/orders/upload/b2b/form-section/ItemActionButton.vue'
//  components - end

//  composable - start
import {
  B2BAdditionalsForm,
  doFormatPayload,
  initFormData,
} from '~/composables/clients/orders/b2b/form'
import { useFetchEngine } from '~/composables/base/fetch-engine'
//  composable - end

//  types - start
import {
  ActionsApplications,
  MutationsApplications,
  RootStateApplications,
} from '~/store/applications'
import { ErrorAPI, VForm } from '~/types/applications'
import { ActionsB2BOrders, StateB2BOrders } from '~/store/orders/b2b'
import { ActionsPresigned } from '@/store/presigned-urls'
import { VuexModuleB2bOrders } from '~/types/orders/b2b'
//  types - end

//  components breakdown - start
const VeeValidate = {
  ValidationObserver,
}
const Tab = { TabHeader, TabItems }
const FormSection = {
  BasicInfo,
  Sender,
  Consignee,
  PackageDetails,
  B2BItems,
  B2BAdditionals,
  Review,
  ItemActionButton,
}
//  components breakdown - end

export default defineComponent({
  name: 'B2BShipmentForm',
  components: {
    ...VeeValidate,
    ...Tab,
    ...FormSection,
    ActionButtons,
  },
  setup(_props, setupContext) {
    const { $customUtils } = useContext()
    const router = useRouter()

    //  manage feature flags
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const useB2BDocs = ref(false)
    const useB2bPriceEstimate = ref(false)
    //  end

    // manage store - start
    const { alert, suspensionAllowedActions } = useState<RootStateApplications>(
      'applications',
      ['alert', 'suspensionAllowedActions']
    )
    const { RESET_ALERT: doResetAlert, SET_ALERT: doSetAlert } =
      useMutations<MutationsApplications>('applications', [
        'RESET_ALERT',
        'SET_ALERT',
      ])
    const { rfq } = useState<StateB2BOrders>('orders/b2b', ['rfq'])
    const { postB2BShipmentsAPI, attachB2BDocumentsAPI, attachRfqAPI } =
      useActions<ActionsB2BOrders>('orders/b2b', [
        'postB2BShipmentsAPI',
        'attachB2BDocumentsAPI',
        'attachRfqAPI',
      ])
    const { requestPresignedURLsAPI, uploadDocumentsAPI } =
      useActions<ActionsPresigned>('presigned-urls', [
        'requestPresignedURLsAPI',
        'uploadDocumentsAPI',
      ])

    const storeB2bOrders = useStore<VuexModuleB2bOrders>()
    const storeState = { alert, suspensionAllowedActions, storeB2bOrders }
    // manage store - end

    // manage form - start
    const stepForm = ref(0)
    const computeStepOn = computed(() => ({
      first: stepForm.value === 0,
      last: stepForm.value === formItems.value.length - 1,
    }))
    const isNextButtonWasClicked = ref(false)
    const computedNextButtonText = computed(() => {
      if (computeStepOn.value.last) return 'Submit'

      return 'Next'
    })
    const formObserver = ref(null) as unknown as Ref<VForm>
    const formItems = ref([
      'Basic Info',
      'Shipper Details',
      'Consignee Details',
      'Package Details',
      'Item Details',
      'Additionals',
      'Review',
    ])

    //  form data management
    const formData = initFormData()
    provide<B2BAdditionalsForm>('b2bAdditionals', formData.value.b2bAdditionals)

    const handleB2BSubmission = async () => {
      const b2bPayload = doFormatPayload.b2bSubmission(formData.value)
      const documentsCategorized = formData.value.b2bAdditionals.documents || []
      const isDocumentsExist = documentsCategorized?.length || false
      const files = documentsCategorized?.flatMap((doc) => doc.files)

      try {
        // submit the b2b order
        const submitB2BRes = await postB2BShipmentsAPI({
          data: { ...b2bPayload },
        })
        const b2bId = submitB2BRes.data.b2bID

        // submit the b2b document
        if (isDocumentsExist) {
          // request the presigned urls for uploading b2b docs
          const { featureType, payload: presignedPayloads } =
            doFormatPayload.presignedUrlsB2BDocs(b2bId, documentsCategorized)
          const presignedURLsRes = await requestPresignedURLsAPI({
            featureType,
            data: presignedPayloads,
          })

          // upload b2b documents
          const { attachDocumentsPayload, uploadPresignedPayload } =
            doFormatPayload.attachB2BDocuments(
              presignedPayloads,
              presignedURLsRes,
              files
            )
          await Promise.allSettled([
            uploadDocumentsAPI(uploadPresignedPayload),
            attachB2BDocumentsAPI({
              data: {
                id: b2bId,
                payload: attachDocumentsPayload,
              },
            }),
          ])
        }

        if (useB2bPriceEstimate.value) {
          const attachRfqPayload = doFormatPayload.attachRfqToOrder(b2bId)
          // patch rfq
          if (rfq.value.quotationID !== '') {
            await attachRfqAPI({
              data: {
                id: rfq.value.quotationID,
                payload: attachRfqPayload,
              },
            })
          }
        }

        doSetAlert({
          isShow: true,
          type: 'success',
          message: `Successfully to submitted the B2B Shipments!`,
        })
        window.scrollTo({ top: 0 })
        setTimeout(() => {
          router.push('/orders')
        }, 1000)
      } catch (error) {
        const message = $customUtils.getErrorMessages(
          error as { response: AxiosResponse<ErrorAPI> },
          'Failed to submitted the B2B Shipments!'
        )

        doSetAlert({
          isShow: true,
          type: 'error',
          message,
        })
        window.scrollTo({ top: 0 })
      }
    }
    const doSubmit = async () => {
      await useFetchEngine(setupContext, handleB2BSubmission, {
        customLoadingFn: toggleLoadingFetch,
      })
    }
    /**
     *
     * @Function doPrevForm - handle function for click the back button
     * @Function doNextForm - handle function for click the next/submit button
     **/
    const doPrevForm = () => {
      doResetAlert()

      if (computeStepOn.value.first) return

      stepForm.value -= 1
    }
    const doNextForm = async () => {
      doResetAlert()

      // if it's not the last of form, go to the next form
      // then if it's the last of form, submit the form
      if (!computeStepOn.value.last) {
        stepForm.value += 1
        isNextButtonWasClicked.value = true

        return
      }

      await doSubmit()
    }
    // watch the form step changes
    watch(
      () => stepForm.value,
      (_newStep) => {
        if (!suspensionAllowedActions?.value?.submitOrder) return

        doResetAlert()
      }
    )
    const formState = {
      stepForm,
      computeStepOn,
      isNextButtonWasClicked,
      computedNextButtonText,
      formObserver,
      formItems,
      formData,
      doPrevForm,
      doNextForm,
      doSubmit,
    }
    // manage form - end

    // manage fetch - start
    const toggleLoadingFetch = () => {
      $fetchState.pending = !$fetchState.pending
    }
    const { $fetchState } = useFetch(async () => {
      //  feature-flags for b2b upload documents
      useB2BDocs.value = await getFeatureFlags('b2b-upload-docs')

      if (!useB2BDocs.value) {
        formItems.value = formItems.value.filter(
          (item) => item !== 'Additionals'
        )
      }

      //  feature-flags for b2b price estimate
      useB2bPriceEstimate.value = await getFeatureFlags(
        'use-56-b2b-price-estimate'
      )
    })
    // manage fetch - end

    const logEstimatedPrice = (value: boolean) => {
      $fetchState.pending = !value
    }

    return {
      ...storeState,
      ...formState,
      logEstimatedPrice,
    }
  },
})
</script>
