<template>
  <v-tabs v-model="stepForm" background-color="transparent" show-arrows grow>
    <v-tab
      v-for="(item, index) in formItems"
      :key="item"
      :disabled="index > stepForm"
      style="border-top-left-radius: 1rem; border-top-right-radius: 1rem"
    >
      <v-avatar
        :color="index > stepForm ? 'grey' : 'primary'"
        size="24"
        class="mr-2"
      >
        <span class="white--text caption font-weight-medium">
          {{ index + 1 }}
        </span>
      </v-avatar>

      {{ item }}
    </v-tab>
  </v-tabs>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'B2BTabHeader',
  props: {
    value: {
      type: Number,
      required: true,
    },
    formItems: {
      type: Array as PropType<string[]>,
      default: () => [],
    },
  },
  setup(props, { emit }) {
    const stepForm = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    })

    return {
      stepForm,
    }
  },
})
</script>
