<template>
  <v-tabs-items v-model="stepForm">
    <v-tab-item v-for="(item, index) in formItems" :key="item">
      <v-sheet color="transparent" width="100%" height="100%" class="mt-8">
        <slot :itemName="item" :itemIndex="index" />
      </v-sheet>
    </v-tab-item>
  </v-tabs-items>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'B2BTabItems',
  props: {
    value: {
      type: Number,
      required: true,
    },
    formItems: {
      type: Array as PropType<string[]>,
      default: () => [],
    },
  },
  setup(props, { emit }) {
    const stepForm = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    })

    return {
      stepForm,
    }
  },
})
</script>
