<template>
  <v-dialog v-model="dialogComp" eager width="450" @click:outside="toggleForm">
    <v-card>
      <v-card-text class="pt-6 px-6">
        <v-expand-transition>
          <v-alert
            v-if="error"
            dismissible
            rounded="xl"
            type="error"
            class="mx-6 mt-6"
          >
            {{ error }}
          </v-alert>
        </v-expand-transition>

        <!-- logo, partner name, and service types -->
        <div class="header d-flex align-center mb-4">
          <v-img
            contain
            :width="64"
            :height="64"
            :min-height="64"
            :max-height="64"
            :min-width="64"
            :max-width="64"
            :src="`data:image/png;base64,${data.logo}`"
            class="rounded-circle mr-4"
            style="border: 3px solid #1961e4"
          />

          <div>
            <div class="subtitle-1 font-weight-bold">
              {{ data.name }}
            </div>

            <v-chip-group
              v-if="
                data.partnerServiceTypes && data.partnerServiceTypes.length > 0
              "
              column
            >
              <v-chip
                v-for="(mile, i) in data.partnerServiceTypes"
                :key="i"
                :color="$customUtils.setColorServiceType(mile.name, 'chip')"
                :ripple="false"
                class="text-uppercase white--text"
                x-small
                style="cursor: auto"
              >
                {{ $customUtils.setServiceType(mile.name) }}
              </v-chip>
            </v-chip-group>
          </div>
        </div>

        <div class="country-port mt-4">
          <div
            v-if="
              data.partnerServiceZones && data.partnerServiceZones.length > 0
            "
            class="d-flex align-center mb-3"
          >
            <NuxtImg
              src="/images/mapLocation.svg"
              preload
              height="24"
              class="mr-2"
            />

            <div class="country-text">
              <span
                style="font-size: 8px"
                class="d-block text-uppercase font-weight-medium"
              >
                COUNTRY OF SERVICE
              </span>

              <span class="d-block font-weight-bold" style="font-size: 12px">
                {{ locationMapping(data.partnerServiceZones) }}
              </span>

              <!-- <span v-for="(x, i) in data.partnerServiceZones" :key="i">
                  {{ x.zone_country}}
                  {{ data.partnerServiceZones.length - 1 !== i ? ', ' : '' }}
                </span> -->
            </div>
          </div>

          <!-- <div v-if="false" class="port d-flex align-start">
            <NuxtImg
              src="/images/portIcon.svg"
              preload
              :style="{
                marginRight: '6px',
                minWidth: '22px',
              }"
            />
            <div class="port-text">
              <div
                :style="{
                  fontSize: '8px',
                  lineHeight: '10px',
                  marginBottom: '6px',
                }"
              >
                PORT OF SERVICE
              </div>
              <div
                class="info-port"
                :style="{
                  fontSize: '11px',
                  lineHeight: '14px',
                }"
              >
                Singapore, Jakarta, Metro Manila, Bangkok, Kuala Lumpur
              </div>
            </div>
          </div> -->
        </div>

        <div v-if="data.description" class="body-2 mb-8">
          {{ data.description }}
        </div>
      </v-card-text>

      <v-card-actions class="px-6 pb-6">
        <v-spacer />

        <v-btn plain @click="toggleForm"> Close </v-btn>

        <v-hover v-slot="{ hover }">
          <v-btn
            :outlined="!hover"
            color="primary"
            style="transition: all 0.4s ease-in-out"
            rounded
            @click="doConnectPartner"
          >
            Connect
          </v-btn>
        </v-hover>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from '@nuxtjs/composition-api'
import { DetailPartner, PartnerServiceZone } from '~/types/marketplace/detail'

export default defineComponent({
  props: {
    dialog: {
      type: Object,
      default: () => ({}),
    },
    item: {
      type: Object,
      default: () => ({}),
    },
    error: {
      type: String,
      default: '',
    },
    data: {
      type: Object as PropType<DetailPartner>,
      default: () => ({}),
    },
  },
  setup(props, { emit }) {
    const dialogComp = computed({
      get: () => props.dialog.status,
      set: (value: boolean) => emit('input', value),
    })
    const toggleForm = () => {
      emit('toggle')
    }
    const doConnectPartner = () => {
      emit('add')
    }
    const locationMapping = (partnerServiceZones: PartnerServiceZone[]) => {
      if (partnerServiceZones && partnerServiceZones.length > 0) {
        const temp = [] as string[]
        partnerServiceZones.forEach(
          (el: { id: string; zone_country: string }) => {
            if (!temp.includes(el.zone_country)) {
              temp.push(el.zone_country)
            }
          }
        )
        return temp.join(', ')
      } else {
        return ''
      }
    }

    return {
      toggleForm,
      dialogComp,
      doConnectPartner,
      locationMapping,
    }
  },
})
</script>

<!-- <style>
.v-dialog {
  max-width: 100% !important;
}
</style> -->
