<template>
  <article>
    <BaseLoading v-if="$fetchState.pending" />

    <template v-else>
      <h1 class="title mb-12 text-capitalize text-center">
        Featured Network Partners
      </h1>

      <carousel-3d
        v-if="marketplaces.length"
        v-bind="carouselSettings"
        :on-main-slide-click="toDetailPartner"
      >
        <slide
          v-for="(slide, i) in marketplaces"
          :key="i"
          :index="i"
          style="cursor: pointer"
        >
          <v-hover v-slot="{ hover }">
            <v-img
              height="100%"
              class="align-end opacity opacity-custom custom-slide"
              :style="`${hover && 'filter: brightness(95%);'}`"
              :src="
                slide.partnerGallery[0] ? slide.partnerGallery[0].path : null
              "
            >
              <div class="gradation-custom">
                <!-- this is for gradation -->
              </div>

              <div
                class="py-7 px-10 text-custom d-flex align-center justify-space-between"
              >
                <v-col class="text-h4 white--text pa-0">
                  {{ slide.name }}
                </v-col>

                <v-col
                  v-if="slide.partnerServiceTypes.length > 0"
                  cols="6"
                  class="pa-0"
                >
                  <v-chip
                    v-for="(mile, index) in slide.partnerServiceTypes"
                    :key="index"
                    class="mr-1 my-1"
                    :color="$customUtils.setColorServiceType(mile.name, 'chip')"
                    text-color="white"
                    small
                    disabled
                    :style="{
                      opacity: 1,
                      border: '1px solid white !important',
                    }"
                  >
                    {{ $customUtils.setServiceType(mile.name) }}
                  </v-chip>
                </v-col>
              </div>
            </v-img>
          </v-hover>
        </slide>
      </carousel-3d>
    </template>
  </article>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  useContext,
  useFetch,
  useStore,
  useRouter,
} from '@nuxtjs/composition-api'
// types
import { VuexModuleMarketplaces } from '~/types/marketplace/marketplace'

export default defineComponent({
  setup() {
    const router = useRouter()
    const { $vuetify } = useContext()
    // manage store
    const storeMarketplaces = useStore<VuexModuleMarketplaces>()
    const marketplaces = computed(
      () => storeMarketplaces.state.marketplaces.marketplaces.marketplacesAll
    )
    const storeState = { marketplaces }

    // other state
    const carouselSettings = computed(() => {
      return {
        perspective: 0,
        space: 200,
        width: !$vuetify.breakpoint.xl ? 585 : 785,
        height: !$vuetify.breakpoint.xl ? 475 : 675,
        display: 3,
        autoplay: true,
        autoplayHoverPause: true,
      }
    })
    const toDetailPartner = (data: { index: number }) => {
      const id = marketplaces.value[data.index].id

      if (!id) return

      router.push(`/marketplace/${id}`)
    }
    const otherState = { carouselSettings, toDetailPartner }

    useFetch(async () => {
      await storeMarketplaces.dispatch(
        'marketplaces/marketplaces/getMarketplacesAll'
      )
    })

    return {
      // manage store
      ...storeState,
      ...otherState,
    }
  },
})
</script>
