<template>
  <v-card-text class="px-6">
    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="AWB Number"
      rules="required"
      tag="div"
    >
      <v-text-field
        v-model="form.awbNo"
        :error-messages="errors"
        label="Awb Number"
        placeholder="Enter your AWB number..."
        type="text"
        required
        single-line
        dense
        outlined
        rounded
      />
    </ValidationProvider>
  </v-card-text>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from '@nuxtjs/composition-api'
import { ValidationProvider } from 'vee-validate'
// Interfaces and types
import { SetAwb } from '~/types/orders'

export default defineComponent({
  components: {
    ValidationProvider,
  },
  props: {
    value: {
      type: Object as PropType<SetAwb>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const form = computed({
      get: (): SetAwb => props.value,
      set: (value: SetAwb) => emit('input', value),
    })

    return {
      form,
    }
  },
})
</script>
