<template>
  <FilePond
    v-bind="pondSettings"
    ref="pondOrders"
    v-model="file"
    name="orders"
    class="ordersPondCSV"
    @addfile="handleAddFile"
    @addfilestart="handleBeforeAddFile"
    @removefile="handleRemoveFile"
  />
</template>

<script lang="ts">
// Import Vue FilePond
import vueFilePond from 'vue-filepond'
import 'filepond/dist/filepond.min.css'
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'
import 'filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css'

// eslint-disable-next-line import/default
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
// eslint-disable-next-line import/default
import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size'
// eslint-disable-next-line import/default
import FilePondPluginFileEncode from 'filepond-plugin-file-encode'

// import nuxt composition API
import {
  defineComponent,
  ref,
  Ref,
  useStore,
  computed,
} from '@nuxtjs/composition-api'
import { read, utils } from 'xlsx'
import {
  doFormat,
  errorMessages,
  doMergeOrders,
  formatToMultipleSheet,
} from '~/composables/clients/orders/upload-orders/merge'
import { doValidate } from '~/composables/clients/orders/upload-orders/validation'

// types - start
import type { ErrorFilePond } from '~/types/base/filePond'
import type { VuexModuleApplications } from '~/types/applications'
import type {
  OrderItemUpload,
  OrdersMultipleSheet,
  OrdersSingleSheet,
  OrderSubmissionWorksheet,
  UploadOrdersScopeType,
} from '~/types/orders/upload-submission'
// types - end

// Create component file pond
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginFileValidateSize,
  FilePondPluginFileEncode
)

export default defineComponent({
  components: {
    FilePond,
  },
  props: {
    value: {
      type: Array,
      required: true,
    },
    step: {
      type: Number,
      required: true,
    },
  },
  setup(props, { emit }) {
    // store manage
    const storeApplications = useStore<VuexModuleApplications>()

    const file = ref([])
    const pondOrders = ref({}) as Ref<any>
    const uploadOrdersScope = computed<UploadOrdersScopeType>(() =>
      props.step === 1 ? 'cross border' : 'domestic'
    )
    // *settings pond components data
    const pondSettings = ref({
      // Size validation
      allowFileSizeValidation: true,
      maxFileSize: '5MB',
      labelMaxFileSizeExceeded: `Order ${uploadOrdersScope.value} file is too large!`,
      // Type validation
      allowFileTypeValidation: true,
      labelFileTypeNotAllowed: `Order ${uploadOrdersScope.value} file is invalid type!`,
      acceptedFileTypes: [
        'application/vnd.ms-excel',
        'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
      ],
      // Pond settings
      labelIdle: `
        <span>Drag and drop to upload ${uploadOrdersScope.value} or</span>
        </br>
        </br>
        <span class="filepond--label-action font-weight-medium secondary--text text-decoration-none">Browse</span>
      `,
      dropOnPage: true,
      allowMultiple: false,
      checkValidity: true,
    })
    const handleAlert = {
      reset: () => storeApplications.commit('applications/RESET_ALERT'),
      error: (
        message = [
          `Order upload data invalid, The data contained in the file you uploaded is incorrect. Please add data according to the existing sample file!`,
        ]
      ) => {
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message,
        })
      },
    }
    const manage = {
      multipleSheet: (worksheet: OrderSubmissionWorksheet) => {
        // convert worksheet data to json format
        const orders = utils
          .sheet_to_json<OrdersMultipleSheet>(worksheet.orders, { defval: '' })
          .map((data) => doFormat.payloadKey(data))
          .filter((_data, index) => index !== 0)
        const orderItems: OrderItemUpload[] = utils
          .sheet_to_json<OrderItemUpload>(worksheet.items)
          .map((data) => doFormat.payloadKey(data))

        // check the duplicated orders, so if the orders have a duplication data, error messages will appear
        const { isDuplicated } = doValidate.duplicateOrderCodes(
          orders,
          'multiple'
        )
        if (isDuplicated) {
          emit('input', [])
          handleAlert.error(errorMessages.value)
          return
        }

        // merge the orders data with the order items data & also validate them, error messages will appear
        const { orders: orderMerge, isError } = doMergeOrders({
          orders,
          orderItems,
          uploadOrdersScope: uploadOrdersScope.value,
        })
        if (isError) {
          emit('input', [])
          handleAlert.error(errorMessages.value)
          return
        }

        emit('input', orderMerge)
      },
      singleSheet: (worksheet: OrderSubmissionWorksheet) => {
        const ordersWorksheet = utils
          .sheet_to_json<OrdersSingleSheet>(worksheet.orders, {
            range: 1,
            defval: '',
          })
          .map((data) => doFormat.payloadKey(data))
          .filter((_data, index) => index !== 0)

        // check the duplicated orders, so if the orders have a duplication data, error messages will appear
        const { isDuplicated } = doValidate.duplicateOrderCodes(
          ordersWorksheet,
          'single'
        )
        if (isDuplicated) {
          emit('input', [])
          handleAlert.error(errorMessages.value)
          return
        }

        // get the unique & separated of orders and orders items
        const {
          orders: ordersMultipleSheet,
          orderItems: orderItemsMultipleSheet,
        } = formatToMultipleSheet(ordersWorksheet)

        // check the duplicated orders, so if the orders have a duplication data, error messages will appear
        const { orders: orderMerge, isError } = doMergeOrders({
          orders: ordersMultipleSheet,
          orderItems: orderItemsMultipleSheet,
          uploadOrdersScope: uploadOrdersScope.value,
        })
        if (isError) {
          emit('input', [])
          handleAlert.error(errorMessages.value)
          return
        }

        emit('input', orderMerge)
      },
    }
    const handleBeforeAddFile = () => {
      errorMessages.value = []
      handleAlert.reset()
      emit('changeLoading')
    }
    const handleRemoveFile = (_error: ErrorFilePond, _file: any) => {
      errorMessages.value = []
      handleAlert.reset()
      emit('input', [])
    }
    const handleAddFile = async (
      error: ErrorFilePond,
      { file }: { file: File }
    ) => {
      try {
        // error on size and type validation
        if (error) {
          handleAlert.error([`${error.main}, ${error.sub}!`])
          return pondOrders.value.removeFiles()
        }

        // change file uploaded to the array buffer
        const arrayBuffer = await file.arrayBuffer()
        const workbook = read(arrayBuffer, { type: 'array' })
        // checking the valid file upload based on the sheet names
        const sheetName = {
          orders: workbook?.SheetNames[0] || '',
          orderItems: workbook?.SheetNames[1] || '',
        }
        const isValidDomesticSample =
          uploadOrdersScope.value === 'domestic' &&
          sheetName.orders.includes('Domestic')
        const isValidCrossBorderSample =
          uploadOrdersScope.value === 'cross border' &&
          sheetName.orders.includes('Crossborder')
        const isValidSheet = {
          crossBorders: {
            multiple: isValidCrossBorderSample,
            single:
              isValidCrossBorderSample &&
              sheetName.orderItems !== 'Order Items',
          },
          domestic: isValidDomesticSample,
        }
        if (
          !isValidSheet.crossBorders.multiple &&
          !isValidSheet.crossBorders.single &&
          !isValidSheet.domestic
        ) {
          emit('input', [])
          handleAlert.error()
          return
        }

        // define the worksheet
        const worksheet = {
          orders: workbook?.Sheets[sheetName.orders] || [],
          items: workbook?.Sheets[sheetName.orderItems] || [],
        }

        // the first priority is to check the single sheet order submission file
        if (isValidSheet.crossBorders.single) {
          manage.singleSheet(worksheet)
          return
        }

        manage.multipleSheet(worksheet)
      } finally {
        setTimeout(() => {
          emit('changeLoading')
        }, 500)
      }
    }

    return {
      file,
      pondOrders,
      pondSettings,
      // methods
      handleBeforeAddFile,
      handleAddFile,
      handleRemoveFile,
    }
  },
})
</script>
