<template>
  <v-row align="center" class="ma-0">
    <template v-if="!$fetchState.pending">
      <!-- order code -->
      <v-col cols="12" md="4" lg="3">
        <v-text-field
          v-model="filterOrder.orderCode"
          clearable
          outlined
          dense
          rounded
          single-line
          label="Order ID"
          placeholder="Enter order code..."
          hint="Separate order codes with comma for multiple filter"
          persistent-hint
          background-color="white"
          type="search"
          class="input-filter"
        />
      </v-col>

      <!-- batch id -->
      <v-col cols="12" md="4" lg="3">
        <v-text-field
          v-model="filterOrder.batchCode"
          clearable
          outlined
          dense
          rounded
          single-line
          label="Batch Code"
          placeholder="Enter your batch code..."
          background-color="white"
          type="search"
          class="input-filter"
        />
      </v-col>

      <!-- created from  -->
      <v-col cols="12" md="4" lg="3">
        <v-menu
          v-model="menu.createdFrom"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template #activator="{ on, attrs }">
            <v-text-field
              :value="date.createdFrom"
              v-bind="attrs"
              readonly
              clearable
              single-line
              outlined
              rounded
              dense
              label="Created From"
              placeholder="Enter your created from..."
              class="input-filter"
              v-on="on"
              @click:clear="filterOrder.createdFrom = null"
            />
          </template>

          <v-date-picker
            v-model="filterOrder.createdFrom"
            :max="filterOrder.createdTo"
            show-adjacent-months
            @input="menu.createdFrom = false"
          />
        </v-menu>
      </v-col>

      <!-- created to  -->
      <v-col cols="12" md="4" lg="3">
        <v-menu
          v-model="menu.createdTo"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template #activator="{ on, attrs }">
            <v-text-field
              :value="date.createdTo"
              v-bind="attrs"
              readonly
              clearable
              single-line
              outlined
              rounded
              dense
              label="Created To"
              placeholder="Enter your created to..."
              class="input-filter"
              v-on="on"
              @click:clear="filterOrder.createdTo = null"
            />
          </template>

          <v-date-picker
            v-model="filterOrder.createdTo"
            :min="filterOrder.createdFrom"
            show-adjacent-months
            @input="menu.createdTo = false"
          />
        </v-menu>
      </v-col>

      <!-- origin country -->
      <v-col cols="12" md="4" lg="3">
        <v-autocomplete
          v-model="filterOrder.originCountry"
          :items="filterData.country"
          :search-input.sync="search.originCountry"
          clearable
          outlined
          rounded
          dense
          single-line
          item-text="name"
          item-value="value"
          background-color="white"
          label="Origin Country"
          placeholder="Enter your origin country..."
          class="input-select-filter"
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>
          </template>
        </v-autocomplete>
      </v-col>

      <!-- destination country -->
      <v-col cols="12" md="4" lg="3">
        <v-autocomplete
          v-model="filterOrder.destinationCountry"
          :items="filterData.country"
          :search-input.sync="search.destinationCountry"
          clearable
          outlined
          rounded
          dense
          single-line
          item-text="name"
          item-value="value"
          background-color="white"
          label="Destination Country"
          placeholder="Enter your destination country..."
          class="input-select-filter"
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>
          </template>
        </v-autocomplete>
      </v-col>

      <!-- origin port -->
      <v-col cols="12" md="4" lg="3">
        <v-autocomplete
          v-model="filterOrder.originPortId"
          :items="filterData.ports.data"
          :search-input.sync="search.originPortId"
          clearable
          outlined
          rounded
          dense
          single-line
          item-text="name"
          item-value="id"
          background-color="white"
          label="Origin Port"
          placeholder="Enter your origin port..."
          class="input-select-filter"
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>

            <div v-else v-intersect="portIntersect" />
          </template>
        </v-autocomplete>
      </v-col>

      <!-- destination port -->
      <v-col cols="12" md="4" lg="3">
        <v-autocomplete
          v-model="filterOrder.destinationPortId"
          :items="filterData.ports.data"
          :search-input.sync="search.destinationPortId"
          clearable
          outlined
          rounded
          dense
          single-line
          item-text="name"
          item-value="id"
          background-color="white"
          label="Destination Port"
          placeholder="Enter your destination port..."
          class="input-select-filter"
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>

            <div v-else v-intersect="portIntersect" />
          </template>
        </v-autocomplete>
      </v-col>

      <!-- service type -->
      <v-col cols="12" md="4" lg="3">
        <v-autocomplete
          v-model="filterOrder.serviceType"
          :items="filterData.serviceTypes"
          :search-input.sync="search.serviceType"
          clearable
          outlined
          rounded
          dense
          single-line
          multiple
          item-text="text"
          item-value="value"
          background-color="white"
          label="Service Type"
          placeholder="Enter your service type..."
          class="input-filter"
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>
          </template>

          <template #selection="{ item, index }">
            <v-chip v-if="index === 0" small color="primary">
              <span>{{ item.text }}</span>
            </v-chip>

            <span v-if="index === 1" class="grey--text text-caption">
              (+{{ filterOrder.serviceType.length - 1 }} others)
            </span>
          </template>
        </v-autocomplete>
      </v-col>

      <!-- statuses -->
      <v-col cols="12" md="4" lg="3">
        <StatusSelect
          v-model="filterOrder.status"
          :items="filterData.statuses"
          :attrs="{
            label: 'Status',
            placeholder: 'Enter your status...',
          }"
        />
      </v-col>

      <v-col v-if="showTerminalStatus" cols="12" md="4" lg="3">
        <v-autocomplete
          v-model="filterOrder.terminalStatus"
          :items="filterData.terminalStatus"
          clearable
          outlined
          rounded
          dense
          single-line
          label="Terminal Status"
          placeholder="Select terminal status..."
          item-text="text"
          item-value="value"
          background-color="white"
          class="input-filter"
        />
      </v-col>

      <!-- customers -->
      <v-col v-if="isCustomerExist" cols="12" md="4" lg="3">
        <v-autocomplete
          v-model="filterOrder.customerId"
          :items="filterData.customer.data"
          :search-input.sync="search.customerId"
          clearable
          outlined
          rounded
          dense
          single-line
          item-text="name"
          item-value="id"
          background-color="white"
          label="Customer Name"
          placeholder="Enter customer name..."
          class="input-filter"
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>

            <div v-else v-intersect="customersIntersect" />
          </template>
        </v-autocomplete>
      </v-col>

      <!-- clients on partner -->
      <v-col v-if="isOn.partnerPortal" cols="12" md="4" lg="3">
        <v-autocomplete
          v-model="filterOrder.clientId"
          :items="filterData.clientsOnPartner.data"
          :search-input.sync="search.clientsOnPartner"
          clearable
          outlined
          rounded
          dense
          single-line
          multiple
          item-text="name"
          item-value="id"
          background-color="white"
          label="Client Name"
          placeholder="Enter client name..."
          class="input-filter"
        >
          <template #append-item>
            <div v-if="$fetchState.pending" class="d-flex justify-center">
              <v-progress-circular indeterminate color="primary" />
            </div>

            <div v-else v-intersect="clientsOnPartnerIntersect" />
          </template>

          <template #selection="{ item, index }">
            <v-chip v-if="index === 0" small color="primary">
              <span>{{ item.name }}</span>
            </v-chip>

            <span v-if="index === 1" class="grey--text text-caption">
              (+{{ filterOrder.clientId ? filterOrder.clientId.length - 1 : 0 }}
              others)
            </span>
          </template>
        </v-autocomplete>
      </v-col>
    </template>

    <v-col v-else cols="12">
      <BaseLoading />
    </v-col>
  </v-row>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  useFetch,
  useStore,
  ref,
  Ref,
  useContext,
  useRoute,
  watch,
} from '@nuxtjs/composition-api'
import { initSimplePagination } from '~/store/applications'

// components - start
import StatusSelect from '@/components/base/Field/StatusSelect.vue'
// components - end

// types - start
import type { Pagination } from '~/types/applications'
import type {
  CountryCode,
  VuexModuleFilters,
  Ports,
  Statuses,
  ServiceType,
  CustomerPaginated,
  ClientsPaginated,
  TerminalStatus,
} from '~/types/filters'
import type { FilterOrders } from '~/types/orders'

interface FilterData {
  serviceTypes: {
    text: string
    value: string
  }[]
  country: CountryCode[]
  statuses: Statuses[]
  ports: Ports
  customer: CustomerPaginated
  clientsOnPartner: ClientsPaginated
  terminalStatus: TerminalStatus[]
}
// types - end

export default defineComponent({
  components: {
    StatusSelect,
  },
  props: {
    value: {
      type: Object as PropType<FilterOrders>,
      required: true,
    },
    isCustomerExist: {
      type: Boolean,
      default: false,
    },
    showTerminalStatus: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const { app, $dateFns } = useContext()

    // manage router
    const route = useRoute()
    const isOn = computed(() => ({
      partnerPortal: route.value.name === 'partner-portals-id-incoming-orders',
    }))

    const storeFilter = useStore<VuexModuleFilters>()
    const filterOrder = computed<FilterOrders>({
      get: () => props.value,
      set: (value) => emit('input', value),
    })
    watch(
      () => filterOrder.value.orderCode,
      (newValue) => {
        if (!!newValue && newValue.includes(' ')) {
          filterOrder.value.orderCode =
            filterOrder?.value?.orderCode?.replace(/[ ,]+/g, ',') || ''
        }
      }
    )

    // manage date for filter by created from and to
    const menu = ref({
      createdFrom: false,
      createdTo: false,
    })
    const date = computed(() => ({
      createdFrom: filterOrder.value.createdFrom
        ? $dateFns.format(
            $dateFns.parseISO(filterOrder.value.createdFrom),
            'MMMM do yyyy'
          )
        : '',
      createdTo: filterOrder.value.createdTo
        ? $dateFns.format(
            $dateFns.parseISO(filterOrder.value.createdTo),
            'MMMM do yyyy'
          )
        : '',
    }))

    // manage filter
    const search = ref({
      orderCode: null,
      originCountry: null,
      destinationCountry: null,
      serviceType: null,
      originPortId: null,
      destinationPortId: null,
      statuses: null,
      customerId: null,
      clientsOnPartner: null,
      terminalStatus: null,
    })
    const filterData = ref({
      serviceTypes: [],
      country: [],
      statuses: [],
      ports: {} as Ports,
      customer: {} as CustomerPaginated,
      clientsOnPartner: {} as ClientsPaginated,
      terminalStatus: [],
    }) as Ref<FilterData>

    const meta = ref({
      ports: { ...initSimplePagination },
      customers: { ...initSimplePagination },
      clientsOnPartner: { ...initSimplePagination },
    })

    // manage ports
    const doGetPorts = async (params: Pagination) => {
      const { page, itemsPerPage: perPage } = params
      await storeFilter.dispatch('filters/getPorts', {
        params: {
          page,
          perPage,
        },
      })
      const { ports } = storeFilter.state.filters
      filterData.value.ports = { ...ports }
    }
    const portIntersect = async (
      _entries: IntersectionObserverEntry[],
      _observer: IntersectionObserver,
      isIntersecting: boolean
    ) => {
      const { ports: portsMeta } = meta.value
      const { totalCount } = filterData.value.ports

      if (!isIntersecting || portsMeta.itemsPerPage >= totalCount) return

      meta.value.ports = {
        page: 1,
        itemsPerPage: portsMeta.itemsPerPage + 10,
      }

      await doGetPorts(meta.value.ports)
    }

    // manage customer
    const doGetCustomers = async (params: Pagination) => {
      const { page, itemsPerPage: perPage } = params
      await storeFilter.dispatch('filters/getCustomers', {
        params: { page, perPage },
      })
      const { customers } = storeFilter.state.filters
      filterData.value.customer = { ...customers }
    }
    const customersIntersect = async (
      _entries: IntersectionObserverEntry[],
      _observer: IntersectionObserver,
      isIntersecting: boolean
    ) => {
      const { customers: customersMeta } = meta.value
      const { totalCount } = filterData.value.ports

      if (!isIntersecting || customersMeta.itemsPerPage >= totalCount) return

      meta.value.customers = {
        page: 1,
        itemsPerPage: customersMeta.itemsPerPage + 10,
      }

      await doGetCustomers(meta.value.customers)
    }

    // manage clients on partner
    const doGetClientsOnPartner = async (params: Pagination) => {
      const id = route.value.params.id
      const { page, itemsPerPage: perPage } = params
      await storeFilter.dispatch('filters/getClientsOnPartner', {
        params: { page, perPage },
        partnerId: id,
      })
      const {
        clients: { onPartner },
      } = storeFilter.state.filters
      filterData.value.clientsOnPartner = { ...onPartner }
    }
    const clientsOnPartnerIntersect = async (
      _entries: IntersectionObserverEntry[],
      _observer: IntersectionObserver,
      isIntersecting: boolean
    ) => {
      const { clientsOnPartner: clientsOnPartnerMeta } = meta.value
      const { totalCount } = filterData.value.clientsOnPartner

      if (!isIntersecting || clientsOnPartnerMeta.itemsPerPage >= totalCount)
        return

      meta.value.clientsOnPartner = {
        page: 1,
        itemsPerPage: clientsOnPartnerMeta.itemsPerPage + 10,
      }

      await doGetClientsOnPartner(meta.value.clientsOnPartner)
    }

    // manage service types
    const formatServiceTypes = () => {
      const serviceTypes = app.$customUtils.sortServiceTypes([
        ...storeFilter.state.filters.serviceTypes,
      ]) as ServiceType[]

      return serviceTypes.map((type) => ({
        text: app.$customUtils.setServiceType(type.name),
        value: type.name,
      }))
    }

    // manage statuses
    const formatStatuses = () => {
      const sortedStatus = app.$customUtils.sortStatuses([
        ...storeFilter.state.filters.statuses,
      ]) as Statuses[]

      return app.$customUtils.formattingStatuses([
        ...sortedStatus,
      ]) as Statuses[]
    }

    useFetch(async () => {
      const {
        ports: portsMeta,
        customers: customersMeta,
        clientsOnPartner: clientsOnPartnerMeta,
      } = meta.value

      await storeFilter.dispatch('filters/getServiceTypes')
      await storeFilter.dispatch('filters/getCountryCodes', {
        params: { isActive: true },
      })
      await storeFilter.dispatch('filters/getStatuses')
      await storeFilter.dispatch('filters/getTerminalStatus')
      await doGetPorts(portsMeta)

      // only fetch customer if the customer is exist
      if (props.isCustomerExist) {
        await doGetCustomers(customersMeta)
      }

      // only fetch client on partner if the client on the partner is exist
      if (isOn.value.partnerPortal) {
        await doGetClientsOnPartner(clientsOnPartnerMeta)
      }

      const {
        countryCodes,
        ports,
        customers,
        terminalStatus,
        clients: { onPartner },
      } = storeFilter.state.filters

      filterData.value = {
        // format service types
        serviceTypes: formatServiceTypes(),
        country: [...countryCodes],
        // format statuses
        statuses: formatStatuses(),
        ports: { ...ports },
        customer: { ...customers },
        clientsOnPartner: { ...onPartner },
        terminalStatus: [...terminalStatus],
      }
    })

    return {
      // manage route
      isOn,
      filterOrder,
      // manage date for filter by created from and to
      menu,
      date,
      // manage filter
      search,
      filterData,
      // manage ports
      portIntersect,
      // manage customers
      customersIntersect,
      // manage clients on partner
      clientsOnPartnerIntersect,
    }
  },
})
</script>
