<template>
  <v-col
    cols="12"
    md="auto"
    class="d-flex flex-column flex-md-row align-start align-md-center"
  >
    <slot name="viewSettings" />

    <slot name="toggleView" />

    <v-btn
      v-if="isAbleUpload"
      :disabled="loading"
      :block="$vuetify.breakpoint.mobile"
      nuxt
      color="primary"
      class="ml-md-2 mb-4 mb-md-0"
      to="/orders/upload"
    >
      Upload Orders
    </v-btn>
  </v-col>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    loading: {
      type: Boolean,
    },
    isAbleUpload: {
      type: Boolean,
      default: false,
    },
  },
})
</script>
