<template>
  <v-card-text class="px-6">
    <v-row>
      <v-col cols="12" md="12" class="px-2 py-4">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="New Status"
          rules="required"
          tag="div"
        >
          <StatusSelect
            v-model="selected.status"
            :items="dataStatuses"
            :attrs="{
              label: 'New Status',
              placeholder: 'Enter your new status...',
              disabled: $fetchState.pending,
              hideDetails: true,
            }"
            :error-messages="errors"
            class="elevation-1"
          />
        </ValidationProvider>
      </v-col>
    </v-row>

    <v-row>
      <!-- created from  -->
      <v-col cols="12" md="8" class="px-2 py-4">
        <v-menu
          v-model="menuUpdateDate"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template #activator="{ on, attrs }">
            <ValidationProvider
              v-slot="{ errors }"
              slim
              name="Update Date"
              rules="required"
              tag="div"
            >
              <v-text-field
                :error-messages="errors"
                :value="date.updateDate"
                :disabled="$fetchState.pending"
                v-bind="attrs"
                readonly
                clearable
                single-line
                outlined
                rounded
                dense
                hide-details
                label="Update Date"
                placeholder="Enter your update date..."
                class="input-filter elevation-1"
                v-on="on"
                @click:clear="selected.updateDate = ''"
              />
            </ValidationProvider>
          </template>

          <v-date-picker
            v-model="selected.updateDate"
            show-adjacent-months
            @input="menuUpdateDate = false"
          />
        </v-menu>
      </v-col>
      <v-col cols="12" md="4" class="px-2 py-4">
        <v-menu
          ref="menu"
          v-model="menuUpdateTime"
          :close-on-content-click="false"
          :return-value.sync="selected.updateTime"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template #activator="{ on, attrs }">
            <ValidationProvider
              v-slot="{ errors }"
              slim
              name="Time"
              rules="required"
              tag="div"
            >
              <v-text-field
                v-model="selected.updateTime"
                :error-messages="errors"
                :disabled="$fetchState.pending"
                :label="'Time'"
                readonly
                clearable
                single-line
                outlined
                rounded
                dense
                hide-details
                v-bind="attrs"
                placeholder="Enter your update time..."
                class="input-filter elevation-1"
                v-on="on"
              />
            </ValidationProvider>
          </template>

          <v-time-picker
            v-if="menuUpdateTime"
            v-model="selected.updateTime"
            full-width
            @click:minute="$refs.menu.save(selected.updateTime)"
          />
        </v-menu>
      </v-col>
    </v-row>
  </v-card-text>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  PropType,
  useStore,
  useContext,
  ref,
  useFetch,
} from '@nuxtjs/composition-api'
import { ValidationProvider } from 'vee-validate'
// components
import StatusSelect from '@/components/base/Field/StatusSelect.vue'
// types
import { VuexModuleFilters, Statuses } from '~/types/filters'

interface StatusUpdate {
  status: Statuses
  updateDate: string
  updateTime: string
}

export default defineComponent({
  components: {
    ValidationProvider,
    StatusSelect,
  },
  props: {
    value: {
      type: Object as PropType<StatusUpdate>,
      required: true,
    },
    isOpen: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const { app, $dateFns } = useContext()

    const storeFilter = useStore<VuexModuleFilters>()
    const selected = computed({
      get: (): StatusUpdate => {
        return props.value
      },
      set: (value: StatusUpdate) => {
        return emit('input', value)
      },
    })

    const menuUpdateTime = ref(false)
    const menuUpdateDate = ref(false)

    const date = computed(() => ({
      updateDate: selected.value.updateDate
        ? $dateFns.format(
            $dateFns.parseISO(selected.value.updateDate),
            'MMMM do yyyy'
          )
        : '',
    }))
    const dataStatuses = computed(() => {
      return formatStatuses()
    })

    // manage filter
    const search = ref({
      statuses: null,
    })

    // manage statuses
    function formatStatuses() {
      const sortedStatus = app.$customUtils.sortStatuses([
        ...storeFilter.state.filters.statuses,
      ]) as Statuses[]

      return app.$customUtils.formattingStatuses([
        ...sortedStatus,
      ]) as Statuses[]
    }

    useFetch(async () => {
      selected.value.status = {} as Statuses
      selected.value.updateDate = ''
      selected.value.updateTime = ''
      await storeFilter.dispatch('filters/getStatuses')
    })

    return {
      selected,
      dataStatuses,
      search,
      date,
      menuUpdateTime,
      menuUpdateDate,
    }
  },
})
</script>
