<template>
  <v-menu
    bottom
    offset-y
    :close-on-content-click="false"
    transition="slide-y-transition"
  >
    <template #activator="{ attrs, on }">
      <v-btn
        text
        :disabled="loading"
        :block="$vuetify.breakpoint.mobile"
        color="primary"
        class="white--text mx-0 ml-md-2 mb-4 mb-md-0"
        v-bind="attrs"
        v-on="on"
      >
        View Settings

        <v-icon right> mdi-eye </v-icon>
      </v-btn>
    </template>

    <v-card color="transparent" style="backdrop-filter: blur(16px)">
      <v-row no-gutters class="py-4">
        <v-col cols="12" class="px-4">
          <span class="text--secondary subtitle-2">Only Show : </span>
        </v-col>

        <v-col cols="6">
          <v-list color="transparent">
            <template v-if="!isOnOrdersPages">
              <!-- client -->
              <v-list-item>
                <v-checkbox
                  v-model="selectedViews"
                  on-icon="mdi-checkbox-marked-circle"
                  off-icon="mdi-checkbox-blank-circle-outline"
                  label="Client Name"
                  value="clientName"
                />
              </v-list-item>
            </template>

            <!-- service types -->
            <v-list-item>
              <v-checkbox
                v-model="selectedViews"
                on-icon="mdi-checkbox-marked-circle"
                off-icon="mdi-checkbox-blank-circle-outline"
                label="Service Type"
                value="serviceTypeOrders"
              />
            </v-list-item>

            <!-- status -->
            <v-list-item>
              <v-checkbox
                v-model="selectedViews"
                on-icon="mdi-checkbox-marked-circle"
                off-icon="mdi-checkbox-blank-circle-outline"
                label="Status"
                value="statusOrders"
              />
            </v-list-item>

            <!-- origin -->
            <v-list-item>
              <v-checkbox
                v-model="selectedViews"
                on-icon="mdi-checkbox-marked-circle"
                off-icon="mdi-checkbox-blank-circle-outline"
                label="Origin"
                value="originOrders"
              />
            </v-list-item>

            <!-- origin port -->
            <v-list-item>
              <v-checkbox
                v-model="selectedViews"
                on-icon="mdi-checkbox-marked-circle"
                off-icon="mdi-checkbox-blank-circle-outline"
                label="Origin Port"
                value="originPortOrders"
              />
            </v-list-item>
          </v-list>
        </v-col>

        <v-col cols="6">
          <v-list color="transparent">
            <!-- destination  -->
            <v-list-item>
              <v-checkbox
                v-model="selectedViews"
                on-icon="mdi-checkbox-marked-circle"
                off-icon="mdi-checkbox-blank-circle-outline"
                label="Destination"
                value="destinationOrders"
              />
            </v-list-item>

            <!-- destination port -->
            <v-list-item>
              <v-checkbox
                v-model="selectedViews"
                on-icon="mdi-checkbox-marked-circle"
                off-icon="mdi-checkbox-blank-circle-outline"
                label="Destination Port"
                value="destinationPortOrders"
              />
            </v-list-item>

            <!-- creation date -->
            <v-list-item>
              <v-checkbox
                v-model="selectedViews"
                on-icon="mdi-checkbox-marked-circle"
                off-icon="mdi-checkbox-blank-circle-outline"
                label="Creation Date"
                value="creationDateOrders"
              />
            </v-list-item>

            <!-- lm tracking number -->
            <v-list-item>
              <v-checkbox
                v-model="selectedViews"
                on-icon="mdi-checkbox-marked-circle"
                off-icon="mdi-checkbox-blank-circle-outline"
                label="Last Mile Tracking No."
                value="LMTrackingNumberOrders"
              />
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
    </v-card>
  </v-menu>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  useRoute,
} from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    value: {
      type: Array as PropType<string[]>,
      required: true,
    },
    loading: {
      type: Boolean,
    },
  },
  setup(props, { emit }) {
    const route = useRoute()
    const isOnOrdersPages = computed(
      () => !route.value.name?.includes('incoming-orders')
    )
    const selectedViews = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })

    return { selectedViews, isOnOrdersPages }
  },
})
</script>
