<template>
  <div>
    <v-sheet color="transparent" width="100%">
      <template v-for="({ text }, index) in stepList">
        <v-btn
          :key="text"
          :color="isActive(index) ? 'primary' : 'white'"
          :class="[isActive(index) ? 'white--text' : 'primary--text']"
          class="custom-tab mx-2"
          min-width="150px"
          @click="doChangeWindow(index)"
        >
          {{ text }}
        </v-btn>
      </template>
    </v-sheet>

    <v-card elevation="2" min-height="25vh" class="px-5 py-5">
      <v-window v-model="step">
        <!-- My files (CC) tab -->
        <v-window-item :value="0">
          <DisplayList :documents="documentsCCPartner" :list-display="true" />
        </v-window-item>

        <!-- Received files (FF) tab -->
        <v-window-item :value="1">
          <DisplayList :documents="documentsFFPartner" :list-display="true" />
        </v-window-item>
      </v-window>
    </v-card>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  ref,
  Ref,
  onMounted,
} from '@nuxtjs/composition-api'

import DisplayList from '~/components/base/FilePond/document-categorized/DisplayList.vue'

//  types - start
import { FileCategorized } from '~/types/base/filePond'
//  types - end

export default defineComponent({
  name: 'ManifestDocumentsDisplayList',
  components: {
    DisplayList,
  },
  props: {
    documentsCCPartner: {
      type: Array as PropType<FileCategorized[]>,
      required: true,
    },
    documentsFFPartner: {
      type: Array as PropType<FileCategorized[]>,
      required: true,
    },
    listDisplay: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    // manage window view - start
    const step = ref(0) as Ref<number>
    const stepList = computed(() => {
      return [
        {
          text: 'My Files',
        },
        {
          text: 'Received Files',
        },
      ]
    })

    const isActive = (data: number) => step.value === data
    const doChangeWindow = (data: number) => {
      step.value = data
    }

    const windowView = { step, stepList, isActive, doChangeWindow }
    // manage window view - end

    // placeholder
    const isFilesExistCC = computed(() => !!props?.documentsCCPartner?.length)
    const isFilesExistFF = computed(() => !!props?.documentsFFPartner?.length)

    const filesManager = {
      isFilesExistCC,
      isFilesExistFF,
    }
    // reset tab and view on mounted
    onMounted(() => {
      step.value = 0
    })

    return {
      ...windowView,
      ...filesManager,
    }
  },
})
</script>
