<template>
  <v-card-text class="px-6">
    <div class="mr-0 mb-5 d-flex flex-column align-center">
      <v-fade-transition hide-on-leave>
        <ImageUploader
          ref="filePond"
          v-model="form.logo"
          :style="{
            width: $vuetify.breakpoint.mobile ? '50%' : '30%',
          }"
          @changeLoading="isLoading = !isLoading"
          @changeError="errorStateUpload = $event"
        />
      </v-fade-transition>

      <span
        v-if="errorStateUpload"
        style="width: 140px"
        class="text-caption error--text text-center"
      >
        {{ `${errorStateUpload.main} ${errorStateUpload.sub}` }}
      </span>

      <v-expand-transition>
        <v-btn
          :loading="isLoading"
          color="primary"
          class="my-2"
          @click="handlerDoBrowse"
        >
          Upload Logo
        </v-btn>
      </v-expand-transition>

      <v-expand-transition>
        <v-btn
          v-show="form.logo"
          outlined
          :loading="isLoading"
          color="error"
          class="my-2"
          @click="handlerDoDelete"
        >
          Delete Logo
        </v-btn>
      </v-expand-transition>
    </div>

    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="Name"
      rules="required"
      tag="div"
    >
      <v-text-field
        v-model="form.name"
        :error-messages="errors"
        required
        outlined
        rounded
        label="Name"
        placeholder="Enter customer name..."
        type="text"
        class="mb-2"
      />
    </ValidationProvider>
  </v-card-text>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  PropType,
  useFetch,
  ref,
  Ref,
} from '@nuxtjs/composition-api'
import { ValidationProvider } from 'vee-validate'

// types - start
import type { ActionCustomer } from '~/types/customers'
// types - end

//  components - start
import ImageUploader from '@/components/base/FilePond/ImageUploader.vue'
import { ErrorFilePond } from '~/types/base/filePond'
//  components - end

export default defineComponent({
  components: {
    ValidationProvider,
    ImageUploader,
  },
  props: {
    value: {
      type: Object as PropType<ActionCustomer>,
      required: true,
    },
    action: {
      type: String,
      default: '',
    },
  },
  setup(props, { emit }) {
    const form = computed({
      get: (): ActionCustomer => props.value,
      set: (value: ActionCustomer) => emit('input', value),
    })

    const isLoading = false
    const filePond = ref(null) as Ref<any>

    const errorStateUpload = ref({
      main: '',
      sub: '',
    }) as unknown as PropType<ErrorFilePond>
    const handlerDoBrowse = () => {
      filePond.value.$refs.pond.browse()
    }
    const handlerDoDelete = () => {
      filePond.value.$refs.pond.removeFiles()
      form.value.logo = ''
    }

    return {
      form,
      useFetch,
      isLoading,
      filePond,
      errorStateUpload,
      handlerDoBrowse,
      handlerDoDelete,
      ref,
    }
  },
})
</script>
