<template>
  <v-card-text class="px-6">
    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="Name"
      rules="required"
      tag="div"
    >
      <v-text-field
        v-model="form.name"
        :error-messages="errors"
        label="Name"
        placeholder="Enter name..."
        type="text"
        required
        dense
        outlined
        rounded
      />
    </ValidationProvider>

    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="Email"
      rules="required|email"
      tag="div"
    >
      <v-text-field
        v-model="form.email"
        :error-messages="errors"
        label="Email"
        placeholder="Enter email..."
        type="email"
        required
        dense
        outlined
        rounded
      />
    </ValidationProvider>

    <div v-if="action === 'edit'">
      <p class="red--text text--lighten-1">
        Ignore this form if you don't want to edit password
      </p>
      <ValidationProvider
        v-slot="{ errors }"
        slim
        name="Old Password"
        rules="password"
        vid="old_password"
        tag="div"
      >
        <v-text-field
          v-model="form.passwordOld"
          :error-messages="errors"
          label="Old Password"
          placeholder="Enter old password..."
          type="password"
          dense
          outlined
          rounded
        />
      </ValidationProvider>

      <ValidationProvider
        v-slot="{ errors }"
        slim
        name="New Password"
        rules="required_if:old_password|password"
        vid="password"
        tag="div"
      >
        <v-text-field
          v-model="form.password"
          :error-messages="errors"
          label="New Password"
          placeholder="Enter password..."
          type="password"
          hint="Contains 8 - 16 characters, at least one uppercase letter, one lowercase letter, one number and one special character."
          dense
          persistent-hint
          outlined
          rounded
        />
      </ValidationProvider>

      <ValidationProvider
        v-slot="{ errors }"
        slim
        name="Confirm Password"
        rules="required_if:old_password|confirmed:password"
        tag="div"
      >
        <v-text-field
          v-model="form.passwordConfirmation"
          :error-messages="errors"
          label="Confirm Password"
          placeholder="Enter password confirmation..."
          hint="Should be the same with your password."
          type="password"
          dense
          persistent-hint
          outlined
          rounded
        />
      </ValidationProvider>
    </div>

    <div v-else>
      <ValidationProvider
        v-slot="{ errors }"
        slim
        name="Password"
        rules="required|password"
        vid="password"
        tag="div"
      >
        <v-text-field
          v-model="form.password"
          :error-messages="errors"
          label="Password"
          placeholder="Enter password..."
          type="password"
          hint="Contains 8 - 16 characters, at least one uppercase letter, one lowercase letter, one number and one special character."
          required
          dense
          persistent-hint
          outlined
          rounded
        />
      </ValidationProvider>

      <ValidationProvider
        v-slot="{ errors }"
        slim
        name="Confirm Password"
        rules="required|confirmed:password"
        tag="div"
      >
        <v-text-field
          v-model="form.passwordConfirmation"
          :error-messages="errors"
          label="Confirm Password"
          placeholder="Enter password confirmation..."
          hint="Should be the same with your password."
          type="password"
          required
          dense
          outlined
          rounded
        />
      </ValidationProvider>
    </div>
  </v-card-text>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from '@nuxtjs/composition-api'
import { ValidationProvider } from 'vee-validate'
// Interfaces and types
import { ActionCustomerUser } from '~/types/customers/users'

export default defineComponent({
  components: {
    ValidationProvider,
  },
  props: {
    value: {
      type: Object as PropType<ActionCustomerUser>,
      required: true,
    },
    action: {
      type: String,
      default: '',
    },
  },
  setup(props, { emit }) {
    const form = computed({
      get: (): ActionCustomerUser => props.value,
      set: (value: ActionCustomerUser) => emit('input', value),
    })

    return {
      form,
    }
  },
})
</script>
