<template>
  <section>
    <DocumentUploader
      v-model="documents"
      :categories="documentCategories"
      :with-optional-notes="false"
      pages="b2bUploader"
      @fetchDocCategories="fetchDocCategories"
    />
  </section>
</template>

<script lang="ts">
import { defineComponent, inject, ref, toRefs } from '@nuxtjs/composition-api'

//  components - start
import DocumentUploader from '@/components/base/FilePond/document-categorized/ContainerUploader.vue'
//  components - end

//  types - start
import {
  B2BAdditionalsForm,
  b2bDocumentCategories,
} from '~/composables/clients/orders/b2b/form'
import { SelectItem } from '~/types/applications'
//  types - end

export default defineComponent({
  name: 'B2BAdditionals',
  components: {
    DocumentUploader,
  },
  setup() {
    // inject state - start
    const formAdditionalsInject = inject<B2BAdditionalsForm>(
      'b2bAdditionals',
      {} as B2BAdditionalsForm
    )
    const { documents } = toRefs(formAdditionalsInject)
    const injectState = { documents }
    //  inject state - end

    //  manage documents - start
    const documentCategories = ref<SelectItem<string>[]>([])
    const fetchDocCategories = async () => {
      documentCategories.value = await new Promise((resolve, _reject) => {
        setTimeout(() => {
          resolve([...b2bDocumentCategories])
        }, 500)
      })
    }
    const manageDocumentState = {
      documentCategories,
      fetchDocCategories,
    }
    //  manage documents - end

    return {
      ...injectState,
      ...manageDocumentState,
    }
  },
})
</script>
