<template>
  <section>
    <v-row>
      <v-col cols="12">
        <!-- dangerous goods -->
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Dangerous Goods"
          rules="required"
          tag="div"
        >
          <legend class="mb-2 font-weight-medium subtitle-1">
            Dangerous Goods ?
          </legend>

          <v-radio-group
            v-model="formData.dangerousGoods"
            row
            mandatory
            :error-messages="errors"
          >
            <v-radio :value="true">
              <template #label>
                <span class="black--text">Yes</span>
              </template>
            </v-radio>

            <v-radio :value="false">
              <template #label>
                <span class="black--text">No</span>
              </template>
            </v-radio>
          </v-radio-group>
        </ValidationProvider>
      </v-col>
    </v-row>

    <v-row v-if="featureFlags.useShipmentValue">
      <v-col cols="12">
        <!-- currency -->
        <ValidationProvider
          v-slot="{ errors }"
          :style="
            device.isMobile ? 'width: 100%' : 'margin-right: 0.5rem !important;'
          "
          slim
          name="Currency"
          rules="required"
          tag="div"
        >
          <FetchDataOnce
            v-model="currency"
            :loading="isLoading"
            :items="selectionItems.currency"
            :attrs-props="{
              errorMessages: errors,
              label: 'Currency',
              placeholder: 'Item currency...',
            }"
          />
        </ValidationProvider>
      </v-col>
    </v-row>

    <v-row class="my-6">
      <v-col cols="12">
        <v-divider />
      </v-col>
    </v-row>

    <template v-for="(order, index) in formData.items">
      <div
        :key="index"
        class="d-flex align-center flex-column align-md-baseline flex-md-row"
      >
        <div
          class="rounded-circle primary white--text d-flex align-center justify-center mr-md-4 mb-4"
          style="width: 2rem; height: 2rem"
        >
          <span>{{ index + 1 }}</span>
        </div>

        <!-- product description -->
        <ValidationProvider
          v-slot="{ errors }"
          :style="
            device.isMobile ? 'width: 100%' : 'margin-right: 0.5rem !important;'
          "
          slim
          name="Product Description"
          rules="required"
          tag="div"
        >
          <v-text-field
            v-model="order.productDescription"
            :error-messages="errors"
            rounded
            required
            outlined
            label="Product Description"
            placeholder="Enter your product description..."
          />
        </ValidationProvider>

        <!-- category field -->
        <ValidationProvider
          v-slot="{ errors }"
          :style="
            device.isMobile ? 'width: 100%' : 'margin-right: 0.5rem !important;'
          "
          slim
          name="Category"
          rules="required"
          tag="div"
        >
          <FetchDataOnce
            v-model="order.category"
            :loading="isLoading"
            :items="selectionItems.category"
            :attrs-props="{
              errorMessages: errors,
              label: 'Category',
              placeholder: 'Enter your category...',
            }"
          />
        </ValidationProvider>

        <!-- order items quantity -->
        <ValidationProvider
          v-slot="{ errors }"
          :style="
            device.isMobile ? 'width: 100%' : 'margin-right: 0.5rem !important;'
          "
          slim
          name="Quantity Items"
          rules="required|numeric"
          tag="div"
        >
          <v-text-field
            v-model.number="order.quantity"
            :error-messages="errors"
            rounded
            required
            outlined
            hide-spin-buttons
            type="number"
            min="0"
            label="Quantity"
            placeholder="Enter your quantity..."
          />
        </ValidationProvider>

        <!-- order item unit price -->
        <ValidationProvider
          v-if="featureFlags.useShipmentValue"
          v-slot="{ errors }"
          :style="
            device.isMobile ? 'width: 100%' : 'margin-right: 0.5rem !important;'
          "
          slim
          name="Value (per unit)"
          rules="required|numeric"
          tag="div"
        >
          <v-text-field
            v-model.number="order.price"
            :error-messages="errors"
            rounded
            required
            outlined
            hide-spin-buttons
            type="number"
            min="0"
            label="Value (per unit)"
            placeholder="Enter your value per unit..."
          />
        </ValidationProvider>
      </div>
    </template>

    <slot
      name="addRemoveButton"
      :data="formData.items"
      :handleItemsLength="handleItemsLength"
    />
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  PropType,
  ref,
  useFetch,
  useContext,
  watch,
} from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'

// components
import { ValidationProvider } from 'vee-validate'
import {
  initOrderItems,
  B2BItemDetailsForm,
} from '~/composables/clients/orders/b2b/form'
import FetchDataOnce from '@/components/base/Field/FetchDataOnce.vue'

// interfaces and types
import { ActionsApplications } from '~/store/applications'

// initialization data
import { orderCategory, availableCurrencies } from '~/store/orders'

export default defineComponent({
  name: 'B2BItems',
  components: {
    ValidationProvider,
    FetchDataOnce,
  },
  props: {
    value: {
      type: Object as PropType<B2BItemDetailsForm>,
      required: true,
    },
    formInvalid: {
      type: Boolean,
      required: true,
    },
  },
  setup(props, { emit }) {
    // manage context
    const { $vuetify } = useContext()
    const device = computed(() => ({
      isMobile: $vuetify.breakpoint.mobile,
    }))
    // ** manage features flag - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const featureFlags = ref({
      useShipmentValue: false,
    })
    // ** manage features flag - end
    // manage form
    const currency = ref('')
    const formData = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    })
    const selectionItems = ref({
      category: [] as string[],
      currency: [] as string[],
    })
    const handleItemsLength = {
      add: () => {
        formData.value.items.push({ ...initOrderItems() })
      },
      remove: () => {
        if (formData.value.items.length === 1) return

        formData.value.items.splice(-1)
      },
    }

    // manage fetch
    const isLoading = computed(() => $fetchState.pending || false)
    const fetchInitData = () => {
      try {
        $fetchState.pending = true
        selectionItems.value.category = [...orderCategory]
        if (featureFlags.value.useShipmentValue) {
          selectionItems.value.currency = [...availableCurrencies.sort()]
        }
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const { $fetchState } = useFetch(async () => {
      featureFlags.value.useShipmentValue = await getFeatureFlags(
        'fre-216-be-generate-b2b-label-phase-2-with-shipment-value'
      )
      fetchInitData()
    })

    // map form currency to payload item currency
    watch(currency, () => {
      formData.value.items.forEach((item) => {
        item.currency = currency.value
      })
    })

    return {
      device,
      featureFlags,
      currency,
      formData,
      selectionItems,
      handleItemsLength,
      isLoading,
    }
  },
})
</script>
