<template>
  <section>
    <v-row align="center">
      <v-col cols="12" md="12">
        <!-- shipment mode field -->
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Shipment Mode"
          rules="required"
          tag="div"
          class="mb-2"
        >
          <legend v-once class="mb-3 font-weight-bold subtitle-1">
            Shipment Mode
          </legend>

          <v-btn-toggle
            v-model="formData.shipmentMode"
            color="primary"
            group
            mandatory
          >
            <v-btn
              value="air"
              :disabled="!suspensionAllowedActions.submitOrder"
              class="btn-group rounded-lg mr-2 px-4"
            >
              Air
            </v-btn>

            <v-btn value="land" disabled class="btn-group rounded-lg mr-2 px-4">
              Land (Coming Soon)
            </v-btn>

            <v-btn value="sea" disabled class="btn-group rounded-lg mr-2 px-4">
              Sea (Coming Soon)
            </v-btn>
          </v-btn-toggle>

          <ul
            v-for="(error, index) in errors"
            :key="index"
            class="mt-2"
            style="list-style-type: none; padding: 0"
          >
            <li class="error--text caption">
              {{ error }}
            </li>
          </ul>
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <!-- scope field -->
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Incoterm"
          rules="required"
          tag="div"
        >
          <v-select
            v-model="formData.scope"
            :error-messages="errors"
            :items="selectionData.scope"
            :hint="formattingHint.scope"
            :menu-props="{
              offsetY: true,
            }"
            :disabled="!suspensionAllowedActions.submitOrder"
            clearable
            outlined
            rounded
            open-on-clear
            persistent-hint
            label="Incoterm"
            placeholder="Enter your incoterm..."
          >
            <template #item="{ item }">
              <v-list-item-content>
                <v-list-item-title class="font-weight-bold">
                  {{ item.text }}
                </v-list-item-title>

                <v-list-item-subtitle
                  class="d-inline-block"
                  style="white-space: inherit"
                >
                  {{ item.description }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </template>
          </v-select>
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <!-- cargo readiness date -->

        <v-menu
          v-model="selectionData.cargoReadinessDate"
          :close-on-content-click="false"
          offset-y
          transition="scale-transition"
          max-width="290"
        >
          <template #activator="{ on, attrs }">
            <ValidationProvider
              v-slot="{ errors }"
              slim
              name="Cargo Readiness Date"
              rules="required"
              tag="div"
            >
              <v-text-field
                :value="formattingDate.cargoReadinessDate"
                :error-messages="errors"
                :disabled="!suspensionAllowedActions.submitOrder"
                clearable
                rounded
                readonly
                outlined
                label="Cargo Readiness Date"
                placeholder="Enter your cargo readiness date..."
                v-bind="attrs"
                v-on="on"
                @click:clear="formData.cargoReadinessDate = ''"
              />
            </ValidationProvider>
          </template>

          <v-date-picker
            v-model="formData.cargoReadinessDate"
            :min="formattingDate.now"
            show-adjacent-months
            @change="selectionData.cargoReadinessDate = false"
          />
        </v-menu>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Origin Country"
          :rules="formData.scope === 'CIP' ? '' : 'required'"
          tag="div"
        >
          <FetchDataOnce
            v-model="formData.originCountry"
            :loading="isLoading.selectionFields"
            :items="selectionData.countries.origin"
            :attrs-props="{
              disabled: disabledSelection.originCountry,
              errorMessages: errors,
              itemText: 'name',
              itemValue: 'value',
              label: 'Origin Country',
              placeholder: 'Enter your origin country...',
            }"
            :is-fetch-data="true"
            @fetch="
              featureFlags.useB2BServiceableLanes
                ? doFetchServiceableCountries()
                : doFetchCountries()
            "
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Destination Country"
          rules="required"
          tag="div"
        >
          <FetchDataOnce
            v-model="formData.destinationCountry"
            :loading="isLoading.selectionFields"
            :items="selectionData.countries.destination"
            :attrs-props="{
              disabled: disabledSelection.destinationCountry,
              errorMessages: errors,
              itemText: 'name',
              itemValue: 'value',
              label: 'Destination Country',
              placeholder: 'Enter your destination country...',
            }"
            :is-fetch-data="true"
            @fetch="
              featureFlags.useB2BServiceableLanes
                ? doFetchServiceableCountries(true)
                : doFetchCountries()
            "
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Origin Port"
          :rules="formData.scope === 'CIP' ? '' : 'required'"
          tag="div"
        >
          <FetchDataOnce
            v-model="formData.originPort"
            :loading="isLoading.selectionFields"
            :items="selectionData.ports.origin.data"
            :attrs-props="{
              disabled: disabledSelection.originPort,
              errorMessages: errors,
              itemText: 'name',
              returnObject: true,
              label: 'Origin Port',
              placeholder: 'Enter your origin port...',
            }"
            :is-fetch-data="true"
            :is-fetch-intersect="true"
            @fetch="
              featureFlags.useB2BServiceableLanes
                ? () => {}
                : doFetchPorts({
                    params: selectionPagination.ports.origin,
                    type: 'origin',
                  })
            "
            @handleIntersect="
              ({ isIntersecting }) => portIntersect(isIntersecting, 'origin')
            "
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Destination Port"
          rules="required"
          tag="div"
        >
          <FetchDataOnce
            v-model="formData.destinationPort"
            :loading="isLoading.selectionFields"
            :items="selectionData.ports.destination.data"
            :attrs-props="{
              disabled: disabledSelection.destinationPort,
              errorMessages: errors,
              itemText: 'name',
              returnObject: true,
              label: 'Destination Port',
              placeholder: 'Enter your destination port...',
            }"
            :is-fetch-data="true"
            :is-fetch-intersect="true"
            @fetch="
              featureFlags.useB2BServiceableLanes
                ? () => {}
                : doFetchPorts({
                    params: selectionPagination.ports.destination,
                    type: 'destination',
                  })
            "
            @handleIntersect="
              ({ isIntersecting }) =>
                portIntersect(isIntersecting, 'destination')
            "
          />
        </ValidationProvider>
      </v-col>

      <B2BGetPriceEstimate
        :disabled-price-estimate="disabledSelection.priceEstimate"
        :basic-info="formData"
        @estimatedPrice="validateEstimatedPrice"
      ></B2BGetPriceEstimate>
    </v-row>
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  PropType,
  reactive,
  Ref,
  ref,
  useContext,
  useFetch,
  watch,
} from '@nuxtjs/composition-api'
import { useActions, useState } from 'vuex-composition-helpers'
import { CancelTokenSource } from 'axios'
import { ValidationProvider } from 'vee-validate'

// composables - start
import {
  B2BBasicInfoForm,
  b2bIncotermInit,
  assignServiceableB2BCountriesAndPorts,
} from '~/composables/clients/orders/b2b/form'
import {
  DestCountryRef,
  // CombinedCountryRef,
  restrictCountries,
} from '~/composables/clients/orders/b2b/countries'
import {
  DestPortRef,
  restrictDestPort,
} from '~/composables/clients/orders/b2b/ports'
// composables - end

// components - start
import FetchDataOnce from '~/components/base/Field/FetchDataOnce.vue'
import B2BGetPriceEstimate from '~/components/orders/upload/b2b/form-section/GetPriceEstimate.vue'
// components - end

// types - start
import {
  initSimplePagination,
  RootStateApplications,
  ActionsApplications,
} from '~/store/applications'
import { ActionsFilters, StateFilters } from '~/store/filters'
import type {
  CountryCode,
  Ports,
  GetCountriesPayload,
  PortData,
  GetServiceableLanesPayload,
} from '~/types/filters'
import { Pagination } from '~/types/applications'

type PortCountryType = 'destination' | 'origin' | ''
// types - end

export default defineComponent({
  name: 'B2BBasicInfo',
  components: {
    ValidationProvider,
    FetchDataOnce,
    B2BGetPriceEstimate,
  },
  props: {
    value: {
      type: Object as PropType<B2BBasicInfoForm>,
      required: true,
    },
    isNextButtonWasClicked: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const {
      $axios,
      $customUtils,
      $dateFns: { format, parseISO },
    } = useContext()

    // manage feature flags - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const featureFlags = ref({
      useB2BServiceableLanes: false,
    })
    // manage feature flags - end

    // manage state

    const {
      countryCodes: stateCountries,
      ports: statePorts,
      serviceableB2BLanes: serviceableLanes,
    } = useState<StateFilters>('filters', [
      'countryCodes',
      'ports',
      'serviceableB2BLanes',
    ])

    const { getCountryCodes, getPorts, getB2BServiceableLanes } =
      useActions<ActionsFilters>('filters', [
        'getCountryCodes',
        'getPorts',
        'getB2BServiceableLanes',
      ])
    const { suspensionAllowedActions } = useState<RootStateApplications>(
      'applications',
      ['alert', 'suspensionAllowedActions']
    )
    const storeState = { suspensionAllowedActions }
    // end

    // manage form
    const formData = computed<B2BBasicInfoForm>({
      get: (): B2BBasicInfoForm => {
        return props.value
      },
      set: (value: B2BBasicInfoForm) => {
        emit('input', value)
      },
    })

    const selectionData = ref({
      countries: {
        origin: [] as CountryCode[],
        destination: [] as CountryCode[],
      },
      ports: {
        origin: {} as Ports,
        destination: {} as Ports,
      },
      scope: [...b2bIncotermInit].map(({ code, description }) => ({
        text: code,
        value: code,
        description,
      })),
      cargoReadinessDate: false,
    })
    const selectionPagination = ref({
      ports: {
        origin: { ...initSimplePagination },
        destination: { ...initSimplePagination },
      },
    })
    const disabledSelection = computed(() => {
      const {
        scope,
        originCountry,
        originPort,
        destinationCountry,
        destinationPort,
      } = formData.value
      const oriPortEmpty = !originPort || Object.keys(originPort).length === 0
      //  disabled when incoterm haven't selected
      const disabledOriginCountry = !scope || scope === 'CIP'
      //  disabled when ori country haven't selected & incoterm is CIP
      const disabledOriginPort = !originCountry || scope === 'CIP'
      /**
       * when incoterm is CIP, disabled if ori country haven't selected
       * else, disabled if ori country & ori port haven't selected
       **/
      const disabledDestinationCountry =
        scope !== 'CIP' ? !originCountry || oriPortEmpty : false
      //  disabled when dest country haven't selected
      const disabledDestinationPort = !destinationCountry

      //  disabled when dest port is empty
      const disabledGetPriceEstimate =
        !destinationPort || Object.keys(destinationPort).length === 0

      return {
        originCountry: disabledOriginCountry,
        originPort: disabledOriginPort,
        destinationCountry: disabledDestinationCountry,
        destinationPort: disabledDestinationPort,
        priceEstimate: disabledGetPriceEstimate,
      }
    })
    // formatting the raw date to the human-readable date
    const formattingDate = computed(() => {
      return {
        cargoReadinessDate: formData.value.cargoReadinessDate
          ? format(
              parseISO(formData.value.cargoReadinessDate as string),
              'MMMM do yyyy'
            )
          : '',
        now: new Date().toISOString().substr(0, 10),
      }
    })
    // formatted hint to used in the selection type form field
    const formattingHint = computed(() => ({
      scope:
        (formData.value.scope &&
          [...b2bIncotermInit].find(({ code }) =>
            code.includes(formData.value.scope)
          )?.description) ||
        '',
    }))
    const formState = {
      featureFlags,
      formData,
      selectionData,
      selectionPagination,
      formattingDate,
      formattingHint,
      disabledSelection,
    }
    // end

    // manage fetch
    const isLoading = reactive({
      selectionFields: false,
    })
    const source = ref({}) as Ref<CancelTokenSource>
    const fetchWithToken = async (fn: Function) => {
      try {
        isLoading.selectionFields = true

        if (source?.value?.token) source.value.cancel()

        source.value = $axios.CancelToken.source()
        await fn()
      } finally {
        setTimeout(() => {
          isLoading.selectionFields = false
        }, 1500)
      }
    }
    const fetchState = { isLoading }
    // end

    /** manage countries */
    const doRestrictCountries = () => {
      const { originCountry, scope } = formData.value
      const originCountryName =
        stateCountries.value.find((country) => country.value === originCountry)
          ?.name || ''

      const originReference = scope === 'ALL-IN' ? scope : ''
      const destReferences = scope === 'CIP' ? scope : originCountryName || ''

      selectionData.value.countries.origin = restrictCountries(
        'origin',
        stateCountries.value,
        originReference,
        destReferences as DestCountryRef
      )
      selectionData.value.countries.destination = restrictCountries(
        'destination',
        stateCountries.value,
        originReference,
        destReferences as DestCountryRef
      )
    }
    const doFetchCountries = async () => {
      await fetchWithToken(async () => {
        const params = Object.fromEntries(
          $customUtils.setURLParams({
            isActive: false,
          }) as any
        ) as GetCountriesPayload

        await getCountryCodes({
          params,
          cancelToken: source.value.token,
        })
      })

      // if API response of countries is empty return default value
      if (stateCountries.value.length === 0) {
        selectionData.value.countries = {
          origin: [],
          destination: [],
        }

        return
      }

      // if the countries is existed, restrict the origin & destination countries
      doRestrictCountries()
    }
    // using feature flag to get serviceable b2b lanes
    const doFetchServiceableCountries = async (destination?: boolean) => {
      await fetchWithToken(async () => {
        const params = Object.fromEntries(
          $customUtils.setURLParams({ incoterm: formData.value.scope }) as any
        ) as GetServiceableLanesPayload
        await getB2BServiceableLanes({
          params,
          cancelToken: source.value.token,
        })
      })

      // if API response of serviceable lanes is empty return default value
      if (!serviceableLanes || serviceableLanes.value.length === 0) {
        selectionData.value.countries = {
          origin: [],
          destination: [],
        }
        return
      }

      const formDataOrigin =
        formData.value.scope === 'CIP' ? 'CIP' : formData.value.originPort

      // if function is called in destination drop down, pass through origin selection to filter destination items
      const { originCountry, destinationCountry, originPort, destinationPort } =
        destination
          ? assignServiceableB2BCountriesAndPorts(
              serviceableLanes.value,
              formDataOrigin
            )
          : assignServiceableB2BCountriesAndPorts(serviceableLanes.value)

      selectionData.value.countries = {
        origin: originCountry,
        destination: destinationCountry,
      }

      selectionData.value.ports.origin.data = originPort
      selectionData.value.ports.destination.data = destinationPort
    }
    // watch the changes of incoterm to handle the origin & destination country
    watch(
      () => formData.value.scope,
      (incoterm, oldIncoterm) => {
        if (incoterm !== oldIncoterm) {
          formData.value.originCountry = ''
          formData.value.destinationCountry = ''
        }
      }
    )
    // watch selected country and origin to set port options if using doFetchServiceableCountries
    watch(
      () => [formData.value.originCountry, formData.value.destinationCountry],
      (newValue) => {
        if (featureFlags.value.useB2BServiceableLanes) {
          if (formData.value.scope !== 'CIP') {
            selectionData.value.ports.origin.data =
              selectionData.value.ports.origin.data.filter(
                (port: PortData) => port.countryCode === newValue[0]
              )
          }

          selectionData.value.ports.destination.data =
            selectionData.value.ports.destination.data.filter(
              (port: PortData) => port.countryCode === newValue[1]
            )
        }
      }
    )
    const countriesState = { doFetchCountries, doFetchServiceableCountries }
    // end

    /** ports
     * @function portIntersect : the pagination for port used in the selection type form field
     */
    const doRestrictPorts = (type: PortCountryType) => {
      if (!type) return

      const { data: ports, ...restStatePorts } = statePorts.value
      const { originPort, scope } = formData.value
      const references = originPort?.code || scope || ''

      selectionData.value.ports[type] =
        type === 'origin'
          ? { ...statePorts.value }
          : {
              ...restStatePorts,
              data: [...restrictDestPort(ports, references as DestPortRef)],
            }
    }
    const doFetchPorts = async ({
      params,
      type = '',
    }: {
      params: Pagination
      type: PortCountryType
    }) => {
      if (!type) return

      const { page, itemsPerPage: perPage } = params
      const { originCountry, destinationCountry } = formData.value
      const country = type === 'origin' ? originCountry : destinationCountry

      await fetchWithToken(async () => {
        const paramsFormatted = Object.fromEntries(
          $customUtils.setURLParams({
            page,
            perPage,
            country,
          }) as any
        ) as { page: number; perPage: number; country: string }

        await getPorts({
          params: { ...paramsFormatted },
          cancelToken: source.value.token,
        })
      })

      // restrict the destination ports only based on the origin port and the incoterm selected
      doRestrictPorts(type)
    }
    const portIntersect = async (
      isIntersecting: boolean,
      type: PortCountryType = ''
    ) => {
      // no need to check port intersect if using feature flag endpoint
      if (featureFlags.value.useB2BServiceableLanes) return
      if (!type) return

      const portsMeta = selectionPagination.value.ports[type]
      const { totalCount } = selectionData.value.ports[type]

      if (!isIntersecting || portsMeta.itemsPerPage >= totalCount) return

      selectionPagination.value.ports[type] = {
        page: 1,
        itemsPerPage: portsMeta.itemsPerPage + 10,
      }

      await doFetchPorts({
        params: selectionPagination.value.ports[type],
        type,
      })
    }
    // watch the changes of incoterm, origin & destination country to handle the origin & destination port
    watch(
      () => [
        formData.value.originCountry,
        formData.value.destinationCountry,
        formData.value.originPort,
      ],
      (
        [originCountry, destinationCountry, originPort],
        [oldOriginCountry, oldDestinationCountry, oldOriginPort]
      ) => {
        // if origin country changes, reset the value of origin port & destination country
        if (originCountry !== oldOriginCountry) {
          formData.value.originPort = {} as PortData
          formData.value.destinationCountry = ''
        }

        // if origin port changes, reset the value of destination country
        if (originPort !== oldOriginPort) {
          formData.value.destinationCountry = ''
        }

        // if destination country and origin port changes, reset the value of destination port
        if (
          destinationCountry !== oldDestinationCountry ||
          originPort !== oldOriginPort
        ) {
          formData.value.destinationPort = {} as PortData
        }
      }
    )
    const portState = { doFetchPorts, portIntersect }
    // end

    useFetch(async () => {
      // manage feature fkags - start
      featureFlags.value.useB2BServiceableLanes = await getFeatureFlags(
        'use-210-utilize-b2b_rates-ports-as-lane-availability'
      )
      // manage feature flags - end
      // this is needed when users click the back button so these components gets removed from the DOM then re-fetching the necessary data
      if (props.isNextButtonWasClicked) {
        if (featureFlags.value.useB2BServiceableLanes) {
          await doFetchServiceableCountries()
        } else {
          await Promise.allSettled([
            await doFetchCountries(),
            await doFetchPorts({
              params: selectionPagination.value.ports.origin,
              type: 'origin',
            }),
            await doFetchPorts({
              params: selectionPagination.value.ports.destination,
              type: 'destination',
            }),
          ])
        }
      }
    })
    // end

    const validateEstimatedPrice = (value: Boolean) => {
      emit('estimatedPrice', value)
    }

    return {
      ...storeState,
      ...formState,
      ...fetchState,
      ...countriesState,
      ...portState,
      validateEstimatedPrice,
    }
  },
})
</script>

<style lang="scss">
@import '@/assets/scss/color.module.scss';

.btn-group {
  border: 1px solid $primary !important;
}
</style>
