<template>
  <section>
    <v-row>
      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Consignee Name"
          rules="required"
          tag="div"
        >
          <v-text-field
            v-model="formData.consigneeName"
            :error-messages="errors"
            rounded
            required
            outlined
            label="Consignee Name"
            placeholder="Enter your consignee name..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Consignee Phone Number"
          rules="required|numeric"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.consigneePhoneNumber"
            :error-messages="errors"
            rounded
            hide-spin-buttons
            required
            outlined
            label="Phone Number"
            type="number"
            min="0"
            prefix="+"
            placeholder="Enter your consignee phone number..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Consignee E-mail"
          rules="required|email"
          tag="div"
        >
          <v-text-field
            v-model="formData.consigneeEmail"
            :error-messages="errors"
            rounded
            required
            outlined
            type="email"
            label="Consignee E-mail"
            placeholder="Enter your consignee e-mail..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Consignee District"
          rules="required"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.consigneeDistrict"
            :error-messages="errors"
            rounded
            required
            outlined
            label="District"
            placeholder="Enter your consignee district..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Consignee Province"
          rules="required"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.consigneeProvince"
            :error-messages="errors"
            rounded
            required
            outlined
            label="Province"
            placeholder="Enter your consignee province..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Consignee City"
          rules="required"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.consigneeCity"
            :error-messages="errors"
            rounded
            required
            outlined
            label="City"
            placeholder="Enter your consignee city..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Consignee Postal Code"
          rules="required|numeric"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.consigneePostal"
            :error-messages="errors"
            rounded
            hide-spin-buttons
            required
            outlined
            label="Postal Code"
            type="number"
            min="0"
            placeholder="Enter your consignee postal code..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Consignee Address"
          rules="required"
          tag="div"
        >
          <v-textarea
            v-model="formData.consigneeAddress"
            :error-messages="errors"
            outlined
            auto-grow
            rounded
            placeholder="Enter your consignee address..."
            rows="4"
            row-height="32"
            label="Consignee Address"
            class="mb-2"
          />
        </ValidationProvider>
      </v-col>
    </v-row>
  </section>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from '@nuxtjs/composition-api'

// components
import { ValidationProvider } from 'vee-validate'
import { B2BConsigneeForm } from '~/composables/clients/orders/b2b/form'
// end components

export default defineComponent({
  name: 'B2BConsigneeDetails',
  components: {
    ValidationProvider,
  },
  props: {
    value: {
      type: Object as PropType<B2BConsigneeForm>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const formData = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    })

    return {
      formData,
    }
  },
})
</script>
