<template>
  <v-col v-if="useB2bPriceEstimate" cols="6" offset="3" align="center">
    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="Estimated Shipment Load"
      rules="required|numeric"
      tag="div"
      mode="eager"
    >
      <v-text-field
        v-model.number="formData.estimatedShipmentLoad"
        :error-messages="errors"
        clearable
        rounded
        outlined
        label="Estimated Shipment Load"
        placeholder="Enter estimated shipment load..."
        type="number"
        :disabled="disabledPriceEstimate"
      >
        <template #append>kg</template>
      </v-text-field>
      <p
        v-if="
          formData.estimatedShipmentLoad !== null &&
          formData.estimatedShipmentLoad < 45
        "
        class="text-subtitle-2 red--text"
      >
        Minimum Charge of 45Kg will be applied
      </p>
      <v-btn
        class="pa-6 mb-3"
        color="primary"
        rounded-pill
        :disabled="disabledPriceEstimate"
        :loading="isLoading.priceEstimate"
        @click="doFetchEstimate()"
      >
        {{ btnTxt }}
      </v-btn>
    </ValidationProvider>
    <div
      v-if="priceEstimate.estimatedPrice !== null && !isLoading.priceEstimate"
    >
      <v-text-field
        class="centered-input text-h5 font-weight-bold"
        :value="formattedRate"
        flat
        solo
        readonly
        hide-details
      />
      <v-text-field
        class="centered-input text-h6 font-weight-bold"
        :value="formattedPriceEstimate"
        flat
        solo
        readonly
        hide-details
      />
      <div class="text--disabled subtitle-2 mt-2">
        Price is an estimate based on the estimated Shipment Weight inputted,
        actual charge will be based on AWB weight and volumetric weight. Price
        excludes Duties & Tax, and storage fee (if any). Please refer to our B2B
        shipping guide for more details.
      </div>
    </div>
  </v-col>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  useFetch,
  reactive,
  watch,
  computed,
  PropType,
} from '@nuxtjs/composition-api'
import { useActions, useMutations, useState } from 'vuex-composition-helpers'
import { ValidationProvider } from 'vee-validate'

// composables - start
import {
  B2BBasicInfoForm,
  initEstimatedPriceForm,
  initEstimatedPriceData,
  doFormatPayload,
} from '~/composables/clients/orders/b2b/form'
// composables - end

// types - start
import {
  ActionsApplications,
  MutationsApplications,
  RootStateApplications,
} from '~/store/applications'
import {
  ActionsB2BOrders,
  MutationsB2BOrders,
  StateB2BOrders,
} from '~/store/orders/b2b'
// types - end

export default defineComponent({
  name: 'B2BGetPriceEstimate',
  components: {
    ValidationProvider,
  },
  props: {
    disabledPriceEstimate: {
      type: Boolean,
      default: true,
    },
    basicInfo: {
      type: Object as PropType<B2BBasicInfoForm>,
      required: true,
    },
  },
  setup(props, { emit }) {
    // manage store - start
    const { alert } = useState<RootStateApplications>('applications', ['alert'])
    const { RESET_ALERT: doResetAlert, SET_ALERT: doSetAlert } =
      useMutations<MutationsApplications>('applications', [
        'RESET_ALERT',
        'SET_ALERT',
      ])
    const { rfq } = useState<StateB2BOrders>('orders/b2b', ['rfq'])
    const { RESET_RFQ: doResetRfq } = useMutations<MutationsB2BOrders>(
      'orders/b2b',
      ['RESET_RFQ']
    )
    const storeState = { alert, rfq }
    // manage store - end

    // manage feature flags - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const useB2bPriceEstimate = ref(false)
    // manage feature flags - end

    useFetch(async () => {
      //  feature-flags for b2b price estimate
      useB2bPriceEstimate.value = await getFeatureFlags(
        'use-56-b2b-price-estimate'
      )
    })
    // end

    // init data
    const formData = reactive(initEstimatedPriceForm())
    const priceEstimate = reactive(initEstimatedPriceData())

    const { postB2BOrderQuotationAPI } = useActions<ActionsB2BOrders>(
      'orders/b2b',
      ['postB2BOrderQuotationAPI']
    )

    const isLoading = reactive({
      priceEstimate: false,
    })

    const doResetPriceEstimate = () => {
      priceEstimate.getPriceEstimate = false
      priceEstimate.estimatedPrice = null
      priceEstimate.currency = ''
      emit('estimatedPrice', false)
    }

    // fetch estimate func
    const doFetchEstimate = async () => {
      doResetRfq()
      doResetPriceEstimate()
      // if input is null
      if (!formData.estimatedShipmentLoad) return
      const rfqPayload = doFormatPayload.rfqSubmission(
        formData,
        props.basicInfo
      )
      try {
        isLoading.priceEstimate = true
        // submit weight

        await postB2BOrderQuotationAPI({
          data: { ...rfqPayload },
        })

        priceEstimate.getPriceEstimate = Boolean(rfq.value.quotationID)
        priceEstimate.rate = rfq.value?.rate || null
        priceEstimate.estimatedPrice = rfq.value?.totalEstimatedPrice || null
        priceEstimate.currency = rfq.value?.currency || ''
      } catch (error) {
        doSetAlert({
          isShow: true,
          type: 'error',
          message: 'No rates found.',
        })
        doResetPriceEstimate()
      } finally {
        setTimeout(() => {
          emit('estimatedPrice', priceEstimate.getPriceEstimate)
          isLoading.priceEstimate = false
          doResetAlert()
        }, 1500)
      }
    }

    watch(
      () => formData.estimatedShipmentLoad,
      (shipmentLoad, oldShipmentLoad) => {
        if (
          shipmentLoad === oldShipmentLoad ||
          !!formData.estimatedShipmentLoad
        )
          return

        doResetPriceEstimate()
      }
    )

    const btnTxt = computed(() => {
      if (priceEstimate.estimatedPrice == null) return 'Get Estimated Price'
      return 'Recalculate'
    })

    const formattedPriceEstimate = computed(() => {
      if (priceEstimate.estimatedPrice == null || priceEstimate.currency === '')
        return ''

      return `Estimated Price: ${priceEstimate.currency} ${priceEstimate.estimatedPrice}`
    })

    const formattedRate = computed(() => {
      if (priceEstimate.rate == null || priceEstimate.currency === '') return ''
      return `${priceEstimate.currency} ${priceEstimate.rate} /Per KG`
    })

    const rfqState = {
      useB2bPriceEstimate,
      btnTxt,
      formattedPriceEstimate,
      formattedRate,
      priceEstimate,
      isLoading,
    }

    return {
      doFetchEstimate,
      formData,
      ...storeState,
      ...rfqState,
    }
  },
})
</script>
<style scoped>
.centered-input >>> input {
  text-align: center;
  padding: 0;
}
.centered-input >>> .v-input__control {
  padding: 0;
  min-height: 0;
}
</style>
