<template>
  <v-row justify="end">
    <v-col cols="auto">
      <v-btn
        :disabled="data.length === 1"
        fab
        depressed
        small
        color="primary"
        @click="$emit('remove')"
      >
        <v-icon dark> mdi-minus </v-icon>
      </v-btn>

      <v-btn
        :disabled="$attrs['disabled']"
        fab
        depressed
        small
        color="primary"
        class="ml-2"
        @click="$emit('add')"
      >
        <v-icon dark>mdi-plus</v-icon>
      </v-btn>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'ItemActionButton',
  props: {
    data: {
      type: Array,
      required: true,
    },
  },
})
</script>
