<template>
  <section>
    <v-row align="center">
      <v-col cols="12" md="6">
        <!-- packaging type -->
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Packaging Type"
          rules="required"
          tag="div"
        >
          <FetchDataOnce
            v-model="packagingTypeDef"
            :items="selectionItems.packagingTypes"
            :attrs-props="{
              errorMessages: errors,
              label: 'Packaging Type',
              placeholder: 'Enter your packaging type...',
            }"
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <!-- b2b order quantity -->
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Quantity"
          rules="required|numeric"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.quantity"
            :error-messages="errors"
            rounded
            required
            outlined
            hide-spin-buttons
            type="number"
            label="Quantity"
            min="0"
            placeholder="Enter your quantity..."
          />
        </ValidationProvider>
      </v-col>
    </v-row>

    <template v-if="formData.quantity">
      <v-row class="my-6">
        <v-col cols="12">
          <v-divider />
        </v-col>
      </v-row>

      <template v-for="(item, index) in formData.parcels">
        <div
          :key="index"
          class="d-flex align-center flex-column align-md-baseline flex-md-row"
        >
          <div
            class="rounded-circle primary white--text d-flex align-center justify-center mr-md-4 mb-4"
            style="width: 2rem; height: 2rem"
          >
            <span>{{ index + 1 }}</span>
          </div>

          <!-- length -->
          <ValidationProvider
            v-slot="{ errors }"
            :style="
              $vuetify.breakpoint.mobile
                ? 'width: 100%'
                : 'margin-right: 0.5rem !important;'
            "
            slim
            name="Length"
            rules="required|numeric"
            tag="div"
            class="mr-2"
          >
            <v-text-field
              v-model.number="item.length"
              :error-messages="errors"
              rounded
              required
              outlined
              hide-spin-buttons
              type="number"
              label="Length"
              min="0"
              suffix="cm"
              placeholder="Enter your length..."
            />
          </ValidationProvider>

          <!-- width -->
          <ValidationProvider
            v-slot="{ errors }"
            :style="
              $vuetify.breakpoint.mobile
                ? 'width: 100%'
                : 'margin-right: 0.5rem !important;'
            "
            slim
            name="Width"
            rules="required|numeric"
            tag="div"
            class="mr-2"
          >
            <v-text-field
              v-model.number="item.width"
              :error-messages="errors"
              rounded
              required
              outlined
              hide-spin-buttons
              type="number"
              label="Width"
              min="0"
              suffix="cm"
              placeholder="Enter your width..."
            />
          </ValidationProvider>

          <!-- height -->
          <ValidationProvider
            v-slot="{ errors }"
            :style="
              $vuetify.breakpoint.mobile
                ? 'width: 100%'
                : 'margin-right: 0.5rem !important;'
            "
            slim
            name="Height"
            rules="required|numeric"
            tag="div"
          >
            <v-text-field
              v-model.number="item.height"
              :error-messages="errors"
              rounded
              required
              outlined
              hide-spin-buttons
              type="number"
              label="Height"
              min="0"
              suffix="cm"
              placeholder="Enter your height..."
            />
          </ValidationProvider>

          <!-- weight -->
          <ValidationProvider
            v-slot="{ errors }"
            :style="$vuetify.breakpoint.mobile ? 'width: 100%' : ''"
            slim
            name="Total Weight"
            rules="required|numeric"
            tag="div"
          >
            <v-text-field
              v-model.number="item.weight"
              :error-messages="errors"
              rounded
              required
              outlined
              hide-spin-buttons
              type="number"
              min="0"
              label="Total Weight"
              suffix="Kg"
              placeholder="Enter your total weight..."
            />
          </ValidationProvider>
        </div>
      </template>
    </template>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  ref,
  PropType,
  useFetch,
  watch,
  Ref,
} from '@nuxtjs/composition-api'

//  components - start
import { ValidationProvider } from 'vee-validate'
import {
  B2BPackageDetailsForm,
  initParcelItems,
  b2bPackagingTypeInit,
} from '~/composables/clients/orders/b2b/form'
import FetchDataOnce from '@/components/base/Field/FetchDataOnce.vue'
//  components - end

//  types - start
import { B2BPackagingType } from '~/types/orders/b2b'
//  types - end

export default defineComponent({
  name: 'PackageDetails',
  components: {
    ValidationProvider,
    FetchDataOnce,
  },
  props: {
    value: {
      type: Object as PropType<B2BPackageDetailsForm>,
      required: true,
    },
  },
  setup(props, { emit }) {
    // *manage form
    const formData = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    })
    const selectionItems = ref({
      packagingTypes: [] as string[],
    })
    // packaging type definition for the references for the value of packing type in parcel items
    const packagingTypeDef = ref('') as unknown as Ref<B2BPackagingType>
    // watch the changes of packaging type definition
    watch(
      () => packagingTypeDef.value,
      (value) => {
        if (!value || !formData.value.quantity) return

        formData.value.parcels = formData.value.parcels.map((parcel) => ({
          ...parcel,
          packagingType: value,
        }))
      }
    )

    // *manage fetch
    const fetchPackagingTypes = () => {
      try {
        $fetchState.pending = true
        selectionItems.value.packagingTypes = [...b2bPackagingTypeInit]
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const { $fetchState } = useFetch(() => {
      fetchPackagingTypes()
    })

    // watch the changes of quantity package
    watch(
      () => formData.value.quantity,
      (value) => {
        if (!value) return

        // if is filled with value > 0
        // push the package parcels as much as the quantity filled
        const parcels = Array(value)
        for (
          let index = 0;
          index < value;
          parcels[index++] = { ...initParcelItems(packagingTypeDef.value) }
        );
        formData.value.parcels = [...parcels]
      }
    )

    return {
      formData,
      selectionItems,
      packagingTypeDef,
    }
  },
})
</script>
