<template>
  <section>
    <v-row>
      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Shipper Name"
          rules="required"
          tag="div"
        >
          <v-text-field
            v-model="formData.senderName"
            :error-messages="errors"
            rounded
            required
            outlined
            label="Shipper Name"
            placeholder="Enter your shipper name..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Shipper Phone Number"
          rules="required|numeric"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.senderPhoneNumber"
            :error-messages="errors"
            rounded
            hide-spin-buttons
            required
            outlined
            label="Phone Number"
            type="number"
            min="0"
            prefix="+"
            placeholder="Enter your shipper phone number..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Shipper E-mail"
          rules="required|email"
          tag="div"
        >
          <v-text-field
            v-model="formData.senderEmail"
            :error-messages="errors"
            type="email"
            rounded
            required
            outlined
            label="Shipper E-mail"
            placeholder="Enter your shipper e-mail..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Shipper District"
          rules="required"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.senderDistrict"
            :error-messages="errors"
            rounded
            required
            outlined
            label="District"
            placeholder="Enter your shipper district..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Shipper Province"
          rules="required"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.senderProvince"
            :error-messages="errors"
            rounded
            required
            outlined
            label="Province"
            placeholder="Enter your shipper province..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Shipper City"
          rules="required"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.senderCity"
            :error-messages="errors"
            rounded
            required
            outlined
            label="City"
            placeholder="Enter your shipper city..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Shipper Postal Code"
          rules="required|numeric"
          tag="div"
        >
          <v-text-field
            v-model.number="formData.senderPostal"
            :error-messages="errors"
            rounded
            hide-spin-buttons
            required
            outlined
            label="Postal Code"
            type="number"
            min="0"
            placeholder="Enter your shipper postal code..."
          />
        </ValidationProvider>
      </v-col>

      <v-col cols="12" md="6">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Shipper Address"
          rules="required"
          tag="div"
        >
          <v-textarea
            v-model="formData.senderAddress"
            :error-messages="errors"
            outlined
            auto-grow
            rounded
            placeholder="Enter your shipper address..."
            rows="4"
            row-height="32"
            label="Shipper Address"
            class="mb-2"
          />
        </ValidationProvider>
      </v-col>
    </v-row>
  </section>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from '@nuxtjs/composition-api'

// components
import { ValidationProvider } from 'vee-validate'
import { B2BSenderForm } from '~/composables/clients/orders/b2b/form'
// end components

export default defineComponent({
  name: 'B2BSenderDetails',
  components: {
    ValidationProvider,
  },
  props: {
    value: {
      type: Object as PropType<B2BSenderForm>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const formData = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    })

    return {
      formData,
    }
  },
})
</script>
