<template>
  <section class="pa-4 pa-md-10 py-8">
    <v-row>
      <v-col cols="12">
        <v-btn text small class="pa-0 mb-2" @click="doBackTo">
          <v-icon left dark tite elevation="0"> mdi-arrow-left-thin </v-icon>
          Back
        </v-btn>

        <h2 class="headline mb-4 font-weight-bold">ORDERS</h2>

        <v-breadcrumbs
          v-if="detailsOrder.batchId"
          :items="breadCrumbsItems"
          class="pa-0"
        >
          <template #divider>
            <v-icon>mdi-chevron-right</v-icon>
          </template>
        </v-breadcrumbs>
      </v-col>
    </v-row>

    <v-row align="stretch">
      <v-col cols="12" md="4">
        <v-row align="stretch">
          <!-- Order details -->
          <v-col cols="12">
            <OrderDetails :fetch-state="$fetchState" />
          </v-col>

          <!-- Consignee details -->
          <v-col cols="12">
            <ConsigneeDetails :fetch-state="$fetchState" />
          </v-col>

          <!-- Pickup details -->
          <v-col v-if="isPickupExist" cols="12">
            <PickupDetails :fetch-state="$fetchState" />
          </v-col>

          <!-- Sender details -->
          <v-col v-if="isSenderExist && !isDomestic" cols="12">
            <SenderDetails :fetch-state="$fetchState" />
          </v-col>

          <!-- PUDO details -->
          <v-col v-if="isPudo" cols="12">
            <PudoDetails :fetch-state="$fetchState" />
          </v-col>
        </v-row>
      </v-col>

      <!-- Order updates -->
      <v-col cols="12" md="8">
        <BaseLoadingLinear
          v-if="$fetchState.pending"
          title="Getting order updates..."
        />

        <UpdatesTimeline
          v-else
          :fetch-state="$fetchState"
          :is-past-august="isPastAugust"
          :is-e2-e="isE2E"
        />
      </v-col>
    </v-row>

    <!-- Order Parcels -->
    <v-row v-if="isParcelsExist" no-gutters align="center" class="mt-6">
      <v-col cols="12" class="white pa-3 elevation-2 rounded-xl">
        <div class="mb-4">
          <span class="title"> {{ computedTitleParcels }}</span>
        </div>

        <v-divider />

        <OrderParcels :fetch-state="$fetchState" />
      </v-col>
    </v-row>

    <!-- Order items -->
    <v-row no-gutters align="center" class="mt-6">
      <v-col cols="12" class="white pa-3 elevation-2 rounded-xl">
        <OrderItems :fetch-state="$fetchState" />
      </v-col>
    </v-row>

    <!-- Node Calculator items -->
    <v-row no-gutters align="center" class="mt-6">
      <v-col cols="12">
        <div class="mb-2">
          <div>
            <span class="title"> Estimated Rate </span>
          </div>

          <div>
            <span class="text--secondary caption">
              *Actual rate will be reflected on invoice
            </span>
          </div>
        </div>
      </v-col>

      <v-col cols="12" class="white pa-3 elevation-2 rounded-xl">
        <CalculatorOrderItems
          :fetch-state="$fetchState"
          :is-domestic="isDomestic"
          :is-e2-e="isE2E"
        />
      </v-col>
    </v-row>

    <!-- Selling rates -->
    <BaseFeatureFlags flags="use-selling-rates">
      <v-row
        v-if="detailsOrder.sellingRates"
        no-gutters
        align="center"
        class="mt-2"
      >
        <v-col cols="12">
          <div class="mt-6 mb-3">
            <span class="title"> SRI Rate </span>
          </div>
        </v-col>

        <v-col cols="12" class="white pa-3 elevation-2 rounded-xl">
          <SellingRateTable :fetch-state="$fetchState" />
        </v-col>
      </v-row>
    </BaseFeatureFlags>
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useFetch,
  useRoute,
  useRouter,
  useStore,
  useMeta,
  ComputedRef,
  useContext,
} from '@nuxtjs/composition-api'

// components
import OrderDetails from '~/components/orders/details/OrderDetails.vue'
import ConsigneeDetails from '~/components/orders/details/ConsigneeDetails.vue'
import PickupDetails from '~/components/orders/details/PickupDetails.vue'
import SenderDetails from '~/components/orders/details/SenderDetails.vue'
import PudoDetails from '~/components/orders/details/PudoDetails.vue'
import OrderItems from '~/components/orders/details/OrderItems.vue'
import OrderParcels from '~/components/orders/details/OrderParcels.vue'
import CalculatorOrderItems from '~/components/orders/details/CalculatorOrderItems.vue'
import UpdatesTimeline from '~/components/orders/details/UpdatesTimeline.vue'
import SellingRateTable from '~/components/orders/details/SellingRates.vue'
// end components

// types
import { Order, VuexModuleOrders } from '~/types/orders'
import { Breadcrumbs } from '~/types/applications'

const DetailsComponents = {
  OrderDetails,
  ConsigneeDetails,
  PickupDetails,
  SenderDetails,
}
const PudoComponents = {
  PudoDetails,
}
const CalculatorComponents = {
  CalculatorOrderItems,
  SellingRateTable,
}
// end types

export default defineComponent({
  name: 'OrderDetailsPages',
  components: {
    ...DetailsComponents,
    ...PudoComponents,
    ...CalculatorComponents,
    OrderItems,
    OrderParcels,
    UpdatesTimeline,
  },
  layout: 'default',
  setup() {
    useMeta({ titleTemplate: '%s | Order Details' })
    const {
      $dateFns: { isAfter },
    } = useContext()

    // manage route
    const route = useRoute()
    const router = useRouter()
    const id = computed(() => route.value.params.id)
    const doBackTo = () => {
      router.go(-1)
    }
    const routeState = { id, doBackTo }

    // manage store
    const storeOrders = useStore<VuexModuleOrders>()
    const detailsOrder = computed<Order>(() => ({
      ...storeOrders.state.orders.orderDetails.order,
    }))
    const computedTitleParcels = computed(() => {
      const parcels = detailsOrder.value.parcels || []

      if (!isParcelsExist.value) return ''

      return `${parcels?.length} ${parcels[0].packagingType}`
    })
    const storeState = {
      detailsOrder,
      computedTitleParcels,
    }

    // check if order is e2e
    const isE2E = computed(() => detailsOrder.value.isE2ESmartRouting)

    // check if order is b2b and set b2bId if yes
    const b2bId = computed(() => detailsOrder.value.b2bDetails?.id ?? null)

    // check data exist
    const isPickupExist = computed(() => !!detailsOrder.value.pickupContactName)
    const isSenderExist = computed(() => !!detailsOrder.value.senderName)
    const isPudo = computed(
      () =>
        !!detailsOrder.value.selfCollectedDropOff &&
        !!detailsOrder.value.selfCollectedDropOff?.Country
    )
    const isDomestic = computed(
      () =>
        detailsOrder.value.requestedServices &&
        detailsOrder.value.requestedServices.includes('DOMESTIC')
    )
    const isParcelsExist = computed(
      () =>
        (detailsOrder.value.parcels && !!detailsOrder.value?.parcels?.length) ||
        false
    )
    // is order created past from 1 August 2022 ?
    const isPastAugust = computed(() =>
      isAfter(
        new Date(detailsOrder.value.createdAt as Date),
        new Date(2022, 7, 1, 0, 1)
      )
    )
    const otherState = {
      isPickupExist,
      isSenderExist,
      isPudo,
      isDomestic,
      isParcelsExist,
      isPastAugust,
      isE2E,
    }

    // manage breadcrumbs
    const breadCrumbsItems = computed(() => {
      return [
        {
          text: detailsOrder.value?.batchCode,
          disabled: false,
          to: `/orders/batch/${detailsOrder.value?.batchCode}`,
          exact: true,
        },
        {
          text: detailsOrder.value?.orderCode,
          disabled: true,
          to: '#',
        },
      ]
    }) as ComputedRef<Breadcrumbs[]>

    useFetch(async () => {
      await storeOrders.dispatch('orders/getOrderDetails', id.value)

      if (b2bId) {
        await storeOrders.dispatch('orders/getOrderFlightSchedule', b2bId.value)
      }
    })

    return {
      // manage route
      ...routeState,
      // manage store
      ...storeState,
      // other state
      ...otherState,
      // manage breadcrumbs
      breadCrumbsItems,
    }
  },
  head: {},
})
</script>
