<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseHeadlinePage
      title="Manage Orders"
      subtitle="View the details of each order and batch order, or make changes to a order."
    >
      <template #addition>
        <span class="text--secondary font-weight-medium title">
          &bull; {{ totalItems }}
          {{ isOnListView ? 'Total Orders' : 'Total Batch' }}
        </span>
      </template>
    </BaseHeadlinePage>

    <v-row align-items="center">
      <!-- Left options -->
      <OrdersLeftOptions
        :is-on-list-view="isOnListView"
        :selected-orders="selectedOrders"
        :loading="isLoading"
        :is-show-filter="isShowFilter"
        :is-label-exist-on-selected="isLabelExistOnSelected"
        :is-awb-setting-allowed="isAwbSettingAllowed"
        @doDownloadSelectedLabel="doDownloadSelectedLabel"
        @doExportOrders="doExportOrders"
        @doShowFilter="isShowFilter = !isShowFilter"
        @toggleSetAwb="toggleSetAwb"
      />

      <!-- Right options -->
      <OrdersRightOptions :loading="isLoading" :is-able-upload="true">
        <template #viewSettings>
          <OrdersViewSettings
            v-if="isOnListView"
            v-model="selectedViews"
            :loading="isLoading"
          />
        </template>

        <template #toggleView>
          <OrdersToggleView v-model="orderView" :loading="isLoading" />
        </template>
      </OrdersRightOptions>
    </v-row>

    <v-expand-transition>
      <OrdersFiltersContainer
        :is-show-filter="isShowFilter"
        @doToggleFilter="isShowFilter = !isShowFilter"
        @doResetFilter="doResetFilter"
      >
        <template #filterList>
          <!-- Filter for order list -->
          <OrdersFilterListView
            v-if="isOnListView"
            v-model="filterOrder"
            :is-customer-exist="isCustomerExist"
            :show-terminal-status="showTerminalStatus"
          />

          <!-- Filter for batch list -->
          <OrdersFilterBatchView v-else v-model="filterBatch" />
        </template>
      </OrdersFiltersContainer>
    </v-expand-transition>

    <v-fade-transition hide-on-leave>
      <!-- List data for order -->
      <v-row v-show="isOnListView" align="center" class="my-4">
        <v-col cols="12">
          <BaseTable
            v-model="selectedOrders"
            item-key="id"
            :items="orders"
            :headers="headers"
            :options="pagination"
            :loading="isLoading"
            :show-select="true"
            :action-exist="actionExist"
            :show-terminal-status="showTerminalStatus"
            @fetch="fetchOrders"
            @doSelectAll="selectAllToggle"
            @doGetDetails="doGetDetails"
            @doGetBatchDetails="goToBatchView"
            @doGetAwbDetails="goToAwbView"
          >
          </BaseTable>
        </v-col>
      </v-row>
    </v-fade-transition>

    <!-- List data for batch -->
    <v-fade-transition hide-on-leave>
      <v-row v-if="!isOnListView" align="center" class="my-4">
        <OrdersBatchList
          :loading="isLoading"
          @doGetBatchDetails="goToBatchView"
        />
      </v-row>
    </v-fade-transition>

    <!-- Pagination universal (order and batch view) -->
    <BasePagination
      v-if="orders && orders.length"
      v-model="pagination"
      :meta="meta"
      :loading="isLoading"
      @resetPage="pagination.page = 1"
    />

    <!-- Modal confirm -->
    <BaseModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      @doSubmit="orderCancellation"
    />

    <!-- Modal form -->
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      :selected-orders="selectedOrders"
      @doSubmit="doSetAwb"
    >
      <template #modalFields>
        <AwbModalForm v-model="form" />
      </template>
    </BaseModalForm>

    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useFetch,
  useStore,
  watch,
  ref,
  useMeta,
  useRouter,
  Ref,
  useContext,
  provide,
} from '@nuxtjs/composition-api'
import { saveAs } from 'file-saver'
import { AxiosResponse } from 'axios'
import { useState, useMutations, useActions } from 'vuex-composition-helpers'

// components - start
import AwbModalForm from '~/components/orders/AwbModalForm.vue'
// components - end

// types - start
import { filterOrderInit, filterBatchInit, StateOrders } from '@/store/orders'
import { BatchOrders, Order, VuexModuleOrders } from '~/types/orders'
import {
  Pagination,
  Header,
  ModalConfirm,
  AlertType,
} from '~/types/applications'
import {
  ActionsApplications,
  initDialogSettings,
  initModalType,
  MutationsApplications,
  RootStateApplications,
} from '~/store/applications'
import { ActionsFilters, StateFilters } from '~/store/filters'
// types - end

// data initialization - start
const initHeaders = [
  {
    text: 'Customer',
    value: 'customerName',
    width: 150,
  },
  {
    text: 'Order ID',
    value: 'codeOrders',
    width: 150,
  },
  {
    text: 'Batch',
    value: 'batchIdOrders',
    width: 150,
  },
  {
    text: 'MAWB No.',
    value: 'awbNumberOrders',
    sortable: false,
    width: 150,
  },
  {
    text: 'Service',
    value: 'serviceTypeOrders',
    sortable: false,
    width: 150,
  },
  {
    text: 'Status',
    value: 'statusOrders',
    sortable: false,
    width: 200,
  },
  {
    text: 'Origin',
    value: 'originOrders',
    sortable: false,
    width: 150,
  },
  {
    text: 'Origin Port',
    value: 'originPortOrders',
    sortable: false,
    width: 150,
  },
  {
    text: 'Destination',
    value: 'destinationOrders',
    sortable: false,
    width: 150,
  },
  {
    text: 'Destination Port',
    value: 'destinationPortOrders',
    sortable: false,
    width: 180,
  },
  {
    text: 'Creation Date',
    value: 'creationDateOrders',
    sortable: false,
    width: 180,
  },
  {
    text: 'Last Mile Tracking No.',
    value: 'LMTrackingNumberOrders',
    sortable: false,
    width: 230,
  },
  {
    text: '',
    value: 'actions',
    sortable: false,
    width: 150,
  },
] as Header[]
// data initialization - end

export interface OrderActions {
  doOrderCancellation: (data: Order) => void
  doToggleOrderCancellation: (data: Order) => void
}

export default defineComponent({
  name: 'OrderPages',
  components: {
    AwbModalForm,
  },
  layout: 'default',
  setup() {
    const { $dateFns, app } = useContext()

    // *manage router
    const router = useRouter()
    const doGetDetails = (data: Order) => {
      router.push(`/orders/${data.id}`)
    }
    const goToBatchView = (item: Order | BatchOrders) => {
      let batchId: string

      if (isOnListView.value) {
        batchId = (item as Order).batchCode
      } else {
        batchId = (item as BatchOrders).code
      }

      router.push({
        name: `orders-batch-batchId`,
        params: {
          batchId,
        },
      })
    }
    const stateRouter = {
      doGetDetails,
      goToBatchView,
    }

    // manage store - start
    // application store - start
    const { alert: stateAlert, pagination: statePagination } =
      useState<RootStateApplications>('applications', ['alert', 'pagination'])
    const {
      SET_ALERT: setAlertMutations,
      RESET_ALERT: resetAlertMutations,
      SET_PAGINATION: setPaginationMutations,
    } = useMutations<MutationsApplications>('applications', [
      'SET_ALERT',
      'RESET_ALERT',
      'SET_PAGINATION',
    ])
    const alert = computed(() => ({ ...stateAlert.value }))
    const pagination = ref({ ...statePagination.value })
    const doSetAlert = (type: AlertType, message: string) => {
      setAlertMutations({
        isShow: true,
        type,
        message,
      })
    }
    const doResetAlert = resetAlertMutations
    const showTerminalStatus = ref(false)
    // application store - end

    // filters store - start
    const { customers: stateCustomers } = useState<StateFilters>('filters', [
      'customers',
    ])
    const { getCustomers } = useActions<ActionsFilters>('filters', [
      'getCustomers',
    ])
    const customers = computed(() => ({ ...stateCustomers.value }))
    // filters store - end

    // orders store - start
    const storeOrders = useStore<VuexModuleOrders>()
    const {
      orders: stateOrders,
      meta: stateMeta,
      filterOrder: stateFilterOrder,
      filterBatch: stateFilterBatch,
      orderTabView: stateOrderTabView,
    } = useState<StateOrders>('orders', [
      'orders',
      'meta',
      'filterOrder',
      'filterBatch',
      'orderTabView',
    ])
    const orders = computed(() => [...stateOrders.value])
    const meta = computed(() => ({ ...stateMeta.value }))
    const filterOrder = ref({ ...stateFilterOrder.value })
    const filterBatch = ref({ ...stateFilterBatch.value })
    // orders store - end
    const stateStore = {
      orders,
      meta,
      pagination,
      filterOrder,
      filterBatch,
      alert,
    }
    // manage store - end

    // *manage view
    const isLoading = computed(() => $fetchState?.pending || false)
    const totalItems = computed(() => meta.value.totalCount || 0)
    const orderView = ref(stateOrderTabView.value)
    const isOnListView = computed(() => {
      return orderView.value === 0
    })
    const stateView = { isLoading, totalItems, orderView, isOnListView }

    // *manage table
    const selectedOrders = ref([]) as Ref<Order[]>
    const actionExist = ref({
      export: true,
      downloadSelection: true,
      cancel: true,
    })
    const selectedViews = ref(initHeaders.map((header) => header.value))
    const headers = ref(initHeaders) as Ref<Header[]>
    const selectAllToggle = ({ items }: { items: Order[]; value: boolean }) => {
      if (selectedOrders.value.length === 0) {
        return (selectedOrders.value = [...items])
      } else {
        return (selectedOrders.value = [])
      }
    }
    const isLabelExistOnSelected = computed(() => {
      return selectedOrders.value.every((order) => order.labelPath)
    })
    const isCustomerExist = computed(() => !!customers.value?.data?.length)
    const isAwbSettingAllowed = computed(() => {
      return selectedOrders.value.every(
        (order) =>
          order.requestedServices.includes('CUSTOMS') &&
          !order.requestedServices.includes('FREIGHT_FORWARDER')
      )
    })
    const doResetPagination = () => {
      pagination.value = {
        ...pagination.value,
        page: 1,
      }
    }
    const doDownloadSelectedLabel = async (serviceType = '') => {
      if (selectedOrders.value.length === 0) return

      const messageServicetype = `${
        serviceType &&
        `on ${app.$customUtils.setServiceType(serviceType.toLowerCase())}`
      }`

      try {
        doResetAlert()
        $fetchState.pending = true

        // * actually return Blob or AxiosResponse<Blob> depends it's success or failed
        const response = await storeOrders.dispatch(
          'orders/getSelectedLabels',
          {
            data: {
              orderIds: selectedOrders.value.map((order) => order.id),
              serviceType,
            },
          }
        )

        // * check it's the response is blob with size 0 (means no file)
        if ((response as Blob).size === 0) throw response
        // * check it's the response
        if (
          (response as { response: AxiosResponse<Blob> })?.response?.status >=
          400
        )
          throw new Error(
            JSON.parse(
              await (
                response as { response: AxiosResponse<Blob> }
              ).response.data.text()
            ).error
          )

        saveAs(
          response,
          `order_labels${
            serviceType && `_${serviceType.toLowerCase()}`
          }_${$dateFns.format(new Date(), 'yyyy-MM-dd_HH-mm')}.pdf`
        )
        doSetAlert(
          'success',
          `Order labels ${messageServicetype} successfully downloaded!`
        )
      } catch (error) {
        doSetAlert('error', `Orders haven't labels ${messageServicetype}`)
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const doExportOrders = async () => {
      const fileName = `order_exports_${$dateFns.format(
        new Date(),
        'yyyy-MM-dd_HH-mm'
      )}.xlsx`

      if (selectedOrders.value.length === 0) return

      try {
        doResetAlert()
        $fetchState.pending = true

        const response = await storeOrders.dispatch(
          'orders/getSelectedExports',
          {
            data: selectedOrders.value.map((order) => order.id),
          }
        )

        if (response?.response?.status >= 400) throw response

        saveAs(response, fileName)
        doSetAlert('success', 'Successfully to export the order!')
      } catch (error) {
        doSetAlert('error', 'Failed to export the order!')
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const stateTable = {
      selectedOrders,
      actionExist,
      selectedViews,
      headers,
      selectAllToggle,
      isLabelExistOnSelected,
      isCustomerExist,
      isAwbSettingAllowed,
      doDownloadSelectedLabel,
      doExportOrders,
    }

    // *manage filter order
    const isShowFilter = ref(false)
    const doResetFilter = () => {
      filterOrder.value = { ...filterOrderInit }
      filterBatch.value = { ...filterBatchInit }
    }
    const stateFilter = { isShowFilter, doResetFilter }

    // *Debounced fetch
    const fetchTimer = ref(null) as unknown as Ref<any>
    const fetchDebounced = () => {
      clearTimeout(fetchTimer.value)

      fetchTimer.value = setTimeout(async () => {
        await fetchOrders(pagination.value)
      }, 300)
    }
    const fetchOrders = async (params: Pagination) => {
      const { page, itemsPerPage } = pagination.value
      const perPage = itemsPerPage !== -1 ? itemsPerPage : meta.value.totalCount
      let dataParams = {
        page,
        perPage,
      } as Object

      if (isOnListView.value) {
        const { sortBy, sortDesc } = params
        const { status } = filterOrder.value

        dataParams = app.$customUtils.setURLParams({
          ...dataParams,
          ...filterOrder.value,
          status: status && status.Status ? status.Status : null,
          sortBy: sortBy && sortBy[0] === 'orderCode' ? 'order_code' : null,
          sortDesc: sortDesc ? sortDesc[0] : null,
        })
      } else {
        dataParams = app.$customUtils.setURLParams({
          ...dataParams,
          ...filterBatch.value,
        })
      }

      try {
        $fetchState.pending = true
        const url = isOnListView.value
          ? 'orders/getOrders'
          : 'orders/getBatchOrders'

        await storeOrders.dispatch(url, { params: dataParams })
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }

    // manage feature flag
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )

    const { $fetchState } = useFetch(async () => {
      await Promise.allSettled([
        // check terminal status flag
        (showTerminalStatus.value = await getFeatureFlags(
          'display-terminal-status-in-client-portal'
        )),
        // check order cancellation flag
        (actionExist.value.cancel = await getFeatureFlags(
          'use-220-auto-order-cancellation'
        )),
        // get customers data
        getCustomers({
          params: {
            page: 1,
            perPage: 1,
          },
        }),
      ])

      // check the customer exist if false will remove the customer name cell on the table
      if (!isCustomerExist.value) {
        headers.value = initHeaders.filter(
          (header) => header.value !== 'customerName'
        )
      }

      // check terminal status flag and then push terminal status column
      if (showTerminalStatus.value) {
        const terminalStatusHeader = {
          text: 'Terminal Status',
          value: 'terminalStatusId',
          sortable: false,
          width: 180,
        }

        headers.value = [
          ...headers.value.slice(0, 9),
          terminalStatusHeader,
          ...headers.value.slice(9),
        ]
      }

      // check order cancellation status flag and then push order cancellation status column
      if (actionExist.value.cancel) {
        const actionIndex = initHeaders.findIndex(
          (header) => header.value === 'actions'
        )

        const cancellationStatusHeader = {
          text: 'Cancellation Status',
          value: 'cancellationStatus',
          sortable: false,
          width: 250,
        }

        headers.value = [
          ...headers.value.slice(0, actionIndex + 1),
          cancellationStatusHeader,
          ...headers.value.slice(actionIndex + 1),
        ]
      }
    })
    const stateFetch = { fetchOrders, fetchDebounced }

    // *manage filter on changed
    watch(
      filterOrder,
      (newFilter) => {
        doResetPagination()
        storeOrders.commit('orders/SET_FILTER_ORDERS', {
          ...newFilter,
        })
      },
      { deep: true }
    )
    watch(
      filterBatch,
      (newFilter) => {
        doResetPagination()
        storeOrders.commit('orders/SET_FILTER_BATCH', {
          ...newFilter,
        })
      },
      { deep: true }
    )
    // *manage pagination on changed
    watch(
      pagination,
      (newPagination) => {
        setPaginationMutations({
          ...newPagination,
        })
        storeOrders.commit('orders/SET_META', {
          ...storeOrders.state.orders.meta,
          page: (newPagination as any).page,
        })

        fetchDebounced()
      },
      { deep: true }
    )
    // *manage view table on changed
    watch(selectedViews, (newValue) => {
      headers.value = initHeaders.filter((header) =>
        newValue.includes(header.value)
      )
    })
    // *manage view on changed
    watch(orderView, (newValue) => {
      doResetFilter()
      selectedOrders.value = []
      storeOrders.commit('orders/SET_ORDER_TAB_VIEW', newValue)
    })

    // *manage page title
    const title = computed(() => {
      return orderView.value === 0 ? 'Order List' : 'Batch List'
    })
    useMeta(() => ({ title: `Client Portal | ${title.value}` }))

    // *manage modal
    const form = ref({
      awbNo: '',
    })
    const cancellationForm = ref({
      orderCode: '',
    })
    const dialog = ref({ ...initModalType })
    const dialogSettings = ref({ ...initDialogSettings }) as Ref<ModalConfirm>
    watch(
      () => dialog,
      (newValue) => {
        if (newValue.value.confirm !== false || newValue.value.form !== false)
          return
        form.value = {
          awbNo: '',
        }
        cancellationForm.value = {
          orderCode: '',
        }
        dialogSettings.value = {
          loading: false,
          title: '',
          content: '',
          cancelText: '',
          submitText: '',
          submitColor: '',
        }
      },
      { deep: true }
    )
    const stateModal = { form, cancellationForm, dialog, dialogSettings }

    // *manage setting mawb num
    const toggleSetAwb = () => {
      try {
        dialogSettings.value.loading = true
        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Enter AWB Number',
          content: '',
          cancelText: 'Cancel',
          submitText: 'Submit',
          submitColor: 'primary',
        }
        dialog.value.form = true
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const doSetAwb = async () => {
      try {
        doResetAlert()
        dialogSettings.value.loading = true

        // call endpoint to set AWB num for selected orders
        const response = await storeOrders.dispatch('orders/setAwb', {
          orderIds: selectedOrders.value.map((order) => order.id),
          awbNo: form.value.awbNo,
        })
        const { id } = response

        if (!id) throw response

        // await fetch()
        doSetAlert('success', 'Successfully set AWB number!')
        await fetchOrders(pagination.value)
        setTimeout(() => {
          dialog.value.form = false
        }, 1500)
      } catch (error) {
        doSetAlert('error', 'Setting of AWB number failed')
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
          doResetAlert()
        }, 1000)
      }
    }
    const goToAwbView = (item: Order) => {
      if (item.mawb?.mawbId) {
        const mawbId = item.mawb.mawbId
        router.push({
          name: `orders-mawb-mawbId`,
          params: {
            mawbId,
          },
        })
      }
    }
    const stateAwb = { toggleSetAwb, doSetAwb, goToAwbView }

    // manage order cancellation - start

    const toggleOrderCancellation = (item: Order) => {
      try {
        dialogSettings.value.loading = true
        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Order Cancellation Request',
          content: `Are you sure you want to request cancellation for ${item.orderCode}? This action requires approval from an admin.`,
          cancelText: 'Keep order',
          submitText: 'Request Cancellation',
          submitColor: 'error',
        }
        dialog.value.confirm = true
        cancellationForm.value.orderCode = item.orderCode
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }

    const orderCancellation = async () => {
      try {
        doResetAlert()
        $fetchState.pending = true

        const response = await storeOrders.dispatch(
          'orders/postOrderCancellation',
          {
            data: {
              orderCodes: [cancellationForm.value.orderCode],
            },
          }
        )

        // check response status
        if (response !== null) throw response

        doSetAlert('success', 'Order cancellation requested successfully!')
        await fetchOrders(pagination.value)
        setTimeout(() => {
          dialog.value.confirm = false
        }, 1500)
      } catch (error) {
        const message =
          (error as { response: AxiosResponse<{ error: string }> })?.response
            ?.data?.error ||
          (error as { message: string }).message ||
          'Failed to request order cancellation'

        doSetAlert('error', message)
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }

    // provide the function to the actions table components
    provide<OrderActions>('orderActions', {
      doToggleOrderCancellation: toggleOrderCancellation,
      doOrderCancellation: orderCancellation,
    })

    const stateOrderCancellation = {
      toggleOrderCancellation,
      orderCancellation,
    }
    // manage order cancellation - end

    return {
      // manage router
      ...stateRouter,
      // manage store
      ...stateStore,
      // manage view
      ...stateView,
      // manage table
      ...stateTable,
      // manage filter order
      ...stateFilter,
      // manage fetch
      ...stateFetch,
      // manage modal
      ...stateModal,
      // manage setting mawb num
      ...stateAwb,
      // manage order cancellation
      ...stateOrderCancellation,
      // manage terminal status flag
      showTerminalStatus,
    }
  },
  head: {},
})
</script>
