<template>
  <div v-if="isUseFlags">
    <slot />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, useFetch } from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'

// types
import { ActionsApplications } from '~/store/applications'
// end types

export default defineComponent({
  name: 'FeatureFlags',
  props: {
    flags: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    // *manage store
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    // end manage store

    const isUseFlags = ref(false)

    useFetch(async () => {
      // get flags
      isUseFlags.value = await getFeatureFlags(props.flags)
    })

    return { isUseFlags }
  },
})
</script>
