<template>
  <v-dialog v-model="dialog" max-width="550" persistent eager>
    <v-card>
      <v-card-title v-if="dialogSettings.avatar" class="primary mb-4">
        <v-list class="primary" three-line>
          <v-list-item class="custom-list-item">
            <v-list-item-avatar class="custom-avatar">
              <v-img :src="dialogSettings.avatar"></v-img>
            </v-list-item-avatar>

            <v-list-item-content class="custom-item-content">
              <v-list-item-title
                ><h3 class="white--text font-weight-bold">
                  {{ dialogSettings.title }}
                </h3></v-list-item-title
              >
              <v-list-item-subtitle v-if="dialogSettings.subtitle"
                ><span class="white--text">{{
                  dialogSettings.subtitle
                }}</span></v-list-item-subtitle
              >
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card-title>

      <v-card-title v-else class="title py-6">
        {{ dialogSettings.title }}
      </v-card-title>

      <v-expand-transition>
        <v-alert
          v-if="alert.isShow"
          :type="alert.type"
          rounded="xl"
          class="mx-6 mt-6"
        >
          {{ alert.message }}
        </v-alert>
      </v-expand-transition>

      <ValidationObserver
        ref="formObserver"
        v-slot="{ invalid }"
        tag="form"
        @submit.stop.prevent="doSubmit"
      >
        <slot name="modalFields" />

        <v-card-actions class="px-6 pb-6">
          <v-spacer />

          <v-btn
            outlined
            :disabled="dialogSettings.loading"
            color="primary"
            @click="doClose"
          >
            {{ dialogSettings.cancelText }}
          </v-btn>

          <v-btn
            :loading="dialogSettings.loading"
            :disabled="
              invalid ||
              dialogSettings.loading ||
              !!dialogSettings.disabledSubmit
            "
            :color="dialogSettings.submitColor"
            depressed
            type="submit"
            class="ml-2"
          >
            {{ dialogSettings.submitText }}
          </v-btn>
        </v-card-actions>
      </ValidationObserver>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  ref,
  Ref,
  useStore,
} from '@nuxtjs/composition-api'
import { ValidationObserver } from 'vee-validate'
// Interfaces and types
import {
  ModalConfirm,
  VForm,
  VuexModuleApplications,
} from '~/types/applications'

export default defineComponent({
  components: {
    ValidationObserver,
  },
  props: {
    value: {
      type: Boolean as PropType<boolean>,
      required: true,
    },
    dialogSettings: {
      type: Object as PropType<ModalConfirm>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const storeApplications = useStore<VuexModuleApplications>()
    const alert = computed(() => storeApplications.state.applications.alert)
    const formObserver = ref(null) as unknown as Ref<VForm>
    const dialog = computed({
      get: () => props.value,
      set: (value: boolean) => emit('input', value),
    })
    const doClose = async () => {
      await formObserver?.value?.reset()
      dialog.value = false
      setTimeout(() => {
        emit('doClose')
      }, 100)
    }
    const doSubmit = async () => {
      const isValid = await formObserver?.value?.validate()

      if (!isValid) return

      emit('doSubmit')
    }

    return {
      alert,
      formObserver,
      dialog,
      doClose,
      doSubmit,
    }
  },
})
</script>

<style>
.custom-avatar {
  height: 60px !important;
  min-width: 60px !important;
  width: 60px !important;
  margin: 0 20px 0 0 !important;
}
.custom-list-item {
  min-height: auto !important;
  padding: 0 !important;
}
.custom-item-content {
  padding: 0 !important;
}
</style>
