<template>
  <v-alert
    v-if="alert.isShow"
    :type="alert.type"
    rounded="xl"
    :dismissible="dismissible"
  >
    <span v-if="typeof alert.message === 'string'">
      {{ alert.message }}
    </span>

    <template v-else>
      <template v-for="(item, index) in alert.message">
        <ul v-if="alert.message.length > 1" :key="index">
          <li>{{ item }}</li>
        </ul>

        <span v-else :key="index">
          {{ item }}
        </span>
      </template>
    </template>
  </v-alert>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import { useState } from 'vuex-composition-helpers'

// types
import { RootStateApplications } from '~/store/applications'
// end types

export default defineComponent({
  name: 'BaseNotification',
  props: {
    dismissible: {
      type: Boolean,
      default: true,
    },
  },
  setup() {
    // manage store
    const { alert } = useState<RootStateApplications>('applications', ['alert'])
    const storeState = { alert }
    // end manage store

    return {
      ...storeState,
    }
  },
})
</script>
