<template>
  <section class="pa-4 pa-md-10 py-8 editComplete">
    <v-row align="start" justify="space-between">
      <v-card
        v-if="dataDetail && Object.keys(dataDetail).length"
        color="primary"
        class="pa-5"
        width="450px"
      >
        <v-card-title class="white--text pa-0 mb-2 font-weight-bold">
          {{ dataDetail.group_name }}
        </v-card-title>

        <v-card-text class="pa-0 white--text">
          <div class="d-flex align-start">
            <div class="pr-2 font-weight-bold" :style="'width: 27.5%'">
              Sub-Bags
            </div>
            <div>
              :
              {{ bagDetails.bags ? bagDetails.bags.length : 0 }}
            </div>
          </div>
          <div class="d-flex align-start">
            <div class="pr-2 font-weight-bold" :style="'width: 27.5%'">
              Orders
            </div>
            <div>
              :
              {{ getOrderCount() }}
            </div>
          </div>
          <div class="d-flex align-start">
            <div class="pr-2 font-weight-bold" :style="'width: 27.5%'">
              Est. Weight
            </div>
            <div>
              :
              {{ weightCalc() ? weightCalc() : 0 }} kg
            </div>
          </div>
        </v-card-text>
      </v-card>
      <v-btn color="primary" min-width="200px" @click="handleStop">
        DONE
      </v-btn>
    </v-row>
    <v-row class="mt-10">
      <v-col cols="12" md="12" class="pa-0">
        <v-card elevation="2" width="100%">
          <article class="scanned-tab pa-8">
            <v-container fluid class="pa-0">
              <v-row>
                <v-col
                  v-for="(partner, u) in dataCard"
                  :key="u"
                  cols="4"
                  class="d-flex align-center justify-space-between pa-4"
                >
                  <v-card
                    elevation="1"
                    class="mx-auto"
                    width="100%"
                    :style="'overflow: hidden'"
                  >
                    <v-card-title
                      v-if="dataDetail.bags"
                      class="d-flex flex-column justify-center align-center text-center mb-3"
                    >
                      <!-- v-if="dataDetail.is_owner || (!dataDetail.is_owner && dataDetail.is_sealed)" -->
                      <v-btn
                        color="primary darken-1 white--text mb-4"
                        @click="
                          actionCard.toggleConfirm({
                            data: partner,
                            isBulk: true,
                          })
                        "
                      >
                        DELETE BAG
                      </v-btn>
                      <div class="mb-2 headline font-weight-bold">
                        {{ partner.group_name }}
                      </div>
                      <div class="subtitle-1 font-weight-medium">
                        Orders:
                        {{
                          partner.orders
                            ? partner.orders.filter((x) => x).length
                            : 0
                        }}
                      </div>
                    </v-card-title>

                    <v-divider v-if="dataDetail.bags"></v-divider>

                    <v-virtual-scroll
                      :items="itemOrders(partner)"
                      :item-height="50"
                      height="200"
                    >
                      <!-- eslint-disable-next-line vue/no-unused-vars -->
                      <template #default="{ item, index }">
                        <v-list-item
                          v-if="item"
                          :class="`custom-list-item-scroll ${
                            item.new ? 'bg-custom' : ''
                          }`"
                        >
                          <v-list-item-avatar>
                            <v-icon> mdi-email-outline </v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title
                              :class="
                                item.orderScanStatus === 0 ? `red--text` : null
                              "
                            >
                              {{ item.order_code }}
                              <v-badge
                                v-if="checkHighValue(item)"
                                :content="'High Value'"
                                color="secondary"
                                class="ml-2"
                              ></v-badge>
                            </v-list-item-title>
                          </v-list-item-content>

                          <!-- v-if="dataDetail.is_owner || (!dataDetail.is_owner && dataDetail.is_sealed)" -->
                          <v-list-item-icon
                            v-if="
                              validationDeleteTrash({
                                dataAll: dataDetail,
                                bag: partner,
                              })
                            "
                            class="custom-icon-bagging"
                            @click="
                              actionCard.toggleConfirm({
                                data: item,
                                parent: partner,
                              })
                            "
                          >
                            <v-icon> mdi-delete-outline </v-icon>
                          </v-list-item-icon>
                        </v-list-item>
                        <v-list-item
                          v-else
                          :class="`${false ? 'bg-custom' : ''}`"
                          disabled
                          @click="actionCard.addItem()"
                        >
                          <v-list-item-avatar>
                            <v-icon> mdi-plus-circle-outline </v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content>
                            <v-list-item-title>
                              Add Order
                              <v-badge
                                :content="'Coming Soon'"
                                color="secondary"
                                class="ml-2"
                              >
                              </v-badge>
                            </v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                      </template>
                    </v-virtual-scroll>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </article>
        </v-card>
      </v-col>
    </v-row>
    <!-- Modal confirm -->
    <BaggingDeletePartnerCompleteConfirm
      v-model="dialog.delete"
      :dialog-settings="dialogSettings"
      :is-confirm="true"
      @doSubmit="actionCard.deleteItem"
      @doCancel="actionCard.handleCancel"
    />
    <!-- Modal after click no -->
    <BaggingModalConfirm
      v-model="dialog.delete.edit"
      :dialog-settings="dialogSettings"
      @doSubmit="actionCard.deleteItem"
      @doCancel="actionCard.handleCancel"
    />
    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  computed,
  ref,
  Ref,
  useRoute,
  useRouter,
  useContext,
  onMounted,
  watch,
} from '@nuxtjs/composition-api'
import { useMutations } from 'vuex-composition-helpers'
import { checkHighValue } from '~/composables/partner-portals/scan'

import { MutationsBagging } from '~/store/bagging/bagging'
// Interface and types
import { ModalConfirm, VuexModuleApplications } from '~/types/applications'
import {
  VuexModuleDetailBagging,
  Unbagged,
  InputPostBag,
  Order,
  Bagged,
  CompletedBag,
  InputDeleteBag,
} from '~/types/bagging/bagging'

export default defineComponent({
  name: 'EditComplete',
  middleware: 'partner',
  setup() {
    const { $dateFns } = useContext()
    const router = useRouter()
    const route = useRoute()
    const storeApplications = useStore<VuexModuleApplications>()
    const storeBagging = useStore<VuexModuleDetailBagging>()
    const { SET_TAB_VIEW: setTabView } = useMutations<MutationsBagging>(
      'bagging',
      ['SET_TAB_VIEW']
    )
    const user = localStorage.getItem('auth.user')
      ? JSON.parse(localStorage.getItem('auth.user') as string)
      : {}

    const bagDetails = computed(() =>
      JSON.parse(
        localStorage.getItem(`completedDetail.${user.email}`) as string
      )
    )
    const dataDetail = computed(() =>
      filterIfOnlyContainOneBag(
        JSON.parse(
          localStorage.getItem(`completedDetail.${user.email}`) as string
        )
      )
    ) as Ref<CompletedBag>
    function filterIfOnlyContainOneBag(data: any) {
      let temp = data
      if (data.bags && data.bags.length === 1)
        temp = {
          ...data.bags[0],
        }
      return temp
    }

    // const dataDetail = ref(JSON.parse(localStorage.getItem(`completedDetail.${user.email}`) as string)) as Ref<Bagged | any>
    const dataCard = computed(() => {
      let temp = dataDetail.value.bags
      if (!dataDetail.value.bags) temp = [1 as any]
      return temp
    })
    const alert = computed(() => storeApplications.state.applications.alert)
    const unbaggedData = computed(
      () => (storeBagging.state.bagging as any).bagging.unbagged
    )

    const isBagsTabPartner = computed(() => {
      const data = route.value?.params?.isBagsTabPartner
      const query = route.value?.query?.bag && Number(route.value?.query?.bag)
      return data || !!query
    })

    const allScanned = ref([]) as Ref<any>
    const deletedItem = ref({}) as Ref<any>
    const cardData = ref({}) as Ref<any>
    const dialog = ref({
      delete: {
        status: false,
        comment: '',
        reason: '',
        edit: false,
      },
      confirmEdit: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>
    function handleStop() {
      const partnerId = JSON.parse(
        localStorage.getItem('auth.user') as string
      ).partnerProfiles
      if (partnerId && partnerId.length) {
        router.push(`/partner-portals/${partnerId[0].partnerId}/bagging`)
      } else {
        router.go(-1)
      }
    }
    const getOrderCount = () => {
      if (dataDetail.value.orders && !!dataDetail.value.orders?.length)
        return dataDetail.value.orders?.filter((order) => order).length
      else if (dataDetail.value.bags && !!dataDetail.value.bags.length) {
        const orderOnSubBags = dataDetail.value.bags
          .map((bag) => {
            if (!bag.orders) return bag.orders

            const orders = bag.orders.filter((order) => order)
            return orders
          })
          .reduce((acc, item) => {
            const orderLength = item ? item.length : 0

            return acc + orderLength
          }, 0)
        return orderOnSubBags
      } else return 0
    }
    function weightCalc() {
      return dataDetail.value.orders
        ? dataDetail.value.orders.reduce((accumulator: any, a: Order) => {
            if (a) return accumulator + a.weight
            else return accumulator + 0
          }, 0)
        : dataDetail.value.bags &&
            dataDetail.value.bags
              .map((x: Bagged | any) => {
                return (
                  x.orders &&
                  x.orders.reduce((accumulator: any, a: Order) => {
                    if (a) return accumulator + a.weight
                    else return accumulator + 0
                  }, 0)
                )
              })
              .reduce((accumulator: any, a: Order) => accumulator + a, 0)
    }

    function itemOrders(detail: Bagged | number) {
      let temp = [] as Order[] | any

      if (typeof detail === 'number') temp = dataDetail.value.orders ?? []
      else temp = detail.orders ?? []
      if (
        temp &&
        !dataDetail.value.is_sealed &&
        !temp.includes(null) &&
        !dataDetail.value?.is_detail_bag_tab
      )
        temp.push(null)
      return temp
    }

    const newScanned = computed(() => {
      if (
        !localStorage.getItem(
          `newScanned.${
            isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
          }.partner.${user.email}`
        ) ||
        (!user && !user.email)
      ) {
        return []
      } else {
        return localStorage.getItem(
          `newScanned.${
            isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
          }.partner.${user.email}`
        )
          ? JSON.parse(
              localStorage.getItem(
                `newScanned.${
                  isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
                }.partner.${user.email}`
              ) as string
            )
          : []
      }
    })

    onMounted(() => {
      const temp = newScanned.value.map((x: any) => {
        return {
          ...x,
          new: false,
        }
      })
      localStorage.setItem(
        `newScanned.${
          isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
        }.partner.${user.email}`,
        JSON.stringify(temp)
      )
    })

    function parseInput() {
      let orderGroups = unbaggedData.value
        .map((x: Unbagged) => x.order_group && x.order_group)
        .filter((z: any) => z && z.length > 0)
      orderGroups = [].concat.apply([], orderGroups)
      const payload = orderGroups
        .map((x: Bagged) => {
          return {
            bag_name:
              x.group_name +
              '-' +
              $dateFns.format(
                new Date(),
                'yyyyMMddHHmmss'
                // 'yyyy-MM-dd\'T\'HH:mm:ss.SSS'
              ),
            order_ids: (
              x.orders &&
              x.orders.filter((y) =>
                allScanned.value.some(
                  (z: { order_code: string; new: boolean }) =>
                    z.order_code === y.order_code && z.new
                )
              )
            )?.map((k) => k.id),
          }
        })
        .filter((q: InputPostBag) => q.order_ids && q.order_ids.length)
      return payload
    }

    async function submit(params: { isCancel?: boolean }) {
      try {
        dialogSettings.value.loading = true
        const payloadArr = parseInput()
        await Promise.all(
          payloadArr.map(async (el: InputPostBag) => {
            try {
              await storeBagging.dispatch('bagging/bagging/postBags', {
                payload: el,
              })
            } catch (error) {
              return error
            }
          })
        )
        await fetchBags()
        allScanned.value = allScanned.value.map((x: any) => {
          return {
            ...x,
            new: false,
          }
        })

        const textMsg = params?.isCancel ? 'Close Bag' : 'Print label'

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: `${textMsg} successfully!`,
        })
      } catch (error) {
        const textMsg = params?.isCancel ? 'Close Bag' : 'Print label'
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `${textMsg} successfully!`,
        })
      } finally {
        dialogSettings.value.loading = false
        if (params?.isCancel) {
          dialog.value.confirmEdit = false
        } else {
          dialog.value.delete.status = false
        }
        setTimeout(() => {
          storeApplications.commit('applications/RESET_ALERT')
        }, 3000)
      }
    }

    async function fetchBags() {
      try {
        $fetchState.pending = true
        await storeBagging.dispatch('bagging/bagging/getBagsPartner')
      } catch (error) {
        return error
      } finally {
        $fetchState.pending = false
      }
    }

    const { $fetchState } = useFetch(async () => {
      await fetchBags()
    })

    function disabledCloseBag() {
      return !allScanned.value.some((x: any) => x.new)
    }
    const actionCard = {
      deleteItem: async () => {
        try {
          dialogSettings.value.loading = true
          const input = Object.entries({ ...deletedItem.value })
            .filter((x) => x[1])
            .reduce((accum: any, [k, v]) => {
              accum[k] = v
              return accum
            }, {}) as InputDeleteBag

          const payload = {
            ...input,
            reason: dialog.value.delete.reason,
            comments: dialog.value.delete.comment,
          }

          const response = await storeBagging.dispatch(
            'bagging/bagging/deleteOrderBag',
            {
              payload,
            }
          )

          if (response && response.length > 0) {
            await fetchBags()

            if (bagDetails.value.is_scan) {
              localStorage.setItem(
                `completedDetail.${user.email}`,
                JSON.stringify({
                  ...response[0],
                  is_scan: true,
                })
              )
            } else {
              localStorage.setItem(
                `completedDetail.${user.email}`,
                JSON.stringify(response[0])
              )
            }
          } else {
            throw response
          }

          deletedItem.value = {}
          dialog.value.delete.status = false
          dialog.value.delete.edit = false
          dialog.value.delete.comment = ''
          dialog.value.delete.reason = ''
        } catch (error) {
        } finally {
          setTabView({
            orderView: {
              '1': 1,
            },
            step: 2,
          })
          const partners = JSON.parse(
            localStorage.getItem('auth.user') as string
          ).partnerProfiles
          if (partners && partners.length) {
            router.push(`/partner-portals/${partners[0].partnerId}/bagging`)
          }
          dialogSettings.value.loading = false
        }
      },
      addItem: () => {},
      toggleConfirm: (params?: {
        data?: CompletedBag | Order | any
        isBulk?: Boolean
        parent?: CompletedBag
      }) => {
        const partnerId = JSON.parse(
          localStorage.getItem('auth.user') as string
        ).partnerProfiles
        dialogSettings.value = {
          loading: false,
          title: 'Delete {orderID} now ?',
          content: '',
          cancelText: 'No',
          submitText: 'Yes',
          submitColor: 'error',
        }
        if (params?.isBulk) {
          dialogSettings.value.content = `${params?.data?.group_name}`
          dialogSettings.value.title = `Rejected Bag`
          // dialogSettings.value.title = `Delete ${params?.data?.group_name} now ?`
          deletedItem.value = {
            id: dataDetail.value.id,
            partner_id:
              partnerId && partnerId.length ? partnerId[0].partnerId : '',
            bag_id: params?.data?.id,
            order_id: '',
          }
        } else {
          dialogSettings.value.content = `${params?.data?.order_code}`
          dialogSettings.value.title = `Rejected Orders`
          // dialogSettings.value.title = `Delete ${params?.data?.order_code} now ?`
          deletedItem.value = {
            id: dataDetail.value.id,
            partner_id:
              partnerId && partnerId.length ? partnerId[0].partnerId : '',
            // bag_id: params?.parent?.id ?? '',
            bag_id: '',
            order_id: params?.data?.id,
          }
        }

        if (bagDetails.value.is_sealed) {
          dialog.value.delete.status = true
        } else {
          dialogSettings.value.content = ``
          dialogSettings.value.title = `Delete ${
            params?.isBulk
              ? 'Bag: ' + params?.data?.group_name
              : 'Order: ' + params?.data?.order_code
          }`
          dialog.value.delete.edit = true
        }
      },
      handleCancel: () => {
        dialogSettings.value = {
          loading: false,
          title: '',
          content: '',
          cancelText: '',
          submitText: '',
          submitColor: '',
        }
        dialog.value.delete.status = false
        dialog.value.delete.edit = false
        dialog.value.delete.comment = ''
        dialog.value.delete.reason = ''
      },
    }

    function validationDeleteTrash(params?: { dataAll: any; bag: any }) {
      let temp =
        params?.dataAll.is_owner ||
        (!params?.dataAll.is_owner && params?.dataAll.is_sealed)
      if (typeof params?.bag !== 'number')
        temp =
          params?.dataAll.is_owner ||
          (!params?.bag.is_owner && params?.dataAll.is_sealed)
      return temp
    }

    useMeta(() => ({ title: 'Partner Portal | Edit' }))
    watch(
      [dataDetail, bagDetails],
      () => {
        return dataCard
      },
      { deep: true }
    )
    return {
      bagDetails,
      handleStop,
      submit,
      dialog,
      dialogSettings,
      allScanned,
      cardData,
      disabledCloseBag,
      alert,
      dataDetail,
      actionCard,
      dataCard,
      itemOrders,
      getOrderCount,
      weightCalc,
      validationDeleteTrash,
      checkHighValue,
    }
  },
  head: {},
})
</script>

<style lang="scss">
.editComplete {
  .list-custom {
    min-height: unset;
    padding: unset;
  }
  .custom-icon-bagging {
    cursor: pointer;
    &:hover {
      .v-icon {
        color: rgb(255, 111, 111) !important;
      }
    }
  }
}
</style>
