<template>
  <section class="pa-4 pa-md-10 py-8 baggedPage">
    <BaseHeadlinePage
      title="Bagging Partner"
      subtitle="Manage and view the incoming bag parcels for ease of shipping and tracking."
    >
      <!-- <template slot="addition">
        <span class="text--secondary font-weight-medium title">
          &bull; {{ '0' }} Total Orders
        </span>
      </template> -->
    </BaseHeadlinePage>

    <v-row
      v-if="step === 0 && featureFlags.useIncoming"
      align="center"
      justify="end"
      :style="'min-height: 72px'"
    >
      <v-col
        cols="12"
        md="auto"
        class="d-flex flex-column flex-md-row align-start align-md-center"
      >
        <v-btn
          color="primary"
          class="mx-auto mx-md-0 ml-md-2 mb-4 mb-md-0"
          @click="handleIncomingScan()"
        >
          <v-icon class="mr-2"> mdi-play </v-icon>
          Scan
        </v-btn>

        <v-btn
          color="primary"
          class="mx-auto mx-md-0 ml-md-2 mb-4 mb-md-0"
          disabled
        >
          <v-icon class="mr-2"> mdi-arrow-down </v-icon>
          Check in
        </v-btn>
      </v-col>
    </v-row>

    <v-row v-else align="center" justify="end" :style="'min-height: 72px'">
      <!-- Left options -->
      <OrdersLeftOptions
        v-if="false"
        :selected-orders="selectedINFO"
        :is-show-filter="isShowFilter"
        :is-on-bags-tab="{
          text: true,
          filter: true,
        }"
        :is-unbagged="true"
        @doShowFilter="isShowFilter = !isShowFilter"
      />
      <!-- :loading="$fetchState.pending" -->

      <!-- Right options -->
      <OrdersRightOptions v-if="step !== 4">
        <!-- unbagged/bagged view -->
        <template #toggleView>
          <OrdersToggleView
            v-if="step === 1 || step === 2"
            v-model="orderView"
            :is-bagging="true"
          />
          <!-- completed bags -->
          <v-btn
            v-if="step === 3"
            color="primary"
            class="mx-auto mx-md-0 ml-md-2 mb-4 mb-md-0"
            :disabled="
              !completeVModel.selectedOrders.length || $fetchState.pending
            "
            @click="handleManifest()"
          >
            Generate Manifest
          </v-btn>

          <!-- unbagged  -->
          <v-menu
            v-if="step === 1 && orderView === 0"
            transition="slide-y-transition"
            bottom
            :offset-y="true"
          >
            <template #activator="{ on, attrs }">
              <v-btn
                color="primary"
                min-width="150px"
                class="mx-auto mx-md-0 ml-md-2 mb-4 mb-md-0"
                v-bind="attrs"
                :disabled="
                  (!Object.keys(selectedUnbagged).length && orderView !== 1) ||
                  $fetchState.pending
                "
                v-on="on"
              >
                <!-- :disabled="disabledCloseBag() || $fetchState.pending" -->
                {{ nameBtn }}
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="handleBagScanBag()">
                <v-list-item-title class="text-center">
                  Close Bags
                </v-list-item-title>
              </v-list-item>

              <v-list-item @click="handleBagScanBag({ isComplete: true })">
                <v-list-item-title class="text-center">
                  Complete Bags
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>

          <v-btn
            v-if="step === 2 || (step === 1 && orderView === 1)"
            color="primary"
            min-width="150px"
            class="mx-auto mx-md-0 ml-md-2 mb-4 mb-md-0"
            :disabled="disabledBtnRight() || $fetchState.pending"
            @click="handleBagScanBag"
          >
            <v-icon v-if="orderView === 1" class="mr-2"> mdi-play </v-icon>
            {{ nameBtn }}
          </v-btn>

          <v-btn
            v-else-if="step !== 1 && step !== 3 && step !== 0"
            :color="step === 1 ? 'green' : 'primary'"
            min-width="150px"
            class="mx-auto mx-md-0 ml-md-2 mb-4 mb-md-0"
            :disabled="
              !completeVModel.selectedOrders.length || $fetchState.pending
            "
            :class="step === 1 ? 'white--text' : ''"
            @click="handleBagScanBag"
          >
            {{ nameBtn }}
          </v-btn>
        </template>
      </OrdersRightOptions>
    </v-row>

    <v-expand-transition>
      <OrdersFiltersContainer
        :is-show-filter="isShowFilter"
        @doToggleFilter="isShowFilter = !isShowFilter"
        @doResetFilter="doResetFilter"
      >
        <template #filterList>
          <!-- Filter for order list -->
          <BaggingFilterListView v-model="filterBagging" :is-client="true" />
        </template>
      </OrdersFiltersContainer>
    </v-expand-transition>

    <v-sheet color="transparent" width="100%" class="mx-10 mt-10">
      <template v-for="({ text, icon }, index) in stepList">
        <template v-if="index === 0">
          <template v-if="featureFlags.useIncoming">
            <v-btn
              :key="text"
              :color="isActive(index) ? 'primary' : 'white'"
              :class="[isActive(index) ? 'white--text' : 'primary--text']"
              class="custom-tab mx-2"
              min-width="150px"
              @click="doChangeWindow(index)"
            >
              <v-icon v-if="icon" left dark size="28">
                {{ icon }}
              </v-icon>

              {{ text }}
            </v-btn>
          </template>
        </template>

        <template v-else>
          <v-btn
            :key="text"
            :color="isActive(index) ? 'primary' : 'white'"
            :class="[isActive(index) ? 'white--text' : 'primary--text']"
            class="custom-tab mx-2"
            min-width="150px"
            @click="doChangeWindow(index)"
          >
            <v-icon v-if="icon" left dark size="28">
              {{ icon }}
            </v-icon>

            {{ text }}
          </v-btn>
        </template>
      </template>
    </v-sheet>

    <v-card elevation="2">
      <v-window v-model="step">
        <!-- incoming -->
        <v-window-item :value="0">
          <template v-if="$fetchState.pending">
            <BaseLoading />
          </template>

          <template v-else>
            <template v-if="step === 0 && featureFlags.useIncoming">
              <BaggingIncomingOrders :step="step" />
            </template>
          </template>
        </v-window-item>

        <!-- unbagged -->
        <v-window-item :value="1">
          <template v-if="$fetchState.pending">
            <BaseLoading />
          </template>

          <template v-else>
            <BaggingScanned
              v-if="orderView === 1"
              :data="dataMerged"
              :is-scanned-unbagged-partner="true"
            />

            <BaggingList
              v-else
              v-model="selectedUnbagged"
              :data="dataMerged"
              :is-partner-unbagged="true"
            />
          </template>
        </v-window-item>

        <!-- bags -->
        <v-window-item :value="2">
          <template v-if="$fetchState.pending">
            <BaseLoading />
          </template>

          <template v-else>
            <BaggingScanned
              v-if="orderView === 1"
              :data="dataMerged"
              :is-bag-tab-partner="true"
            />

            <BaggingList
              v-else
              v-model="selectedBagged"
              :data="dataMerged"
              :is-partner-bagged="true"
            />
          </template>
        </v-window-item>

        <!-- complete -->
        <v-window-item :value="3">
          <BaggingBagTab
            v-model="completeVModel"
            :is-complete-tab-partner="true"
            :first-selected-port-bag="{
              selectedOriginPort,
              selectedDestPort,
            }"
            @fetchAction="fetchBagsCompleted"
          />
        </v-window-item>

        <!-- manifest -->
        <v-window-item :value="4">
          <BaggingBagTab
            v-model="manifestVModel"
            :is-manifest-tab-partner="true"
            @fetchAction="fetchBagsManifested"
          />
        </v-window-item>
      </v-window>
    </v-card>

    <!-- Delete Status -->
    <!-- <BaseModalForm
      v-model="dialog.delete"
      :dialog-settings="dialogSettings"
      @doSubmit="deleteStatus"
    >
      <template #modalFields>
        <OrdersDeleteStatusContent
          :selected="selectedOrders"
          :is-open="dialog.delete"
        />
      </template>
    </BaseModalForm> -->
    <!-- Modal confirm -->
    <BaggingModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      :is-confirm="true"
      @doSubmit="submit"
      @doCancel="handleCancel"
    />
    <!-- Modal Manifest -->
    <BaggingGenerateManifest
      v-model="inputMAWB"
      :selected="completeVModel.selectedOrders"
      :dialog-settings="dialogSettings"
      @doSubmit="doSubmitManifested()"
      @doCancel="
        () => {
          inputMAWB.manifest = false
        }
      "
      @doHandleReweight="(value) => doHandleModalReweight(value)"
    />
    <!-- Modal Reweight -->
    <BaggingReweight
      v-model="inputReweight"
      :selected="detailManifest"
      :dialog-settings="dialogSettings"
      @doSubmit="postReweight"
      @doCancel="() => (inputReweight.reweight = false)"
    />
    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  computed,
  ref,
  Ref,
  watch,
  useRoute,
  useRouter,
  onMounted,
} from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'

// types
import { ActionsApplications } from '~/store/applications'
import { ModalConfirm, VuexModuleApplications } from '~/types/applications'
import {
  VuexModuleDetailBagging,
  Unbagged,
  InputPostBag,
  InputManifest,
  GenerateManifest,
  InputLabelBags,
  CompletedBag,
  Order,
  dataInputReweight,
} from '~/types/bagging/bagging'
// end types

// composables
import {
  groupScannedUnbaggedOrder,
  parsingBagged,
  processData,
  weightCalc,
  parsingDataInputManifest,
  findHighValueOrders,
} from '~/composables/partner-portals/bagging/index'

export default defineComponent({
  name: 'BaggingPages',
  middleware: 'partner',
  setup() {
    useMeta(() => ({ title: 'Partner Portal | Bagging' }))
    onMounted(() => {
      isShowFilter.value = false
    })

    // manage route and router
    const route = useRoute()
    const router = useRouter()

    // manage store
    const storeApplications = useStore<VuexModuleApplications>()
    const storeBagging = useStore<VuexModuleDetailBagging>()
    const storeOfApplications = useStore<VuexModuleApplications>()
    const alert = computed(() => storeOfApplications.state.applications.alert)
    const filterBagging = ref({
      ...(storeBagging.state.bagging as any).bagging.filter,
    })
    const detailManifest = computed(
      () => (storeBagging.state.bagging as any).bagging.detailManifest
    )
    const stateStore = {
      alert,
      filterBagging,
      detailManifest,
    }

    // manage modals
    const dialog = ref({
      confirm: false,
      manifest: false,
      isComplete: false,
      cancel: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>

    // const manage complete tab select
    const selectedOriginPort = ref('')
    const selectedDestPort = ref('')

    function handleManifest() {
      dialogSettings.value = {
        loading: false,
        title: 'Generate Manifest',
        content: '',
        cancelText: 'Cancel',
        submitText: 'Update',
        submitColor: 'primary',
      }
      inputMAWB.value.manifest = true
    }
    async function handleCancel() {
      await submit({ isCancel: true })
      dialogSettings.value = {
        loading: false,
        title: 'Make sure bags are arranged properly to prevent mix-up',
        content: '',
        cancelText: '',
        submitText: 'Ok',
        submitColor: 'primary',
      }
      dialog.value.cancel = true
    }
    async function doHandleModalReweight(data: CompletedBag) {
      try {
        const response = (await fetchDetailManifested(data.id)) as {
          orders: Order[]
        }
        // console.log({response})
        if (response?.orders) {
          const input = {} as dataInputReweight
          response?.orders.forEach((x) => {
            input[x.id] = String(x.measured_weight)
          })
          // console.log({input})
          inputReweight.value.input = input
        }
        inputReweight.value.id = data.id
        dialogSettings.value = {
          loading: false,
          title: `Reweight Orders`,
          content: `${data.group_name}`,
          cancelText: 'Cancel',
          submitText: 'Submit',
          submitColor: 'primary',
        }
        inputReweight.value.reweight = true
      } catch (error) {}
    }
    async function doSubmitManifested() {
      try {
        $fetchState.pending = true
        dialogSettings.value.loading = true
        // START CHECK DIFFERENCE WEIGHT FOR REWEIGHT IN MANIFEST
        const user = localStorage.getItem('auth.user')
          ? JSON.parse(localStorage.getItem('auth.user') as string)
          : {}
        const tempNeedReweight =
          JSON.parse(
            localStorage.getItem(`reweight.${user.email}`) as string
          ) ?? []
        Object.entries(inputMAWB.value.generateManifest).forEach((x) => {
          const weightInput = Number(x[1].weight)
          const weightData = x[1].weightFromData as number
          if (weightInput - weightData > 10 || weightInput - weightData < -10) {
            if (!tempNeedReweight.includes(x[0])) {
              tempNeedReweight.push(x[0])
            }
          }
        })
        localStorage.setItem(
          `reweight.${user.email}`,
          JSON.stringify(tempNeedReweight)
        )
        // END CHECK DIFFERENCE WEIGHT FOR REWEIGHT IN MANIFEST
        const payload = parsingDataInputManifest(inputMAWB.value)
        const response = await storeBagging.dispatch(
          `bagging/bagging/postGenerateManifest`,
          {
            payload,
          }
        )
        if (!response) return response
        setTimeout(async () => {
          await fetchBagsCompleted()
          await fetchBagsManifested()
          selectedOriginPort.value = ''
          selectedDestPort.value = ''
          completeVModel.value.selectedOrders = []
          inputMAWB.value.manifest = false
          inputMAWB.value.generateManifest = {}
        }, 3000)
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const stateModal = {
      dialog,
      dialogSettings,
      handleManifest,
      handleCancel,
      doHandleModalReweight,
      doSubmitManifested,
    }

    // manage windows
    const step = ref((storeBagging.state.bagging as any).bagging.tab.step)
    const stepList = ref([
      {
        text: 'Incoming',
        icon: '',
      },
      {
        text: 'Unbagged',
        icon: '',
      },
      {
        text: 'Bags',
        icon: '',
      },
      {
        text: 'Complete',
        icon: '',
      },
      {
        text: 'Manifest',
        icon: '',
      },
    ])
    const stateWindow = {
      step,
      stepList,
    }

    // manage view
    const orderView = ref(
      (storeBagging.state.bagging as any).bagging.tab.orderView[step.value]
    )
    const doChangeWindow = (data: number) => {
      step.value = data
    }
    const stateView = {
      orderView,
      doChangeWindow,
    }
    // manage view toggle on changed
    watch(
      [orderView, step],
      ([newOrderView, newStep]) => {
        selectedUnbagged.value = {} as InputPostBag
        storeApplications.commit('bagging/bagging/SET_TAB_BTN', {
          orderView: {
            ...(storeBagging.state.bagging as any).bagging.tab.orderView,
            [`${newStep}`]: newOrderView,
          },
          step: newStep,
        })
      },
      { deep: true }
    )
    // manage filter order
    const isShowFilter = ref(
      (storeBagging.state.bagging as any).bagging.isShowFilter
    )
    const doResetFilter = () => {
      filterBagging.value = {
        createdFrom: '',
        createdTo: '',
        client: '',
        destination: '',
      }
    }
    const stateFilter = {
      isShowFilter,
      doResetFilter,
    }
    // manage filter for bagging on changed
    watch(
      filterBagging,
      (newFilter) => {
        // doResetPagination()
        storeApplications.commit('bagging/bagging/SET_FILTER', {
          ...newFilter,
        })
      },
      { deep: true }
    )
    // manage filter container shown on changed
    watch(
      isShowFilter,
      (newFilterBtn) => {
        storeApplications.commit('bagging/bagging/SET_FILTER_BTN', newFilterBtn)
      },
      { deep: true }
    )

    // manage table

    const completeVModel = ref({
      selectedOrders: [],
      pagination: {
        ...storeApplications.state.applications.pagination,
        page: 1,
      },
    }) as Ref<any>
    const manifestVModel = ref({
      selectedOrders: [],
      pagination: {
        ...storeApplications.state.applications.pagination,
        page: 1,
      },
    }) as Ref<any>
    const inputMAWB = ref({
      manifest: false,
    }) as Ref<InputManifest>
    const inputReweight = ref({
      reweight: false,
      input: {},
      total: 0,
      id: '',
    }) as Ref<any>
    const selectedUnbagged = ref({}) as Ref<InputPostBag>
    const selectedBagged = ref({}) as Ref<InputPostBag>
    const selectedINFO = computed(() => {
      if (step.value === 1 && orderView.value === 0) {
        return selectedUnbagged.value && selectedUnbagged.value?.order_ids
          ? selectedUnbagged.value?.order_ids
          : []
      }
      if (step.value === 0 && orderView.value === 0) {
        return completeVModel.value.selectedOrders
      }
      return []
    })
    const newScanned = computed(() => {
      const user = localStorage.getItem('auth.user')
        ? JSON.parse(localStorage.getItem('auth.user') as string)
        : {}
      if (
        !localStorage.getItem(
          `newScanned.${step.value === 2 ? 'bagsTab' : 'scannedTab'}.partner.${
            user.email
          }`
        ) ||
        (!user && !user.email)
      ) {
        return []
      } else {
        return localStorage.getItem(
          `newScanned.${step.value === 2 ? 'bagsTab' : 'scannedTab'}.partner.${
            user.email
          }`
        )
          ? JSON.parse(
              localStorage.getItem(
                `newScanned.${
                  step.value === 2 ? 'bagsTab' : 'scannedTab'
                }.partner.${user.email}`
              ) as string
            )
          : []
      }
    })
    const dataMerged = computed(() => {
      // const data =  (storeBagging.state.bagging as any).bagging.unbaggedPartner as Unbagged[]
      const data =
        step.value === 2
          ? (storeBagging.state.bagging.bagging.bagsPartner as Unbagged[])
          : (storeBagging.state.bagging.bagging.unbaggedPartner as Unbagged[])
      if (step.value === 2) {
        return processData(parsingBagged(data), newScanned)
      } else {
        return groupScannedUnbaggedOrder(data, newScanned)
      }
    }) as Ref<Unbagged[]>

    const nameBtn = computed(() => {
      let temp = ''
      if (step.value === 2 || step.value === 1) {
        if (orderView.value === 0) {
          temp = step.value === 1 ? 'BAG' : 'COMPLETE'
        } else {
          temp = 'START SCAN'
        }
      } else if (step.value === 4) {
        temp = 'ASSIGN REJECTED ORDERS'
      } else {
        temp = 'DOWNLOAD BAG LABEL'
      }
      return temp
    })
    function handleBagScanBag(params?: { isComplete?: Boolean }) {
      const id = route.value.params.id
      dialogSettings.value = {
        loading: false,
        title: `Print label now ?`,
        content: '',
        cancelText: 'No',
        submitText: 'Yes',
        submitColor: 'primary',
      }
      if (step.value === 2 || step.value === 1) {
        if (orderView.value === 0) {
          dialog.value.confirm = true
          if (params?.isComplete) dialog.value.isComplete = true
        } else {
          router.push(
            `/partner-portals/${id}/bagging/scan${
              step.value === 2 ? '?bag=1' : ''
            }`
          )
        }
      } else {
        dialog.value.confirm = true
      }
    }
    function handleIncomingScan(_params?: { isComplete?: Boolean }) {
      const id = route.value.params.id

      if (step.value === 0) {
        router.push(`/partner-portals/${id}/bagging/scan-bag-orders`)
      }
    }

    async function submit(params: { isCancel?: boolean }) {
      const textMsg = params?.isCancel ? 'Close Bag' : 'Print label'
      try {
        dialogSettings.value.loading = true
        const actionBagPost =
          step.value === 1 && !dialog.value.isComplete
            ? 'postBags'
            : 'postBagsCompleted'
        if (step.value !== 0) {
          const returnPostBag = await storeBagging.dispatch(
            `bagging/bagging/${actionBagPost}`,
            {
              payload:
                step.value === 1
                  ? selectedUnbagged.value
                  : selectedBagged.value,
            }
          )
          const urlPDF = await postLabelBags({
            bag_id: returnPostBag.id,
            group_name: returnPostBag.group_name,
          })
          if (urlPDF && !params?.isCancel) window.open(urlPDF, '_self')
          await fetchBags()
          await fetchBagsCompleted()
          storeApplications.commit('applications/SET_ALERT', {
            isShow: true,
            type: 'success',
            message: `${textMsg} successfully!`,
          })
        }
        if (step.value === 0 && !params?.isCancel) {
          storeApplications.commit('applications/SET_ALERT', {
            isShow: true,
            type: 'success',
            message: `${textMsg} successfully!`,
          })
        }
      } catch (error) {
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `${'error'}`,
        })
      } finally {
        dialogSettings.value.loading = false
        if (params?.isCancel) {
          dialog.value.cancel = false
          inputMAWB.value.manifest = false
        } else {
          dialog.value.confirm = false
        }
        dialog.value.isComplete = false
        setTimeout(() => {
          storeApplications.commit('applications/RESET_ALERT')
        }, 3000)
      }
    }

    async function postLabelBags(payload: InputLabelBags) {
      let payloadCust = { ...payload }
      let actionLabel = ''
      // if(step.value === 2 || (step.value === 3 && dialog.value.isComplete) ) {
      const id = route.value.params.id
      payloadCust = {
        ...payloadCust,
        partnerID: id,
      }
      actionLabel = 'postLabelBagsPartnerLayer2'
      // } else {
      //   actionLabel = 'postLabelBags'
      // }
      try {
        $fetchState.pending = true
        return await storeBagging.dispatch(`bagging/bagging/${actionLabel}`, {
          payload: payloadCust,
        })
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const isActive = (data: number) => step.value === data

    function disabledBtnRight() {
      let flag = false
      if (orderView.value !== 1) {
        if (step.value === 2) {
          flag = !Object.keys(selectedBagged.value).length
        } else {
          flag = !Object.keys(selectedUnbagged.value).length
        }
      }
      return flag
    }
    async function postReweight() {
      try {
        dialogSettings.value.loading = true
        const payload = Object.entries(inputReweight.value.input).map(
          (x: any) => {
            return {
              order_id: x[0],
              weight: Number(x[1]),
            }
          }
        )
        const response = await storeBagging.dispatch(
          'bagging/bagging/postReweight',
          {
            payload: { orders_reweigh: payload, id: inputReweight.value.id },
          }
        )
        inputMAWB.value.generateManifest[response.id].weightFromData =
          weightCalc({ data: response, isReweight: true })
        inputMAWB.value.generateManifest[response.id].weight = ''
        await fetchBagsCompleted()
        inputReweight.value = {
          reweight: false,
          input: {},
          total: 0,
          id: '',
        }
      } catch (error) {
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const otherState = {
      completeVModel,
      manifestVModel,
      inputMAWB,
      inputReweight,
      selectedUnbagged,
      selectedBagged,
      selectedINFO,
      dataMerged,
      isActive,
      handleBagScanBag,
      handleIncomingScan,
      submit,
      nameBtn,
      disabledBtnRight,
      postReweight,
    }
    // watch the selected items
    watch(
      () => [completeVModel.value.selectedOrders],
      ([newSelectedOrders]) => {
        if (newSelectedOrders.length === 0) {
          selectedOriginPort.value = ''
          selectedDestPort.value = ''
        } else {
          selectedOriginPort.value = newSelectedOrders[0].origin_port
          selectedDestPort.value = newSelectedOrders[0].dest_port
        }

        const generateManifest = {} as GenerateManifest
        newSelectedOrders.forEach((x: any) => {
          generateManifest[x.id] = {
            groupName: x.group_name,
            length: '',
            width: '',
            height: '',
            weight: '',
            weightFromData: weightCalc({ data: x }),
            needReweight: false,
          }
        })
        inputMAWB.value = {
          ...inputMAWB.value,
          mawb: '',
          generateManifest,
          originPortCode: selectedOriginPort.value,
          destinationPortCode: selectedDestPort.value,
        }
      },
      { deep: true }
    )
    // manage fetch
    async function fetchBags() {
      const id = route.value.params.id
      try {
        $fetchState.pending = true
        const path = featureFlags.value.useIncoming
          ? 'getBagsPartner'
          : 'getBagsPartnerOld'
        const response = await storeBagging.dispatch(
          `bagging/bagging/${path}`,
          {
            partnerID: id,
          }
        )

        const data = featureFlags.value.useIncoming
          ? [...response.bagged.value, ...response.unbagged.value]
          : [...response.bagged, ...response.unbagged]

        findHighValueOrders(data)
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    async function fetchBagsCompleted() {
      const { page, itemsPerPage } = completeVModel.value.pagination
      const perPage =
        itemsPerPage !== -1
          ? itemsPerPage
          : storeBagging.state.bagging.bagging.metaCompleted.totalCount
      const dataParams = {
        page,
        perPage,
      } as Object
      const id = route.value.params.id
      // console.log(id)
      try {
        $fetchState.pending = true
        await storeBagging.dispatch('bagging/bagging/getBagsPartnerCompleted', {
          id,
          metaCompleted: dataParams,
        })
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    async function fetchBagsManifested() {
      const { page, itemsPerPage } = manifestVModel.value.pagination
      const perPage =
        itemsPerPage !== -1 || itemsPerPage
          ? itemsPerPage
          : storeBagging.state.bagging.bagging.metaManifested.totalCount
      const dataParams = {
        page,
        perPage,
      } as Object
      try {
        $fetchState.pending = true
        await storeBagging.dispatch('bagging/bagging/getBagsPartnerManifest', {
          metaManifest: dataParams,
        })
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    async function fetchDetailManifested(id: string) {
      try {
        $fetchState.pending = true
        const response = await storeBagging.dispatch(
          'bagging/bagging/getDetailManifest',
          { id }
        )
        return response
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const stateFetch = {
      fetchBags,
      fetchBagsCompleted,
      fetchBagsManifested,
      fetchDetailManifested,
    }

    // manage features flag
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const featureFlags = ref({
      useIncoming: false,
    })
    // end manage features flag

    const { $fetchState } = useFetch(async () => {
      // *check is incoming tab availability on feature flags
      featureFlags.value.useIncoming = await getFeatureFlags(
        'use-partner-bagging-incoming'
      )

      if (!featureFlags.value.useIncoming) {
        step.value = 1
      }

      await fetchBags()
    })

    return {
      ...stateStore,
      ...stateModal,
      ...stateWindow,
      ...stateView,
      ...stateFilter,
      ...stateFetch,
      ...otherState,
      selectedOriginPort,
      selectedDestPort,
      featureFlags,
    }
  },
  head: {},
})
</script>

<style lang="scss">
.baggedPage {
  margin-bottom: 40rem;
  .custom-tab {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .custom-bg {
    position: absolute;
    bottom: 500px;
    margin-left: -100px;
  }

  @media only screen and (min-width: 1024px) {
    .custom-bg {
      bottom: 300px;
      width: 100vw;
      margin-left: -100px;
    }
  }
}
</style>
