<template>
  <section class="pa-4 pa-md-10 py-8 scanPage">
    <v-row align="center" justify="end">
      <div :style="'width: 30%'">
        <v-text-field
          v-model="inputBarcode"
          clearable
          outlined
          dense
          rounded
          autofocus
          single-line
          hide-details
          label="Input Barcode"
          placeholder="Enter your barcode..."
          background-color="white"
          type="search"
          class="input-filter mr-3"
          @keydown.enter="doHandleEnterKey"
        />
      </div>

      <v-btn
        :disabled="$fetchState.pending"
        color="primary"
        min-width="200px"
        @click="doHandleStopScan"
      >
        STOP SCAN
      </v-btn>
    </v-row>

    <v-row class="mt-10">
      <v-col cols="12" md="12" class="pa-0">
        <v-card
          :color="$fetchState.pending ? '' : display.color"
          :class="`pa-15 d-flex flex-column align-center justify-center ${
            display.color ? 'white--text' : ''
          }`"
          elevation="2"
          width="100%"
          min-height="500px"
        >
          <template v-if="$fetchState.pending">
            <BaseLoading />
          </template>

          <template v-else>
            <span
              v-if="display.title"
              class="text-h3 font-weight-bold text-center text-uppercase mb-6"
              style="line-height: normal"
            >
              {{ display.title }}
            </span>

            <span v-if="display.subTitle" class="text-h6 text-center">
              {{ display.subTitle }}
            </span>
          </template>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  useFetch,
  useStore,
  useMeta,
  useRoute,
  Ref,
  computed,
  useRouter,
} from '@nuxtjs/composition-api'

// types
import { AxiosResponse } from 'axios'
import { useActions } from 'vuex-composition-helpers'
import {
  VuexModuleDetailBagging,
  InputPostScannableBagOrders,
  ScannableOrders,
  Order,
  ScanBagOrderResponse,
} from '~/types/bagging/bagging'
import { ActionsApplications } from '~/store/applications'
// end types

const initDisplay = {
  title: 'PLEASE SCAN ITEM',
  subTitle: '',
  color: '',
  bagCode: '',
  orderCode: '',
}

export default defineComponent({
  name: 'ScanBagPartner',
  setup() {
    useMeta(() => ({ title: 'Client Portal | L-Freight' }))

    // manage route
    const route = useRoute()
    const router = useRouter()
    const id = computed(() => route.value.params.id || '')
    // end manage route

    // manage store
    const storeOfBagging = useStore<VuexModuleDetailBagging>()
    // end manage store

    const inputBarcode = ref('')
    const display = ref({ ...initDisplay })
    const ordersWithoutBags = ref({}) as Ref<ScannableOrders[]>
    const transhipmentOrders = ref({}) as Ref<ScannableOrders[]>
    const ordersWithBags = ref([] as any)
    const allOrders = ref([] as any)
    const unbaggedOrders = ref([]) as Ref<Order[]>
    const baggedOrders = ref([]) as Ref<Order[]>
    const payload = ref({}) as Ref<InputPostScannableBagOrders | {}>
    const otherState = {
      inputBarcode,
      display,
      ordersWithoutBags,
      transhipmentOrders,
      ordersWithBags,
      allOrders,
      unbaggedOrders,
      baggedOrders,
      payload,
    }

    // ** manage features flag - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const featureFlags = ref({
      useOptimizedScanBagFlow: false,
    })
    // ** manage features flag - end

    // manage fetch
    async function fetchIncomingOrders() {
      const id = route.value.params.id

      try {
        $fetchState.pending = true

        const { bags, orders } = await storeOfBagging.dispatch(
          'bagging/bagging/getScannableBagOrders',
          {
            id,
          }
        )

        if (bags) {
          // set orders with no bags
          ordersWithoutBags.value = bags
            .filter((bag: any) => !bag.bagId)
            .map((bag: any) => {
              return bag.orders
            })

          // set transhipment orders
          transhipmentOrders.value = orders.filter(
            (order: any) => order.partnerOrdinal > 1
          )

          // set orders with bags that are not transhipment orders
          ordersWithBags.value = bags.filter(
            (bag: any) =>
              bag.bagId && bag.orders.some((x: any) => x.partnerOrdinal <= 1)
          )

          // set all orders
          allOrders.value = orders

          return
        }
        transhipmentOrders.value = []
        ordersWithBags.value = []
        ordersWithoutBags.value = []
        allOrders.value = []
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 500)
      }
    }
    async function fetchBags() {
      const partnerID = route.value.params.id

      try {
        $fetchState.pending = true
        const { unbagged, bagged } = await storeOfBagging.dispatch(
          'bagging/bagging/getBagsPartner',
          {
            partnerID,
          }
        )
        // set unbagged order array to check if order had been scanned
        unbaggedOrders.value =
          unbagged.value
            .map((bag: any) =>
              bag.order_group.map((order: any) => order.orders)
            )
            .flat(2) || []

        // set bagged order array to check if order had been scanned
        baggedOrders.value =
          bagged.value
            .map((bag: any) =>
              bag.order_group.map((order: any) => order.orders)
            )
            .flat(2) || []
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 500)
      }
    }
    const { $fetchState } = useFetch(async () => {
      featureFlags.value.useOptimizedScanBagFlow = await getFeatureFlags(
        'use-optimized-scan-bag-flow'
      )

      if (!featureFlags.value.useOptimizedScanBagFlow) {
        await fetchIncomingOrders()
        await fetchBags()
      }
    })

    // manage submit scan
    function doCheckScanInputLegacy(input: string): string {
      const isTranshipmentOrder =
        transhipmentOrders.value?.filter(
          (order: any) => order.orderCode === input
        ) || []
      const isOrderWithoutBag =
        ordersWithoutBags.value[0]?.filter(
          (orders: any) => orders.orderCode === input
        ) || []
      const isBag =
        ordersWithBags.value?.filter((bags: any) => bags.bagCode === input) ||
        []
      const isOrderInBag =
        allOrders.value?.filter(
          (orders: any) => orders.orderCode === input && orders.bagCode
        ) || []
      // unbagged order
      const isOrderAlreadyScanned =
        unbaggedOrders.value?.filter((order) => order.order_code === input) ||
        []
      // bagged order
      const isOrderBagAlreadyScanned =
        baggedOrders.value?.filter((order) => order.order_code === input) || []
      if (
        // check if order was scanned in previous session
        isOrderAlreadyScanned.length ||
        isOrderBagAlreadyScanned.length ||
        // check if order was scanned in current session
        // unbagged order
        (isOrderWithoutBag.length &&
          isOrderWithoutBag[0].orderScanStatus !== 0) ||
        // transhipment order
        (isTranshipmentOrder.length &&
          isTranshipmentOrder[0].orderScanStatus !== 0)
      ) {
        payload.value = {
          bag_id: '',
          order_id: '',
          code: '',
        }

        display.value.orderCode = input

        return 'already scanned'
      }

      // set payload for transhipment scan order
      if (isTranshipmentOrder.length === 1) {
        const { orderCode, orderId } = isTranshipmentOrder[0]

        payload.value = {
          bag_id: '',
          order_id: orderId,
        }
        display.value.orderCode = orderCode || ''

        return 'transhipment order'
      }

      // set payload for scan order without bag
      if (isOrderWithoutBag.length === 1) {
        const { orderCode, orderId } = isOrderWithoutBag[0]

        payload.value = {
          bag_id: '',
          order_id: orderId,
        }
        display.value.orderCode = orderCode || ''

        return 'order without bags'
      }

      // set payload for scan bag
      if (isBag.length === 1) {
        const { bagCode, bagId } = isBag[0]

        payload.value = {
          bag_id: bagId,
          order_id: '',
        }
        display.value.bagCode = bagCode || ''

        return 'only bag'
      }

      // set payload for scan order have a bag
      if (isOrderInBag.length === 1) {
        const { bagCode, orderCode, bagId, orderId } = isOrderInBag[0]

        payload.value = {
          bag_id: bagId,
          order_id: orderId,
        }
        display.value.bagCode = bagCode || ''
        display.value.orderCode = orderCode || ''

        return 'order in bag'
      }

      // set payload for error
      display.value = {
        title: 'NO DATA FOUND',
        color: 'error',
        subTitle: '',
        bagCode: '',
        orderCode: '',
      }
      payload.value = { bag_id: '', order_id: '' }

      return 'no data found'
    }
    const doHandleSuccess = (inputType: string, partnerOrdinal: number = 1) => {
      let title = ''
      let subTitle = ''

      if (
        inputType === 'order without bags' ||
        inputType === 'transhipment order'
      ) {
        title = `ORDER - ${display.value.orderCode}`
        subTitle = ''
      }

      if (inputType === 'only bag') {
        title = `BAG - ${display.value.bagCode}`
        subTitle = ''
      }
      // if partnerOrdinal is >=2, hide bag code
      if (inputType === 'order in bag') {
        title = `ORDER - ${display.value.orderCode}`
        subTitle = partnerOrdinal < 2 ? `BAG - ${display.value.bagCode}` : ''
      }

      display.value = {
        ...display.value,
        color: 'success',
        title,
        subTitle,
      }
    }
    const doHandleError = (message: string) => {
      let title = `NO DATA FOUND`
      let subTitle = ''
      let color = 'error'

      if (message === 'bag already scanned') {
        title = `BAG - ${display.value.bagCode}`
        subTitle = 'Already scanned!'
        color = 'success'
      }

      if (
        message === 'order already scanned' ||
        message === 'already scanned'
      ) {
        title = `ORDER - ${display.value.orderCode}`
        subTitle = 'Already scanned!'
        color = 'success'
      }

      if (message === "parcel hasn't arrived yet") {
        title = `ORDER - ${display.value.orderCode}`
        subTitle = "Parcel hasn't arrived yet"
        color = 'warning'
      }

      if (message === 'unassigned order') {
        title = `ORDER - ${display.value.orderCode}`
        subTitle = 'Unassigned order'
        color = 'warning'
      }

      if (message === 'unassigned bag') {
        title = `BAG - ${display.value.bagCode}`
        subTitle = 'Unassigned bag'
        color = 'warning'
      }

      display.value = {
        ...display.value,
        color,
        title,
        subTitle,
      }
    }
    async function doHandleEnterKey(event: KeyboardEvent) {
      if (event.key !== 'Enter') return

      display.value = { ...initDisplay }

      let inputType = ''
      if (featureFlags.value.useOptimizedScanBagFlow) {
        payload.value = {
          bag_id: '',
          order_id: '',
          code: inputBarcode.value, // could be a bag code or order code
        }
      } else {
        inputType = doCheckScanInputLegacy(inputBarcode.value)
      }

      try {
        $fetchState.pending = true

        if (inputType === 'no data found') return
        if (inputType === 'already scanned')
          throw new Error('order already scanned')

        const scanResponse = (await storeOfBagging.dispatch(
          'bagging/bagging/postScannableBagOrders',
          {
            id: id.value,
            payload: payload.value,
          }
        )) as AxiosResponse<ScanBagOrderResponse>

        // handle error response
        if (scanResponse?.status >= 400) throw scanResponse

        // handle success response
        if (featureFlags.value.useOptimizedScanBagFlow) {
          const res = scanResponse?.data
          display.value.bagCode = res?.bagCode ?? ''
          display.value.orderCode = res?.orderCode ?? ''
          doHandleSuccess(res?.scanType ?? '', res?.partnerOrdinal)
        } else {
          doHandleSuccess(inputType)
        }
      } catch (error) {
        const res = (error as AxiosResponse<ScanBagOrderResponse>).data
        const message = res?.error || (error as { message: string }).message
        display.value.bagCode = res?.bagCode ?? ''
        display.value.orderCode = res?.orderCode ?? ''
        doHandleError(message)
      } finally {
        inputBarcode.value = ''
        setTimeout(() => {
          $fetchState.pending = false
        }, 500)
      }
    }
    function doHandleStopScan() {
      inputBarcode.value = ''
      display.value = { ...initDisplay }
      router.go(-1)
    }
    return {
      ...otherState,
      doHandleEnterKey,
      doHandleStopScan,
    }
  },
  head: {},
})
</script>
