<template>
  <section class="pa-4 pa-md-10 py-8 scanPage">
    <BaggingScanInput
      v-model="inputBarcode"
      :loading="$fetchState.pending"
      :all-scanned="allScanned"
      :is-bags-tab-partner="isBagsTabPartner"
      :dialog-settings="dialogSettings"
      :dialog="dialog"
      @enterInput="enterInput"
      @handleBagScanBag="handleBagScanBag"
      @handleStop="handleStop"
    />

    <BaggingValidationCard
      :is-high-value="isHighValue"
      :no-data-found="noDataFound"
      :is-unassigned-order="isUnassignedOrder"
      :is-unassigned-bag="isUnassignedBag"
      :is-transhipment="isTranshipment"
      :all-scanned="allScanned"
      :card-data="cardData"
      :unbagged-data="unbaggedData"
      :is-bags-tab-partner="isBagsTabPartner"
      :last-enter="lastEnter"
    />

    <!-- Modal confirm -->
    <BaggingModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      :is-confirm="true"
      @doSubmit="submit"
      @doCancel="handleCancel"
    />
    <!-- Modal after click no -->
    <BaggingModalConfirm
      v-model="dialog.cancel"
      :dialog-settings="dialogSettings"
      @doSubmit="() => (dialog.cancel = false)"
    />
    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  computed,
  ref,
  Ref,
  useRoute,
  useRouter,
  onMounted,
} from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'

// Interface and types
import { ActionsApplications } from '~/store/applications'
import { ModalConfirm, VuexModuleApplications } from '~/types/applications'
import { VuexModuleFilters } from '~/types/filters'
import {
  VuexModuleDetailBagging,
  Unbagged,
  InputPostBag,
  InputLabelBags,
} from '~/types/bagging/bagging'
// composables
import {
  searchName,
  indexPayloadArr,
  setPayloadForAPI,
  parseInput,
  searchCountry,
} from '~/composables/partner-portals/scan'

import { setUnbaggedTranshipmentBagName } from '~/composables/partner-portals/bagging'

import {
  getUnassignedTemp,
  getUnassignedBagsTemp,
  getTranshipmentTemp,
  getTranshipmentBagsTemp,
} from '~/composables/partner-portals/bagging/orderAssignment'
export default defineComponent({
  name: 'ScanPages',
  middleware: 'partner',

  setup() {
    // const { $dateFns } = useContext()
    // provide('$dateFns', $dateFns)
    const router = useRouter()
    const route = useRoute()
    const storeApplications = useStore<VuexModuleApplications>()
    const storeFilters = useStore<VuexModuleFilters>()
    const storeBagging = useStore<VuexModuleDetailBagging>()
    const user = localStorage.getItem('auth.user')
      ? JSON.parse(localStorage.getItem('auth.user') as string)
      : {}

    // ** manage current states - start
    const isBagsTabPartner = computed(() => {
      const data = route.value?.params?.isBagsTabPartner
      const query = route.value?.query?.bag && Number(route.value?.query?.bag)
      return data || !!query
    })
    const countryCodes = computed(() => storeFilters.state.filters.countryCodes)
    // ** manage current states - end
    const storeState = { isBagsTabPartner, countryCodes }

    // ** manage data input - start
    const inputBarcode = ref('')
    const lastEnter = ref('')
    // ** manage data input - end
    const dataInput = {
      inputBarcode,
      lastEnter,
    }

    // ** manage order and bag data - start

    // for partner unbagged and bagged get all orders
    const unbaggedData = computed(() => {
      let data = (storeBagging.state.bagging as any).bagging.unbaggedPartner
      if (isBagsTabPartner.value)
        data = (storeBagging.state.bagging as any).bagging.bagsPartner
      return data
    })

    // for partner unbagged get transhipment orders
    const transhipmentTemp = getTranshipmentTemp(
      (storeBagging.state.bagging as any).bagging.unbaggedPartner as Unbagged[]
    )

    // for partner unbagged get unassigned orders
    const unassignedTemp = getUnassignedTemp(
      (storeBagging.state.bagging as any).bagging.unbaggedPartner as Unbagged[]
    )

    // for partner bagged get transhipment orders
    const transhipmentBagsTemp = getTranshipmentBagsTemp(
      (storeBagging.state.bagging as any).bagging.bagsPartner as Unbagged[]
    )

    // for partner bagged get unassigned bags
    const unassignedBagsTemp = getUnassignedBagsTemp(
      (storeBagging.state.bagging as any).bagging.bagsPartner as Unbagged[]
    )

    const isUnassignedOrder = ref(false)
    const isUnassignedBag = ref(false)

    const isTranshipment = ref(false)
    const transhipmentGroupName = ref(false) as Ref<string | boolean>

    const isHighValue = ref(false)
    const noDataFound = ref(false)
    const highValueOrders = localStorage.getItem('highValueOrders')
      ? JSON.parse(localStorage.getItem('highValueOrders') as string)
      : []

    const allScanned = ref([]) as Ref<any>
    const allScannedNotVerif = ref([]) as Ref<any>
    // set unbagged orders in an array
    const newScanned = computed(() => {
      if (
        !localStorage.getItem(
          `newScanned.${
            isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
          }.partner.${user.email}`
        ) ||
        (!user && !user.email)
      ) {
        return []
      } else {
        return localStorage.getItem(
          `newScanned.${
            isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
          }.partner.${user.email}`
        )
          ? JSON.parse(
              localStorage.getItem(
                `newScanned.${
                  isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
                }.partner.${user.email}`
              ) as string
            )
          : []
      }
    })
    // ** manage order and bag data - end
    const orderData = {
      unbaggedData,
      transhipmentTemp,
      isTranshipment,
      transhipmentGroupName,
      unassignedTemp,
      unassignedBagsTemp,
      transhipmentBagsTemp,
      isUnassignedOrder,
      isUnassignedBag,
      isHighValue,
      noDataFound,
      highValueOrders,
      allScanned,
      allScannedNotVerif,
      newScanned,
    }

    // ** manage display data - start
    const cardData = ref({}) as Ref<any>
    const dialog = ref({
      confirm: false,
      cancel: false,
      isComplete: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>
    const alert = computed(() => storeApplications.state.applications.alert)
    // ** manage display data - end
    const displayData = {
      cardData,
      dialog,
      dialogSettings,
      alert,
    }

    // ** manage features flag - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const featureFlags = ref({
      useIncoming: false,
    })
    // ** manage features flag - end

    const fetchCountryCodes = async () => {
      try {
        $fetchState.pending = true

        await storeFilters.dispatch('filters/getCountryCodes', {
          params: { isActive: true },
        })
      } catch (error) {
        return error
      } finally {
        $fetchState.pending = false
      }
    }

    const speech = ref({
      isLoading: true,
      name: '',
      selectedVoice: 52, // GOOGLE voice
      synth: window.speechSynthesis,
      voiceList: [] as any,
      greetingSpeech: new window.SpeechSynthesisUtterance(),
    })

    onMounted(() => {
      const temp = newScanned.value.map((x: any) => {
        return {
          ...x,
          new: false,
        }
      })

      localStorage.setItem(
        `newScanned.${
          isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
        }.partner.${user.email}`,
        JSON.stringify(temp)
      )
    })

    function greet(text: string) {
      // it should be 'craic', but it doesn't sound right
      speech.value.greetingSpeech.text = text
      speech.value.greetingSpeech.voice =
        speech.value.voiceList[speech.value.selectedVoice]
      speech.value.greetingSpeech.rate = 0.8
      speech.value.synth.speak(speech.value.greetingSpeech)
      return speech
    }

    function listenForSpeechEvents() {
      speech.value.greetingSpeech.onstart = () => {
        speech.value.isLoading = true
      }
      speech.value.greetingSpeech.onend = () => {
        speech.value.isLoading = false
      }
    }

    function enterInput() {
      // reset transhipment ref
      isTranshipment.value = false
      transhipmentGroupName.value = false
      try {
        const data = {
          order_code: inputBarcode.value,
          new: true,
        }

        const user = localStorage.getItem('auth.user')
          ? JSON.parse(localStorage.getItem('auth.user') as string)
          : {}
        // set unbagged data
        const initialData =
          user &&
          user.email &&
          localStorage.getItem(
            `newScanned.${
              isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
            }.partner.${user.email}`
          )
            ? JSON.parse(
                localStorage.getItem(
                  `newScanned.${
                    isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
                  }.partner.${user.email}`
                ) as string
              )
            : allScanned.value

        // check if order is unassigned order
        if (
          unassignedTemp.value[0] &&
          unassignedTemp.value[0].order_group.filter(
            (x: any) => x.order_code === inputBarcode.value
          ).length === 1
        ) {
          isUnassignedOrder.value = true
          cardData.value = { orderCode: inputBarcode.value }
          return
        }
        // check if bag is unassigned bag
        if (
          unassignedBagsTemp.value.length &&
          unassignedBagsTemp.value.filter(
            (x: any) => x.group_name === inputBarcode.value
          ).length !== 0
        ) {
          isUnassignedBag.value = true
          cardData.value = { orderCode: inputBarcode.value }
          return
        }

        // check if order is high value
        isHighValue.value = !!highValueOrders?.includes(inputBarcode.value)

        // check if order is transhipment order
        if (transhipmentTemp.value && transhipmentTemp.value.length > 0) {
          transhipmentGroupName.value = setUnbaggedTranshipmentBagName(
            inputBarcode.value,
            transhipmentTemp.value
          )
          if (transhipmentGroupName.value) {
            isTranshipment.value = true
          }
        }
        // check if order is transhipment bag
        if (
          transhipmentBagsTemp.value &&
          transhipmentBagsTemp.value.length > 0 &&
          transhipmentBagsTemp.value.includes(inputBarcode.value)
        ) {
          isTranshipment.value = true
          transhipmentGroupName.value = inputBarcode.value
        }
        let mergeAllscanned = []

        // if barcode is in bagged array
        if (
          Object.keys(
            searchName(inputBarcode.value, unbaggedData, isBagsTabPartner)
          ).length
        ) {
          const id = searchName(
            inputBarcode.value,
            unbaggedData,
            isBagsTabPartner
          ).id as any
          let groupName = searchName(
            inputBarcode.value,
            unbaggedData,
            isBagsTabPartner
          ).group_name as any
          if (isBagsTabPartner.value || dialog.value.isComplete)
            groupName = groupName.split('-')[0]
          mergeAllscanned = [...initialData]
          mergeAllscanned.push({ ...data, id, groupName })
        }
        // else barcode is in unbagged data
        else {
          mergeAllscanned = [...initialData]
        }

        // remove duplicates from all scanned array
        allScannedNotVerif.value = mergeAllscanned.filter(
          (value, index, self) =>
            index === self.findIndex((t) => t.order_code === value.order_code)
        )

        allScanned.value = mergeAllscanned.filter(
          (value, index, self) =>
            index === self.findIndex((t) => t.order_code === value.order_code)
        )
        localStorage.setItem(
          `newScanned.${
            isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
          }.partner.${user.email}`,
          JSON.stringify(allScanned.value)
        )
        let destCountry = searchName(
          inputBarcode.value,
          unbaggedData,
          isBagsTabPartner
        ).dest_country as any

        cardData.value = searchName(
          inputBarcode.value,
          unbaggedData,
          isBagsTabPartner,
          isTranshipment.value
            ? {
                isTranshipment: isTranshipment.value,
                transhipmentGroupName: transhipmentGroupName.value,
              }
            : undefined
        )

        if (destCountry) {
          destCountry = searchCountry(destCountry, countryCodes)

          // dest country === SIN and high value
          // high value orders or bags will have -H affixed at the end
          if (
            // if is bags tab, high value bags will have -H
            inputBarcode.value.slice(-2) === '-H' ||
            isHighValue.value === true
          ) {
            destCountry = `${destCountry} HIGH VALUE`
          }
        } else {
          noDataFound.value = true
        }
        greet(destCountry ?? 'No Data')
        lastEnter.value = inputBarcode.value
        inputBarcode.value = ''
        // }
      } catch (error: any) {
        let textMsg = ''
        if (error?.isFailedScan) textMsg = 'Scan'
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `${textMsg} failed!`,
        })
      } finally {
        inputBarcode.value = ''
        setTimeout(() => {
          storeApplications.commit('applications/RESET_ALERT')
        }, 500)
      }
    }

    async function submit(params: { isCancel?: boolean }) {
      try {
        dialogSettings.value.loading = true
        const payloadArr = parseInput(
          isBagsTabPartner,
          unbaggedData,
          allScannedNotVerif,
          countryCodes
        )
        let orderIDs = payloadArr.map((x: InputPostBag) => {
          return x.order_ids
        })
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        orderIDs = [].concat.apply([], orderIDs)

        const actionBagPost =
          isBagsTabPartner.value || dialog.value.isComplete
            ? 'postBagsCompleted'
            : 'postBags'

        const payloadForAPI = setPayloadForAPI(
          isBagsTabPartner.value,
          isHighValue.value,
          payloadArr,
          allScanned,
          {
            isTranshipment: isTranshipment.value,
            transhipmentGroupName: transhipmentGroupName.value,
          }
        )

        const returnPostBag = await storeBagging.dispatch(
          `bagging/bagging/${actionBagPost}`,
          {
            payload: payloadForAPI,
          }
        )
        const urlPDF = await postLabelBags({
          bag_id: returnPostBag.id,
          group_name: returnPostBag.group_name,
        })
        if (urlPDF && !params?.isCancel) window.open(urlPDF, '_self')

        await fetchBags()

        allScanned.value = allScanned.value.map((x: any) => {
          let checkOrderCode = false as any
          if (isBagsTabPartner.value) {
            checkOrderCode = payloadForAPI?.bag_ids?.includes(x.id)
          } else {
            checkOrderCode = payloadForAPI?.order_ids?.includes(x.id)
          }
          if (checkOrderCode) {
            return {
              ...x,
              new: false,
            }
          } else {
            return {
              ...x,
            }
          }
        })
        allScannedNotVerif.value = allScanned.value
        localStorage.setItem(
          `newScanned.${
            isBagsTabPartner.value ? 'bagsTab' : 'scannedTab'
          }.partner.${user.email}`,
          JSON.stringify(
            allScanned.value.filter(
              (x: any) => x.groupName !== payloadForAPI.bag_name.split('-')[0]
            )
          )
        )
        const parseInputNew = parseInput(
          isBagsTabPartner,
          unbaggedData,
          allScannedNotVerif,
          countryCodes,
          { isNew: true }
        )
        if (parseInputNew.length !== 0) {
          if (
            parseInputNew[
              indexPayloadArr(allScanned, { data: payloadArr, isNew: true })
            ] &&
            parseInputNew[
              indexPayloadArr(allScanned, { data: payloadArr, isNew: true })
            ].order_codes
          ) {
            cardData.value = searchName(
              parseInputNew[
                indexPayloadArr(allScanned, { data: payloadArr, isNew: true })
              ].order_codes[0],
              unbaggedData,
              isBagsTabPartner
            )
            lastEnter.value =
              parseInputNew[
                indexPayloadArr(allScanned, { data: payloadArr, isNew: true })
              ].order_codes[0]
          }
        }

        const textMsg = params?.isCancel ? 'Close Bag' : 'Print label'

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: `${textMsg} successfully!`,
        })
      } catch (error: any) {
        let textMsg = params?.isCancel ? 'Close Bag' : 'Print label'
        if (error?.isFailedScan) textMsg = 'Scan'
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `${textMsg} failed!`,
        })
      } finally {
        dialogSettings.value.loading = false
        if (params?.isCancel) {
          dialog.value.cancel = false
        } else {
          dialog.value.confirm = false
        }
        dialog.value.isComplete = false
        setTimeout(() => {
          storeApplications.commit('applications/RESET_ALERT')
        }, 500)
      }
    }
    async function postLabelBags(payload: InputLabelBags) {
      let payloadCust = { ...payload }
      let actionLabel = ''
      // if(isBagsTabPartner.value || dialog.value.isComplete) {
      const id = route.value.params.id
      payloadCust = {
        ...payloadCust,
        partnerID: id,
      }
      actionLabel = 'postLabelBagsPartnerLayer2'

      try {
        // $fetchState.pending = true
        return await storeBagging.dispatch(`bagging/bagging/${actionLabel}`, {
          payload: payloadCust,
        })
      } catch (error) {
        return error
      } finally {
        // $fetchState.pending = false
      }
    }

    function handleStop() {
      router.go(-1)
    }

    async function handleCancel() {
      await submit({
        isCancel: true,
      })
      dialogSettings.value = {
        loading: false,
        title: 'Make sure bags are arranged properly to prevent mix-up',
        content: '',
        cancelText: '',
        submitText: 'Ok',
        submitColor: 'primary',
      }
      dialog.value.cancel = true
    }

    function handleBagScanBag(params?: { isComplete?: Boolean }) {
      dialogSettings.value = {
        loading: false,
        title: 'Print label now ?',
        content: '',
        cancelText: 'No',
        submitText: 'Yes',
        submitColor: 'primary',
      }
      if (params?.isComplete) dialog.value.isComplete = true
      dialog.value.confirm = true
    }

    async function fetchBags() {
      const id = route.value.params.id
      const path = featureFlags.value.useIncoming
        ? 'getBagsPartner'
        : 'getBagsPartnerOld'
      try {
        $fetchState.pending = true
        await storeBagging.dispatch(`bagging/bagging/${path}`, {
          partnerID: id,
        })
      } catch (error) {
        return error
      } finally {
        $fetchState.pending = false
      }
    }

    const { $fetchState } = useFetch(async () => {
      // *check is incoming tab availability on feature flags
      featureFlags.value.useIncoming = await getFeatureFlags(
        'use-partner-bagging-incoming'
      )

      await Promise.allSettled([await fetchBags(), await fetchCountryCodes()])

      speech.value.voiceList = speech.value.synth.getVoices()
      speech.value.synth.onvoiceschanged = () => {
        speech.value.voiceList = speech.value.synth.getVoices()
        setTimeout(() => {
          speech.value.isLoading = false
        }, 500)
      }
      listenForSpeechEvents()
    })

    useMeta(() => ({ title: 'Client Portal | Scan' }))

    return {
      // manage data input
      ...dataInput,
      // manage order and bag data
      ...orderData,
      // manage display data
      ...displayData,
      // manage current states
      ...storeState,
      // manage feature flags
      featureFlags,
      // manage functions
      handleStop,
      handleCancel,
      submit,
      handleBagScanBag,
      enterInput,
    }
  },
  head: {},
})
</script>
