<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseHeadlinePage
      title="Partner Dashboard"
      subtitle="Presenting analytics from data processing related to orders on your partner account."
    />

    <v-row v-if="partnerAnalytics" align="center">
      <v-col cols="12">
        <iframe
          ref="dashboardMetabase"
          :src="partnerAnalytics"
          allowfullscreen
          frameborder="0"
          width="100%"
          height="1500px"
        />
      </v-col>
    </v-row>
  </section>
</template>

<script lang="ts">
import { defineComponent, useFetch, useMeta } from '@nuxtjs/composition-api'
import { useActions, useState } from 'vuex-composition-helpers'
// types
import { ActionDashboards, RootStateDashboards } from '~/store/dashboards'

export default defineComponent({
  name: 'PartnerDashboardPages',
  setup() {
    useMeta(() => ({ title: 'Partner Portal | Dashboard' }))

    // manage store
    const { getPartnerAnalytics } = useActions<ActionDashboards>('dashboards', [
      'getPartnerAnalytics',
    ])
    const { partnerAnalytics } = useState<RootStateDashboards>('dashboards', [
      'partnerAnalytics',
    ])
    // end manage store

    useFetch(async () => {
      await getPartnerAnalytics()
    })

    return {
      partnerAnalytics,
    }
  },
  head: {},
})
</script>
