<template>
  <article class="pa-4 pa-md-10 py-8">
    <section>
      <BaseHeadlinePage
        subtitle="Effortlessly allocate your orders with one-time setup and automated toggling."
        title="L-CONTROL"
      />

      <ToggleType v-if="useLSRIFlags" v-model="tabSelected" />
    </section>

    <section>
      <v-sheet class="rounded-xl" elevation="2" height="800">
        <ModularContent
          v-show="tabSelected === 'modular'"
          class="l-control-modular"
        />

        <SRIContent
          v-if="tabSelected === 'sri' && useLSRIFlags"
          class="l-control-sri"
        />
      </v-sheet>
    </section>

    <!-- notification -->
    <LazyBaseNotificationFloating />
  </article>
</template>

<script lang="ts">
import {
  defineComponent,
  onUnmounted,
  provide,
  ref,
  Ref,
  useMeta,
  useFetch,
} from '@nuxtjs/composition-api'
import { useMutations, useState, useActions } from 'vuex-composition-helpers'

// components
import ToggleType from '@/components/lcontrol/ToggleType.vue'
import ModularContent from '@/components/lcontrol/modular/ModularContent.vue'
import SRIContent from '~/components/lcontrol/sri/SRIContent.vue'
// end

// types
import {
  ActionsApplications,
  MutationsApplications,
  RootStateApplications,
} from '~/store/applications'
import { LControlType } from '~/types/lControl'
// end

export default defineComponent({
  name: 'LControl',
  components: {
    SRIContent,
    ToggleType,
    ModularContent,
  },
  layout: 'default',
  setup() {
    //  manage feature flags - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const useLSRIFlags = ref(false)
    //  manage feature flags - end

    /** manage store - start **/
    //  applications store - start
    const { alert } = useState<RootStateApplications>('applications', ['alert'])
    const { RESET_ALERT: doResetAlert } = useMutations<MutationsApplications>(
      'applications',
      ['RESET_ALERT']
    )
    //  applications store - end
    const stateStore = { alert }
    /** manage store - start **/

    const tabSelected = ref<LControlType>('modular')
    provide<Ref<LControlType>>('tabSelected', tabSelected)

    // on mounted function
    onUnmounted(() => {
      doResetAlert()
    })

    //  define the fetching data
    useFetch(async () => {
      useLSRIFlags.value = await getFeatureFlags('use-l-sri')
    })

    // define the meta-data
    useMeta(() => {
      const feature = tabSelected.value === 'modular' ? 'Modular' : 'SRI'
      return {
        title: 'Client Portal | L-Control - ' + feature,
      }
    })

    return {
      ...stateStore,
      useLSRIFlags,
      tabSelected,
    }
  },
  head: {},
})
</script>

<style lang="scss">
@import '@/assets/scss/l-control/main.scss';
</style>
