<template>
  <v-tooltip top color="primary" max-width="150px">
    <template #activator="{ on, attrs }">
      <v-btn x-small icon color="primary" v-bind="attrs" v-on="on">
        <v-icon>mdi-help-circle-outline</v-icon>
      </v-btn>
    </template>
    <span class="text-center d-block caption">Rating as of Quarter 3 2022</span>
  </v-tooltip>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'RateHelp',
})
</script>
