<template>
  <div class="text-star-wrapper">
    <template v-if="allRatings.length === 0">
      <!-- for overall (ratings not exist) -->
      <div id="overallNotExistRatings">
        <div
          class="text-star d-flex align-center"
          style="border-bottom: 4px dotted #1961e4"
        >
          <v-col class="mr-3 pl-0">
            <span
              class="primary--text font-weight-regular subtitle-1 font-weight-bold"
            >
              Overall
            </span>
          </v-col>

          <v-col class="pr-0">
            <template v-for="icon in 5">
              <v-icon
                :key="`Overall ${icon}`"
                :size="14"
                color="warning"
                class="ml-1"
              >
                {{
                  $vuetify.breakpoint.mobile
                    ? 'mdi-star-outline'
                    : '$rateOutline'
                }}
              </v-icon>
            </template>
          </v-col>
        </div>
      </div>
      <!-- end for overall (ratings not exist) -->
    </template>

    <template v-else>
      <!-- for overall (ratings exist) -->
      <div v-if="overallRates.length" id="overallExistRatings">
        <template v-for="({ type, rating }, overallIndex) in overallRates">
          <div
            :key="type + overallIndex"
            class="text-star d-flex align-center"
            style="border-bottom: 4px dotted #1961e4"
          >
            <v-col class="mr-3 pl-0">
              <span
                class="primary--text font-weight-regular subtitle-1 font-weight-bold"
              >
                {{ setRateLabel(type) }}
                <sup>
                  <RateHelp />
                </sup>
              </span>
            </v-col>

            <v-col class="pr-0">
              <template v-for="(icon, indexStar) in 5">
                <v-icon
                  v-if="
                    setRatingValue({
                      value: rating,
                    }) > indexStar
                  "
                  :key="type + indexStar"
                  :size="16"
                  color="warning"
                  class="ml-1"
                >
                  {{ $vuetify.breakpoint.mobile ? 'mdi-star' : '$rateFill' }}
                </v-icon>

                <v-icon
                  v-else
                  :key="type + indexStar"
                  :size="14"
                  color="warning"
                  class="ml-1"
                >
                  {{
                    $vuetify.breakpoint.mobile
                      ? 'mdi-star-outline'
                      : '$rateOutline'
                  }}
                </v-icon>
              </template>
            </v-col>
          </div>
        </template>
      </div>
      <!-- end for overall (ratings exist) -->

      <!-- for satisfactio rate -->
      <div v-if="satisfactionRates.length" id="satisfactioRate">
        <template
          v-for="({ type, rating }, satisfactionIndex) in satisfactionRates"
        >
          <span
            v-if="satisfactionIndex === 0"
            :key="type + satisfactionIndex + 'headline'"
            class="d-block font-weight-bold subtitle-1 primary--text mt-3"
          >
            Ratings
            <sup>
              <RateHelp />
            </sup>
          </span>

          <div
            :key="type + satisfactionIndex"
            class="text-star d-flex align-center"
            :style="
              satisfactionIndex + 1 === satisfactionRates.length
                ? 'border-bottom: 4px dotted #1961e4'
                : ''
            "
          >
            <v-col class="mr-3 pl-0">
              <span class="primary--text font-weight-regular subtitle-2">
                {{ setRateLabel(type) }}
              </span>
            </v-col>

            <v-col class="pr-0">
              <template v-for="(icon, indexStar) in 5">
                <v-icon
                  v-if="
                    setRatingValue({
                      value: rating,
                    }) > indexStar
                  "
                  :key="type + indexStar"
                  :size="14"
                  color="warning"
                  class="ml-1"
                >
                  {{ $vuetify.breakpoint.mobile ? 'mdi-star' : '$rateFill' }}
                </v-icon>

                <v-icon
                  v-else
                  :key="type + indexStar"
                  :size="14"
                  color="warning"
                  class="ml-1"
                >
                  {{
                    $vuetify.breakpoint.mobile
                      ? 'mdi-star-outline'
                      : '$rateOutline'
                  }}
                </v-icon>
              </template>
            </v-col>
          </div>
        </template>
      </div>
      <!-- end for satisfactio rate -->

      <!-- for first mile -->
      <div v-if="firstMileRates.length" id="firstMile">
        <template v-for="({ type, rating }, FMRatesIndex) in firstMileRates">
          <span
            v-if="FMRatesIndex === 0"
            :key="type + FMRatesIndex + 'headline'"
            class="d-block font-weight-bold subtitle-1 primary--text mt-3"
          >
            First Mile
            <sup>
              <RateHelp />
            </sup>
          </span>

          <div
            :key="type + FMRatesIndex"
            class="text-star d-flex align-center"
            :style="
              FMRatesIndex + 1 === firstMileRates.length
                ? 'border-bottom: 4px dotted #1961e4'
                : ''
            "
          >
            <v-col class="mr-3 pl-0">
              <span class="primary--text font-weight-regular subtitle-2">
                {{ setRateLabel(type) }}
              </span>
            </v-col>

            <v-col class="pr-0">
              <template v-for="(icon, indexStar) in 5">
                <v-icon
                  v-if="
                    setRatingValue({
                      value: rating,
                    }) > indexStar
                  "
                  :key="type + indexStar"
                  :size="14"
                  color="warning"
                  class="ml-1"
                >
                  {{ $vuetify.breakpoint.mobile ? 'mdi-star' : '$rateFill' }}
                </v-icon>

                <v-icon
                  v-else
                  :key="type + indexStar"
                  :size="14"
                  color="warning"
                  class="ml-1"
                >
                  {{
                    $vuetify.breakpoint.mobile
                      ? 'mdi-star-outline'
                      : '$rateOutline'
                  }}
                </v-icon>
              </template>
            </v-col>
          </div>
        </template>
      </div>
      <!-- end for first mile -->

      <!-- for custom -->
      <div v-if="customRates.length" id="custom">
        <template v-for="({ type, rating }, customRatesIndex) in customRates">
          <span
            v-if="customRatesIndex === 0"
            :key="type + customRatesIndex + 'headline'"
            class="d-block font-weight-bold subtitle-1 primary--text mt-3"
          >
            Custom Clearance
            <sup>
              <RateHelp />
            </sup>
          </span>

          <div
            :key="type + customRatesIndex"
            class="text-star d-flex align-center"
            :style="
              customRatesIndex + 1 === customRates.length
                ? 'border-bottom: 4px dotted #1961e4'
                : ''
            "
          >
            <v-col class="mr-3 pl-0">
              <span class="primary--text font-weight-regular subtitle-2">
                {{ setRateLabel(type) }}
              </span>
            </v-col>

            <v-col class="pr-0">
              <template v-for="(icon, indexStar) in 5">
                <v-icon
                  v-if="
                    setRatingValue({
                      value: rating,
                    }) > indexStar
                  "
                  :key="type + indexStar"
                  :size="14"
                  color="warning"
                  class="ml-1"
                >
                  {{ $vuetify.breakpoint.mobile ? 'mdi-star' : '$rateFill' }}
                </v-icon>

                <v-icon
                  v-else
                  :key="type + indexStar"
                  :size="14"
                  color="warning"
                  class="ml-1"
                >
                  {{
                    $vuetify.breakpoint.mobile
                      ? 'mdi-star-outline'
                      : '$rateOutline'
                  }}
                </v-icon>
              </template>
            </v-col>
          </div>
        </template>
      </div>
      <!-- end for custom -->

      <!-- for last mile -->
      <div v-if="lastMileRates.length" id="lastMile">
        <template v-for="({ type, rating }, LMRatesIndex) in lastMileRates">
          <span
            v-if="LMRatesIndex === 0"
            :key="type + LMRatesIndex + 'headline'"
            class="d-block font-weight-bold subtitle-1 primary--text mt-3"
          >
            Last Mile
            <sup>
              <RateHelp />
            </sup>
          </span>

          <div
            :key="type + LMRatesIndex"
            class="text-star d-flex align-center"
            :style="
              LMRatesIndex + 1 === lastMileRates.length
                ? 'border-bottom: 4px dotted #1961e4'
                : ''
            "
          >
            <v-col class="mr-3 pl-0">
              <span class="primary--text font-weight-regular subtitle-2">
                {{ setRateLabel(type) }}
              </span>
            </v-col>

            <v-col class="pr-0">
              <template v-for="(icon, indexStar) in 5">
                <v-icon
                  v-if="
                    setRatingValue({
                      value: rating,
                    }) > indexStar
                  "
                  :key="type + indexStar"
                  :size="14"
                  color="warning"
                  class="ml-1"
                >
                  {{ $vuetify.breakpoint.mobile ? 'mdi-star' : '$rateFill' }}
                </v-icon>

                <v-icon
                  v-else
                  :key="type + indexStar"
                  :size="14"
                  color="warning"
                  class="ml-1"
                >
                  {{
                    $vuetify.breakpoint.mobile
                      ? 'mdi-star-outline'
                      : '$rateOutline'
                  }}
                </v-icon>
              </template>
            </v-col>
          </div>
        </template>
      </div>
      <!-- end for last mile -->
    </template>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, useStore } from '@nuxtjs/composition-api'
// components
import RateHelp from '@/components/marketplace/detail/RateHelp.vue'
// types
import { Rating } from '~/types/marketplace/detail'
import { VuexModuleMarketplaces } from '~/types/marketplace/marketplace'

export default defineComponent({
  name: 'PartnerRates',
  components: {
    RateHelp,
  },
  setup() {
    const storeDetailMarketplace = useStore<VuexModuleMarketplaces>()
    const allRatings = computed(() => {
      const ratings =
        storeDetailMarketplace.state.marketplaces.marketplaces.ratings

      if (!ratings || ratings.length === 0) return []

      return [...ratings]
    })
    const setRateLabel = (type: string) => {
      let formattedLabel = type

      // *satisfaction rate
      if (type.includes('ClientSatisfactionRate')) {
        formattedLabel = 'Client satisfaction'
      }

      if (type.includes('ConsigneeSatisfaction')) {
        formattedLabel = 'Consignee satisfaction'
      }
      // *end satisfaction rate

      // *fm & lm label
      // 1st time (fm & lm)
      if (type.includes('FirstAttemptSuccess')) {
        // context (delivery for last mile and pickup for first mile)
        formattedLabel = `1st time ${
          type.includes('LastMile') ? 'delivery' : 'pickup'
        } success`
      }

      // on-time (fm & lm)
      if (type.includes('OnTime')) {
        formattedLabel = `On-time ${
          type.includes('LastMile') ? 'delivery' : 'pickup'
        }`
      }

      // No lost and damage goods (fm & lm)
      if (type.includes('NoLossAndDamageGoods')) {
        formattedLabel = `No lost and damage goods`
      }
      // *end fm & lm label

      // *cc label
      // clearance time
      if (type.includes('CustomsClearanceTimeRate')) {
        formattedLabel = `Clearance time`
      }

      // rejection rate
      if (type.includes('CustomsRejectionRate')) {
        formattedLabel = `Rejection time`
      }
      // *end cc label

      return formattedLabel
    }
    const setRatingValue = ({ value }: { value: number }): number => {
      let partnerRatingValue = value
      // ratings default value
      const ratings = new Map([
        [1, 79],
        [2, 80],
        [3, 85],
        [4, 90],
        [5, 95],
      ])

      for (const [keyMap, valueMap] of ratings.entries()) {
        if (valueMap !== value) {
          continue
        }

        partnerRatingValue = keyMap
      }

      return partnerRatingValue
    }

    // manage overall
    const overallRates = computed(() =>
      [...allRatings.value].filter((rate) => rate.type === 'Overall')
    )

    // manage satisfaction ratings
    const satisfactionRates = computed(() =>
      [...allRatings.value]
        .filter(
          (rate) =>
            rate.type === 'ClientSatisfactionRate' ||
            rate.type === 'ConsigneeSatisfaction'
        )
        .sort((itemA: Rating, _itemB: Rating) => {
          if (itemA.type.includes('ClientSatisfactionRate')) return -1

          return 0
        })
    )

    // manage last mile
    const lastMileRates = computed(() =>
      [...allRatings.value]
        .filter((rate) => rate.type.includes('LastMile'))
        .sort((itemA: Rating, _itemB: Rating) => {
          if (itemA.type.includes('OnTime')) return -1
          if (itemA.type.includes('NoLossAndDamageGoods')) return 1

          return 0
        })
    )

    // manage first mile
    const firstMileRates = computed(() =>
      [...allRatings.value]
        .filter((rate) => rate.type.includes('FirstMile'))
        .sort((itemA: Rating, _itemB: Rating) => {
          if (itemA.type.includes('OnTime')) return -1
          if (itemA.type.includes('NoLossAndDamageGoods')) return 1

          return 0
        })
    )

    // manage custom
    const customRates = computed(() =>
      [...allRatings.value]
        .filter((rate) => rate.type.includes('Customs'))
        .sort((itemA: Rating, _itemB: Rating) => {
          if (itemA.type.includes('CustomsClearanceTimeRate')) return -1

          return 0
        })
    )

    return {
      allRatings,
      setRateLabel,
      setRatingValue,
      // manage overall
      overallRates,
      // manage satisfaction rates
      satisfactionRates,
      // manage last mile
      lastMileRates,
      // manage first mile
      firstMileRates,
      // manage custom
      customRates,
    }
  },
})
</script>
