<template>
  <article class="summary-tab pa-8">
    <v-data-table
      hide-default-footer
      :headers="headersComp"
      :items="nodeCalculators"
      item-key="orderCode"
      :items-per-page="1000000"
      :search="dataTable.search"
      disable-sort
    >
      <template #body="{ items, headers }">
        <tr v-for="(x, i) in items" :key="i">
          <td
            v-for="(y, index) in headers"
            :key="index"
            :class="
              (y.value === 'orderCode' && 'primary--text font-weight-bold') +
              ' td-custom'
            "
            :style="
              y.value === 'total' &&
              !checkBatchServiceTypes.domestic && {
                borderRight: '1px dashed red',
              }
            "
          >
            <v-btn
              v-if="y.value === 'orderCode'"
              text
              color="primary"
              @click="doGetDetails(x)"
            >
              <span class="font-weight-bold">
                {{
                  y.value && y.value !== 'orderCode'
                    ? setValueByCurrency(x[y.value], x.currency)
                    : x[y.value] || ''
                }}
              </span>
            </v-btn>

            <span v-else>
              {{
                y.value && y.value !== 'orderCode' && y.value !== 'dutiesAndTax'
                  ? setValueByCurrency(x[y.value], currencyForGeneral(x))
                  : setValueByCurrency(x[y.value], currencyForTax(x)) || ''
              }}
            </span>
          </td>
        </tr>

        <tr v-if="items && items.length > 0">
          <td
            v-for="(x, i) in headers"
            :key="i"
            :style="
              x.value === 'total' &&
              !checkBatchServiceTypes.domestic && {
                borderRight: '1px dashed red',
              }
            "
            class="td-custom font-weight-bold"
          >
            <span
              v-if="x.value !== 'orderCode'"
              :class="
                x.value === 'total' ||
                x.value === 'dutiesAndTax' ||
                x.value === 'adminFee'
                  ? 'primary--text font-weight-bold'
                  : ''
              "
            >
              {{ setTotal(x.value) || '' }}
            </span>
          </td>
        </tr>

        <tr v-else>
          <td
            :colspan="headers.length"
            class="grey--text td-custom"
            :style="'text-align: center'"
          >
            No data available
          </td>
        </tr>
      </template>
    </v-data-table>
  </article>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  useStore,
  onMounted,
  PropType,
  useRouter,
} from '@nuxtjs/composition-api'
import {
  CheckBatchServiceTypes,
  findExistCurrencyForGeneral,
  findExistCurrencyForTax,
  findOccurCurrency,
  ParseNodeCalc,
} from '~/pages/orders/batch/_batchId.vue'
// interfaces and types
import { VuexModuleApplications } from '~/types/applications'

export interface Select {
  country: string
}

export default defineComponent({
  name: 'DetailsTab',
  props: {
    step: {
      type: Number,
      required: true,
    },
    nodeCalculators: {
      type: Array as PropType<ParseNodeCalc[]>,
      required: true,
    },
    checkBatchServiceTypes: {
      type: Object as PropType<CheckBatchServiceTypes>,
      required: true,
    },
  },
  setup(props) {
    // manage route
    const router = useRouter()
    const doGetDetails = (data: any) => {
      router.push(`/orders/${data.orderId}`)
    }
    const routeState = {
      doGetDetails,
    }

    // manage store
    const storeApplications = useStore<VuexModuleApplications>()
    const headersComp = computed(() => {
      let objKeysComp = [] as String[]
      if (props.nodeCalculators[0])
        objKeysComp = Object.keys(props.nodeCalculators[0])

      let headerTemp = [] as any

      objKeysComp.forEach((x: any) => {
        switch (x) {
          case 'orderCode':
            headerTemp.push({
              text: 'ORDER ID',
              align: 'start',
              sortable: false,
              value: 'orderCode',
            })
            break
          case 'fmCost':
            if (setTotal(x, true)) {
              headerTemp.push({
                text: 'First Mile',
                value: 'fmCost',
              })
            }
            break
          case 'lmCost':
            if (setTotal(x, true)) {
              headerTemp.push({
                text: 'Last Mile',
                value: 'lmCost',
              })
            }
            break
          case 'domesticCost':
            if (setTotal(x, true)) {
              headerTemp.push({
                text: 'Domestic',
                value: 'domesticCost',
              })
            }
            break
          case 'ccCost':
            if (setTotal(x, true)) {
              headerTemp.push({
                text: 'Customs',
                value: 'ccCost',
              })
            }
            break
          case 'bobCost':
            if (setTotal(x, true)) {
              headerTemp.push({
                text: 'BOB',
                value: 'bobCost',
              })
            }
            break
          case 'codCost':
            if (setTotal(x, true)) {
              headerTemp.push({
                text: 'COD',
                value: 'codCost',
              })
            }
            break

          default:
            break
        }
      })
      headerTemp = [
        ...headerTemp,
        {
          text: 'Total',
          value: 'total',
        },
      ]

      if (!props.checkBatchServiceTypes.domestic) {
        headerTemp = [
          ...headerTemp,
          {
            text: 'D&T',
            value: 'dutiesAndTax',
            class: 'left-border',
            cellClass: 'left-border',
          },
          // {
          //   text: 'Transmission Fee',
          //   value: 'adminFee',
          // },
        ]
      }

      return headerTemp
    })
    const dataTable = ref({
      search: '',
    })
    const showBorder = (item: any) => {
      if (item === 'codCost') {
        return 'border-right: 1px dashed red'
      }
      if (item === 'orderCode') {
        return 'color: #1961e4; font-weight: 700'
      }
    }

    // manage currency
    const setValueByCurrency = (price: number, currency: string) => {
      if (!currency) return ''

      return new Intl.NumberFormat('en-US', {
        style: 'currency',
        maximumFractionDigits: 2,
        currencyDisplay: 'code',
        currency,
      }).format(price)
    }
    const currencyForGeneral = (data: ParseNodeCalc) => {
      return findExistCurrencyForGeneral(data)
    }
    const currencyForTax = (data: ParseNodeCalc) => {
      return findExistCurrencyForTax(data)
    }
    function setTotal(key: string, isNotSetPrice = false) {
      const total = props.nodeCalculators.reduce(function (
        a: Number | unknown,
        b: any
      ) {
        return a + b[key]
      },
      0)

      // get the highest occurrence of currency
      const generalCurrency = currencyForGeneral(
        findOccurCurrency(props.nodeCalculators, currencyForGeneral)
      )
      const dutiesTaxCurrency = currencyForTax(
        findOccurCurrency(props.nodeCalculators, currencyForTax)
      )

      if (isNotSetPrice) return total
      if (key === 'total' || key === 'adminFee') {
        return setValueByCurrency(total, generalCurrency)
      }
      if (key === 'dutiesAndTax') {
        return setValueByCurrency(total, dutiesTaxCurrency)
      }

      return setValueByCurrency(total, generalCurrency)
    }
    const currencyState = {
      setValueByCurrency,
      setTotal,
      currencyForGeneral,
      currencyForTax,
    }

    onMounted(() => {
      storeApplications.commit('applications/RESET_ALERT')
    })

    return {
      // manage route
      ...routeState,
      headersComp,
      dataTable,
      showBorder,
      // manage currency
      ...currencyState,
    }
  },
})
</script>

<style lang="scss">
@import '~/assets/scss/color.module.scss';
.summary-tab {
  thead th {
    white-space: nowrap;
  }
  .theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > thead
    > tr:last-child
    > th {
    border-bottom: hidden !important;
  }
  .theme--light.v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr
    > td {
    border-bottom: hidden !important;
  }
  .td-custom {
    font-size: 0.875rem;
    height: 48px;
    padding: 0 16px;
    transition: height 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    text-align: start;
  }
}

.left-border {
  border-left: 1px dashed red;
}
</style>
