<template>
  <article class="details-tab pa-8">
    <v-row>
      <v-col cols="12" md="6">
        <OrdersBatchViewTable :data-table="dataTable" :is-service="true" />
      </v-col>

      <!-- for not domestic -->
      <v-divider
        v-if="!checkBatchServiceTypes.domestic"
        vertical
        :style="'border-right: 1px dashed red'"
      />

      <v-col v-if="!checkBatchServiceTypes.domestic" cols="12" md="6">
        <OrdersBatchViewTable :data-table="dataTable2" />
      </v-col>
    </v-row>
  </article>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  useStore,
  onMounted,
  PropType,
} from '@nuxtjs/composition-api'
import {
  findExistCurrencyForGeneral,
  findExistCurrencyForTax,
  findOccurCurrency,
  CheckBatchServiceTypes,
  ParseNodeCalc,
} from '~/pages/orders/batch/_batchId.vue'
// interfaces and types
import { VuexModuleApplications } from '~/types/applications'

export interface Select {
  country: string
}

export default defineComponent({
  name: 'SummaryTab',
  props: {
    step: {
      type: Number,
      required: true,
    },
    nodeCalculators: {
      type: Array as PropType<ParseNodeCalc[]>,
      required: true,
    },
    checkBatchServiceTypes: {
      type: Object as PropType<CheckBatchServiceTypes>,
      required: true,
    },
  },
  setup(props) {
    // manage store
    const storeApplications = useStore<VuexModuleApplications>()
    const currencyGeneral = computed(() =>
      findOccurCurrency(props.nodeCalculators, findExistCurrencyForGeneral)
    )
    const currencyTax = computed(() =>
      findOccurCurrency(props.nodeCalculators, findExistCurrencyForTax)
    )
    const parseService = computed(() => {
      if (props.nodeCalculators.length === 0) return []

      return [
        {
          name: 'First Mile',
          value: setTotal('fmCost'),
          currency: currencyGeneral.value.currencyFM || '',
        },
        {
          name: 'Last Mile',
          value: setTotal('lmCost'),
          currency: currencyGeneral.value.currencyLM || '',
        },
        {
          name: 'Domestic',
          value: setTotal('domesticCost'),
          currency: currencyGeneral.value.currencyDomestic || '',
        },
        {
          name: 'Customs',
          value: setTotal('ccCost'),
          currency: currencyGeneral.value.currencyCC || '',
        },
        {
          name: 'BOB',
          value: setTotal('bobCost'),
          currency: currencyGeneral.value.currencyBOB || '',
        },
        {
          name: 'COD',
          value: setTotal('codCost'),
          currency: findExistCurrencyForGeneral(currencyGeneral.value) || '',
        },
      ]
    })
    const parseCustom = computed(() => {
      if (props.nodeCalculators.length === 0) return []

      return [
        {
          name: 'D&T',
          value: setTotal('dutiesAndTax'),
          currency:
            currencyTax.value.currencyTax ||
            currencyTax.value.currencyDuties ||
            '',
        },
        // {
        //   name: 'Transmission Fee',
        //   value: setTotal('adminFee'),
        //   currency: highOccurCurrency.value.currencyFM ||
        // highOccurCurrency.value.currencyLM ||
        // highOccurCurrency.value.currencyDomestic ||
        // highOccurCurrency.value.currencyCC ||
        // highOccurCurrency.value.currencyBOB ||
        // ''
        // },
      ]
    })

    // manage summary table

    const dataTable = ref({
      content: parseService.value,
      headers: [
        {
          text: 'Services',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: '', value: 'value' },
      ],
    })

    const dataTable2 = ref({
      content: parseCustom.value,
      headers: [
        {
          text: 'Customs',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: '', value: 'value' },
      ],
    })

    onMounted(() => {
      storeApplications.commit('applications/RESET_ALERT')
    })

    const showBorder = (item: any) => {
      if (item === 'iron') {
        // return {borderRight:'1px dashed red'}
        return 'border-right: 1px dashed red'
      }
      if (item === 'name') {
        // return {color:'#1961e4', fontWeight: 700}
        return 'color: #1961e4; font-weight: 700'
      }
    }
    function setTotal(key: string) {
      return props.nodeCalculators.reduce(function (
        a: Number | unknown,
        b: any
      ) {
        return a + b[key]
      },
      0)
    }

    return {
      dataTable,
      dataTable2,
      showBorder,
    }
  },
})
</script>

<style lang="scss">
@import '~/assets/scss/color.module.scss';
.details-tab {
  thead th:nth-child(6) {
    border-right: 1px dashed red;
  }
}
</style>
