<template>
  <div>
    <div class="mb-8">
      <NuxtImg
        src="/images/Luwjistik Logo FA-01.png"
        format="webp"
        class="d-inline-block"
        style="width: 125px"
        preload
      />
    </div>

    <div class="mb-15">
      <h1 class="primary--text font-weight-bold text-h4 mb-4">Welcome Back!</h1>

      <span>Login with your account!</span>
    </div>

    <div>
      <!-- Login form -->
      <ValidationObserver
        ref="loginFormObserver"
        v-slot="{ invalid }"
        tag="form"
        @submit.stop.prevent="doLogin"
      >
        <!-- Email field -->
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Email Address"
          rules="required|email"
          tag="div"
          class="mb-2"
        >
          <v-text-field
            v-model="form.email"
            :error-messages="errors"
            label="Email Address"
            placeholder="Enter your email address..."
            type="email"
            required
            outlined
            rounded
            single-line
            autocomplete
            autofocus
          />
        </ValidationProvider>

        <!-- Password field -->
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Password"
          rules="required"
          tag="div"
          class="mb-2"
        >
          <v-text-field
            v-model="form.password"
            :error-messages="errors"
            :append-icon="isShowPassword ? 'mdi-eye-off' : 'mdi-eye'"
            :type="isShowPassword ? 'text' : 'password'"
            label="Password"
            placeholder="Enter your password..."
            single-line
            required
            rounded
            outlined
            @click:append="isShowPassword = !isShowPassword"
          />
        </ValidationProvider>

        <v-btn
          block
          x-large
          rounded
          color="primary"
          type="submit"
          class="mr-4 my-8"
          :disabled="invalid"
          :loading="isLoading"
        >
          Login
        </v-btn>
      </ValidationObserver>

      <Notification :dismissible="false" />
    </div>

    <div v-if="false">
      <NuxtLink to="#" class="text-decoration-none secondary--text">
        Forgot Password ?
      </NuxtLink>

      <p class="mt-4">
        Don't have an account ?
        <NuxtLink to="#" class="text-decoration-none secondary--text">
          Register
        </NuxtLink>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import {
  ref,
  defineComponent,
  reactive,
  useRouter,
} from '@nuxtjs/composition-api'
import { useSessionStorage } from '@vueuse/core'
import { useState } from 'vuex-composition-helpers'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { useFetchEngine } from '~/composables/base/fetch-engine'
import { useLoginStore } from '~/store/base/applications/login'

// components - start
import Notification from '~/components/base/Notification.vue'
// components - end

// composables - start
import { storeLoginCredentials } from '@/composables/base/applications/login'
// composables - end

// types - start
import type { RootStateApplications } from '~/store/applications'
import type { VForm } from '@/types/applications'
import type { Login, LoginResponse } from '~/types/base/applications/login'
import type { MFALoginResponse } from '@/types/clients/profiles/mfa'
// types - end

export default defineComponent({
  name: 'LeftSide',
  components: {
    ValidationProvider,
    ValidationObserver,
    Notification,
  },
  setup(_props, setupContext) {
    const router = useRouter()

    // manage store - start
    const { loginAPI } = useLoginStore()
    const { alert } = useState<RootStateApplications>('applications', ['alert'])
    const manageStore = {
      alert,
    }
    // manage store - start

    // manage form - start
    const loginFormObserver = ref<null | VForm>(null)
    const isLoading = ref(false)
    const toggleLoadingFn = () => {
      isLoading.value = !isLoading.value
    }
    const isShowPassword = ref(false)
    const form = reactive({
      email: '',
      password: '',
    }) as Login
    const doLogin = async () => {
      const handleLoginFn = async () => {
        // Check form validity before hit API endpoint
        const isValid = await loginFormObserver?.value?.validate()
        if (!isValid) return

        // define the payload for login & hit the endpoint API
        const payload = { ...form }
        const loginRes = await loginAPI(payload)

        // handle the MFA scenario
        const mfaResponse = loginRes?.data?.value as MFALoginResponse
        if (
          mfaResponse &&
          'otpEnabled' in mfaResponse &&
          'userId' in mfaResponse
        ) {
          const userIdSession = useSessionStorage('userId', '')
          const otpEnabledSession = useSessionStorage('otpEnabled', false)

          userIdSession.value = mfaResponse.userId
          otpEnabledSession.value = mfaResponse.otpEnabled
          router.push('/login/validate-otp')
          return loginRes
        }

        // store the login credentials
        const userLogged = loginRes?.data.value as LoginResponse
        await storeLoginCredentials(userLogged)
        return loginRes
      }
      const failedSubmissionFn = async (_errors: string | string[]) => {
        form.password = ''
        await loginFormObserver?.value?.reset()
      }

      await useFetchEngine(setupContext, handleLoginFn, {
        customLoadingFn: toggleLoadingFn,
        failedSubmissionFn,
      })
    }
    const manageForm = {
      loginFormObserver,
      isLoading,
      isShowPassword,
      form,
      doLogin,
    }
    // manage form - start

    return {
      ...manageStore,
      ...manageForm,
    }
  },
})
</script>
