<template>
  <section class="base">
    <BaseNavigationAppBarGuest>
      <template #[`content`]>
        <v-btn
          elevation="2"
          text
          dark
          class="elevation-0"
          tile
          to="/tracking"
          exact
        >
          Shipment Tracking
        </v-btn>
      </template>
    </BaseNavigationAppBarGuest>

    <v-container class="my-4 my-md-10">
      <v-row v-if="$fetchState.pending" align="center" justify="center">
        <v-col cols="12" md="4">
          <BaseLoadingLinear title="Getting order details..." />
        </v-col>
      </v-row>

      <div v-else>
        <v-row v-if="orderTracking.orderCode">
          <v-col cols="12" md="4">
            <div class="mb-6">
              <h1 class="text-uppercase headline font-weight-bold">Order :</h1>

              <span class="d-block primary--text font-weight-bold">
                {{ orderTracking.orderCode }}
              </span>

              <span class="d-block primary--text font-weight-bold">
                By {{ orderTracking.clientName }}
              </span>
            </div>

            <v-img
              :src="`data:image/png;base64,${orderTracking.clientLogo}`"
              class="d-block"
              style="width: 100%"
            />
          </v-col>

          <v-col cols="12" md="8" class="pl-md-15">
            <UpdatesTimeline
              :fetch-state="$fetchState"
              :is-past-august="isPastAugust"
            />
          </v-col>
        </v-row>
        <BaseEmptyData v-else page="Order Tracking" @refresh="redirectPage" />
      </div>
    </v-container>
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onUnmounted,
  useContext,
  useFetch,
  useMeta,
  useRoute,
  useRouter,
  useStore,
} from '@nuxtjs/composition-api'
// components
import { useActions } from 'vuex-composition-helpers'
import UpdatesTimeline from '~/components/orders/details/UpdatesTimeline.vue'
// types
import { VuexModuleTracking } from '@/types/trackings'
import { ActionsApplications } from '~/store/applications'
// const
import { ZENDESK_LINK } from '~/constants/base/l-chat'

export default defineComponent({
  components: {
    UpdatesTimeline,
  },
  layout: 'guest',
  setup() {
    // manage meta
    useMeta(() => ({ title: `Client Portal | Tracking Details` }))
    const {
      $config,
      $dateFns: { isAfter },
    } = useContext()

    // manage route
    const route = useRoute()
    const router = useRouter()
    const id = computed(() => route.value.params.id)

    // manage store
    const storeTracking = useStore<VuexModuleTracking>()
    const orderTracking = computed(() => storeTracking.state.trackings.tracking)
    const storeState = { orderTracking }

    // other state
    // is order created past from 1 August 2022 ?
    const isPastAugust = computed(() =>
      isAfter(
        new Date(orderTracking.value.createdAt as Date),
        new Date(2022, 7, 1, 0, 1)
      )
    )

    const redirectPage = () => {
      router.push('/tracking')
    }

    const otherState = { isPastAugust, redirectPage }

    // manage features flag
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )

    // manage fetch
    useFetch(async () => {
      await storeTracking.dispatch('trackings/getTrackingOrder', {
        orderId: id.value,
      })

      const showZendeskWidget = await getFeatureFlags(
        'display-zendesk-in-tracking-page'
      )

      // add zendesk widget if the given order is an SRI order.
      if (
        (orderTracking.value.isSR === true ||
          orderTracking.value.client.supportWidget === true) &&
        showZendeskWidget
      ) {
        const zendeskKey = $config.zendeskKey
        const zendeskScript = document.createElement('script')

        zendeskScript.setAttribute('id', 'ze-snippet')
        zendeskScript.setAttribute('src', `${ZENDESK_LINK}?key=${zendeskKey}`)

        document.head.appendChild(zendeskScript)

        if (window.zE) return window.zE('webWidget', 'show')
      }
    })

    onUnmounted(() => {
      if (window.zE) return window.zE('webWidget', 'hide')
    })

    return {
      ...storeState,
      ...otherState,
    }
  },
  head: {},
})
</script>
