<template>
  <article>
    <v-row class="mt-8">
      <v-col cols="12" md="4">
        <BaseFeatureTitle
          title="Event Subscription"
          subtitle="Subscribe to our orders event."
        />
      </v-col>

      <v-col cols="12" md="8">
        <v-card color="white" elevation="2" height="100%">
          <v-card-text>
            <div>
              <!-- alert user actions (generate a new subscription) -->
              <v-expand-transition>
                <v-alert
                  v-if="
                    alert.isShow &&
                    (alert.message.includes('Subscription') ||
                      alert.message.includes('Unsubscribe') ||
                      alert.message.includes('Endpoint'))
                  "
                  dismissible
                  rounded="xl"
                  :type="alert.type"
                >
                  {{ alert.message }}
                </v-alert>
              </v-expand-transition>

              <BaseLoading v-if="$fetchState.pending" color="primary" />

              <!-- if the data is empty -->
              <template v-if="!subscriptions.data.length">
                <h2 class="text-center mt-6 subtitle-1">
                  No subscriptions available
                </h2>
              </template>

              <template v-else>
                <v-scroll-x-transition>
                  <SubscriptionList
                    :subscriptions="subscriptions.data"
                    :status="status"
                    @doCopy="doCopy"
                    @toggleConfirmRevoke="toggleConfirmRevoke"
                  />
                </v-scroll-x-transition>

                <v-pagination
                  :value="pagination.page"
                  :length="subscriptions.meta.totalPage"
                  :total-visible="7"
                  :disabled="status.copied || $fetchState.pending"
                  circle
                  class="my-6"
                  @input="changePagination"
                />
              </template>
            </div>
          </v-card-text>

          <v-card-actions class="pa-4">
            <v-spacer />

            <v-btn
              outlined
              color="primary"
              :disabled="$fetchState.pending || status.copied"
              :loading="$fetchState.pending"
              @click="doToggleModalField"
            >
              Assign new subscription
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- Modal confirm -->
    <BaseModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      @doSubmit="doRevoke"
    />

    <!-- Modal form -->
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doSubmit="doGenerateKey"
      @doClose="doResetModal"
    >
      <template #modalFields>
        <SubscriptionFields v-model="form" />
      </template>
    </BaseModalForm>
  </article>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  ref,
  Ref,
  computed,
  useContext,
  useStore,
  reactive,
} from '@nuxtjs/composition-api'
import { useClipboard } from '@vueuse/core'
import { initDialogSettings, initModalType } from '~/store/applications'

// components - start
import SubscriptionFields from '@/components/profiles/subscriptions/SubscriptionFields.vue'
import SubscriptionList from '@/components/profiles/subscriptions/SubscriptionList.vue'
// components - end

// types - start
import type {
  ModalConfirm,
  Pagination,
  VuexModuleApplications,
} from '~/types/applications'
import type {
  Subscription,
  SubscriptionPayload,
  VuexModuleProfiles,
} from '~/types/profiles'
import type { User } from '~/types/base/applications/login'
// types - end

// data initializations - start
const initForm = {
  eventType: '',
  url: '',
}
// data initializations - end

export default defineComponent({
  name: 'ManageSubscriptions',
  components: {
    SubscriptionFields,
    SubscriptionList,
  },
  setup() {
    // manage auth
    const { $auth, app } = useContext()
    const user = computed<User>(
      () => $auth.$storage.getLocalStorage('user') as User
    )
    const authState = { user }

    // manage store
    const storeProfiles = useStore<VuexModuleProfiles>()
    const storeApplications = useStore<VuexModuleApplications>()
    const alert = computed(() => storeApplications.state.applications.alert)
    const subscriptions = computed(
      () => storeProfiles.state.profiles.subscriptions
    )
    const pagination = ref({
      page: 1,
      itemsPerPage: 3,
    }) as Ref<Pagination>
    const changePagination = (value: number) => {
      pagination.value = { ...pagination.value, page: value }
      fetch()
    }
    const doResetAlert = () => {
      setTimeout(() => {
        storeApplications.commit('applications/RESET_ALERT')
      }, 3000)
    }
    const storeState = { alert, subscriptions, pagination }
    const storeFunction = { changePagination }

    // manage clipboard
    const { text, copy, copied, isSupported } = useClipboard()
    const status = reactive({
      text,
      copied,
      isSupported,
    })
    const doCopy = async (data: string, section: string) => {
      const defaultMessage = 'successfully copied!'
      const message =
        section !== 'key'
          ? `Endpoint ${defaultMessage}`
          : `Subscription Key ${defaultMessage}`

      storeApplications.commit('applications/SET_ALERT', {
        isShow: true,
        type: 'success',
        message,
      })
      copy(data)
      await doResetAlert()
    }
    const clipboardState = { status }
    const clipboardFunction = { doCopy }

    // manage modal
    const selected = ref({}) as Ref<Subscription>
    const form = ref({
      clientId: user.value.clientId,
      ...initForm,
    }) as Ref<SubscriptionPayload>
    const dialog = ref({ ...initModalType })
    const dialogSettings = ref({ ...initDialogSettings }) as Ref<ModalConfirm>
    const doResetModal = () => {
      form.value = {
        clientId: user.value.clientId,
        ...initForm,
      }
      dialogSettings.value = { ...initDialogSettings }
    }
    const doToggleModalField = () => {
      try {
        doResetModal()
        dialogSettings.value.loading = true

        if (dialog.value.form || dialog.value.confirm) return

        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Assign a new subscription',
          cancelText: 'Cancel',
          submitText: 'Subscribe',
          submitColor: 'primary',
        }
        dialog.value.form = true
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const toggleConfirmRevoke = (data: Subscription) => {
      try {
        doResetModal()
        dialogSettings.value.loading = true

        if (dialog.value.form || dialog.value.confirm) return

        selected.value = data
        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Are your sure ?',
          content: 'You are going to unsubscribe the event!.',
          cancelText: 'Cancel',
          submitText: 'Unsubscribe',
          submitColor: 'secondary',
        }
        dialog.value.confirm = true
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const modalFunction = {
      selected,
      form,
      dialog,
      dialogSettings,
      doResetModal,
      doToggleModalField,
      toggleConfirmRevoke,
    }

    // other state
    const doGenerateKey = async () => {
      try {
        dialogSettings.value.loading = true
        const response = await storeProfiles.dispatch(
          'profiles/createSubscription',
          {
            body: form.value,
          }
        )

        if (response) throw response

        await fetch()
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: 'Successfully generating a new Subscription Key!',
        })
        setTimeout(() => {
          dialog.value.form = false
          doResetModal()
        }, 1500)
      } catch (error) {
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: 'Failed generating a new subscription key!',
        })
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1000)
        await doResetAlert()
      }
    }
    const doRevoke = async () => {
      try {
        await doResetAlert()
        dialogSettings.value.loading = true

        const response = await storeProfiles.dispatch(
          'profiles/unsubscribeEvent',
          { id: selected.value.id }
        )

        if (response) throw response

        await fetch()
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: 'Successfully Unsubscribe the event!',
        })
        setTimeout(() => {
          dialog.value.confirm = false
          doResetModal()
        }, 1500)
      } catch (error) {
        const message =
          (error as any)?.response?.data?.message ??
          (error as any)?.response?.data?.error ??
          (error as Error)?.message

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `Unsubscribe key ${message}!`,
        })
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1000)
      }
    }
    const otherFunction = { doGenerateKey, doRevoke }

    // manage fetch
    const fetchSubscriptions = async () => {
      const paramsSubscription = app.$customUtils.setURLParams({
        page: pagination.value.page,
        perPage: pagination.value.itemsPerPage,
        clientId: user.value.clientId,
      })

      await storeProfiles.dispatch('profiles/getSubscriptions', {
        params: paramsSubscription,
      })
    }
    const { fetch } = useFetch(async () => {
      await fetchSubscriptions()
    })

    return {
      // manage auth
      ...authState,
      // manage store
      ...storeState,
      ...storeFunction,
      // manage clipboard
      ...clipboardState,
      ...clipboardFunction,
      // manage modal
      ...modalFunction,
      // other state
      ...otherFunction,
    }
  },
})
</script>
