<template>
  <v-card-text class="px-6">
    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="URL Endpoint"
      rules="required|url"
      tag="div"
    >
      <v-text-field
        v-model="form.url"
        :error-messages="errors"
        label="URL Endpoint"
        placeholder="Enter your url endpoint..."
        type="url"
        required
        single-line
        dense
        outlined
        rounded
        clearable
      />
    </ValidationProvider>

    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="Event Type"
      rules="required"
      tag="div"
      class="mt-2"
    >
      <v-select
        v-model="form.eventType"
        :error-messages="errors"
        :items="eventTypeItems"
        :menu-props="{
          offsetY: true,
        }"
        label="Event Type"
        placeholder="Enter your event type..."
        clearable
        required
        single-line
        dense
        outlined
        rounded
        full-width
        open-on-clear
      >
        <template #item="{ item }">
          <v-list-item-content style="width: 300px">
            <v-list-item-title class="font-weight-bold">
              {{ item.text }}
            </v-list-item-title>

            <v-list-item-subtitle
              class="d-inline-block"
              style="white-space: inherit"
            >
              {{ item.description }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </template>
      </v-select>
    </ValidationProvider>
  </v-card-text>
</template>

<script lang="ts">
import { useFetch } from '@nuxtjs/composition-api'
import { defineComponent, PropType, computed, ref } from '@vue/composition-api'
import { useActions } from 'vuex-composition-helpers'
import { ValidationProvider } from 'vee-validate'
// store
import { ActionsApplications } from '~/store/applications'
// types
import { SubscriptionPayload } from '~/types/profiles'

export default defineComponent({
  components: { ValidationProvider },
  props: {
    value: {
      type: Object as PropType<SubscriptionPayload>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const form = computed({
      get: (): SubscriptionPayload => props.value,
      set: (value: SubscriptionPayload) => emit('input', value),
    })
    const eventTypeItems = ref([
      {
        text: 'Partner Update',
        value: 'PARTNER_UPDATE',
        description: 'An raw status update has been created for an order.',
      },
      {
        text: 'Normalized Update',
        value: 'NORMALIZED_UPDATE',
        description:
          'A current updated normalized status update has been created for a given order.',
      },
      {
        text: 'Normalized Update History',
        value: 'NORMALIZED_UPDATE_HISTORY',
        description:
          'A entire history of normalized status update has been created for a given order.',
      },
      {
        text: 'Label Generated',
        value: 'LABEL_GENERATED',
        description: 'A label has been generated successfully for an order.',
      },
    ])

    // manage features flag
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )

    useFetch(async () => {
      // *check is enable-detail-webhook availability on feature flags
      const showDetailWebhook = await getFeatureFlags('enable-detail-webhook')

      if (showDetailWebhook) {
        eventTypeItems.value.push(
          {
            text: 'Partner Update Detail',
            value: 'PARTNER_UPDATE_DETAIL',
            description:
              'Raw status update from the partner with additional information.',
          },
          {
            text: 'Normalized Update Detail',
            value: 'NORMALIZED_UPDATE_DETAIL',
            description:
              'Normalized status updated with additional partner information.',
          }
        )
      }
    })

    return {
      form,
      eventTypeItems,
    }
  },
})
</script>
