<template>
  <v-list three-line>
    <template v-for="(subscription, index) in subscriptions">
      <v-list-item :key="subscription.appKey">
        <v-list-item-content>
          <v-list-item-title class="font-weight-medium mb-4">
            {{ setEventType(subscription.eventType) }}
          </v-list-item-title>

          <!-- app key -->
          <SelectableKey
            :data="{
              title: 'App Key',
              body: subscription.appKey,
            }"
            :disabled-copy="status.copied"
            @doCopyText="$emit('doCopy', subscription.appKey, 'key')"
          />

          <!-- endpoint -->
          <SelectableKey
            :data="{
              title: 'Endpoint',
              body: subscription.endpoint,
            }"
            :disabled-copy="status.copied"
            @doCopyText="$emit('doCopy', subscription.endpoint, 'endpoint')"
          />
        </v-list-item-content>

        <v-list-item-action>
          <v-btn
            :text="$vuetify.breakpoint.smAndUp"
            :icon="$vuetify.breakpoint.xsOnly"
            :disabled="status.copied"
            color="error"
            class="mx-2"
            @click="$emit('toggleConfirmRevoke', subscription)"
          >
            <v-icon v-if="$vuetify.breakpoint.xsOnly">
              mdi-power-plug-off
            </v-icon>

            <span v-else> Unsubscribe</span>
          </v-btn>
        </v-list-item-action>
      </v-list-item>

      <v-divider
        v-if="index < subscriptions.length - 1"
        :key="index"
        class="mx-4"
      />
    </template>
  </v-list>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'
// components
import SelectableKey from '@/components/profiles/SelectableKey.vue'
// types
import { Subscription } from '~/types/profiles'

export default defineComponent({
  name: 'SubscriptionList',
  components: {
    SelectableKey,
  },
  props: {
    subscriptions: {
      type: Array as PropType<Subscription[]>,
      required: true,
    },
    status: {
      type: Object,
      required: true,
    },
  },
  setup() {
    const setEventType = (data: string) => {
      if (!data) return ''

      switch (data) {
        case 'PARTNER_UPDATE':
          return 'Partner Update'
        case 'NORMALIZED_UPDATE':
          return 'Normalized Status Update'
        case 'NORMALIZED_UPDATE_HISTORY':
          return 'Normalized Status Update History'
        case 'LABEL_GENERATED':
          return 'Label Generated Update'
        case 'NORMALIZED_UPDATE_DETAIL':
          return 'Normalized Update Detail'
        case 'PARTNER_UPDATE_DETAIL':
          return 'Partner Update Detail'
      }
    }

    return {
      setEventType,
    }
  },
})
</script>
