<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseHeadlinePage title="MAWB Documents"> </BaseHeadlinePage>
    <BaggingBagTab
      v-model="manifestVModel"
      :is-manifest-tab-partner="true"
      :is-customs-partner="true"
      @fetchAction="fetchBagsManifested"
    />
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  ref,
  Ref,
} from '@nuxtjs/composition-api'

// types

import { VuexModuleDetailBagging } from '~/types/bagging/bagging'
import { VuexModuleApplications } from '~/types/applications'
// end types

export default defineComponent({
  name: 'BaggingPages',
  middleware: 'partner',
  setup() {
    useMeta(() => ({ title: 'Partner Portal | Bagging' }))

    // manage store
    const storeApplications = useStore<VuexModuleApplications>()
    const storeBagging = useStore<VuexModuleDetailBagging>()

    // manage table

    const manifestVModel = ref({
      pagination: {
        ...storeApplications.state.applications.pagination,
        page: 1,
      },
    }) as Ref<any>

    async function fetchBagsManifested() {
      const { page, itemsPerPage } = manifestVModel.value.pagination
      const perPage =
        itemsPerPage !== -1 || itemsPerPage
          ? itemsPerPage
          : storeBagging.state.bagging.bagging.metaManifested.totalCount
      const dataParams = {
        page,
        perPage,
      } as Object
      try {
        $fetchState.pending = true
        await storeBagging.dispatch('bagging/bagging/getBagsPartnerManifest', {
          metaManifest: dataParams,
        })
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    async function fetchDetailManifested(id: string) {
      try {
        $fetchState.pending = true
        const response = await storeBagging.dispatch(
          'bagging/bagging/getDetailManifest',
          { id }
        )
        return response
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const stateFetch = {
      fetchBagsManifested,
      fetchDetailManifested,
    }

    const { $fetchState } = useFetch(async () => {})

    return {
      ...stateFetch,
      manifestVModel,
    }
  },
  head: {},
})
</script>
