<template>
  <svg
    width="18"
    height="19"
    viewBox="0 0 18 19"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M17.3428 17.9771V6.06856L8.77142 1.00571L0.657135 5.94285V17.9771H2.03999V7.37142H16.0286V17.9771H17.3428Z"
      stroke="currentColor"
      stroke-width="0.50"
      stroke-miterlimit="10"
    />
    <path
      d="M2.03999 8.48001L16.0286 8.48001V7.37144L2.03999 7.37144V8.48001Z"
      stroke="currentColor"
      stroke-width="0.50"
      stroke-linejoin="round"
    />
    <path
      d="M2.03999 9.57715L16.0286 9.57715V8.46858L2.03999 8.46858V9.57715Z"
      stroke="currentColor"
      stroke-width="0.50"
      stroke-linejoin="round"
    />
    <path
      d="M8.77143 5.2C9.31425 5.2 9.75429 4.75996 9.75429 4.21714C9.75429 3.67432 9.31425 3.23428 8.77143 3.23428C8.22862 3.23428 7.78857 3.67432 7.78857 4.21714C7.78857 4.75996 8.22862 5.2 8.77143 5.2Z"
      fill="white"
    />
    <path
      d="M9.62858 11.2343H7.57144V13.2914H9.62858V11.2343Z"
      stroke="currentColor"
      stroke-width="0.50"
      stroke-miterlimit="10"
    />
    <path
      d="M8.45143 13.5771H6.39429V15.6343H8.45143V13.5771Z"
      stroke="currentColor"
      stroke-width="0.50"
      stroke-miterlimit="10"
    />
    <path
      d="M10.8057 13.5771H8.74857V15.6343H10.8057V13.5771Z"
      stroke="currentColor"
      stroke-width="0.50"
      stroke-miterlimit="10"
    />
    <path
      d="M9.62858 15.9314H7.57144V17.9886H9.62858V15.9314Z"
      stroke="currentColor"
      stroke-width="0.50"
      stroke-miterlimit="10"
    />
    <path
      d="M7.27428 15.9314H5.21713V17.9886H7.27428V15.9314Z"
      stroke="currentColor"
      stroke-width="0.50"
      stroke-miterlimit="10"
    />
    <path
      d="M11.9829 15.9314H9.92572V17.9886H11.9829V15.9314Z"
      stroke="currentColor"
      stroke-width="0.50"
      stroke-miterlimit="10"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'B2BIcon',
})
</script>
