<template>
  <svg
    width="53"
    height="76"
    viewBox="0 0 53 76"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.2459 70.1672C20.2459 72.9575 17.6294 75.2118 14.4066 75.2118C11.1839 75.2118 8.56738 72.9575 8.56738 70.1672"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M43.5872 70.1672C43.5872 72.9575 40.9707 75.2118 37.7479 75.2118C34.5252 75.2118 31.9087 72.9575 31.9087 70.1672"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M13.0347 13.3839V5.91163C13.0347 3.08981 17.2466 0.788208 22.4477 0.788208H30.8396C36.0407 0.788208 40.2526 3.07404 40.2526 5.91163V13.2736"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M52.2021 60.5036V22.9529C52.2021 17.6681 47.8664 13.3839 42.5179 13.3839L10.4818 13.3839C5.13335 13.3839 0.797573 17.6681 0.797573 22.9529V60.5036C0.797573 65.7884 5.13335 70.0726 10.4818 70.0726H42.5179C47.8664 70.0726 52.2021 65.7884 52.2021 60.5036Z"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M12.875 21.6287V62.7106"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M26.8989 21.6287V62.7106"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M40.9224 21.6287V62.7106"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'BaggingIcon',
})
</script>
