<template>
  <svg
    viewBox="0 0 24.96384 24.96384"
    width="24.96384"
    height="24.96384"
    xmlns:svg="http://www.w3.org/2000/svg"
  >
    <path
      id="path6"
      fill="none"
      stroke="currentColor"
      stroke-width="1"
      d="m 24.196777,14.256777 -9.94,9.94 a 1.79,1.79 0 0 1 -2.52,0 l -10.84000032,-10.84 a 1.8,1.8 0 0 1 -0.52,-1.26 V 4.6367767 a 1.78,1.78 0 0 1 0.52,-1.26 L 3.3767767,0.89677668 a 1.78,1.78 0 0 1 1.26,-0.52 h 7.4600003 a 1.8,1.8 0 0 1 1.26,0.52 l 10.84,10.84000032 a 1.79,1.79 0 0 1 0,2.52 z"
    />
    <line
      id="line8"
      fill="none"
      stroke="currentColor"
      stroke-width="1"
      x1="5.1567769"
      y1="5.1567769"
      x2="0.17677669"
      y2="0.17677669"
    />
    <circle
      id="circle10"
      stroke="currentColor"
      cx="4.9267769"
      cy="4.9267769"
      r="1.11"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'LabelConfig',
})
</script>
