<template>
  <svg
    width="64"
    height="60"
    viewBox="0 0 64 60"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M59.807 0.702637H3.26709V36.95H59.807V0.702637Z"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M0.883301 46.4934H63.9017"
      fill="none"
      stroke="currentColor"
      stroke-width="2.5"
    />
    <path
      d="M0.701172 42.7126V60.0001"
      fill="none"
      stroke="currentColor"
      stroke-width="2.5"
    />
    <path
      d="M32.687 42.7126V60.0001"
      fill="none"
      stroke="currentColor"
      stroke-width="2.5"
    />
    <path
      d="M15.9019 42.7126V55.6712"
      fill="none"
      stroke="currentColor"
      stroke-width="2.5"
    />
    <path
      d="M47.4253 42.7126V55.6712"
      fill="none"
      stroke="currentColor"
      stroke-width="2.5"
    />
    <path
      d="M63.2988 42.7126V60.0001"
      fill="none"
      stroke="currentColor"
      stroke-width="2.5"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'LFreightIcon',
})
</script>
