<template>
  <svg
    width="28"
    height="28"
    viewBox="0 0 28 28"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_2556_1041)">
      <path
        d="M4.73999 1.70001H18.13V1.45001H18.63V1.70001H19.15L22.15 5.44001H22.6V5.94001H22.55L23.23 6.79001V15.79H23.73V6.61001L19.39 1.20001H4.73999C4.76999 1.36533 4.76999 1.5347 4.73999 1.70001Z"
        fill="none"
        stroke="currentColor"
        stroke-width="0.5"
      />
      <path
        d="M23.26 27.31H3.77002V25.87H3.27002V27.81H23.76V25.87H23.26V27.31Z"
        fill="none"
        stroke="currentColor"
        stroke-width="0.5"
      />
      />
      <path
        d="M3.77002 2.66998C3.6047 2.69999 3.43534 2.69999 3.27002 2.66998V15.79H3.77002V2.66998Z"
        fill="none"
        stroke="currentColor"
        stroke-width="0.5"
      />
      <path d="M19.21 8.56H7.81V9.06H19.21V8.56Z" fill="white" />
      <path d="M19.21 10.84H7.81V11.34H19.21V10.84Z" fill="white" />
      <path d="M19.21 13.25H7.81V13.75H19.21V13.25Z" fill="white" />
      <path
        d="M22.58 5.95001L22.18 5.45001H18.64V1.70001H18.14V5.95001H22.58Z"
        fill="white"
      />
      <path d="M18.63 1.45001H18.13V1.70001H18.63V1.45001Z" fill="white" />
      <path
        d="M22.63 5.95001V5.45001H22.18L22.58 5.95001H22.63Z"
        fill="white"
      />
      <path
        d="M4.73999 1.20001C4.71116 1.02784 4.6466 0.863622 4.55045 0.717927C4.4543 0.572231 4.3287 0.44829 4.18174 0.354084C4.03478 0.259879 3.86971 0.197499 3.69718 0.170962C3.52465 0.144424 3.34847 0.154319 3.17999 0.200007C2.97136 0.255871 2.78112 0.365687 2.62839 0.518409C2.47567 0.671131 2.36586 0.861375 2.30999 1.07001C2.2643 1.23848 2.25441 1.41466 2.28095 1.5872C2.30748 1.75973 2.36986 1.92479 2.46407 2.07175C2.55827 2.21871 2.68222 2.34431 2.82791 2.44046C2.97361 2.53661 3.13783 2.60118 3.30999 2.63001C3.47531 2.66001 3.64468 2.66001 3.80999 2.63001H3.89999C4.10862 2.57414 4.29887 2.46433 4.45159 2.3116C4.60431 2.15888 4.71413 1.96864 4.76999 1.76001C4.76999 1.76001 4.76999 1.70001 4.76999 1.67001C4.7866 1.51277 4.77646 1.35386 4.73999 1.20001Z"
        fill="white"
      />
      <path
        d="M0.700012 25.37V16.29H3.27001V15.79H0.200012V25.87H3.27001V25.37H0.700012Z"
        fill="white"
      />
      <path d="M23.26 25.37H3.77002V25.87H23.26V25.37Z" fill="white" />
      <path
        d="M27.8 15.79H23.76V16.29H27.3V25.37H23.76V25.87H27.8V15.79Z"
        fill="white"
      />
      <path d="M23.26 15.79H3.77002V16.29H23.26V15.79Z" fill="white" />
      <path d="M23.76 25.37H23.26V25.87H23.76V25.37Z" fill="white" />
      <path d="M3.77002 25.37H3.27002V25.87H3.77002V25.37Z" fill="white" />
      <path d="M23.76 15.79H23.26V16.29H23.76V15.79Z" fill="white" />
      <path d="M3.77002 15.79H3.27002V16.29H3.77002V15.79Z" fill="white" />
      <path
        d="M8.09 18V23.63H7.61V18.87L5.8 22.28H5.32L3.53 18.87V23.64H3V18H3.62L5.57 21.7L7.47 18H8.09Z"
        fill="white"
      />
      <path
        d="M12.66 22.14H10.09L9.55 23.64H9L11 18.01H11.63L13.63 23.64H13.2L12.66 22.14ZM12.48 21.65L11.59 19.18C11.52 18.98 11.44 18.79 11.37 18.59C11.3 18.78 11.24 18.98 11.17 19.18L10.28 21.65H12.48Z"
        fill="white"
      />
      <path
        d="M13.87 18H14.37L15.45 22.19C15.45 22.39 15.55 22.6 15.6 22.8L15.74 22.2L16.74 18H17.25L18.31 22.12L18.47 22.78C18.52 22.57 18.57 22.35 18.63 22.12L19.63 18H20.14L18.68 23.63H18.17L17.2 19.4L17.06 18.84L15.85 23.64H15.33L13.87 18Z"
        fill="white"
      />
      <path
        d="M21.18 18H23.23C23.4252 17.9801 23.6224 18.0019 23.8084 18.0642C23.9945 18.1265 24.1652 18.2277 24.309 18.3611C24.4529 18.4946 24.5666 18.6571 24.6426 18.838C24.7187 19.0189 24.7553 19.2139 24.75 19.41C24.7588 19.6723 24.6868 19.931 24.5437 20.151C24.4006 20.3711 24.1934 20.5418 23.95 20.64C24.2569 20.725 24.5246 20.9143 24.7071 21.1752C24.8896 21.4362 24.9755 21.7526 24.95 22.07C24.9586 22.285 24.9206 22.4993 24.8385 22.6982C24.7565 22.8971 24.6323 23.0759 24.4746 23.2222C24.3168 23.3686 24.1293 23.479 23.9248 23.5459C23.7203 23.6129 23.5037 23.6348 23.29 23.61H21.18V18ZM23.18 20.47C23.314 20.4806 23.4487 20.4619 23.5748 20.4154C23.7009 20.3689 23.8154 20.2955 23.9105 20.2005C24.0055 20.1055 24.0788 19.9909 24.1253 19.8648C24.1719 19.7387 24.1905 19.604 24.18 19.47C24.1941 19.3352 24.178 19.199 24.1327 19.0712C24.0875 18.9435 24.0143 18.8274 23.9184 18.7316C23.8226 18.6358 23.7066 18.5625 23.5788 18.5173C23.451 18.472 23.3148 18.4559 23.18 18.47H21.67V20.47H23.18ZM23.3 23.15C23.5944 23.15 23.8767 23.0331 24.0849 22.8249C24.293 22.6168 24.41 22.3344 24.41 22.04C24.41 21.7456 24.293 21.4633 24.0849 21.2551C23.8767 21.047 23.5944 20.93 23.3 20.93H21.67V23.15H23.3Z"
        fill="white"
      />
    </g>
    <defs>
      <clipPath id="clip0_2556_1041">
        <rect width="28" height="28" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'MawbIcon',
})
</script>
