<template>
  <svg
    width="78"
    height="44"
    viewBox="0 0 78 44"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M25.8992 18.0118C30.7149 18.0118 34.6187 14.1397 34.6187 9.36332C34.6187 4.5869 30.7149 0.714844 25.8992 0.714844C21.0835 0.714844 17.1797 4.5869 17.1797 9.36332C17.1797 14.1397 21.0835 18.0118 25.8992 18.0118Z"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M52.7063 18.0118C57.522 18.0118 61.4258 14.1397 61.4258 9.36332C61.4258 4.5869 57.522 0.714844 52.7063 0.714844C47.8907 0.714844 43.9868 4.5869 43.9868 9.36332C43.9868 14.1397 47.8907 18.0118 52.7063 18.0118Z"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M47.3017 23.6726H57.5057C68.4159 23.6726 77.2651 32.464 77.2651 43.271H27.5278C27.5278 32.4497 36.3915 23.6726 47.2873 23.6726H47.3017Z"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
    <path
      d="M24.1185 43.271H0.720703C0.720703 32.464 9.16638 23.7012 19.5721 23.7012H30.9868C30.9868 23.7012 33.4225 23.8012 34.734 24.7018"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'PartnerIcon',
})
</script>
