<template>
  <svg
    width="28"
    height="28"
    viewBox="0 0 28 28"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14.03 4.27C15.0351 4.27 15.85 3.45516 15.85 2.45C15.85 1.44485 15.0351 0.630005 14.03 0.630005C13.0248 0.630005 12.21 1.44485 12.21 2.45C12.21 3.45516 13.0248 4.27 14.03 4.27Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M14.03 8.40002V4.27002"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M14.03 27.37C15.0351 27.37 15.85 26.5551 15.85 25.55C15.85 24.5448 15.0351 23.73 14.03 23.73C13.0248 23.73 12.21 24.5448 12.21 25.55C12.21 26.5551 13.0248 27.37 14.03 27.37Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M14.03 19.6V23.73"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M25.5799 15.88C26.5851 15.88 27.3999 15.0651 27.3999 14.06C27.3999 13.0548 26.5851 12.24 25.5799 12.24C24.5748 12.24 23.7599 13.0548 23.7599 14.06C23.7599 15.0651 24.5748 15.88 25.5799 15.88Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M19.63 14.06H23.76"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M2.41998 15.88C3.42513 15.88 4.23998 15.0651 4.23998 14.06C4.23998 13.0548 3.42513 12.24 2.41998 12.24C1.41482 12.24 0.599976 13.0548 0.599976 14.06C0.599976 15.0651 1.41482 15.88 2.41998 15.88Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M8.36999 14.06H4.23999"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M17.38 10.72H10.63V17.47H17.38V10.72Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M12.21 12.36H14.07"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M12.21 14H15.86"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M12.21 15.74H15.86"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M7.60164 5.63548L5.50861 7.72852L7.47436 9.69427L9.5674 7.60124L7.60164 5.63548Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M8.58997 8.59003L10.15 10.16"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M18.3691 7.60203L20.4622 9.69507L22.4279 7.72931L20.3349 5.63627L18.3691 7.60203Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M19.35 8.59003L17.79 10.16"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M9.57112 20.585L7.47809 18.492L5.51233 20.4578L7.60537 22.5508L9.57112 20.585Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M8.58997 19.6L10.15 18.02"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M20.3386 22.5575L22.4316 20.4644L20.4659 18.4987L18.3728 20.5917L20.3386 22.5575Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M19.35 19.6L17.79 18.02"
      stroke="currentColor"
      stroke-width="1"
      stroke-miterlimit="10"
    />
    <path
      d="M16.42 12.1C16.6685 12.1 16.87 11.8985 16.87 11.65C16.87 11.4015 16.6685 11.2 16.42 11.2C16.1714 11.2 15.97 11.4015 15.97 11.65C15.97 11.8985 16.1714 12.1 16.42 12.1Z"
      fill="white"
    />
  </svg>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'StatusMapping',
})
</script>
