<template>
  <div class="mx-1">
    <v-card
      v-for="(rule, index) in rules"
      :key="index"
      class="my-3 mx-1"
      outlined
      :style="`
        height: auto;
        `"
    >
      <v-card-text
        class="font-weight-bold d-flex align-center justify-space-between"
      >
        Rule {{ index + 1 }}
        <span>
          <v-btn icon @click="$emit('toggleEdit', rule)">
            <v-icon small> mdi-pencil </v-icon>
          </v-btn>
          <v-btn icon @click="deleteRule(index)">
            <v-icon small> mdi-trash-can </v-icon>
          </v-btn>
        </span>
      </v-card-text>
      <v-divider class="mx-1"></v-divider>
      <v-card-text>
        For
        <v-chip v-if="displayInDev" color="blue lighten-5 blue--text">
          {{
            rule.allCustomers
              ? 'All Customers'
              : rule.selectedCustomers.toString()
          }}
        </v-chip>
        <span v-if="displayInDev">And</span>
        <v-chip v-if="rule.allLanes" color="blue lighten-5 blue--text">
          {{ 'All Lanes' }}
        </v-chip>
      </v-card-text>
      <div v-if="!rule.allLanes">
        <v-card-text v-for="(lanepair, i) in rule.selectedLanes" :key="i">
          From
          <v-chip color="blue lighten-5 blue--text">{{
            lanepair.origin
          }}</v-chip>
          to
          <v-chip color="blue lighten-5 blue--text">{{
            lanepair.destination
          }}</v-chip>
        </v-card-text>
      </div>
      <v-card-text>
        Allocate
        <v-chip color="blue lighten-5 blue--text">
          {{ rule.allocate }}
        </v-chip>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, Ref, useFetch } from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'
import { ActionsApplications } from '~/store/applications'

export default defineComponent({
  props: {},
  setup() {
    // placeholder data
    const rules = ref([
      {
        allCustomers: true,
        allLanes: true,
        selectedCustomers: '',
        selectedLanes: [{}],
        allocate: 'Earliest Flight',
      },
      {
        allCustomers: false,
        allLanes: false,
        selectedCustomers: ['customer A', 'customer B'],
        selectedLanes: [
          { origin: 'KUL', destination: 'SIN' },
          { origin: 'JKT', destination: 'KUL' },
        ],
        allocate: 'Earliest Flight',
      },
    ])

    const deleteRule = (index: number) => {
      rules.value.splice(index, 1)
    }
    // manage features flag
    const displayInDev = ref(false) as Ref<boolean>

    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const featureFlags = ref({
      useIncoming: false,
    })
    // end manage features flag

    useFetch(async () => {
      // *check is incoming tab availability on feature flags
      featureFlags.value.useIncoming = await getFeatureFlags(
        'freight-lcontrol-rule'
      )

      if (featureFlags.value.useIncoming) {
        displayInDev.value = false
      }
    })
    return { rules, deleteRule, displayInDev }
  },
})
</script>
<style lang="scss">
.custom-border {
  border: 2px solid grey;
}
.v-card__text {
  padding-top: 4px;
  padding-bottom: 4px;
}
</style>
