<template>
  <v-card style="max-height: 100%" class="d-flex flex-column align-center my-2">
    <!-- <span>No rules yet</span> -->
    <RuleFreight class="my-2" @toggleEdit="toggleEdit" />

    <v-btn color="blue darken-1 white--text" @click="toggleAdd"
      >+ Add New Rule
    </v-btn>

    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doSubmit="doSubmit"
      @doClose="doResetModal"
    >
      <template #modalFields>
        <RuleFreightContents
          v-model="conditions"
          :is-open="dialog.form"
          :lane-rules="laneRules"
          @addLaneRules="addLaneRules"
          @removeLaneRule="removeLaneRule"
        ></RuleFreightContents>
      </template>
    </BaseModalForm>
  </v-card>
</template>

<script lang="ts">
import { defineComponent, Ref, ref } from '@nuxtjs/composition-api'

// components
import RuleFreight from '@/components/lcontrol/modular/freight/RuleFreight.vue'
import RuleFreightContents from '@/components/lcontrol/modular/freight/RuleFreightContents.vue'

// types
import { ModalConfirm } from '~/types/applications'

export default defineComponent({
  components: {
    RuleFreight,
    RuleFreightContents,
  },
  setup() {
    const dialog = ref({
      confirm: false,
      form: false,
      delete: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: 'Cancel',
      submitText: 'Save Rule',
      submitColor: 'primary',
    }) as Ref<ModalConfirm>

    // manage modal
    const laneRules = ref([{ origin: '', destination: '' }])

    const conditions = ref({
      allCustomers: true,
      allLanes: true,
      selectedCustomers: '',
      selectedLanes: [{}],
      allocate: '',
    })

    // manage lanes
    const addLaneRules = () => {
      laneRules.value.push({
        origin: '',
        destination: '',
      })
    }

    const removeLaneRule = (index: number) => {
      return laneRules.value.splice(index, 1)
    }

    const modal = {
      laneRules,
      conditions,
      addLaneRules,
      removeLaneRule,
    }
    const toggleAdd = () => {
      dialog.value.form = true
    }

    const toggleEdit = (condition: any) => {
      dialog.value.form = true
      conditions.value = condition
      if (!condition.allLanes) {
        laneRules.value = condition.selectedLanes
      }
    }

    const doSubmit = () => {
      dialogSettings.value.loading = true

      if (conditions.value.allLanes) {
        conditions.value.selectedLanes = [...laneRules.value]
      }

      setTimeout(() => {
        dialogSettings.value.loading = false
        dialog.value.form = false

        conditions.value = {
          allCustomers: true,
          allLanes: true,
          selectedCustomers: '',
          selectedLanes: [{}],
          allocate: '',
        }

        laneRules.value = [{ origin: '', destination: '' }]
      }, 1500)

      // return
    }
    const doResetModal = () => {
      dialogSettings.value.loading = false
      dialog.value.form = false

      conditions.value = {
        allCustomers: true,
        allLanes: true,
        selectedCustomers: '',
        selectedLanes: [{}],
        allocate: '',
      }

      laneRules.value = [{ origin: '', destination: '' }]
    }

    return {
      dialog,
      dialogSettings,
      ...modal,
      toggleAdd,
      toggleEdit,
      doSubmit,
      doResetModal,
    }
  },
})
</script>
<!-- <style lang="scss">
.v-dialog {
  max-width: 50% !important;
}
</style> -->
