<template>
  <v-card-text>
    <div class="conditions px-6 pb-5">
      <v-row v-if="displayInDev" class="d-flex flex-column">
        <div
          class="d-flex justify-space-between pt-2"
          :style="`
              font-size: 16px;
            `"
        >
          For
        </div>
        <v-checkbox
          v-model="conditions.allCustomers"
          :label="`All Customers`"
          hide-details
        />
        <ValidationProvider
          v-if="!conditions.allCustomers"
          slim
          rules="required"
          tag="div"
          class="mt-2"
        >
          <v-combobox
            v-model="conditions.selectedCustomers"
            :items="[
              'Customer A',
              'Customer B',
              'Customer C',
              'Customer D',
              'Customer E',
            ]"
            multiple
            chips
            hide-details
          />
        </ValidationProvider>
      </v-row>
      <v-row class="d-flex flex-column">
        <div
          v-if="displayInDev"
          class="mr-3 pt-2"
          :style="`
              font-size: 16px;
            `"
        >
          And
        </div>
        <v-checkbox v-model="conditions.allLanes" :label="`All Lanes`" />

        <div v-if="!conditions.allLanes" class="d-flex flex-column">
          <div v-for="(lane, i) in laneRules" :key="i" class="d-flex">
            <ValidationProvider slim rules="required" tag="div" class="mt-2">
              <v-select
                v-model="lane.origin"
                label="Origin"
                :items="['SIN', 'KUL', 'JKT', 'SYD', 'MEL']"
                outlined
                rounded
                dense
              />
            </ValidationProvider>
            <span
              class="mx-3 pt-2"
              :style="`
              font-size: 16px;
            `"
              >To</span
            >
            <ValidationProvider slim rules="required" tag="div" class="mt-2">
              <v-select
                v-model="lane.destination"
                label="Destination"
                :items="['SIN', 'KUL', 'JKT', 'SYD', 'MEL']"
                outlined
                rounded
                dense
              />
            </ValidationProvider>

            <v-btn
              class="ml-1"
              icon
              :disabled="i === 0"
              @click="$emit('removeLaneRule', i)"
            >
              <v-icon v-if="i !== 0" medium> mdi-trash-can </v-icon>
            </v-btn>
          </div>
          <v-btn color="primary" depressed @click="$emit('addLaneRules')"
            >+ Add More Lanes
          </v-btn>
        </div>
      </v-row>

      <v-row class="pt-5">
        <div
          class="mt-5"
          :style="`
              font-size: 16px;
            `"
        >
          Allocate
        </div>
        <v-col cols="7">
          <ValidationProvider slim rules="required" tag="div" class="mt-2">
            <v-select
              v-model="conditions.allocate"
              :items="
                displayInDev
                  ? ['Earliest Flight', 'Cheapest Flight']
                  : ['Earliest Flight']
              "
              outlined
              rounded
              dense
              color="blue"
              hide-details
            >
            </v-select>
          </ValidationProvider>
        </v-col>
      </v-row>
    </div>
  </v-card-text>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  PropType,
  ref,
  Ref,
  useFetch,
  watch,
} from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'
import { ValidationProvider } from 'vee-validate'
import { ActionsApplications } from '~/store/applications'

export interface LaneRule {
  origin: String
  destination: String
}

export default defineComponent({
  components: { ValidationProvider },
  props: {
    value: {
      type: Object,
      required: true,
    },
    laneRules: {
      type: Array as PropType<LaneRule[]>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const displayInDev = ref(false) as Ref<boolean>
    // manage features flag
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const featureFlags = ref({
      useIncoming: false,
    })
    // end manage features flag

    useFetch(async () => {
      // *check is incoming tab availability on feature flags
      featureFlags.value.useIncoming = await getFeatureFlags(
        'freight-lcontrol-rule'
      )

      if (featureFlags.value.useIncoming) {
        displayInDev.value = true
      }
    })
    const conditions = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })

    watch(
      () => conditions.value.allCustomers,
      (value) => {
        if (value) {
          conditions.value.selectedCustomers = ''
        }
      }
    )

    return { conditions, displayInDev }
  },
})
</script>
<style lang="scss">
.conditions {
  background-color: #edf5ff;
  border-color: black;
}
</style>
