<template>
  <div>
    <!-- for pages other than incoming partner bagging -->
    <v-btn
      v-if="!isOn.partnerPortal.baggingIncoming"
      text
      color="primary"
      @click="$emit('doGetDetails')"
    >
      <span>
        {{ data.orderCode }}
      </span>

      <v-icon v-if="isFreightForwarder" class="ml-1"> mdi-airplane </v-icon>
    </v-btn>

    <span v-else>
      {{ data.orderCode }}
    </span>
  </div>
</template>

<script lang="ts">
import {
  PropType,
  computed,
  defineComponent,
  useRoute,
} from '@nuxtjs/composition-api'

// types
import { Order } from '~/types/orders'

export default defineComponent({
  name: 'OrderCodeCell',
  props: {
    data: {
      type: Object as PropType<Order>,
      required: true,
    },
  },
  setup(props) {
    // manage route
    const route = useRoute()
    // *check the active routes matching
    const isOn = computed(() => ({
      partnerPortal: {
        // for incoming bagging
        baggingIncoming: route.value.name === 'partner-portals-id-bagging',
      },
    }))
    const routeState = { isOn }

    const isFreightForwarder = computed(
      () =>
        !!props.data.requestedServices &&
        props.data.requestedServices.includes('FREIGHT_FORWARDER')
    )
    const cellState = { isFreightForwarder }

    return {
      ...routeState,
      ...cellState,
    }
  },
})
</script>
