<template>
  <div class="chat-container-all">
    <vue-advanced-chat
      ref="chatRef"
      current-user-id="client"
      :room-id="roomId"
      :rooms="JSON.stringify(rooms)"
      :messages="JSON.stringify(messagesLines)"
      :messages-loaded="messageOptions.messagesLoaded"
      :show-files="'true'"
      :show-emojis="'false'"
      :show-audio="'false'"
      :show-reaction-emojis="'false'"
      :show-add-room="'false'"
      :message-actions="[]"
      :accepted-files="'image/png, image/jpeg, application/pdf, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/pdf, text/csv'"
      :rooms-loaded="roomLoaded"
      :loading-rooms="loadingRooms"
      :rooms-order="'desc'"
      :custom-search-room-enabled="'true'"
      :styles="JSON.stringify(stylesCustom)"
      @search-room="searchRoom($event.detail[0])"
      @send-message="sendMessage($event.detail[0])"
      @fetch-more-rooms="fetchMoreRooms"
      @fetch-messages="fetchMessages($event.detail[0])"
      @open-file="openFile($event.detail[0])"
    />
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onMounted,
  PropType,
  ref,
  Ref,
  useContext,
  useFetch,
  useStore,
  watch,
} from '@nuxtjs/composition-api'
import SendBird from 'sendbird'
import { v4 as uuidv4 } from 'uuid'
import { register } from 'vue-advanced-chat'
import { customizeVueAdvancedChatStyles } from '~/composables/base/applications/l-chat/shadow-root'

// types - start
import type { ChatRoom, VuexModuleChat } from '~/types/sendbird'
// types - end

register()

export default defineComponent({
  props: {
    isIncoming: {
      type: Boolean as PropType<Boolean>,
      default: false,
    },
    isOpen: {
      type: Boolean as PropType<Boolean>,
      default: false,
    },
  },
  setup(props) {
    const { $dateFns, $config } = useContext()
    const sb = new SendBird({
      appId: $config.sendBirdKey,
      localCacheEnabled: true,
    })
    // const storeSendBird = useStore<VuexModuleSendBird>()
    const chatRef = ref(null) as Ref<any>
    const rooms = ref([]) as any
    const roomsChannel = ref([]) as any
    const selectedRoomChannel = ref({}) as any
    const roomId = ref('') as any
    const roomOptions = ref({
      roomsLoaded: false,
    })
    const messageOptions = ref({
      messagesLoaded: false,
    })
    const loadingRooms = ref(true)
    const msgInput = ref('')
    const listQuery = ref({}) as any
    const messages = ref([] as any)
    const page = ref(2)

    const channelHandler = new sb.ChannelHandler() as any

    // store manage
    const storeChat = useStore<VuexModuleChat>()
    const search = ref('') as any
    const chatRoom = computed(() => storeChat.state.sendbird.chatRoom)
    const roomLoaded = computed(() => storeChat.state.sendbird.roomLoaded)
    const newRoomLoaded = computed(() => storeChat.state.sendbird.newRoomLoaded)

    const stylesCustom = {}

    useFetch(async () => {
      await fetchRooms()
    })

    const sendMessage = ({
      content,
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      _roomId,
      files,
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      _replyMessage,
    }: any) => {
      const msg = new sb.UserMessageParams()
      msg.message = content ?? ''

      if (selectedRoomChannel.value && files && files.length > 0) {
        const msgFile = new sb.FileMessageParams()
        msgFile.file = new File(
          [files[0].blob],
          `${files[0].name}.${files[0].extension}`,
          files[0].blob
        )
        msgFile.fileName = `${files[0].name}.${files[0].extension}`
        msgFile.fileSize = files[0].size

        selectedRoomChannel.value.sendFileMessage(msgFile, (msg: any) => {
          messages.value = [...messages.value, ...parsingMessages([msg])]
          msgInput.value = ''
        })
      }
      if (selectedRoomChannel.value && content) {
        selectedRoomChannel.value.sendUserMessage(msg, (msg: any) => {
          messages.value = [...messages.value, ...parsingMessages([msg])]
          msgInput.value = ''
        })
      }
    }

    const messagesLines = computed(() => {
      return messages.value
    })

    function parsingRooms(data: any, chatChannel: ChatRoom[]) {
      return data.map((x: any, i: number) => {
        const lastMessage = x?.lastMessage

        let lastMessageCust = lastMessage
          ? {
              content: lastMessage?.message,
              senderId: lastMessage?._sender?.userId,
              username: lastMessage?._sender?.nickname,
              timestamp: $dateFns.format(
                new Date(lastMessage?.createdAt),
                'HH:mm'
              ),
            }
          : null
        if (
          lastMessageCust &&
          lastMessage &&
          lastMessage?.messageType === 'file'
        ) {
          lastMessageCust = {
            ...lastMessageCust,
            content: lastMessage?.url,
          }
        }

        return {
          roomId: x?.url,
          roomName:
            chatChannel[i] && chatChannel[i].name
              ? chatChannel[i].name
              : x?.status,
          avatar:
            chatChannel[i] && chatChannel[i]?.partner?.logo
              ? `data:image/png;base64,${chatChannel[i]?.partner?.logo}`
              : x?.coverUrl,
          unreadCount: x?.unreadMessageCount,
          lastMessage: lastMessageCust,
          users: x?.members.map((y: any) => {
            return {
              _id: y.userId,
              username: y.nickname,
              avatar: '',
            }
          }),
        }
      })
    }

    function parsingMessages(data: any) {
      if (data && data.length > 0) {
        return data.map((x: any, _i: number) => {
          return {
            _id: x?.messageId,
            indexId: x?.messageId,
            content: x?.message ?? '',
            senderId:
              x?._sender?.metaData?.luwjistik_id !== undefined
                ? 'client'
                : 'partner',
            username: x?._sender?.nickname,
            date: $dateFns.format(new Date(x?.createdAt), 'dd MMMM'),
            timestamp: $dateFns.format(new Date(x?.createdAt), 'HH:mm'),
            files: x?.plainUrl
              ? [
                  {
                    name: x?.name,
                    size: x?.size,
                    type: x?.type,
                    url: x?.url,
                    preview: x?.url,
                  },
                ]
              : [],
          }
        })
      } else {
        return []
      }
    }

    async function fetchMoreRooms() {
      const dataParams = {
        page: page.value,
        perPage: 8,
        sortDesc: true,
      }

      page.value += 1

      try {
        const response = await storeChat.dispatch('sendbird/getChatRoom', {
          params: dataParams,
          isCommit: false,
        })

        if (response.data.length >= 8) {
          const roomChanelling = await chanellingRooms(response.data)

          const parseRooms = parsingRooms(roomChanelling, response.data)

          parseRooms.map((el: any) => {
            return rooms.value.push(el)
          })

          return (roomsChannel.value = [
            ...roomsChannel.value,
            ...roomChanelling,
          ])
        }

        return storeChat.dispatch('sendbird/setRoomLoaded', true)
      } catch (error) {
        return error
      }
    }

    async function fetchRooms() {
      if (chatRoom.value && chatRoom.value.length > 0) {
        const roomChanelling = await chanellingRooms(chatRoom.value)

        rooms.value = parsingRooms(roomChanelling, chatRoom.value)
        roomsChannel.value = roomChanelling
      }

      loadingRooms.value = false
    }

    async function chanellingRooms(data: ChatRoom[]) {
      return await Promise.all(
        (data as unknown as any[]).map(async (el: any) => {
          try {
            const room = (await sb.GroupChannel.getChannel(
              el?.sendbirdChannelURL
            )) as any
            setTimeout(() => {
              room.markAsDelivered()
            }, 2000)

            return room
          } catch (error) {
            // rejoin thread if there's any error
            await storeChat.dispatch('sendbird/rejoinThread', {
              threadId: el?.id,
            })

            const room = (await sb.GroupChannel.getChannel(
              el?.sendbirdChannelURL
            )) as any
            setTimeout(() => {
              room.markAsDelivered()
            }, 2000)

            return room
          }
        })
      )
    }

    function resetMessages() {
      messages.value = []
    }

    const onlyOnceMarkRead = ref(false) as Ref<Boolean>

    watch(newRoomLoaded, async (oldValue, newValue) => {
      if (oldValue !== newValue) {
        await fetchRooms()
      }
    })

    watch(
      () => [
        messages.value,
        selectedRoomChannel.value,
        roomId.value,
        props.isOpen,
      ],
      async ([_newMessage, newRooms, newRoomId, newIsOpen]) => {
        if (
          newRooms &&
          newRooms.url === newRoomId &&
          newRooms.unreadMessageCount !== 0 &&
          !onlyOnceMarkRead.value &&
          newIsOpen
        ) {
          onlyOnceMarkRead.value = true
          await newRooms
            .markAsRead()
            .then(() => {
              rooms.value = rooms.value.map((x: any) => {
                if (x.roomId === newRooms.url) {
                  return {
                    ...x,
                    unreadCount: 0,
                  }
                } else {
                  return x
                }
              })
              roomsChannel.value = roomsChannel.value.map((x: any) => {
                if (x.url === newRooms.url) {
                  return {
                    ...x,
                    unreadMessageCount: 0,
                  }
                } else {
                  return x
                }
              })
              onlyOnceMarkRead.value = false
            })
            .catch((_err: any) => {})
        }
      },
      { deep: true }
    )

    function deliveryReceiptUpdated() {
      channelHandler.onChannelChanged = function (channel: any) {
        rooms.value = rooms.value.map((x: any, _i: number) => {
          if (x.roomId === channel.url) {
            const lastMessage = channel.lastMessage
            const unreadCount = channel.unreadMessageCount

            let lastMessageCust = {
              content: lastMessage?.message,
              senderId: lastMessage?._sender?.userId,
              username: lastMessage?._sender?.nickname,
              timestamp: $dateFns.format(
                new Date(lastMessage?.createdAt),
                'HH:mm'
              ),
            }
            if (lastMessage && lastMessage?.messageType === 'file') {
              lastMessageCust = {
                ...lastMessageCust,
                content: lastMessage?.url,
              }
            }
            return {
              ...x,
              unreadCount,
              lastMessage: lastMessageCust,
            }
          } else {
            return x
          }
        })
        roomsChannel.value = roomsChannel.value.map((x: any) => {
          if (x.url === channel.url) {
            return channel
          } else {
            return x
          }
        })
      }
    }

    function fetchMessages({ room, options = {} }: any) {
      const roomChannel = [...roomsChannel.value].filter(
        (x: any) => x.url === room.roomId
      )[0]

      selectedRoomChannel.value = roomChannel
      if (
        options.reset &&
        roomChannel &&
        roomChannel.createPreviousMessageListQuery
      ) {
        resetMessages()
        roomId.value = room.roomId
        listQuery.value = roomChannel.createPreviousMessageListQuery()
      }

      if (listQuery.value) {
        const LIMIT = 30
        listQuery.value.limit = LIMIT
        listQuery.value.load(function (messageList: any, error: any) {
          if (error) {
            // Handle error.
          }

          if (
            messageList &&
            (messageList.length === 0 || messageList.length < LIMIT)
          ) {
            setTimeout(() => (messageOptions.value.messagesLoaded = true), 0)
          }

          if (options.reset) messages.value = []
          messages.value = [...parsingMessages(messageList), ...messages.value]
        })
      }

      channelHandler.onMessageReceived = function (channel: any, message: any) {
        // FILTERED DUPLICATED MESSAGE
        if (selectedRoomChannel.value.url === channel.url) {
          messages.value = [
            ...messages.value,
            ...parsingMessages([message]),
          ].reduce((acc, current) => {
            const x = acc.find((item: any) => item.indexId === current.indexId)
            if (!x) {
              return acc.concat([current])
            } else {
              return acc
            }
          }, [])
        }
      }
      deliveryReceiptUpdated()
      sb.addChannelHandler(uuidv4(), channelHandler)
    }

    async function searchRoom({ value }: any) {
      if (value.length > 2 || value.length === 0) {
        await storeChat.dispatch('sendbird/setRoomLoaded', false)
        const chat = await storeChat.dispatch('sendbird/getChatRoom', {
          params: {
            page: 1,
            perPage: 8,
            nameContains: value,
          },
          isCommit: true,
        })
        page.value = 2

        await fetchRooms()

        if (chat.data.length < 8) {
          await storeChat.dispatch('sendbird/setRoomLoaded', true)
        }
      }
    }

    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    function openFile({ file, ..._rest }: { file: any }) {
      window.open(file?.file?.preview, '_self')
    }

    onMounted(() => {
      customizeVueAdvancedChatStyles()
    })

    return {
      sendMessage,
      msgInput,
      messagesLines,
      rooms,
      fetchMoreRooms,
      loadingRooms,
      roomOptions,
      fetchMessages,
      roomId,
      messageOptions,
      openFile,
      stylesCustom,
      chatRef,
      search,
      chatRoom,
      roomLoaded,
      searchRoom,
      newRoomLoaded,
    }
  },
})
</script>
