<template>
  <v-card-text class="px-6">
    <ValidationProvider
      v-slot="{ errors }"
      slim
      name="Topic"
      rules="required"
      tag="div"
    >
      <p>
        Hi! how can we help you today? Please type your message here and
        {{ form.networkPartner }} will look at your issue for order number
        {{ form.orderCode }} and come back to you as soon as possible
      </p>
      <v-textarea
        v-model="form.topic"
        :error-messages="errors"
        placeholder="Send a message ..."
        type="text"
        rows="3"
        row-height="24"
        rounded
        required
        dense
        outlined
      />
    </ValidationProvider>
  </v-card-text>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from '@nuxtjs/composition-api'
import { ValidationProvider } from 'vee-validate'
// Interfaces and types
import { ActionChat } from '~/types/sendbird'

export default defineComponent({
  components: {
    ValidationProvider,
  },
  props: {
    value: {
      type: Object as PropType<ActionChat>,
      required: true,
    },
    action: {
      type: String,
      default: '',
    },
  },
  setup(props, { emit }) {
    const form = computed({
      get: (): ActionChat => props.value,
      set: (value: ActionChat) => emit('input', value),
    })

    return {
      form,
    }
  },
})
</script>
