@import '@/assets/scss/color.module.scss';

.scroller {
  &::-webkit-scrollbar {
    width: 0.25em; /* counts only for the vertical scrollbar */
    height: 0.25em; /* counts only for the horizontal scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background: #c9e1ff;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
    opacity: 0.8;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.l-control-toggle {
  width: 10rem;
  border: 1px solid $primary !important;
}

.border-bottom {
  border-bottom: 1px dashed red;
}

// for header
.header-wrapper {
  display: flex;
  width: 100%;
  padding: 0 40px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  /* height: 100%; */
  .country-wrapper {
    min-width: 250px;
  }

  .service-wrapper {
    min-width: 300px;
  }

  .zone-wrapper {
    width: 100%;

    .v-breadcrumbs {
      li {
        font-size: 20px;
        line-height: 24px;
      }

      .active-bread {
        color: $primary;
      }
    }
  }
}

// for modular l-control style
.l-control-modular {
  .v-card {
    overflow: hidden;
    height: calc(100vh - 144px);
    max-height: 798px;
  }

  .service-color {
    background: $blueControl !important;
  }

  .red-color {
    color: #ff3d17;
  }

  .content-wrapper {
    display: flex;
    height: calc(100% - 81px);
    width: 100%;
    /* padding: 0 44px; */
    /* height: 100%; */
    .disabled {
      pointer-events: none;
      opacity: 0.4;
      cursor: not-allowed;
    }

    .text {
      font-size: 18px;
      line-height: 24px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        opacity: 0.8;
        background: #edf5ff73;
      }
    }

    .padding-text-country {
      padding: 40px;
    }

    .blue-scroller {
      &::-webkit-scrollbar-track {
        background: $blueControl;
      }
    }

    .country-wrapper-content {
      min-width: calc(250px + 40px);
      overflow-y: scroll;

      &::-webkit-scrollbar-track {
        background: #edf5ff;
      }
    }

    .service-wrapper-content {
      min-width: 300px;
      width: 250px;
      overflow-y: scroll;

      & > * {
        padding: 24px 32px;

        &:first-child {
          padding-top: 48px;
        }

        &:last-child {
          padding-bottom: 48px;
        }
      }
    }

    .zone-wrapper-content {
      width: 100%;
      overflow-y: scroll;

      .text {
        cursor: unset;

        &:hover {
          opacity: 1;
          background: unset;
        }
      }

      .zone-text {
        & > * {
          padding: 32px;

          &:first-child {
            padding-top: 64px;
          }

          &:last-child {
            padding-bottom: 64px;
          }
        }
      }

      .content-zone-selected {
        height: 100%;
        padding: 48px 32px;
        display: flex;

        & > * {
          &:first-child {
            margin-right: 16px;
          }

          &:last-child {
            width: 100%;
          }
        }

        .zone-column-right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }
      }
    }
  }

  .btn-COD {
    margin-top: 10px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  .disabled {
    &.btn-COD {
      cursor: not-allowed;
    }

    opacity: 0.5;
    pointer-events: none;
  }
}

//for sri l-control style
.l-control-sri {
  .content-wrapper {
    height: calc(100% - 81px);
    width: 100%;
    overflow: scroll;

    .disabled {
      pointer-events: none;
      opacity: 0.4;
      cursor: not-allowed;
    }

    .form-content {
      width: 100%;

      .blue-background {
        background: $blueControl;
      }
    }
  }
}
