<template>
  <section class="base">
    <v-row
      align="center"
      justify="center"
      no-gutters
      style="min-height: 100dvh"
      class="primary"
    >
      <v-col
        cols="12"
        md="4"
        class="white rounded-xl pa-4 py-8 pa-md-15 elevation-2"
      >
        <div class="d-flex flex-column align-center text-center">
          <NuxtImg
            src="/images/Luwjistik Logo FA-01.png"
            preload
            format="webp"
            class="d-inline-block mb-8"
            style="width: 125px"
          />

          <div>
            <h1 class="primary--text font-weight-bold text-h4 mb-4">
              One More Step...
            </h1>

            <p>
              Open your authenticator app on your phone, and enter the OTP code
              here to finish login.
            </p>
          </div>

          <ValidationObserver
            ref="submitOTPForm"
            tag="form"
            style="width: 100%"
            @submit.stop.prevent="onSubmitOTP"
          >
            <v-otp-input
              ref="otpInputRef"
              v-model="formOTP"
              autofocus
              :disabled="isLoading"
              class="otp rounded-lg my-8 mx-auto"
              style="max-width: 350px"
              @finish="onSubmitOTP"
            />

            <v-btn
              block
              x-large
              rounded
              color="primary"
              type="submit"
              class="my-6"
              :disabled="!isActiveOTPButton"
              :loading="isLoading"
            >
              Verify
            </v-btn>

            <v-btn
              nuxt
              block
              x-large
              rounded
              outlined
              exact
              to="/login"
              color="primary"
              :loading="isLoading"
            >
              Back
            </v-btn>
          </ValidationObserver>
        </div>
      </v-col>
    </v-row>

    <NotificationFloating />
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onUnmounted,
  ref,
  useMeta,
} from '@nuxtjs/composition-api'
import { ValidationObserver } from 'vee-validate'
import { useSessionStorage } from '@vueuse/core'
import { useFetchEngine } from '~/composables/base/fetch-engine'

// components - start
import NotificationFloating from '@/components/base/NotificationFloating.vue'
// components - end

// store - start
import { useLoginStore } from '~/store/base/applications/login'
// store - end

// types - start
import type { LoginOTPPayload } from '~/types/clients/profiles/mfa'
import { storeLoginCredentials } from '~/composables/base/applications/login'
// types - end

export default defineComponent({
  name: 'ValidateOTPPages',
  components: {
    ValidationObserver,
    NotificationFloating,
  },
  layout: 'guest',
  middleware: ['mfa-activation'],
  setup(_props, setupContext) {
    // manage store - start
    const loginStore = useLoginStore()
    const { verifyLoginOTPAPI } = loginStore
    // manage store - end

    // manage form - start
    const formOTP = ref('')
    const isActiveOTPButton = computed(() => formOTP.value.length >= 6)
    const onSubmitOTP = async () => {
      const handleSubmitFn = async () => {
        // define the payload
        const userIdSession = useSessionStorage('userId', '')
        const payload: LoginOTPPayload = {
          token: formOTP.value,
          userId: userIdSession.value,
        }

        // hit the API endpoint
        const verifyRes = await verifyLoginOTPAPI(payload)

        // login successfully
        const userDetails = verifyRes?.data?.value
        if (userDetails && userDetails?.token) {
          await storeLoginCredentials(userDetails)
        }

        return verifyRes
      }
      await useFetchEngine(setupContext, handleSubmitFn, {
        customLoadingFn: toggleLoading,
      })
    }
    const manageForm = {
      formOTP,
      isActiveOTPButton,
      onSubmitOTP,
    }
    // manage form - end

    // manage fetch & pages lifecycle - start
    const isLoading = ref(false)
    const toggleLoading = () => {
      isLoading.value = !isLoading.value
    }
    useMeta(() => ({ title: `Client Portal | Validate OTP` }))
    onUnmounted(() => {
      sessionStorage.clear()
    })
    const manageFetch = {
      isLoading,
    }
    // manage fetch & pages lifecycle - end

    return {
      ...manageForm,
      ...manageFetch,
    }
  },
  head: {},
})
</script>
