<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseHeadlinePage
      title="Manage Profile"
      subtitle="Here are your profile details and you can do other management related to your profile."
    />

    <!-- profile information -->
    <ProfilesInformations :user="user" />

    <!-- manage credential feature -->
    <ManageCredentials />

    <v-divider class="my-6" />

    <!-- manage subscriptions -->
    <ManageSubscriptions />

    <v-divider class="my-6" />

    <!-- manage password feature -->
    <ManagePassword />

    <template v-if="isUseFlags.mfa">
      <v-divider class="my-6" />

      <!-- manage multi factor authentication -->
      <ManageMFA />
    </template>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  useMeta,
  useContext,
  reactive,
  useFetch,
} from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'

// components - start
import ManageCredentials from '~/components/profiles/credentials/ManageCredentials.vue'
import ManageSubscriptions from '~/components/profiles/subscriptions/ManageSubscriptions.vue'
import ManagePassword from '~/components/profiles/password/ManagePassword.vue'
import ManageMFA from '~/components/profiles/mfa/ManageMFA.vue'
// components - end

// types - start
import type { User } from '~/types/base/applications/login'
import type { ActionsApplications } from '~/store/applications'
// types - end

const FeatureContainer = {
  ManageMFA,
  ManageCredentials,
  ManageSubscriptions,
  ManagePassword,
}

export default defineComponent({
  name: 'ProfilePages',
  components: { ...FeatureContainer },
  layout: 'default',
  setup() {
    useMeta({ titleTemplate: '%s | Profiles' })

    // manage feature flags - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const isUseFlags = reactive({
      mfa: false,
    })
    const manageFlags = {
      isUseFlags,
    }
    // manage feature flags - end

    // manage user - start
    const { $auth } = useContext()
    const user = computed<User>(
      () => $auth.$storage.getLocalStorage('user') as User
    )
    const manageUser = {
      user,
    }
    // manage user - end

    // manage fetch - start
    useFetch(async () => {
      isUseFlags.mfa = await getFeatureFlags(
        'use-190-multi-factor-authentication'
      )
    })
    // manage fetch - end

    return {
      ...manageFlags,
      ...manageUser,
    }
  },
  head: {},
})
</script>
