<template>
  <article style="height: 100%">
    <Heading />

    <section class="content-wrapper scroller">
      <ValidationObserver
        ref="formObserver"
        v-slot="{ invalid, reset }"
        class="form-content pa-10 pt-4"
        eager
        style="width: 100%"
        tag="article"
      >
        <!-- empty data -->
        <EmptyData v-if="!formAllocations.data.length" />

        <!-- form header -->
        <FormHeadings
          v-if="!!formAllocations.data.length"
          :headers="formAllocations.column"
        />

        <!-- form fields -->
        <FormFields
          v-model="formAllocations.data"
          @remove="handleModalActions.delete"
          @resetForm="reset()"
          @submitForm="handleFormAllocations.submit"
        />

        <!-- add form actions -->
        <FormActions
          :disabled="invalid || isLoading"
          @addFormAllocation="handleFormAllocations.add"
        />
      </ValidationObserver>
    </section>

    <!-- for delete SRI -->
    <BaseModalConfirm
      v-model="dialog.deleteSRI"
      :dialog-settings="dialogSettings"
      @doSubmit="handleFormAllocations.remove"
    />
  </article>
</template>

<script lang="ts">
import {
  defineComponent,
  provide,
  Ref,
  ref,
  useContext,
  useFetch,
} from '@nuxtjs/composition-api'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { CancelTokenSource, AxiosResponse } from 'axios'
import { useActions, useState, useMutations } from 'vuex-composition-helpers'

// components
import Heading from '@/components/lcontrol/Heading.vue'
import FormActions from '~/components/lcontrol/sri/FormAllocation/Actions.vue'
import FormHeadings from '~/components/lcontrol/sri/FormAllocation/Headings.vue'
import FormFields from '~/components/lcontrol/sri/FormAllocation/Fields.vue'
import EmptyData from '~/components/lcontrol/sri/FormAllocation/EmptyData.vue'
// end

// types
import { SRI } from '~/types/lControl/sri'
import { ActionsSRILControl, StateSRILanes } from '~/store/lControls/sri'
import { MutationsApplications } from '~/store/applications'
import { ErrorAPI, ModalConfirm } from '~/types/applications'

export interface SRIForm extends SRI {
  status: boolean
}

export interface SRILControlFetch {
  fetchWithToken: (fn: Function) => Promise<void>
  isLoading: Ref<Boolean>
}
// end

// initialization
const Form = {
  FormActions,
  FormHeadings,
  FormFields,
}
const VeeValidate = { ValidationObserver, ValidationProvider }
const initFormAllocation = {
  originCountry: '',
  destinationCountry: '',
  status: false,
} as SRIForm
// end

export default defineComponent({
  name: 'SRIContent',
  components: {
    ...Form,
    ...VeeValidate,
    EmptyData,
    Heading,
  },
  setup(_props) {
    const { $axios, $customUtils } = useContext()

    //  manage store
    const { sriLanes: sriLanesStore } = useState<StateSRILanes>(
      'lControls/sri',
      ['sriLanes']
    )
    const { getSRILanesAPI, postSRILanesAPI, deleteSRILanesAPI } =
      useActions<ActionsSRILControl>('lControls/sri', [
        'getSRILanesAPI',
        'postSRILanesAPI',
        'deleteSRILanesAPI',
      ])
    const { RESET_ALERT: doResetAlert, SET_ALERT: doSetAlert } =
      useMutations<MutationsApplications>('applications', [
        'RESET_ALERT',
        'SET_ALERT',
      ])
    //  end

    //  manage fetch
    const source = ref({}) as Ref<CancelTokenSource>
    const isLoading = ref(false)
    const fetchWithToken = async (fn: Function) => {
      const { token } = source?.value

      try {
        isLoading.value = true

        // Cancel any previous requests
        if (token) {
          source.value.cancel('Duplicate request detected')
        }

        // Create a new cancellation token
        source.value = $axios.CancelToken.source()

        await fn()
      } catch (error) {
        /* eslint-disable no-console */
        console.error(error)
      } finally {
        setTimeout(() => {
          isLoading.value = false
        }, 500)
      }
    }
    const getSRILControl = async () => {
      await fetchWithToken(async () => {
        await getSRILanesAPI()
      })

      formAllocations.value.data = [
        ...sriLanesStore.value.map((sri) => ({ ...sri, status: true })),
      ]
    }
    useFetch(async () => {
      await Promise.allSettled([await getSRILControl()])
    })
    provide<SRILControlFetch>('SRILControlFetch', {
      fetchWithToken,
      isLoading,
    })
    const stateStore = { isLoading, getSRILControl }
    //  end

    //  manage modal
    const dialog = ref({
      deleteSRI: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: 'Are you sure to delete this ?',
      content: 'The data will be deleted permanently!',
      cancelText: 'Cancel',
      submitText: 'Delete',
      submitColor: 'secondary white--text',
    }) as Ref<ModalConfirm>
    const selectedSRIIndex = ref(null) as Ref<number | null>
    const handleModalActions = {
      delete: (index: number) => {
        dialogSettings.value.loading = true
        selectedSRIIndex.value = index
        dialog.value = {
          deleteSRI: true,
        }
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 500)
      },
    }
    const stateModal = { dialog, dialogSettings, handleModalActions }
    //  end

    //  manage form
    const formAllocations = ref({
      column: ['ORIGIN COUNTRY', 'DESTINATION COUNTRY', 'STATUS', 'ACTIONS'],
      data: [] as SRIForm[],
    })
    const handleFormAllocations = {
      add: () => {
        formAllocations.value.data = [
          ...formAllocations.value.data,
          { ...initFormAllocation },
        ]
      },
      async remove() {
        //  prevent the not existed of data
        const index = selectedSRIIndex.value
        const isNotValidForm =
          !formAllocations.value.data.length ||
          typeof index !== 'number' ||
          !dialog.value.deleteSRI
        if (isNotValidForm) return

        /** find the payload form data
         *
         *  if payload not found & the destination is empty,
         *  form will not be submitting to API,
         */
        const payload = formAllocations.value.data.find(
          (_form, indexForm) => indexForm === index
        )
        if (!payload) return

        doResetAlert()
        await fetchWithToken(async () => {
          try {
            dialogSettings.value.loading = true

            //  if delete the inactive status, just do remove from UI
            const { status: statusPayload, ...restPayload } = payload
            if (!statusPayload) {
              formAllocations.value.data.splice(index, 1)
              return
            }

            await deleteSRILanesAPI({
              data: { ...restPayload },
              cancelToken: source.value.token,
            })
            doSetAlert({
              isShow: true,
              type: 'success',
              message: `Successfully to deleted order allocation using SRI!`,
            })
          } catch (error) {
            const message = $customUtils.getErrorMessages(
              error as { response: AxiosResponse<ErrorAPI> },
              `Failed to deleted order allocation using SRI!!`
            )

            doSetAlert({
              isShow: true,
              type: 'error',
              message,
            })
          } finally {
            await getSRILControl()
            setTimeout(() => {
              dialogSettings.value.loading = false
              dialog.value = {
                deleteSRI: false,
              }
            }, 500)
          }
        })
      },
      async submit(index: number) {
        //  prevent the not existed of data
        if (!formAllocations.value.data.length) return

        /** find the payload form data
         *
         *  if payload not found & the destination is empty,
         *  form will not be submitting to API
         */
        const payload = formAllocations.value.data.find(
          (_form, indexForm) => indexForm === index
        )
        if (!payload || !payload.destinationCountry) return

        /** check the type of form
         *
         *  @type edit : the status data is inactive (false)
         *  @type add : the opposite from edit type
         */
        const { status: statusPayload, ...restPayload } = payload
        const actions = statusPayload ? 'edit' : 'add'
        const actionsMessage = actions === 'add' ? 'added' : 'updated'

        await fetchWithToken(async () => {
          doResetAlert()
          try {
            //  for submitting form type edit, the data will be deleted first
            if (actions === 'edit') {
              const deletePayload = sriLanesStore.value.find(
                (_store, indexStore) => indexStore === index
              )

              if (!deletePayload) return

              await deleteSRILanesAPI({
                data: { ...deletePayload },
                cancelToken: source.value.token,
              })
            }

            await postSRILanesAPI({
              data: { ...restPayload },
              cancelToken: source.value.token,
            })
            doSetAlert({
              isShow: true,
              type: 'success',
              message: `Successfully to ${actionsMessage} order allocation using SRI!`,
            })
          } catch (error) {
            /* eslint-disable no-console */
            console.error(error)
            const message = $customUtils.getErrorMessages(
              error as { response: AxiosResponse<ErrorAPI> },
              `Failed to ${actionsMessage} order allocation using SRI!!`
            )

            doSetAlert({
              isShow: true,
              type: 'error',
              message,
            })
          } finally {
            await getSRILControl()
          }
        })
      },
    }
    const stateForm = { formAllocations, handleFormAllocations }
    //  end

    return {
      ...stateStore,
      ...stateModal,
      ...stateForm,
    }
  },
})
</script>
