<template>
  <v-list three-line>
    <template v-for="(credential, index) in credentials">
      <v-list-item :key="credential.id">
        <v-list-item-content>
          <!-- Key name and status -->
          <v-list-item-title class="d-flex align-center">
            <span class="font-weight-medium">
              {{ credential.keyName }}
            </span>

            <v-chip
              :color="credential.revokedAt ? 'error' : 'success'"
              small
              class="ml-3"
            >
              {{ credential.revokedAt ? 'revoked' : 'active' }}
            </v-chip>
          </v-list-item-title>

          <!-- App ID -->
          <SelectableKey
            :data="{
              title: 'App ID',
              body: credential.appId,
            }"
            :able-copy="!credential.revokedAt"
            :disabled-copy="status.copied"
            @doCopyText="$emit('doCopy', credential.appId, 'id')"
          />

          <!-- App Secret -->
          <SelectableKey
            :data="{
              title: 'App Secret',
              body: credential.appSecret,
            }"
            :able-copy="!credential.revokedAt"
            :disabled-copy="status.copied"
            @doCopyText="$emit('doCopy', credential.appSecret, 'key')"
          />
        </v-list-item-content>

        <v-list-item-action>
          <v-btn
            v-if="!credential.revokedAt"
            :text="$vuetify.breakpoint.smAndUp"
            :icon="$vuetify.breakpoint.xsOnly"
            :disabled="status.copied"
            color="error"
            class="mx-2"
            @click="$emit('toggleConfirmRevoke', credential.id)"
          >
            <v-icon v-if="$vuetify.breakpoint.xsOnly">
              mdi-power-plug-off
            </v-icon>

            <span v-else>Revoke Key</span>
          </v-btn>
        </v-list-item-action>
      </v-list-item>

      <v-divider
        v-if="index < credentials.length - 1"
        :key="index"
        class="mx-4"
      />
    </template>
  </v-list>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'
// components
import SelectableKey from '@/components/profiles/SelectableKey.vue'
// types
import { Credential } from '~/types/profiles'

export default defineComponent({
  name: 'CredentialList',
  components: {
    SelectableKey,
  },
  props: {
    credentials: {
      type: Array as PropType<Credential[]>,
      required: true,
    },
    status: {
      type: Object,
      required: true,
    },
  },
})
</script>
