<template>
  <article>
    <v-row class="mt-8">
      <v-col cols="12" md="4">
        <BaseFeatureTitle
          title="Key Credentials"
          subtitle="Generate a new credentials or revoke the existing credentials."
        />
      </v-col>

      <v-col cols="12" md="8">
        <v-card color="white" elevation="2" height="100%">
          <v-card-text class="pt-6">
            <v-alert rounded="xl" type="warning">
              Your secret key grants you access to our API. Treat your APP
              Secret and APP ID like a passwords, don't expose them in your
              application code and don't share it on Github or anywhere else
              online.
            </v-alert>

            <!-- key list -->
            <div>
              <!-- alert user actions (clipboard, revoke, generate key) -->
              <v-expand-transition>
                <v-alert
                  v-if="
                    alert.isShow &&
                    (alert.message.includes('Credential') ||
                      alert.message.includes('Client'))
                  "
                  dismissible
                  rounded="xl"
                  :type="alert.type"
                >
                  {{ alert.message }}
                </v-alert>
              </v-expand-transition>

              <BaseLoading v-if="$fetchState.pending" color="primary" />

              <!-- if credentials key is empty -->
              <template v-if="credentials.length === 0">
                <h2 class="text-center mt-6 subtitle-1">
                  No keys credentials available
                </h2>
              </template>

              <template v-else>
                <v-scroll-x-transition>
                  <CredentialList
                    :credentials="credentials"
                    :status="status"
                    @doCopy="doCopy"
                    @toggleConfirmRevoke="toggleConfirmRevoke"
                  />
                </v-scroll-x-transition>

                <v-pagination
                  :value="pagination.page"
                  :disabled="status.copied || $fetchState.pending"
                  :length="metaCredentials.totalPage"
                  :total-visible="7"
                  circle
                  class="my-6"
                  @input="changePagination"
                />
              </template>
            </div>
          </v-card-text>

          <v-card-actions class="pa-4">
            <v-spacer />

            <v-btn
              outlined
              color="primary"
              :disabled="$fetchState.pending || status.copied"
              :loading="$fetchState.pending"
              @click="toggleGenerateKey"
            >
              Generate new key
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <!-- Modal confirm -->
    <BaseModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      @doSubmit="doRevoke"
    />

    <!-- Modal form -->
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doSubmit="doGenerateKey"
    >
      <template #modalFields>
        <GenerateKeyFields v-model="form" />
      </template>
    </BaseModalForm>
  </article>
</template>

<script lang="ts">
import {
  defineComponent,
  reactive,
  useStore,
  useFetch,
  computed,
  ref,
  Ref,
  watch,
  useContext,
} from '@nuxtjs/composition-api'
import { useClipboard } from '@vueuse/core'
import { initDialogSettings, initModalType } from '~/store/applications'

// components - start
import GenerateKeyFields from '@/components/profiles/credentials/GenerateKeyFields.vue'
import CredentialList from '@/components/profiles/credentials/CredentialList.vue'
// components - end

// types - start
import type {
  ModalConfirm,
  Pagination,
  VuexModuleApplications,
} from '~/types/applications'
import type { VuexModuleProfiles } from '~/types/profiles'
import type { User } from '~/types/base/applications/login'
// types - end

export default defineComponent({
  name: 'ManageCredentials',
  components: {
    GenerateKeyFields,
    CredentialList,
  },
  setup() {
    const { $auth, app } = useContext()
    const user = computed<User>(
      () => $auth.$storage.getLocalStorage('user') as User
    )

    // manage store
    const storeProfiles = useStore<VuexModuleProfiles>()
    const storeApplications = useStore<VuexModuleApplications>()
    const alert = computed(() => storeApplications.state.applications.alert)
    const credentials = computed(
      () => storeProfiles.state.profiles.credentials.data
    )
    const metaCredentials = computed(
      () => storeProfiles.state.profiles.credentials.meta
    )
    const pagination = ref({
      page: 1,
      itemsPerPage: 3,
    }) as Ref<Pagination>
    const changePagination = async (value: number) => {
      pagination.value = {
        ...pagination.value,
        page: value,
      }
      await fetch()
    }
    const doResetAlert = () => {
      setTimeout(() => {
        storeApplications.commit('applications/RESET_ALERT')
      }, 3000)
    }

    // manage clipboard
    const { text, copy, copied, isSupported } = useClipboard()
    const status = reactive({
      text,
      copied,
      isSupported,
    })
    const doCopy = async (data: string, section: string) => {
      const defaultMessage = 'successfully copied!'
      const message =
        section === 'id'
          ? `Client ID ${defaultMessage}`
          : `Credential Key ${defaultMessage}`

      storeApplications.commit('applications/SET_ALERT', {
        isShow: true,
        type: 'success',
        message,
      })
      copy(data)
      await doResetAlert()
    }

    // manage modal
    const selected = ref('')
    const form = ref({
      keyName: '',
    })
    const dialog = ref({ ...initModalType })
    const dialogSettings = ref({ ...initDialogSettings }) as Ref<ModalConfirm>

    watch(
      () => dialog,
      (newValue) => {
        if (newValue.value.confirm !== false || newValue.value.form !== false)
          return

        selected.value = ''
        form.value = {
          keyName: '',
        }
        dialogSettings.value = {
          loading: false,
          title: '',
          content: '',
          cancelText: '',
          submitText: '',
          submitColor: '',
        }
      },
      { deep: true }
    )

    // manage revoke key credentials
    const toggleConfirmRevoke = (id: string) => {
      try {
        dialogSettings.value.loading = true
        selected.value = id
        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Are you sure ?',
          content:
            'You are going to revoke the credential key, revoked credential keys will not be able to use our API.',
          cancelText: 'Cancel',
          submitText: 'Revoke',
          submitColor: 'error',
        }
        dialog.value.confirm = true
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const doRevoke = async () => {
      try {
        await doResetAlert()
        dialogSettings.value.loading = true
        // call rest endpoint to revoke key
        const response = await storeProfiles.dispatch('profiles/revokeKey', {
          id: selected.value,
        })

        if (!response?.revokedAt) throw response

        await fetch()
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: 'Credential Key successfully revoked!',
        })
        setTimeout(() => {
          dialog.value.confirm = false
        }, 1500)
      } catch (error) {
        const message =
          (error as any)?.response?.data?.message ??
          (error as any)?.response?.data?.error ??
          (error as Error)?.message

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `Credential Key ${message}!`,
        })
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1000)
      }
    }

    // manage generate a new key
    const toggleGenerateKey = () => {
      try {
        dialogSettings.value.loading = true
        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Generate new key credentials',
          content: '',
          cancelText: 'Cancel',
          submitText: 'Submit',
          submitColor: 'primary',
        }
        dialog.value.form = true
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const doGenerateKey = async () => {
      try {
        await doResetAlert()
        dialogSettings.value.loading = true

        // call endpoint to generate a new key
        const response = await storeProfiles.dispatch('profiles/generateKey', {
          body: form.value,
        })
        const { id } = response

        if (!id) throw response

        await fetch()
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: 'Successfully generating a new Key Credential!',
        })
        setTimeout(() => {
          dialog.value.form = false
        }, 1500)
      } catch (error) {
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message:
            'Generating a new credential key failed because the generated credential key already exists!',
        })
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1000)
      }
    }

    // manage fetch
    const fetchCredentials = async () => {
      const paramsGetCredentials = app.$customUtils.setURLParams({
        page: pagination.value.page,
        perPage: pagination.value.itemsPerPage,
      })

      await storeProfiles.dispatch('profiles/getCredentials', {
        params: paramsGetCredentials,
      })
    }
    const { fetch } = useFetch(async () => {
      await fetchCredentials()
    })

    return {
      user,
      alert,
      credentials,
      metaCredentials,
      pagination,
      changePagination,
      doCopy,
      status,
      selected,
      dialog,
      dialogSettings,
      toggleConfirmRevoke,
      doRevoke,
      form,
      toggleGenerateKey,
      doGenerateKey,
    }
  },
})
</script>
