<template>
  <section class="pa-4 pa-md-10 py-8 edit">
    <v-row align="start" justify="space-between">
      <v-card
        v-if="dataDetail && Object.keys(dataDetail).length"
        color="primary"
        class="pa-5"
        width="450px"
      >
        <v-card-title class="white--text pa-0 mb-2 font-weight-bold">
          {{ dataDetail.group_name }}
        </v-card-title>

        <v-card-text class="pa-0 white--text">
          <div class="d-flex align-start">
            <div class="pr-2 font-weight-bold" :style="'width: 27.5%'">
              Orders
            </div>
            <div>
              :
              {{ ordersData.length }}
            </div>
          </div>
          <div class="d-flex align-start">
            <div class="pr-2 font-weight-bold" :style="'width: 27.5%'">
              Est. Weight
            </div>
            <div>
              :
              {{ weightCalc }} kg
            </div>
          </div>
        </v-card-text>
      </v-card>
      <v-btn color="primary" min-width="200px" @click="handleStop">
        DONE
      </v-btn>
    </v-row>
    <v-row class="mt-10">
      <v-col cols="12" md="12" class="pa-0">
        <v-container fluid class="pa-0">
          <v-row>
            <v-col
              cols="4"
              class="d-flex align-center justify-space-between pa-4"
            >
              <v-card
                elevation="1"
                class="mx-auto"
                width="100%"
                :style="'overflow: hidden'"
              >
                <v-virtual-scroll
                  :items="ordersData"
                  :item-height="50"
                  height="200"
                >
                  <!-- eslint-disable-next-line vue/no-unused-vars -->
                  <template #default="{ item, index }">
                    <v-list-item v-if="item">
                      <v-list-item-avatar>
                        <v-icon> mdi-email-outline </v-icon>
                      </v-list-item-avatar>

                      <v-list-item-content>
                        <v-list-item-title>
                          {{ item.order_code }}
                          <v-badge
                            v-if="checkHighValue(item)"
                            :content="'High Value'"
                            color="secondary"
                            class="ml-2"
                          ></v-badge>
                        </v-list-item-title>
                      </v-list-item-content>

                      <v-list-item-icon
                        class="custom-icon-bagging"
                        @click="
                          actionCard.toggleConfirm({
                            data: item,
                          })
                        "
                      >
                        <v-icon> mdi-delete-outline </v-icon>
                      </v-list-item-icon>
                    </v-list-item>
                    <!-- Add placeholder for Add Item after last order -->
                    <v-list-item
                      v-if="index === ordersData.length - 1"
                      :class="`${false ? 'bg-custom' : ''}`"
                      disabled
                      @click="actionCard.addItem()"
                    >
                      <v-list-item-avatar>
                        <v-icon> mdi-plus-circle-outline </v-icon>
                      </v-list-item-avatar>

                      <v-list-item-content>
                        <v-list-item-title>
                          Add Order
                          <v-badge
                            :content="'Coming Soon'"
                            color="secondary"
                            class="ml-2"
                          >
                          </v-badge>
                        </v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </template>
                </v-virtual-scroll>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>

    <BaggingModalConfirm
      v-model="dialog.delete.edit"
      :dialog-settings="dialogSettings"
      :delete-order-client="true"
      @doSubmit="actionCard.deleteItem"
      @doCancel="actionCard.handleCancel"
    />
    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useMeta,
  useStore,
  computed,
  ref,
  Ref,
  useRouter,
  watch,
} from '@nuxtjs/composition-api'

import { checkHighValue } from '~/composables/partner-portals/scan'

// Interface and types
import { ModalConfirm, VuexModuleApplications } from '~/types/applications'
import {
  Order,
  InputRemoveOrder,
  VuexModuleDetailBagging,
} from '~/types/bagging/bagging'

export default defineComponent({
  name: 'EditBagged',
  setup() {
    const router = useRouter()

    const storeApplications = useStore<VuexModuleApplications>()
    const storeBagging = useStore<VuexModuleDetailBagging>()

    const user = localStorage.getItem('auth.user')
      ? JSON.parse(localStorage.getItem('auth.user') as string)
      : {}

    const storedDataDetail = ref(
      JSON.parse(
        localStorage.getItem(`completedDetail.${user.email}`) as string
      )
    )

    const dataDetail = computed(() => storedDataDetail.value)
    const ordersData = computed(() => {
      const orders = dataDetail.value.orders.filter(
        (order: Order) => order !== null
      )
      return orders
    })

    const weightCalc = computed(() => {
      return dataDetail.value.orders.reduce((accumulator: any, a: Order) => {
        if (a) return accumulator + a.weight
        else return accumulator + 0
      }, 0)
    })

    const cardData = ref({}) as Ref<any>

    const removedOrder = ref('')

    const data = { dataDetail, ordersData, cardData, removedOrder, weightCalc }

    const alert = computed(() => storeApplications.state.applications.alert)

    const dialog = ref({
      delete: {
        status: false,
        edit: false,
      },
      confirmEdit: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>

    function handleStop() {
      router.push(`/bagging`)
    }

    function submit(params: { isCancel?: boolean }) {
      try {
        dialogSettings.value.loading = true
        // placehodler
      } catch (error) {
      } finally {
        dialogSettings.value.loading = false
        if (params?.isCancel) {
          dialog.value.confirmEdit = false
        } else {
          dialog.value.delete.status = false
        }
        setTimeout(() => {
          storeApplications.commit('applications/RESET_ALERT')
        }, 3000)
      }
    }

    const actionCard = {
      deleteItem: async () => {
        try {
          dialogSettings.value.loading = true
          const payload = {
            bagId: dataDetail.value.id,
            orderId: removedOrder.value,
          } as InputRemoveOrder

          const response = await storeBagging.dispatch(
            'bagging/bagging/removeOrderBag',
            {
              payload,
            }
          )

          if (response && response[0].orders.length > 0) {
            localStorage.setItem(
              `completedDetail.${user.email}`,
              JSON.stringify(response[0])
            )
          } else {
            // if response is null means there are no more orders in the bag, and return to bagging page
            handleStop()
          }
        } catch (error) {
        } finally {
          dialogSettings.value.loading = false
          dialog.value.delete.status = false
          dialog.value.delete.edit = false
          removedOrder.value = ''
        }
      },
      addItem: () => {},
      toggleConfirm: (params: { data: Order }) => {
        dialogSettings.value = {
          loading: false,
          title: `Delete ${'Order: ' + params?.data?.order_code}`,
          content: '',
          cancelText: 'No',
          submitText: 'Yes',
          submitColor: 'error',
        }
        removedOrder.value = params.data.id
        dialog.value.delete.status = true
        dialog.value.delete.edit = true
      },
      handleCancel: () => {
        dialogSettings.value = {
          loading: false,
          title: '',
          content: '',
          cancelText: '',
          submitText: '',
          submitColor: '',
        }
        removedOrder.value = ''
        dialog.value.delete.status = false
        dialog.value.delete.edit = false
      },
    }
    watch(
      () => localStorage.getItem(`completedDetail.${user.email}`),
      (newValue) => {
        storedDataDetail.value = JSON.parse(newValue as string)
      }
    )

    useMeta(() => ({ title: 'Client Portal | Edit' }))

    return {
      handleStop,
      submit,
      ...data,
      dialog,
      dialogSettings,
      alert,
      actionCard,
      checkHighValue,
    }
  },
  head: {},
})
</script>

<style lang="scss">
.edit {
  .list-custom {
    min-height: unset;
    padding: unset;
  }
  .custom-icon-bagging {
    cursor: pointer;
    &:hover {
      .v-icon {
        color: rgb(255, 111, 111) !important;
      }
    }
  }
}
</style>
