<template>
  <section class="pa-4 pa-md-10 py-8 baggedPage">
    <BaseHeadlinePage
      title="Bagging"
      subtitle="Bag parcels together and generate a single bag label for ease of shipping and tracking."
    >
      <!-- <template slot="addition">
        <span class="text--secondary font-weight-medium title">
          &bull; {{ '0' }} Total Orders
        </span>
      </template> -->
    </BaseHeadlinePage>

    <v-row align="center" justify="end" :style="'min-height: 72px'">
      <!-- Left options -->
      <OrdersLeftOptions
        :selected-orders="selectedINFO"
        :is-show-filter="isShowFilter"
        :is-on-bags-tab="{
          text: step !== 0 && orderView === 0,
          filter: step === 0,
        }"
        :is-unbagged="step === 1 && orderView === 0"
        :loading="$fetchState.pending"
        @doShowFilter="isShowFilter = !isShowFilter"
      />

      <!-- Right options -->
      <OrdersRightOptions>
        <!-- :loading="$fetchState.pending" -->
        <template #toggleView>
          <OrdersToggleView
            v-if="step !== 0"
            v-model="orderView"
            :loading="$fetchState.pending"
            :is-bagging="true"
          />

          <v-btn
            v-if="step === 1"
            :disabled="
              (!Object.keys(selectedUnbagged).length && orderView !== 1) ||
              $fetchState.pending
            "
            color="primary"
            min-width="150px"
            class="mx-auto mx-md-0 ml-md-2 mb-4 mb-md-0"
            @click="handleBagScanBag"
          >
            <v-icon v-if="orderView === 1" class="mr-2"> mdi-play </v-icon>
            {{ nameBtn }}
          </v-btn>

          <v-btn
            v-else-if="step !== 0"
            :disabled="!bagVModel.selectedOrders.length || $fetchState.pending"
            color="primary"
            min-width="150px"
            class="mx-auto mx-md-0 ml-md-2 mb-4 mb-md-0"
            @click="handleBagScanBag"
          >
            {{ nameBtn }}
          </v-btn>
        </template>
      </OrdersRightOptions>
    </v-row>

    <v-expand-transition>
      <OrdersFiltersContainer
        :is-show-filter="isShowFilter && step === 0"
        @doToggleFilter="isShowFilter = !isShowFilter"
        @doResetFilter="doResetFilter"
      >
        <template #filterList>
          <BaggingFilterListView v-model="filterBagging" :is-client="true" />
        </template>
      </OrdersFiltersContainer>
    </v-expand-transition>

    <v-sheet color="transparent" width="100%" class="mx-10 mt-10">
      <template v-for="({ text, icon }, index) in stepList">
        <v-btn
          :key="text"
          :color="isActive(index) ? 'primary' : 'white'"
          :class="[isActive(index) ? 'white--text' : 'primary--text']"
          class="custom-tab mx-2"
          min-width="150px"
          @click="doChangeWindow(index)"
        >
          <v-icon v-if="icon" left dark size="28">
            {{ icon }}
          </v-icon>
          {{ text }}
        </v-btn>
      </template>
    </v-sheet>

    <v-card elevation="2">
      <v-window v-model="step">
        <!-- bags tab -->
        <v-window-item :value="0">
          <BaggingBagTab
            v-model="bagVModel"
            :loading="$fetchState.pending"
            :is-bagged-tab-client="true"
            @fetchAction="$fetch"
          />
        </v-window-item>

        <!-- unbagged tab -->
        <v-window-item :value="1">
          <template v-if="step === 1">
            <BaggingScanned v-if="orderView === 1" :data="dataMerged" />

            <UnbaggedList
              v-else
              ref="unbaggedListComponent"
              v-model="selectedUnbagged"
              :loading="$fetchState.pending"
            />
          </template>
        </v-window-item>
      </v-window>
    </v-card>

    <!-- Modal confirm -->
    <BaggingModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      :is-confirm="true"
      @doSubmit="submit"
      @doCancel="handleCancel"
    />
    <!-- Modal after click no -->
    <BaggingModalConfirm
      v-model="dialog.cancel"
      :dialog-settings="dialogSettings"
      @doSubmit="() => (dialog.cancel = false)"
    />
    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  computed,
  ref,
  Ref,
  watch,
  useRouter,
  useContext,
  onMounted,
} from '@nuxtjs/composition-api'
import { CancelTokenSource } from 'axios'
// components
import UnbaggedList from '~/components/bagging/client/UnbaggedList.vue'
// Interface and types
import {
  ModalConfirm,
  Pagination,
  VuexModuleApplications,
} from '~/types/applications'
import { filterBaggingInit } from '~/store/bagging/bagging'
import {
  VuexModuleDetailBagging,
  FilterBagging,
  Unbagged,
  InputPostBag,
  InputLabelBags,
  Bagged,
} from '~/types/bagging/bagging'

export interface bagVModel {
  selectedOrders: Bagged[]
  pagination: Pagination
}

export default defineComponent({
  name: 'BaggingPages',
  components: {
    UnbaggedList,
  },
  layout: 'default',
  setup() {
    const { app, $axios } = useContext()
    const router = useRouter()
    useMeta(() => ({ title: 'Client Portal | Bagging' }))

    // manage store
    const storeApplications = useStore<VuexModuleApplications>()
    const storeBagging = useStore<VuexModuleDetailBagging>()
    const storeOfApplications = useStore<VuexModuleApplications>()
    const alert = computed(() => storeOfApplications.state.applications.alert)
    const step = ref(storeBagging.state.bagging.bagging.tab.step)
    const orderView = ref(
      storeBagging.state.bagging.bagging.tab.orderView[step.value]
    ) as Ref<number>
    const storeState = { step, orderView, alert }

    const unbaggedListComponent = ref(undefined) as unknown as Ref<
      InstanceType<typeof UnbaggedList>
    >

    // manage windows
    const dialog = ref({
      confirm: false,
      cancel: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>
    const stepList = computed(() => {
      return [
        {
          text: 'Bags',
          icon: '',
        },
        {
          text: orderView.value === 0 ? 'Unbagged' : 'Scanned',
          icon: '',
        },
      ]
    })
    const isActive = (data: number) => step.value === data
    const doChangeWindow = (data: number) => {
      step.value = data
    }
    const nameBtn = computed(() => {
      let temp = ''
      if (step.value === 1) {
        if (orderView.value === 0) {
          temp = 'BAG'
        } else {
          temp = 'START SCAN'
        }
      } else {
        temp = 'DOWNLOAD BAG LABEL'
      }
      return temp
    })
    const windowsState = {
      dialog,
      dialogSettings,
      stepList,
      isActive,
      doChangeWindow,
      nameBtn,
    }
    // end windows

    // manage filter order
    const filterBagging = ref({
      ...filterBaggingInit,
    }) as Ref<FilterBagging>
    const doResetPagination = () => {
      bagVModel.value = {
        ...bagVModel.value,
        pagination: {
          ...bagVModel.value.pagination,
          page: 1,
          itemsPerPage: 10,
        },
      }
    }
    const isShowFilter = ref(storeBagging.state.bagging.bagging.isShowFilter)
    const doResetFilter = () => {
      filterBagging.value = { ...filterBaggingInit }
    }
    const filterState = { filterBagging, isShowFilter, doResetFilter }
    // end filter

    const bagVModel = ref({
      selectedOrders: [],
      pagination: {
        ...storeApplications.state.applications.pagination,
        page: 1,
        itemsPerPage: 10,
      },
    }) as Ref<bagVModel>
    const selectedUnbagged = ref({}) as Ref<InputPostBag>
    const selectedINFO = computed(() => {
      if (step.value === 1 && orderView.value === 0) {
        return selectedUnbagged.value && selectedUnbagged.value?.order_ids
          ? selectedUnbagged.value?.order_ids
          : []
      }

      if (step.value === 0 && orderView.value === 0) {
        return bagVModel.value.selectedOrders
      }

      return []
    })
    const newScanned = computed(() => {
      const user = localStorage.getItem('auth.user')
        ? JSON.parse(localStorage.getItem('auth.user') as string)
        : {}
      if (
        !localStorage.getItem(`newScanned.${user.email}`) ||
        (!user && !user.email)
      ) {
        return []
      } else {
        return localStorage.getItem(`newScanned.${user.email}`)
          ? JSON.parse(
              localStorage.getItem(`newScanned.${user.email}`) as string
            )
          : []
      }
    })
    const dataMerged = computed(() => {
      const data = storeBagging.state.bagging.bagging.unbagged as Unbagged[]
      let tempArr = [] as {
        group_name: string
        id: string
        order_code: string
        new?: boolean
        isHighValue?: boolean
      }[]
      data.forEach((x) => {
        newScanned.value.forEach(
          (k: { order_code: string; new?: boolean; isHighValue?: boolean }) => {
            let temp = {} as {
              group_name: string
              id: string
              order_code: string
              new?: boolean
              isHighValue?: boolean
            }
            x.order_group.forEach((m) => {
              m.orders.forEach((n) => {
                if (k.order_code === n.order_code) {
                  temp = {
                    group_name: m.group_name,
                    id: n.id,
                    isHighValue: k.isHighValue ?? false,
                    ...k,
                  }
                }
              })
            })
            tempArr.push(temp)
          }
        )
      })
      tempArr = tempArr.filter((x) => Object.keys(x).length)

      const noOrder = [...data].map((x) => {
        return {
          ...x,
          order_group:
            x.order_group &&
            x.order_group
              .map((y) => {
                return {
                  ...y,
                  orders: tempArr
                    .filter((k) => k.group_name === y.group_name)
                    .map((l) => {
                      return {
                        id: l.id,
                        order_code: l.order_code,
                        new: l.new ?? false,
                        isHighValue: l.isHighValue ?? false,
                      }
                    }),
                }
              })
              .filter((b) => b.orders.length),
        }
      })

      return noOrder
    }) as Ref<Unbagged[]>
    async function handleBagScanBag() {
      dialogSettings.value = {
        loading: false,
        title: 'Print label now ?',
        content: '',
        cancelText: 'No',
        submitText: 'Yes',
        submitColor: 'primary',
      }
      if (step.value === 1) {
        if (orderView.value === 0) {
          dialog.value.confirm = true
        } else {
          router.push(`/bagging/scan`)
        }
      } else {
        await downloadAllLabel()
        // dialog.value.confirm = true
      }
    }
    async function downloadAllLabel() {
      const returnLabels = await Promise.all(
        bagVModel.value.selectedOrders.map(async (el: Bagged) => {
          try {
            if (el && Object.keys(el).length > 0 && el.id && el.group_name) {
              const label = await postLabelBags({
                bag_id: el.id,
                group_name: el.group_name,
              })
              return label
            }
          } catch (error) {
            return error
          }
        })
      )
      try {
        app.$customUtils.multiDownload(returnLabels)
      } catch (error) {
        return error
      }
    }
    async function submit(params: { isCancel?: boolean }) {
      const textMsg = params?.isCancel ? 'Close Bag' : 'Print label'

      try {
        dialogSettings.value.loading = true
        if (step.value !== 0) {
          const returnPostBag = await storeBagging.dispatch(
            'bagging/bagging/postBags',
            { payload: selectedUnbagged.value }
          )

          if (
            returnPostBag &&
            Object.keys(returnPostBag).length > 0 &&
            returnPostBag.id &&
            returnPostBag.group_name
          ) {
            const label = await postLabelBags({
              bag_id: returnPostBag.id,
              group_name: returnPostBag.group_name,
            })

            if (!params?.isCancel && label) window.open(label, '_self')
          }

          await fetch()
          await unbaggedListComponent.value.doFetchgetUnbaggedOrders()
          storeApplications.commit('applications/SET_ALERT', {
            isShow: true,
            type: 'success',
            message: `${textMsg} successfully!`,
          })
        }

        if (step.value === 0 && !params?.isCancel) {
          storeApplications.commit('applications/SET_ALERT', {
            isShow: true,
            type: 'success',
            message: `${textMsg} successfully!`,
          })
        }
      } catch (error) {
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `${'error'}`,
        })
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1000)

        if (params?.isCancel) {
          dialog.value.cancel = false
        } else {
          dialog.value.confirm = false
        }
        setTimeout(() => {
          storeApplications.commit('applications/RESET_ALERT')
        }, 3000)
      }
    }
    async function handleCancel() {
      await submit({ isCancel: true })
      dialogSettings.value = {
        loading: false,
        title: 'Make sure bags are arranged properly to prevent mix-up',
        content: '',
        cancelText: '',
        submitText: 'Ok',
        submitColor: 'primary',
      }
      dialog.value.cancel = true
    }
    async function postLabelBags(payload: InputLabelBags) {
      try {
        return await storeBagging.dispatch('bagging/bagging/postLabelBags', {
          payload,
        })
      } catch (error) {
        return error
      }
    }
    const otherState = {
      bagVModel,
      selectedUnbagged,
      selectedINFO,
      dataMerged,
      handleBagScanBag,
      submit,
      handleCancel,
    }

    // manage fetch
    let source: CancelTokenSource
    const fetchTimer = ref(null) as unknown as Ref<any>
    const getBouncedFetch = (fn: Function) => {
      clearTimeout(fetchTimer.value)

      fetchTimer.value = setTimeout(async () => {
        try {
          $fetchState.pending = true

          if (source) source.cancel()

          source = $axios.CancelToken.source()
          await fn()
        } catch (error) {
          return error
        } finally {
          setTimeout(() => {
            $fetchState.pending = false
          }, 1500)
        }
      }, 300)
    }
    const { $fetchState, fetch } = useFetch(() => {
      const { page, itemsPerPage } = bagVModel.value.pagination
      const paramsFilterBagging = app.$customUtils.setURLParams({
        ...filterBagging.value,
      }) as any
      const paramsPagination = app.$customUtils.setURLParams({
        page,
        perPage: itemsPerPage,
      }) as any

      if (step.value === 0) {
        getBouncedFetch(async () => {
          // *bagged/orders
          await storeBagging.dispatch('bagging/bagging/getBaggedOrders', {
            // merge a filter and pagination params
            params: new URLSearchParams({
              ...Object.fromEntries(paramsFilterBagging),
              ...Object.fromEntries(paramsPagination),
            }),
            cancelToken: source.token,
          })
        })
      }

      if (orderView.value === 0 && step.value === 1) {
        // *unbagged/count
        getBouncedFetch(async () => {
          await storeBagging.dispatch('bagging/bagging/getUnbaggedCount', {
            cancelToken: source.token,
          })
        })
      }

      if (orderView.value === 1 && step.value === 1) {
        getBouncedFetch(async () => {
          // *bags
          await storeBagging.dispatch('bagging/bagging/getBags', {
            params: {
              ...paramsFilterBagging,
            },
            cancelToken: source.token,
          })
        })
      }

      setTimeout(() => {
        storeApplications.commit('applications/RESET_ALERT')
      }, 3000)
    })
    // end manage fetch

    // manage filter on changed
    watch(
      filterBagging,
      (newFilter) => {
        doResetPagination()
        storeApplications.commit('bagging/bagging/SET_FILTER', {
          ...newFilter,
        })
        // await fetch()
      },
      { deep: true }
    )
    watch(
      isShowFilter,
      (newFilterBtn) => {
        storeApplications.commit('bagging/bagging/SET_FILTER_BTN', newFilterBtn)
      },
      { deep: true }
    )
    // watching the view changed
    watch(
      [orderView, step],
      ([newOrderView, newStep], [_oldOrderView, _oldStep]) => {
        selectedUnbagged.value = {} as InputPostBag
        storeApplications.commit('bagging/bagging/SET_TAB_BTN', {
          orderView: {
            ...storeBagging.state.bagging.bagging.tab.orderView,
            [`${newStep}`]: newOrderView,
          },
          step: newStep,
        })
        doResetFilter()
      },
      { deep: true }
    )

    // reset tab, and view, also filter on mounted
    onMounted(() => {
      step.value = 0
      orderView.value = 0
      isShowFilter.value = false
    })
    // end reset

    return {
      ...storeState,
      ...windowsState,
      ...filterState,
      ...otherState,
      unbaggedListComponent,
    }
  },
  head: {},
})
</script>

<style lang="scss">
.baggedPage {
  margin-bottom: 40rem;
  .custom-tab {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .custom-bg {
    position: absolute;
    bottom: 500px;
    margin-left: -100px;
  }

  @media only screen and (min-width: 1024px) {
    .custom-bg {
      bottom: 300px;
      width: 100vw;
      margin-left: -100px;
    }
  }
}
</style>
