<template>
  <section class="pa-4 pa-md-10 py-8 scanPage">
    <v-row align="center" justify="end">
      <div :style="'width: 30%'">
        <v-text-field
          v-model="inputBarcode"
          clearable
          outlined
          autofocus
          dense
          rounded
          single-line
          hide-details
          label="Input Barcode"
          placeholder="Enter your barcode..."
          background-color="white"
          type="search"
          class="input-filter mr-3"
          @keydown.enter="enterInput"
        />
      </div>
      <!-- <v-menu
        transition="slide-y-transition"
        bottom
        :offset-y="true"
      >
        <template #activator="{ on, attrs }">

          <v-btn
            color="green"
            min-width="200px"
            class="mr-3 white--text"
            :disabled="disabledCloseBag() || $fetchState.pending"
            v-bind="attrs"
            :loading="$fetchState.pending"
            v-on="on"
          >
            <v-icon
              class="mr-2"
              small
            >
              mdi-bag-suitcase-outline
            </v-icon>
            CLOSE BAG
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, i) in parseInput()"
            :key="i"
            @click="handleBagScanBag(item)"
          >
            <v-list-item-title>{{ item.country }} - {{ item.groupName }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu> -->
      <v-btn
        :disabled="disabledCloseBag() || $fetchState.pending"
        color="green"
        min-width="200px"
        class="mr-3 white--text"
        @click="handleBagScanBag"
      >
        <v-icon class="mr-2" small> mdi-bag-suitcase-outline </v-icon>
        CLOSE BAG
      </v-btn>

      <v-btn
        :disabled="$fetchState.pending"
        color="primary"
        min-width="200px"
        @click="handleStop"
      >
        <v-icon small class="mr-2"> mdi-block-helper </v-icon>
        STOP SCAN
      </v-btn>
    </v-row>

    <v-row class="mt-10">
      <v-col cols="12" md="12" class="pa-0">
        <v-card
          elevation="2"
          width="100%"
          :color="`${
            allScanned.length && allScanned.some((x) => x.new)
              ? validationCard()
              : ''
            // validationCard()
            // ? 'green'
            // : 'white'
          }`"
          min-height="500px"
          :class="`${
            validationCard({ isText: true })
            // validationCard()
            // ?
            // 'white--text'
            // :
            // ''
          } pa-15 d-flex flex-column align-center justify-center`"
        >
          <template v-if="$fetchState.pending">
            <BaseLoading />
          </template>

          <template v-else>
            <div
              v-if="allScanned.length && allScanned.some((x) => x.new)"
              class="text-center"
            >
              <div class="text-h1 font-weight-bold mb-15">
                <!-- SINGAPORE - 1 -->
                {{ searchCountry(cardData.dest_country) }}
              </div>
              <div class="text-h2">
                <!-- LUWDASLDKM123123 -->
                {{ cardData.group_name }}
              </div>
            </div>

            <div v-else class="text-center">
              <div class="text-h1 font-weight-bold">PLEASE SCAN ITEM</div>
            </div>
          </template>
        </v-card>
      </v-col>
    </v-row>
    <!-- Modal confirm -->
    <BaggingModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      :is-confirm="true"
      @doSubmit="submit"
      @doCancel="handleCancel"
    />
    <!-- Modal after click no -->
    <BaggingModalConfirm
      v-model="dialog.cancel"
      :dialog-settings="dialogSettings"
      @doSubmit="() => (dialog.cancel = false)"
    />
    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  computed,
  ref,
  Ref,
  useRouter,
  useContext,
  onMounted,
} from '@nuxtjs/composition-api'
// Interface and types
import { ModalConfirm, VuexModuleApplications } from '~/types/applications'
import { VuexModuleFilters, CountryCode } from '~/types/filters'
import {
  VuexModuleDetailBagging,
  Unbagged,
  InputPostBag,
  Order,
  Bagged,
  InputLabelBags,
} from '~/types/bagging/bagging'

export default defineComponent({
  name: 'ScanPages',
  layout: 'default',
  setup() {
    const { $dateFns } = useContext()
    const router = useRouter()
    const storeApplications = useStore<VuexModuleApplications>()
    const storeFilters = useStore<VuexModuleFilters>()
    const storeBagging = useStore<VuexModuleDetailBagging>()
    const alert = computed(() => storeApplications.state.applications.alert)
    const unbaggedData = computed(
      () => (storeBagging.state.bagging as any).bagging.unbagged
    )
    const countryCodes = computed(() => storeFilters.state.filters.countryCodes)
    const inputBarcode = ref('')
    const user = localStorage.getItem('auth.user')
      ? JSON.parse(localStorage.getItem('auth.user') as string)
      : {}
    const payloadCloseBag = ref({}) as any

    const lastEnter = ref('')
    const allScanned = ref([]) as Ref<any>
    const cardData = ref({}) as Ref<any>
    const dialog = ref({
      confirm: false,
      cancel: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>
    function handleStop() {
      router.go(-1)
    }

    const speech = ref({
      isLoading: true,
      name: '',
      selectedVoice: 52, // GOOGLE voice
      synth: window.speechSynthesis,
      voiceList: [] as any,
      greetingSpeech: new window.SpeechSynthesisUtterance(),
    })

    const newScanned = computed(() => {
      if (
        !localStorage.getItem(`newScanned.${user.email}`) ||
        (!user && !user.email)
      ) {
        return []
      } else {
        return localStorage.getItem(`newScanned.${user.email}`)
          ? JSON.parse(
              localStorage.getItem(`newScanned.${user.email}`) as string
            )
          : []
      }
    })

    onMounted(() => {
      const temp = newScanned.value.map((x: any) => {
        return {
          ...x,
          new: false,
        }
      })
      localStorage.setItem(`newScanned.${user.email}`, JSON.stringify(temp))
    })

    function parseInput(params?: { isNew?: boolean }) {
      let orderGroups = unbaggedData.value
        .map((x: Unbagged) => x.order_group && x.order_group)
        .filter((z: any) => z && z.length > 0)
      orderGroups = [].concat.apply([], orderGroups)
      const payload = orderGroups
        .map((x: Bagged) => {
          return {
            country: searchCountry(x.dest_country),
            groupName: x.group_name,
            order_codes: (
              x.orders &&
              x.orders.filter((y) =>
                allScanned.value.some(
                  (z: { order_code: string; new: boolean }) => {
                    // z.order_code === y.order_code && z.new
                    if (params?.isNew)
                      return z.order_code === y.order_code && z.new
                    else return z.order_code === y.order_code
                  }
                )
              )
            )?.map((k) => k.order_code),
            bag_name:
              x.group_name +
              '-' +
              $dateFns.format(new Date(), 'yyyyMMddHHmmss'),
            order_ids: (
              x.orders &&
              x.orders.filter((y) =>
                allScanned.value.some(
                  (z: { order_code: string; new: boolean }) => {
                    // z.order_code === y.order_code && z.new
                    if (params?.isNew)
                      return z.order_code === y.order_code && z.new
                    else return z.order_code === y.order_code
                  }
                )
              )
            )?.map((k) => k.id),
          }
        })
        .filter((q: InputPostBag) => q.order_ids && q.order_ids.length)
      return payload
    }

    function indexPayloadArr(params: { data: any; isNew?: boolean }) {
      const parsingNewOnlyAllScanned = [...allScanned.value].filter(
        (x: any) => x.new
      )

      const lastNewAllScanned =
        parsingNewOnlyAllScanned[parsingNewOnlyAllScanned.length - 1]
      const indexPayloadArr = params.data.findIndex((x: any) =>
        x.order_codes.includes(lastNewAllScanned.order_code)
      )

      return indexPayloadArr
    }

    async function submit(params: { isCancel?: boolean }) {
      try {
        dialogSettings.value.loading = true
        // const payloadArr = parseInput.value
        const payloadArr = parseInput()
        const payloadForAPI = {
          bag_name: payloadArr[indexPayloadArr({ data: payloadArr })].bag_name,
          order_ids:
            payloadArr[indexPayloadArr({ data: payloadArr })].order_ids,
        }

        const returnPostBag = await storeBagging.dispatch(
          'bagging/bagging/postBags',
          {
            payload: payloadForAPI,
          }
        )
        const urlPDF = await postLabelBags({
          bag_id: returnPostBag.id,
          group_name: returnPostBag.group_name,
        })
        if (urlPDF && !params?.isCancel) window.open(urlPDF, '_self')
        await fetchBags()
        allScanned.value = allScanned.value.map((x: any) => {
          let checkOrderCode = false as any
          checkOrderCode = payloadForAPI?.order_ids?.includes(x.id)
          if (checkOrderCode) {
            return {
              ...x,
              new: false,
            }
          } else {
            return {
              ...x,
            }
          }
        })
        const parseInputNew = parseInput({ isNew: true })
        if (
          parseInputNew &&
          parseInputNew[
            indexPayloadArr({ data: parseInputNew, isNew: true })
          ] &&
          parseInputNew[indexPayloadArr({ data: parseInputNew, isNew: true })]
            .order_codes
        ) {
          cardData.value = searchName(
            parseInputNew[indexPayloadArr({ data: parseInputNew, isNew: true })]
              .order_codes[0]
          )
          lastEnter.value =
            parseInputNew[
              indexPayloadArr({ data: parseInputNew, isNew: true })
            ].order_codes[0]
        }

        localStorage.setItem(
          `newScanned.${user.email}`,
          JSON.stringify(
            allScanned.value.filter(
              (x: any) => x.groupName !== payloadForAPI.bag_name.split('-')[0]
            )
          )
        )

        const textMsg = params?.isCancel ? 'Close Bag' : 'Print label'

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: `${textMsg} successfully!`,
        })
      } catch (error) {
        const textMsg = params?.isCancel ? 'Close Bag' : 'Print label'
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `${textMsg} successfully!`,
        })
      } finally {
        dialogSettings.value.loading = false
        if (params?.isCancel) {
          dialog.value.cancel = false
        } else {
          dialog.value.confirm = false
        }
        setTimeout(() => {
          storeApplications.commit('applications/RESET_ALERT')
        }, 3000)
      }
    }
    async function handleCancel() {
      await submit({ isCancel: true })
      dialogSettings.value = {
        loading: false,
        title: 'Make sure bags are arranged properly to prevent mix-up',
        content: '',
        cancelText: '',
        submitText: 'Ok',
        submitColor: 'primary',
      }
      dialog.value.cancel = true
    }

    function handleBagScanBag(payload?: Object) {
      dialogSettings.value = {
        loading: false,
        title: 'Print label now ?',
        content: '',
        cancelText: 'No',
        submitText: 'Yes',
        submitColor: 'primary',
      }
      if (payload && Object.keys(payload).length > 0)
        payloadCloseBag.value = payload

      dialog.value.confirm = true
    }

    function enterInput(event: KeyboardEvent) {
      if (event.key !== 'Enter') return

      const data = {
        order_code: inputBarcode.value,
        new: true,
      }
      // const data = inputBarcode.value
      const user = localStorage.getItem('auth.user')
        ? JSON.parse(localStorage.getItem('auth.user') as string)
        : {}
      const initialData =
        user && user.email && localStorage.getItem(`newScanned.${user.email}`)
          ? JSON.parse(
              localStorage.getItem(`newScanned.${user.email}`) as string
            )
          : allScanned.value

      let mergeAllscanned = []
      if (Object.keys(searchName(inputBarcode.value)).length) {
        const id = searchName(inputBarcode.value).id as any
        const groupName = searchName(inputBarcode.value).group_name as any
        mergeAllscanned = [...initialData]
        mergeAllscanned.push({ ...data, id, groupName })
      } else {
        mergeAllscanned = [...initialData]
      }

      allScanned.value = mergeAllscanned.filter(
        (value, index, self) =>
          index === self.findIndex((t) => t.order_code === value.order_code)
      )
      localStorage.setItem(
        `newScanned.${user.email}`,
        JSON.stringify(allScanned.value)
      )

      let destCountry = searchName(inputBarcode.value).dest_country as any
      cardData.value = searchName(inputBarcode.value)

      if (destCountry) {
        destCountry = searchCountry(destCountry)
      }

      // if(allScanned.value.some((x: any) => x.new && x.order_code === inputBarcode.value))
      // else greet(destCountry ?? 'No Data')
      greet(destCountry ?? 'No Data')
      lastEnter.value = inputBarcode.value
      inputBarcode.value = ''
    }

    function searchName(barcode: string) {
      let dataFilter = [...unbaggedData.value].map(
        (x: Unbagged, _i: number) => {
          return x.order_group
        }
      ) as any

      dataFilter = [].concat.apply([], dataFilter)
      dataFilter = dataFilter.filter(
        (x: Bagged) =>
          x.orders && x.orders.some((y: Order) => y.order_code === barcode)
      )

      if (dataFilter && dataFilter.length > 0) {
        const mainData = dataFilter[0] as Bagged
        const parsingOrders = mainData.orders.filter(
          (x: Order) => x.order_code === barcode
        )[0]
        const id = parsingOrders.id

        return {
          dest_country: mainData.dest_country,
          dest_port: mainData.dest_port,
          group_name: mainData.group_name,
          id,
        }
      } else {
        return {}
      }
    }

    function searchCountry(countryCode: string) {
      const filterCountry = [...countryCodes.value].filter(
        (x: CountryCode) => x.value === countryCode
      )[0]
      return filterCountry?.name ?? 'No Data'
    }

    function validationCard(params?: { isText?: Boolean }) {
      const isNew = allScanned.value.some((x: any) => x.new)

      if (!params?.isText) {
        if (
          allScanned.value &&
          allScanned.value.length &&
          searchName(lastEnter.value)?.dest_country
        ) {
          return 'green'
        } else {
          return 'red'
        }
      }
      if (params?.isText) {
        if (
          allScanned.value &&
          allScanned.value.length &&
          searchName(lastEnter.value) &&
          isNew
        ) {
          return 'white--text'
        } else {
          return ''
        }
      }
      // return allScanned.value && allScanned.value.length && allScanned.value[allScanned.value.length - 1]
    }

    function greet(text: string) {
      speech.value.greetingSpeech.text = text
      speech.value.greetingSpeech.voice =
        speech.value.voiceList[speech.value.selectedVoice]
      speech.value.greetingSpeech.rate = 0.8
      speech.value.synth.speak(speech.value.greetingSpeech)
    }
    function listenForSpeechEvents() {
      speech.value.greetingSpeech.onstart = () => {
        speech.value.isLoading = true
      }
      speech.value.greetingSpeech.onend = () => {
        speech.value.isLoading = false
      }
    }

    const fetchCountryCodes = async () => {
      try {
        $fetchState.pending = true

        await storeFilters.dispatch('filters/getCountryCodes', {
          params: { isActive: true },
        })
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }

    async function fetchBags() {
      try {
        $fetchState.pending = true
        await storeBagging.dispatch('bagging/bagging/getBags')
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }

    const { $fetchState } = useFetch(async () => {
      await fetchBags()
      await fetchCountryCodes()
      speech.value.voiceList = speech.value.synth.getVoices()
      speech.value.synth.onvoiceschanged = () => {
        speech.value.voiceList = speech.value.synth.getVoices()
        setTimeout(() => {
          speech.value.isLoading = false
        }, 800)
      }
      listenForSpeechEvents()
    })

    function disabledCloseBag() {
      return !allScanned.value.some((x: any) => x.new)
    }

    async function postLabelBags(payload: InputLabelBags) {
      try {
        $fetchState.pending = true
        return await storeBagging.dispatch('bagging/bagging/postLabelBags', {
          payload,
        })
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }

    useMeta(() => ({ title: 'Client Portal | Scan' }))

    return {
      handleStop,
      handleCancel,
      submit,
      dialog,
      dialogSettings,
      handleBagScanBag,
      inputBarcode,
      enterInput,
      allScanned,
      validationCard,
      cardData,
      searchCountry,
      disabledCloseBag,
      alert,
      parseInput,
    }
  },
  head: {},
})
</script>
