<template>
  <section class="pa-4 pa-md-10 py-8">
    <v-fade-transition hide-on-leave>
      <v-row align="center">
        <v-col cols="12">
          <BaseTable
            v-model="selectedOrders.selectedOrders"
            :item-key="isManifestTabPartner ? `manifest_url` : `id`"
            :items="items"
            :headers="headers"
            :options="selectedOrders.pagination"
            :loading="isLoading"
            :show-select="showSelect"
            :action-exist="actionExist"
            :props-bagging="{
              isBaggedTabClient,
              isCompleteTabPartner,
              isManifestTabPartner,
            }"
            :first-selected-port-bag="{
              selectedOriginPort,
              selectedDestPort,
            }"
            :is-select-disabled="false"
            @fetch="fetchAction"
          >
          </BaseTable>
        </v-col>
      </v-row>
    </v-fade-transition>

    <BasePagination
      v-if="items && items.length"
      v-model="selectedOrders.pagination"
      :meta="meta"
      :loading="isLoading || loading"
      @resetPage="selectedOrders.pagination.page = 1"
    />

    <BaggingModalTrack
      v-model="dialog.track"
      :dialog-settings="dialogSettings"
      :is-loading="isLoading"
      :data="bagUpdates"
      :data-item="bagItem"
    />

    <!-- CONFIRM SEAL -->
    <BaggingModalConfirm
      v-model="dialog.confirmSealed"
      :dialog-settings="dialogSettings"
      :is-confirm="true"
      @doCancel="() => (dialog.confirmSealed = false)"
    />

    <!-- Modal Reweight -->
    <!-- <BaggingReweight
      v-model="inputReweight"
      :selected="detailManifest"
      :dialog-settings="dialogSettings"
      @doCancel="() => (inputReweight.reweight = false)"
    /> -->

    <v-snackbar
      :value="
        alert.isShow &&
        alert.message.includes('Order') &&
        alert.type === 'success'
      "
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useFetch,
  useStore,
  watch,
  ref,
  useRouter,
  useRoute,
  Ref,
  PropType,
  ComputedRef,
  provide,
} from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'
import { bagVModel } from '~/pages/bagging/index.vue'
// Interfaces or types
import {
  Header,
  VuexModuleApplications,
  ModalConfirm,
  ActionsTable,
} from '~/types/applications'
import {
  VuexModuleDetailBagging,
  Bagged,
  CompletedBag,
} from '~/types/bagging/bagging'
// components
import { ActionsApplications } from '~/store/applications'
import { initTableHeaders } from '~/composables/partner-portals/bagging/table'

export interface BagActions {
  doMovePageBagPartner: (data: any) => void
  doHandleModalReweight: (data: CompletedBag) => Promise<void>
  doHandleModalTrack: (data?: Bagged) => void
  doViewDocumentsPage: (data: any) => void
  doHandleSeal: () => Promise<void>
  doHandleModalSeal: (data: CompletedBag) => void
  postReweight: () => Promise<void>
}

export default defineComponent({
  name: 'BagTab',
  layout: 'default',
  props: {
    value: {
      type: Object as PropType<bagVModel>,
      required: true,
    },
    isCompleteTabPartner: {
      type: Boolean,
      default: false,
    },
    isManifestTabPartner: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      required: false,
    },
    firstSelectedPortBag: {
      type: Object,
      default: () => ({
        selectedOriginPort: '' as string,
        selectedDestPort: '' as string,
      }),
    },
    isCustomsPartner: {
      type: Boolean,
      default: false,
    },
    isBaggedTabClient: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const route = useRoute()
    const router = useRouter()
    const isPartnerBagPage = computed(
      () => route.value.name === 'partner-portals-id-bagging'
    )

    // manage store
    const storeApplications = useStore<VuexModuleApplications>()
    const storeBagging = useStore<VuexModuleDetailBagging>()
    const items = computed(() => {
      if (props.isCompleteTabPartner)
        return storeBagging.state.bagging.bagging.completedBags

      if (props.isManifestTabPartner)
        return parsingForReweightManifest(
          storeBagging.state.bagging.bagging.manifestedBags
        )

      return storeBagging.state.bagging.bagging.baggedOrders
    })
    const detailManifest = computed(
      () => storeBagging.state.bagging.bagging.detailManifest
    )
    const inputReweight = ref({
      reweight: false,
      input: {},
      total: 0,
    }) as Ref<any>

    function parsingForReweightManifest(data: CompletedBag[]) {
      const user = localStorage.getItem('auth.user')
        ? JSON.parse(localStorage.getItem('auth.user') as string)
        : {}
      const tempNeedReweight =
        JSON.parse(localStorage.getItem(`reweight.${user.email}`) as string) ??
        []

      return data.map((x) => {
        return {
          ...x,
          reweight: tempNeedReweight.includes(x.id),
        }
      })
    }

    const bagUpdates = computed(
      () => storeBagging.state.bagging.bagging.bagUpdates
    )
    const showSelect = computed(() => {
      return props.isCompleteTabPartner
    })

    const selectedOriginPort = computed(
      () => props.firstSelectedPortBag.selectedOriginPort
    )
    const selectedDestPort = computed(
      () => props.firstSelectedPortBag.selectedDestPort
    )
    const bagItem = ref({})
    const completeItemTemp = ref({
      dataBag: {},
    }) as Ref<{ dataBag: CompletedBag | { [key: string]: any } }>

    const meta = computed(() => {
      if (props.isManifestTabPartner)
        return storeBagging.state.bagging.bagging.metaManifested

      if (props.isCompleteTabPartner)
        return storeBagging.state.bagging.bagging.metaCompleted

      return storeBagging.state.bagging.bagging.meta
    })
    const alert = computed(() => storeApplications.state.applications.alert)
    const dialog = ref({
      track: false,
      confirmSealed: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>

    // manage table
    const isLoading = computed(() => $fetchState?.pending || false)
    const selectedOrders = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    }) as ComputedRef<bagVModel>
    const actionExist = computed(() => {
      if (props.isCompleteTabPartner) {
        return {
          edit: true,
          downloadBagging: true,
        }
      }
      if (props.isManifestTabPartner) {
        return {
          manifestBag: true,
          uploadDocuments: uploadDocumentsFlag.value,
        }
      }
      if (editClientBagging.value && props.isBaggedTabClient) {
        return {
          edit: true,
          downloadBagging: true,
        }
      }
      return {
        downloadBagging: true,
      }
    }) as ComputedRef<ActionsTable>
    const selectedViews = ref([
      'orderCode',
      'batchId',
      'serviceType',
      'status',
      'origin',
      'originPort',
      'destination',
      'destinationPort',
      'creationDate',
      'LMTrackingNumber',
      'actions',
    ])
    const headers = computed(() => {
      let temp = initTableHeaders().clientBagging

      if (props.isCompleteTabPartner) {
        temp = initTableHeaders('CompleteTab').partnerBagging.completeTab
      }
      if (props.isManifestTabPartner) {
        temp =
          initTableHeaders('ManifestTab').partnerBagging.manifestTab.default

        if (uploadDocumentsFlag.value) {
          temp =
            initTableHeaders('ManifestTab').partnerBagging.manifestTab
              .uploadDocumentsFlag
        }
      }
      return temp
    }) as Ref<Header[]>

    const isLabelExistOnSelected = computed(() => {
      return selectedOrders.value.selectedOrders.every(
        (order: any) => order.labelPath
      )
    })

    // manage button in table
    const uploadDocuments = ref(false)

    // manage features flag
    const uploadDocumentsFlag = ref(false)
    const editClientBagging = ref(false)
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    // Debounced fetch
    const fetchTimer = ref(null) as unknown as Ref<any>
    const fetchDebounced = () => {
      clearTimeout(fetchTimer.value)

      fetchTimer.value = setTimeout(() => {
        fetchAction()
      }, 300)
    }
    const { $fetchState } = useFetch(async () => {
      uploadDocumentsFlag.value = await getFeatureFlags(
        'use-mawb-management-freight'
      )
      editClientBagging.value = await getFeatureFlags(
        'use-230-add-edit-functionality-to-client-bagging'
      )
    })

    const fetchBagUpdates = async (bagID: string) => {
      try {
        $fetchState.pending = true

        await storeBagging.dispatch('bagging/bagging/getBagsUpdate', { bagID })
        $fetchState.pending = false
      } catch (error) {
        return error
      }
    }

    function doHandleModalTrack(data?: Bagged) {
      if (data && Object.keys(data).length) {
        fetchBagUpdates(data.id)
        bagItem.value = data
      } else {
        bagItem.value = {}
      }
      dialog.value.track = !dialog.value.track
    }

    // manage pagination on changed
    watch(
      () => selectedOrders.value.pagination,
      (newPagination) => {
        storeApplications.commit('applications/SET_PAGINATION', {
          ...newPagination,
        })

        if (props.isCompleteTabPartner) {
          storeApplications.commit('bagging/bagging/SET_META_COMPLETED', {
            ...storeBagging.state.bagging.bagging.metaCompleted,
            page: (newPagination as any).page,
          })
        } else if (props.isManifestTabPartner) {
          storeApplications.commit('bagging/bagging/SET_META_MANIFESTED', {
            ...storeBagging.state.bagging.bagging.metaManifested,
            page: (newPagination as any).page,
          })
        } else {
          storeApplications.commit('bagging/bagging/SET_META', {
            ...storeBagging.state.bagging.bagging.meta,
            page: (newPagination as any).page,
          })
        }

        fetchDebounced()
      },
      { deep: true }
    )
    // manage view table on changed
    watch(selectedViews, (newValue) => {
      headers.value = initTableHeaders().clientBagging.filter((header) =>
        newValue.includes(header.value)
      )
    })

    function fetchAction() {
      emit('fetchAction')
    }

    const fetchDetailManifested = async (id: string) => {
      try {
        $fetchState.pending = true

        await storeBagging.dispatch('bagging/bagging/getDetailManifest', { id })
        $fetchState.pending = false
      } catch (error) {
        return error
      }
    }

    const baggingActions = {
      movePage: (data: any) => {
        const user = localStorage.getItem('auth.user')
          ? JSON.parse(localStorage.getItem('auth.user') as string)
          : {}
        localStorage.setItem(
          `completedDetail.${user.email}`,
          JSON.stringify(data)
        )
        editClientBagging.value && props.isBaggedTabClient
          ? router.push(`/bagging/${data.id}`)
          : router.push(`/partner-portals/bagging/${data.id}`)
      },
      doHandleModalSeal: (data: CompletedBag) => {
        completeItemTemp.value.dataBag = data
        dialogSettings.value = {
          loading: false,
          title: `Seal bag ${data.group_name} now ?`,
          content: '',
          cancelText: 'No',
          submitText: 'Yes',
          submitColor: 'primary',
        }
        dialog.value.confirmSealed = true
      },
      doHandleSeal: async () => {
        try {
          await storeBagging.dispatch('bagging/bagging/sealBag', {
            payload: { bag_id: completeItemTemp.value.dataBag.id },
          })
          fetchAction()
          dialog.value.confirmSealed = false
          completeItemTemp.value.dataBag = {}
        } catch (error) {}
      },
      doHandleModalReweight: async (data: CompletedBag) => {
        try {
          await fetchDetailManifested(data.id)
          dialogSettings.value = {
            loading: false,
            title: `Reweight Orders`,
            content: `${data.group_name}`,
            cancelText: 'Cancel',
            submitText: 'Submit',
            submitColor: 'primary',
          }
          inputReweight.value.reweight = true
        } catch (error) {}
      },
      postReweight: async () => {
        try {
          const payload = Object.entries(inputReweight.value.input).map(
            (x: any) => {
              return {
                order_id: x[0],
                weight: Number(x[1]),
              }
            }
          )
          dialogSettings.value.loading = true
          await storeBagging.dispatch('bagging/bagging/postReweight', {
            payload: { order_reweigh: payload },
          })
          await fetchAction()
          dialogSettings.value.loading = false
          inputReweight.value = ref({
            reweight: false,
            input: {},
            total: 0,
          })
        } catch (error) {}
      },
      viewDocumentsPage: (data: any) => {
        const user = localStorage.getItem('auth.user')
          ? JSON.parse(localStorage.getItem('auth.user') as string)
          : {}
        localStorage.setItem(
          `documentsDetail.${user.email}`,
          JSON.stringify(data)
        )
        // reset for navigation purpose from Partner Bagging tab and MAWB Documents tab
        localStorage.removeItem(`isCustomsService.${user.email}`)
        localStorage.setItem(
          `isCustomsService.${user.email}`,
          JSON.stringify(props.isCustomsPartner)
        )
        router.push(`/partner-portals/bagging/documents/${data.mawbNumber}`)
      },
    }

    // provide the function to the actions table components
    provide<BagActions>('bagActions', {
      doHandleModalTrack,
      doHandleModalReweight: baggingActions.doHandleModalReweight,
      doMovePageBagPartner: baggingActions.movePage,
      doViewDocumentsPage: baggingActions.viewDocumentsPage,
      doHandleSeal: baggingActions.doHandleSeal,
      doHandleModalSeal: baggingActions.doHandleModalSeal,
      postReweight: baggingActions.postReweight,
    })

    return {
      // manage store
      items,
      meta,
      alert,
      // manage table
      isLoading,
      selectedOrders,
      actionExist,
      selectedViews,
      headers,
      // selectAllToggle,
      isLabelExistOnSelected,
      // manage feature flag
      uploadDocumentsFlag,
      uploadDocuments,
      editClientBagging,
      // manage fetch
      // fetchOrders,
      fetchDebounced,
      dialogSettings,
      dialog,
      doHandleModalTrack,
      bagUpdates,
      bagItem,
      showSelect,
      baggingActions,
      fetchAction,
      isPartnerBagPage,
      inputReweight,
      detailManifest,
      selectedOriginPort,
      selectedDestPort,
    }
  },
  head: {},
})
</script>
