<template>
  <v-dialog v-model="dialog.status" max-width="600" @click:outside="toggle()">
    <v-card class="modalRejectionEdit">
      <v-card-title class="text-h5 pt-6 d-flex flex-column align-start">
        {{ dialogSettings.title }}
        <div class="primary--text" :style="'font-size: 12px;line-height: 25px'">
          {{ dialogSettings.content }}
        </div>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="mt-4">
        <v-select
          v-model="dialog.reason"
          outlined
          rounded
          dense
          single-line
          hide-details
          :items="reasonOptions"
          item-text="name"
          item-value="value"
          background-color="white"
          label="Reason for Rejection"
          placeholder="Reason..."
          class="input-filter mb-4"
        >
        </v-select>
        <v-textarea
          v-model="dialog.comment"
          hide-details
          label="Comments"
          outlined
          no-resize
          rows="6"
          :value="dialog.comment"
        ></v-textarea>
      </v-card-text>

      <v-card-actions class="px-6 pb-6 d-flex justify-center">
        <v-col cols="6" class="pa-0 mx-2">
          <v-btn
            v-if="dialogSettings.cancelText"
            outlined
            :loading="dialogSettings.loading"
            :disabled="dialogSettings.loading"
            color="primary"
            class="mx-2"
            width="100%"
            @click="doClose"
          >
            {{ dialogSettings.cancelText }}
          </v-btn>
        </v-col>
        <v-col cols="6" class="pa-0 mx-2">
          <v-btn
            :loading="dialogSettings.loading"
            :disabled="
              dialogSettings.loading || !dialog.reason || !dialog.comment
            "
            :color="dialogSettings.submitColor"
            width="100%"
            @click="$emit('doSubmit')"
          >
            {{ dialogSettings.submitText }}
          </v-btn>
        </v-col>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from '@nuxtjs/composition-api'
// Interfaces and types
import { ModalConfirm } from '~/types/applications'

export interface Value {
  status: Boolean
  comment: String
  reason: String
}

export default defineComponent({
  props: {
    value: {
      type: Object as PropType<Value>,
      required: true,
    },
    dialogSettings: {
      type: Object as PropType<ModalConfirm>,
      required: true,
    },
    isConfirm: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
  },
  setup(props, { emit }) {
    const dialog = computed({
      get: () => props.value,
      set: (value: Value) => emit('input', value),
    })
    const reasonOptions = computed(() => {
      return [
        {
          name: 'Rejected by Origin Custom',
          value: 'origin',
        },
        {
          name: 'Rejected by Destination Custom',
          value: 'destination',
        },
        {
          name: 'Overload',
          value: 'overload',
        },
      ]
    })

    const doClose = () => {
      if (props.isConfirm) {
        emit('doCancel')
      }
      dialog.value.status = false
    }
    const toggle = () => {
      dialog.value.status = !dialog.value.status
    }

    return {
      dialog,
      doClose,
      toggle,
      reasonOptions,
    }
  },
})
</script>
<style lang="scss">
.modalRejectionEdit {
  .v-input__slot {
    border-radius: 15px;
  }
}
</style>
