<template>
  <v-row align="center" class="ma-0">
    <!-- created from  -->
    <v-col cols="12" md="4" lg="3">
      <v-menu
        v-model="menu.createdFrom"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template #activator="{ on, attrs }">
          <v-text-field
            :value="date.createdFrom"
            v-bind="attrs"
            readonly
            clearable
            single-line
            outlined
            rounded
            dense
            hide-details
            label="Created From"
            placeholder="Enter your created from..."
            class="input-filter elevation-1"
            v-on="on"
            @click:clear="filterBagging.createdFrom = null"
          />
        </template>

        <v-date-picker
          v-model="filterBagging.createdFrom"
          :max="filterBagging.createdTo"
          show-adjacent-months
          @input="menu.createdFrom = false"
        />
      </v-menu>
    </v-col>

    <!-- created to  -->
    <v-col cols="12" md="4" lg="3">
      <v-menu
        v-model="menu.createdTo"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        min-width="auto"
      >
        <template #activator="{ on, attrs }">
          <v-text-field
            :value="date.createdTo"
            v-bind="attrs"
            readonly
            clearable
            single-line
            outlined
            rounded
            dense
            hide-details
            label="Created To"
            placeholder="Enter your created to..."
            class="input-filter elevation-1"
            v-on="on"
            @click:clear="filterBagging.createdTo = null"
          />
        </template>

        <v-date-picker
          v-model="filterBagging.createdTo"
          :min="filterBagging.createdFrom"
          show-adjacent-months
          @input="menu.createdTo = false"
        />
      </v-menu>
    </v-col>

    <!-- client -->
    <v-col v-if="!isClient" cols="12" md="4" lg="3">
      <v-autocomplete
        v-model="filterBagging.client"
        :items="[]"
        :search-input.sync="search.client"
        clearable
        outlined
        rounded
        dense
        single-line
        hide-details
        item-text="name"
        item-value="value"
        background-color="white"
        label="Client"
        placeholder="Enter your Client..."
        class="input-filter elevation-1"
      >
        <template #append-item>
          <div v-if="$fetchState.pending" class="d-flex justify-center">
            <v-progress-circular indeterminate color="primary" />
          </div>
        </template>
      </v-autocomplete>
    </v-col>
    <!-- destination -->
    <v-col cols="12" md="4" lg="3">
      <v-autocomplete
        v-model="filterBagging.destination"
        :items="filterData.ports.data"
        :disabled="$fetchState.pending"
        :search-input.sync="search.destination"
        clearable
        outlined
        rounded
        dense
        single-line
        hide-details
        item-text="name"
        item-value="id"
        background-color="white"
        label="Destination"
        placeholder="Enter your destination..."
        class="input-select-filter elevation-1"
      >
        <template #append-item>
          <div v-if="$fetchState.pending" class="d-flex justify-center">
            <v-progress-circular indeterminate color="primary" />
          </div>

          <div v-else v-intersect="portIntersect" />
        </template>
      </v-autocomplete>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  useFetch,
  ref,
  useContext,
  Ref,
  useStore,
} from '@nuxtjs/composition-api'
import { CancelTokenSource } from 'axios'
import { Pagination } from '~/types/applications'
// types
import { FilterBagging } from '~/types/bagging/bagging'
import { Ports, VuexModuleFilters } from '~/types/filters'

interface FilterData {
  ports: Ports
}

export default defineComponent({
  props: {
    value: {
      type: Object as PropType<FilterBagging>,
      required: true,
    },
    isClient: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const { $dateFns, $axios } = useContext()

    // manage store
    const storeFilter = useStore<VuexModuleFilters>()

    const filterBagging = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })
    // manage date for filter by created from and to
    const menu = ref({
      createdFrom: false,
      createdTo: false,
    })
    const date = computed(() => ({
      createdFrom: filterBagging.value.createdFrom
        ? $dateFns.format(
            $dateFns.parseISO(filterBagging.value.createdFrom),
            'MMMM do yyyy'
          )
        : '',
      createdTo: filterBagging.value.createdTo
        ? $dateFns.format(
            $dateFns.parseISO(filterBagging.value.createdTo),
            'MMMM do yyyy'
          )
        : '',
    }))
    // manage filter
    const search = ref({
      createdFrom: null,
      createdTo: null,
      client: null,
      destination: null,
    })
    const filterData = ref({
      ports: {} as Ports,
    }) as Ref<FilterData>
    // manage ports
    const portsMeta = ref({
      page: 1,
      itemsPerPage: 10,
    }) as Ref<Pagination>
    const source = ref({}) as Ref<CancelTokenSource>
    const fetchWithToken = async (fn: Function) => {
      try {
        $fetchState.pending = true

        if (source?.value?.token) source.value.cancel()

        source.value = $axios.CancelToken.source()
        await fn()
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const getPorts = async (params: Pagination) => {
      const { page, itemsPerPage: perPage } = params

      await fetchWithToken(async () => {
        await storeFilter.dispatch('filters/getPorts', {
          params: {
            page,
            perPage,
          },
          cancelToken: source.value.token,
        })
      })
    }
    const portIntersect = async (
      _entries: IntersectionObserverEntry[],
      _observer: IntersectionObserver,
      isIntersecting: boolean
    ) => {
      if (
        !isIntersecting ||
        portsMeta.value.itemsPerPage >= filterData.value.ports.totalCount
      ) {
        return
      }

      portsMeta.value = {
        page: 1,
        itemsPerPage: portsMeta.value.itemsPerPage + 10,
      }

      await getPorts(portsMeta.value)
    }
    // end manage ports
    const otherState = { filterBagging, menu, date, filterData, portIntersect }

    const { $fetchState } = useFetch(async () => {
      await getPorts(portsMeta.value)

      filterData.value = {
        ports: { ...storeFilter.state.filters.ports },
      }
    })

    return {
      ...otherState,
      // manage filter
      search,
    }
  },
})
</script>
