<template>
  <section class="pa-4 pa-md-10 py-8 LFreightPage">
    <v-row class="mb-6">
      <BaggingIncomingFilter v-model="filterOrder" :filter-data="filterData" />
    </v-row>

    <v-row align="center">
      <v-col cols="12">
        <BaseTable
          v-bind="tableSettings"
          :items="incomingData"
          :options="pagination"
          :loading="isLoading"
        />
      </v-col>
    </v-row>
    <BasePagination
      v-if="incomingData && incomingData.length"
      v-model="pagination"
      :meta="meta"
      :loading="isLoading"
      @resetPage="pagination.page = 1"
    />
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  useFetch,
  computed,
  useStore,
  useMeta,
  watch,
  reactive,
  useContext,
  useRoute,
  Ref,
  onMounted,
} from '@nuxtjs/composition-api'

// Interface and types
import { VuexModuleDetailBagging } from '~/types/bagging/bagging'
import { VuexModuleApplications, Pagination } from '~/types/applications'
import { filterOrderInit } from '@/store/orders'

export default defineComponent({
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    useMeta(() => ({ title: 'Client Portal | L-Freight' }))
    const { app } = useContext()
    const route = useRoute()

    // manage store
    const storeOfBagging = useStore<VuexModuleDetailBagging>()
    const incomingData = computed(
      () => (storeOfBagging.state.bagging.bagging as any).incomingFFOrders
    )
    const storeApplications = useStore<VuexModuleApplications>()

    // manage filter
    const filterData = ref([])
    const filterOrder = ref({
      orderCode: '',
      originnPortId: '',
      destinationPortId: '',
      clientId: [],
      bagCode: '',
    }) as any

    const doResetFilter = () => {
      filterOrder.value = { ...filterOrderInit }
    }

    // manage table
    const isLoading = computed(() => $fetchState?.pending || false)
    const pagination = ref({
      page: 1,
      itemsPerPage: 10,
    }) as Ref<Pagination>

    const meta = computed(
      () => storeOfBagging.state.bagging.bagging.metaIncoming
    )
    const storeState = {
      isLoading,
      incomingData,
      alert,
      pagination,
      filterOrder,
    }

    // manage fetch
    async function fetchIncomingFFOrders(fetchAll?: boolean) {
      const { page, itemsPerPage } = pagination.value
      const perPage = itemsPerPage !== -1 ? itemsPerPage : meta.value.totalCount

      let dataParams = {
        page,
        perPage,
      } as Object

      // for filters - if fetchAll is true, get all responses
      const initialise = {
        perPage: 'all',
      }

      const id = route.value.params.id

      try {
        $fetchState.pending = true

        dataParams = app.$customUtils.setURLParams({
          ...dataParams,
          ...filterOrder.value,
        })
        const data = await storeOfBagging.dispatch(
          'bagging/bagging/getIncomingFFOrders',
          {
            id,
            params: fetchAll ? initialise : dataParams,
          }
        )
        return data
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const { $fetchState } = useFetch(async () => {
      await fetchIncomingFFOrders()
    })

    const checkPartnerOrdinal = computed(() =>
      incomingData.value.partnerOrdinal === 0 ? incomingData.value.bagCode : ''
    )
    // manage table
    const tableSettings = reactive({
      itemKey: 'requestedId',
      headers: [
        {
          text: 'Order ID',
          value: 'orderCode',
          cellClass: 'text-no-wrap',
        },
        {
          text: 'Client',
          value: 'clientName',
          cellClass: 'text-no-wrap',
        },
        {
          text: 'Origin',
          value: 'portOriginCode',
        },
        {
          text: 'Destination',
          value: 'portDestinationCode',
        },

        {
          text: 'Bag Code',
          value: 'bagCode',
          cellClass: 'text-no-wrap',
        },
      ],
    })

    const table = {
      tableSettings,
    }
    const doResetPagination = () => {
      pagination.value = {
        ...pagination.value,
        page: 1,
      }
    }

    onMounted(async () => {
      // set filter with unpaginated response
      const data = await fetchIncomingFFOrders(true)
      filterData.value = data.data
    })
    watch(
      () => [filterOrder.value, props.step],
      () => {
        fetchIncomingFFOrders()
      },
      {
        deep: true,
      }
    )
    // *manage filter on changed
    watch(
      filterOrder,
      (newFilter) => {
        doResetPagination()
        storeApplications.commit('orders/SET_FILTER_ORDERS', {
          ...newFilter,
        })
      },
      { deep: true }
    )
    // watch pagination
    watch(
      pagination.value,
      (newPagination) => {
        storeApplications.commit('applications/SET_PAGINATION', {
          ...newPagination,
        })

        storeApplications.commit('bagging/bagging/SET_META_INCOMING', {
          ...storeOfBagging.state.bagging.bagging.metaIncoming,
          page: (newPagination as any).page,
        })
        fetchIncomingFFOrders()
      },

      { deep: true }
    )

    return {
      filterData,
      ...storeState,
      ...table,
      meta,
      pagination,
      checkPartnerOrdinal,
      doResetFilter,
      doResetPagination,
    }
  },
  head: {},
})
</script>
