<template>
  <v-row align="center" class="ma-0">
    <!-- order code -->
    <v-col cols="12" md="3" class="px-2 py-4">
      <v-text-field
        v-model="filterOrder.orderCode"
        clearable
        outlined
        dense
        rounded
        single-line
        label="Order Code"
        placeholder="Enter order code..."
        hint="Separate order codes with comma for multiple filter"
        persistent-hint
        background-color="white"
        type="search"
        class="input-filter"
      />
    </v-col>

    <!-- clients on partner -->
    <v-col cols="12" md="2" class="px-2 py-4">
      <v-autocomplete
        v-model="filterOrder.clientId"
        :items="filterData"
        item-text="clientName"
        item-value="clientId"
        clearable
        outlined
        rounded
        dense
        single-line
        multiple
        background-color="white"
        label="Client Name"
        placeholder="Enter client name..."
        class="input-filter"
      >
      </v-autocomplete>
    </v-col>
    <!-- origin port -->
    <v-col cols="12" md="2" class="px-2 py-4">
      <v-autocomplete
        v-model="filterOrder.originPortId"
        :items="filterData"
        item-text="portOriginCode"
        item-value="portOriginId"
        :search-input.sync="search.originPortId"
        clearable
        outlined
        rounded
        dense
        single-line
        background-color="white"
        label="Origin"
        placeholder="Enter your origin port..."
        class="input-select-filter"
      >
      </v-autocomplete>
    </v-col>

    <!-- destination port -->
    <v-col cols="12" md="2" class="px-2 py-4">
      <v-autocomplete
        v-model="filterOrder.destinationPortId"
        :items="filterData"
        item-text="portDestinationCode"
        item-value="portDestinationId"
        :search-input.sync="search.destinationPortId"
        clearable
        outlined
        rounded
        dense
        single-line
        background-color="white"
        label="Destination"
        placeholder="Enter your destination port..."
        class="input-select-filter"
      >
      </v-autocomplete>
    </v-col>

    <!-- bag code -->
    <v-col cols="12" md="3" class="px-2 py-4">
      <v-text-field
        v-model="filterOrder.bagCode"
        :search-input.sync="search.bagCode"
        clearable
        outlined
        rounded
        dense
        single-line
        background-color="white"
        label="Bag Code"
        placeholder="Enter your bag code..."
        type="search"
        class="input-filter"
      ></v-text-field>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { defineComponent, computed, ref, watch } from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    value: {
      type: Object,
      required: true,
    },
    filterData: {
      type: Array,
      required: true,
    },
  },
  setup(props, { emit }) {
    // manage router

    const filterOrder = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })

    watch(
      () => filterOrder.value.orderCode,
      (newValue) => {
        if (!!newValue && newValue.includes(' ')) {
          filterOrder.value.orderCode = filterOrder.value.orderCode.replace(
            /[ ,]+/g,
            ','
          )
        }
      }
    )

    // manage filter
    const search = ref({
      orderCode: null,
      originPortId: null,
      destinationPortId: null,
      clientsOnPartner: null,
      bagCode: null,
    })

    return {
      filterOrder,
      // manage filter
      search,
    }
  },
})
</script>
