<template>
  <article class="bagging-list pa-8">
    <v-card class="mx-auto">
      <v-list v-if="dataTemp && dataTemp.length">
        <BaggingListGroup
          v-model="checklist"
          :unassigned="isPartnerUnbagged ? unassignedTemp : unassignedBagsTemp"
          :assigned="isPartnerUnbagged ? assignedTemp : assignedBagsTemp"
          :temp="dataTemp"
          :is-partner-bag-page="isPartnerBagPage"
          :is-partner-unbagged="isPartnerUnbagged"
          :is-partner-bagged="isPartnerBagged"
        />
      </v-list>
      <div v-else class="d-flex justify-center font-weight-bold">No Data</div>
    </v-card>
  </article>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  Ref,
  useStore,
  useRoute,
  watch,
  PropType,
  useContext,
} from '@nuxtjs/composition-api'
import {
  VuexModuleDetailBagging,
  Unbagged,
  Bagged,
  Order,
  InputPostBag,
} from '~/types/bagging/bagging'

import {
  getUnassignedTemp,
  getAssignedTemp,
  getTranshipmentTemp,
  getUnassignedBagsTemp,
  getAssignedBagsTemp,
} from '~/composables/partner-portals/bagging/orderAssignment'

import { setUnbaggedTranshipmentBagName } from '~/composables/partner-portals/bagging'

interface UnbaggedBagGroup extends Unbagged {
  bag_group: string
}

export default defineComponent({
  name: 'BaggingList',
  components: {},
  props: {
    data: {
      type: Array as PropType<Unbagged[] | []>,
      required: true,
    },
    value: {
      type: Object as PropType<InputPostBag | {}>,
      required: true,
    },
    isPartnerUnbagged: {
      type: Boolean,
      default: false,
    },
    isPartnerBagged: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const route = useRoute()
    const { $dateFns } = useContext()
    const storeBagging = useStore<VuexModuleDetailBagging>()
    const checklist = ref([]) as Ref<any>
    const isPartnerBagPage = computed(
      () => route.value.name === 'partner-portals-id-bagging'
    )

    const dataTemp = computed(() => {
      checklist.value = []
      let temp = (storeBagging.state.bagging as any).bagging
        .unbagged as Unbagged[]
      if (!isPartnerBagPage.value)
        temp = (storeBagging.state.bagging as any).bagging
          .unbagged as Unbagged[]
      else if (props.isPartnerUnbagged) {
        temp = (storeBagging.state.bagging as any).bagging
          .unbaggedPartner as Unbagged[]
      } else if (props.isPartnerBagged) {
        temp = parseBaggedToList(
          (storeBagging.state.bagging as any).bagging.bagsPartner
        ) as Unbagged[]
      }
      return temp
    }) as Ref<Unbagged[]>

    // for unbagged orders

    const assignedTemp = getAssignedTemp(
      props.isPartnerUnbagged
        ? ((storeBagging.state.bagging as any).bagging
            .unbaggedPartner as Unbagged[])
        : ((storeBagging.state.bagging as any).bagging
            .bagsPartner as Unbagged[])
    )

    const unassignedTemp = getUnassignedTemp(
      props.isPartnerUnbagged
        ? ((storeBagging.state.bagging as any).bagging
            .unbaggedPartner as Unbagged[])
        : ((storeBagging.state.bagging as any).bagging
            .bagsPartner as Unbagged[])
    )

    const transhipmentTemp = getTranshipmentTemp(
      (storeBagging.state.bagging as any).bagging.unbaggedPartner as Unbagged[]
    )

    // for bags
    const unassignedBagsTemp = getUnassignedBagsTemp(
      (storeBagging.state.bagging as any).bagging.bagsPartner as Unbagged[]
    )
    const assignedBagsTemp = getAssignedBagsTemp(
      parseBaggedToList(
        (storeBagging.state.bagging as any).bagging.bagsPartner as Unbagged[]
      )
    )

    function parseBaggedToList(data: Unbagged[]) {
      let temp = [] as any
      data.forEach((x) => {
        const remap = x.order_group.map((y) => {
          return {
            dest_port: y.dest_port,
            dest_country: y.dest_country,
            origin_port: y.origin_port,
          }
        })
        temp.push(remap)
      })
      temp = [].concat.apply([], temp)
      temp = temp.filter(
        (value: any, index: any, self: any) =>
          index ===
          self.findIndex(
            (t: any) =>
              t.dest_port === value.dest_port &&
              t.origin_port === value.origin_port
          )
      )
      let mergedAllOrderGroup = data.map((x) => {
        return x.order_group
      }) as any
      mergedAllOrderGroup = [].concat.apply([], mergedAllOrderGroup)

      const bagGroup = mergedAllOrderGroup
        .map((x: any) => x.group_name.split('-')[0])
        .filter(
          (value: any, index: any, self: any) =>
            index === self.findIndex((t: any) => t === value)
        ) as any
      temp = temp.map((x: any) => {
        return {
          ...x,
          bag_group: bagGroup
            .filter((y: any) => y.includes(x.origin_port + x.dest_port))
            .map((z: any) => {
              return {
                group_name: z,
                dest_port: x.dest_port,
                dest_country: x.dest_country,
                origin_port: x.origin_port,
                order_group: mergedAllOrderGroup.filter((j: any) => {
                  return j.group_name.split('-')[0] === z
                }),
              }
            }),
        }
      })
      return temp
    }

    const selectedUnbagged = computed({
      get: () => props.value,
      set: (value) => {
        emit('input', value)
      },
    })

    watch(
      () => [
        checklist.value,
        props.isPartnerUnbagged,
        props.isPartnerBagged,
        isPartnerBagPage.value,
      ],
      ([
        newChecklist,
        newIsPartnerUnbagged,
        _newIsPartnerBagged,
        newIsPartnerBagPage,
      ]) => {
        let finalPayload = {} as any
        // if there are selected orders
        if (newChecklist && newChecklist.length > 0) {
          if (newIsPartnerUnbagged || !newIsPartnerBagPage) {
            finalPayload = handleUnbaggedTabBags(dataTemp.value, newChecklist)
          } else {
            finalPayload = handleBaggedTabBags(dataTemp.value, newChecklist)
          }
        }
        selectedUnbagged.value = finalPayload
      },
      { deep: true }
    )

    function filterBagOnlyName(data: any) {
      const temp = data.map((x: Bagged) =>
        data.length > 1 ? x.group_name.split('-')[0] : x.group_name
      )[0]
      return temp
    }

    // handle payload for unbagged tab close/complete bags
    function handleUnbaggedTabBags(data: Unbagged[], newChecklist: any) {
      const id = newChecklist[0].id
      const isTranshipment = setUnbaggedTranshipmentBagName(
        newChecklist[0].order_code,
        transhipmentTemp.value
      )
      let finalPayload = {} as Record<string, string>

      let orderGroups = data.map((x: Unbagged) => x.order_group) as any

      orderGroups = ([] as Bagged[]).concat.apply([], orderGroups)

      const filterData = orderGroups.filter(
        (x: Bagged) => x.orders && x.orders.some((y: Order) => y.id === id)
      )[0] as Record<string, string>

      if (filterData?.group_name) {
        const dateCustom = '-' + $dateFns.format(new Date(), 'yyyyMMddHHmmss')

        finalPayload = {
          bag_name:
            (!isTranshipment ? filterData.group_name : isTranshipment) +
            dateCustom,
          order_ids: newChecklist.map((x: Order) => x.id),
        }
        newChecklist[0].isHighValue &&
          (finalPayload.bag_name = finalPayload.bag_name + '-H')
      }
      return finalPayload
    }

    // handle payload for bagged tab complete bags
    function handleBaggedTabBags(data: Unbagged[], newChecklist: any) {
      let finalPayload = {} as Record<string, string>

      let orderGroups = data.map((x: any) => x.bag_group) as any

      orderGroups = ([] as UnbaggedBagGroup[]).concat.apply([], orderGroups)
      orderGroups = orderGroups.map((x: Unbagged) => x.order_group)
      orderGroups = ([] as Bagged[]).concat.apply([], orderGroups)

      let filterData = orderGroups.filter((x: Bagged) =>
        newChecklist.some((y: Order) => y.id === x.id)
      ) as Record<string, string | any>

      filterData = {
        group_name: filterBagOnlyName(filterData),
        bag_ids: filterData.map((x: Bagged) => x.id),
        isHighValue: filterData[0].orders[0].isHighValue ?? false,
      }
      filterData.bag_ids = [].concat.apply([], filterData.bag_ids)
      if (filterData?.group_name) {
        const dateCustom =
          filterData.group_name.split('-').length > 1
            ? ''
            : '-' + $dateFns.format(new Date(), 'yyyyMMddHHmmss')
        finalPayload = {
          bag_name: filterData.group_name + dateCustom,
          bag_ids: filterData.bag_ids,
        }
        filterData.isHighValue &&
          filterData.bag_ids.length > 1 &&
          (finalPayload.bag_name = finalPayload.bag_name + '-H')
      }
      return finalPayload
    }

    return {
      checklist,
      dataTemp,
      unassignedTemp,
      assignedTemp,
      transhipmentTemp,
      unassignedBagsTemp,
      assignedBagsTemp,
      isPartnerBagPage,
    }
  },
})
</script>

<style lang="scss">
@import '../../assets/scss/bagging/main.scss';
.unassigned {
  .v-list-group {
    .v-list-group__header {
      background: orange !important;
    }
  }
}
</style>
