<template>
  <!-- UNBAGGED TAB PARTNER -->
  <v-list v-if="isPartnerUnbagged">
    <div v-if="unassigned[0].order_group.length !== 0" class="unassigned">
      <v-list-group>
        <template #activator>
          <v-list-item-title>Unassigned</v-list-item-title>

          <v-list-item-subtitle
            >Total Orders:
            {{ unassigned[0].order_group.length }}</v-list-item-subtitle
          >
        </template>
        <v-list-item-group multiple active-class="">
          <v-list-item
            v-for="(x, orderIndex) in unassigned[0].order_group"
            :key="orderIndex"
            :value="x"
            :class="`${x.new ? 'bg-custom' : ''}`"
            :style="`margin-left: 30px; `"
          >
            <v-list-item-title>
              <v-btn text color="primary" @click.stop="changePage(x.id)">
                <span>
                  {{ x.order_code }}
                </span>
                <v-badge
                  v-if="checkHighValue(x)"
                  :content="'High Value'"
                  color="secondary"
                  class="ml-2"
                >
                </v-badge>
              </v-btn>
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list-group>
    </div>
    <div v-if="assigned && assigned.length">
      <v-list-group
        v-for="(parent, index) in assigned"
        :key="index"
        :style="`${orderTotal(parent.order_group) ? '' : 'display: none'}`"
      >
        <template #activator>
          <v-list-item-title
            >{{ parent.dest_country }} -
            {{ parent.dest_port }}</v-list-item-title
          >
          <v-list-item-subtitle
            >Total Orders:
            {{ orderTotal(parent.order_group) }}</v-list-item-subtitle
          >
        </template>
        <v-list-group
          v-for="(sub, subIndex) in parent.order_group"
          :key="subIndex"
          no-action
          sub-group
        >
          <template #activator>
            <v-list-item-content>
              <v-list-item-title>{{ sub.group_name }} </v-list-item-title>
            </v-list-item-content>
            <v-list-item-content>
              <v-chip
                v-if="isTranshipment(sub.orders)"
                class="transhipment-chip"
                label
                outlined
                >Transhipment</v-chip
              >
            </v-list-item-content>
            <v-list-item-content class="custom-item-content mx-2">
              <v-list-item-subtitle
                >Total Orders:
                {{
                  sub.orders && sub.orders.length ? sub.orders.length : 0
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </template>

          <v-list-item-group v-model="checklist" multiple active-class="">
            <v-list-item
              v-for="(x, orderIndex) in sub.orders"
              :key="orderIndex"
              :value="x"
              :class="`${x.new ? 'bg-custom' : ''}`"
              :style="`margin-left: 30px; `"
              :disabled="
                handleDisabled({
                  order: x,
                  sub,
                  parent,
                })
              "
            >
              <template #default="{ active }">
                <v-list-item-action>
                  <v-checkbox
                    v-ripple
                    on-icon="mdi-checkbox-marked-circle"
                    off-icon="mdi-checkbox-blank-circle-outline"
                    color="primary"
                    :input-value="active"
                  />
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>
                    <v-btn text color="primary" @click.stop="changePage(x.id)">
                      <span>
                        {{ x.order_code }}
                      </span>
                      <v-badge
                        v-if="checkHighValue(x)"
                        :content="'High Value'"
                        color="secondary"
                        class="ml-2"
                      >
                      </v-badge>
                    </v-btn>
                  </v-list-item-title>
                </v-list-item-content>
              </template>
            </v-list-item>
          </v-list-item-group>
        </v-list-group>
      </v-list-group>
    </div>
  </v-list>

  <!-- BAG TAB PARTNER -->
  <v-list v-else-if="isPartnerBagged">
    <div v-if="unassigned && unassigned.length" class="unassigned">
      <v-list-group>
        <template #activator>
          <v-list-item-title>Unassigned</v-list-item-title>

          <v-list-item-subtitle
            >Total Bags: {{ unassigned.length }}</v-list-item-subtitle
          >
        </template>
        <v-list-item-group multiple active-class="">
          <v-list-item
            v-for="(x, bagIndex) in unassigned"
            :key="bagIndex"
            :value="x"
            :class="`${x.new ? 'bg-custom' : ''}`"
            :style="`margin-left: 30px; `"
          >
            <v-list-item-title>
              <v-btn text color="primary" @click.stop="changePage(x)">
                <span>
                  {{ x.group_name }}
                </span>
              </v-btn>
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list-group>
    </div>
    <div v-if="assigned && assigned.length">
      <v-list-group
        v-for="(parent, index) in assigned"
        :key="index"
        :style="`${orderTotal(parent) ? '' : 'display: none'}`"
      >
        <template #activator>
          <v-list-item-title
            >{{ parent.dest_country }} -
            {{ parent.dest_port }}</v-list-item-title
          >
          <v-list-item-subtitle
            >Total Bags: {{ orderTotal(parent) }}</v-list-item-subtitle
          >
        </template>

        <v-list-group
          v-for="(sub, subIndex) in parent.bag_group"
          :key="subIndex"
          no-action
          sub-group
        >
          <template #activator>
            <v-list-item-content>
              <v-list-item-title>{{ sub.group_name }}</v-list-item-title>
            </v-list-item-content>
            <v-list-item-content class="custom-item-content">
              <v-list-item-subtitle
                >Total Bags:
                {{
                  sub.order_group && sub.order_group.length
                    ? sub.order_group.length
                    : 0
                }}</v-list-item-subtitle
              >
            </v-list-item-content>
          </template>
          <v-list-item-group v-model="checklist" multiple active-class="">
            <v-list-item
              v-for="(x, orderIndex) in sub.order_group"
              :key="orderIndex"
              :value="x"
              :class="`${x.new ? 'bg-custom' : ''}`"
              :style="`margin-left: 30px; `"
              :disabled="
                handleDisabled({
                  order: x,
                  sub,
                  parent,
                })
              "
            >
              <template #default="{ active }">
                <v-list-item-action>
                  <v-checkbox
                    v-ripple
                    on-icon="mdi-checkbox-marked-circle"
                    off-icon="mdi-checkbox-blank-circle-outline"
                    color="primary"
                    :input-value="active"
                  />
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>
                    <v-btn text color="primary" @click.stop="changePage(x)">
                      <span>
                        {{ x.group_name }}
                      </span>
                    </v-btn>
                  </v-list-item-title>
                </v-list-item-content>
              </template>
            </v-list-item>
          </v-list-item-group>
        </v-list-group>
      </v-list-group>
    </div>
  </v-list>
</template>

<script lang="ts">
import {
  defineComponent,
  useRouter,
  useRoute,
  PropType,
  computed,
} from '@nuxtjs/composition-api'
import { checkHighValue } from '~/composables/partner-portals/scan'
import { Unbagged, Bagged, Order } from '~/types/bagging/bagging'

export default defineComponent({
  name: 'ListGroup',
  components: {},
  props: {
    value: {
      type: Array as any,
      required: true,
    },
    assigned: {
      type: Array as PropType<Unbagged[] | []>,
      default: () => [],
    },
    unassigned: {
      type: Array as PropType<Unbagged[] | []>,
      default: () => [],
    },

    isPartnerUnbagged: {
      type: Boolean,
      default: false,
    },
    isPartnerBagged: {
      type: Boolean,
      default: false,
    },
    isPartnerBagPage: {
      type: Boolean,
      required: true,
    },
  },
  setup(props, { emit }) {
    const route = useRoute()
    const router = useRouter()
    const checklist = computed({
      get: () => props.value,
      set: (value) => {
        emit('input', value)
      },
    })

    function isTranshipment(data: Order[]) {
      return data.some(
        (x: Order) =>
          x.transhipmentStatus !== 'direct' &&
          x.transhipmentStatus !== 'unassigned' &&
          x.transhipmentStatus !== '' && // for old orders
          x.partnerOrdinal &&
          x.partnerOrdinal <= 1
      )
    }
    function orderTotal(data: any) {
      let total = 0
      if (props.isPartnerBagged) {
        total = data.bag_group.reduce(function (acc: any, obj: any) {
          return (
            acc +
            (obj.order_group && obj.order_group.length
              ? obj.order_group.length
              : 0)
          )
        }, 0)
      } else {
        total = data.reduce(function (acc: any, obj: Bagged) {
          return acc + (obj.orders && obj.orders.length ? obj.orders.length : 0)
        }, 0)
      }
      return total
    }

    function changePage(data: any | Object) {
      if (props.isPartnerBagPage) {
        const user = localStorage.getItem('auth.user')
          ? JSON.parse(localStorage.getItem('auth.user') as string)
          : {}
        localStorage.setItem(
          `completedDetail.${user.email}`,
          JSON.stringify({
            ...data,
            is_detail_bag_tab: true,
          })
        )
        const idPartner = route.value.params.id
        if (typeof data === 'string') {
          router.push(`/partner-portals/${idPartner}/incoming-orders/${data}`)
        } else {
          router.push(`/partner-portals/bagging/${data.id}`)
        }
      } else {
        router.push(`/orders/${data}`)
      }
    }

    // only allow orders of the same lane, partner and same value to be bagged together
    // check destination, partner and value of options are the same as current selected option
    function handleDisabled({
      order,
      sub,
      parent,
    }: {
      order: any
      sub: any
      parent: any
    }) {
      let nameParent = ''
      let nameSub = ''
      let isHighValue

      if (checklist.value && checklist.value[0]) {
        if (props.isPartnerUnbagged || !props.isPartnerBagPage) {
          // for order level
          const data = props.assigned as any
          ;({ nameParent, nameSub, isHighValue } = handleOrderDisabled(
            data,
            order
          ))
        } else {
          // for bag level
          const data = props.assigned as any
          ;({ nameParent, nameSub, isHighValue } = handleBagDisabled(
            data,
            order
          ))
        }

        if (!nameParent || !nameSub) return false

        return (
          parent.dest_country !== nameParent ||
          sub?.group_name !== nameSub ||
          (parent.dest_country === 'SG' && !isHighValue)
        )
      }
    }
    function handleOrderDisabled(data: any, order: any) {
      const isHighValueParent = checklist.value[0].isHighValue
      const indexParent = data.findIndex((x: Unbagged) =>
        x?.order_group.some((y: Bagged) =>
          y?.orders.some(
            (z: Order) => z.order_code === checklist.value[0].order_code
          )
        )
      )
      const indexSub =
        data[indexParent]?.order_group &&
        data[indexParent]?.order_group.findIndex((x: Bagged) =>
          x?.orders.some(
            (y: Order) => y.order_code === checklist.value[0].order_code
          )
        )

      const nameParent = data[indexParent]?.dest_country
      const nameSub = data[indexParent]?.order_group[indexSub].group_name
      const isHighValue = order.isHighValue === isHighValueParent

      return { nameParent, nameSub, isHighValue }
    }

    function handleBagDisabled(data: any, order: any) {
      const isHighValueParent = checklist.value[0].orders[0].isHighValue
      const indexParent = data.findIndex((x: any) =>
        x?.bag_group.some((y: Unbagged) =>
          y.order_group.some((z: Bagged) =>
            checklist.value.some((j: any) => z.id === j.id)
          )
        )
      )
      const indexSub =
        data[indexParent]?.bag_group &&
        data[indexParent]?.bag_group.findIndex((x: Unbagged) =>
          x?.order_group.some((y: Bagged) =>
            checklist.value.some((l: any) => l.id === y.id)
          )
        )

      const nameParent = data[indexParent]?.dest_country
      const nameSub = data[indexParent]?.bag_group[indexSub].group_name
      const isHighValue = order.orders[0].isHighValue === isHighValueParent
      return { nameParent, nameSub, isHighValue }
    }

    return {
      checklist,
      handleDisabled,
      handleOrderDisabled,
      handleBagDisabled,
      orderTotal,
      changePage,
      isTranshipment,
      checkHighValue,
    }
  },
})
</script>
<style scoped>
.transhipment-chip {
  border-color: white;
  color: white;
  border-width: medium;
  max-width: max-content;
}
</style>
