<template>
  <v-dialog v-model="dialog" max-width="450" @click:outside="toggle()">
    <v-card>
      <v-card-title class="text-h5 pt-6 d-flex justify-center">
        {{ dialogSettings.title }}
      </v-card-title>

      <v-card-text v-if="dialogSettings.content">
        {{ dialogSettings.content }}
      </v-card-text>

      <v-card-actions class="px-6 pb-6 d-flex justify-center">
        <v-col class="pa-0 mx-2" cols="6">
          <v-btn
            v-if="dialogSettings.cancelText"
            :disabled="dialogSettings.loading"
            :loading="dialogSettings.loading"
            class="mx-2"
            color="primary"
            outlined
            width="100%"
            @click="doClose"
          >
            {{ dialogSettings.cancelText }}
          </v-btn>
        </v-col>
        <v-col class="pa-0 mx-2" cols="6">
          <v-btn
            :color="dialogSettings.submitColor"
            :disabled="dialogSettings.loading"
            :loading="dialogSettings.loading"
            width="100%"
            @click="doSubmit"
          >
            {{ dialogSettings.submitText }}
          </v-btn>
        </v-col>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  inject,
  PropType,
} from '@nuxtjs/composition-api'
// Interfaces and types
import { ModalConfirm } from '~/types/applications'
import { BagActions } from '~/components/bagging/BagTab.vue'

export default defineComponent({
  props: {
    value: {
      type: Boolean as PropType<boolean>,
      required: true,
    },
    dialogSettings: {
      type: Object as PropType<ModalConfirm>,
      required: true,
    },
    isConfirm: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
    deleteOrderClient: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
  },
  setup(props, { emit }) {
    const dialog = computed({
      get: () => props.value,
      set: (value: boolean) => emit('input', value),
    })
    const doClose = () => {
      if (props.isConfirm) {
        emit('doCancel')
      }
      dialog.value = false
    }
    const toggle = () => {
      dialog.value = !dialog.value
    }
    const bagActions = inject('bagActions', {}) as BagActions
    const doSubmit = async () => {
      if (!props.deleteOrderClient && bagActions?.doHandleSeal) {
        await bagActions?.doHandleSeal()
      }

      emit('doSubmit')
      dialog.value = false
    }
    return {
      dialog,
      doClose,
      toggle,
      doSubmit,
      bagActions,
    }
  },
})
</script>
