<template>
  <v-dialog v-model="inputReweight.reweight" max-width="750" persistent eager>
    <v-card class="mawbCustom">
      <v-card-title class="text-h5 pt-6 d-flex justify-start">
        {{ dialogSettings.title }}
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="">
        <div>
          <!-- v-for="(x, i) in selected" :key="i" -->
          <v-row>
            <v-col cols="12" md="12" :class="`mt-4 pb-0`">
              <div>
                <span class="font-weight-bold">Bag ID:</span>
                {{ dialogSettings.content }}
                <!-- {{x.group_name}} -->
                <!-- {{ inputReweight.input[x.id].groupName }} -->
              </div>
            </v-col>
          </v-row>

          <v-row align="center">
            <v-col cols="12" md="12" class="px-2 pb-0">
              <v-divider></v-divider>
            </v-col>
          </v-row>
          <v-row align="center" class="px-14">
            <v-col cols="12" md="4" class="px-2 pb-0 font-weight-bold">
              <div>Order ID</div>
            </v-col>
            <v-col cols="12" md="4" class="px-2 pb-0 font-weight-bold">
              <div>Submitted Weight</div>
            </v-col>
            <v-col cols="12" md="4" class="px-2 pb-0 font-weight-bold">
              <div>Measured Weight</div>
            </v-col>
          </v-row>
          <v-row
            v-for="(y, g) in selected"
            :key="g"
            align="center"
            class="px-14"
          >
            <v-col cols="12" md="4" class="px-2 pb-0">
              <div>
                {{ y.orderCode }}
              </div>
            </v-col>
            <v-col cols="12" md="4" class="px-2 pb-0">
              <div>{{ y.weight }}</div>
            </v-col>
            <v-col cols="12" md="4" class="px-2 pb-0">
              <v-text-field
                v-model="inputReweight.input[y.id]"
                outlined
                dense
                rounded
                hide-details
                label="Weight"
                placeholder="Weight..."
                background-color="white"
                type="number"
                class="input-filter"
                append-icon="kg"
                min="0"
              />
              <!-- oninput="validity.valid||(value='')" -->
            </v-col>
          </v-row>
          <v-row align="center">
            <v-col cols="12" md="12" class="px-2 pb-0">
              <v-divider></v-divider>
            </v-col>
          </v-row>
          <v-row align="center" class="px-14">
            <v-col cols="12" md="4" class="px-2 font-weight-bold">
              <div>Total</div>
            </v-col>
            <v-col cols="12" md="4" class="px-2 font-weight-bold">
              <div>
                {{ totalWeight() }}
              </div>
            </v-col>
            <v-col cols="12" md="4" class="px-2">
              <!-- v-model="inputReweight.total" -->
              <v-text-field
                :value="totalWeight({ isTotalMeasured: true })"
                outlined
                dense
                rounded
                hide-details
                label="Weight"
                placeholder="Weight..."
                background-color="white"
                type="number"
                class="input-filter"
                append-icon="kg"
                min="0"
                disabled
              />
              <!-- oninput="validity.valid||(value='')" -->
            </v-col>
          </v-row>

          <!-- <v-row v-if="selected.length - 1 !== i" align="center">
            <v-col cols="12" md="12" class="px-2 pt-0">
              <v-divider></v-divider>
            </v-col>
          </v-row> -->
        </div>
      </v-card-text>
      <div>
        <v-divider></v-divider>
      </div>

      <v-card-actions class="px-6 pb-6 d-flex justify-center mt-3">
        <v-col cols="6" class="pa-0 mx-2">
          <v-btn
            v-if="dialogSettings.cancelText"
            outlined
            :disabled="dialogSettings.loading"
            color="primary"
            class="mx-2"
            width="100%"
            @click="toggle()"
          >
            {{ dialogSettings.cancelText }}
          </v-btn>
        </v-col>
        <v-col cols="6" class="pa-0 mx-2">
          <v-btn
            :disabled="dialogSettings.loading || disabledBtn()"
            :color="dialogSettings.submitColor"
            width="100%"
            @click="() => bagActions.postReweight"
          >
            {{ dialogSettings.submitText }}
          </v-btn>
        </v-col>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
// import generate from '@babel/generator'
import {
  defineComponent,
  PropType,
  computed,
  inject,
} from '@nuxtjs/composition-api'

import { BagActions } from '~/components/bagging/BagTab.vue'

// Interfaces and types
import { ModalConfirm } from '~/types/applications'
import { InputReweight, Order } from '~/types/bagging/bagging'

export default defineComponent({
  name: 'ReweightBagging',
  props: {
    value: {
      type: Object as PropType<InputReweight>,
      required: true,
    },
    dialogSettings: {
      type: Object as PropType<ModalConfirm>,
      required: true,
    },
    isConfirm: {
      type: Boolean as PropType<boolean>,
      default: false,
    },
    selected: {
      type: Array as PropType<Order[]>,
      default: () => [],
    },
  },
  setup(props, { emit }) {
    const inputReweight = computed({
      get: () => props.value,
      set: (value: InputReweight) => emit('input', value),
    })
    const doClose = () => {
      if (props.isConfirm) {
        emit('doCancel')
      }
      inputReweight.value.reweight = false
    }
    const toggle = () => {
      inputReweight.value.reweight = !inputReweight.value.reweight
    }

    function disabledBtn() {
      if (inputReweight.value.input) {
        const arrIsEmpty = Object.values(inputReweight.value.input).some(
          (x) => !x
        )
        return arrIsEmpty
      }
    }

    function totalWeight(params?: { isTotalMeasured?: Boolean }) {
      let total = props.selected.reduce((acc: any, obj: any) => {
        return acc + obj.weight
      }, 0)
      // console.log({isTotalMeasured: params?.isTotalMeasured, keys: Object.keys(inputReweight.value.input) })
      if (params && params?.isTotalMeasured) {
        if (Object.keys(inputReweight.value.input).length) {
          total = Object.values(inputReweight.value.input).reduce(
            (acc: any, obj: any) => {
              return Number(acc) + Number(obj)
            },
            0
          )
        } else {
          total = 0
        }
        inputReweight.value.total = total
      }

      return total
    }
    const bagActions = inject('bagActions', {}) as BagActions

    return {
      inputReweight,
      doClose,
      toggle,
      disabledBtn,
      totalWeight,
      bagActions,
    }
  },
})
</script>
<style lang="scss">
.mawbCustom {
  .v-input__icon--append {
    .v-icon {
      font-size: 12px !important;
    }
  }
  .v-text-field__slot {
    label {
      font-size: 12px;
    }
  }
}
</style>
