<template>
  <v-row align="center" justify="end">
    <div :style="'width: 30%'">
      <v-text-field
        v-model="inputBarcode"
        clearable
        outlined
        dense
        rounded
        single-line
        autofocus
        hide-details
        label="Input Barcode"
        placeholder="Enter your barcode..."
        background-color="white"
        type="search"
        class="input-filter mr-3"
        @keydown.enter="enterInput"
      />
    </div>

    <v-menu
      v-if="!isBagsTabPartner"
      transition="slide-y-transition"
      bottom
      :offset-y="true"
    >
      <template #activator="{ on, attrs }">
        <v-btn
          color="green"
          min-width="200px"
          class="white--text mr-3"
          v-bind="attrs"
          :disabled="disabledCloseBag() || loading"
          v-on="on"
        >
          CLOSE BAG
        </v-btn>
      </template>
      <v-list>
        <v-list-item @click="$emit('handleBagScanBag')">
          <v-list-item-title class="text-center">
            Close Bags
          </v-list-item-title>
        </v-list-item>
        <v-list-item @click="$emit('handleBagScanBag', { isComplete: true })">
          <v-list-item-title class="text-center">
            Complete Bags
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-btn
      v-else
      color="green"
      min-width="200px"
      class="mr-3 white--text"
      :disabled="disabledCloseBag() || loading"
      @click="$emit('handleBagScanBag')"
    >
      <v-icon class="mr-2" small> mdi-bag-suitcase-outline </v-icon>
      CLOSE BAG
    </v-btn>

    <v-btn
      :disabled="loading"
      color="primary"
      min-width="200px"
      @click="$emit('handleStop')"
    >
      <v-icon small class="mr-2"> mdi-block-helper </v-icon>
      STOP SCAN
    </v-btn>
  </v-row>
</template>

<script lang="ts">
import { defineComponent, computed } from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    value: {
      type: String,
      required: true,
    },
    loading: {
      type: Boolean,
    },
    allScanned: {
      type: Array,
      default: () => [],
    },
    isBagsTabPartner: {
      type: Boolean,
      required: true,
    },
  },
  setup(props, { emit }) {
    const inputBarcode = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })

    function disabledCloseBag() {
      return !props.allScanned.some((x: any) => x.new)
    }

    const enterInput = (event: KeyboardEvent) => {
      if (event.key !== 'Enter') return
      emit('enterInput')
    }

    return {
      inputBarcode,
      enterInput,
      disabledCloseBag,
    }
  },
})
</script>
