<template>
  <article class="scanned-tab pa-8">
    <v-container fluid class="pa-0">
      <v-row v-if="dataComp && dataComp.length">
        <v-col
          v-for="(partner, u) in dataComp"
          :key="u"
          cols="4"
          class="d-flex align-center justify-space-between pa-4"
        >
          <v-card
            elevation="1"
            class="mx-auto"
            width="100%"
            :style="'overflow: hidden'"
          >
            <v-card-title
              class="d-flex flex-column justify-center align-center text-center mb-3"
            >
              <v-menu
                v-if="isScannedUnbaggedPartner"
                transition="slide-y-transition"
                bottom
                :offset-y="true"
                class="mb-4"
              >
                <template #activator="{ on, attrs }">
                  <v-btn
                    color="green"
                    class="darken-1 white--text"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <!-- :disabled="disabledCloseBag() || $fetchState.pending" -->
                    CLOSE BAG
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item @click="toggleConfirm(partner)">
                    <v-list-item-title class="text-center">
                      Close Bag
                    </v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="toggleConfirm(partner, true)">
                    <v-list-item-title class="text-center">
                      Complete Bag
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
              <v-btn
                v-else
                color="green darken-1 white--text mb-4"
                @click="toggleConfirm(partner)"
              >
                CLOSE BAG
              </v-btn>
              <div class="text-h4 mb-2">
                {{ partner.group_name }}
              </div>
              <div class="title">
                {{
                  isScannedUnbaggedPartner || !isPartnerBagPage
                    ? `Orders: ${
                        partner.orders && partner.orders.length
                          ? partner.orders.length
                          : 0
                      }`
                    : `Bags: ${
                        partner.order_group && partner.order_group.length
                          ? partner.order_group.length
                          : 0
                      }`
                }}
              </div>
            </v-card-title>

            <v-divider></v-divider>

            <v-virtual-scroll
              :items="virtualScroll(partner)"
              :item-height="50"
              height="200"
            >
              <template #default="{ item }">
                <v-list-item
                  :class="`custom-list-item-scroll ${
                    item.new ? 'bg-custom' : ''
                  }`"
                >
                  <v-list-item-avatar>
                    <v-icon>
                      {{
                        isBagTabPartner
                          ? 'mdi-bag-personal-outline'
                          : 'mdi-email-outline'
                      }}
                    </v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>
                      {{ item.order_code }}
                      <v-badge
                        v-if="checkHighValue(item)"
                        :content="'High Value'"
                        color="secondary"
                        class="ml-2"
                      >
                      </v-badge>
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-virtual-scroll>
          </v-card>
        </v-col>
      </v-row>
      <v-row v-else class="d-flex justify-center font-weight-bold">
        No Scanned Items
      </v-row>
    </v-container>

    <!-- Modal confirm -->
    <BaggingModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      :is-confirm="true"
      @doSubmit="submit"
      @doCancel="handleCancel"
    />
    <!-- Modal after click no -->
    <BaggingModalConfirm
      v-model="dialog.cancel"
      :dialog-settings="dialogSettings"
      @doSubmit="() => (dialog.cancel = false)"
    />
  </article>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  Ref,
  useStore,
  PropType,
  useContext,
  useRoute,
} from '@nuxtjs/composition-api'
import { ModalConfirm, VuexModuleApplications } from '~/types/applications'
import {
  VuexModuleDetailBagging,
  Unbagged,
  Bagged,
  Order,
  InputPostBag,
  InputLabelBags,
} from '~/types/bagging/bagging'
import { splitLowHighValueBags } from '~/composables/partner-portals/bagging/index'
import { checkHighValue } from '~/composables/partner-portals/scan'

export default defineComponent({
  name: 'BaggingScanned',
  components: {},
  props: {
    data: {
      type: Array as PropType<Unbagged[]>,
      required: true,
    },
    isBagTabPartner: {
      type: Boolean,
      default: false,
    },
    isScannedUnbaggedPartner: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    const storeApplications = useStore<VuexModuleApplications>()
    const storeBagging = useStore<VuexModuleDetailBagging>()
    const { $dateFns } = useContext()
    const route = useRoute()
    const dialog = ref({
      confirm: false,
      cancel: false,
      isComplete: false,
    })
    const isPartnerBagPage = computed(
      () => route.value.name === 'partner-portals-id-bagging'
    )
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: '',
      submitText: '',
      submitColor: '',
    }) as Ref<ModalConfirm>
    const dataComp = computed(() => {
      if (props.isScannedUnbaggedPartner || !isPartnerBagPage.value) {
        let data = props.data.map((x: Unbagged, _i: number) => {
          return x.order_group
        }) as any
        data = [].concat.apply([], data)
        return splitLowHighValueBags(data)
      } else {
        let tempData = props.data
        tempData = tempData.filter(
          (x: any) => x.order_group && x.order_group.length
        )
        return tempData
      }
    }) as Ref<Bagged[]>

    function virtualScroll(data: any) {
      if (props.isScannedUnbaggedPartner || !isPartnerBagPage.value) {
        return data.orders
      } else {
        return data.order_group
      }
    }
    const selectedUnbagged = ref({}) as Ref<InputPostBag | {}>

    function toggleConfirm(data: any, isComplete?: Boolean) {
      dialogSettings.value = {
        loading: false,
        title: 'Print label now ?',
        content: '',
        cancelText: 'No',
        submitText: 'Yes',
        submitColor: 'primary',
      }
      dialog.value.confirm = true

      let parseInput = {}
      if (props.isBagTabPartner) {
        parseInput = {
          bag_name:
            data.group_name +
            '-' +
            $dateFns.format(
              new Date(),
              'yyyyMMddHHmmss'
              // 'yyyy-MM-dd\'T\'HH:mm:ss.SSS'
            ),
          bag_ids: data.order_group.map((x: any) => x.id),
        }
      } else {
        const bagName =
          data.group_name +
          '-' +
          $dateFns.format(
            new Date(),
            'yyyyMMddHHmmss'
            // 'yyyy-MM-dd\'T\'HH:mm:ss.SSS'
          )
        parseInput = {
          bag_name:
            data.orders[0].isHighValue && props.isScannedUnbaggedPartner
              ? bagName + '-H'
              : bagName,
          order_ids: data.orders.map((x: Order) => x.id),
        }
      }
      if (isComplete) dialog.value.isComplete = true
      selectedUnbagged.value = parseInput
    }
    async function submit(params: { isCancel?: boolean }) {
      try {
        dialogSettings.value.loading = true
        const actionBagPost =
          !props.isBagTabPartner &&
          (!props.isScannedUnbaggedPartner ||
            !isPartnerBagPage.value ||
            !dialog.value.isComplete)
            ? 'postBags'
            : 'postBagsCompleted'
        // console.log({actionBagPost,isPostBags: !props.isBagTabPartner  || !props.isScannedUnbaggedPartner || !dialog.value.isComplete,  isBagTabPartner: !props.isBagTabPartner, isScannedUnbaggedPartner: !props.isScannedUnbaggedPartner, isComplete: !dialog.value.isComplete})
        const returnPostBag = await storeBagging.dispatch(
          `bagging/bagging/${actionBagPost}`,
          { payload: selectedUnbagged.value }
        )
        if (
          returnPostBag &&
          Object.keys(returnPostBag).length > 0 &&
          returnPostBag.id &&
          returnPostBag.group_name
        ) {
          const label = await postLabelBags({
            bag_id: returnPostBag.id,
            group_name: returnPostBag.group_name,
          })
          if (!params?.isCancel && label) window.open(label, '_self')
        }
        await fetchBags()
        if (props.isScannedUnbaggedPartner || props.isBagTabPartner)
          await fetchBagsCompleted()
        const textMsg = params?.isCancel ? 'Close Bag' : 'Print label'

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: `${textMsg} successfully!`,
        })
      } catch (error) {
        const textMsg = params?.isCancel ? 'Close Bag' : 'Print label'
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `${textMsg} successfully!`,
        })
      } finally {
        dialogSettings.value.loading = false
        if (params?.isCancel) {
          dialog.value.cancel = false
        } else {
          dialog.value.confirm = false
        }
        dialog.value.isComplete = false
        setTimeout(() => {
          storeApplications.commit('applications/RESET_ALERT')
        }, 3000)
      }
    }

    async function fetchBags() {
      const id = route.value.params.id

      try {
        if (route.value.name !== 'partner-portals-id-bagging')
          await storeBagging.dispatch('bagging/bagging/getBags')
        else
          await storeBagging.dispatch('bagging/bagging/getBagsPartner', {
            partnerID: id,
          })
      } catch (error) {
        return error
      }
    }

    async function fetchBagsCompleted() {
      const id = route.value.params.id
      // console.log(id)

      try {
        await storeBagging.dispatch('bagging/bagging/getBagsPartnerCompleted', {
          id,
        })
      } catch (error) {
        return error
      }
    }
    async function handleCancel() {
      await submit({ isCancel: true })
      dialogSettings.value = {
        loading: false,
        title: 'Make sure bags are arranged properly to prevent mix-up',
        content: '',
        cancelText: '',
        submitText: 'Ok',
        submitColor: 'primary',
      }
      dialog.value.cancel = true
    }

    async function postLabelBags(payload: InputLabelBags) {
      let payloadCust = { ...payload }
      let actionLabel = ''
      if (
        isPartnerBagPage.value
        // props.isBagTabPartner
        // ||
        // dialog.value.isComplete
      ) {
        const id = route.value.params.id
        payloadCust = {
          ...payloadCust,
          partnerID: id,
        }
        actionLabel = 'postLabelBagsPartnerLayer2'
      } else {
        actionLabel = 'postLabelBags'
      }
      try {
        // $fetchState.pending = true
        return await storeBagging.dispatch(`bagging/bagging/${actionLabel}`, {
          payload: payloadCust,
        })
      } catch (error) {
        return error
      } finally {
        // $fetchState.pending = false
      }
    }
    return {
      dataComp,
      dialog,
      dialogSettings,
      toggleConfirm,
      submit,
      handleCancel,
      virtualScroll,
      isPartnerBagPage,
      checkHighValue,
    }
  },
})
</script>

<style lang="scss">
@import '~/assets/scss/color.module.scss';
.scanned-tab {
  .custom-list-item-scroll {
    &:hover {
      background: $primary;
      color: white !important;
      .v-icon {
        color: white !important;
      }
    }
  }
  .bg-custom {
    background: $primary;
    color: white !important;
    .v-icon {
      color: white !important;
    }
  }
}
</style>
