<template>
  <v-row class="mt-10">
    <v-col cols="12" md="12" class="pa-0">
      <v-card
        elevation="2"
        width="100%"
        :color="`${
          (allScanned.length && allScanned.some((x) => x.new)) ||
          isUnassignedOrder ||
          isUnassignedBag ||
          noDataFound
            ? validationCard()
            : 'white'
        }`"
        min-height="500px"
        :class="`${validationCard({
          isText: true,
        })} pa-15 d-flex flex-column align-center justify-center`"
      >
        <!-- Unassigned Order -->
        <div v-if="isUnassignedOrder || isUnassignedBag" class="text-center">
          <div v-if="isUnassignedOrder" class="text-h2 font-weight-bold mb-15">
            UNASSIGNED ORDER
          </div>
          <div
            v-else-if="isUnassignedBag"
            class="text-h2 font-weight-bold mb-15"
          >
            UNASSIGNED BAG
          </div>
          <div class="text-h3 font-weight-bold mb-15">Contact Luwjistik</div>
          <div class="text-h2 mb-15">
            <!-- LUWDASLDKM123123 -->
            {{ cardData.orderCode }}
          </div>
        </div>

        <!-- All other orders -->
        <div
          v-else-if="allScanned.length && allScanned.some((x) => x.new)"
          class="text-center"
        >
          <div class="text-h1 font-weight-bold mb-15">
            <!-- SINGAPORE - 1 -->
            {{ searchCountry(cardData.dest_country) }}
          </div>
          <div
            v-if="isUnassignedOrder || isUnassignedBag"
            class="text-h3 font-weight-bold mb-15"
          >
            Contact Luwjistik
          </div>

          <div class="text-h2 mb-15">
            <!-- LUWDASLDKM123123 -->
            {{ cardData.group_name }}
          </div>
          <div
            v-if="cardData.group_name.includes('-H') || isHighValueLocalRef"
            class="text-h2 font-weight-medium red--text"
          >
            High Value
          </div>
          <div
            v-if="isTranshipment"
            class="text-h2 font-weight-medium red--text"
          >
            TRANSHIPMENT
          </div>
        </div>
        <div v-else-if="noDataFound" class="text-center">
          <div class="text-h3 font-weight-bold">NO DATA FOUND</div>
        </div>
        <div v-else class="text-center">
          <div class="text-h1 font-weight-bold">PLEASE SCAN ITEM</div>
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  useStore,
  toRef,
} from '@nuxtjs/composition-api'
// Interface and types
import { VuexModuleFilters, CountryCode } from '~/types/filters'
// composables
import { searchName } from '~/composables/partner-portals/scan/index'
export default defineComponent({
  props: {
    isHighValue: {
      type: Boolean,
      required: true,
    },
    noDataFound: {
      type: Boolean,
      default: false,
    },
    isUnassignedOrder: {
      type: Boolean,
      default: false,
    },
    isUnassignedBag: {
      type: Boolean,
      default: false,
    },
    isTranshipment: {
      type: Boolean,
      default: false,
    },
    allScanned: {
      type: Array,
      default: () => [],
    },
    cardData: {
      type: Object,
      default: () => ({}),
    },
    unbaggedData: {
      type: Array,
      default: () => [],
    },
    isBagsTabPartner: {
      type: Boolean,
      required: true,
    },
    lastEnter: {
      type: String,
      default: '',
    },
  },
  setup(props) {
    const storeFilters = useStore<VuexModuleFilters>()
    const countryCodes = computed(() => storeFilters.state.filters.countryCodes)
    const isHighValueLocalRef = computed(() => props.isHighValue)

    const unbaggedData = toRef(props, 'unbaggedData')
    const barcode = toRef(props, 'lastEnter')
    const isBagsTabPartner = toRef(props, 'isBagsTabPartner')
    const allScanned = toRef(props, 'allScanned')

    function validationCard(params?: { isText?: Boolean }) {
      const isNew = allScanned.value.some((x: any) => x.new)

      if (!params?.isText) {
        if (props.isUnassignedOrder || props.isUnassignedBag) {
          return 'orange'
        } else if (
          allScanned.value &&
          allScanned.value.length &&
          searchName(barcode.value, unbaggedData, isBagsTabPartner)
            ?.dest_country
        ) {
          return 'green'
        } else {
          return 'red'
        }
      }
      if (params?.isText) {
        if (
          props.isUnassignedOrder ||
          props.isUnassignedBag ||
          (allScanned.value &&
            allScanned.value.length &&
            searchName(barcode.value, unbaggedData, isBagsTabPartner) &&
            isNew) ||
          props.noDataFound
        ) {
          return 'white--text'
        } else {
          return ''
        }
      }
    }
    function searchCountry(countryCode: string) {
      const filterCountry = [...countryCodes.value].filter(
        (x: CountryCode) => x.value === countryCode
      )[0]
      return filterCountry?.name ?? 'No Data'
    }
    // return allScanned.value && allScanned.value.length && allScanned.value[allScanned.value.length - 1]

    return {
      validationCard,
      searchCountry,
      isHighValueLocalRef,
    }
  },
})
</script>
