<template>
  <v-autocomplete
    v-bind="$attrs['attrs-props']"
    v-model="form"
    :items="items"
    :search-input.sync="search"
    clearable
    outlined
    rounded
    open-on-clear
    background-color="white"
    @focus="handleFocus"
    @change="handleChange"
  >
    <template #append-item>
      <div v-if="loading" class="d-flex justify-center">
        <v-progress-circular indeterminate color="primary" />
      </div>

      <div
        v-else-if="!loading && isFetchIntersect"
        v-intersect="handleIntersect"
      />
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from '@nuxtjs/composition-api'

export default defineComponent({
  props: {
    value: {
      type: [String, Object, Array],
      required: false,
      default: null,
    },
    items: {
      type: Array,
      required: true,
      default: () => [],
    },
    loading: {
      type: Boolean,
      default: false,
    },
    isSearchWithFetch: {
      type: Boolean,
      default: false,
    },
    isFetchData: {
      type: Boolean,
      default: false,
    },
    isFetchIntersect: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const form = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    })
    const search = ref('')

    //  after change to these components, do something. ex: reset another data
    const handleChange = (value: string) => {
      emit('change', value)
    }
    //  after focus to these components, do something. ex: fetch the data
    const handleFocus = () => {
      if (!props.isFetchData) return

      emit('fetch')
    }
    //  handling to intersect observer of items
    const handleIntersect = (
      _entries: IntersectionObserverEntry[],
      _observer: IntersectionObserver,
      isIntersecting: boolean
    ) => {
      if (!props.isFetchIntersect) return

      emit('handleIntersect', { isIntersecting })
    }

    //  watch the search, if needed fetch the data with search as a query
    watch(
      () => search.value,
      (newSearch) => {
        if (!props.isSearchWithFetch) return

        emit('fetchOnSearch', { search: newSearch })
      }
    )

    return {
      form,
      search,
      handleChange,
      handleFocus,
      handleIntersect,
    }
  },
})
</script>
