<template>
  <v-select
    v-bind="attrs"
    v-model="status"
    :items="items"
    :error-messages="errorMessages"
    :menu-props="{ offsetY: true }"
    clearable
    outlined
    rounded
    dense
    single-line
    return-object
    class="input-select-filter"
  >
    <template #selection="{ item }">
      <span class="d-inline-block text-truncate">
        {{ item.Status }}
      </span>
    </template>

    <!-- eslint-disable-next-line vue/no-template-shadow -->
    <template #item="{ item, attrs, on }">
      <v-list-item
        :active-class="
          status &&
          status.Status === item.Status &&
          status.ServiceType === item.ServiceType
            ? 'primary--text'
            : ''
        "
        color="white"
        v-bind="attrs"
        v-on="on"
      >
        <template v-if="typeof item === 'object'">
          <v-list-item-content class="black--text">
            <!--eslint-disable-next-line vue/no-v-html-->
            <v-list-item-title class="pa-2" v-html="item.Status" />
          </v-list-item-content>
        </template>

        <template v-else>
          <v-list-item-content v-text="item" />
        </template>
      </v-list-item>
    </template>
  </v-select>
</template>

<script lang="ts">
import { computed, defineComponent, PropType } from '@nuxtjs/composition-api'
import { Statuses } from '~/types/filters'

interface attrs {
  label: string
  placeholder: string
}

export default defineComponent({
  props: {
    items: {
      type: Array as PropType<Statuses[]>,
      required: true,
    },
    value: {
      type: Object as PropType<Statuses>,
      required: true,
    },
    errorMessages: {
      type: Array as PropType<string[]>,
      default: () => [],
    },
    attrs: {
      type: Object as PropType<attrs>,
      default: () => ({
        label: '',
        placeholder: '',
      }),
    },
  },
  setup(props, { emit }) {
    const status = computed({
      get: (): Statuses => {
        return props.value
      },
      set: (value: Statuses) => {
        return emit('input', value)
      },
    })

    return {
      status,
    }
  },
})
</script>
