<template>
  <v-row align="stretch">
    <!-- form fields -->
    <v-col :cols="isHorizontalView ? 12 : null" align-self="center">
      <div class="d-flex flex-column align-center justify-center py-8">
        <!-- file categories -->
        <div style="width: 100%" :class="`${formDocCategory ? 'mb-8' : ''}`">
          <FetchDataOnce
            v-model="formDocCategory"
            :items="optionsDocCategories"
            :loading="isLoading.documentCategories"
            :attrs-props="{
              disabled: isLoading.documentFiles,
              label: 'Document Type',
              placeholder: 'Enter your document type...',
              hideDetails: true,
            }"
            :is-fetch-data="true"
            @fetch="doFetch.documentCategory"
          />
        </div>

        <!-- file uploader -->
        <v-fade-transition>
          <template v-if="formDocCategory">
            <PondUploader
              v-model="formDocFile"
              name="additionalB2BUpload"
              :settings="settings"
              @changeLoading="
                isLoading.documentFiles = !isLoading.documentFiles
              "
            />
          </template>
        </v-fade-transition>
      </div>

      <div v-if="withOptionalNotes" v-once>
        <p>
          <sup class="secondary--text">*</sup>
          Note: This upload section is optional. You can skip it if not needed.
        </p>
      </div>
    </v-col>

    <!-- divider -->
    <v-col cols="12" md="auto">
      <v-divider v-once :vertical="!isHorizontalView" />
    </v-col>

    <!-- file display -->
    <v-col :cols="isHorizontalView ? 12 : null" align-self="center">
      <DisplayList :documents="documents" @doDeleteFile="doDeleteFile" />
    </v-col>
  </v-row>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  ref,
  watch,
  Ref,
  useContext,
  PropType,
  toRef,
} from '@nuxtjs/composition-api'
//  types - start
import { FilePondOptions } from 'filepond'
import { FileCategorized } from '~/types/base/filePond'
import { SelectItem } from '~/types/applications'
//  types - end
import { useFetchEngine } from '~/composables/base/fetch-engine'

//  components - start
import PondUploader from '~/components/base/FilePond/document-categorized/PondUploader.vue'
import FetchDataOnce from '~/components/base/Field/FetchDataOnce.vue'
import DisplayList from '~/components/base/FilePond/document-categorized/DisplayList.vue'
//  components - end

export default defineComponent({
  name: 'DocumentUploader',
  components: {
    DisplayList,
    FetchDataOnce,
    PondUploader,
  },
  props: {
    value: {
      type: Array as PropType<FileCategorized[]>,
      required: true,
    },
    horizontal: {
      type: Boolean,
      default: false,
    },
    pages: {
      type: String,
      default: '',
    },
    categories: {
      type: Array as PropType<SelectItem<string>[]>,
      default: () => [],
    },
    withOptionalNotes: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, setupContext) {
    //  context - start
    const { emit } = setupContext
    const { $vuetify } = useContext()
    //  change to horizontal view if horizontal props is true and the view screen is mobile devices
    const isHorizontalView = computed(
      () => props.horizontal || $vuetify.breakpoint.mobile
    )
    const documents = computed({
      get: () => {
        return props.value
      },
      set: (value) => {
        emit('input', value)
      },
    })
    const contextState = {
      isHorizontalView,
      documents,
    }
    //  context - end

    // manage accepted file types - start
    const settings = computed(() => {
      if (props.pages === 'manifestUploader') {
        return {
          class: 'custom-pond',
          labelFileTypeNotAllowed: `File is invalid type!`,
          labelMaxFileSizeExceeded: `File is too large!`,
          acceptedFileTypes: [
            'application/pdf', //  .pdf
            'image/jpeg', //  .jpg; .jpeg
            'image/png', //  .png
          ],
          maxFileSize: '5MB',
        }
      }
    }) as Ref<FilePondOptions>
    // manage accepted file types - end

    //  manage document category - start
    const formDocCategory = ref('')
    const optionsDocCategories = toRef(props, 'categories')
    //  watch the changed state of selected document category
    watch(
      () => formDocCategory.value,
      (category, oldCategory) => {
        //  if the selected category changed, reset the upload files form state
        if (!category || category !== oldCategory) {
          formDocFile.value = {} as File
        }
      }
    )
    const docCategoryState = {
      formDocCategory,
      optionsDocCategories,
    }
    //  manage document category - end

    //  manage document file - start
    const formDocFile = ref({}) as Ref<File>
    const doDeleteFile = (documentIndex: number, fileIndex: number) => {
      documents.value = documents.value
        .map((doc, index) => {
          if (index === documentIndex) {
            doc.files.splice(fileIndex, 1)

            return {
              ...doc,
            }
          }

          return doc
        })
        .filter((doc) => !!doc.files?.length)
    }
    //  watch the changed state of upload files form
    watch(formDocFile, (file) => {
      //  prevent watch the not exist state
      const filesExist = !!file && !!Object.keys(file)?.length
      if (!filesExist) return

      /** check the document uploaded already exist or not based on the document category
       *
       *  if the files do not uploaded yet, push the new one;
       *  else, files already exist, push the new files
       **/
      //
      const documentSelected = documents.value.find(
        (doc) => doc.category === formDocCategory.value
      )
      const documentExist =
        !!documentSelected && !!Object.keys(documentSelected)?.length
      if (!documentExist) {
        documents.value.push({
          category: formDocCategory.value,
          files: [file],
        })
      } else {
        documentSelected.files = [...documentSelected.files, file]
      }
    })
    const docFilesState = {
      formDocFile,
      doDeleteFile,
    }
    //  manage document file - end

    //  manage fetch data - start
    const isLoading = ref({
      documentCategories: false,
      documentFiles: false,
    })
    const manageDocCategories = {
      getData: async () => {
        await emit('fetchDocCategories')
      },
      toggleLoading: () => {
        isLoading.value.documentCategories = !isLoading.value.documentCategories
      },
    }
    const doFetch = {
      documentCategory: async () => {
        await useFetchEngine(setupContext, manageDocCategories.getData, {
          customLoadingFn: manageDocCategories.toggleLoading,
        })
      },
    }
    const manageFetchState = { isLoading, doFetch }
    //  manage fetch data - end

    return {
      settings,
      ...contextState,
      ...docCategoryState,
      ...docFilesState,
      ...manageFetchState,
    }
  },
})
</script>
