<template>
  <div>
    <!-- fallback no data -->
    <v-slide-y-transition leave-absolute>
      <p v-if="!isFilesExist" class="ma-0 text-center text--secondary">
        Nothing uploaded yet...
      </p>
    </v-slide-y-transition>

    <!-- display the file list -->
    <v-slide-y-transition group leave-absolute>
      <template v-if="isFilesExist">
        <template v-for="(document, documentIndex) in documents">
          <v-subheader :key="documentIndex" class="pl-0">
            {{ document.category.replaceAll('_', ' ') }}
          </v-subheader>

          <template v-for="(file, fileIndex) in document.files">
            <v-hover
              v-slot="{ hover }"
              :key="`${document.category}-${file.name}-${fileIndex}`"
            >
              <v-list
                two-line
                outlined
                :title="file.name"
                style="cursor: pointer"
                :class="`rounded-lg transition-fast-in-fast-out mb-4 ${
                  hover ? 'file-preview-active' : ''
                }`"
              >
                <v-list-item @click="doPreviewFileUpload(file)">
                  <v-list-item-content>
                    <v-list-item-title>
                      {{ file.name }}
                    </v-list-item-title>

                    <v-list-item-subtitle v-if="!listDisplay">
                      {{ formatBytes(file.size) }}
                    </v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action v-if="!listDisplay">
                    <v-btn
                      icon
                      @click.prevent.stop="
                        doDeleteFile(documentIndex, fileIndex)
                      "
                    >
                      <v-icon> mdi-close </v-icon>
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
            </v-hover>
          </template>
        </template>
      </template>
    </v-slide-y-transition>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  computed,
  useContext,
  inject,
} from '@nuxtjs/composition-api'

//  types - start
import { FileCategorized } from '~/types/base/filePond'
import { ManifestDocsActions } from '~/pages/partner-portals/_id/bagging/documents/_mawbID.vue'
//  types - end

export default defineComponent({
  name: 'DocumentDisplayList',
  props: {
    documents: {
      type: Array as PropType<FileCategorized[]>,
      required: true,
    },
    listDisplay: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    //  context - start
    const {
      $customUtils: { formatBytes, previewFileUpload, isFile },
    } = useContext()
    const contextState = {
      formatBytes,
      previewFileUpload,
      isFile,
    }
    //  context - end

    const isFilesExist = computed(() => !!props?.documents?.length)
    const doDeleteFile = (documentIndex: number, fileIndex: number) => {
      emit('doDeleteFile', documentIndex, fileIndex)
    }
    const manifestDocsActions = inject(
      'manifestDocsActions',
      {}
    ) as ManifestDocsActions

    const doPreviewFileUpload = (file: File) => {
      // click handler for invalid File object
      if (!isFile(file)) {
        const data = file as any
        return manifestDocsActions.downloadFile(data)
      }
      previewFileUpload(file)
    }

    return {
      ...contextState,
      isFilesExist,
      doDeleteFile,
      doPreviewFileUpload,
    }
  },
})
</script>

<style lang="scss">
@import '@/assets/scss/color.module.scss';

.file-preview-active {
  border-color: $primary !important;
}
</style>
