<template>
  <FilePond
    v-bind="customPondSettings"
    ref="customPondRef"
    :name="$attrs['name'] || ''"
    :files="files"
    @addfile="handleAddFile"
    @addfilestart="handleBeforeAddFile"
    @removefile="handleRemoveFile"
  />
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  ref,
  Ref,
  useStore,
  computed,
} from '@nuxtjs/composition-api'

// Import Vue FilePond
import vueFilePond from 'vue-filepond'
import 'filepond/dist/filepond.min.css'
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'
import 'filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css'

// eslint-disable-next-line import/default
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
// eslint-disable-next-line import/default
import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size'
// eslint-disable-next-line import/default
import FilePondPluginFileEncode from 'filepond-plugin-file-encode'
// eslint-disable-next-line import/default
import FilePondPluginImagePreview from 'filepond-plugin-image-preview'
import { FilePondOptions } from 'filepond'

// types
import { VuexModuleApplications } from '~/types/applications'
import { ErrorFilePond } from '~/types/base/filePond'

// Create component file pond
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginFileValidateSize,
  FilePondPluginFileEncode,
  FilePondPluginImagePreview
)

export default defineComponent({
  name: 'DocumentPondUploader',
  components: {
    FilePond,
  },
  props: {
    value: {
      type: [Object, File] as PropType<File>,
      required: true,
    },
    settings: {
      type: Object as PropType<FilePondOptions>,
      default: () => ({
        class: 'custom-pond',
        labelFileTypeNotAllowed: `File is invalid type!`,
        labelMaxFileSizeExceeded: `File is too large!`,
        acceptedFileTypes: [
          'text/csv', //  .csv
          'application/vnd.ms-excel', //  .xls
          'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', //  .xlsx
          'application/pdf', //  .pdf
          'image/jpeg', //  .jpg; .jpeg
          'image/png', //  .png
          // 'application/msword', //  .doc
          // 'application/vnd.openxmlformats-officedocument.wordprocessingml.document', //  .docx
        ],
        maxFileSize: '5MB',
      }),
    },
  },
  setup(props, { emit }) {
    //  manage store - start
    const storeApplications = useStore<VuexModuleApplications>()
    const handleAlert = {
      reset: () => storeApplications.commit('applications/RESET_ALERT'),
      set: (error: ErrorFilePond) => {
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: `${error.main}, ${error.sub}!`,
        })
      },
    }
    //  manage store - end

    const form = computed({
      get: (): File => {
        return props.value
      },
      set: (value: File) => {
        emit('input', value)
      },
    })
    const customPondRef = ref<any>(null)
    const files = ref<File[]>([])
    const errorMessages = ref([]) as Ref<string[]>
    // *settings pond components data
    const customPondSettings = ref({
      ...props.settings,
      // Size validation
      allowFileSizeValidation: true,
      // Type validation
      allowFileTypeValidation: true,
      // Pond settings
      dropOnPage: true,
      checkValidity: true,
    })
    const handleBeforeAddFile = () => {
      errorMessages.value = []
      handleAlert.reset()
      emit('changeLoading')
    }
    const handleRemoveFile = (_error: ErrorFilePond, _file: any) => {
      errorMessages.value = []
      handleAlert.reset()
    }
    const handleAddFile = (error: ErrorFilePond, { file }: { file: File }) => {
      try {
        // *error on size and type validation
        if (error) {
          handleAlert.set(error)
          // pond.value.removeFile()

          return
        }

        form.value = file
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          //  if successfully to upload file remove the file uploaded
          if (!error) {
            customPondRef.value?.removeFile()
          }
          emit('changeLoading')
        }, 500)
      }
    }

    return {
      form,
      customPondRef,
      customPondSettings,
      files,
      handleBeforeAddFile,
      handleRemoveFile,
      handleAddFile,
    }
  },
})
</script>

<style lang="scss">
.custom-pond {
  width: 100% !important;

  .filepond--root {
    height: 6rem !important;
    margin: 0;
  }

  /* the border radius of the file item */
  .filepond--item-panel {
    //height: 100%;
    border-radius: 1rem;
  }

  /* bordered drop area */
  .filepond--panel-root {
    border-radius: 1.5rem;
  }

  /* the text color of the drop label*/
  .filepond--drop-label {
    height: 100%;
  }
}
</style>
