<template>
  <v-data-table
    v-bind="tableSettings"
    :items="nodeCalc"
    :loading="fetchState.pending"
    :items-per-page="-1"
    class="elevation-0"
  >
    <template #[`item.fmCost`]="{ item: { fmCost, currencyFM } }">
      {{ setPrice(fmCost, currencyFM) }}
    </template>

    <template #[`item.lmCost`]="{ item: { lmCost, currencyLM } }">
      {{ setPrice(lmCost, currencyLM) }}
    </template>

    <template
      #[`item.domesticCost`]="{ item: { domesticCost, currencyDomestic } }"
    >
      {{ setPrice(domesticCost, currencyDomestic) }}
    </template>

    <template #[`item.ccCost`]="{ item: { ccCost, currencyCC } }">
      {{ setPrice(ccCost, currencyCC) }}
    </template>

    <template #[`item.bobCost`]="{ item: { bobCost, currencyBOB } }">
      {{ setPrice(bobCost, currencyBOB) }}
    </template>

    <template
      #[`item.codCost`]="{
        item: {
          codCost,
          currencyFM,
          currencyLM,
          currencyDomestic,
          currencyCC,
          currencyBOB,
        },
      }"
    >
      {{
        setPrice(
          codCost,
          currencyFM ||
            currencyLM ||
            currencyDomestic ||
            currencyCC ||
            currencyBOB
        )
      }}
    </template>

    <template
      #[`item.sri`]="{
        item: {
          total,
          currencyFM,
          currencyLM,
          currencyDomestic,
          currencyCC,
          currencyBOB,
        },
      }"
    >
      <span :class="`${total && 'primary--text font-weight-bold'} `">
        {{
          setPrice(
            total,
            currencyFM ||
              currencyLM ||
              currencyDomestic ||
              currencyCC ||
              currencyBOB
          )
        }}
      </span>
    </template>

    <template
      #[`item.total`]="{
        item: {
          total,
          currencyFM,
          currencyLM,
          currencyDomestic,
          currencyCC,
          currencyBOB,
        },
      }"
    >
      <span :class="`${total && 'primary--text font-weight-bold'} `">
        {{
          setPrice(
            total,
            currencyFM ||
              currencyLM ||
              currencyDomestic ||
              currencyCC ||
              currencyBOB
          )
        }}
      </span>
    </template>

    <!-- <template
      #[`item.dutiesAndTax`]="{
        item: { dutiesAndTax, currencyDuties, currencyTax },
      }"
    >
      <span :class="`${dutiesAndTax && 'primary--text font-weight-bold'} `">
        {{ setPrice(dutiesAndTax, currencyDuties || currencyTax) }}
      </span>

    </template> -->

    <template
      #[`item.currency`]="{
        item: { appliedTaxes, appliedDuties, handlingFee, currency },
      }"
    >
      <tr class="my-2 d-block">
        <span :class="'font-weight-bold'"> Applied Taxes: </span>
        <span :class="`${appliedTaxes && 'primary--text font-weight-bold'}`">
          {{ setPrice(appliedTaxes, currency) }}
        </span>
      </tr>

      <tr class="my-2 d-block">
        <span :class="'font-weight-bold'"> Applied Duties: </span>
        <span :class="`${appliedDuties && 'primary--text font-weight-bold'}`">
          {{ setPrice(appliedDuties, currency) }}
        </span>
      </tr>

      <tr class="my-2 d-block">
        <span :class="'font-weight-bold'"> Handling Fees: </span>
        <span :class="`${handlingFee && 'primary--text font-weight-bold'}`">
          {{ setPrice(handlingFee, currency) }}
        </span>
      </tr>
    </template>

    <!-- <template
      #[`item.adminFee`]="{
        item: {
          adminFee,
          currencyFM,
          currencyLM,
          currencyDomestic,
          currencyCC,
          currencyBOB,
        },
      }"
    >
      <span :class="`${adminFee && 'primary--text font-weight-bold'} `">
        {{
          setPrice(
            adminFee,
            currencyFM ||
              currencyLM ||
              currencyDomestic ||
              currencyCC ||
              currencyBOB
          )
        }}
      </span>
    </template> -->
  </v-data-table>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useStore,
  useRoute,
} from '@nuxtjs/composition-api'

// types
import { VuexModuleOrders } from '~/types/orders'
import { Header } from '~/types/applications'

export default defineComponent({
  name: 'CalculatorOrderItems',
  props: {
    fetchState: {
      type: Object,
      default: () => ({}),
    },
    isUpcoming: {
      type: Boolean,
      default: false,
    },
    isDomestic: {
      type: Boolean,
      default: false,
    },
    isE2E: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    const route = useRoute() as any
    const storeOrders = useStore<VuexModuleOrders>()
    const nodeCalc = computed(() => {
      const {
        nodeCalc,
        orderDutiesTaxes: {
          appliedTaxes,
          appliedDuties,
          handlingFee,
          currency,
        },
      } = storeOrders.state.orders.orderDetails

      if (nodeCalc && nodeCalc[route.value?.params?.id]) {
        const dataNodeCalc = nodeCalc[route.value?.params?.id]
        const {
          id,
          fmCost,
          lmCost,
          ccCost,
          bobCost,
          codCost,
          domesticCost,
          dutiesFee,
          taxFee,
          fmTransmissionFee,
          lmTransmissionFee,
          ccTransmissionFee,
          bobTransmissionFee,
          domesticTransmissionFee,
        } = dataNodeCalc

        return [
          {
            ...dataNodeCalc,
            id,
            fmCost: Number(fmCost),
            lmCost: Number(lmCost),
            ccCost: Number(ccCost),
            bobCost: Number(bobCost),
            codCost: Number(codCost),
            domesticCost: Number(domesticCost),
            total:
              Number(fmCost) +
              Number(lmCost) +
              Number(ccCost) +
              Number(bobCost) +
              Number(codCost) +
              Number(domesticCost),
            dutiesAndTax: Number(dutiesFee) + Number(taxFee),
            adminFee:
              Number(fmTransmissionFee) +
              Number(lmTransmissionFee) +
              Number(ccTransmissionFee) +
              Number(bobTransmissionFee) +
              Number(domesticTransmissionFee),
            appliedDuties: Number(appliedDuties || 0),
            appliedTaxes: Number(appliedTaxes || 0),
            handlingFee: Number(handlingFee || 0),
            currency: String(currency || ''),
          },
        ]
      } else {
        return []
      }
    })
    const tableSettings = computed(() => {
      let headerTemp = [] as Header[]
      let objNewNode = {}
      if (nodeCalc.value && nodeCalc.value[0]) objNewNode = nodeCalc.value[0]
      const objEntries = Object.entries(objNewNode)

      objEntries.forEach((x: any) => {
        const key = x[0]
        const value = x[1]
        switch (key) {
          case 'fmCost':
            if (value) {
              headerTemp.push({
                text: 'First Mile',
                value: 'fmCost',
              })
            }
            break
          case 'lmCost':
            if (value) {
              headerTemp.push({
                text: 'Last Mile',
                value: 'lmCost',
              })
            }
            break
          case 'domesticCost':
            if (value) {
              headerTemp.push({
                text: 'Domestic',
                value: 'domesticCost',
              })
            }
            break
          case 'ccCost':
            if (value) {
              headerTemp.push({
                text: 'Customs',
                value: 'ccCost',
              })
            }
            break
          case 'bobCost':
            if (value) {
              headerTemp.push({
                text: 'BOB',
                value: 'bobCost',
              })
            }
            break
          case 'codCost':
            if (value) {
              headerTemp.push({
                text: 'COD',
                value: 'codCost',
              })
            }
            break
          default:
            break
        }
      })

      if (props.isE2E) {
        headerTemp = [
          ...headerTemp,
          {
            text: 'SRI',
            value: 'sri',
          },
        ]
      }

      headerTemp = [
        ...headerTemp,
        {
          text: 'Total',
          value: 'total',
        },
      ]

      if (!props.isDomestic) {
        headerTemp = [
          ...headerTemp,
          {
            text: 'Customs and Duties',
            value: 'currency',
            class: 'left-border',
            cellClass: 'left-border',
          },
          // {
          //   text: 'Transmission Fee',
          //   value: 'adminFee',
          // },
        ]
      }

      return {
        itemKey: 'id',
        hideDefaultFooter: true,
        headers: [...headerTemp],
      }
    })
    const setPrice = (price: string, currency: string) => {
      if (!currency) return 'No data available'

      return new Intl.NumberFormat('en-US', {
        style: 'currency',
        maximumFractionDigits: 2,
        currencyDisplay: 'code',
        currency,
      }).format(parseFloat(price))
    }

    return {
      nodeCalc,
      tableSettings,
      setPrice,
    }
  },
})
</script>

<style lang="scss">
.left-border {
  border-left: 1px dashed red;
}
</style>
