<template>
  <v-card dark color="primary" elevation="2" :loading="fetchState.pending">
    <template slot="progress">
      <v-progress-linear color="info" height="8" indeterminate />
    </template>

    <BaseLoading v-if="fetchState.pending" color="white" />

    <v-card-text v-else class="body-1 pa-6 grey--text text--lighten-4">
      <v-expand-transition>
        <div v-if="!fetchState.pending">
          <!-- order relabel -->
          <div class="mb-4">
            <h2
              class="font-weight-bold headline white--text d-flex align-center"
            >
              <span>
                {{ details.orderCode }}
              </span>

              <!-- a mark for insured order -->
              <template v-if="details.insurance">
                <v-tooltip top color="success">
                  <template #activator="{ on, attrs }">
                    <v-icon
                      color="success"
                      class="ml-1"
                      v-bind="attrs"
                      v-on="on"
                    >
                      mdi-shield-star
                    </v-icon>
                  </template>

                  <span>Insured Order</span>
                </v-tooltip>
              </template>
            </h2>

            <h5 v-if="details.newOrderId || details.originalOrderId">
              {{
                getRelabelTitle({
                  relabeledTo: details.newOrderId,
                  relabeledFrom: details.originalOrderId,
                })
              }}

              <NuxtLink
                :to="`/orders/${details.newOrderId || details.originalOrderId}`"
                class="text-decoration-none white--text"
              >
                {{ referRelabelCode }}
              </NuxtLink>
            </h5>
          </div>

          <div>
            <template v-if="!details.b2bDetails">
              <span
                title="Dimensions (Length X Width X Height)"
                class="d-block"
              >
                {{
                  $customUtils.getDimensions({
                    length: details.length,
                    width: details.width,
                    height: details.height,
                  })
                }}
              </span>

              <span title="Weight" class="d-block">
                {{ details.weight.toFixed(1) }} kg
              </span>

              <span class="d-block text-uppercase">
                {{ details.paymentType }}
              </span>
            </template>

            <!-- b2b -->
            <template v-else>
              <span title="Incoterm" class="d-block text-uppercase">
                {{ details.b2bDetails.scope.replaceAll('_', ' ') }}
              </span>

              <span title="Cargo ready on" class="d-block text-uppercase mt-3">
                <span class="d-block caption font-weight-bold">
                  Cargo ready on :
                </span>
                {{ getCargoReadiness(details.b2bDetails.cargoReadinessDate) }}
              </span>

              <v-chip
                title="Shipment Mode"
                color="light-blue"
                label
                text-color="white"
                class="ma-2 ml-0 elevation-0"
              >
                <v-icon left>
                  {{ getShipmentModeIcon(details.b2bDetails.shipmentMode) }}
                </v-icon>

                <span class="text-uppercase">
                  {{ details.b2bDetails.shipmentMode }}
                </span>
              </v-chip>

              <!-- order flight schedule -->
              <template v-if="orderFlightSchedule">
                <span title="Flight Number" class="d-block text-uppercase mt-3">
                  <span class="d-block caption font-weight-bold">
                    Flight Number:
                  </span>
                  {{ orderFlightSchedule.carrierCode }}
                  {{ orderFlightSchedule.carrierNumber }}
                </span>
                <span
                  title="Scheduled Departure"
                  class="d-block text-uppercase mt-3"
                >
                  <span class="d-block caption font-weight-bold">
                    Scheduled Departure:
                  </span>
                  {{ getDepartureDateTime(orderFlightSchedule.departureAt) }}
                </span>
              </template>
            </template>
            <!-- b2b -->
          </div>
        </div>
      </v-expand-transition>
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useContext,
  watch,
  ref,
  PropType,
} from '@nuxtjs/composition-api'
import { useState } from 'vuex-composition-helpers'

// types
import { StateOrders } from '~/store/orders'
import { StateIncomingOrders } from '~/store/partnerPortals/incomingOrders'
import { FetchState } from '~/types/applications'
import { Order } from '~/types/orders'
import { B2BShipmentMode } from '~/types/orders/b2b'
// end

export default defineComponent({
  name: 'OrderDetailsCard',
  props: {
    fetchState: {
      type: Object as PropType<FetchState>,
      default: () => ({}),
    },
    isUpcoming: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    const { $axios, $dateFns } = useContext()

    // manage store
    const { orderDetails, orderFlightSchedule } = useState<StateOrders>(
      'orders',
      ['orderDetails', 'orderFlightSchedule']
    )
    const { incomingOrderDetails } = useState<StateIncomingOrders>(
      'partnerPortals/incomingOrders',
      ['incomingOrderDetails']
    )
    // end manage store

    const details = computed(() => {
      return props.isUpcoming
        ? incomingOrderDetails.value.order
        : orderDetails.value.order
    })

    // relabel fetch
    const referRelabelCode = ref('')
    watch(
      () => details.value,
      async () => {
        if (props.isUpcoming) return

        const { originalOrderId, newOrderId } = details.value
        const responseRelabeled = await $axios.$get<Order>(
          `/api/clients/orders/${newOrderId || originalOrderId}`
        )
        referRelabelCode.value = responseRelabeled?.orderCode ?? ''
      }
    )
    // end relabel fetch

    // computing func
    const getRelabelTitle = ({
      relabeledTo,
      relabeledFrom,
    }: {
      relabeledTo: string
      relabeledFrom: string
    }) => {
      if (relabeledTo) return 'Re-labeled to: '
      if (relabeledFrom) return 'Re-labeled from: '

      return ''
    }
    const getShipmentModeIcon = (mode: B2BShipmentMode) => {
      if (mode === 'air') return 'mdi-airplane'
      if (mode === 'land') return 'mdi-truck-fast'
      if (mode === 'sea') return 'mdi-ferry'

      return ''
    }
    const getCargoReadiness = (date: Date | string) => {
      return $dateFns.format($dateFns.parseISO(date as string), 'MMMM do yyy')
    }

    const getDepartureDateTime = (date: Date) => {
      return $dateFns.format(
        $dateFns.parseISO(`${date}`),
        "MMMM do yyy HH:mm 'UTC' XXXX"
      )
    }
    const computeState = {
      getRelabelTitle,
      getShipmentModeIcon,
      getCargoReadiness,
      getDepartureDateTime,
    }
    // end computing func

    return {
      details,
      orderDetails,
      orderFlightSchedule,
      referRelabelCode,
      ...computeState,
    }
  },
})
</script>
