<template>
  <v-data-table
    v-bind="tableSettings"
    :items="orderItems"
    :loading="fetchState.pending"
    :items-per-page="-1"
    class="elevation-0"
  >
    <template #[`item.price`]="{ item: { price, currency } }">
      <span class="font-weight-bold primary--text">
        {{ setPrice(price, currency) }}
      </span>
    </template>

    <!-- b2b -->
    <template #[`item.category`]="{ item: { dangerousGoods, category } }">
      <div class="d-flex align-center">
        <span>
          {{ category }}
        </span>

        <v-chip
          v-if="isB2B"
          :color="dangerousGoods ? 'warning' : 'success'"
          title="Dangerous Goods"
          label
          text-color="white"
          class="ma-2 ml-3 elevation-0"
        >
          <v-icon left>
            {{ dangerousGoods ? 'mdi-fire' : 'mdi-check-all' }}
          </v-icon>

          <span class="text-uppercase">
            {{ dangerousGoods ? 'Dangerous' : 'Goods' }}
          </span>
        </v-chip>
      </div>
    </template>
    <!-- end b2b -->

    <template #footer>
      <div
        v-if="orderItems && orderItems.length"
        class="d-flex justify-end mt-4"
      >
        <span class="title font-weight-bold">
          <span class="font-weight-regular">Total</span>

          <span class="primary--text">
            {{ setTotalPrice() }}
          </span>
        </span>
      </div>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  PropType,
  useContext,
} from '@nuxtjs/composition-api'
import { useState } from 'vuex-composition-helpers'
import { StateOrders } from '~/store/orders'
import { StateIncomingOrders } from '~/store/partnerPortals/incomingOrders'

// types - start
import type { OrderItem } from '~/types/orders'
import type { FetchState } from '~/types/applications'
// types - end

// data initializations - start
const initHeader = [
  {
    text: 'Product ID',
    value: 'productCode',
    cellClass: 'text-no-wrap',
  },
  {
    text: 'SKU',
    value: 'sku',
    cellClass: 'text-no-wrap',
  },
  {
    text: 'Category',
    value: 'category',
  },
  {
    text: 'Description',
    value: 'description',
  },
  {
    text: 'Quantity',
    value: 'quantity',
    width: 130,
  },
  {
    text: 'Price',
    value: 'price',
    width: 150,
    cellClass: 'text-no-wrap',
  },
]
const initHeaderB2B = [
  {
    text: 'Category',
    value: 'category',
  },
  {
    text: 'Description',
    value: 'description',
  },
  {
    text: 'Quantity',
    value: 'quantity',
    width: 130,
  },
  {
    text: 'Price',
    value: 'price',
    width: 150,
    cellClass: 'text-no-wrap',
  },
]
// data initializations - end

export default defineComponent({
  name: 'OrderItems',
  props: {
    fetchState: {
      type: Object as PropType<FetchState>,
      default: () => ({}),
    },
    isUpcoming: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    const { $customUtils } = useContext()

    // manage store
    const { orderDetails: orderDetailsState } = useState<StateOrders>(
      'orders',
      ['orderDetails']
    )
    const { incomingOrderDetails } = useState<StateIncomingOrders>(
      'partnerPortals/incomingOrders',
      ['incomingOrderDetails']
    )
    const orderDetails = computed(() => orderDetailsState.value.order)
    const isB2B = computed(() => !!orderDetails.value.b2bDetails)
    const orderItems = computed(() => {
      return props.isUpcoming
        ? incomingOrderDetails.value.order?.items
        : isB2B
        ? orderDetailsState.value.orderItems.map((item) => ({
            ...item,
            dangerousGoods: !!orderDetails.value.b2bDetails?.dangerousGoods,
          }))
        : orderDetailsState.value.orderItems
    })
    // end

    const tableSettings = computed(() => ({
      itemKey: 'id',
      hideDefaultFooter: true,
      headers: isB2B.value ? [...initHeaderB2B] : [...initHeader],
    }))
    const setPrice = (price: string, currency: string) => {
      if (!price || !currency) return ''

      return $customUtils.setCurrency({
        price,
        currency,
      })
    }
    const setTotalPrice = () => {
      const totalPrice = orderItems.value.reduce(
        (previous: number, current: OrderItem) => {
          const { price, quantity } = current
          const totalItemPrice =
            !price || !quantity
              ? 0
              : parseFloat(String(current.price)) * current.quantity

          return previous + totalItemPrice
        },
        0
      )
      // get the highest occurrence of currency
      const currency = [...orderItems.value]
        ?.sort(
          (itemA: any, itemB: any) =>
            orderItems.value.filter(
              (value: any) => value.currency === itemA.currency
            ).length -
            orderItems.value.filter((value: any) => value === itemB.currency)
              .length
        )
        ?.pop()?.currency

      if (!currency) return ''

      return $customUtils.setCurrency({
        price: totalPrice,
        currency,
      })
    }

    return {
      orderDetails,
      isB2B,
      orderItems,
      tableSettings,
      setPrice,
      setTotalPrice,
    }
  },
})
</script>
