<template>
  <v-data-table
    v-bind="tableSettings"
    :items="parcels"
    :loading="fetchState.pending"
    :items-per-page="-1"
    class="elevation-0"
  >
    <template #[`item.packagingType`]="{ item: { packagingType } }">
      <div>
        <span>
          {{ packagingType }}
        </span>
      </div>
    </template>

    <template #[`item.weight`]="{ item: { weight } }">
      <div>
        <span> {{ weight }} Kg </span>
      </div>
    </template>

    <template #[`item.dimensions`]="{ item: { length, width, height } }">
      <div>
        <span>
          {{
            $customUtils.getDimensions({
              length,
              width,
              height,
            })
          }}
        </span>
      </div>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import { computed, defineComponent } from '@nuxtjs/composition-api'
import { useState } from 'vuex-composition-helpers'
import { StateOrders } from '~/store/orders'
import { StateIncomingOrders } from '~/store/partnerPortals/incomingOrders'

// data initialization
const initHeader = [
  {
    text: 'Packaging',
    value: 'packagingType',
    cellClass: 'text-no-wrap',
  },
  {
    text: 'Dimensions (Length X Width X Height)',
    value: 'dimensions',
    cellClass: 'text-no-wrap',
  },
  {
    text: 'Weight (kg)',
    value: 'weight',
  },
]

export default defineComponent({
  name: 'OrderItems',
  props: {
    fetchState: {
      type: Object,
      default: () => ({}),
    },
    isUpcoming: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    // manage store
    const { orderDetails: orderDetailsState } = useState<StateOrders>(
      'orders',
      ['orderDetails']
    )
    const { incomingOrderDetails } = useState<StateIncomingOrders>(
      'partnerPortals/incomingOrders',
      ['incomingOrderDetails']
    )
    const orderDetails = computed(() => orderDetailsState.value.order)
    const parcels = computed(() => {
      return props.isUpcoming
        ? incomingOrderDetails.value.order?.parcels
        : orderDetailsState.value.order.parcels
    })
    // end

    const tableSettings = computed(() => ({
      itemKey: 'id',
      hideDefaultFooter: true,
      headers: [...initHeader],
    }))

    return {
      orderDetails,
      parcels,
      tableSettings,
    }
  },
})
</script>
