<template>
  <v-data-table
    v-bind="tableSettings"
    :loading="fetchState.pending"
    :items="sellingRates"
  />
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  useContext,
  reactive,
} from '@nuxtjs/composition-api'
import { useState } from 'vuex-composition-helpers'

// types
import { StateOrders } from '~/store/orders'
import { Header } from '~/types/applications'

interface SellingRatesTable {
  date: string
  weight: string
  rate: string
}
// end types

export default defineComponent({
  name: 'SellingRates',
  props: {
    fetchState: {
      type: Object,
      default: () => ({}),
    },
  },
  setup() {
    const { $customUtils, $dateFns } = useContext()

    // manage store
    const { orderDetails } = useState<StateOrders>('orders', ['orderDetails'])
    const sellingRates = computed(() => {
      const stateSellingRates = orderDetails.value.order.sellingRates

      if (!stateSellingRates || stateSellingRates.length === 0) return []

      return stateSellingRates.map(({ createdAt, currency, rate, weight }) => ({
        weight,
        date: $dateFns.format(createdAt, 'MMM dd, yyyy HH:mm'),
        rate: $customUtils.setCurrency({
          currency,
          price: parseFloat(rate),
        }),
      })) as SellingRatesTable[]
    })
    // end manage store

    // manage table
    const tableSettings = reactive({
      itemKey: 'id',
      hideDefaultFooter: true,
      headers: [
        {
          text: 'Weight',
          value: 'weight',
        },
        {
          text: 'rate',
          value: 'rate',
        },
        {
          text: 'Date',
          value: 'date',
        },
      ] as Header[],
    })
    // end manage table

    return {
      sellingRates,
      tableSettings,
    }
  },
})
</script>
