<template>
  <v-sheet elevation="0" class="timeline-wrapper body-1">
    <v-expand-transition>
      <v-timeline dense class="my-4">
        <template
          v-for="{
            id,
            orderID,
            serviceType,
            partnerName,
            partnerLogo,
            externalTracking: { mapPartnerUpdates, partnerUpdates },
          } in orderAllocationUpdates"
        >
          <v-timeline-item
            v-for="(
              {
                comments,
                status,
                updateTimestamp,
                podReceiverName,
                podReceiverContact,
                podURI,
              },
              indexUpdates
            ) in isPastAugust ? mapPartnerUpdates : partnerUpdates"
            :key="`${id}, ${status}, ${indexUpdates}`"
            small
            class="mb-10"
            fill-dot
            :color="$customUtils.setColorServiceType(serviceType)"
          >
            <template #opposite>
              <div class="body-2 text--secondary text-left">
                <span class="d-block">
                  {{ $dateFns.format(updateTimestamp, 'HH:mm') }}
                </span>

                <span class="d-block">
                  {{ $dateFns.format(updateTimestamp, 'E, MMM dd, yyyy') }}
                </span>
              </div>
            </template>

            <v-row justify="space-between" align="start">
              <v-col :cols="isOnPublicTrackingNumber ? 12 : 4">
                <div class="body-2">
                  <h4
                    class="body-1 ma-0 font-weight-bold text--primary"
                    style="white-space: nowrap"
                  >
                    {{ status }}
                  </h4>

                  <span v-if="comments" class="d-block">
                    {{ comments }}
                  </span>

                  <span v-if="podURI" class="d-block mt-2">
                    <span class="font-weight-medium"> Received by: </span>

                    <span v-if="podReceiverName">
                      {{ podReceiverName }}
                    </span>

                    <span v-if="podReceiverContact">
                      ({{ podReceiverContact }})
                    </span>

                    <a
                      :href="podURI"
                      target="_blank"
                      rel="noopener noreferrer"
                      class="font-weight-bold text-decoration-none"
                    >
                      See POD
                    </a>
                  </span>
                </div>
              </v-col>

              <v-col
                v-if="isShowServiceType(indexUpdates, serviceType, partnerName)"
                cols="8"
                class="text-right py-0"
              >
                <h3
                  class="title text-uppercase font-weight-medium"
                  :class="[
                    `${$customUtils.setColorServiceType(serviceType)}--text`,
                  ]"
                >
                  {{ $customUtils.setServiceType(serviceType.toLowerCase()) }}
                </h3>

                <h2 class="title font-weight-medium text--primary">
                  <span>By</span>

                  <span v-if="isE2E" class="font-weight-bold"> SRI </span>

                  <span v-else class="font-weight-bold">
                    {{
                      serviceType === 'FREIGHT_FORWARDER'
                        ? 'LUWJISTIK'
                        : partnerName
                    }}
                  </span>
                </h2>
                <v-btn
                  v-if="showChat"
                  rounded
                  nuxt
                  color="primary"
                  class="mt-4"
                  style="transition: all 0.4s ease-in-out"
                  :disabled="!roomLoading"
                  @click="
                    startChat(
                      id,
                      orderID,
                      $customUtils.setServiceType(serviceType.toLowerCase()),
                      isE2E
                        ? 'SRI'
                        : serviceType === 'FREIGHT_FORWARDER'
                        ? 'LUWJISTIK'
                        : partnerName,
                      isE2E
                        ? '/images/SRI Icon-02.jpg'
                        : serviceType === 'FREIGHT_FORWARDER'
                        ? '/images/Luwjistik Logo BG-WHITE.jpg'
                        : `data:image/png;base64,${partnerLogo}`
                    )
                  "
                >
                  Start Chat
                </v-btn>
              </v-col>
            </v-row>
          </v-timeline-item>
        </template>
      </v-timeline>
    </v-expand-transition>

    <!-- Modal form -->
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doSubmit="doSubmitTicket"
      @doClose="doResetModal"
    >
      <template #modalFields>
        <TopicForm v-model="form" :action="dialogSettings.type" />
      </template>
    </BaseModalForm>
  </v-sheet>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useRoute,
  useStore,
  ref,
  Ref,
  useContext,
  useFetch,
} from '@nuxtjs/composition-api'

// types
import SendBird from 'sendbird'
import { useActions } from 'vuex-composition-helpers'
import { OrderAllocationUpdate, VuexModuleOrders } from '~/types/orders'
import { VuexModuleIncomingOrders } from '~/types/partnerPortals/incomingOrders'
import { VuexModuleTracking } from '~/types/trackings'
import { VuexModuleChat } from '~/types/sendbird'
import {
  ActionsApplications,
  initDialogSettings,
  initModalType,
} from '~/store/applications'
import { ModalConfirm, VuexModuleApplications } from '~/types/applications'

// components
import TopicForm from '~/components/Chat/TopicForm.vue'

const initForm = {
  allocationID: '',
  orderID: '',
  topic: '',
  serviceType: '',
  networkPartner: '',
  orderCode: '',
}

export default defineComponent({
  name: 'UpdatesTimeline',
  components: { TopicForm },
  props: {
    fetchState: {
      type: Object,
      default: () => ({}),
    },
    isUpcoming: {
      type: Boolean,
      default: false,
    },
    isPastAugust: {
      type: Boolean,
      required: true,
    },
    isE2E: {
      type: Boolean,
      default: false,
    },
  },
  setup(props) {
    // manage route
    const route = useRoute()
    const isOnPublicTrackingNumber = computed(
      () => route.value.name === 'tracking-id'
    )
    const { $config } = useContext()

    // manage senbird
    const sb = new SendBird({
      appId: $config.sendBirdKey,
      localCacheEnabled: true,
    })

    // manage store
    const storeOrders = useStore<VuexModuleOrders>()
    const storeChat = useStore<VuexModuleChat>()
    const storeApplications = useStore<VuexModuleApplications>()
    const storeIncomingOrders = useStore<VuexModuleIncomingOrders>()
    const storeTracking = useStore<VuexModuleTracking>()
    const orderAllocationUpdates = computed(() => {
      return props.isUpcoming
        ? storeIncomingOrders.state.partnerPortals.incomingOrders
            .incomingOrderDetails?.allocation
        : route.value.name === 'tracking-id'
        ? {
            ...storeTracking.state.trackings.tracking.trackings.map(
              (track) => ({
                ...track,
                externalTracking: {
                  partnerUpdates: track.updates,
                  mapPartnerUpdates: track.mappedUpdates,
                },
              })
            ),
          }
        : storeOrders.state.orders.orderDetails.orderAllocationUpdates
    })
    const order = storeOrders.state.orders.orderDetails.order
    const roomLoading = computed(() => storeChat.state.sendbird.roomLoading)
    const showChat = ref(false)

    // manage transhipment order
    const transhipmentFlag = ref(false)
    const isTranshipmentOrder = ref(false)
    const transhipmentFF = ref('')
    const checkTranshipment = () => {
      const orderAllocationUpdatesTemp =
        storeOrders.state.orders.orderDetails.orderAllocationUpdates.filter(
          (update: OrderAllocationUpdate) =>
            update.serviceType === 'FREIGHT_FORWARDER'
        )
      // check if FREIGHT_FORWARDER appears twice in allocation - if yes, is transhipment order
      if (orderAllocationUpdatesTemp.length > 1) {
        isTranshipmentOrder.value = true
        transhipmentFF.value = orderAllocationUpdatesTemp[0].partnerName
        return true
      }
      return false
    }

    // manage alert
    const doResetAlert = () => {
      setTimeout(() => {
        storeApplications.commit('applications/RESET_ALERT')
      }, 3000)
    }

    // manage modal
    const form = ref({
      allocationID: '',
      orderID: '',
      topic: '',
      serviceType: '',
      networkPartner: '',
      orderCode: order.orderCode,
    })
    const doResetModal = () => {
      form.value = {
        ...initForm,
        orderCode: order.orderCode,
      }
      dialogSettings.value = { ...initDialogSettings }
    }
    const dialog = ref({ ...initModalType })
    const dialogSettings = ref({ ...initDialogSettings }) as Ref<ModalConfirm>

    // modal to submit new ticket
    const toggleModalForm = async () => {
      await doResetAlert()
      try {
        dialogSettings.value.loading = true
        dialogSettings.value.subtitle = 'We typically reply in a few hours'
        dialogSettings.value = {
          ...dialogSettings.value,
          title: form.value.networkPartner,
          content: '',
          cancelText: 'Cancel',
          submitText: 'Submit',
          submitColor: 'primary',
        }
        dialog.value.form = true
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }

    // submit first ticket
    const doSubmitTicket = async () => {
      try {
        dialogSettings.value.loading = true

        const action = await storeChat.dispatch('sendbird/storeChatRoom', {
          body: form.value,
        })

        if (action.response) throw action.response

        // create new channel and end first message to sendbird
        if (action.sendbirdChannelURL) {
          const chanel = (await sb.GroupChannel.getChannel(
            action.sendbirdChannelURL
          )) as any
          chanel.markAsDelivered()

          const msg = new sb.UserMessageParams()
          msg.message = form.value.topic

          chanel.sendUserMessage(msg, () => {})
        }

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: `Your ticket has been received and our network partner will get back to you shortly.`,
        })

        // close modal and open chat bubble automatically
        setTimeout(() => {
          dialog.value.form = false
          doResetModal()
          openChatBubble()
          autoOpenChat(action.name)
        }, 1500)
      } catch (error) {
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: 'Failed create a ticket!',
        })
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1000)
        await doResetAlert()
      }
    }

    // open chat bubble by dispatching menu
    const openChatBubble = async () => {
      await storeChat.dispatch('sendbird/setMenu', true)
    }

    const autoOpenChat = async (name: string) => {
      // fetch new chat room
      await storeChat.dispatch('sendbird/getChatRoom', {
        params: {
          page: 1,
          perPage: 8,
          nameContains: name,
        },
        isCommit: true,
      })

      storeChat.dispatch('sendbird/setRoomLoaded', true)

      // select chat element
      const chatShadowRoot =
        document.querySelector('vue-advanced-chat')?.shadowRoot?.children[1]
          ?.children[0]?.children[0]

      // add thread name to chat search input element
      const searchEl = chatShadowRoot?.children[0]
        ?.children[1] as HTMLInputElement
      searchEl!.value = name

      // auto click to created thread
      setTimeout(() => {
        const roomEl = chatShadowRoot?.children[1]?.children[0] as HTMLElement
        roomEl!.click()
      }, 1000)
    }

    // manage partner tracking display
    const isShowServiceType = (
      indexUpdates: string | number,
      serviceType: string,
      partnerName: string
    ) => {
      if (
        route.value.name === 'partner-portals-id-incoming-orders-orderId' ||
        route.value.name === 'tracking-id' ||
        indexUpdates !== 0
      ) {
        return false
      }
      // if is transhipment order, group transhipment FF provider
      return !(
        transhipmentFlag.value &&
        isTranshipmentOrder.value &&
        serviceType === 'FREIGHT_FORWARDER' &&
        partnerName !== transhipmentFF.value
      )
    }

    const startChat = async (
      allocationID: string,
      orderID: string,
      serviceType: string,
      networkPartner: string,
      partnerLogo: string
    ) => {
      form.value.allocationID = allocationID
      form.value.orderID = orderID
      form.value.serviceType = serviceType
      form.value.networkPartner = networkPartner
      dialogSettings.value.avatar = partnerLogo

      await storeChat
        .dispatch('sendbird/getChatRoom', {
          params: { allocationID },
          isCommit: false,
        })
        .then(async (response: any) => {
          // if there's no any chat before, then open the modal to create
          // new ticket & conversation to senbird
          if (response.totalCount === 0) {
            await toggleModalForm()
            // else, just open the chat bubble
          } else {
            await openChatBubble()
            await autoOpenChat(response?.data?.[0]?.name)
          }
        })
    }

    // manage features flag
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )

    useFetch(async () => {
      showChat.value = await getFeatureFlags('display-lchat-on-client-portal')
      transhipmentFlag.value = !(await getFeatureFlags('use-transhipment'))
      if (transhipmentFlag.value) {
        checkTranshipment()
      }
    })

    return {
      // manage route
      isOnPublicTrackingNumber,
      // manage chat
      showChat,
      startChat,
      roomLoading,
      autoOpenChat,
      // manage transhipment
      transhipmentFlag,
      isTranshipmentOrder,
      transhipmentFF,
      checkTranshipment,
      // manage store
      orderAllocationUpdates,
      order,
      // manage partner by
      isShowServiceType,
      // manage modal
      form,
      dialog,
      dialogSettings,
      doResetModal,
      toggleModalForm,
      doSubmitTicket,
    }
  },
})
</script>

<style lang="scss">
// scroll
.timeline-wrapper::-webkit-scrollbar-thumb {
  height: 10%;
}

.timeline-wrapper::-webkit-scrollbar-track {
  background: #eceff1;
  border-radius: 0.75rem;
}

.timeline-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px;

  /* line */
  .v-timeline:before {
    width: 0px !important;
    border: 1px dashed $secondary;
  }

  .v-timeline--dense .v-timeline-item__opposite {
    display: inline-block;
    width: 130px;
  }

  .v-timeline-item__opposite {
    flex: none;
    align-self: flex-start;
    text-align: end;
  }

  /* line */
  .v-application--is-ltr,
  .v-timeline--dense:not(.v-timeline--reverse):before {
    left: calc(9.6rem - 1px) !important;
    height: calc(100%);
    margin-top: 8px;
  }

  .v-timeline-item {
    align-items: flex-start;

    .v-timeline-item__divider {
      padding: 3.5px;
      .v-timeline-item__dot {
        background: unset;
        box-shadow: unset;
        height: 20px;
        width: 20px;
        .v-timeline-item__inner-dot {
          height: 20px;
          width: 20px;
          margin: unset;
        }
      }
    }
  }
}
</style>
