<template>
  <div class="mt-10 mb-8">
    <v-btn
      :disabled="disabled"
      color="primary"
      outlined
      @click="$emit('addFormAllocation')"
    >
      <v-icon left> mdi-plus</v-icon>

      Add Configuration
    </v-btn>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'SRIFormAllocationActions',
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
})
</script>
