<template>
  <v-fade-transition hide-on-leave tag="div">
    <span
      class="text-center text--secondary d-block mx-auto pa-6"
      style="width: 450px"
    >
      It looks like there is no data available at the moment. Please add the
      necessary configuration first.
    </span>
  </v-fade-transition>
</template>
