<template>
  <v-fade-transition group hide-on-leave tag="div">
    <template v-if="!!form.length">
      <v-row
        v-for="(formObject, formObjectIndex) in form"
        :key="formObjectIndex"
        :class="`subtitle-2 ${computeBlueBg(formObjectIndex)}`"
        align="center"
        no-gutters
      >
        <v-col
          v-for="(data, keyForm) in formObject"
          :key="keyForm"
          :cols="keyForm === 'status' ? '2' : ''"
          class="pa-6"
        >
          <div>
            <!-- for status -->
            <template v-if="keyForm === 'status'">
              <span class="secondary--text font-weight-medium">
                {{ data ? 'ACTIVE' : 'INACTIVE' }}
              </span>
            </template>

            <!-- for origin countries -->
            <template v-if="keyForm === 'originCountry'">
              <ValidationProvider
                v-slot="{ errors }"
                class="mt-4"
                name="Origin Country"
                rules="required"
                slim
                tag="div"
              >
                <FetchDataOnce
                  v-model="formObject[keyForm]"
                  :attrs-props="{
                    errorMessages: errors,
                    itemText: 'name',
                    itemValue: 'value',
                    placeholder: 'Enter your origin country...',
                    dense: true,
                  }"
                  :is-fetch-data="true"
                  :items="selectionData.countries.origin"
                  :loading="isLoading"
                  @change="
                    () => {
                      formObject['destinationCountry'] = ''
                      $emit('resetForm')
                    }
                  "
                  @fetch="doFetchCountries('origin')"
                />
              </ValidationProvider>
            </template>

            <!-- for destination countries -->
            <template v-if="keyForm === 'destinationCountry'">
              <ValidationProvider
                v-slot="{ errors }"
                class="mt-4"
                name="Destination Country"
                rules="required"
                slim
                tag="div"
              >
                <FetchDataOnce
                  v-model="formObject[keyForm]"
                  :attrs-props="{
                    errorMessages: errors,
                    itemText: 'name',
                    itemValue: 'value',
                    placeholder: 'Enter your destination country...',
                    dense: true,
                    disabled: !formObject['originCountry'],
                  }"
                  :is-fetch-data="true"
                  :items="computeDestCountryActive(formObject['originCountry'])"
                  :loading="isLoading"
                  @fetch="doFetchCountries('destination')"
                  @change="$emit('submitForm', formObjectIndex)"
                />
              </ValidationProvider>
            </template>
          </div>
        </v-col>

        <!-- for item actions -->
        <v-col class="pa-6" cols="1">
          <v-btn
            :disabled="isLoading"
            color="secondary"
            icon
            @click="$emit('remove', formObjectIndex)"
          >
            <v-icon>mdi-trash-can</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </template>
  </v-fade-transition>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  inject,
  PropType,
  ref,
  useContext,
  useFetch,
  Ref,
  ComputedRef,
} from '@nuxtjs/composition-api'
import { CancelTokenSource } from 'axios'
import { useActions, useState } from 'vuex-composition-helpers'
import { ValidationProvider } from 'vee-validate'
import {
  restrictSRICountries,
  SRICountryType,
} from '~/composables/clients/l-control/sri/countries'

// components - start
import FetchDataOnce from '~/components/base/Field/FetchDataOnce.vue'
// components - end

// types - start
import {
  SRIForm,
  SRILControlFetch,
} from '~/components/lcontrol/sri/SRIContent.vue'
import { CountryCode, GetCountriesPayload } from '~/types/filters'
import { ActionsFilters, StateFilters } from '~/store/filters'
import { ActionsApplications } from '~/store/applications'
import { LControlFeatureFlags } from '~/types/lControl'
// types - end

// data initialization - start
const VeeValidate = { ValidationProvider }
const Form = { FetchDataOnce }
// data initialization - end

export default defineComponent({
  name: 'SRIContentSRIFormAllocationFields',
  components: {
    ...VeeValidate,
    ...Form,
  },
  props: {
    value: {
      type: Array as PropType<SRIForm[]>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const { $customUtils } = useContext()

    // manage feature flags
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const countriesFlags = ref<Record<string, string[]>>({})
    const flagsState = { countriesFlags }
    // end

    //  manage store
    const { countryCodes: stateCountries } = useState<StateFilters>('filters', [
      'countryCodes',
      'ports',
    ])
    const { getCountryCodes } = useActions<ActionsFilters>('filters', [
      'getCountryCodes',
      'getPorts',
    ])
    //  end

    // manage form
    const form = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    }) as ComputedRef<SRIForm[]>
    const selectionData = ref({
      countries: {
        origin: [] as CountryCode[],
        /**  a list of destination countries combined based on all origins active on sri l-control,
         * can be more than one country of origin
         */
        destination: [] as CountryCode[],
      },
    })
    const computeBlueBg = (index: number) => {
      return (index + 1) % 2 !== 0 ? 'blue-background' : ''
    }
    const formState = {
      form,
      selectionData,
      computeBlueBg,
    }
    // end

    //  manage fetch
    const source = ref({}) as Ref<CancelTokenSource>
    const { fetchWithToken, isLoading } = inject<SRILControlFetch>(
      'SRILControlFetch',
      {} as SRILControlFetch
    )
    /** manage countries */
    /** a list of destination country that is more specific based on just one origin,
     *  which will then be passed to the value of the select items field
     */
    const computeDestCountryActive = (origin: string): CountryCode[] => {
      const destinationCountries = selectionData.value.countries.destination

      if (!origin) return destinationCountries

      return destinationCountries.filter((dest) =>
        countriesFlags.value[origin].some(
          (availCountry) =>
            availCountry.toLowerCase() === dest.value.toLowerCase()
        )
      )
    }
    const doRestrictCountries = (type: SRICountryType) => {
      //  for restrict origin countries
      if (type === 'origin') {
        return restrictSRICountries(
          type,
          stateCountries.value,
          [],
          countriesFlags.value
        )
      }

      //  getting the origin countries list selected on forms
      const oriCountries = [
        ...new Set(form.value.map((data) => data.originCountry)),
      ]
      //  for restrict origin destination
      return restrictSRICountries(
        type,
        stateCountries.value,
        oriCountries,
        countriesFlags.value
      )
    }
    const doFetchCountries = async (type: SRICountryType) => {
      await fetchWithToken(async () => {
        const params = Object.fromEntries(
          $customUtils.setURLParams({ isActive: true }) as any
        ) as GetCountriesPayload
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        const [_countryCodesAPI, featureFlagsData] = await Promise.all([
          await getCountryCodes({
            params,
            cancelToken: source.value.token,
          }),
          (await getFeatureFlags(
            'service-types-available-lcontrol'
          )) as unknown as LControlFeatureFlags,
        ])
        const { sri: countriesFromFlag = {} } = featureFlagsData
        countriesFlags.value = countriesFromFlag

        // if API response of countries is empty return default value
        if (
          stateCountries.value.length === 0 ||
          (!countriesFlags.value && !Object.keys(countriesFlags.value).length)
        ) {
          selectionData.value.countries = {
            origin: [],
            destination: [],
          }

          return
        }

        /**
         *  restrict the origin & destination countries
         *  for destination will return the available countries from all origins selected
         **/
        if (type !== 'all') {
          selectionData.value.countries[type] = doRestrictCountries(type)

          return
        }

        selectionData.value.countries.origin = [...stateCountries.value]
        selectionData.value.countries.destination = [...stateCountries.value]
      })
    }

    useFetch(async () => {
      await Promise.allSettled([doFetchCountries('all')])
    })
    const stateFetch = {
      isLoading,
      doFetchCountries,
      computeDestCountryActive,
    }
    //  end

    return {
      ...flagsState,
      ...formState,
      ...stateFetch,
    }
  },
})
</script>
