<template>
  <v-row no-gutters>
    <v-col
      v-for="(header, headerIndex) in headers"
      :key="headerIndex"
      :cols="computedHeaderColumn(header)"
      class="pa-6"
    >
      <h4
        :class="`subtitle-1 font-weight-bold ${
          header === 'ACTIONS' ? 'd-sr-only' : ''
        }`"
      >
        {{ header }}
      </h4>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'SRIFormAllocationHeadings',
  props: {
    headers: {
      type: Array,
      required: true,
    },
  },
  setup() {
    const computedHeaderColumn = (header: string) => {
      return header === 'STATUS' ? '2' : header === 'ACTIONS' ? '1' : ''
    }

    return {
      computedHeaderColumn,
    }
  },
})
</script>
