/* these are reusable components for uploading files which will return a File
object */ // // object
<template>
  <FilePond
    v-bind="pondSettings"
    ref="csvPond"
    v-model="file"
    :name="$attrs['name']"
    @addfile="handleAddFile"
    @addfilestart="handleBeforeAddFile"
    @removefile="handleRemoveFile"
  />
</template>

<script lang="ts">
import {
  defineComponent,
  PropType,
  ref,
  Ref,
  useStore,
} from '@nuxtjs/composition-api'

// Import Vue FilePond
import vueFilePond from 'vue-filepond'
import 'filepond/dist/filepond.min.css'
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'
import 'filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css'

// eslint-disable-next-line import/default
import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
// eslint-disable-next-line import/default
import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size'
// eslint-disable-next-line import/default
import FilePondPluginFileEncode from 'filepond-plugin-file-encode'
import { FilePondOptions } from 'filepond'

// types
import { VuexModuleApplications } from '~/types/applications'
import { ErrorFilePond } from '~/types/base/filePond'

// Create component file pond
const FilePond = vueFilePond(
  FilePondPluginFileValidateType,
  FilePondPluginFileValidateSize,
  FilePondPluginFileEncode
)

export default defineComponent({
  name: 'ExcelUploader',
  components: {
    FilePond,
  },
  props: {
    value: {
      type: Array as PropType<File[]>,
      required: true,
    },
    settings: {
      type: Object as PropType<FilePondOptions>,
      default: () => ({
        class: 'csv-pond',
        labelFileTypeNotAllowed: `File is invalid type!`,
        labelMaxFileSizeExceeded: `File is too large!`,
        acceptedFileTypes: ['text/csv'],
        maxFileSize: '5MB',
      }),
    },
  },
  setup(props, { emit }) {
    // manage store
    const storeApplications = useStore<VuexModuleApplications>()

    const file = ref([])
    const csvPond = ref(null)
    const errorMessages = ref([]) as Ref<string[]>
    // *settings pond components data
    const pondSettings = ref({
      ...props.settings,
      // Size validation
      allowFileSizeValidation: true,
      // Type validation
      allowFileTypeValidation: true,
      // Pond settings
      dropOnPage: true,
      checkValidity: true,
    })
    const handleBeforeAddFile = () => {
      errorMessages.value = []
      storeApplications.commit('applications/RESET_ALERT')
      emit('changeLoading')
    }
    const handleRemoveFile = (_error: ErrorFilePond, _file: any) => {
      errorMessages.value = []
      storeApplications.commit('applications/RESET_ALERT')
      emit('input', [])
    }
    const handleAddFile = (error: ErrorFilePond, { file }: { file: File }) => {
      try {
        // *error on size and type validation
        if (error) {
          storeApplications.commit('applications/SET_ALERT', {
            isShow: true,
            type: 'error',
            message: `${error.main}, ${error.sub}!`,
          })
          // return pond.value.removeFiles()
        }
        emit('input', [file])
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          emit('changeLoading')
        }, 1000)
      }
    }

    return {
      file,
      csvPond,
      pondSettings,
      handleBeforeAddFile,
      handleRemoveFile,
      handleAddFile,
    }
  },
})
</script>

<style lang="scss">
.csv-pond {
  width: 100% !important;

  .filepond--root {
    height: 10rem;
  }

  /* the border radius of the file item */
  .filepond--item-panel {
    height: 100%;
    border-radius: 1rem;
  }

  /* bordered drop area */
  .filepond--panel-root {
    border-radius: 1.5rem;
  }

  /* the text color of the drop label*/
  .filepond--drop-label {
    height: 100%;
  }
}
</style>
