<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseBackButton :text="'Back to Marketplaces'" @doBackTo="doBackTo" />

    <BaseHeadlinePage
      title="Partner Comparison"
      subtitle="Compare rate from potential network partners to find out best network partners for your business."
    />

    <article>
      <SelectContainer
        v-model="selection"
        :loading="$fetchState.pending"
        @doGetRates="doGetRates"
      />
    </article>

    <BaseLoadingLinear
      v-if="$fetchState.pending"
      title="Calculating each partner rates..."
      class="mt-15"
    />

    <ComparisonTable
      v-if="selection.submit"
      :rates-formatted="ratesFormatted"
      @toggleAddPartners="toggleAddPartners"
      @toggleRemovePartner="toggleRemovePartner"
    />

    <!-- MODALS -->
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doSubmit="doAddPartners"
    >
      <template #modalFields>
        <AddMoreFields v-if="dialog.form" v-model="selectionMore" />
      </template>
    </BaseModalForm>

    <BaseModalConfirm
      v-model="dialog.confirm"
      :dialog-settings="dialogSettings"
      @doSubmit="doRemovePartners"
    />
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useRouter,
  computed,
  ref,
  Ref,
  useMeta,
  useFetch,
  useStore,
} from '@nuxtjs/composition-api'
import { initDialogSettings, initModalType } from '~/store/applications'
// components
import SelectContainer from '@/components/marketplace/rate-comparison/SelectContainer.vue'
import ComparisonTable from '@/components/marketplace/rate-comparison/ComparisonTable.vue'
import AddMoreFields from '@/components/marketplace/rate-comparison/AddMoreFields.vue'
// types
import {
  UserSelection,
  VuexModuleCompare,
} from '~/types/marketplace/partnerComparison'
import { ModalConfirm } from '~/types/applications'
import { VuexModuleMarketplaces } from '~/types/marketplace/marketplace'

export type RatesFormatted = Record<
  string,
  { rate: string; currency: string } | string
>

const initSelection = {
  country: '',
  zone: '',
  port: '',
  serviceType: '',
  partners: [],
  submit: false,
}

export default defineComponent({
  name: 'PartnerComparison',
  components: {
    SelectContainer,
    ComparisonTable,
    AddMoreFields,
  },
  setup() {
    // manage meta
    useMeta(() => ({
      title: `Client Portal | Partner Comparison`,
    }))

    // manage route
    const router = useRouter()
    const doBackTo = () => {
      router.go(-1)
    }
    const routeFunction = { doBackTo }

    // manage store
    const storeCompare = useStore<VuexModuleCompare>()
    const storeMarketplace = useStore<VuexModuleMarketplaces>()
    const ratesData = computed(() => [
      ...storeCompare.state.marketplaces.partnerComparison.rates,
    ])
    const ratesFormatted = ref([]) as Ref<RatesFormatted[]>
    const partners = computed(() => ({
      data: [...storeMarketplace.state.marketplaces.marketplaces.marketplaces],
      ...storeMarketplace.state.marketplaces.marketplaces.meta,
    }))
    const storeState = { ratesData, ratesFormatted }

    const selection = ref({ ...initSelection }) as Ref<UserSelection>
    const selectionMore = ref({ ...initSelection }) as Ref<UserSelection>
    const doGetRates = async () => {
      const { zone, port, partners, serviceType } = selection.value

      try {
        $fetchState.pending = true
        await storeCompare.dispatch('marketplaces/partnerComparison/getRates', {
          params: {
            zone,
            port,
            partners: partners.join(','),
            serviceType,
          },
        })
        doReformatRates()
        if (ratesFormatted.value.length) {
          setTimeout(() => {
            selection.value.submit = true
          }, 1500)
        }
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    // DIALOG STATE
    const dialog = ref({ ...initModalType })
    const dialogSettings = ref({ ...initDialogSettings }) as Ref<ModalConfirm>
    const toggleAddPartners = () => {
      try {
        dialogSettings.value.loading = true
        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Add more partners',
          content: '',
          cancelText: 'Cancel',
          submitText: 'Submit',
          submitColor: 'primary',
        }
        selectionMore.value = { ...selection.value }
        dialog.value.form = true
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const doAddPartners = async () => {
      try {
        dialogSettings.value.loading = true
        selection.value.partners = [...selectionMore.value.partners]
        await doGetRates()
        setTimeout(() => {
          dialog.value.form = false
        }, 1500)
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1000)
      }
    }
    const removeSelected = ref('')
    const toggleRemovePartner = (partner: string) => {
      try {
        dialogSettings.value.loading = true
        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Are you sure ?',
          content: `You are going to remove ${partner} from comparison!.`,
          cancelText: 'Cancel',
          submitText: 'Remove',
          submitColor: 'error',
        }
        removeSelected.value = partner
        dialog.value.confirm = true
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1500)
      }
    }
    const doRemovePartners = async () => {
      try {
        dialogSettings.value.loading = true
        const partnerSelected = partners.value.data.find(
          (partner) => partner.name === removeSelected.value
        )
        selection.value.partners = selection.value.partners.filter(
          (partner) => partner !== partnerSelected?.slug
        )
        await doGetRates()
        setTimeout(() => {
          dialog.value.confirm = false
        }, 1500)
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 1000)
      }
    }
    // REFORMATING THE DATA
    const doReformatRates = () => {
      // sla reformat
      const slaObj = {} as Record<string, string>
      ratesData.value.forEach((items) => {
        slaObj.cellName = 'SLA'
        slaObj[items.name] = items.sla || ''
      })

      // cod reformat
      const codObj = {} as Record<string, string>
      ratesData.value.forEach((items) => {
        codObj.cellName = 'COD'
        codObj[items.name] = items.codRate || '0'
      })

      // rates reformate
      const result = {} as Record<
        string,
        Record<string, { rate: string; currency: string }>
      >
      const keys = [] as string[]

      ratesData.value.forEach((element) => {
        keys.push(element.name)
        element.rates &&
          element.rates.forEach((rate) => {
            if (!result[rate.weight]) {
              result[rate.weight] = {}
            }

            result[rate.weight][element.name] = {
              rate: rate.cost,
              currency: rate.currency,
            }
          })
      })

      const final = [] as RatesFormatted[]

      for (const weight in result) {
        const val = result[weight]
        const entry = { ...val, cellName: `${weight} kg` }
        final.push(entry)
      }

      keys.forEach((key) => {
        final.forEach((line) => {
          if (!line[key]) {
            line[key] = { rate: '0', currency: '' }
          }
        })
      })
      ratesFormatted.value = [slaObj, codObj, ...final]
    }

    const otherState = {
      selection,
      selectionMore,
      doGetRates,
      // DIALOG STATE
      dialog,
      dialogSettings,
      toggleAddPartners,
      doAddPartners,
      toggleRemovePartner,
      doRemovePartners,
      // END DIALOG STATE
    }

    const { $fetchState } = useFetch(() => {})

    return {
      // manage route
      ...routeFunction,
      // manage store
      ...storeState,
      ...otherState,
    }
  },
  head: {},
})
</script>
