@import '~/assets/scss/color.module.scss';

.bagging-list {
  transition: all 0.3s;
  .v-list-group {
    .v-icon {
      color: white;
      &.mdi-checkbox-blank-circle-outline {
        color: rgba(0, 0, 0, 0.54) !important;
      }
    }
    .mdi-checkbox-blank-outline {
      color: grey;
    }
    .v-list-group__header {
      background: $primary;
      color: white !important;
      border-radius: 16px;
      margin: 2px 0;
      min-height: 56px !important;
    }
    .v-list-group--sub-group {
      margin-left: 30px;
    }
    .theme--light.v-list-item:hover::before {
      border-radius: 16px;
    }
    .theme--light.v-list-item:focus {
      border-radius: 16px;
    }
    .v-list-item__subtitle {
      flex: 1 0.5 100%;
      color: white !important;
    }
    .custom-item-content {
      flex: 3.5;
    }
  }
  .group-orders {
    border: 2px $primary solid;
    border-radius: 16px;
    margin: 2px;
  }
  .bg-custom {
    background: $primary;
    color: white !important;
    .v-icon {
      color: white !important;
    }
    .v-btn__content {
      color: white !important;
    }
  }
  .bagging-pagination {
    .v-icon {
      color: black;
    }
  }
}

.active-list-bag {
  scale: 1.025;
  filter: brightness(1.35);
}

.active-list-orders {
  border-radius: 16px;
  scale: 1.025;
  filter: brightness(0.8);
}
