<template>
  <div class="d-flex align-center text-no-wrap">
    <template v-for="(service, indexService) in items">
      <v-chip
        v-if="indexService <= 1"
        :key="service"
        small
        :color="$customUtils.setColorServiceType(service, 'chip')"
        class="text-uppercase white--text ma-1"
      >
        {{ $customUtils.setServiceType(service) }}
      </v-chip>
    </template>

    <v-tooltip v-if="items && items.length > 2" top color="white">
      <template #activator="{ on, attrs }">
        <span
          v-bind="attrs"
          class="d-block ml-1 primary--text font-weight-light"
          v-on="on"
        >
          (+ {{ items.length - 2 }} more)
        </span>
      </template>

      <v-chip
        v-for="service in items"
        :key="service"
        small
        :color="$customUtils.setColorServiceType(service, 'chip')"
        class="text-uppercase white--text ma-1"
      >
        {{ $customUtils.setServiceType(service) }}
      </v-chip>
    </v-tooltip>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'ServiceCellClientOrders',
  props: {
    items: {
      type: Array as PropType<string[]>,
      required: true,
    },
  },
})
</script>
