<template>
  <div class="d-flex align-center justify-end">
    <!-- *for orders and incoming orders -->
    <v-btn
      v-if="actionExist.export"
      small
      dark
      :loading="loading"
      color="cyan darken-1"
      class="ma-2"
      @click="doExportOrder(item.id)"
    >
      Export
    </v-btn>

    <v-btn
      v-if="actionExist.edit"
      small
      :dark="!!item.labelPath"
      :loading="loading"
      :disabled="isBaggedTabClient && !isDisabled.isEditable(item)"
      color="teal darken-1"
      class="ma-2 white--text"
      @click="doMovePageBagPartner(item)"
    >
      Edit
    </v-btn>

    <v-btn
      v-if="actionExist.downloadSingle"
      small
      download
      :dark="!!item.labelPath"
      :href="item.labelPath || ''"
      :loading="loading"
      :disabled="!item.labelPath"
      color="teal darken-1"
      class="ma-2"
    >
      Download
    </v-btn>

    <!-- button component for separated label download ( orders page) -->
    <v-menu transition="slide-y-transition" bottom offset-y>
      <template #activator="{ on, attrs }">
        <v-btn
          v-if="actionExist.downloadSelection"
          v-bind="attrs"
          :loading="loading"
          :disabled="!isDisabled.labelSeparated(item)"
          :dark="isDisabled.labelSeparated(item)"
          small
          download
          color="teal darken-1"
          class="ma-2"
          v-on="on"
        >
          <span> Download Label </span>

          <v-icon right> mdi-chevron-down </v-icon>
        </v-btn>
      </template>

      <v-list dense>
        <v-list-item
          :disabled="!item.labelPath"
          :href="item.labelPath || ''"
          :ripple="{ class: `primary--text` }"
          download
        >
          <v-list-item-title>All</v-list-item-title>
        </v-list-item>

        <v-list-item
          v-for="allocation in item.orderAllocations"
          :key="allocation.id"
          :ripple="{ class: `primary--text` }"
          :disabled="!allocation.labelURL"
          :href="allocation.labelURL || ''"
          download
        >
          <v-list-item-title class="text-capitalize">
            {{
              `Only ${$customUtils.setServiceType(
                allocation.serviceType.toLowerCase()
              )}`
            }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <!-- end -->

    <v-btn
      v-if="actionExist.updates"
      small
      dark
      :loading="loading"
      color="cyan darken-1"
      class="ma-2"
      @click="doHandleModalTrack(item)"
    >
      Track
    </v-btn>

    <v-btn
      v-if="actionExist.manageUser"
      small
      dark
      :loading="loading"
      color="cyan darken-1"
      class="ma-2"
      @click="doManageUsers(item)"
    >
      Manage User
    </v-btn>

    <v-btn
      v-if="actionExist.editUser"
      small
      dark
      :loading="loading"
      color="cyan darken-1"
      class="ma-2"
      @click="doEditUserCustomer(item)"
    >
      Edit
    </v-btn>

    <!-- *for partner bagging -->
    <v-btn
      v-if="actionExist.downloadBagging"
      small
      download
      :dark="!!item.label_url"
      :href="item.label_url || ''"
      :loading="loading"
      :disabled="!item.label_url"
      color="teal darken-1"
      class="ma-2"
    >
      Download
    </v-btn>

    <v-btn
      v-if="actionExist.reweight"
      :disabled="!item.reweight"
      small
      dark
      :loading="loading"
      color="blue darken-1"
      class="ma-1"
      @click="doHandleModalReweight(item)"
    >
      Reweight
    </v-btn>

    <v-btn
      v-if="actionExist.manifestBag"
      :disabled="!item.manifest_url"
      small
      :dark="!!item.manifest_url"
      :loading="loading"
      color="teal darken-1"
      class="ma-2"
      @click="openURL(item.manifest_url)"
    >
      Manifest
    </v-btn>

    <v-btn
      v-if="actionExist.mawbBag"
      small
      dark
      :loading="loading"
      color="cyan darken-1"
      class="ma-1"
    >
      MAWB
    </v-btn>

    <v-btn
      v-if="actionExist.uploadDocuments"
      small
      dark
      :loading="loading"
      color="teal darken-1"
      class="ma-2"
      @click="doViewDocumentsPage(item)"
    >
      Documents
    </v-btn>
    <v-btn
      v-if="actionExist.cancel"
      :disabled="!!item.cancellation"
      small
      dark
      :loading="loading"
      color="error darken-1"
      class="ma-2"
      @click="doToggleOrderCancellation(item)"
    >
      Cancel
    </v-btn>
    <!-- end -->
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  useContext,
  useRoute,
  useStore,
  useRouter,
  inject,
} from '@nuxtjs/composition-api'
import { saveAs } from 'file-saver'

// types
import { VuexModuleApplications } from '~/types/applications'
import { ExportOrdersParams, Order, VuexModuleOrders } from '~/types/orders'
import type { Bagged } from '~/types/bagging/bagging'
import { BagActions } from '~/components/bagging/BagTab.vue'
import { UserCustomerActions } from '~/pages/customers/_id/users.vue'
import { OrderActions } from '~/pages/orders/index.vue'

export default defineComponent({
  name: 'TableActions',
  props: {
    item: {
      type: Object as any,
      required: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    actionExist: {
      type: Object,
      required: true,
    },
    isBaggedTabClient: {
      type: Boolean,
      default: false,
    },
  },
  setup() {
    const { $dateFns } = useContext()

    // manage route
    const route = useRoute()
    const router = useRouter()

    // manage store
    const storeOrders = useStore<VuexModuleOrders>()
    const storeApplications = useStore<VuexModuleApplications>()

    // get the disabled state of button
    const isDisabled = {
      labelSeparated: (data: Order) => {
        if (!data.orderAllocations || data.orderAllocations.length === 0)
          return false

        return (
          !!data.labelPath ||
          data.orderAllocations.every((allocation) => allocation.labelURL)
        )
      },
      isEditable: (data: Bagged) => {
        if (data.is_editable) {
          return true
        }
      },
    }

    /** Function for Order and Incoming order pages
     * @orderActions : the injection a bunch of function from orders page to handle the button for the necessary
     * @doExportOrder : to export the order to xlsx file
     */
    const orderActions = inject('orderActions', {}) as OrderActions
    const doExportOrder = async (id: string) => {
      const fileName = `order_exports_${$dateFns.format(
        new Date(),
        'yyyy-MM-dd_HH-mm'
      )}.xlsx`
      let params = {
        data: [id],
      } as ExportOrdersParams

      // additional payload for incoming orders
      if (route.value.name === 'partner-portals-id-incoming-orders') {
        params = {
          ...params,
          partnerId: route.value.params.id,
        }
      }

      try {
        storeApplications.commit('applications/RESET_ALERT')
        const response = await storeOrders.dispatch(
          'orders/getSelectedExports',
          params
        )

        if (response?.response?.status >= 400) throw response

        saveAs(response, fileName)
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: 'Successfully to export the order!',
        })
      } catch (error) {
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: 'Failed to export the order!',
        })
      }
    }
    const functionOrder = { ...orderActions, doExportOrder }
    // end

    /** Function for Bagging pages
     * @bagActions : the injection a bunch of function from partner bagging page to handle the button for the necessary
     * @openURL : to download the manifest
     * * @viewDocuments : to view documents
     */
    const bagActions = inject('bagActions', {}) as BagActions
    function openURL(url: string) {
      window.open(url, '_self')
    }

    const functionBagging = {
      ...bagActions,
      openURL,
    }
    // end

    /** Function for Customer pages
     * @userCustomerActions : the injection a bunch of function from customer user page to handle the button for the necessary
     * @doManageUsers : move to customer users page
     */
    const userCustomerActions = inject(
      'userCustomerActions',
      {}
    ) as UserCustomerActions
    function doManageUsers(data: any) {
      router.push(`customers/${data.id}/users`)
    }
    const functionCustomer = { ...userCustomerActions, doManageUsers }
    // end

    return {
      isDisabled,
      ...functionCustomer,
      ...functionOrder,
      ...functionBagging,
    }
  },
})
</script>
