<template>
  <v-data-table
    v-model="selected"
    :item-key="itemKey"
    :items="items"
    :headers="headers"
    :options="options"
    :loading="loading"
    :show-select="showSelect"
    :loading-text="loadingText"
    hide-default-footer
    class="elevation-2"
    @update:options="fetch"
    @toggle-select-all="doSelectAll"
  >
    <!-- checkbox on header table (select all data) -->
    <template #[`header.data-table-select`]="{ props, on }">
      <v-simple-checkbox
        v-ripple
        on-icon="mdi-checkbox-marked-circle"
        off-icon="mdi-checkbox-blank-circle-outline"
        indeterminate-icon="mdi-checkbox-blank-circle"
        color="primary"
        :disabled="loading || !isSelectDisabled"
        v-bind="props"
        v-on="on"
      />
    </template>

    <!-- checkbox on table body each item (single select) -->
    <template #[`item.data-table-select`]="{ item, isSelected, select }">
      <v-simple-checkbox
        v-ripple
        on-icon="mdi-checkbox-marked-circle"
        off-icon="mdi-checkbox-blank-circle-outline"
        color="primary"
        :value="isSelected"
        :disabled="loading || validateSelect(item)"
        @input="select($event)"
      />
    </template>

    <!-- actions table -->
    <template #[`item.actions`]="{ item }">
      <BaseTableActions
        :item="item"
        :action-exist="actionExist"
        :is-bagged-tab-client="propsBagging.isBaggedTabClient"
      />
    </template>

    <!-- *for partner bagging incoming ff orders page hide bagCode if 2nd FF-->
    <template #[`item.bagCode`]="{ item }">
      <div v-if="item.partnerOrdinal !== 2">
        <span> {{ item.bagCode }}</span>
      </div>
    </template>
    <!-- *for client order & incoming orders page -->
    <!-- order code cell -->
    <template #[`item.codeOrders`]="{ item }">
      <OrderCodeCell :data="item" @doGetDetails="$emit('doGetDetails', item)" />
    </template>

    <!-- batch id cell -->
    <template #[`item.batchIdOrders`]="{ item }">
      <div>
        <v-btn
          v-if="item.batchCode"
          text
          color="primary"
          @click="$emit('doGetBatchDetails', item)"
        >
          <span>
            {{ item.batchCode }}
          </span>
        </v-btn>
      </div>
    </template>

    <!-- awb no cell -->
    <template #[`item.awbNumberOrders`]="{ item }">
      <div>
        <v-btn
          v-if="item.mawb && item.mawb.mawbNo"
          text
          color="primary"
          @click="$emit('doGetAwbDetails', item)"
        >
          <span>
            {{ item.mawb.mawbNo }}
          </span>
        </v-btn>

        <span v-else>{{ item.awbNumber }}</span>
      </div>
    </template>

    <!-- service type cell -->
    <template #[`item.serviceTypeOrders`]="{ item }">
      <ServiceCell
        v-if="serviceTypesExist(item)"
        :items="item.isE2ESmartRouting ? ['SRI'] : getServiceTypesItems(item)"
      />
    </template>

    <!-- service type cell -->
    <template #[`item.logo`]="{ item }">
      <img
        v-if="item.logo"
        :src="`data:image/png;base64,${item.logo}`"
        class="img-table"
      />
    </template>

    <!-- status cell -->
    <template
      #[`item.statusOrders`]="{
        item: { createdAt, latestPartnerUpdate, latestLuwjistikStatus },
      }"
    >
      <div>
        <span>
          {{
            getStatusOrder(
              {
                mappedStatus: latestLuwjistikStatus,
                updates: latestPartnerUpdate,
              },
              createdAt
            )
          }}
        </span>
      </div>
    </template>

    <!-- origin cell -->
    <template
      #[`item.originOrders`]="{ item: { pickupCountry, senderCountry } }"
    >
      <div>
        <span>
          {{ senderCountry || pickupCountry || '' }}
        </span>
      </div>
    </template>

    <!-- origin port cell -->
    <template #[`item.originPortOrders`]="{ item: { senderPort } }">
      <div>
        <span>
          {{ senderPort && !!senderPort.code ? senderPort.code : '' }}
        </span>
      </div>
    </template>

    <!-- destination cell -->
    <template #[`item.destinationOrders`]="{ item: { consigneeCountry } }">
      <div>
        <span>
          {{ consigneeCountry }}
        </span>
      </div>
    </template>

    <!-- destination port cell -->
    <template #[`item.destinationPortOrders`]="{ item: { destPort } }">
      <div>
        <span>
          {{ destPort && !!destPort.code ? destPort.code : '' }}
        </span>
      </div>
    </template>

    <!-- terminal status cell -->
    <template #[`item.terminalStatusId`]="{ item }">
      <div v-if="showTerminalStatus">
        <span>
          {{ item.terminalStatusId === null ? 'No' : 'Yes' }}
        </span>
      </div>
    </template>

    <!-- creation date format cell -->
    <template #[`item.creationDateOrders`]="{ item }">
      <div>
        <span>
          {{ $dateFns.format(item.createdAt, 'MMM dd, yyyy HH:mm') }}
        </span>
      </div>
    </template>

    <!-- LM tracking number cell -->
    <template #[`item.LMTrackingNumberOrders`]="{ item }">
      <div>
        <span v-if="!item.isE2ESmartRouting">
          {{ getLMTrackNumber(item.orderAllocations) }}
        </span>
      </div>
    </template>
    <!-- end -->

    <!-- Order Cancellation -->
    <template #[`item.cancellationStatus`]="{ item }">
      <div v-if="!!item.cancellation">
        <v-tooltip
          v-if="item.cancellation.remark"
          color="primary"
          max-width="300px"
          right
        >
          <template #activator="{ on, attrs }">
            <span v-bind="attrs" v-on="on">
              {{ item.cancellation.status }}
            </span>
          </template>

          <span class="d-block caption">
            {{ item.cancellation.remark }}
          </span>
        </v-tooltip>
        <span v-else>
          {{ item.cancellation.status }}
        </span>
      </div>
    </template>
    <!-- end -->

    <!-- *for client bagging bags tab -->
    <!-- order bags count cell -->
    <template #[`item.orderBagsCountClientBagging`]="{ item }">
      <div>
        <span>
          {{ calculateOrderCount(item) }}
        </span>
      </div>
    </template>
    <!-- end -->

    <!-- *for complete tab partner bagging -->
    <!-- order bags count cell -->
    <template #[`item.orderBagsCountCompleteTab`]="{ item }">
      <div>
        <span>
          {{ calculateOrderCount(item) }}
        </span>
      </div>
    </template>

    <!-- sub bags count -->
    <template #[`item.subBagsCountCompleteTab`]="{ item }">
      <div>
        <span>
          {{ item.bags ? item.bags.length : 0 }}
        </span>
      </div>
    </template>

    <!-- weight bags computed cell -->
    <template #[`item.weightComputedCompleteTab`]="{ item }">
      <div>
        <span>
          {{ calculateWeightCompleteBags(item) || 0 }}
        </span>
      </div>
    </template>

    <!-- seal bags cell -->
    <template #[`item.sealBags`]="{ item }">
      <v-row align="center">
        <v-col cols="12" md="12" class="px-2 py-4">
          <v-btn
            small
            color="primary"
            class="mr-2"
            :disabled="item.is_sealed"
            @click="bagActions.doHandleModalSeal(item)"
          >
            Seal Bags
          </v-btn>
        </v-col>
      </v-row>
    </template>
    <!-- end -->

    <!-- *for manifest tab partner bagging -->
    <!-- flight date format cell -->
    <template #[`item.flightDateManifestTab`]="{ item }">
      <div>
        <span>
          {{ formatDateTime(item.flight_date) }}
        </span>
      </div>
    </template>

    <!-- origin port cell -->
    <template #[`item.originPortManifestTab`]="{ item }">
      <div>
        <span>
          {{ getManifestPort(item, 'origin_port') }}
        </span>
      </div>
    </template>

    <!-- dest port cell -->
    <template #[`item.destPortManifestTab`]="{ item }">
      <div>
        <span>
          {{ getManifestPort(item, 'dest_port') }}
        </span>
      </div>
    </template>

    <!-- bags count cell -->
    <template #[`item.bagsCountManifestTab`]="{ item }">
      <div>
        <span>
          {{ calculateManifestBagsCount({ data: item, isBags: true }) }}
        </span>
      </div>
    </template>

    <!-- sub bags count cell -->
    <template #[`item.subBagsCountManifestTab`]="{ item }">
      <div>
        <span>
          {{ calculateManifestBagsCount({ data: item, isSubBags: true }) }}
        </span>
      </div>
    </template>

    <!-- sub bags order count cell -->
    <template #[`item.subBagsOrderCountManifestTab`]="{ item }">
      <div>
        <span>
          {{ calculateManifestBagsCount({ data: item, isOrder: true }) }}
        </span>
      </div>
    </template>

    <!-- bags weight cell -->
    <template #[`item.bagsWeightManifestTab`]="{ item }">
      <div>
        <span>
          {{ calculateManifestBagsWeight(item) }}
        </span>
      </div>
    </template>
    <!-- end -->

    <!-- *for status mapping page -->
    <template #[`item.clientStatusMapping`]="{ item }">
      <v-text-field
        :value="item.clientStatusMapping.clientStatus"
        @input="setClientStatus(item.code, $event)"
      />
    </template>
    <!-- end -->

    <!-- *for partner details page (marketplace details) -->
    <template
      #[`item.zoneTable`]="{ item: { slaTable, zoneTable, subzoneCapability } }"
    >
      <div>
        <span :class="slaTable ? `green--text` : `error--text`">
          {{ zoneTable }}

          <sup
            v-if="subzoneCapability && subzoneCapability.domestic"
            class="secondary--text"
          >
            *
          </sup>
        </span>
      </div>
    </template>

    <template #[`item.codTable`]="{ item }">
      <div>
        <span :class="item.codTable ? `green--text` : `error--text`">
          {{ item.slaTable ? (item.codTable ? 'Yes' : 'No') : '' }}
        </span>
      </div>
    </template>
    <!-- end -->
  </v-data-table>
</template>

<script lang="ts">
import {
  defineComponent,
  computed,
  PropType,
  useRoute,
  useContext,
  inject,
} from '@nuxtjs/composition-api'

// components
import ServiceCell from '@/components/orders/table/client-orders/ServiceCell.vue'
import OrderCodeCell from '@/components/base/Table/Cells/OrderCode.vue'
import { BagActions } from '~/components/bagging/BagTab.vue'
// end components

// types
import { Pagination, ActionsTable } from '~/types/applications'
import { Bagged, CompletedBag } from '~/types/bagging/bagging'
import { Order, OrderAllocationUpdate } from '~/types/orders'
import { IncomingOrder } from '~/types/partnerPortals/incomingOrders'
// end types

export default defineComponent({
  name: 'BaseTable',
  components: {
    ServiceCell,
    OrderCodeCell,
  },
  props: {
    value: {
      type: Array,
      default: () => [],
    },
    itemKey: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
    headers: {
      type: Array,
      required: true,
    },
    options: {
      type: Object as PropType<Pagination>,
      required: true,
    },
    loading: {
      type: Boolean,
    },
    loadingText: {
      type: String,
      default: 'Getting orders data...',
    },
    showSelect: {
      type: Boolean,
      default: false,
    },
    isSelectDisabled: {
      type: Boolean,
      default: true,
    },
    actionExist: {
      type: Object as PropType<ActionsTable>,
      default: () => ({
        export: false,
        downloadSingle: false,
        downloadSelection: false,
        edit: false,
        downloadBagging: false,
        updates: false,
        manageUser: false,
        editUser: false,
        reweight: false,
        manifestBag: false,
        mawbBag: false,
        detail: false,
        delete: false,
        cancel: false,
      }),
    },
    propsBagging: {
      type: Object,
      default: () => ({
        isBaggedTabClient: false,
        isCompleteTabPartner: false,
        isManifestTabPartner: false,
      }),
    },
    propsClientBagging: {
      type: Object,
      default: () => ({
        isBaggedTabClient: false,
      }),
    },
    firstSelectedPortBag: {
      type: Object,
      default: () => ({
        selectedOriginPort: '' as string,
        selectedDestPort: '' as string,
      }),
    },
    showTerminalStatus: {
      type: Boolean,
      default: false,
    },
  },
  setup(props, { emit }) {
    const {
      $dateFns: { isAfter, format },
    } = useContext()

    // *manage route
    const route = useRoute()
    const { name: routeName } = route.value
    // check the active routes matching
    const isOn = computed(() => ({
      partnerPortal: {
        // for incoming orders page
        incomingOrders: routeName === 'partner-portals-id-incoming-orders',
      },
    }))
    const routeState = { isOn }
    // end

    // *manage table state
    const selected = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })
    const doSelectAll = (data: []) => {
      emit('doSelectAll', data)
    }
    // to disabling the table data selection button
    const validateSelect = (item: Order | IncomingOrder | Bagged) => {
      // on bagging page, the button will disabled if label url not exist
      if (routeName === 'bagging') {
        return !(item as Bagged).label_url
      }

      // on complete tab bagging partner, the button will disabled if the bag is not sealed
      if (
        routeName === 'partner-portals-id-bagging' &&
        props.propsBagging.isCompleteTabPartner
      ) {
        // if props are not empty
        if (
          props.firstSelectedPortBag.selectedOriginPort !== '' &&
          props.firstSelectedPortBag.selectedDestPort !== ''
        ) {
          // check that origin and destination of items are same as first selected
          if (
            (item as CompletedBag).origin_port !==
              props.firstSelectedPortBag.selectedOriginPort ||
            (item as CompletedBag).dest_port !==
              props.firstSelectedPortBag.selectedDestPort
          ) {
            return true
          }
        }
        return !(item as CompletedBag).is_sealed
      }

      return false
    }
    // const tableAction
    const tableState = { selected, doSelectAll, validateSelect }
    // end

    // *manage cell
    /*
     * @serviceTypesExist : to check if the service types exist then display it
     * @getServiceTypesItems : get list items of service types
     */
    const serviceTypesExist = (data: Order | IncomingOrder): boolean => {
      const { requestedServices, orderAllocations } = data

      return (
        (requestedServices && !!requestedServices.length) ||
        (orderAllocations && !!orderAllocations.length)
      )
    }
    const getServiceTypesItems = (data: Order | IncomingOrder): string[] => {
      const { requestedServices, orderAllocations } = data

      return isOn.value.partnerPortal.incomingOrders
        ? requestedServices || []
        : orderAllocations?.map((allocation) => allocation.serviceType) ?? []
    }
    // to get the order status data
    const getStatusOrder = (
      { mappedStatus, updates }: { mappedStatus: string; updates: string },
      createdAt: string
    ) => {
      if (!mappedStatus && !updates) return ''

      // is order created past from 1 August 2022 ?
      const isPastAugust = isAfter(
        new Date(createdAt as unknown as Date),
        new Date(2022, 7, 1, 0, 1)
      )
      if (isPastAugust) return mappedStatus || ''

      return updates || ''
    }
    // to get the LM tracking number
    const getLMTrackNumber = (orderAllocations: OrderAllocationUpdate[]) => {
      return (
        orderAllocations?.find(
          (allocation) => allocation.serviceType === 'LAST_MILE'
        )?.externalTrackingNumber ?? ''
      )
    }
    // to get the order count/order length
    const calculateOrderCount = (data: Bagged | CompletedBag) => {
      if (data.orders && !!data.orders.length) return data.orders.length
      else if (data.bags && !!data.bags.length) {
        return (
          data.bags
            ?.map((bag) => {
              return bag.orders
            })
            .reduce((acc, item) => {
              const orderLength = item ? item.length : 0

              return acc + orderLength
            }, 0) || []
        )
      } else return 0
    }
    // to calculate orders weight for complete tab
    const calculateWeightCompleteBags = (item: CompletedBag): number => {
      // prioritize to calculate the orders weight then sub bags orders weight
      return item.orders
        ? item.orders.reduce(
            (accumulator, a) => accumulator + (a?.weight ?? 0),
            0
          )
        : item.bags
        ? item.bags
            .map((x) => {
              return x.orders
                ? x.orders.reduce(
                    (accumulator, a) => accumulator + (a?.weight ?? 0),
                    0
                  )
                : 0
            })
            .reduce((accumulator, a) => accumulator + a, 0)
        : 0
    }
    // format date and time or return empty string if Go default value is returned
    const formatDateTime = (dateStr?: string) => {
      if (!dateStr) return ''
      const date = new Date(dateStr)
      if (
        date.toString() === 'Invalid Date' ||
        dateStr === '0001-01-01T00:00:00Z'
      )
        return ''
      return format(date, 'MMM dd, yyyy HH:mm')
    }
    // get the manifest bags port
    const getManifestPort = (
      data: Bagged,
      type: 'origin_port' | 'dest_port'
    ) => {
      return data.bags && data.bags.length ? data.bags[0][type] : ''
    }
    // to calculate count of bags, sub-bags, sub-bags orders
    const calculateManifestBagsCount = ({
      data,
      isBags,
      isSubBags,
      isOrder,
    }: {
      data: Bagged
      isBags?: boolean
      isSubBags?: boolean
      isOrder?: boolean
    }) => {
      let total = 0

      if (!data.bags || data.bags.length === 0) return total

      // calculate bags count
      if (isBags) {
        total = data.bags.length
      }

      // calculate sub-bags count
      if (isSubBags) {
        total = data.bags.reduce(
          (accumulator: any, a: any) =>
            accumulator + (a.bags ? a.bags.length : 0),
          0
        )
      }

      // calculate sub-bags orders count
      if (isOrder) {
        total = data.bags
          .map((x: any) => {
            return x.bags
              ? x.bags.reduce(
                  (accumulator: any, a: any) =>
                    accumulator + (a.orders ? a.orders.length : 0),
                  0
                )
              : x.orders
              ? x.orders.length
              : 0
          })
          .reduce((accumulator: any, a: any) => accumulator + a, 0)
      }

      return total
    }
    // to calculate the weight of bags
    const calculateManifestBagsWeight = (data: Bagged) => {
      if (!data.bags || data.bags.length === 0) return 0

      return data.bags.reduce((accumulator, a) => accumulator + a.weight, 0)
    }
    const setClientStatus = (code: string, value: string) => {
      emit('setClientStatus', { code, value })
    }
    const cellState = {
      serviceTypesExist,
      getServiceTypesItems,
      getStatusOrder,
      getLMTrackNumber,
      calculateOrderCount,
      calculateWeightCompleteBags,
      formatDateTime,
      getManifestPort,
      calculateManifestBagsCount,
      calculateManifestBagsWeight,
      setClientStatus,
    }
    // end

    // This table uses a server side pagination approach which will use this function for fetching its data
    const fetch = (data: Pagination) => {
      emit('fetch', data)
    }

    const bagActions = inject('bagActions', {}) as BagActions

    return {
      ...routeState,
      ...tableState,
      ...cellState,
      bagActions,
      fetch,
    }
  },
})
</script>
