<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseHeadlinePage title="Label Configuration" />

    <v-row>
      <v-col cols="12" md="3">
        <div class="font-weight-bold">1. Top Label</div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Top Label"
          rules="required"
          tag="div"
        >
          <v-select
            v-model="selectedLabel.logo1Preference"
            :error-messages="errors"
            :items="topLabelItems"
            item-text="text"
            item-value="value"
            label="Top Label"
            outlined
            rounded
            dense
            color="primary"
          />
        </ValidationProvider>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <div class="font-weight-bold">2. First Mile Label</div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="First Mile Label"
          rules="required"
          tag="div"
        >
          <v-select
            v-model="selectedLabel.logo2Preference"
            :error-messages="errors"
            :items="mileLabelItems"
            item-text="text"
            item-value="value"
            label="First Mile Label"
            outlined
            rounded
            dense
            color="primary"
          />
        </ValidationProvider>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <div class="font-weight-bold">3. Last Mile Label</div>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <ValidationProvider
          v-slot="{ errors }"
          slim
          name="Last Mile Label"
          rules="required"
          tag="div"
        >
          <v-select
            v-model="selectedLabel.logo3Preference"
            :error-messages="errors"
            :items="mileLabelItems"
            item-text="text"
            item-value="value"
            label="Last Mile Label"
            outlined
            rounded
            dense
            color="primary"
          />
        </ValidationProvider>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3">
        <v-card color="white" elevation="2">
          <v-card-text class="px-6">
            <!-- Logo field -->
            <div class="mr-0 mb-5 d-flex flex-column align-center">
              <span class="font-weight-bold my-4"> Your current logo </span>
              <v-fade-transition hide-on-leave>
                <v-avatar
                  v-if="selectedLabel.logo"
                  size="140"
                  class="mb-4"
                  rounded="0"
                >
                  <img
                    :src="`data:image/png;base64,${selectedLabel.logo}`"
                    alt="company logo"
                    style="object-fit: contain"
                  />
                </v-avatar>
              </v-fade-transition>

              <v-fade-transition hide-on-leave>
                <ImageUploader
                  v-show="!selectedLabel.logo"
                  ref="filePond"
                  v-model="selectedLabel.logo"
                  :style="{
                    width: $vuetify.breakpoint.mobile ? '50%' : '100%',
                  }"
                  @changeLoading="$fetchState.pending = !$fetchState.pending"
                  @changeError="errorStateUpload = $event"
                />
              </v-fade-transition>

              <span
                v-if="errorStateUpload"
                style="width: 140px"
                class="text-caption error--text text-center"
              >
                {{ `${errorStateUpload.main} ${errorStateUpload.sub}` }}
              </span>

              <v-expand-transition>
                <v-btn
                  color="primary"
                  class="my-2"
                  :loading="$fetchState.pending"
                  @click="handlerDoBrowse"
                >
                  Upload New
                </v-btn>
              </v-expand-transition>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col cols="6">
        <v-btn
          :disabled="$fetchState.pending"
          color="primary"
          @click="saveLabelConfiguration"
        >
          Save Changes
        </v-btn>
      </v-col>
    </v-row>
    <NotificationFloating />
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useStore,
  useMeta,
  ref,
  PropType,
  useFetch,
  Ref,
  computed,
} from '@nuxtjs/composition-api'
import { ValidationProvider } from 'vee-validate'

//  components - start
import ImageUploader from '@/components/base/FilePond/ImageUploader.vue'
import NotificationFloating from '@/components/base/NotificationFloating.vue'
//  components - end

// types
import type {
  LogoConfiguration,
  VuexModuleLabelConfig,
} from '~/types/clients/labelConfiguration/labelConfiguration'
import { ErrorFilePond } from '~/types/base/filePond'
import { useFetchEngine } from '~/composables/base/fetch-engine'

export default defineComponent({
  name: 'LabelConfigurationPage',
  components: {
    ValidationProvider,
    ImageUploader,
    NotificationFloating,
  },
  setup(_props, setupContext) {
    const storeLabelConfig = useStore<VuexModuleLabelConfig>()
    const selectedLabel = ref({}) as Ref<LogoConfiguration>

    const topLabelItems = ref([
      {
        text: 'Default',
        value: 'CLIENT',
      },
      {
        text: 'Blank',
        value: 'BLANK',
      },
    ])

    const mileLabelItems = ref([
      {
        text: 'Network Partner',
        value: 'NETWORK_PARTNER',
      },
      {
        text: 'Own',
        value: 'CLIENT',
      },
      {
        text: 'Blank',
        value: 'BLANK',
      },
    ])

    const storeState = {
      selectedLabel,
      topLabelItems,
      mileLabelItems,
    }

    // start of upload State
    const filePond = ref(null) as Ref<any>
    const errorStateUpload = ref({
      main: '',
      sub: '',
    }) as unknown as PropType<ErrorFilePond>

    const labelConfigData = computed({
      get: () =>
        ((
          {
            ...storeLabelConfig.state.clients.labelConfiguration
              .labelConfiguration,
          } as any
        ).labelConfiguration),
      set: (value) => value,
    })

    const handlerDoBrowse = () => {
      filePond.value.$refs.pond.browse()
    }

    const uploadState = {
      filePond,
      labelConfigData,
      errorStateUpload,
      handlerDoBrowse,
    }
    // end of upload State

    // manage api
    async function fetchLabelConfiguration() {
      $fetchState.pending = true
      try {
        await storeLabelConfig.dispatch(
          'clients/labelConfiguration/labelConfiguration/getLabelConfiguration'
        )
        selectedLabel.value = { ...labelConfigData.value }
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
        }, 1500)
      }
    }
    const { $fetchState } = useFetch(async () => {
      await fetchLabelConfiguration()
    })

    const saveLabelConfiguration = async () => {
      const handleSubmitFn = async () => {
        // define the payload
        const payload = {
          ...selectedLabel.value,
        }

        // hit the API endpoint
        await storeLabelConfig.dispatch(
          'clients/labelConfiguration/labelConfiguration/updateLabelConfiguration',
          payload
        )
      }

      await useFetchEngine(setupContext, handleSubmitFn, {
        messages: {
          failed: 'Failed to update label configuration',
          success: 'Successfully to update label configuration',
        },
        successSubmissionFn: fetchLabelConfiguration,
      })
    }

    const actionFunction = {
      saveLabelConfiguration,
    }

    useMeta(() => ({ title: 'Customer Portal | Label Configuration' }))

    return {
      ...uploadState,
      ...actionFunction,
      ...storeState,
    }
  },
  head: {},
})
</script>
