$primary: #1961e4;
$primary-darken-1: #1457d0;
$primary-darken-2: #0947b7;
$secondary: #ff3d17;
$base: #ffffff;
$blueControl: #edf5ff;

:export {
  primary: $primary;
  primaryDarken1: $primary-darken-1;
  primaryDarken2: $primary-darken-2;
  secondary: $secondary;
  base: $base;
  blueLControl: $blueControl;
}
