@import '@/assets/scss/color.module.scss';
@import './filePond.scss';

// scroll style
::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  opacity: 75%;
}

::-webkit-scrollbar-track {
  background: $base;
  border-radius: 1rem !important;
}

.v-data-table ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

// page transition
.page-enter-active,
.page-leave-active {
  transition: opacity 0.1s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

// line clamp
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// top bar
#app-bar-custom {
  border: 0 solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 24px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.drawer-custom {
  ::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: #c9e1ff;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 24px !important;
  }

  ::-webkit-scrollbar-track-piece:start {
    background-color: transparent;
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

// footer
.v-footer {
  border-radius: 24px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

[v-cloak] {
  display: none !important;
}

/* form field style
  @ .v-input : for normal state
  @ .v-input--has-state : for error state
  @ .v-input--is-disabled : for disabled state
*/
.v-input {
  fieldset {
    color: $primary !important;
  }

  .v-label {
    color: $primary !important;
    font-size: large;
  }

  ::placeholder {
    color: $primary !important;
  }
}

.v-input--has-state {
  fieldset {
    color: $secondary !important;
  }

  .v-label {
    color: $secondary !important;
  }

  ::placeholder {
    color: $secondary !important;
  }
}

.v-input--is-disabled {
  .v-label {
    color: rgba(0, 0, 0, 0.26) !important;
  }

  fieldset {
    color: rgba(0, 0, 0, 0.26) !important;
  }
}

.v-autocomplete__content.v-menu__content {
  border-radius: 1rem !important;
}

.otp .v-input__slot {
  border-radius: 0.5rem !important;
}

// data table
.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  text-transform: uppercase !important;
}

.v-data-table {
  ::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
  }

  ::-webkit-scrollbar-thumb {
    background: #c9e1ff;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 24px !important;
  }

  ::-webkit-scrollbar-track-piece:start {
    background-color: transparent;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  ::-webkit-scrollbar-track-piece:end {
    background-color: transparent;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }

  .img-table {
    max-width: 60px;
    max-height: 60px;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      transform: scale(2);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }
}

// tab customs
.custom-tab {
  border-radius: 16px 16px 0 0 !important;
}

.v-slide-group__prev {
  justify-content: flex-start !important;
}

.v-slide-group__next {
  justify-content: flex-end !important;
}
