<template>
  <v-app>
    <BaseNavigationDrawer
      v-model="drawer"
      :mini="mini"
      @hideMiniSideNav="hideMiniSideNav"
      @doShowSideNav="doShowSideNav"
    />

    <BaseNavigationAppBar :mini="mini" @doShowSideNav="doShowSideNav" />

    <v-main class="base">
      <Nuxt class="main-content" />

      <v-menu
        v-if="showSenbird"
        v-model="menu"
        :close-on-content-click="false"
        offset-x
        :nudge-width="200"
        :nudge-top="580"
        :disabled="!roomLoading"
      >
        <template #activator="{ on, attrs }">
          <v-btn
            :key="'mdi-pencil'"
            :color="'primary'"
            fab
            large
            dark
            bottom
            fixed
            right
            class="v-btn--example btn-notif"
            v-bind="attrs"
            :loading="!roomLoading"
            v-on="on"
          >
            <v-badge
              color="red"
              :content="countChat"
              :value="countChat"
              overlap
            >
              <v-icon>{{ 'mdi-message-text' }}</v-icon>
            </v-badge>
          </v-btn>
        </template>
        <v-card>
          <v-tabs
            v-model="tab"
            background-color="transparent"
            color="basil"
            grow
          >
            <v-tab v-for="(item, i) in items" :key="i">
              {{ item.name }}
            </v-tab>
          </v-tabs>
          <v-tabs-items v-model="tab">
            <v-tab-item v-for="(item, i) in items" :key="i">
              <v-card width="800px">
                <ChatPackageAdvancedChatWindow
                  :is-incoming="item.isIncoming"
                  :is-open="menu"
                />
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </v-menu>

      <BaseNavigationFooter />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import {
  defineComponent,
  useContext,
  ref,
  Ref,
  useStore,
  computed,
  watch,
  onMounted,
} from '@nuxtjs/composition-api'
import { v4 as uuidv4 } from 'uuid'
import SendBird from 'sendbird'
import { useActions } from 'vuex-composition-helpers'
// types
import { ActionsApplications } from '~/store/applications'
import { VuexModuleChat } from '~/types/sendbird'
// const
import { ZENDESK_LINK } from '~/constants/base/l-chat'

export default defineComponent({
  name: 'DefaultLayout',
  middleware: 'auth',
  setup() {
    const { $config, $vuetify } = useContext()

    // manage store
    const { getSuspensionFeature } = useActions<ActionsApplications>(
      'applications',
      ['getSuspensionFeature']
    )
    const storeChat = useStore<VuexModuleChat>()
    const menu = computed({
      get: () => {
        return storeChat.state.sendbird.menu
      },
      set: (value) => {
        storeChat.dispatch('sendbird/setMenu', value)
      },
    })
    // end manage store

    // handle sidenav
    const drawer = ref(!$vuetify.breakpoint.mobile) as Ref<boolean>
    const mini = ref(false) as Ref<boolean>
    const doShowSideNav = () => {
      const isMobile = $vuetify.breakpoint.smAndDown

      if (isMobile) return (drawer.value = !drawer.value)

      return (mini.value = !mini.value)
    }
    const hideMiniSideNav = () => {
      mini.value = false
    }
    const navState = {
      drawer,
      mini,
      menu,
      doShowSideNav,
      hideMiniSideNav,
    }

    // manage sendbird
    const showSenbird = ref(false)
    const sb = new SendBird({
      appId: $config.sendBirdKey,
      localCacheEnabled: true,
    })
    const tab = ref(null) as any
    const userEventHandler = new sb.UserEventHandler()
    const items = ref([
      {
        name: 'Messages',
        isIncoming: false,
      },
    ]) as any
    const countChat = ref(0) as Ref<Number>
    const USER_ID_CHAT = computed(() => storeChat.state.sendbird.chatUser)
    const roomLoading = computed(() => storeChat.state.sendbird.roomLoading)
    watch(
      () => [USER_ID_CHAT],
      ([newUserID]) => {
        if (newUserID.value && newUserID.value?.user_id) {
          sb.connect(newUserID.value?.user_id, function (_user, _error) {})
        }
      },
      { deep: true }
    )
    // end manage sendbird

    async function fetchRooms() {
      const dataParams = {
        page: 1,
        perPage: 8,
        sortDesc: true,
      }

      try {
        await storeChat.dispatch('sendbird/getChatRoom', {
          params: dataParams,
          isCommit: true,
        })
      } catch (error) {
        return error
      }
    }

    // manage features flag
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )

    onMounted(async () => {
      // get suspension of features
      getSuspensionFeature()

      // display zendesk if zendesk flag true
      const showZendeskWidget = await getFeatureFlags(
        'display-zendesk-in-client-portal'
      )
      if (showZendeskWidget) initiateZendeskWidget()

      // display sendbird if sendbird flag true
      const showSendbirdChat = await getFeatureFlags(
        'display-lchat-on-client-portal'
      )

      if (showSendbirdChat) initiateSendbirdChat()
    })

    // initiate zendesk widget script
    const initiateZendeskWidget = () => {
      if (window.zE) return window.zE.show()

      const zendeskKey = $config.zendeskKey
      const zendeskScript = document.createElement('script')

      zendeskScript.setAttribute('id', 'ze-snippet')
      zendeskScript.setAttribute('src', `${ZENDESK_LINK}?key=${zendeskKey}`)

      document.head?.appendChild(zendeskScript)
      document.body.classList.add('base-app')

      return zendeskScript
    }

    // initiate sendbird chat integration
    const initiateSendbirdChat = () => {
      showSenbird.value = true

      setTimeout(async () => {
        await Promise.allSettled([
          await storeChat.dispatch('sendbird/getUserChat'),
          await fetchRooms(),
        ])

        countChat.value = await sb.getTotalUnreadMessageCount()
        userEventHandler.onTotalUnreadMessageCountUpdated = function (
          totalCount,
          _countByCustomTypes
        ) {
          countChat.value = totalCount
        }

        sb.addUserEventHandler(uuidv4(), userEventHandler)
      }, 5000)
    }

    return {
      ...navState,
      countChat,
      roomLoading,
      tab,
      items,
      showSenbird,
    }
  },
})
</script>

<style lang="scss">
.main-content {
  margin-bottom: 35rem;
}

.base-app {
  iframe {
    &#webWidget {
      left: 0px;
    }
    &#launcher {
      display: none;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .main-content {
    margin-bottom: 20rem;
  }
  .btn-notif {
    .notif-count {
      position: absolute;
      right: 5px;
      top: -5px;
      background: red;
      z-index: 1;
      font-size: 8px;
      padding: 2px;
      border-radius: 5px;
    }
  }
}
</style>
