<template>
  <section class="pa-4 pa-md-10 py-8 baggedPage">
    <BaseHeadlinePage title="lFreight" subtitle=""> </BaseHeadlinePage>

    <v-sheet color="transparent" width="100%" class="mx-10 mt-10">
      <template v-for="({ text, icon }, index) in stepList">
        <v-btn
          :key="text"
          :color="isActive(index) ? 'primary' : 'white'"
          :class="[isActive(index) ? 'white--text' : 'primary--text']"
          class="custom-tab mx-2"
          min-width="150px"
          @click="doChangeWindow(index)"
        >
          <v-icon v-if="icon" left dark size="28">
            {{ icon }}
          </v-icon>
          {{ text }}
        </v-btn>
      </template>
    </v-sheet>

    <v-card elevation="2">
      <v-window v-model="step">
        <v-window-item :value="0">
          <ActiveLanes :step="step" />
        </v-window-item>

        <v-window-item :value="1">
          <RegularLanes />
        </v-window-item>

        <v-window-item :value="2">
          <ViewBookings :step="step" />
        </v-window-item>
      </v-window>
    </v-card>
    <v-snackbar
      :value="alert.isShow"
      rounded="pill"
      right
      bottom
      :color="alert.type"
    >
      {{ alert.message }}
    </v-snackbar>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useMeta,
  computed,
  ref,
  Ref,
  onMounted,
} from '@nuxtjs/composition-api'

// components
import RegularLanes from '~/components/lFreight/RegularLanes.vue'
import ActiveLanes from '~/components/lFreight/ActiveLanes.vue'
import ViewBookings from '~/components/lFreight/ViewBookings.vue'
// Interface and types

export default defineComponent({
  name: 'LFreight',
  components: {
    RegularLanes,
    ActiveLanes,
    ViewBookings,
  },
  layout: 'default',
  setup() {
    useMeta(() => ({ title: 'Client Portal | Freight' }))

    // manage store
    const step = ref(0) as Ref<number>
    const storeState = { step, alert }

    const stepList = computed(() => {
      return [
        {
          text: 'On-Demand',
          icon: '',
        },
        {
          text: 'Regular',
          icon: '',
        },
        {
          text: 'My Bookings',
          icon: '',
        },
      ]
    })
    const isActive = (data: number) => step.value === data
    const doChangeWindow = (data: number) => {
      step.value = data
    }

    const windowsState = {
      stepList,
      isActive,
      doChangeWindow,
    }
    // end windows

    // reset tab, and view, also filter on mounted
    onMounted(() => {
      step.value = 0
    })

    // end reset
    return {
      ...storeState,
      ...windowsState,
    }
  },
  head: {},
})
</script>
