<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseHeadlinePage
      title="Dashboard"
      subtitle="Presenting analytics from data processing related to orders on your account."
    />

    <v-row v-if="clientAnalytic" align="center">
      <v-col cols="12">
        <iframe
          ref="dashboardMetabase"
          :src="clientAnalytic"
          allowfullscreen
          frameborder="0"
          width="100%"
          height="1500px"
        />
      </v-col>
    </v-row>
  </section>
</template>

<script lang="ts">
import { defineComponent, useFetch, useMeta } from '@nuxtjs/composition-api'
import { useActions, useState } from 'vuex-composition-helpers'
// types
import { ActionDashboards, RootStateDashboards } from '~/store/dashboards'

export default defineComponent({
  name: 'ClientDashboardPages',
  setup() {
    useMeta(() => ({ title: `Client Portal | Dashboard` }))

    // manage store
    const { getClientAnalytics } = useActions<ActionDashboards>('dashboards', [
      'getClientAnalytics',
    ])
    const { clientAnalytic } = useState<RootStateDashboards>('dashboards', [
      'clientAnalytic',
    ])
    // end manage store

    useFetch(async () => {
      await getClientAnalytics()
    })

    return {
      clientAnalytic,
    }
  },
  head: {},
})
</script>
