<template>
  <v-app-bar
    id="app-bar-custom"
    app
    color="transparent"
    outlined
    tile
    elevation="0"
  >
    <v-app-bar-nav-icon
      v-if="$vuetify.breakpoint.mobile"
      @click.stop="$emit('doShowSideNav')"
    >
      <v-icon> mdi-menu </v-icon>
    </v-app-bar-nav-icon>

    <v-spacer v-if="$vuetify.breakpoint.mobile" />

    <NuxtLink
      v-if="$vuetify.breakpoint.mobile"
      to="/"
      class="d-flex align-center"
    >
      <NuxtImg
        src="/images/Luwjistik Logo FA-02.png"
        format="webp"
        height="32"
        preload
      />
    </NuxtLink>

    <v-spacer />

    <div class="white" style="border-radius: 24px">
      <v-menu bottom offset-y>
        <template #activator="{ on }">
          <v-btn
            text
            x-large
            :icon="$vuetify.breakpoint.mobile"
            color="primary"
            class="pa-0 px-2"
            v-on="on"
          >
            <v-icon
              left
              size="40"
              class="mr-0 mr-md-1 mt-0 mt-md-1"
              color="primary"
            >
              {{
                $vuetify.breakpoint.mobile ? 'mdi-account-circle' : '$profile'
              }}
            </v-icon>

            <div class="d-none d-md-flex flex-column justify-start text-start">
              <p
                class="ma-0 subtitle-2 font-weight-bold text-uppercase text-left"
              >
                {{ getClientName }}
              </p>

              <p class="ma-0 subtitle-2 text-lowercase text-left">
                {{ user.email }}
              </p>
            </div>
          </v-btn>
        </template>

        <v-card>
          <v-list>
            <!-- to profile -->
            <v-list-item nuxt to="/account-profiles" color="primary">
              <v-list-item-icon class="ma-3 ml-0">
                <v-icon size="40" color="primary">
                  {{
                    $vuetify.breakpoint.mobile
                      ? 'mdi-account-circle'
                      : '$profile'
                  }}
                </v-icon>
              </v-list-item-icon>

              <v-list-item-content class="font-weight-bold">
                Profile
              </v-list-item-content>
            </v-list-item>

            <v-divider class="my-2" />

            <v-list-item color="primary" @click="openZendeskWidget()">
              <v-list-item-icon>
                <v-icon> mdi-help-circle-outline </v-icon>
              </v-list-item-icon>
              <v-list-item-content> Get Help </v-list-item-content>
            </v-list-item>

            <v-list-item
              color="primary"
              href="https://luwjistikcentre.zendesk.com/hc/en-gb"
              target="_blank"
            >
              <v-list-item-icon>
                <v-icon> mdi-frequently-asked-questions </v-icon>
              </v-list-item-icon>
              <v-list-item-content> FAQ </v-list-item-content>
            </v-list-item>

            <v-list-item
              color="primary"
              href="https://drive.google.com/file/d/1CqhyEHXXgb6JCdwTDCnzfKbWq6OhrCsO/view"
              target="_blank"
            >
              <v-list-item-icon>
                <v-icon> mdi-book-open-blank-variant </v-icon>
              </v-list-item-icon>
              <v-list-item-content> Shipping Guideline </v-list-item-content>
            </v-list-item>

            <!-- to logout -->
            <v-list-item link color="primary" @click="doLogout">
              <v-list-item-icon>
                <v-icon> mdi-logout-variant </v-icon>
              </v-list-item-icon>

              <v-list-item-content> Log Out </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </div>
  </v-app-bar>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useContext,
  PropType,
} from '@nuxtjs/composition-api'
import { useLoginStore } from '~/store/base/applications/login'

// types - start
import type { Client, User } from '~/types/base/applications/login'
// types - end

export default defineComponent({
  props: {
    mini: {
      type: Boolean as PropType<boolean>,
      required: true,
    },
  },
  setup(_props) {
    const { $auth } = useContext()

    // manage store - start
    const loginStore = useLoginStore()
    const { logout: doLogout } = loginStore
    // manage store - end

    // Handle user
    const user = computed<User>(
      () => $auth.$storage.getLocalStorage('user') as User
    )
    const client = computed<Client | null>(
      () => user.value.partnerProfiles[0]?.client || null
    )
    const getClientName = computed(() => {
      const name = client.value?.name
      const role = user.value.role.toLowerCase().replaceAll('_', ' ')

      return name ? `${name} Admin` : role
    })

    const openZendeskWidget = () => {
      window.zE('webWidget', 'toggle')
    }

    return {
      user,
      client,
      getClientName,
      doLogout,
      openZendeskWidget,
    }
  },
})
</script>
