<template>
  <v-list v-show="isFeatureShown" nav class="pt-0 px-0">
    <v-list-group
      :value="isGroupShown"
      no-action
      active-class="white--text"
      @click="doShowGroup"
    >
      <template #activator>
        <v-list-item-content>
          <v-list-item-title
            class="text-uppercase text-center"
            :class="[mini ? 'subtitle-2' : '']"
            :style="{ whiteSpace: mini ? 'unset' : '' }"
          >
            Customer Portal
          </v-list-item-title>
        </v-list-item-content>
      </template>

      <template v-if="!mini">
        <template v-for="(menu, index) in customerMenu">
          <BaseNavigationListItem :key="index" :items="menu" class="px-6" />
        </template>
      </template>
    </v-list-group>
    <template v-if="mini">
      <template v-for="(menu, index) in customerMenu">
        <BaseNavigationListItem :key="index" :items="menu" :mini="mini" />
      </template>
    </template>
  </v-list>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  Ref,
  PropType,
  useFetch,
} from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'
import { ActionsApplications } from '~/store/applications'

// Interfaces and types
import { NavigationLinks } from '~/types/applications'

export default defineComponent({
  props: {
    mini: {
      type: Boolean as PropType<Boolean>,
      required: true,
    },
  },
  setup(_props, { emit }) {
    const customerMenu = ref([
      {
        title: 'Customers',
        icon: '$partner',
        to: `/customers`,
      },
      {
        title: 'Status Mapping',
        icon: '$statusMapping',
        to: '/status-mapping',
      },
      {
        title: 'Label Configuration',
        icon: '$labelConfiguration',
        to: '/label-configuration',
      },
    ]) as Ref<NavigationLinks[]>

    const isGroupShown = ref(true)
    const isFeatureShown = ref(false)

    const doShowGroup = () => {
      isGroupShown.value = !isGroupShown.value
      emit('hideMiniSideNav')
    }

    // manage features flag
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )

    const featureFlags = ref({
      useLabelConfiguration: true,
    })

    // hide label Configuration if flag is false
    const computedLabelConfigurationMenu = (menu: NavigationLinks[]) => {
      return menu.filter(
        (option: NavigationLinks) => option.title !== 'Label Configuration'
      )
    }

    useFetch(async () => {
      featureFlags.value.useLabelConfiguration = await getFeatureFlags(
        'display-client-logo-form'
      )

      if (!featureFlags.value.useLabelConfiguration) {
        customerMenu.value = computedLabelConfigurationMenu(customerMenu.value)
      }

      // *check is display-manage-customers availability on feature flags
      const showCustomerMenu = await getFeatureFlags('display-manage-customers')

      if (showCustomerMenu) {
        isFeatureShown.value = true
      }
    })

    return {
      isFeatureShown,
      customerMenu,
      isGroupShown,
      doShowGroup,
    }
  },
})
</script>
