<template>
  <v-list nav class="pt-0 px-0">
    <v-list-group
      :value="isGroupShown"
      no-action
      active-class="white--text"
      @click="doShowGroup"
    >
      <template #activator>
        <v-list-item-content>
          <v-list-item-title
            class="text-uppercase text-center"
            :class="[mini ? 'subtitle-2' : '']"
            :style="{ whiteSpace: mini ? 'unset' : '' }"
          >
            Partner Portal
          </v-list-item-title>
        </v-list-item-content>
      </template>

      <template v-if="!mini">
        <template v-for="(menu, index) in partnerMenus">
          <BaseNavigationListItem :key="index" :items="menu" class="px-6" />
        </template>
      </template>
    </v-list-group>

    <template v-if="mini">
      <template v-for="(menu, index) in partnerMenus">
        <BaseNavigationListItem :key="index" :items="menu" :mini="mini" />
      </template>
    </template>
  </v-list>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  Ref,
  PropType,
  useContext,
  computed,
  useFetch,
} from '@nuxtjs/composition-api'
import { useActions } from 'vuex-composition-helpers'

// types - start
import type { ActionsApplications } from '~/store/applications'
import type { NavigationLinks } from '~/types/applications'
import type { PartnerServiceTypes, User } from '~/types/base/applications/login'
// types - end

// composables
import {
  isFreightPartner,
  isCustomsPartner,
} from '~/composables/partner-portals/partner-menu'

export default defineComponent({
  props: {
    mini: {
      type: Boolean as PropType<Boolean>,
      required: true,
    },
  },
  setup(_props, { emit }) {
    const { $auth } = useContext()

    const user = computed<User>(
      () => $auth.$storage.getLocalStorage('user') as User
    )
    const partnerId = computed(() => user.value?.partnerProfiles[0]?.partnerId)

    const isFreight = isFreightPartner(
      user.value?.partnerProfiles[0]
        ?.partnerServiceType as PartnerServiceTypes[]
    )

    const isCustoms = isCustomsPartner(
      user.value?.partnerProfiles[0]
        ?.partnerServiceType as PartnerServiceTypes[]
    )
    const partnerMenus = ref([
      {
        title: 'Partner Dashboard',
        icon: '$dashboard',
        to: `/partner-portals/${partnerId.value}/dashboard`,
      },
      {
        title: 'Incoming Orders',
        icon: '$order',
        to: `/partner-portals/${partnerId.value}/incoming-orders/`,
      },
      {
        title: 'Partner Bagging',
        icon: '$bagging',
        to: `/partner-portals/${partnerId.value}/bagging`,
        // badge: 'Coming Soon',
      },
      {
        title: 'MAWB Documents',
        icon: '$mawb',
        to: `/partner-portals/${partnerId.value}/manifest`,
        // badge: 'Coming Soon',
      },
      {
        title: 'Client Connections',
        icon: '$clientConnections',
        to: `/partner-portals/${partnerId.value}/client-connections`,
      },
      {
        title: 'Partner Profile',
        icon: '$profile',
        to: `/partner-portals/${partnerId.value}/profiles`,
      },
      // {
      //   title: 'Partner Profile',
      //   icon: 'mdi-bag-suitcase-outline',
      //   to: `/partner-portals/${partnerId.value}/bagging`,
      // },
    ]) as Ref<NavigationLinks[]>
    const isGroupShown = ref(true)

    // manage feature flags - start
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const featureFlags = ref({
      useMawbManagementFreight: false,
    })
    // manage feature flags - end

    // hide Partner Bagging if is NOT freight partner
    const computedFreightPartnerMenu = (menu: NavigationLinks[]) => {
      return menu.filter(
        (option: NavigationLinks) => option.title !== 'Partner Bagging'
      )
    }

    const computedCustomsPartnerMenu = (menu: NavigationLinks[]) => {
      return menu.filter(
        (option: NavigationLinks) => option.title !== 'MAWB Documents'
      )
    }

    useFetch(async () => {
      featureFlags.value.useMawbManagementFreight = await getFeatureFlags(
        'use-mawb-management-freight'
      )

      if (featureFlags.value.useMawbManagementFreight) {
        if (!isFreight) {
          partnerMenus.value = computedFreightPartnerMenu(partnerMenus.value)
        }
        if (!isCustoms) {
          partnerMenus.value = computedCustomsPartnerMenu(partnerMenus.value)
        }
      }
    })

    const doShowGroup = () => {
      isGroupShown.value = !isGroupShown.value
      emit('hideMiniSideNav')
    }

    return {
      partnerMenus,
      isGroupShown,
      doShowGroup,
    }
  },
})
</script>

<style lang="scss">
.v-navigation-drawer__border {
  width: 0 !important;
}
</style>
