<template>
  <article>
    <v-card-text class="pa-8">
      <v-scroll-y-transition hide-on-leave>
        <v-alert v-if="alert.isShow" :type="alert.type" rounded="xl">
          <template v-if="typeof alert.message === 'string'">
            {{ alert.message }}
          </template>

          <template v-else>
            <ul v-for="(item, index) in alert.message" :key="index">
              <li>{{ item }}</li>
            </ul>
          </template>
        </v-alert>
      </v-scroll-y-transition>

      <OrdersFilePondCSV
        ref="filePond"
        v-model="form"
        :step="step"
        @changeLoading="loading = !loading"
      />

      <v-row no-gutters>
        <v-col v-once cols="12" md="auto">
          <span class="caption text--secondary mr-2">
            Download sample file :
          </span>
        </v-col>

        <v-col cols="12" md="auto">
          <div class="d-flex flex-column">
            <a
              :href="sampleFiles.url"
              download
              class="secondary--text text-decoration-none font-weight-bold d-block mb-2"
            >
              {{ sampleFiles.name }}
            </a>
          </div>
        </v-col>
      </v-row>
    </v-card-text>

    <v-card-actions class="pa-8">
      <v-spacer />

      <v-btn
        outlined
        color="primary"
        class="mx-2"
        :disabled="loading || !suspensionAllowedActions.submitOrder"
        @click="doResetForm"
      >
        Reset
      </v-btn>

      <v-btn
        color="primary"
        :disabled="loading || !!alert.message.length"
        @click="doSubmitForm"
      >
        Upload
      </v-btn>
    </v-card-actions>
  </article>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  Ref,
  useRouter,
  watch,
  useContext,
} from '@nuxtjs/composition-api'
import { useState, useMutations, useActions } from 'vuex-composition-helpers'

// types - start
import type { AlertType, ErrorAPI } from '~/types/applications'
import type {
  MutationsApplications,
  RootStateApplications,
} from '~/store/applications'
import type { ActionsOrders } from '~/store/orders'
import type {
  OrderCrossBorder,
  OrderDomestic,
} from '~/types/orders/upload-submission'
// types - end

export interface Select {
  country: string
}

export default defineComponent({
  name: 'UploadForm',
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
  setup(props) {
    const router = useRouter()
    const { $customUtils } = useContext()

    // manage store
    const { alert: stateAlert, suspensionAllowedActions } =
      useState<RootStateApplications>('applications', [
        'alert',
        'suspensionAllowedActions',
      ])
    const { SET_ALERT: setAlertMutations, RESET_ALERT: resetAlertMutations } =
      useMutations<MutationsApplications>('applications', [
        'SET_ALERT',
        'RESET_ALERT',
      ])
    const { uploadOrders } = useActions<ActionsOrders>('orders', [
      'uploadOrders',
    ])
    const alert = computed(() => ({ ...stateAlert.value }))
    const doSetAlert = (type: AlertType, message: string | string[]) => {
      setAlertMutations({
        isShow: true,
        type,
        message,
      })
    }
    const doResetAlert = resetAlertMutations
    const stateStore = { alert, suspensionAllowedActions }

    // manage upload state
    const loading = ref(false)
    const uploadType = computed(() =>
      props.step === 0 ? 'domestic' : 'crossBorder'
    )
    const sampleFiles = computed(() => {
      // get the staging versions
      const staging = $customUtils.getStagingVersion()
      // domestic sample file (dev staging)
      let domestics = '1rf35YJ9-vneg-vFyv-fePSIUTn5C3eQZ'
      // cross borders sample file (dev staging)
      let crossBorders = '1LpnWWXHzhL30yZpjJFhTi-6Q5Ud3krdD'

      // sandbox file id
      if (staging === 'sandbox') {
        domestics = '1otPbxgIVPkW8x4YalZDnVcDsLa4sU6_V'
        crossBorders = '1xFR5s0ZyU47ZW8Ib61m4c8naCDIpmcjO'
      }

      // productions file id
      if (staging === 'prod') {
        domestics = '158P3DHSZ0zXolxWOvJEaEa4r2g25aDxi'
        crossBorders = '1aiSzCrubLWgvArPzpZV1rO7oDPfO5oYE'
      }

      return {
        name:
          uploadType.value === 'domestic'
            ? 'sample_orders_domestic.xlsx'
            : 'sample_orders_cross_borders.xlsx',
        url: `https://docs.google.com/spreadsheets/d/${
          uploadType.value === 'domestic' ? domestics : crossBorders
        }/export?&format=xlsx`,
      }
    })
    const form = ref([]) as Ref<OrderDomestic[] | OrderCrossBorder[]>
    const filePond = ref(null) as Ref<any>
    const uploadStates = {
      loading,
      uploadType,
      sampleFiles,
      form,
      filePond,
    }

    // manage upload methods
    const doResetForm = () => {
      try {
        loading.value = true
        form.value = []
        filePond.value.$refs.pondOrders.removeFiles()
        doResetAlert()
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          loading.value = false
        }, 1500)
      }
    }
    const doSubmitForm = async () => {
      const isValid = true
      const formEmpty = form.value.length === 0
      const type = uploadType.value
      const data = form.value

      try {
        if (formEmpty) throw new Error('error')
        if (!isValid) return
        loading.value = true
        const response = await uploadOrders({
          data,
          type,
        })

        if (response !== 'ok') throw response.response

        doSetAlert('success', `Orders successfully uploaded!`)
        setTimeout(() => {
          router.push('/orders')
        }, 2500)
      } catch (error: any) {
        const {
          data: { error: normalError = '', ErrorDetails: listError = [] } = {},
        } = error as { data: ErrorAPI }
        let message =
          alert.value.message ||
          ('Order upload data invalid, The data contained in the file you uploaded is incorrect. Please add data according to the existing sample file!' as
            | string
            | string[])

        if (normalError) {
          message = normalError
        }

        if (listError && listError.length > 0) {
          message = [
            ...listError.filter((item) => item.note).map((item) => item.note),
            ...alert.value.message,
          ]
        }

        doSetAlert('error', message)
      } finally {
        setTimeout(() => {
          loading.value = false
        }, 1500)
      }
    }
    const uploadMethods = { doResetForm, doSubmitForm }

    // reset form if window upload changed
    watch(
      () => props.step,
      () => {
        if (!suspensionAllowedActions?.value?.submitOrder) return

        doResetForm()
      }
    )

    return {
      // manage store
      ...stateStore,
      // manage upload
      ...uploadStates,
      ...uploadMethods,
    }
  },
})
</script>
