<template>
  <section class="pa-4 pa-md-10 py-8 custom-margin">
    <v-sheet color="transparent" width="100%" class="mx-10">
      <template v-for="({ text, disabled }, index) in stepList">
        <v-btn
          :key="text"
          :color="isActive(index) ? 'primary' : 'white'"
          :class="[isActive(index) ? 'white--text' : 'primary--text']"
          :disabled="disabled"
          class="custom-tab mx-2"
          @click="doChangeWindow(index)"
        >
          {{ disabled ? `${text} (Coming Soon)` : text }}
        </v-btn>
      </template>
    </v-sheet>

    <v-card elevation="2">
      <v-window v-model="step">
        <v-window-item>
          <OrdersUploadMawbDocumentsForm :step="step" :url="awbUrl" />
        </v-window-item>

        <v-window-item>
          <OrdersUploadMawbDocumentsForm :step="step" :url="hawbUrl" />
        </v-window-item>

        <v-window-item>
          <OrdersUploadMawbDocumentsForm :step="step" :url="packingListUrl" />
        </v-window-item>
      </v-window>
    </v-card>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useMeta,
  useRouter,
  ref,
  useFetch,
  computed,
  useStore,
  inject,
} from '@nuxtjs/composition-api'

import { VuexModuleOrders } from '~/types/orders'
export default defineComponent({
  name: 'UploadMawbDocuments',
  setup() {
    const router = useRouter()
    const mawbId = inject('mawbId')
    // manage store
    const storeOrders = useStore<VuexModuleOrders>()
    const mawbDocuments = computed(() => storeOrders.state.orders.mawbDocuments)
    const awbUrl =
      computed(() => storeOrders.state.orders.mawbDocuments.awbUrl) || ''
    const hawbUrl =
      computed(() => storeOrders.state.orders.mawbDocuments.hawbUrl) || ''
    const packingListUrl =
      computed(() => storeOrders.state.orders.mawbDocuments.packingListUrl) ||
      ''

    // manage windows
    const step = ref(0)
    const stepList = ref([
      {
        text: 'AWB File',
      },
      {
        text: 'HAWB File',
      },
      {
        text: 'Packing List',
      },
    ])
    const isActive = (data: number) => step.value === data
    const doChangeWindow = (data: number) => {
      step.value = data
    }
    useMeta(() => ({
      title: `Client Portal | Upload MAWB Documents`,
    }))

    const doBackTo = () => {
      router.go(-1)
    }

    // get documents
    useFetch(async () => {
      await storeOrders.dispatch('orders/getMawbDocuments', mawbId)
    })

    return {
      step,
      stepList,
      isActive,
      doChangeWindow,
      doBackTo,
      mawbDocuments,
      awbUrl,
      hawbUrl,
      packingListUrl,
    }
  },
  head: {},
})
</script>

<style scoped>
.custom-margin {
  margin-bottom: 40rem;
}

.custom-bg {
  position: absolute;
  bottom: 500px;
  margin-left: -100px;
}

@media only screen and (min-width: 1024px) {
  .custom-bg {
    bottom: 300px;
    width: 100vw;
    margin-left: -100px;
  }
}
</style>
