<template>
  <article>
    <v-card-text class="pa-8">
      <v-scroll-y-transition hide-on-leave>
        <v-alert v-if="alert.isShow" :type="alert.type" rounded="xl">
          <template v-if="typeof alert.message === 'string'">
            {{ alert.message }}
          </template>

          <template v-else>
            <ul v-for="(item, index) in alert.message" :key="index">
              <li>{{ item }}</li>
            </ul>
          </template>
        </v-alert>
      </v-scroll-y-transition>
      <v-card-text v-if="documentUrl" align="center">
        <v-btn outlined color="primary" class="mx-2" :href="documentUrl">
          Download Existing File
        </v-btn>

        <v-btn outlined color="primary" class="mx-2" @click="edit = !edit">
          Replace File
        </v-btn>
      </v-card-text>

      <ExcelUploader
        v-if="edit || !documentUrl"
        ref="csvPond"
        v-model="updateMawbDocs.file"
        :settings="settings"
        name="updateStatusBulk"
        @changeLoading="loading = !loading"
      />
    </v-card-text>

    <v-card-actions v-if="edit || !documentUrl" class="pa-8">
      <v-spacer />

      <v-btn
        outlined
        color="primary"
        class="mx-2"
        :disabled="loading"
        @click="doResetForm"
      >
        Reset
      </v-btn>

      <v-btn
        color="primary"
        :disabled="loading || !!alert.message.length"
        @click="doSubmitForm"
      >
        Upload
      </v-btn>
    </v-card-actions>
  </article>
</template>
<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  Ref,
  useStore,
  onMounted,
  watch,
  inject,
} from '@nuxtjs/composition-api'
// components
import ExcelUploader from '@/components/base/FilePond/ExcelUploader.vue'
// interfaces and types
import { ErrorAPI, VuexModuleApplications } from '~/types/applications'
import { MawbFile, VuexModuleOrders } from '~/types/orders'

const initUpdateMawbDocs = {
  file: [] as File[],
}

export default defineComponent({
  name: 'UploadMawbFile',
  components: {
    ExcelUploader,
  },
  props: {
    step: {
      type: Number,
      required: true,
    },
    // eslint-disable-next-line vue/require-default-prop
    url: {
      type: String,
    },
  },
  setup(props) {
    // manage store
    const storeApplications = useStore<VuexModuleApplications>()
    const storeOfOrders = useStore<VuexModuleOrders>()
    const alert = computed(() => storeApplications.state.applications.alert)
    const mawbId = inject('mawbId')
    const documentUrl = computed(() => props.url)

    // manage upload
    const edit = ref(false)

    const loading = ref(false)
    const updateMawbDocs = ref({ ...initUpdateMawbDocs }) as Ref<MawbFile>
    // pond settings
    const uploadType = computed(() => {
      switch (props.step) {
        case 0:
          return 'AWB'
        case 1:
          return 'HAWB'
        case 2:
          return 'Packing list'
      }
    })
    watch(uploadType, () => {
      edit.value = false
    })

    const fileName = computed(() => {
      switch (props.step) {
        case 0:
          return 'awb_file'
        case 1:
          return 'hawb_file'
        case 2:
          return 'packing_list_file'
      }
    })
    const csvPond = ref(null) as Ref<any>
    const settings = ref({
      class: 'pond-mawb',
      labelFileTypeNotAllowed: `${uploadType.value} file is invalid type!`,
      labelMaxFileSizeExceeded: `${uploadType.value} file is too large!`,
      // acceptedFileTypes: ['text/csv'],
      maxFileSize: '5MB',
      labelIdle: `
        <span>Drag and drop to upload the ${uploadType.value} file or</span>
        </br>
        </br>
        <span class="filepond--label-action font-weight-medium secondary--text text-decoration-none">Browse</span>
      `,
    })

    const doResetForm = () => {
      try {
        loading.value = true
        csvPond.value.$refs.pond.removeFiles()
        updateMawbDocs.value = { ...initUpdateMawbDocs }
        storeApplications.commit('applications/RESET_ALERT')
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          loading.value = false
        }, 1500)
      }
    }

    const doSubmitForm = async () => {
      const isValid = true
      const formEmpty = updateMawbDocs.value.file.length === 0
      const file = updateMawbDocs.value.file[0]
      const filename = fileName.value
      try {
        if (formEmpty) throw new Error('error')
        if (!isValid) return
        loading.value = true
        const response = await storeOfOrders.dispatch(
          'orders/uploadMawbDocuments',
          { mawbId, filename, file }
        )

        if (response.status >= 400) throw response.response

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: `Files successfully uploaded!`,
        })
        setTimeout(() => {
          // router.push(`/orders/mawb${mawbId}`)
          window.location.reload()
        }, 1000)
      } catch (error: any) {
        const {
          data: { error: normalError = '', ErrorDetails: listError = [] } = {},
        } = error as { data: ErrorAPI }
        let message =
          alert.value.message || ('File upload invalid.' as string | string[])

        if (normalError) {
          message = normalError
        }

        if (listError && listError.length > 0) {
          message = [
            ...listError.filter((item) => item.note).map((item) => item.note),
            ...alert.value.message,
          ]
        }

        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message,
        })
        return error
      } finally {
        setTimeout(() => {
          loading.value = false
        }, 1500)
      }
    }

    onMounted(() => {
      storeApplications.commit('applications/RESET_ALERT')
    })

    // reset form if window upload changed
    watch(
      () => props.step,
      () => {
        doResetForm()
      }
    )

    return {
      // manage store
      alert,
      // form,
      updateMawbDocs,
      csvPond,
      settings,
      loading,
      doResetForm,
      doSubmitForm,
      documentUrl,
      edit,
    }
  },
})
</script>

<style lang="scss">
.pond-mawb {
  .filepond--root {
    height: 8rem;
  }

  /* the border radius of the file item */
  .filepond--item-panel {
    height: 100%;
    border-radius: 1rem;
  }

  /* bordered drop area */
  .filepond--panel-root {
    border-radius: 1.5rem;
  }

  /* the text color of the drop label*/
  .filepond--drop-label {
    height: 100%;
  }
}
</style>
