<template>
  <section class="pa-4 pa-md-10 py-8">
    <h1>Documents</h1>

    <v-row justify="end">
      <v-btn
        class="btn-group rounded-lg mr-2 px-4"
        color="primary"
        min-width="200px"
        @click="toggleAdd"
      >
        + Upload New Documents
      </v-btn>
    </v-row>

    <v-row justify="space-between">
      <v-col cols="4">
        <div class="py-2 font-weight-bold">MAWB</div>
        <div
          class="pr-2 pb-2 font-weight-bold primary--text"
          style="font-size: 24px; color: primary"
        >
          {{ documentsDetail.mawbNumber }}
        </div>

        <div class="pr-2 py-2 font-weight-bold">Flight Schedule</div>
        <div class="pr-2 font-weight-medium">Flight No.</div>
        <div class="pr-2 pb-2 font-weight-light">
          {{ documentsDetail.flightNo }}
        </div>
        <div class="pr-2 font-weight-medium">Freight Forwarder</div>
        <div class="pr-2 font-weight-light">
          <!-- placeholder -->
          Dralink
        </div>
      </v-col>
      <v-col cols="8" align-self="center">
        <BaseLoading v-if="$fetchState.pending" />
        <DisplayList
          v-else-if="partnerPage === 'FREIGHT_FORWARDER'"
          :documents="receivedDocuments"
          :list-display="true"
        />
        <ManifestDocumentsDisplayList
          v-else
          :documents-c-c-partner="uploadedDocuments"
          :documents-f-f-partner="receivedDocuments"
          :list-display="true"
        />
      </v-col>
    </v-row>
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doClose="doResetModal"
      @doSubmit="doSubmit"
    >
      <template #modalFields>
        <DocumentUploader
          v-model="newDocuments"
          class="pa-2"
          :categories="documentCategories"
          :with-optional-notes="true"
          pages="manifestUploader"
          @fetchDocCategories="fetchDocCategories"
        />
      </template>
    </BaseModalForm>
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useMeta,
  computed,
  Ref,
  ref,
  useContext,
  useFetch,
  provide,
} from '@nuxtjs/composition-api'
import { useActions, useMutations, useState } from 'vuex-composition-helpers'
import { AxiosResponse } from 'axios'

//  components - start
import DocumentUploader from '@/components/base/FilePond/document-categorized/ContainerUploader.vue'
import DisplayList from '~/components/base/FilePond/document-categorized/DisplayList.vue'
import ManifestDocumentsDisplayList from '~/components/manifest/ManifestDocumentsDisplay.vue'
//  components - end

//  composable - start
import {
  doFormatPayload,
  initUploadData,
  manifestDocumentCategories,
  remapDocuments,
} from '~/composables/partner-portals/bagging/documents'

import { useFetchEngine } from '~/composables/base/fetch-engine'
//  composable - end

//  types - start
import { SelectItem, ModalConfirm, ErrorAPI } from '~/types/applications'
import {
  MutationsApplications,
  RootStateApplications,
} from '~/store/applications'
import { ActionsPresigned } from '@/store/presigned-urls'
import {
  ActionsMAWBDocuments,
  StateMawbDocuments,
} from '~/store/partnerPortals/documents'
import { DocumentsDetail } from '~/types/partnerPortals/documents'
//  types - end

export interface ManifestDocsActions {
  downloadFile: (data: any) => void
}
export default defineComponent({
  name: 'ViewDocuments',
  components: {
    DocumentUploader,
    DisplayList,
    ManifestDocumentsDisplayList,
  },
  middleware: 'partner',

  setup(_props, setupContext) {
    const { $customUtils } = useContext()

    const user = localStorage.getItem('auth.user')
      ? JSON.parse(localStorage.getItem('auth.user') as string)
      : {}

    const documentsDetail = computed(() =>
      JSON.parse(
        localStorage.getItem(`documentsDetail.${user.email}`) as string
      )
    ) as Ref<DocumentsDetail>

    const partnerPage = JSON.parse(
      localStorage.getItem(`isCustomsService.${user.email}`) as string
    )
      ? 'CUSTOMS'
      : 'FREIGHT_FORWARDER'

    const mawbId = documentsDetail.value.mawbID ?? ''

    // manage store - start
    const { alert, suspensionAllowedActions } = useState<RootStateApplications>(
      'applications',
      ['alert', 'suspensionAllowedActions']
    )
    const { freightDocuments, customsDocuments } = useState<StateMawbDocuments>(
      'partnerPortals/documents',
      ['freightDocuments', 'customsDocuments']
    )
    const { RESET_ALERT: doResetAlert, SET_ALERT: doSetAlert } =
      useMutations<MutationsApplications>('applications', [
        'RESET_ALERT',
        'SET_ALERT',
      ])
    const {
      attachMAWBDocumentsAPI,
      getMAWBDocuments,
      getSpecificMAWBDocument,
    } = useActions<ActionsMAWBDocuments>('partnerPortals/documents', [
      'attachMAWBDocumentsAPI',
      'getMAWBDocuments',
      'getSpecificMAWBDocument',
    ])
    const { requestPresignedURLsAPI, uploadDocumentsAPI } =
      useActions<ActionsPresigned>('presigned-urls', [
        'requestPresignedURLsAPI',
        'uploadDocumentsAPI',
      ])

    // map uploaded docs in response to display format
    const receivedDocuments = computed(() =>
      remapDocuments(freightDocuments.value)
    )

    const uploadedDocuments = computed(() =>
      remapDocuments(customsDocuments.value)
    )

    const storeState = {
      alert,
      suspensionAllowedActions,
      freightDocuments,
      customsDocuments,
      // documents,
      receivedDocuments,
      uploadedDocuments,
      partnerPage,
    }
    // manage store - end

    // manage form - start
    const formData = initUploadData()
    const newDocuments = computed(
      () => formData.value.uploadDocuments.documents
    )

    const manageForm = { formData, newDocuments }
    // manage form - end

    //  manage documents - start
    const documentCategories = ref<SelectItem<string>[]>([])
    const fetchDocCategories = async () => {
      documentCategories.value = await new Promise((resolve, _reject) => {
        setTimeout(() => {
          resolve([...manifestDocumentCategories])
        }, 500)
      })
    }

    // for existing documents
    const downloadFile = async (file: File) => {
      const allDocuments = [
        ...freightDocuments.value,
        ...customsDocuments.value,
      ]
      const documentSelected = allDocuments.find((doc) =>
        doc.path.includes(file.name)
      )
      if (!documentSelected || Object.keys(documentSelected)?.length === 0)
        return

      const documentId = documentSelected.id

      const url = await getSpecificMAWBDocument({ mawbId, documentId })

      if (typeof url === 'string') {
        window.open(url, '_blank')
      }
    }
    // provide the function to the Manifest Display Component
    provide<ManifestDocsActions>('manifestDocsActions', {
      downloadFile,
    })
    const manageDocumentState = {
      documentCategories,
      fetchDocCategories,
    }
    //  manage documents - end

    // manage modal - start
    const dialog = ref({
      form: false,
    })
    const dialogSettings = ref({
      loading: false,
      title: '',
      content: '',
      cancelText: 'Cancel',
      submitText: 'Upload',
      submitColor: 'primary',
    }) as Ref<ModalConfirm>

    const toggleAdd = () => {
      dialog.value.form = true
    }

    const doResetModal = () => {
      dialogSettings.value.loading = false
      dialog.value.form = false
      documentCategories.value = []
      formData.value = initUploadData().value
    }

    const handleDocumentSubmission = async () => {
      const documentsCategorized =
        formData.value.uploadDocuments.documents || []
      const isDocumentsExist = documentsCategorized?.length || false
      const files = documentsCategorized?.flatMap((doc) => doc.files)
      try {
        // submit the mawb document
        if (!isDocumentsExist) {
          return doSetAlert({
            isShow: true,
            type: 'error',
            message: `Please upload a document first`,
          })
        }
        // request the presigned urls for uploading mawb docs
        const { featureType, payload: presignedPayloads } =
          doFormatPayload.presignedUrlsMawbDocs(mawbId, documentsCategorized)
        const presignedURLsRes = await requestPresignedURLsAPI({
          featureType,
          data: presignedPayloads,
        })

        // upload mawb documents
        const { attachDocumentsPayload, uploadPresignedPayload } =
          doFormatPayload.attachMAWBDocuments(
            presignedPayloads,
            presignedURLsRes,
            files
          )
        await Promise.allSettled([
          uploadDocumentsAPI(uploadPresignedPayload),
          attachMAWBDocumentsAPI({
            data: {
              id: mawbId,
              payload: {
                documents: attachDocumentsPayload,
                serviceType: partnerPage,
              },
            },
          }),
        ])
        doSetAlert({
          isShow: true,
          type: 'success',
          message: `Successfully submitted the MAWB Documents!`,
        })
        // reload display list in baackground
        $fetchState.pending = true

        await getAllMAWBDocuments(partnerPage)

        setTimeout(() => {
          doResetModal()
        }, 1000)
      } catch (error) {
        const message = $customUtils.getErrorMessages(
          error as { response: AxiosResponse<ErrorAPI> },
          'Failed to submit the MAWB Documents!'
        )
        doSetAlert({
          isShow: true,
          type: 'error',
          message,
        })
      } finally {
        setTimeout(() => {
          doResetAlert()
          $fetchState.pending = false
        }, 1000)
      }
    }

    const doSubmit = async () => {
      await useFetchEngine(setupContext, handleDocumentSubmission, {
        customLoadingFn: fetchDocCategories,
      })
    }

    const getAllMAWBDocuments = async (partnerPage: string) => {
      // get mawb documents for FF regardless, whether is FF or Customs docs page
      await getMAWBDocuments({ mawbId, serviceType: 'FREIGHT_FORWARDER' })
      if (partnerPage === 'CUSTOMS') {
        await getMAWBDocuments({ mawbId, serviceType: 'CUSTOMS' })
      }
    }

    const manageModal = {
      dialog,
      dialogSettings,
      toggleAdd,
      doResetModal,
      doSubmit,
    }

    // manage modal - end

    useMeta(() => ({ title: 'Partner Portal | View Documents' }))
    const { $fetchState } = useFetch(async () => {
      await getAllMAWBDocuments(partnerPage)
    })

    return {
      documentsDetail,
      ...storeState,
      ...manageForm,
      ...manageDocumentState,
      ...manageModal,
    }
  },
  head: {},
})
</script>
