<template>
  <v-row>
    <v-col cols="12">
      <v-card dark color="primary" elevation="2">
        <v-card-text class="body-1 white--text pa-6">
          <v-row align="center">
            <v-col cols="12" sm="auto">
              <v-avatar size="64" color="secondary">
                <v-icon dark x-large>
                  {{
                    $vuetify.breakpoint.mobile
                      ? 'mdi-account-circle'
                      : '$profile'
                  }}
                </v-icon>
              </v-avatar>
            </v-col>

            <v-col cols="12" sm="auto">
              <div>
                <h2
                  class="text-capitalize font-weight-bold text-uppercase title"
                >
                  {{ getClientName }}
                </h2>

                <p class="ma-0">{{ user.email }}</p>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from '@nuxtjs/composition-api'

// interfaces and types
import { User } from '~/types/base/applications/login'

export default defineComponent({
  name: 'ProfileInformations',
  props: {
    user: {
      type: Object as PropType<User>,
      required: true,
    },
  },
  setup(props) {
    const client = computed(() => props.user.partnerProfiles[0]?.client || {})
    const getClientName = computed(() => {
      const name = client.value?.name
      const role = props.user.role.toLowerCase().replaceAll('_', ' ')

      return name ? `${name} Admin` : role
    })

    return {
      client,
      getClientName,
    }
  },
})
</script>
