<template>
  <v-list-item-subtitle class="d-flex align-center">
    <span class="font-weight-medium"> {{ data.title }} </span>

    <span
      :title="data.body"
      class="d-inline-block text-truncate ml-2"
      :style="{
        'max-width': $vuetify.breakpoint.xs
          ? '7rem'
          : $vuetify.breakpoint.lgAndUp
          ? '24rem'
          : '15rem',
      }"
      style="user-select: all"
    >
      --- {{ data.body }} ---
    </span>

    <v-btn
      v-if="ableCopy"
      icon
      :disabled="disabledCopy"
      @click="$emit('doCopyText')"
    >
      <v-icon>mdi-content-copy</v-icon>
    </v-btn>
  </v-list-item-subtitle>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'

interface ListData {
  title: string
  body: string
}

export default defineComponent({
  name: 'SelectableKey',
  props: {
    data: {
      type: Object as PropType<ListData>,
      required: true,
    },
    ableCopy: {
      type: Boolean,
      default: true,
    },
    disabledCopy: {
      type: Boolean,
      default: false,
    },
  },
})
</script>
