<template>
  <article style="height: 100%">
    <!-- l-control heading -->
    <Heading :breadcrumbs="breadcrumbs" />

    <!-- l-control modular content -->
    <section class="content-wrapper">
      <CountriesWrapper
        :loading="isLoading"
        :user-selected="userSelected"
        @handleCountrySelection="handleSelections.country"
      />

      <ServicesWrapper
        v-model="userSelected"
        :is-loading="isLoading"
        :service-types="serviceTypesFormatted"
        :feature-flags="{
          useHideLTimizerFlag: useHideLTimizerFlag,
        }"
        @doHandleBobModular="doHandleBobModular"
        @handleBob="handleBob"
        @handleServiceSelections="handleSelections.service"
      />

      <ZoneWrapper
        :is-on-service-type="isOnServiceType"
        :is-using-bob="isUsingBob"
        :loading="isLoading"
        :ports-meta="portsMeta"
        :show-ports-or-zones="showPortsOrZones"
        :user-selected="userSelected"
        @changePortsMeta="(value) => (portsMeta = value)"
        @getPorts="getPorts(portsMeta)"
        @handleZoneSelection="handleSelections.zone"
      >
        <template #form>
          <div class="content-zone-selected">
            <v-btn
              :disabled="isLoading"
              color="primary"
              icon
              @click="handleBackToZoneSelection"
            >
              <v-icon> mdi-arrow-left-thick</v-icon>
            </v-btn>

            <div class="zone-column-right">
              <div>
                <div
                  class="mb-3"
                  style="line-height: 36px; font-size: 18px; font-weight: 700"
                >
                  {{ getSelectedZonePortName }}
                </div>

                <BaseLoadingLinear
                  v-if="isLoading"
                  :title="'Getting form data...'"
                  class="mt-6"
                />

                <div v-else>
                  <!-- handle default -->
                  <DefaultPartnerForm
                    v-model="userSelected"
                    :is-on-service-type="isOnServiceType"
                    :loading="isLoading"
                  />
                  <!-- end handle default -->

                  <!-- handle cod -->
                  <CODPartnerForm
                    v-model="userSelected"
                    :is-on-service-type="isOnServiceType"
                    :loading="isLoading"
                    @handleDeleteCOD="handleDeleteForm('cod')"
                  />
                  <!-- end handle cod -->

                  <!-- handle primary, secondary, tertiary network partner -->
                  <OtherPartnerForm
                    v-model="userSelected"
                    :is-on-service-type="isOnServiceType"
                    :loading="isLoading"
                    @handleDeleteNetworkPartner="handleDeleteForm"
                  />
                  <!-- end handle primary, secondary, tertiary network partner -->
                </div>
              </div>

              <v-btn
                :disabled="isSaveButtonDisabled"
                color="primary"
                style="align-self: end"
                @click="handleSubmit"
              >
                SAVE CHANGES
              </v-btn>
            </div>
          </div>
        </template>
      </ZoneWrapper>
    </section>

    <!-- modal for delete secondary & tertiary l-control partner -->
    <BaseModalConfirm
      v-model="dialog.isOpen"
      :dialog-settings="dialogSettings"
      @doSubmit="handleDeleteModal"
    />
  </article>
</template>

<script lang="ts">
import {
  computed,
  ComputedRef,
  defineComponent,
  Ref,
  ref,
  useContext,
  useFetch,
} from '@nuxtjs/composition-api'
import { useActions, useMutations, useState } from 'vuex-composition-helpers'
import {
  useFetchEngine,
  FetchEngineOptions,
} from '~/composables/base/fetch-engine'

// components - start
import Heading from '@/components/lcontrol/Heading.vue'
import CountriesWrapper from '~/components/lcontrol/modular/CountriesWrapper.vue'
import ServicesWrapper from '~/components/lcontrol/modular/ServicesWrapper.vue'
import ZoneWrapper from '~/components/lcontrol/modular/ZoneWrapper.vue'
import DefaultPartnerForm from '~/components/lcontrol/modular/DefaultPartnerForm.vue'
import CODPartnerForm from '~/components/lcontrol/modular/CODPartnerForm.vue'
import OtherPartnerForm from '~/components/lcontrol/modular/OtherPartnerForm.vue'
// components - end

// types - start
import type {
  CountryCode,
  GetZonesPayload,
  PortData,
  ServiceType,
  ZoneData,
} from '~/types/filters'
import type {
  LControlFeatureFlags,
  LTimizer,
  UserSelectedLControl,
} from '~/types/lControl'
import type { ModalConfirm, Pagination } from '~/types/applications'
import type {
  ActionsApplications,
  MutationsApplications,
  RootStateApplications,
} from '~/store/applications'
import type { ActionsFilters, StateFilters } from '~/store/filters'
import type { ActionsMarketplaces } from '~/store/marketplaces/marketplaces'
import type { ActionsLControls, StateLControls } from '~/store/lControls'
import type { ParamsGetMarketplace } from '~/types/marketplace/marketplace'
// types - end

export interface IsOnServiceType {
  customs: boolean
  lastMile: boolean
  domestic: boolean
  freight: boolean
}

export interface isUsingBob {
  general: boolean
  modular: boolean
}

// end types

// data initialization
const WrapperComponents = { CountriesWrapper, ServicesWrapper, ZoneWrapper }
const FormComponents = { DefaultPartnerForm, CODPartnerForm, OtherPartnerForm }
const initBreadcrumbs = [
  {
    text: 'ZONE',
    disabled: false,
    first: true,
  },
]
const initPartnerID = { partnerID: '' }
const initVolume = { partnerID: '', volume: 0 }

export default defineComponent({
  name: 'LControlModularContent',
  components: {
    ...WrapperComponents,
    ...FormComponents,
    Heading,
  },
  setup(_props, setupContext) {
    const { app } = useContext()

    // manage feature flags
    const useHideLTimizerFlag = ref(false)
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const stateFeatureFlags = {
      useHideLTimizerFlag,
    }
    // end

    // manage store
    // *for applications store
    const { alert } = useState<RootStateApplications>('applications', ['alert'])
    const { RESET_ALERT: doResetAlert, SET_ALERT: doSetAlert } =
      useMutations<MutationsApplications>('applications', [
        'RESET_ALERT',
        'SET_ALERT',
      ])
    // *for filter store
    const {
      zones,
      ports,
      serviceTypes: stateServiceTypes,
    } = useState<StateFilters>('filters', ['zones', 'ports', 'serviceTypes'])
    const {
      getServiceTypes: getServiceTypesAPI,
      getPorts: getPortsAPI,
      getZones: getZonesAPI,
    } = useActions<ActionsFilters>('filters', [
      'getServiceTypes',
      'getPorts',
      'getZones',
    ])
    // *for marketplace(partners) store
    const {
      getMarketplacesConnected: getMarketplacesConnectedAPI,
      getMarketplaces: getMarketplacesAPI,
    } = useActions<ActionsMarketplaces>('marketplaces/marketplaces', [
      'getMarketplacesConnected',
      'getMarketplaces',
    ])
    // *for l-control
    const { lControls, bobModular } = useState<StateLControls>('lControls', [
      'lControls',
      'bobModular',
    ])
    const {
      updateLControl: updateLControlAPI,
      addBOB: addBOBAPI,
      deleteBOB: deleteBOBAPI,
      getAllLControl: getAllLControlAPI,
      doGetBobModular: doGetBobModularAPI,
      doPostBobModular: doPostBobModularAPI,
      doDeleteBobModular: doDeleteBobModularAPI,
    } = useActions<ActionsLControls>('lControls', [
      'updateLControl',
      'addBOB',
      'deleteBOB',
      'getAllLControl',
      'doGetBobModular',
      'doPostBobModular',
      'doDeleteBobModular',
    ])
    const stateStore = { zones, alert, ports }
    // end

    const isLoading = computed(() => $fetchState.pending || false)
    const userSelected = ref<UserSelectedLControl>({
      useBOB: false,
      useBOBModular: {} as LTimizer,
      country: {} as CountryCode,
      serviceType: {} as ServiceType,
      zone: {} as ZoneData,
      port: {} as PortData,
      defaultPartner: { ...initPartnerID },
      codPartner: { ...initPartnerID },
      primary: { ...initVolume },
      secondary: { ...initVolume },
      tertiary: { ...initVolume },
    })
    const resetUserSelected = {
      serviceType: () => (userSelected.value.serviceType = {} as ServiceType),
      zone: () => (userSelected.value.zone = {} as ZoneData),
      port: () => (userSelected.value.port = {} as PortData),
      form: () =>
        (userSelected.value = {
          ...userSelected.value,
          defaultPartner: { ...initPartnerID },
          codPartner: { ...initPartnerID },
          primary: { ...initVolume },
          secondary: { ...initVolume },
          tertiary: { ...initVolume },
        }),
      cod: () =>
        (userSelected.value = {
          ...userSelected.value,
          codPartner: { ...initPartnerID },
        }),
      networkPartner: (index: number) => {
        if (index === -1) return

        if (index === 0) {
          userSelected.value = {
            ...userSelected.value,
            primary: { ...initVolume },
          }
        } else if (index === 1) {
          userSelected.value = {
            ...userSelected.value,
            secondary: { ...initVolume },
          }
        } else if (index === 2) {
          userSelected.value = {
            ...userSelected.value,
            tertiary: { ...initVolume },
          }
        }
      },
    }
    const serviceTypesFormatted = ref([]) as Ref<ServiceType[]>
    const getSelectedZonePortName = computed(() => {
      const portName = userSelected.value?.port?.name || ''
      const zoneName = userSelected.value?.zone?.zoneName || ''

      return isOnServiceType.value.customs ? portName : zoneName
    })
    // will contain the ports data on customs service type, else are the zones data
    const showPortsOrZones = ref([]) as unknown as Ref<ZoneData[] | PortData[]>
    // checking state for user selection service type
    const isOnServiceType = computed(() => ({
      customs: userSelected.value.serviceType.name === 'CUSTOMS',
      lastMile: userSelected.value.serviceType.name === 'LAST_MILE',
      domestic: userSelected.value.serviceType.name === 'DOMESTIC',
      freight: userSelected.value.serviceType.name === 'FREIGHT_FORWARDER',
    })) as ComputedRef<IsOnServiceType>
    const isUsingBob = computed(() => {
      const {
        useBOB,
        useBOBModular: {
          CUSTOMS,
          DOMESTIC,
          FIRST_MILE,
          FREIGHT_FORWARDER,
          LAST_MILE,
        },
      } = userSelected.value

      return {
        general: useBOB,
        modular:
          CUSTOMS || DOMESTIC || FIRST_MILE || FREIGHT_FORWARDER || LAST_MILE,
      }
    }) as ComputedRef<isUsingBob>
    const isSaveButtonDisabled = computed(
      () => isLoading.value || !userSelected.value.defaultPartner.partnerID
    )
    const handleSelections = {
      // function for handle user country selection
      country: async ({
        data,
        options = {
          useLoading: true,
        },
      }: {
        data: CountryCode
        options?: { useLoading?: boolean }
      }) => {
        // set country data based on user selected and reset service type, port, zone and form
        userSelected.value.country = data
        resetUserSelected.serviceType()
        resetUserSelected.zone()
        resetUserSelected.port()
        resetUserSelected.form()
        resetBreadcrumbs()
        // define the promise data
        const promiseItems = [
          // fetch service type, l-control data, and bob modular
          await fetchServices(),
        ]
        if (!useHideLTimizerFlag.value) {
          promiseItems.push(
            await doGetBobModular({
              country: data.value,
            })
          )
        }

        // define the fetch engine
        const countrySelectionFn = async () => {
          await Promise.allSettled(promiseItems)
        }
        const fetchOptions = {
          customLoadingFn: toggleLoading,
        }

        if (options?.useLoading) {
          await useFetchEngine(setupContext, countrySelectionFn, fetchOptions)
          return
        }
        await countrySelectionFn()
      },
      // function for handle user service selection
      service: async ({
        data,
        options = {
          useLoading: true,
        },
      }: {
        data: ServiceType
        options?: { useLoading?: boolean }
      }) => {
        // set service type data based on user selected and reset zone, port, and form
        userSelected.value.serviceType = data
        resetUserSelected.zone()
        resetUserSelected.port()
        resetUserSelected.form()
        resetBreadcrumbs()

        // define the fetch engine
        const serviceSelectionFn = async () => {
          // check is bob modular was use or not
          if (!useHideLTimizerFlag.value) {
            await doGetBobModular({
              country: userSelected.value.country.value,
            })

            if (userSelected.value.useBOBModular[data.name as keyof LTimizer]) {
              return
            }
          }

          // for customs will fetch ports, else will fetch zones
          /**
           * freight forwarder - no fetch any data;
           * customs - fetch the ports;
           * domestic - fetch the pickup origin zones;
           * first mile & last mile - fetch the zones.
           */
          if (data.name === 'FREIGHT_FORWARDER') {
            return
          } else if (data.name === 'CUSTOMS') {
            portsMeta.value = {
              page: 1,
              itemsPerPage: 10,
            }
            await getPorts(portsMeta.value)
            showPortsOrZones.value = ports.value.data || []
          } else {
            // fetch the zones
            await fetchZones({
              country: userSelected.value.country.value,
              isPickupOrigin: data.name === 'DOMESTIC',
            })
            showPortsOrZones.value = zones.value as unknown as PortData[]
          }

          // fetch partners connected and l-control data
          await fetchMarketplace({
            country: userSelected.value.country.value,
            service: userSelected.value.serviceType.name,
            isConnected: true,
          })
        }
        const successSubmissionFn = async () => {
          await getLControl({
            country: userSelected.value.country.value,
            serviceType: data.name,
          })
        }
        const fetchOptions: FetchEngineOptions = {
          customLoadingFn: toggleLoading,
          successSubmissionFn,
        }

        if (options?.useLoading) {
          await useFetchEngine(setupContext, serviceSelectionFn, fetchOptions)
          return
        }
        await Promise.allSettled([serviceSelectionFn(), successSubmissionFn()])
      },
      // function for handle user zone selection
      zone: async ({ data }: { data: ZoneData | PortData }) => {
        // set the text breadcrumbs
        breadcrumbs.value = [
          ...breadcrumbs.value,
          {
            text: isOnServiceType.value.customs
              ? (data as PortData).name
              : (data as ZoneData).zoneName,
            disabled: false,
          },
        ]
        // for customs will set to port data, else will set zone data
        if (isOnServiceType.value.customs) {
          userSelected.value.port = data as PortData
        } else {
          userSelected.value.zone = data as ZoneData
        }
        const { lastMile, domestic } = isOnServiceType.value
        const { country, serviceType, zone, port } = userSelected.value
        const serviceZoneType = domestic ? 'pickup' : ''
        const promiseItems = [
          // fetch partners connected
          await fetchMarketplace({
            country: country.value,
            service: serviceType.name,
            zone: zone.id,
            port: port.id,
            isConnected: true,
            serviceZoneType,
          }),
        ]
        // fetch cod availability partners connected for last mile & domestic
        if (lastMile || domestic) {
          promiseItems.push(
            await fetchMarketplace({
              country: country.value,
              service: serviceType.name,
              zone: zone.id,
              isCOD: true,
              isConnected: true,
              serviceZoneType,
            })
          )
        }

        // define the fetch engine
        const zoneSelectionFn = async () => {
          await Promise.allSettled(promiseItems)
        }
        const successSubmissionFn = async () => {
          await getLControl({
            country: userSelected.value.country.value,
            serviceType: userSelected.value.serviceType.name,
            isForZone: true,
          })
        }
        const options: FetchEngineOptions = {
          customLoadingFn: toggleLoading,
          successSubmissionFn,
        }
        await useFetchEngine(setupContext, zoneSelectionFn, options)
      },
    }
    const handleBackToZoneSelection = () => {
      handleSelections.service({ data: userSelected.value.serviceType })
    }
    const handleSubmit = async () => {
      const countryName = `${
        userSelected.value.country.name.charAt(0) +
        userSelected.value.country.name.slice(1).toLowerCase()
      }`
      const { customs } = isOnServiceType.value
      const {
        country,
        serviceType,
        zone,
        port,
        defaultPartner,
        codPartner,
        primary,
        secondary,
        tertiary,
      } = userSelected.value
      // set data before hit endpoint
      const data = {
        country: country.value,
        serviceType: serviceType.name,
        zoneID: !customs ? zone.id : '',
        portID: customs ? port.id : '',
        defaultPartner: {
          partnerID: defaultPartner.partnerID || null,
        },
        codPartner: {
          partnerID: codPartner.partnerID || null,
        },
        primaryPartner: {
          partnerID: primary.partnerID || null,
          volume: primary.volume ? primary.volume?.toString() : null,
        },
        secondaryPartner: {
          partnerID: secondary.partnerID || null,
          volume: secondary.volume ? secondary.volume?.toString() : null,
        },
        tertiaryPartner: {
          partnerID: tertiary.partnerID || null,
          volume: tertiary.volume ? tertiary.volume.toString() : null,
        },
      }

      // define the fetch engine
      const optionsMessages = {
        success: `Successfully to updated L-Control rules for ${countryName}!`,
        failed: `Failed to updated L-Control rules for ${countryName}!`,
      }
      const handleSubmissionFn = async () => {
        await updateLControlAPI(data)
      }
      const successSubmissionFn = async () => {
        await getLControl({
          country: userSelected.value.country.value,
          serviceType: userSelected.value.serviceType.name,
          isForZone: true,
        })
      }
      const options: FetchEngineOptions = {
        customLoadingFn: toggleLoading,
        messages: optionsMessages,
        successSubmissionFn,
      }

      await useFetchEngine(setupContext, handleSubmissionFn, options)
    }
    const stateOther = {
      isLoading,
      userSelected,
      serviceTypesFormatted,
      getSelectedZonePortName,
      showPortsOrZones,
      isOnServiceType,
      isSaveButtonDisabled,
      isUsingBob,
      handleSelections,
      handleBackToZoneSelection,
      handleSubmit,
    }

    // manage bob
    const handleBob = async (value: boolean) => {
      resetUserSelected.serviceType()
      resetUserSelected.port()
      resetUserSelected.zone()
      resetUserSelected.form()

      // define fetch engine
      const actionMessage = value ? 'used' : 'unused'
      const optionsMessages = {
        success: `Successfully to ${actionMessage} the BOB!`,
        failed: `Failed to ${actionMessage} the BOB!`,
      }
      const handleSubmissionFn = async () => {
        if (value) {
          // use bob
          await addBOBAPI(userSelected.value.country.value)
        } else {
          // delete bob
          await deleteBOBAPI(userSelected.value.country.value)
        }
      }
      const finalSubmissionFn = async () => {
        await handleSelections.country({
          data: userSelected.value.country,
          options: { useLoading: false },
        })
      }
      const options: FetchEngineOptions = {
        customLoadingFn: toggleLoading,
        messages: optionsMessages,
        finalSubmissionFn,
      }
      await useFetchEngine(setupContext, handleSubmissionFn, options)
    }
    const doGetBobModular = async ({ country }: { country: string }) => {
      await doGetBobModularAPI({
        country,
      })
      userSelected.value.useBOBModular = { ...bobModular.value }
    }
    const doHandleBobModular = async ({
      value,
      serviceType,
    }: {
      value: boolean
      serviceType: ServiceType
    }) => {
      // reset UI for zone wrapper
      resetUserSelected.port()
      resetUserSelected.zone()
      resetUserSelected.form()

      // handle default message
      const { value: country, name } = userSelected.value.country
      const messageServiceType = app.$customUtils.setServiceType(
        serviceType.name.toLowerCase()
      )
      const messageCountry = name.toLowerCase()
      const actionMessage = value ? 'used' : 'unused'
      const optionsMessages = {
        success: `Successfully to ${actionMessage} BOB for ${messageServiceType} in ${messageCountry}!`,
        failed: `Failed to ${actionMessage} BOB for ${messageServiceType} in ${messageCountry}!`,
      }
      // define the fetch engine
      const handleSubmissionFn = async () => {
        if (value) {
          // use bob
          await doPostBobModularAPI({
            country,
            serviceType: serviceType.name,
          })
        } else {
          // delete bob
          await doDeleteBobModularAPI({
            country,
            serviceType: serviceType.name,
          })
        }
      }
      const failedSubmissionFn = (errors: string | string[]) => {
        const messages =
          typeof errors === 'object' && errors?.length
            ? errors.map((error) => {
                if (!error.includes('Default partner')) return error

                return `There is no default partner for ${messageServiceType} in ${messageCountry}!`
              })
            : optionsMessages.failed
        doSetAlert({
          isShow: true,
          type: 'error',
          message: messages,
        })
      }
      const finalSubmissionFn = async () => {
        await handleSelections.service({
          data: serviceType,
          options: { useLoading: false },
        })
      }
      const options: FetchEngineOptions = {
        customLoadingFn: toggleLoading,
        messages: optionsMessages,
        failedSubmissionFn,
        finalSubmissionFn,
      }
      await useFetchEngine(setupContext, handleSubmissionFn, options)
    }
    const stateBOB = { handleBob, doHandleBobModular }
    // end

    // manage breadcrumbs - start
    const breadcrumbs = ref([...initBreadcrumbs]) as Ref<
      { text?: string; disabled: boolean; first?: boolean; href?: string }[]
    >
    const resetBreadcrumbs = () => {
      const { useBOBModular, serviceType } = userSelected.value
      const { customs, freight, domestic } = isOnServiceType.value
      const text =
        !useHideLTimizerFlag.value &&
        useBOBModular[serviceType.name as keyof LTimizer] // using bob
          ? 'BOB (soon to be removed by 15 May 2023)'
          : customs // on managing the customs
          ? 'PORT'
          : freight // on managing the freight
          ? 'FREIGHT ALLOCATION RULES'
          : domestic // on managing the domestic
          ? 'ORIGIN ZONE'
          : 'ZONE'

      breadcrumbs.value = [
        {
          text,
          disabled: false,
          first: true,
        },
      ]
    }
    // manage breadcrumbs - end

    // manage modal
    const dialog = ref({
      isOpen: false,
      deleteOn: '',
      indexNetworkPartner: -1,
    })
    const dialogSettings = ref({
      loading: false,
      title: 'Are you sure to delete this ?',
      content: 'The data will be deleted permanently!',
      cancelText: 'Cancel',
      submitText: 'Delete',
      submitColor: 'secondary white--text',
    }) as Ref<ModalConfirm>
    const handleDeleteForm = (deleteOn: string, indexNetworkPartner = -1) => {
      dialogSettings.value.loading = true
      dialog.value = {
        isOpen: true,
        deleteOn,
        indexNetworkPartner,
      }

      setTimeout(() => {
        dialogSettings.value.loading = false
      }, 1500)
    }
    const handleDeleteModal = async () => {
      if (!dialog.value.deleteOn) return

      switch (dialog.value.deleteOn) {
        case 'cod':
          resetUserSelected.cod()
          break
        case 'networkPartner':
          resetUserSelected.networkPartner(dialog.value.indexNetworkPartner)
          break
      }
      try {
        dialogSettings.value.loading = true
        await handleSubmit()
      } finally {
        setTimeout(() => {
          $fetchState.pending = false
          dialogSettings.value.loading = false
          dialog.value = {
            isOpen: false,
            deleteOn: '',
            indexNetworkPartner: -1,
          }
        }, 500)
      }
    }
    const stateModal = {
      dialog,
      dialogSettings,
      handleDeleteForm,
      handleDeleteModal,
    }
    // end

    // manage fetch
    const getLControl = async ({
      country,
      serviceType,
      isForZone = false,
    }: {
      country: string
      serviceType: string
      isForZone?: boolean
    }) => {
      await getAllLControlAPI({
        country,
        serviceType,
      })
      const lControlDetail = lControls.value.find((lcontrol) =>
        isOnServiceType.value.customs
          ? lcontrol.portID === userSelected.value.port.id
          : lcontrol.zoneID === userSelected.value.zone.id
      )

      // is useBOB
      userSelected.value.useBOB =
        !useHideLTimizerFlag.value && lControls.value.length
          ? lControls.value.find(
              (item) => item.serviceType === userSelected.value.serviceType.name
            )?.useBOB || false
          : false

      if (!lControls.value.length && lControlDetail && !isForZone) return

      // set a user selected data based on l-control detail for the selected zone
      userSelected.value = {
        ...userSelected.value,
        defaultPartner: {
          partnerID: lControlDetail?.defaultPartner?.partnerID || '',
        },
        codPartner: {
          partnerID: lControlDetail?.codPartner?.partnerID || '',
        },
        primary: {
          partnerID: lControlDetail?.primaryPartner?.partnerID || '',
          volume: lControlDetail?.primaryPartner?.volume || 0,
        },
        secondary: {
          partnerID: lControlDetail?.secondaryPartner?.partnerID || '',
          volume: lControlDetail?.secondaryPartner?.volume || 0,
        },
        tertiary: {
          partnerID: lControlDetail?.tertiaryPartner?.partnerID || '',
          volume: lControlDetail?.tertiaryPartner?.volume || 0,
        },
      }
      resetBreadcrumbs()
    }
    const fetchServices = async () => {
      // eslint-disable-next-line @typescript-eslint/no-unused-vars
      const [_serviceTypesAPIRes, serviceFlagsRes] = await Promise.allSettled([
        getServiceTypesAPI() as unknown as ServiceType[],
        getFeatureFlags(
          'service-types-available-lcontrol'
        ) as unknown as LControlFeatureFlags,
      ])

      // define the service types data
      let services: ServiceType[] = []
      if (serviceFlagsRes.status === 'fulfilled') {
        const { serviceTypes } = serviceFlagsRes.value
        services =
          serviceTypes && !!serviceTypes?.length
            ? stateServiceTypes.value.filter((service) =>
                serviceTypes.includes(service.name)
              )
            : []
      }
      serviceTypesFormatted.value = services
    }
    const portsMeta = ref({
      page: 1,
      itemsPerPage: 10,
    }) as Ref<Pagination>
    const getPorts = async (params: Pagination) => {
      const { page, itemsPerPage: perPage } = params
      await getPortsAPI({
        params: {
          page,
          perPage,
        },
        country: userSelected.value.country.value,
      })
    }
    const fetchZones = async ({
      country,
      isPickupOrigin = false,
    }: {
      country: string
      isPickupOrigin?: boolean
    }) => {
      let paramsPayload = {
        country,
      } as GetZonesPayload

      if (isPickupOrigin) {
        paramsPayload = {
          ...paramsPayload,
          is_pickup_origin: isPickupOrigin,
        }
      }

      await getZonesAPI({
        params: paramsPayload,
      })
    }
    const fetchMarketplace = async (params: {
      country?: string
      service?: string
      zone?: string
      port?: string
      isLControl?: Boolean
      isCOD?: Boolean
      isConnected?: Boolean
      serviceZoneType?: 'pickup' | 'dropoff' | ''
    }) => {
      const {
        country,
        service,
        serviceZoneType,
        zone,
        isLControl,
        isCOD,
        port,
      } = params
      const formattedParams = {
        page: 1,
        perPage: 100,
        country,
        service: service ? [service] : [],
        zone,
        port,
        service_zone_type: serviceZoneType,
      } as ParamsGetMarketplace
      const paramsPayload = {
        params: formattedParams,
        isLControl,
        isCOD,
      }

      if (params.isConnected) {
        await getMarketplacesConnectedAPI(paramsPayload)
      } else {
        await getMarketplacesAPI(paramsPayload)
      }
    }
    const toggleLoading = () => {
      $fetchState.pending = !$fetchState.pending
    }
    const { $fetchState } = useFetch(async () => {
      // get the l-timizer flags
      useHideLTimizerFlag.value = await getFeatureFlags(
        'com-323-fe-hide-ltimizer-button'
      )

      setTimeout(() => {
        doResetAlert()
      }, 3000)
    })
    const stateFetch = { getLControl, portsMeta, getPorts }
    // end

    return {
      ...stateFeatureFlags,
      ...stateStore,
      ...stateBOB,
      ...stateFetch,
      ...stateModal,
      ...stateOther,
      breadcrumbs,
    }
  },
})
</script>
