<template>
  <div class="service-wrapper-content service-color scroller blue-scroller">
    <template v-if="isExistServiceTypes">
      <v-list-item
        v-for="(service, serviceIndex) in serviceTypesFormatted"
        :key="serviceIndex"
        :disabled="isLoading"
        two-line
      >
        <v-list-item-content
          style="cursor: pointer"
          @click="$emit('handleServiceSelections', { data: service })"
        >
          <v-list-item-title
            :class="`subtitle-1 font-weight-medium mb-2 ${
              userSelected.serviceType.name === service.name ? 'red-color' : ''
            }`"
          >
            {{ formatServiceName(service.name) }}
          </v-list-item-title>

          <v-list-item-subtitle
            class="subtitle-2 text--disabled"
            style="white-space: normal !important"
          >
            {{ setSubHeader(service.name) }}
          </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action v-if="!featureFlags.useHideLTimizerFlag">
          <v-switch
            v-model="userSelected.useBOBModular[service.name]"
            :disabled="isLoading"
            color="primary"
            @change="
              (value) =>
                $emit('doHandleBobModular', {
                  value,
                  serviceType: service,
                })
            "
          />
        </v-list-item-action>
      </v-list-item>
    </template>

    <!-- BOB MODULAR -->
    <!-- <BOB
      v-if="userSelected"
      v-model="userSelected"
      :loading="loading"
      @handleBob="(value) => $emit('handleBob', value)"
    /> -->
    <!-- END USING BOB MODULAR -->
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  PropType,
  useContext,
} from '@nuxtjs/composition-api'

// components - start
// import BOB from '~/components/lcontrol/BOB.vue'
// components - end

// types - start
import { ServiceType } from '~/types/filters'
import { UserSelectedLControl } from '~/types/lControl'
// types - end

export default defineComponent({
  name: 'ServiceWrapper',
  // components: {
  //   BOB,
  // },
  props: {
    value: {
      type: Object as PropType<UserSelectedLControl>,
      required: true,
    },
    isLoading: {
      type: Boolean,
      default: false,
    },
    featureFlags: {
      type: Object as PropType<{ useHideLTimizerFlag: boolean }>,
      default: () => ({ useHideLTimizerFlag: false }),
    },
    serviceTypes: {
      type: Array as PropType<ServiceType[]>,
      required: true,
    },
  },
  setup(props, { emit }) {
    const { $customUtils } = useContext()

    const userSelected = computed({
      get: () => props.value,
      set: (value) => emit('input', value),
    })
    const serviceTypesFormatted = computed(() => {
      const services = props.serviceTypes

      if (!services || services.length === 0) return []

      const moveItem = (from: number, to: number, data: any) => {
        // remove `from` item and store it
        const fromItem = data.splice(from, 1)[0]
        // insert stored item into position `to`
        data.splice(to, 0, fromItem)
      }
      const serviceFM = services.findIndex(
        (service: ServiceType) => service.name === 'FIRST_MILE'
      )
      const serviceCC = services.findIndex(
        (service: ServiceType) => service.name === 'CUSTOMS'
      )

      moveItem(serviceFM, 0, services)
      moveItem(serviceCC, 1, services)

      return services
    })
    const isExistServiceTypes = computed(
      () =>
        !!serviceTypesFormatted.value.length &&
        !!userSelected.value.country.value
    )
    const setSubHeader = (data: string) => {
      switch (data) {
        case 'FIRST_MILE':
          return 'Origin Pick Up'
        case 'CUSTOMS':
          return 'Import Customs at Destination'
        case 'LAST_MILE':
          return 'Destination Delivery'
        case 'DOMESTIC':
          return 'Local Pick Up to Local Delivery'
        case 'FREIGHT_FORWARDER':
          return 'Freight'
        default:
          return ''
      }
    }
    const formatServiceName = (name: string) => {
      return $customUtils.setServiceType(name)
    }

    return {
      serviceTypesFormatted,
      isExistServiceTypes,
      userSelected,
      setSubHeader,
      formatServiceName,
    }
  },
})
</script>
