<template>
  <div :class="`zone-text`">
    <template v-if="showPortsOrZones && userSelected.serviceType.name">
      <template v-for="(portsOrZones, indexPortsOrZones) in showPortsOrZones">
        <v-hover v-slot="{ hover }" :key="indexPortsOrZones" open-delay="50">
          <div
            :key="indexPortsOrZones"
            :class="`text`"
            :style="`${
              !userSelected.serviceType.name ? 'visibility: hidden;' : ''
            } ${hover && !loading ? 'background: #edf5ff73;' : ''}`"
          >
            <div class="d-flex align-baseline justify-space-between">
              <span class="font-weight-medium" style="max-width: 40%">
                {{ computeName(portsOrZones) }}
              </span>

              <div style="max-width: 40%" class="d-flex align-center">
                <span
                  style="
                    font-size: 15px;
                    line-height: 18px;
                    color: #575757;
                    max-width: 80%;
                  "
                  class="d-inline-block text-truncate text--secondary"
                  :title="isRulesExist(portsOrZones, 'partnerName')"
                >
                  {{ isRulesExist(portsOrZones, 'partnerName') }}
                </span>

                <v-btn
                  color="primary darken-1 white--text ml-6"
                  :disabled="loading"
                  @click="$emit('handleZoneSelection', { data: portsOrZones })"
                >
                  {{ isRulesExist(portsOrZones, 'button') }}
                </v-btn>
              </div>
            </div>
          </div>
        </v-hover>
      </template>

      <!-- handle intersect for port -->
      <template v-if="isOnServiceType.customs">
        <div v-if="loading" class="d-flex justify-center">
          <v-progress-circular indeterminate color="primary" />
        </div>

        <div v-else v-intersect="portIntersect" />
      </template>
    </template>
  </div>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  PropType,
  useStore,
} from '@nuxtjs/composition-api'
import { PortData, ZoneData } from '~/types/filters'
// types
import { UserSelectedLControl, VuexModuleLControls } from '~/types/lControl'
import { IsOnServiceType } from '~/components/lcontrol/modular/ModularContent.vue'
import { Pagination } from '~/types/applications'
import { VuexModuleMarketplaces } from '~/types/marketplace/marketplace'

export default defineComponent({
  props: {
    userSelected: {
      type: Object as PropType<UserSelectedLControl>,
      required: true,
    },
    showPortsOrZones: {
      type: Array as PropType<ZoneData[] | PortData[]>,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    isOnServiceType: {
      type: Object as PropType<IsOnServiceType>,
      required: true,
    },
    portsMeta: {
      type: Object as PropType<Pagination>,
      required: true,
    },
  },
  setup(props, { emit }) {
    // manage store
    const storeOfLControls = useStore<VuexModuleLControls>()
    const storeMarketplaces = useStore<VuexModuleMarketplaces>()
    const lControlList = computed(
      () => storeOfLControls.state.lControls.lControls
    )
    const partnersConnected = computed(
      () =>
        storeMarketplaces.state.marketplaces.marketplaces.marketplacesConnected
    )
    const stateStore = { lControlList, partnersConnected }
    // end manage store

    const computeName = (portsOrZones: ZoneData | PortData) => {
      return props.isOnServiceType.customs
        ? (portsOrZones as PortData).name
        : (portsOrZones as ZoneData).zoneName
    }
    const stateOther = { computeName }

    const isRulesExist = (data: ZoneData | PortData, checkOn: string) => {
      const lControlDetail = lControlList.value.find((lcontrol) =>
        props.isOnServiceType.customs
          ? lcontrol.portID === data.id
          : lcontrol.zoneID === data.id
      )

      if (!lControlDetail && checkOn === 'button') return 'SETUP'
      if (!lControlDetail && checkOn === 'partnerName')
        return 'Waiting for Setup'

      const partnerDetail = partnersConnected.value.find(
        (partner) => partner.id === lControlDetail?.defaultPartner?.partnerID
      )?.name

      return checkOn === 'partnerName' ? partnerDetail : 'UPDATE'
    }
    const portIntersect = async (
      _entries: IntersectionObserverEntry[],
      _observer: IntersectionObserver,
      isIntersecting: boolean
    ) => {
      if (
        !isIntersecting ||
        props.portsMeta.itemsPerPage >= props.showPortsOrZones.length
      ) {
        return
      }

      emit('changePortsMeta', {
        page: 1,
        itemsPerPage: props.portsMeta.itemsPerPage + 10,
      })
      await emit('getPorts')
    }
    const functionOther = { isRulesExist, portIntersect }

    return {
      ...stateStore,
      ...stateOther,
      ...functionOther,
    }
  },
})
</script>
