<template>
  <div :class="`zone-wrapper-content scroller ${computedClassIsUsingBob()}`">
    <RuleFreightWrapper
      v-if="userSelected.serviceType.name === 'FREIGHT_FORWARDER'"
    />

    <ZonesSelectionList
      v-else-if="isShowZoneList()"
      :user-selected="userSelected"
      :show-ports-or-zones="showPortsOrZones"
      :ports-meta="portsMeta"
      :loading="loading"
      :is-on-service-type="isOnServiceType"
      @changePortsMeta="(value) => $emit('changePortsMeta', value)"
      @getPorts="$emit('getPorts')"
      @handleZoneSelection="(value) => $emit('handleZoneSelection', value)"
    />

    <BOBContent v-else-if="isShowBobContent()" />

    <template v-else>
      <slot name="form" />
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'

// components
import ZonesSelectionList from '~/components/lcontrol/modular/ZonesSelectionList.vue'
import BOBContent from '~/components/lcontrol/BOBContent.vue'
import RuleFreightWrapper from '~/components/lcontrol/modular/freight/RuleFreightWrapper.vue'
// end components
// types
import {
  IsOnServiceType,
  isUsingBob,
} from '~/components/lcontrol/modular/ModularContent.vue'
import { Pagination } from '~/types/applications'
import { LTimizer, UserSelectedLControl } from '~/types/lControl'
import { PortData, ZoneData } from '~/types/filters'
// end types

export default defineComponent({
  name: 'ZoneWrapper',
  components: {
    ZonesSelectionList,
    BOBContent,
    RuleFreightWrapper,
  },
  props: {
    userSelected: {
      type: Object as PropType<UserSelectedLControl>,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
    isOnServiceType: {
      type: Object as PropType<IsOnServiceType>,
      required: true,
    },
    portsMeta: {
      type: Object as PropType<Pagination>,
      required: true,
    },
    showPortsOrZones: {
      type: Array as PropType<ZoneData[] | PortData[]>,
      required: true,
    },
    isUsingBob: {
      type: Object as PropType<isUsingBob>,
      required: true,
    },
  },
  setup(props) {
    const computedClassIsUsingBob = () => {
      const { general } = props.isUsingBob
      const { useBOBModular, serviceType } = props.userSelected

      return general || useBOBModular[serviceType.name as keyof LTimizer]
        ? 'd-flex align-center justify-center'
        : ''
    }
    const isShowZoneList = () => {
      const { general } = props.isUsingBob
      const { zone, port, useBOBModular, serviceType } = props.userSelected

      return (
        !zone.zoneName &&
        !port.name &&
        !general &&
        !useBOBModular[serviceType.name as keyof LTimizer]
      )
    }

    const isShowBobContent = () => {
      const { general } = props.isUsingBob
      const { useBOBModular, serviceType } = props.userSelected

      return general || useBOBModular[serviceType.name as keyof LTimizer]
    }

    return {
      computedClassIsUsingBob,
      isShowZoneList,
      isShowBobContent,
    }
  },
})
</script>
