<template>
  <section class="pa-4 pa-md-10 py-8">
    <BaseHeadlinePage
      title="Manage Customers"
      subtitle="View the customers or manage the users."
    >
      <template #addition>
        <span class="text--secondary font-weight-medium title">
          &bull; {{ totalItems }} Total Customers
        </span>
      </template>
    </BaseHeadlinePage>

    <v-row align-content="end" justify="space-between">
      <v-col cols="12" md="auto">
        <v-btn
          :block="$vuetify.breakpoint.mobile"
          outlined
          color="primary"
          @click="toggleModalForm"
        >
          Add Customer
        </v-btn>
      </v-col>

      <v-col v-if="useOrderCodePrefixed" cols="12" md="auto">
        <v-switch
          v-model="isOrderCodePrefixed"
          :disabled="isLoading"
          color="primary"
          class="ma-0"
          hide-details
          false-value="DISABLED"
          true-value="DEFAULT"
          @change="doToggleOrderCodePrefixed"
        >
          <template #label>
            <div class="d-flex align-center">
              <span class="subtitle-2 mr-1">Use Order Code Format</span>

              <v-tooltip top color="primary" max-width="300px">
                <template #activator="{ on, attrs }">
                  <v-btn color="primary" icon v-bind="attrs" x-small v-on="on">
                    <v-icon>mdi-help-circle-outline</v-icon>
                  </v-btn>
                </template>

                <span class="d-block caption">
                  <span class="d-block">
                    If this is enabled, all order codes will use this order code
                    format:
                  </span>

                  <span class="d-block font-weight-medium">
                    CLI|CUS|ORG|DDMMYYXXXXXXXX|DES
                  </span>
                </span>
              </v-tooltip>
            </div>
          </template>
        </v-switch>
      </v-col>
    </v-row>

    <v-row align="center">
      <v-col cols="12">
        <BaseTable
          v-model="selectedCustomers"
          item-key="id"
          loading-text="Getting customers data..."
          :items="customers"
          :headers="headers"
          :options="pagination"
          :loading="isLoading"
          :action-exist="actionExist"
          @fetch="fetchCustomers"
        />
      </v-col>
    </v-row>

    <!-- Pagination universal (customer and batch view) -->
    <BasePagination
      v-if="customers && customers.length"
      v-model="pagination"
      :meta="meta"
      :loading="isLoading"
      @resetPage="pagination.page = 1"
    />

    <!-- Modal form -->
    <BaseModalForm
      v-model="dialog.form"
      :dialog-settings="dialogSettings"
      @doSubmit="doSubmitCustomer"
      @doClose="doResetModal"
    >
      <template #modalFields>
        <CustomerForm
          v-if="dialogSettings.type === 'add'"
          v-model="form"
          :action="dialogSettings.type"
        />
      </template>
    </BaseModalForm>

    <Notifications />
  </section>
</template>

<script lang="ts">
import {
  defineComponent,
  useFetch,
  useMeta,
  useStore,
  computed,
  ref,
  Ref,
  watch,
  useRoute,
  useContext,
} from '@nuxtjs/composition-api'
import { useActions, useState } from 'vuex-composition-helpers'
import { useFetchEngine } from '~/composables/base/fetch-engine'

// components - start
import CustomerForm from '@/components/customers/CustomerForm.vue'
import Notifications from '@/components/base/NotificationFloating.vue'
// components - end

// store - start
import { useCustomersStore } from '~/store/customers/account-pinia'
// store - end

// types - start
import {
  type ActionsApplications, initDialogSettings, initModalType,
  type RootStateApplications,
} from '~/store/applications'
import type {
  Pagination,
  VuexModuleApplications,
  ModalConfirm,
  Header,
} from '~/types/applications'
import type {
  VuexModuleCustomers,
  Customer,
  CustomerOrderCodePrefixed,
} from '~/types/customers'
// types - end

// data initialization - start
const initHeaders = [
  {
    text: 'Customer Name',
    value: 'name',
    cellClass: 'text-no-wrap',
  },
  {
    text: 'Code',
    value: 'code',
    cellClass: 'text-no-wrap',
  },
  {
    text: 'Logo',
    value: 'logo',
    cellClass: 'text-no-wrap',
  },
  {
    text: '',
    value: 'actions',
    sortable: false,
    align: 'end',
  },
] as Header[]

const initForm = {
  name: '',
  logo: '',
}
// data initialization - end

export default defineComponent({
  name: 'CustomerPages',
  components: { CustomerForm, Notifications },
  setup(_props, setupContext) {
    const { app } = useContext()
    const route = useRoute()
    useMeta(() => ({ title: 'Client Portal | Manage Customers' }))

    // manage feature flags - start
    const useOrderCodePrefixed = ref(false)
    const { getFeatureFlags } = useActions<ActionsApplications>(
      'applications',
      ['getFeatureFlags']
    )
    const stateFeatureFlags = {
      useOrderCodePrefixed,
    }
    // manage feature flags - end

    // manage store - start
    const customersStorePinia = useCustomersStore()
    const { getOrderCodePrefixed, toggleOrderCodePrefixed } =
      customersStorePinia
    const { alert, suspensionAllowedActions } = useState<RootStateApplications>(
      'applications',
      ['alert', 'suspensionAllowedActions']
    )
    const storeCustomers = useStore<VuexModuleCustomers>()
    const storeApplications = useStore<VuexModuleApplications>()
    const customers = computed(() => storeCustomers.state.customers.customers)
    const meta = computed(() => storeCustomers.state.customers.meta)
    const pagination = ref({
      ...storeApplications.state.applications.pagination,
    })
    const storeState = {
      suspensionAllowedActions,
      customers,
      meta,
      pagination,
      alert,
    }
    // manage store - end

    // manage modal
    const form = ref({
      name: '',
      logo: '',
    })

    const doResetModal = () => {
      form.value = { ...initForm }
      dialogSettings.value = { ...initDialogSettings }
      storeApplications.commit('applications/RESET_ALERT')
    }
    const dialog = ref({ ...initModalType })
    const dialogSettings = ref({ ...initDialogSettings }) as Ref<ModalConfirm>
    const toggleModalForm = () => {
      try {
        dialogSettings.value.loading = true
        dialogSettings.value = {
          ...dialogSettings.value,
          title: 'Add Customer',
          type: 'add',
          content: '',
          cancelText: 'Cancel',
          submitText: 'Submit',
          submitColor: 'primary',
          disabledSubmit:
            !suspensionAllowedActions?.value?.addCustomer || false,
        }
        dialog.value.form = true

        // get the suspension features
        if (!suspensionAllowedActions?.value?.addCustomer) {
          storeApplications.commit('applications/SET_ALERT', {
            isShow: true,
            type: 'error',
            message: `Account Suspended. Please contact Luwjistik!`,
          })
        }
      } catch (error) {
        return error
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 500)
      }
    }
    const modalState = {
      form,
      dialog,
      dialogSettings,
      doResetModal,
      toggleModalForm,
    }

    // manage table
    const isLoading = computed(() => $fetchState?.pending || false)
    const totalItems = computed(() => meta.value.totalCount || 0)
    const selectedCustomers = ref([]) as Ref<Customer[]>
    const actionExist = ref({
      manageUser: true,
    })
    const headers = ref(initHeaders) as Ref<Header[]>
    const tableState = {
      isLoading,
      totalItems,
      selectedCustomers,
      actionExist,
      headers,
    }

    // manage fetch
    const fetchCustomers = async (_params: Pagination) => {
      const id = route.value.params.id
      const { page, itemsPerPage } = pagination.value
      const perPage = itemsPerPage !== -1 ? itemsPerPage : meta.value.totalCount
      const dataParams = app.$customUtils.setURLParams({
        page,
        perPage,
      })

      return await storeCustomers.dispatch('customers/getCustomers', {
        id,
        params: dataParams,
      })
    }
    const isOrderCodePrefixed = ref<CustomerOrderCodePrefixed>('DISABLED')
    const doSubmitCustomer = async () => {
      try {
        dialogSettings.value.loading = true

        const action = await storeCustomers.dispatch(
          'customers/createCustomer',
          {
            body: form.value,
          }
        )

        if (action.response) throw action.response

        await fetch()
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'success',
          message: `Successfully create user!`,
        })
        setTimeout(() => {
          dialog.value.form = false
          doResetModal()
        }, 1000)
      } catch (error) {
        storeApplications.commit('applications/SET_ALERT', {
          isShow: true,
          type: 'error',
          message: 'Failed create user!',
        })
      } finally {
        setTimeout(() => {
          dialogSettings.value.loading = false
        }, 500)
      }
    }
    const doToggleOrderCodePrefixed = async (
      value: CustomerOrderCodePrefixed
    ) => {
      const handleToggleFn = async () => {
        return await toggleOrderCodePrefixed({ path: value })
      }
      await useFetchEngine(setupContext, handleToggleFn, {
        customLoadingFn: togglePageLoading,
        messages: {
          failed: 'Failed to use order code prefixed!',
          success: 'Successfully to use order code prefixed!',
        },
        successSubmissionFn: fetch,
      })
    }
    const togglePageLoading = () => ($fetchState.pending = !$fetchState.pending)
    const { fetch, $fetchState } = useFetch(async () => {
      const [
        // eslint-disable-next-line @typescript-eslint/no-unused-vars
        _fetchCustomersRes,
        getOrderCodePrefixedRes,
        orderCodePrefixedFlag,
      ] = await Promise.allSettled([
        fetchCustomers(pagination.value),
        getOrderCodePrefixed(),
        getFeatureFlags(
          'com-491-be-custom-customer-order-code-generation-for-pos-my'
        ),
      ])

      // define the get order codes prefixed
      if (getOrderCodePrefixedRes.status === 'fulfilled') {
        isOrderCodePrefixed.value =
          getOrderCodePrefixedRes?.value?.data?.value?.orderCodeFormat ||
          'DISABLED'
      }

      // define the flags data
      if (orderCodePrefixedFlag.status === 'fulfilled') {
        useOrderCodePrefixed.value = orderCodePrefixedFlag.value
      }
    })
    const fetchFunction = {
      fetchCustomers,
      isOrderCodePrefixed,
      doSubmitCustomer,
      doToggleOrderCodePrefixed,
    }

    // manage pagination on changed
    watch(
      pagination,
      (newPagination) => {
        storeApplications.commit('applications/SET_PAGINATION', {
          ...newPagination,
        })

        fetchCustomers(pagination.value)
      },
      { deep: true }
    )

    return {
      ...stateFeatureFlags,
      ...storeState,
      ...modalState,
      ...tableState,
      ...fetchFunction,
    }
  },
  head: {},
})
</script>
